@import url("https://use.typekit.net/riz2yns.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");
.slick-arrow {
  width: 9vw;
  max-width: 50px;
  height: 9vw;
  max-height: 50px;
  display: inline-block;
  opacity: .5;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.item_next.slick-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-arrow:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

html {
  height: 100%;
}

*, body, html {
  font-family: 'Noto Serif TC', 'Apple LiGothic Medium', 'PMingLiU', 'sans-serif', 'serif';
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1.8;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  *, body, html {
    line-height: 1.5;
  }
}

@media screen and (max-width: 512px) {
  *, body, html {
    font-size: 13px;
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img, svg {
  width: 100%;
  font-size: 0;
  border: 0;
  display: block;
  vertical-align: bottom;
}

a {
  outline: none;
  text-decoration: none;
}

.for_phone {
  display: none;
}

.header {
  width: 100%;
  height: 70px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(170, 154, 111, 0.4);
          box-shadow: 0 0 10px rgba(170, 154, 111, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.header .nav {
  width: 100%;
  padding-left: 23.9583333333%;
}

.header .nav .nav_social {
  display: none;
}

.header .nav .social_link {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .nav .social_link a {
  width: 18vw;
  height: 18vw;
  max-width: 80px;
  max-height: 80px;
  border: 2px solid #aa9a6f;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header .nav {
    width: 100%;
    height: calc(100% - 70px);
    padding: 3% 0;
    background: #ffffff;
    position: fixed;
    top: -100%;
    left: 0;
    overflow-y: scroll;
    -webkit-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out;
  }
  .header .nav.active {
    top: 70px;
    -webkit-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out;
  }
  .header .nav .nav_social {
    display: block;
  }
}

.header .nav_l {
  width: 12.6736111111%;
  padding: 5px 0;
  text-align: center;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.header .nav_l .nav_i {
  padding: 0 3% 2% 3%;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  position: relative;
}

.header .nav_l .nav_i::after {
  content: '';
  width: 0%;
  height: 1px;
  background: #aa9a6f;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

@media screen and (max-width: 768px) {
  .header .nav_l .nav_i {
    width: 100%;
    padding: 0 5%;
    letter-spacing: 5px;
    display: block;
  }
  .header .nav_l .nav_i span {
    padding-left: 0.5em;
    color: #aa9a6f;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.9em;
  }
}

.header .nav_l > a:hover::after {
  width: 100%;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.header .nav_l:hover .panel {
  display: block;
}

@media screen and (max-width: 768px) {
  .header .nav_l {
    width: 94%;
    padding: 2.5% 0;
    margin: 0 auto;
    text-align: left;
    display: block;
  }
  .header .nav_l:not(:last-child) {
    border-bottom: 1px solid #aa9a6f;
  }
  .header .nav_l a.nav_i::after {
    display: none;
  }
  .header .nav_l span.nav_i::before {
    content: '';
    width: 15px;
    height: 2px;
    background: #aa9a6f;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .header .nav_l span.nav_i::after {
    content: '';
    width: 15px;
    height: 2px;
    background: #aa9a6f;
    position: absolute;
    left: auto;
    right: 12px;
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(-90deg);
            transform: translate(0, -50%) rotate(-90deg);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }
  .header .nav_l span.nav_i.close::after {
    -webkit-transform: translate(0, -50%) rotate(0);
            transform: translate(0, -50%) rotate(0);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }
}

@media screen and (max-width: 512px) {
  .header .nav_l {
    padding: 4% 0;
  }
}

.header .panel {
  width: 150px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(170, 154, 111, 0.4);
          box-shadow: 0 0 5px rgba(170, 154, 111, 0.4);
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: none;
}

.header .panel a {
  font-family: 'Noto Serif TC', 'Apple LiGothic Medium', 'PMingLiU', 'sans-serif', 'serif';
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1.8;
  letter-spacing: 1px;
  padding: 5px 10px;
  color: #aa9a6f;
  font-size: 0.9em;
  display: block;
}

@media screen and (max-width: 1024px) {
  .header .panel a {
    line-height: 1.5;
  }
}

@media screen and (max-width: 512px) {
  .header .panel a {
    font-size: 13px;
  }
}

@media screen and (min-width: 769px) {
  .header .panel a:hover {
    color: #ffffff;
    background: #aa9a6f;
  }
}

@media screen and (max-width: 768px) {
  .header .panel {
    width: 100%;
    max-height: 0;
    padding: 0 5%;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
  }
  .header .panel li:first-child {
    padding-top: 2%;
  }
  .header .panel a {
    padding: 0;
    margin: 1.5% auto;
  }
  .header .panel.active {
    max-height: 500px;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .header_top {
    width: 100%;
    height: 100%;
    padding: 0 3%;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 9999;
  }
}

.header_logo {
  width: 23.9583333333%;
  padding-top: 16.8975650714%;
  background: url(../images/common/header_logo_bg.png) 50%/100% no-repeat;
  position: absolute;
  top: 0;
  left: 0.5%;
}

.header_logo a {
  width: 64.2317380353%;
  padding-top: 25.6926952141%;
  background: url(../images/common/header_logo.png) 50%/100% no-repeat;
  position: absolute;
  top: 9%;
  left: 13%;
}

@media screen and (max-width: 768px) {
  .header_logo {
    width: 60%;
    max-width: 130px;
    height: 56.3265306122px;
    padding-top: 0;
    margin-bottom: 0;
    background: transparent;
    position: relative;
  }
  .header_logo a {
    width: 100%;
    height: 100%;
    padding-top: 0;
    background: url(../images/common/header_logo_m.png) 50%/100% no-repeat;
    top: 0;
    left: 0;
  }
}

.menu_open_box {
  width: 30px;
  line-height: 0;
  position: relative;
  z-index: 9999;
}

.menu_open_box.close {
  width: 40px;
}

.menu_open_box.close .menu_open::before {
  background: #aa9a6f;
  -webkit-transform: translate(3px, 8px) rotate(45deg);
          transform: translate(3px, 8px) rotate(45deg);
}

.menu_open_box.close .menu_open::after {
  background: #aa9a6f;
  -webkit-transform: translate(3px, -8px) rotate(-45deg);
          transform: translate(3px, -8px) rotate(-45deg);
}

.menu_open_box.close span {
  opacity: 0;
}

.menu_open {
  width: 100%;
  display: inline-block;
}

.menu_open span {
  width: 100%;
  height: 2px;
  margin: 6px 0 6px auto;
  background-color: #000000;
  border-radius: 10px;
  display: block;
}

.menu_open::before, .menu_open::after {
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #000000;
  display: block;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

footer {
  width: 100%;
  background: #f0e7d2;
}

.footer {
  width: 85%;
  max-width: 1440px;
  padding: 2.5% 0;
  margin: 0 auto;
}

.footer .logo {
  width: 150px;
}

@media screen and (max-width: 1200px) {
  .footer {
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  .footer .logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 4% 0;
  }
}

.footer_contain {
  width: 100%;
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_contain li {
  display: inline-block;
  line-height: 1.2;
  vertical-align: middle;
}

.footer_contain a {
  display: block;
  font-size: 0.9em;
  letter-spacing: 3px;
  line-height: inherit;
}

@media screen and (max-width: 768px) {
  .footer_contain {
    padding-top: 0;
  }
}

.footer_menu {
  width: 55%;
}

.footer_menu .footer_i {
  padding: 0 1%;
}

.footer_menu .footer_i:first-child {
  margin-left: -1%;
}

.footer_menu .footer_i:not(:last-child) {
  border-right: 1px solid #000000;
}

.footer_menu a {
  -webkit-transition: font-weight 0.2s linear;
  transition: font-weight 0.2s linear;
}

.footer_menu a:hover {
  font-weight: 700;
  -webkit-transition: font-weight 0.2s linear;
  transition: font-weight 0.2s linear;
}

@media screen and (max-width: 1024px) {
  .footer_menu {
    display: none;
  }
}

.footer_link {
  width: 45%;
  text-align: right;
  line-height: 0;
}

.footer_link li:not(:last-child) {
  margin-right: 2%;
}

.footer_link li a {
  border: 1px solid #aa9a6f;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.footer_link li img:nth-child(2) {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.footer_link .social a {
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  position: relative;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.footer_link .social a:hover {
  background: #aa9a6f;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.footer_link .social a:hover img:nth-child(2) {
  opacity: 1;
}

.footer_link .link a {
  padding: 0.15em 0;
  display: block;
  color: #aa9a6f;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.footer_link .link a i {
  width: 1em;
  display: inline-block;
}

.footer_link .link a:hover {
  color: #ffffff;
  background: #aa9a6f;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .footer_link {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .footer_link .link:not(:last-child) {
    display: none;
  }
}

.wrapper {
  width: 100%;
  padding-top: 70px;
  overflow: hidden;
}

.section {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .section {
    width: 95%;
  }
}

.lg_title {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.lg_title .title_t {
  width: 50%;
  max-width: 17em;
  padding-bottom: 0.5%;
  margin: 0 auto;
}

.lg_title .title_b {
  width: 100%;
  padding-top: 1%;
}

.lg_title .ch {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 3px;
  font-size: 1.75em;
  font-weight: 700;
}

.lg_title .line {
  width: 1.3em;
  display: inline-block;
  vertical-align: middle;
}

.lg_title .en {
  font-family: 'fertigo-script', 'sans-serif', serif;
  font-size: 1.4em;
  font-style: italic;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .lg_title .title_b {
    width: 60%;
    margin: 0 auto;
  }
  .lg_title .line {
    display: none;
  }
  .lg_title .ch, .lg_title .en {
    display: block;
  }
}

.btn_dark {
  background: #000000;
  border: 2px solid #000000;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  display: block;
  -webkit-transition: background 0.3s linear, border 0.3s linear;
  transition: background 0.3s linear, border 0.3s linear;
}

.btn_dark:hover {
  -webkit-transition: background 0.3s linear, border 0.3s linear;
  transition: background 0.3s linear, border 0.3s linear;
}

.btn_dark:hover .t::after {
  left: 110%;
  -webkit-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

.btn_dark .t {
  padding-right: 5%;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  color: #ffffff;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  position: relative;
}

.btn_dark .t::after {
  content: '>';
  font-weight: 300;
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

@media screen and (max-width: 768px) {
  .btn_dark {
    padding: 2% 0;
    color: #aa9a6f;
    -webkit-transition: none;
    transition: none;
  }
}

.btn_dark:hover {
  background: #ffffff;
  border-color: #000000;
}

.btn_dark:hover .t {
  color: #000000;
}

.btn_light {
  background: linear-gradient(135deg, #aa9a6e 0%, #c4b17e 100%);
  border: 2px solid #aa9a6f;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  display: block;
  -webkit-transition: background 0.3s linear, border 0.3s linear;
  transition: background 0.3s linear, border 0.3s linear;
}

.btn_light:hover {
  -webkit-transition: background 0.3s linear, border 0.3s linear;
  transition: background 0.3s linear, border 0.3s linear;
}

.btn_light:hover .t::after {
  left: 110%;
  -webkit-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

.btn_light .t {
  padding-right: 5%;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  color: #ffffff;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  position: relative;
}

.btn_light .t::after {
  content: '>';
  font-weight: 300;
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

@media screen and (max-width: 768px) {
  .btn_light {
    padding: 2% 0;
    color: #aa9a6f;
    -webkit-transition: none;
    transition: none;
  }
}

.btn_light:hover {
  background: #ffffff;
  border-color: #aa9a6f;
}

.btn_light:hover .t {
  color: #aa9a6f;
}

.btn_sm {
  width: 50%;
  padding: 1% 0;
}

.btn_sm .t {
  font-size: 0.9em;
}

@media screen and (max-width: 768px) {
  .btn_sm {
    width: 60%;
    padding: 2% 0;
  }
}

.slide_arrow {
  text-align: center;
}

.slide_arrow .item {
  width: 7vw;
  max-width: 50px;
  height: 7vw;
  max-height: 50px;
  border-radius: 50%;
  border: 2px solid #aa9a6f;
  background: #aa9a6f;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.slide_arrow .item::after {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../images/common/slide_arrow.png) 42% 50%/30% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear;
}

@media screen and (min-width: 769px) {
  .slide_arrow .item:hover {
    background: #ffffff;
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
  }
  .slide_arrow .item:hover::after {
    background-image: url(../images/common/slide_arrow_hover.png);
    -webkit-transition: background-image 0.3s linear;
    transition: background-image 0.3s linear;
  }
}

.slide_arrow .item_next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: auto;
  right: 0;
}

.nav_fixed {
  width: 6%;
  max-width: 100px;
  position: fixed;
  right: 1%;
  top: 20%;
  z-index: 9;
}

@media screen and (max-width: 768px) {
  .nav_fixed {
    width: 15%;
    max-width: none;
    padding-top: 14.8421052632%;
    background: url(../images/common/online_m.png) 50%/100% no-repeat;
    bottom: 2%;
    top: auto;
  }
}

.nav_fixed_box {
  background: url(../images/common/fixed_bg_m.png) 0/contain repeat-y;
  max-height: calc(70vh - 70px);
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.nav_fixed_box::-webkit-scrollbar {
  display: none;
}

.nav_fixed_item {
  width: 87%;
}

.nav_fixed_item:not(:last-child) a {
  border-bottom: 1px solid #aa9a6f;
}

.nav_fixed_item a {
  padding: 20% 10%;
  margin: 0 10%;
  display: block;
  opacity: .8;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  overflow-y: hidden;
}

.nav_fixed_item a:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.nav_fixed_item a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.nav_fixed_item a img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.slick-arrow {
  border: none !important;
  text-indent: -9999px;
  font-size: 0;
  background: #aa9a6f url(../images/index/arrow_light.png) 50%/20% no-repeat;
  overflow: hidden;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 2;
}

.slick-arrow.slick-next {
  left: auto;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .for_pc {
    display: none;
  }
  .for_phone {
    display: block;
  }
}

.index_news .dots li, .blog_wrap .dots li {
  width: 12px;
  height: 12px;
  margin: 0 3px;
  border-radius: 50%;
  background: #000000;
  display: inline-block;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.index_news .dots li.active, .blog_wrap .dots li.active {
  opacity: .2;
}

.index_news .dots li:hover, .blog_wrap .dots li:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.hotsale_wrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.hotsale_wrap a {
  display: block;
}

.hotsale_wrap a:hover .btn_light {
  background: #ffffff;
  border-color: #aa9a6f;
}

.hotsale_wrap a:hover .btn_light .t {
  color: #aa9a6f;
}

.hotsale_wrap a:hover .btn_light .t::after {
  left: 110%;
  -webkit-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hotsale_wrap {
    width: 100%;
  }
}

.hotsale_list {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.hotsale_list .name {
  text-align: center;
  margin-top: -12%;
  padding-bottom: 5%;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .hotsale_list {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hotsale_list {
    width: 80%;
    display: block;
  }
}

.hotsale_item {
  width: 33.3333333333%;
}

@media screen and (max-width: 768px) {
  .hotsale_item {
    width: 100%;
    margin-right: -100%;
    float: left;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 0.3s linear, -webkit-transform 0.6s ease-out;
    transition: opacity 0.3s linear, -webkit-transform 0.6s ease-out;
    transition: opacity 0.3s linear, transform 0.6s ease-out;
    transition: opacity 0.3s linear, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  }
  .active.hotsale_item {
    opacity: 1;
    display: block;
  }
  .prev.hotsale_item {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  .next.hotsale_item {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

.hotsale_img {
  width: 100%;
  padding: 15%;
  position: relative;
}

.hotsale_img::before {
  content: '';
  width: 100%;
  padding-top: 81.7102137767%;
  background: url(../images/index/p_bg.png) 50%/100% no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: .3;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.hotsale_img .p {
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.blog_w .author {
  text-align: center;
}

.blog_w .author img {
  width: auto;
  height: 49px;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .blog_w .author img {
    height: 43px;
  }
}

@media screen and (max-width: 512px) {
  .blog_w .author img {
    height: 38px;
  }
}

.blog_w .author div {
  width: auto;
  margin-left: -6px;
  padding: 6px 2% 10px 2%;
  background: url(../images/index/author_m.png) 50%/contain repeat-x;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-weight: 700;
}

.blog_w .author div ~ .sub_text_r {
  margin-left: -6px;
}

.blog_w .author div span {
  height: 33px;
  line-height: 1.6;
  font-size: 1.15em;
  font-weight: 700;
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .blog_w .author div span {
    height: 27px;
  }
}

@media screen and (max-width: 512px) {
  .blog_w .author div span {
    height: 22px;
  }
}

.index_news .news_inner {
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.blog_w .article {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.index_top {
  width: 100%;
  background: url(../images/index/top_bg.jpg) 0 50%/cover no-repeat;
}

.index_top .kv_bg {
  width: 100%;
  padding-top: 45%;
  background: url(../images/index/banner_bg.png) 0 50%/cover no-repeat;
}

.index_top .top_contian {
  margin-top: -37%;
}

@media screen and (max-width: 768px) {
  .index_top {
    background: url(../images/index/top_bg_m.jpg) 0 50%/cover no-repeat;
  }
  .index_top .kv_bg {
    padding-top: 129.817708333%;
    background: url(../images/index/banner_bg_m.png) 0 50%/cover no-repeat;
  }
  .index_top .top_contian {
    margin-top: -116%;
  }
}

.index_kv {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index_kv .word {
  width: 55%;
  padding-right: 7%;
}

.index_kv .product {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.index_kv .main_w {
  padding-bottom: 4%;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 1.3;
}

.index_kv .p {
  position: relative;
}

.index_kv .p::after {
  content: '';
  width: 120%;
  position: absolute;
  top: 4%;
  left: 10%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: 0;
}

.index_kv .p.p1 {
  width: 24.1666666667%;
}

.index_kv .p.p1::after {
  padding-top: 348.666666667%;
  background-image: url(../images/index/top_p1_s.png);
}

.index_kv .p.p1 .p_inner {
  padding-top: 331.724137931%;
  background-image: url(../images/index/top_p1.png);
  -webkit-mask-image: url(../images/index/top_p1.png);
          mask-image: url(../images/index/top_p1.png);
}

@media screen and (max-width: 768px) {
  .index_kv .p.p1 {
    margin-top: 12%;
  }
}

.index_kv .p.p2 {
  width: 30.3333333333%;
  margin-top: 22%;
  margin-left: 4%;
}

.index_kv .p.p2::after {
  padding-top: 270.275229358%;
  background-image: url(../images/index/top_p2_s.png);
}

.index_kv .p.p2 .p_inner {
  padding-top: 248.351648352%;
  background-image: url(../images/index/top_p2.png);
  -webkit-mask-image: url(../images/index/top_p2.png);
          mask-image: url(../images/index/top_p2.png);
}

@media screen and (max-width: 768px) {
  .index_kv .p.p2 {
    margin-top: 0;
    margin-left: 2%;
  }
}

.index_kv .p.p3 {
  width: 38.1666666667%;
  margin-top: 10%;
}

.index_kv .p.p3::after {
  padding-top: 143.007518797%;
  background-image: url(../images/index/top_p3_s.png);
}

.index_kv .p.p3 .p_inner {
  padding-top: 121.834061135%;
  background-image: url(../images/index/top_p3.png);
  -webkit-mask-image: url(../images/index/top_p3.png);
          mask-image: url(../images/index/top_p3.png);
}

@media screen and (max-width: 768px) {
  .index_kv .p.p3 {
    margin-top: 37%;
  }
}

.index_kv .p_inner {
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.index_kv .p_inner::before {
  content: '';
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -70%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.5)), color-stop(60%, rgba(245, 245, 245, 0.8)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5) 50%, rgba(245, 245, 245, 0.8) 60%, rgba(255, 255, 255, 0));
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  -webkit-animation: light 3s linear 0s infinite normal;
          animation: light 3s linear 0s infinite normal;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .index_kv {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .index_kv .word {
    width: 100%;
    padding: 24% 0 5% 0;
  }
  .index_kv .product {
    width: 100%;
  }
}

@-webkit-keyframes light {
  0% {
    left: -100%;
    opacity: 0;
  }
  15% {
    opacity: .8;
  }
  25% {
    opacity: .8;
  }
  30% {
    left: 150%;
    opacity: 0;
  }
  to {
    left: 150%;
    opacity: 0;
  }
}

@keyframes light {
  0% {
    left: -100%;
    opacity: 0;
  }
  15% {
    opacity: .8;
  }
  25% {
    opacity: .8;
  }
  30% {
    left: 150%;
    opacity: 0;
  }
  to {
    left: 150%;
    opacity: 0;
  }
}

.index_a {
  width: 100%;
  padding: 10% 0 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .index_a .index_a_whoo,
  .index_a .index_a_t {
    width: 100%;
    max-width: 500px;
  }
  .index_a .index_a_t {
    padding: 5% 0;
  }
}

.index_a_whoo {
  width: 50%;
  position: relative;
}

.index_a_whoo img {
  width: 50%;
  margin-left: auto;
}

.index_a_whoo::after {
  content: '';
  width: 50%;
  padding-top: 66.875%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/index/whoo_door.png) 50%/100% no-repeat;
}

.index_a_t {
  width: 50%;
  padding: 0 5%;
}

.index_a_t .photo {
  width: 100%;
  padding-top: 54.1300527241%;
  background-image: url(../images/index/whoo_photo.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.index_a_t .text {
  padding: 5% 2.5%;
}

.index_news {
  position: relative;
}

.index_news .news_l {
  width: 100%;
  overflow: hidden;
}

.index_news .news_i {
  width: 100%;
  margin-right: -100%;
  float: left;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.6s ease-out;
  transition: opacity 0.3s linear, -webkit-transform 0.6s ease-out;
  transition: opacity 0.3s linear, transform 0.6s ease-out;
  transition: opacity 0.3s linear, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

.index_news .news_i.active {
  opacity: 1;
  display: block;
}

.index_news .news_i.prev {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.index_news .news_i.next {
  -webkit-transform: translate(100%);
          transform: translate(100%);
}

.index_news .news_inner {
  padding-top: 37.5%;
  background-image: url(../images/index/banner.jpg);
}

@media screen and (max-width: 768px) {
  .index_news .news_inner {
    padding-top: 122.395833333%;
    background-image: url(../images/index/banner_m.jpg);
  }
}

.index_news .dots {
  padding-bottom: 1%;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.mainarea {
  background: url(../images/index/bg.png) 50% 0/cover no-repeat;
}

.mainarea section {
  padding: 5% 0;
}

@media screen and (max-width: 768px) {
  .mainarea {
    background: url(../images/index/bg_m.jpg) 50% 0/cover no-repeat;
  }
  .mainarea section:last-child {
    padding: 5% 0 10% 0;
  }
}

.hotsale_item a:hover .hotsale_img::before {
  opacity: .8;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.blog_wrap {
  width: 100%;
  padding: 0 8%;
  background: url(../images/index/blog_m.png) 50%/contain repeat-y;
  position: relative;
}

.blog_wrap .lg_title {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .blog_wrap .lg_title {
    margin-left: 0;
    text-align: left;
  }
}

.blog_wrap .item_prev {
  left: 3%;
}

.blog_wrap .item_next {
  right: 3%;
}

.blog_wrap .dots {
  width: 60%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .blog_wrap .dots {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .blog_wrap .slide_arrow .item {
    top: 78%;
  }
}

.blog_list {
  width: 100%;
  margin-top: -5%;
  position: relative;
  overflow: hidden;
}

.blog_item {
  width: 100%;
  float: left;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: none;
  position: relative;
}

.blog_item.active {
  display: block;
}

.blog_item.blog_item1 .photo {
  background-image: url(../images/index/blog_photo.jpg);
}

.blog_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

@media screen and (max-width: 768px) {
  .blog_box .blog_w {
    width: 95%;
    max-width: 500px;
  }
  .blog_box .blog_p {
    width: 100%;
    max-width: 400px;
    margin-top: 7%;
  }
}

.blog_w {
  width: 60%;
  padding: 3% 4%;
  margin-top: 5%;
  text-align: center;
}

.blog_w .author div {
  font-size: 1.15em;
  font-weight: 700;
}

.blog_w .article {
  height: 144px;
  margin: 5% auto 7% auto;
  -webkit-line-clamp: 5;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .blog_w .article {
    height: 120px;
  }
}

@media screen and (max-width: 512px) {
  .blog_w .article {
    text-align: left;
  }
}

@media screen and (max-width: 512px) {
  .blog_w .article {
    height: 95px;
  }
}

.blog_p {
  width: 40%;
  padding: 2% 0;
  position: relative;
}

.blog_p .photo {
  width: 80%;
  padding-top: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  position: relative;
  z-index: 2;
}

.blog_p::after {
  content: '';
  width: 80%;
  height: 89%;
  background: #aa9a6f;
  position: absolute;
  top: 7%;
  left: 14%;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

.yt_box {
  width: 90%;
  padding-top: 50.625%;
  margin: 0 auto;
  position: relative;
}

.yt_box iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .yt_box {
    width: 100%;
  }
}

.ig {
  padding: 6% 0 2% 0;
}

.ig_title {
  width: 50%;
  max-width: 150px;
  padding-bottom: 6%;
  margin: 0 auto;
}

.news_banner, .newslist_img, .news_single_img {
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.newslist_word .title, .newslist_word .word {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.news_banner {
  padding-top: 48.6979166667%;
  background-image: url(../images/news/banner.jpg);
}

@media screen and (max-width: 768px) {
  .news_banner {
    padding-top: 122.395833333%;
    background-image: url(../images/news/banner_m.jpg);
  }
}

.newslist_box {
  padding: 4% 1.8% 3% 1.8%;
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1024px) {
  .newslist_box {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .newslist_box {
    grid-template-columns: 1fr;
    padding: 4% 0 3% 0;
  }
}

.newslist_item {
  margin: 0 5% 7vh 5%;
}

@media screen and (max-width: 768px) {
  .newslist_item {
    margin: 0 3% 7vh 3%;
  }
}

.newslist_article {
  padding: 3%;
  border: 1px solid #dcdcdc;
  display: block;
  background: #ffffff;
  -webkit-transition: background 0.3s linear, -webkit-box-shadow 0.3s linear;
  transition: background 0.3s linear, -webkit-box-shadow 0.3s linear;
  transition: background 0.3s linear, box-shadow 0.3s linear;
  transition: background 0.3s linear, box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
}

.newslist_article:hover {
  -webkit-box-shadow: 0 0 12px rgba(203, 182, 134, 0.3);
          box-shadow: 0 0 12px rgba(203, 182, 134, 0.3);
  background: #f6efe0;
  -webkit-transition: background 0.3s linear, -webkit-box-shadow 0.3s linear;
  transition: background 0.3s linear, -webkit-box-shadow 0.3s linear;
  transition: background 0.3s linear, box-shadow 0.3s linear;
  transition: background 0.3s linear, box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
}

.newslist_img {
  padding-top: 100%;
  background-image: url(../images/news/news_img.jpg);
}

.newslist_word {
  padding: 5% 10px;
}

.newslist_word .date {
  color: #595959;
}

.newslist_word .title {
  font-size: 1.2em;
  font-weight: 600;
  height: 34px;
  margin-bottom: 2%;
  letter-spacing: 2px;
  -webkit-line-clamp: 1;
}

.newslist_word .word {
  height: 50px;
  color: #a6a6a6;
  font-size: 0.9em;
  -webkit-line-clamp: 2;
}

@media screen and (max-width: 1024px) {
  .newslist_word .title {
    height: 28px;
  }
  .newslist_word .word {
    height: 42px;
  }
}

@media screen and (max-width: 768px) {
  .newslist_word .title {
    height: auto;
  }
  .newslist_word .word {
    height: auto;
  }
}

.newslist_btn {
  border-bottom: 1px solid #aa9a6f;
}

.news_read {
  font-family: 'fertigo-script', 'sans-serif', serif;
  font-size: 1.4em;
  font-style: italic;
  letter-spacing: 0px;
  width: 90px;
  padding: 0 10px;
  margin: 0 0 0 auto;
  color: #a4162b;
  font-size: 1.3em;
  font-style: normal;
  position: relative;
}

.news_read::after {
  content: '';
  width: 12px;
  height: 11.04px;
  background: url(../images/news/arrow.png) 50%/100% no-repeat;
  position: absolute;
  top: 14px;
  right: 10px;
}

.news_read::before {
  content: '';
  width: 100%;
  height: 5px;
  background: #a4162b;
  position: absolute;
  bottom: -3px;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .news_read::after {
    top: 11px;
  }
}

@media screen and (max-width: 512px) {
  .news_read::after {
    top: 7px;
  }
}

.news_pager {
  padding-bottom: 7%;
  text-align: center;
  background: #ffffff;
}

.pager_arrow {
  width: 30px;
  height: 25px;
  margin: 0 2%;
  background: url(../images/news/pager_arrow_prev.png) 50%/contain no-repeat;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.pager_arrow.pager_next {
  background: url(../images/news/pager_arrow_next.png) 50%/contain no-repeat;
}

.pager_arrow:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.pager_number {
  display: inline-block;
}

.pager_number a {
  width: 1.6em;
  height: 1.6em;
  font-weight: 700;
  line-height: 1.6em;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: color 0.3s linear, background 0.3s linear;
  transition: color 0.3s linear, background 0.3s linear;
}

.pager_number a.active {
  color: #ffffff;
  background: #a4162b;
}

.pager_number a:hover {
  color: #ffffff;
  background: #a4162b;
  -webkit-transition: color 0.3s linear, background 0.3s linear;
  transition: color 0.3s linear, background 0.3s linear;
}

.news_single_box {
  width: 100%;
  padding: 4% 8%;
  margin: 0 auto;
  background: #ffffff;
}

.news_single {
  max-width: 1000px;
  margin: 0 auto 20vh auto;
}

.news_single .news_single_date {
  color: #595959;
}

.news_single .news_single_title {
  margin-bottom: 5%;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 2px;
}

.news_single_img {
  padding-top: 100%;
  margin-bottom: 5%;
  background-image: url(../images/news/news_single.jpg);
}

.news_single_word {
  margin-bottom: 10vh;
}

.news_single_word h1 {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1.6%;
}

.news_single_word h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1.4%;
}

.news_single_word h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 1.2%;
}

.news_single_word p {
  margin-bottom: 1%;
}

.news_single_word a {
  color: #5b7fe6;
}

.news_single_word a:hover {
  border-bottom: 1px solid #5b7fe6;
}

.news_single_word > * {
  color: #595959;
}

.news_single_word > :last-child {
  margin-bottom: 0;
}

.news_back {
  width: 300px;
  padding-top: 51.1904761905px;
  margin: 0 auto;
  display: block;
  background: url(../images/news/back_btn.png) 50%/100% no-repeat;
  -webkit-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear;
}

.news_back:hover {
  background-image: url(../images/news/back_btn_hover.png);
  -webkit-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear;
}

@media screen and (max-width: 512px) {
  .news_back {
    width: 80%;
    padding-top: 13.4653465347%;
    margin: 5% auto;
  }
}

.recent_post {
  max-width: 1000px;
  padding-bottom: 5vh;
  margin: 0 auto;
}

.recent_post_title {
  width: 85%;
  max-width: 280px;
  padding-bottom: 3vh;
}

.recent_post_contain {
  margin-right: -40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recent_post_contain .newslist_item {
  margin: 0 40px 5vh auto;
}

@media screen and (max-width: 1024px) {
  .recent_post_contain {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .recent_post_contain {
    grid-template-columns: 1fr;
  }
}

.p_all_wrap, .suggest_wrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.p_all_wrap a, .suggest_wrap a {
  display: block;
}

.p_all_wrap a:hover .btn_light, .suggest_wrap a:hover .btn_light {
  background: #ffffff;
  border-color: #aa9a6f;
}

.p_all_wrap a:hover .btn_light .t, .suggest_wrap a:hover .btn_light .t {
  color: #aa9a6f;
}

.p_all_wrap a:hover .btn_light .t::after, .suggest_wrap a:hover .btn_light .t::after {
  left: 110%;
  -webkit-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .p_all_wrap, .suggest_wrap {
    width: 100%;
  }
}

.p_all_list, .suggest_list {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.p_all_list .name, .suggest_list .name {
  text-align: center;
  margin-top: -12%;
  padding-bottom: 5%;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .p_all_list, .suggest_list {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .p_all_list, .suggest_list {
    width: 80%;
    display: block;
  }
}

.p_all_item, .suggest_item {
  width: 33.3333333333%;
}

@media screen and (max-width: 768px) {
  .p_all_item, .suggest_item {
    width: 100%;
    margin-right: -100%;
    float: left;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 0.3s linear, -webkit-transform 0.6s ease-out;
    transition: opacity 0.3s linear, -webkit-transform 0.6s ease-out;
    transition: opacity 0.3s linear, transform 0.6s ease-out;
    transition: opacity 0.3s linear, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  }
  .active.p_all_item, .active.suggest_item {
    opacity: 1;
    display: block;
  }
  .prev.p_all_item, .prev.suggest_item {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  .next.p_all_item, .next.suggest_item {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

.p_all_img, .suggest_img {
  width: 100%;
  padding: 15%;
  position: relative;
}

.p_all_img::before, .suggest_img::before {
  content: '';
  width: 100%;
  padding-top: 81.7102137767%;
  background: url(../images/index/p_bg.png) 50%/100% no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: .3;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.p_all_img .p, .suggest_img .p {
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.product_intro_box .intro_area_title {
  text-align: center;
}

.product_intro_box .intro_area_title img {
  width: auto;
  height: 49px;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .product_intro_box .intro_area_title img {
    height: 43px;
  }
}

@media screen and (max-width: 512px) {
  .product_intro_box .intro_area_title img {
    height: 38px;
  }
}

.product_intro_box .intro_area_title div {
  width: auto;
  margin-left: -6px;
  padding: 6px 2% 10px 2%;
  background: url(../images/index/author_m.png) 50%/contain repeat-x;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-weight: 700;
}

.product_intro_box .intro_area_title div ~ .sub_text_r {
  margin-left: -6px;
}

.product_intro_box .intro_area_title div span {
  height: 33px;
  line-height: 1.6;
  font-size: 1.15em;
  font-weight: 700;
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .product_intro_box .intro_area_title div span {
    height: 27px;
  }
}

@media screen and (max-width: 512px) {
  .product_intro_box .intro_area_title div span {
    height: 22px;
  }
}

.product_banner {
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.product_banner {
  padding-top: 49.4791666667%;
  background-image: url(../images/product/banner.jpg);
}

@media screen and (max-width: 768px) {
  .product_banner {
    padding-top: 122.395833333%;
    background-image: url(../images/product/banner_m.jpg);
  }
}

.product_main {
  background: url(../images/product/bg.jpg) 50% 0/cover no-repeat;
}

.product_main section {
  padding: 5% 0;
}

@media screen and (max-width: 768px) {
  .product_main {
    background-image: url(../images/product/bg_m.jpg);
  }
}

.p_all_list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.p_all_item {
  padding-bottom: 5%;
}

.p_all_item a:hover .p_all_img::before {
  opacity: .8;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.product_intro_wrap {
  padding: 10px;
  margin-top: 5%;
  background-color: #ffffff;
}

.product_intro_box {
  padding: 0 8%;
  background: url(../images/product/blog_m.png) 50%/100% repeat-y;
}

@media screen and (max-width: 768px) {
  .product_intro_box {
    padding: 0 2%;
  }
}

.product_intro_box .intro_style {
  text-align: center;
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 3px;
}

.product_intro_box .center {
  text-align: center;
}

.product_intro_box .intro_area {
  padding: 2% 0;
}

.product_intro_box .intro_area_title {
  background: url(../images/product/area_title_bg.png) 50%/100% no-repeat;
}

.product_intro_box .intro_area_title .sub_text {
  max-width: calc(90% - 100px);
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .product_intro_box .intro_area_title {
    background: transparent;
  }
  .product_intro_box .intro_area_title .sub_text {
    max-width: calc(100% - 40px);
  }
}

.product_intro_box .intro_area_contain {
  width: 95%;
  padding: 4% 0;
  margin: 0 auto;
}

.product_intro_box .intro_area_contain .big-text {
  margin-bottom: 2%;
  font-size: 1.75em;
  font-weight: 500;
  color: #a4162b;
  position: relative;
}

.product_intro_box .intro_area_contain .big-text.underline {
  display: inline-block;
  padding: 0 2% 2% 2%;
}

.product_intro_box .intro_area_contain .big-text.underline::after {
  content: '';
  width: 100%;
  height: 10px;
  background: url(../images/product/text_underline.png) 50%/contain repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
}

.product_intro_box .intro_area_contain .big-img {
  padding-bottom: 2%;
}

.product_intro_box .intro_flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product_intro_box .intro_flex .intro_img {
  width: 40%;
  padding-right: 5%;
}

.product_intro_box .intro_flex .intro_word {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .product_intro_box .intro_flex .intro_img {
    width: 100%;
    max-width: 400px;
    padding: 0 5%;
    margin: 0 auto 5% auto;
  }
  .product_intro_box .intro_flex .intro_word {
    width: 100%;
  }
}

.suggest_list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.suggest_item {
  padding-bottom: 5%;
}

.suggest_item a:hover .suggest_img::before {
  opacity: .8;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

@charset "UTF-8";
.share {
  background: #f6efe0 url(../images/share/share_bg.jpg) 50%/cover no-repeat;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .share {
    background-image: url(../images/share/share_bg_t.png), url(../images/share/share_bg_b.png);
    background-size: 100%;
    background-position: top, bottom;
    background-repeat: no-repeat;
  }
}

.kv {
  width: 41%;
  height: 90%;
  max-height: 1200px;
  position: absolute;
  left: 0%;
  bottom: 0;
  z-index: 3;
  background: url(../images/share/share_kv.png) top right/cover no-repeat;
}

@media screen and (max-width: 1024px) {
  .kv {
    width: 100%;
    padding-top: 102.473958333%;
    height: auto;
    max-height: none;
    position: static;
  }
}

.share_deco img {
  width: 145px;
  position: absolute;
  z-index: 2;
}

.share_deco .share_deco_lt {
  left: -20px;
  top: -20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.share_deco .share_deco_rt {
  right: -20px;
  top: -20px;
}

.share_deco .share_deco_lb {
  left: -20px;
  bottom: -20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.share_deco .share_deco_rb {
  right: -20px;
  bottom: -20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
  .share_deco img {
    width: 15%;
  }
  .share_deco .share_deco_lt {
    left: -2vw;
    top: -2vw;
  }
  .share_deco .share_deco_rt {
    right: -2vw;
    top: -2vw;
  }
  .share_deco .share_deco_lb {
    left: -2vw;
    bottom: -2vw;
  }
  .share_deco .share_deco_rb {
    right: -2vw;
    bottom: -2vw;
  }
}

.share_wrap {
  width: 75%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .share_wrap {
    width: 90%;
  }
  .share_wrap .share_contain {
    width: 90%;
    margin: 0 auto;
  }
}

.share_box {
  width: 100%;
  text-align: center;
  border: 1px solid #b0a271;
  background: #ffffff;
}

.share_contain {
  width: 56%;
  padding: 3% 0;
  margin: 0 6% 0 auto;
}

.share_titlebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.share_titlebox h3 {
  letter-spacing: 2px;
}

.share_titlebox .color_red {
  color: #b42448;
}

.share_title {
  width: 60%;
  margin: 2% auto 3% auto;
  padding-top: 11.7404129794%;
  background: url(../images/share/shareimg-05.png) 50%/100% no-repeat;
}

@media screen and (max-width: 512px) {
  .share_title {
    width: 90%;
    padding-top: 17.610619469%;
  }
}

.share_form_write {
  width: 100%;
  padding-top: 3%;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .share_form_write {
    padding-top: 6%;
    margin-top: 6%;
    border-top: 2px dotted #b0a271;
  }
}

.share_form_element {
  width: 100%;
  padding: 2% 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.share_form_item {
  width: 100%;
  border-radius: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 512px) {
  .share_form_item.share_form_textarea_item1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .share_form_item.share_form_textarea_item1 .form_elememt_text {
    width: 100%;
    padding-top: 5px;
  }
  .share_form_item.share_form_textarea_item2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .share_form_item.share_form_textarea_item2 .form_elememt_text {
    width: calc(100% - 52px);
    padding-top: 5px;
  }
  .share_form_item.share_form_textarea_item2 .share_form_item_name:nth-child(1) {
    width: 100%;
  }
}

.share_form_item_name {
  color: #ffffff;
  text-align: left;
}

@media screen and (min-width: 769px) {
  .share_form_item_name {
    vertical-align: middle;
    text-align: justify;
    -moz-text-align-last: justify;
         text-align-last: justify;
    text-justify: inter-ideograph;
  }
}

.form_elememt_text {
  width: calc(100% - 225px);
  padding: 2px 5px;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  resize: none;
  background: transparent;
  border-radius: 0;
}

.form_elememt_text:focus {
  border-color: #b0a271;
  -webkit-transition: border-color 0.4s linear;
  transition: border-color 0.4s linear;
}

.share_form_textarea {
  display: block;
  padding: 3.8% 8% 5% 8%;
  margin-bottom: 3%;
  background-color: #b42448;
  border-radius: 10px;
}

.share_form_textarea ::-webkit-input-placeholder {
  color: #470b1e;
}

.share_form_textarea ::-moz-placeholder {
  color: #470b1e;
}

.share_form_textarea :-ms-input-placeholder {
  color: #470b1e;
}

.share_form_textarea ::-ms-input-placeholder {
  color: #470b1e;
}

.share_form_textarea ::placeholder {
  color: #470b1e;
}

.share_form_textarea :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #470b1e;
}

.share_form_textarea ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #470b1e;
}

.share_form_textarea .share_form_item_name {
  font-size: 1.2em;
}

@media screen and (max-width: 1300px) {
  .share_form_textarea {
    padding: 3% 4% 4% 4%;
  }
}

@media screen and (max-width: 512px) {
  .share_form_textarea {
    padding: 5% 3%;
  }
}

.share_form_textarea_item2 {
  padding-top: 5%;
}

.share_form_textarea_item2 .form_elememt_text {
  width: calc(100% - 145px);
}

.share_form_info .share_form_item {
  width: 47%;
}

.share_form_info .share_form_item_name {
  width: 90px;
  color: #b0a271;
}

.share_form_info .form_elememt_contain {
  width: calc(100% - 90px);
  padding: 8px 10px;
  height: 100%;
  border: 1px solid #b0a271;
  outline: none;
  text-align: center;
  letter-spacing: 1.2px;
  border-radius: 6px;
}

.share_form_info .form_elememt_contain:focus {
  border-color: #b42448;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}

@media screen and (min-width: 513px) {
  .share_form_info .form_elememt_contain {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
  .share_form_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .share_form_info .share_form_item {
    width: 100%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 768px) {
  .share_form_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .share_form_info .share_form_item {
    width: 100%;
    margin-bottom: 2%;
  }
}

.friend_add {
  width: 100%;
  margin: 2% auto;
  position: relative;
}

.friend_add::before {
  content: '';
  width: 100%;
  height: 0px;
  border-top: 2px dotted #b0a271;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.friend_add_btn {
  width: 160px;
  padding: 2px 0 2px 25px;
  margin: 0 auto;
  color: #ffffff;
  background: #b0a271;
  border: 10px solid #ffffff;
  border-radius: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background 0.2s linear, -webkit-transform 0.2s linear;
  transition: background 0.2s linear, -webkit-transform 0.2s linear;
  transition: background 0.2s linear, transform 0.2s linear;
  transition: background 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
}

.friend_add_btn::before {
  content: '';
  background: url(../images/share/add-icon.png) 50%/100% no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 28px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media screen and (min-width: 769px) {
  .friend_add_btn:hover {
    background: #a4162b;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: background 0.2s linear, -webkit-transform 0.2s linear;
    transition: background 0.2s linear, -webkit-transform 0.2s linear;
    transition: background 0.2s linear, transform 0.2s linear;
    transition: background 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
  }
}

@media screen and (max-width: 512px) {
  .friend_add_btn {
    width: 120px;
    padding: 0 0 0 30px;
    color: #b0a271;
    background: #ffffff;
    border: none;
    font-size: 1.3em;
  }
  .friend_add_btn::before {
    width: 20px;
    height: 20px;
    background-image: url(../images/share/add-icon_m.png);
    left: 15px;
  }
}

.remove_sharebox {
  width: 17px;
  height: 17px;
  background: url(../images/share/remove_icon.png) 50%/100% no-repeat;
  position: absolute;
  top: 50%;
  left: 101.5%;
  -webkit-transform: translate(0, -50%) scale(1);
          transform: translate(0, -50%) scale(1);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .remove_sharebox:hover {
    -webkit-transform: translate(0, -50%) scale(1.4);
            transform: translate(0, -50%) scale(1.4);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }
}

@media screen and (max-width: 512px) {
  .remove_sharebox {
    margin-left: auto;
    margin-bottom: 5px;
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.share_line_btn {
  width: 300px;
  padding-top: 50.495049505px;
  margin: 4% auto;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/share/send2.png);
  display: block;
  position: relative;
  -webkit-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear;
}

.share_line_btn:hover {
  background-image: url(../images/share/send2_hover.png);
  -webkit-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear;
}

@media screen and (max-width: 512px) {
  .share_line_btn {
    width: 80%;
    padding-top: 13.4653465347%;
    margin: 5% auto;
  }
}

.share_info {
  margin-top: 3%;
}

.share_info ol, .share_info li {
  margin-left: 12px;
  color: #595757;
  text-align: left;
  font-size: 0.92em;
  list-style: decimal;
}

@media screen and (max-width: 768px) {
  .share_info {
    margin: 10% auto 5% auto;
  }
}

/* popup */
.share .popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(25, 78, 147, 0.36);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 99999;
}

.share .popup_wrap {
  width: 31.7708%;
  max-width: 608px;
  max-height: 69.4%;
  padding: 2%;
  background-color: #fff;
  border: 3px solid #b0a271;
  border-radius: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.share .popup_close {
  width: 6%;
  max-width: 32px;
  display: block;
  position: absolute;
  top: 3%;
  left: 92%;
  -webkit-transition: 0.5s -webkit-transform linear;
  transition: 0.5s -webkit-transform linear;
  transition: 0.5s transform linear;
  transition: 0.5s transform linear, 0.5s -webkit-transform linear;
  cursor: pointer;
}

.share .popup_close:hover {
  display: block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s -webkit-transform linear;
  transition: 0.5s -webkit-transform linear;
  transition: 0.5s transform linear;
  transition: 0.5s transform linear, 0.5s -webkit-transform linear;
}

.share .popup_wrap ::-webkit-scrollbar {
  width: none;
}

/* line分享好友popup */
.share .popup_wrap .share_line_btn {
  width: 55%;
  max-width: none;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  /* popup */
  .popup_wrap {
    width: 90%;
    max-width: 400px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
