@charset "UTF-8";

.summer_event img {
    max-width: inherit;
}

/*動畫*/
@keyframes scaleWidth {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

@media (max-width:768px) {
    @keyframes scaleWidth {
        from {
            width: 0;
        }

        to {
            width: 78%;
        }
    }
}

.scaleWidth {
    -webkit-animation-name: scaleWidth;
    animation-name: scaleWidth;

}

.newsale_wrapper {
    position: relative;
    padding: 0;
    margin: 0;
}

.summer_event_wrapper header {
    position: fixed;
    padding: 1% 0 1% 5%;
}

@media (max-width:1600px) {
    .summer_event_wrapper header {
        padding: 1% 2% 1% 5%;
    }

    .summer_event_wrapper header ul {
        width: 110%;
        margin-top: 1.5%;
        transform: scale(0.9) translateX(-5.7%);
    }

    .summer_event_wrapper header ul li {
        float: left;
    }

    .summer_event_wrapper header ul li a {
        font-size: 1.3vw;
    }
}

@media (max-width:1100px) {
    .summer_event_wrapper header {
        padding: 1% 2% 1% 5%;
    }

    .summer_event_wrapper header ul {
        width: 120%;
        transform: scale(0.9) translateX(-5.7%) translateY(0);
        position: relative;
        left: auto;
        top: auto;
    }

    .summer_event_wrapper header ul li {
        margin-right: 4.2vw;
        float: left;
    }
}

@media (max-width:900px) {
    .summer_event_wrapper header {
        padding: 1% 2% 1% 5%;
    }

    .summer_event_wrapper header ul {
        transform: scale(0.9) translateX(-5.7%) translateY(0);
        position: relative;
        left: auto;
        top: auto;
    }

    .summer_event_wrapper header ul li {
        margin-right: 3vw;
    }
}

@media (max-width:768px) {
    .summer_event_wrapper header ul {
        transform: scale(1.0) translateX(-10%) translateY(0);
        position: relative;
        margin-top: -100%;
        z-index: 0;
    }

    .summer_event_wrapper header ul.click {
        margin-top: 0;
    }

    .summer_event_wrapper header ul li {
        margin-right: 0;
    }

    .summer_event_wrapper header ul li a {
        font-size: 16px;
    }

}

.summer_event {
    background-image: url(../images/2021summer_event/bg_01.jpg);
    background-size: 104%;
    background-repeat: no-repeat;
}

@media(max-width:768px) {
    .summer_event {
        background-image: url(../images/2021summer_event/bg_01_m.jpg);
        background-size: cover;
    }
}

/*主視覺*/
.summer_kv {
    width: 100%;
    text-align: center;
    padding-top: 4%;
    position: relative;
}

@media (max-width:1600px) {
    .summer_kv {
        padding-top: 8%;
    }
}

.summer_kv_left {
    display: block;
    width: 43.8%;
    margin-top: 5%;
    margin-left: 16%;
    position: relative;
}

.bottle_only {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.summer_bottle {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 115%;
    background-image: url(../images/2021summer_event/main_bottle.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}

.summer_bottle img {
    position: absolute;
}

.flower_01 {
    width: 13%;
    top: 46%;
    left: 9%;
}

.flower_02 {
    width: 7%;
    top: 59.3%;
    left: 3%;
}

.flower_03 {
    width: 4%;
    right: 9%;
    top: 22%;
}

.flower_04 {
    width: 8%;
    right: 7%;
    top: 45%;
}

.flower_05 {
    width: 11%;
    right: 14%;
    top: 63%;
}

.flower_06 {
    width: 4.5%;
    right: 26%;
    top: 82%;
}

.summer_kv_right {
    display: block;
    width: 35%;
    position: absolute;
    top: 36%;
    left: 52%;
}

.summer_kv_title {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.title_bg {
    width: 95.23%;
    position: absolute;
    top: 0;
    left: 2%;
}

.kv_title {
    width: 100%;
    height: 0;
    padding-bottom: 35%;
    background-image: url(../images/2021summer_event/kv_title.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 100;
    text-indent: -9999px;
    font-size: 0;
    position: absolute;
    top: 2.1vw;
    left: 5.5%;
}

.flower_info {
    position: absolute;
    width: 51%;
    top: 20vw;
    left: 21%;
}

.kv_tipe_01,
.kv_tipe_02 {
    position: absolute;
}

.kv_tipe_01 {
    width: 20%;
    left: 0;
    top: 33%;
}

.kv_tipe_02 {
    width: 28.3%;
    right: 0;
    top: 71.5%;
}

@media (max-width:768px) {
    .summer_kv_left {
        width: 90%;
        margin-top: 8%;
        margin-left: 8.2%;
        position: relative;
    }

    .summer_bottle {
        background-image: url(../images/2021summer_event/bottle_m.png);
    }

    .flower_01 {
        left: 1%;
    }

    .summer_kv_right {
        display: block;
        width: 90%;
        height: 0;
        padding-bottom: 80%;
        position: relative;
        top: auto;
        left: 0%;
        margin-top: 10%;
    }

    .summer_kv_title {
        width: 95%;
        top: 0;
        left: 2.5%;
    }

    .title_bg {
        width: 95%;
        top: 34.5vw;
        left: 2.2%;
    }

    .kv_title {
        width: 95%;
        background-image: url(../images/2021summer_event/kv_title_m.png);
        top: 40.2vw;
        left: 2.5%;
    }

    .flower_info {
        width: 90%;
        top: 0;
        left: 5%;
    }

    .kv_tipe_01 {
        width: 30%;
        left: -9%;
        top: 7%;
    }

    .kv_tipe_02 {
        width: 30%;
        top: 49%;
    }

    .s_fly_03 {
        position: absolute;
        width: 14%;
        top: 20vw;
        right: 1%;
    }
}

/*產品介紹*/
.summer_shop {
    width: 100%;
    position: relative;
}

.center_frame {
    width: 95.8%;
    height: 0;
    padding-bottom: 205%;
    margin: 0 auto;
    background-image: url(../images/2021summer_event/frame_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    padding-top: 11%;
    position: relative;
    z-index: 1;
}

.summer_step {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.step_title {
    width: 60%;
    margin: 0 auto 0 auto;
}

.summer_step_01 {
    width: 64.5%;
    margin-top: 4%;
    position: relative;
}

.summer_step_01 .title_flower {
    position: absolute;
    width: 6%;
    top: 20%;
    left: 53%;
}

.item_01 {
    display: block;
    width: 11%;
    height: 0;
    padding-bottom: 4%;
    overflow: hidden;
    background-image: url(../images/2021summer_event/step_01_item.png);
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 100;
    text-indent: -999px;
    position: absolute;
    top: 44%;
    left: 81.5%;
    /*mask*/
    -webkit-mask-image: url(../images/2021summer_event/step_01_item.png);
    mask-image: url(../images/2021summer_event/step_01_item.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.item_01.a:before,
.item_02.a:before {
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0;
    left: -70%;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .8)), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .8) 60%, hsla(0, 0%, 100%, 0));
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    -webkit-animation: a 4s linear -10s infinite normal;
    animation: a 4s linear -10s infinite normal;
    content: "";
    z-index: 2;
    display: block;
}

.summer_step_02 {
    width: 60%;
    margin: 6% auto 5% auto;
    position: relative;
}

.summer_step_02 .title_flower {
    width: 6%;
    top: 17.5%;
    left: -4.5%;
    position: absolute;
}

.item_02 {
    display: block;
    width: 11%;
    height: 0;
    padding-bottom: 4%;
    overflow: hidden;
    background-image: url(../images/2021summer_event/step_02_item.png);
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 100;
    text-indent: -999px;
    position: absolute;
    top: 43.5%;
    left: 39%;
    /*mask*/
    -webkit-mask-image: url(../images/2021summer_event/step_02_item.png);
    mask-image: url(../images/2021summer_event/step_02_item.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.summer_shop_now {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.title_shop {
    width: 60%;
    height: 0;
    padding-bottom: 7.5%;
    position: relative;
    overflow: hidden;
}

.title_shop img {
    width: auto;
    max-width: auto !important;
    height: 91%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.summer_set_01 {
    width: 69.2%;
    height: 0;
    margin-top: 7%;
    padding-bottom: 22%;
    overflow: visible;
    background-image: url(../images/2021summer_event/shop_01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

.summer_set_01 h3,
.summer_set_02 h3,
.summer_set_03 h3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 100;
    text-indent: -9999px;
    font-size: 0;
}

.shop_item_01 {
    width: 9.5%;
    position: absolute;
}

.summer_set_01 .shop_item_01 {
    top: -15%;
    left: 36%;
}

.btn_summer_shop {
    position: absolute;
    display: block;
    width: 40%;
    height: 0;
    padding-bottom: 7.5%;
    background-image: url(../images/2021summer_event/btn_shopping.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
    filter: brightness(0.9);
}

.btn_summer_shop img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn_summer_shop:hover {
    filter: brightness(1.0);
}

.summer_set_01 .btn_summer_shop {
    top: 76%;
    left: 59.6%;
}

.summer_set_02 {
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 20%;
    background-image: url(../images/2021summer_event/shop_02.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    margin: 12% auto 0 auto;
}

.summer_set_02 .shop_item_01 {
    top: -18%;
    left: 51%;
}

.summer_set_02 .btn_summer_shop {
    top: 82%;
    left: 0.5%;
}

.summer_set_03 {
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 21%;
    background-image: url(../images/2021summer_event/shop_03.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 14% auto 0 auto;
}

.summer_set_03 .btn_summer_shop {
    top: 81%;
    left: 59.5%;
}

/*框上面的花*/
.frame_f_01,
.frame_f_02,
.frame_f_03,
.frame_f_04,
.frame_f_05 {
    position: absolute;
}

.frame_f_01 {
    width: 13.5%;
    top: 33%;
    left: 3.8%;
    z-index: 3;
}

.frame_f_02 {
    width: 16.8%;
    top: 36%;
    left: -2%;
    z-index: 2;
}

.frame_f_03 {
    width: 8%;
    top: 43.7%;
    left: 3.5%;
    z-index: 1;
}

.frame_f_04 {
    width: 13.5%;
    right: 0.5%;
    top: 3%;
    z-index: 3;
}

.frame_f_05 {
    width: 17%;
    right: 1.2%;
    top: 8.6%;
    z-index: 2;
}

@media (max-width:768px) {
    .center_frame {
        width: 95%;
        height: 0;
        padding-bottom: 660%;
        background-image: url(../images/2021summer_event/center_frame_m.png);
        padding-top: 17%;
    }

    .summer_step {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .step_title {
        width: 78%;
    }

    .summer_step_01 {
        width: 70%;
        margin-top: 10%;
        position: relative;
    }

    .summer_step_01 .title_flower {
        position: absolute;
        width: 12%;
        top: 69.5%;
        left: -1%;
    }

    .item_01 {
        width: 22%;
        height: 0;
        padding-bottom: 8%;
        top: 84.2%;
        left: 60%;
    }

    .summer_step_02 {
        width: 70%;
        margin: 20% auto 15% auto;
        position: relative;
    }

    .summer_step_02 .title_flower {
        width: 12%;
        top: 66%;
        left: -7%;
    }

    .item_02 {
        width: 21%;
        padding-bottom: 8%;
        top: 82%;
        left: 81%;
    }

    .title_shop {
        width: 78%;
        height: 0;
        padding-bottom: 10%;
    }

    .summer_set_01 {
        width: 74%;
        height: 0;
        margin-top: 8%;
        padding-bottom: 110%;
        background-image: url(../images/2021summer_event/shop_01_m.png);
        background-size: 100%;
    }

    .shop_item_01 {
        width: 18%;
        position: absolute;
    }

    .summer_set_01 .shop_item_01 {
        top: -5%;
        left: 75%;
    }

    .btn_summer_shop {
        width: 100%;
        padding-bottom: 15%;
        background-image: url(../images/2021summer_event/btn_shop_m.png);
    }

    .summer_set_01 .btn_summer_shop {
        top: 90%;
        left: 0%;
    }

    .summer_set_02 {
        width: 74%;
        height: 0;
        padding-bottom: 107%;
        background-image: url(../images/2021summer_event/shop_02_m.png);
        margin: 24% auto 0 auto;
    }

    .summer_set_02 .shop_item_01 {
        top: -8%;
        left: 75%;
    }

    .summer_set_02 .btn_summer_shop {
        top: 82%;
        left: 0.5%;
    }

    .summer_set_03 {
        width: 74%;
        padding-bottom: 107%;
        background-image: url(../images/2021summer_event/shop_03_m.png);
        margin: 10% auto 0 auto;
    }

    .summer_set_03 .btn_summer_shop {
        top: 84%;
        left: 0%;
    }

    /*框上面的花*/
    .frame_f_01,
    .frame_f_02,
    .frame_f_03,
    .frame_f_04,
    .frame_f_05 {
        display: none;
    }

}

/*現場活動模擬*/
.house {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.main_house {
    width: 69%;
    position: relative;
    z-index: 1;
}

.house_bg {
    width: 97%;
    position: absolute;
    top: -34%;
    left: 1.5%;
    z-index: 0;
}

.house_tip {
    width: 79%;
    margin: 5% auto 8% auto;
}

.tipe_01,
.tipe_01,
.tipe_02,
.tipe_03,
.tipe_04,
.tipe_05,
.tipe_06,
.summer_fly_01 {
    position: absolute;
}

.tipe_01 {
    width: 23%;
    top: 9.2%;
    left: 0;
    z-index: 2;
}

.tipe_02 {
    width: 14.7%;
    right: 0;
    top: 21%;
    z-index: 2;
}

.tipe_03 {
    width: 21.7%;
    top: 39.5%;
    right: 0;
    z-index: 0;
}

.tipe_04 {
    width: 25%;
    left: 0;
    top: 71%;
    z-index: 1;
}

.tipe_05 {
    width: 21%;
    left: 0;
    top: 90%;
}

.tipe_06 {
    width: 26%;
    right: 0;
    top: 88%;
}

.summer_fly_01 {
    width: 5.8%;
    top: 95.6%;
    left: 19%;
}


@media (max-width:768px) {

    /*現場活動模擬*/
    .house {
        width: 100%;
        margin: 13% auto 15% auto;
        position: relative;
    }

    .main_house {
        width: 80%;
        position: relative;
        z-index: 1;
    }

    .house_bg {
        width: 120%;
        position: absolute;
        top: -21%;
        left: -1%;
        z-index: 0;
    }

    .house_tip {
        width: 100%;
        margin: 5% auto 18% auto;
    }

    .tipe_01 {
        display: none;
    }

    .tipe_02 {
        display: none;
    }

    .tipe_03 {
        display: none;
    }

    .tipe_04 {
        display: none;
    }

    .tipe_05 {
        display: none;
    }

    .tipe_06 {
        width: 32%;
        top: auto;
        right: 0;
        bottom: 0;
        display: none;
    }

    .summer_fly_01 {
        display: none;
    }
}


/*立即預約*/
.form_wrap.summer_event {
    background-image: url(../images/2021summer_event/bg_02.jpg) !important;
    background-size: cover;
    padding-bottom: 0;
    height: auto;
}

.form_wrap.summer_event h3 {
    color: #ffff;
    width: 100%;
    font-family: 'Noto Serif TC', serif !important;
    background-color: #E68979;
    letter-spacing: 0.1em;
    font-size: 2vw;
    padding: 1em 0;
    font-weight: bold;
}

.title_event {
    width: 68.9%;
    margin: 4% auto;
}

.s_title_01 {
    width: 21.2%;
}

.summer_gift {
    width: 60.6%;
    margin: 5% auto;
}

.event_pic {
    width: 68.3%;
    position: relative;
    z-index: 1;
}

@media (max-width:768px) {

    /*立即預約*/
    .form_wrap.summer_event {
        background-image: url(../images/2021summer_event/bg_02_m.jpg) !important;
    }

    .form_wrap.summer_event h3 {
        font-size: 5vw;
        padding: 0.8em 0;
    }

    .title_event {
        width: 90%;
        margin: 10% auto 8% auto;
    }

    .s_title_01 {
        width: 50%;
    }

    .summer_gift {
        width: 60.6%;
        margin: 5% auto 10% auto;
    }

    .event_pic {
        width: 88%;
    }
}

/*活動流程*/
.event_step {
    width: 100%;
}

.s_title_02 {
    width: 11.25%;
    margin: 7.5% auto 4.2% auto;
}

.step_info {
    width: 27.5%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 15%;
    background-image: url(../images/2021summer_event/event_step.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.step_tip {
    width: 51.25%;
    height: 0;
    padding-bottom: 11%;
    background-image: url(../images/2021summer_event/event_tip.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 3% auto 0 auto;
}

.step_info li,
.step_tip li {
    width: 100%;
    text-indent: -9999px;
    line-height: 100;
    overflow: hidden;
    height: 0;
}

@media (max-width:768px) {
    .s_title_02 {
        width: 30%;
        margin: 9% auto 8% auto;
    }

    .step_info {
        width: 70%;
        padding-bottom: 40%;
    }

    .step_tip {
        width: 90%;
        height: 0;
        padding-bottom: 27%;
        margin: 5% auto 0 auto;
        background-image: url(../images/2021summer_event/event_tip_m.png);
    }

    .step_info li,
    .step_tip li {
        width: 100%;
        text-indent: -9999px;
        line-height: 100;
        overflow: hidden;
        height: 0;
    }

}

/*填寫表格*/
.s_title_03 {
    width: 22%;
    margin: 12% auto 6% auto;
}

.summer_form ul li,
.summer_form ul li span {
    font-family: 'Noto Serif TC', serif !important;
    font-weight: bold;
}

.summer_form ul li span {
    width: auto;
    height: 100%;
    line-height: 4vw;
    padding-left: 1.2em;
    font-size: 1.5vw;
    color: #95B2D0;
}

.summer_form input,
.summer_form select {
    width: 76% !important;
    font-weight: bold;
}

.summer_form select {
    background: url(../images/2021summer_event/arrow.png) no-repeat scroll 95% 50% transparent;
    background-size: auto 25%;
}

.custom-checkbox.summer_form {
    margin: 8% auto 6% auto;
}

.agree_word img {
    width: 55%;
}

.form_notice_02 {
    background-image: url(../images/2021summer_event/form_notice_02.png);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 15%;
    line-height: 100;
    text-indent: -999px;
    overflow: hidden;
}

.btn_enter.summer_form {
    width: 50%;
    margin: 3% auto 8% 5%;
    filter: brightness(1.0);
    transition: 0.3s;
}

.btn_enter.summer_form:hover {
    filter: brightness(1.05);
}

.e_tipe_01,
.e_tipe_02,
.e_tipe_bottom,
.summer_fly_02 {
    position: absolute;
}

.e_tipe_01 {
    width: 31%;
    right: 0;
    top: 27%;
    z-index: 0;
}

.e_tipe_02 {
    width: 25%;
    left: 0;
    top: 42%;
}

.e_tipe_bottom {
    width: 29.6%;
    bottom: 0;
    right: 0;
}

.summer_fly_02 {
    width: 9.7%;
    right: 9%;
    top: 60%;
}

.summer_notice {
    padding: 4% 0;
    background-color: #C69E62;
}

.summer_notice ul li {
    text-align: center;
    color: #FBE7B3 !important;
    font-size: 14px;
    line-height: 1.5;
}

@media (max-width:768px) {

    /*填寫表格*/
    .s_title_03 {
        width: 33%;
        margin: 11% auto 6% auto;
    }

    .summer_form ul {
        width: 90%;
        margin-left: 5%;
    }

    .summer_form ul li {
        margin-bottom: 4%;
        height: 7.5vw;
        line-height: 7.5vw;
    }

    .summer_form ul li span {
        line-height: 7.5vw;
        padding-left: 1.2em;
        font-size: 2.8vw;
    }

    .summer_form input,
    .summer_form select {
        width: 65% !important;
    }

    .custom-checkbox.summer_form {
        margin: 8% auto 6% auto;
        width: 90%;
    }

    .agree_word img {
        width: 70%;
        margin-left: 0.2%;
    }

    .form_notice_02 {
        background-image: url(../images/2021summer_event/form_notice_m.png);
        padding-bottom: 30%;
    }

    .btn_enter.summer_form {
        width: 70%;
        margin: 5% auto 10% 10%;
    }

    .e_tipe_01,
    .e_tipe_02,
    .e_tipe_bottom,
    .summer_fly_02 {
        display: none;
    }

    .summer_notice {
        padding: 8% 0;
    }

    .summer_notice ul li {
        font-size: 2.8vw;
    }

}

.newsale_footer {
    text-align: center;
    padding: 1%;
    font-size: 14px;
    color: #fff;
    background-color: #E68979;

}

@media (max-width:768px) {
    .newsale_footer {
        text-align: center;
        padding: 3%;
        font-size: 2.8vw;
        color: #fff;
        background-color: #E68979;

    }
}

.popup_wrap.summer_event {
    border: 2px solid #fff;

}

.popup.summer {
    background-color: rgba(198, 158, 98, 0.36);
}
