/* banner */
.about_banner{
  width: 100%;
  padding-top: 38.385416666%;
  background: url(../images/about/banner.jpg) center no-repeat;
  background-size: 100%;
}

/* belif歷史 */
.history_wrap{
  width: 90%;
  max-width: 1322px;
  /* height: 3470px; */
  padding: 3% 0 7% 0;
  margin: 0 auto;
  position: relative;
  /* background: url(../images/about/history_line.png) 58% 82% no-repeat; */
  /* background-size: 52%; */
}

.history_contain{
  width: 100%;
  position: relative;
}

.history_box{
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}

.history_line_svg{
  position: absolute;
  display: block;
  height: auto;
  margin: 0 auto;
}

.line{
  /* opacity: 0; */
}

.history1_line_svg{
  width: 26%;
  top: 73%;
  left: 27.5%;
}

.history2_line_svg{
  width: 18%;
  top: 89%;
  left: 29%;
}

.history3_line_svg{
  width: 17%;
  top: 94%;
  left: 42%;
}

.history4_line_svg{
  width: 27%;
  top: 96%;
  left: 37%;
}

.history5_line_svg{
  width: 42%;
  top: 92%;
  left: 26.5%;
}

.history6_line_svg{
  width: 17%;
  top: 88%;
  left: 60.5%;
}

.history7_line_svg{
  width: 38%;
  top: 66%;
  left: 24%;
}

.history8_line_svg{
  width: 53%;
  top: 68%;
  left: 26%;
}

.line_mask{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.history_1{
  z-index: 0;
}

.history_element{
  position: absolute;
  opacity: 0;
}

.history_box p{
  font-size: 1.6vw;
}

.history1_img1{
  width: 40.015128593%;
  top: -36%;
  left: 10%;
  z-index: 2;
  transform: translate3d(-30px, 0px, 0px);
}

.history1_img2{
  width: 8.245083207%;
  top: 0%;
  left: 88%;
}

.history1_word{
  width: 48%;
  padding: 5% 0;
  margin: 8% auto 0 46%;
  background-color: #cce198;
  border-radius: 50%;
  font-weight: 600;
  opacity: 0;
}

.history2_img1{
  width: 37%;
  margin: 2% 8% 0 auto;
  opacity: 0;
  transform: translate3d(20px, 0px, 0px);
}

.history2_word{
  top: 75%;
  left: 13%;
  transform: translate(0, -52%);
}

.history3_img1{
  width: 47%;
  margin: 8% auto 0 4%;
  opacity: 0;
}

.history3_word{
  top: 50%;
  left: 55%;
  transform: translate(0, -50%);
}

.history4_word{
  width: 32%;
  padding: 8% 0;
  margin: 9% auto 0 19%;
  border-radius: 50%;
  background-color: rgba(228, 40, 122, 0.46);
  opacity: 0;
  transform: scale(0.5);
}

.history4_word p{
  color: #fff;
}

.history4_img1{
  width: 22%;
  left: 55%;
  top: -30%;
}

.history4_img2{
  width: 7%;
  top: 10%;
  left: 11%;
}

.history5_img1{
  width: 22%;
  margin: 5% auto 0 19%;
  opacity: 0;
  transform: translate3d(-20px, 0, 0);
}

.history5_word{
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}

.history6_img1{
  width: 31%;
  margin: 3% 7% 0 auto;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.history6_word{
  top: 52%;
  left: 15%;
  transform: translate(0, -50%);
}

.history7_img1{
  width: 37.443267776%;
  margin: 3% 0 auto 10%;
  opacity: 0;
  transform: translate3d(0, 30px, 0);
}

.history7_word{
  top: 50%;
  left: 54%;
  transform: translate(0, -50%);
}

.history8_word{
  width: 40%;
  padding: 8% 0;
  margin: 12% auto 0 4%;
  background-color: rgba(237, 101, 0, 0.66);
  border-radius: 50%;
  opacity: 0;
}

.history8_word p{
  color: #fff;
}

.history8_img1{
  width: 46.898638426%;
  top: -25%;
  left: 38%;
  z-index: 2;
}

.history8_img2{
  width: 12.859304084%;
  top: -18%;
  left: 3%;
  transform: translate3d(10px, 10px, 0);
  z-index: 2;
}

/* 五大真實 */
.true{
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
}

.true_bg{
  width: 100%;
  padding-top: 77.916%;
  background: url(../images/about/true_bg.jpg) center no-repeat;
  background-size: 100%;
  position: relative;
}

.true_wrap{
  width: 50.520833333%;
  max-width: 970px;
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(0, -50%);
}

.true_wrap_title{
  width: 87.7%;
  position: relative;
}

.true_wrap_title.visible_object{
  opacity: 0;
}

.true_wrap_title.visible-show{
  opacity: 1;
  transition: opacity 0.4s linear;
}

.true_wrap_title img{
  opacity: 0;
}

.turelight2, .turelight3{
  position: absolute;
  top: 0;
  left: 0;
}

.true_box{
  padding: 5% 0 0 1%;
}

.true_contain{
  width: 67.010309278%;
  margin: 5% 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
}

.true_contain.visible_object{
  opacity: 0;
  transition: opacity 0.8s linear;
}

.true_contain.visible-show{
  opacity: 1;
}

.true_img{
  width: 28.615384615%;
  /* opacity: 0; */
}

.true_item{
  max-width: calc(100% - 28.615384615%);
  padding: 2px 0 0 5%;
}


.true_contain .true_item img{
  opacity: 0;
  transform: translate(0, 20px);
}

.true_contain.visible-show .true_item img{
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.4s linear,
              opacity 0.4s linear;
}

.true_item p{
  padding: 3px 0 0 6px;
  font-size: 1.2vw;
  line-height: 1.5;
  opacity: 0;
  transform: translate(0, 20px);
}

.true_contain.visible-show .true_item p{
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.6s linear,
              opacity 0.6s linear;
  transition-delay: 0.1s;
}

.true_line{
  max-width: 415px;
  top: 4%;
  opacity: 0;
  position: absolute;
}

.true_contain.visible-show .true_line{
  opacity: 1;
  transition: opacity 0.5s linear;
  transition-delay: 0.2s;
}

.true_line_1{
  width: 50.769230769%;
  left: 95%;
}

.true_line_2{
  width: 34.615384615%;
  left: 88%;
}

.true_line_3{
  width: 26.461538461%;
  left: 84%;
}

.true_line_4{
  width: 32.307692307%;
  left: 85%;
}

.true_line_5{
  width: 32.615384615%;
  left: 100%;
  top: -71%;
}

/* 加入會員 */
.member{
  width: 100%;
  padding: 5% 0;
  background-color: #deece7;
  position: relative;
}

.member_wrap{
  width: 86%;
  max-width: 1440px;
  padding: 1% 3% 2% 3%;
  margin: 0 auto;
  border-top: 10px solid #047480;
  background: #fff url(../images/about/member_bg.png) 0% 0% repeat;
  background-size: 2%;
  text-align: center;
  position: relative;
}

.member_title{
  width: 100%;
  display: inline-block;
  position: relative;
}

.member_title_img{
  width: 14.375%;
  margin: 0 auto;
  display: inline-block;
}

.member_title_en{
  width: 10.138%;
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(0, -50%);
}

.member_title h1{
  font-size: 18px;
  color: #040404;
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(0, -50%);
}

.member_contain{
  width: 100%;
}

.member_box{
  padding: 1% 0;
}

.member_item{
  width: 100%;
  position: relative;
}

.member_item_bg_1{
  width: 22.0138%;
  margin: 0 auto;
}

.member_item_bg_2{
  width: 31.597%;
  margin: 0 auto;
}

.member_item h2{
  width: 100%;
  margin-top: 0;
  font-size: 1.8vw;
  font-weight: 600;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.member_box_text{
  width: auto;
  padding: 1% 0 0 0;
  text-align: left;
  display: inline-block;
}

.member_box_count{
  padding-left: 24px;
  position: relative;
}

.member_box_count span{
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #040404;
  position: absolute;
  top: 4.5px;
  left: 0;
}

.member_deco{
  position: absolute;
}

.member_deco_1{
  width: 10.729%;
  top: 27%;
  left: 0;
}

.member_deco_2{
  width: 20.4427%;
  left: 5%;
  bottom: 0;
}

.member_deco_3{
  width: 9.0104%;
  top: 46%;
  right: 2%;
}

.member_deco_4{
  width: 13.7847%;
  top: 76%;
  left: 89%;
}

.member_deco_5{
  width: 10.1041%;
  top: 17%;
  left: 98.9%;
}

.member_deco_6{
  width: 9.5138%;
  top: -7px;
  left: 2%;
  transform: translate(0, -50%);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  svg {
    width: 100%;
  }
}

@media screen and (min-width: 1920px){
  /* 五大真實 */
  .true_item p{
    font-size: 22px;
  }
}

@media screen and (min-width: 1441px){
  /* 歷史 */
  .history_box p{
    font-size: 26px;
  }

  /* 加入會員 */
  .member_item h2{
    font-size: 27px;
  }
}

@media screen and (max-width: 1367px){
  .member_box_count span{
    top: 3px;
  }
}

@media screen and (max-width: 768px){
  /* banner */
  .about_banner{
    padding-top: 91.796875%;
    background: url(../images/about/banner_768.png) center no-repeat;
    background-size: 100%;
  }

  /* 歷史 */
  .history_wrap{
    background: none;
  }

  .history_box{
    width: 100%;
    padding: 2% 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
  }

  .history_box p {
    font-size: 20px;
  }

  .history_element{
    position: static;
    opacity: 1;
  }

  .history_line{
    width: 1.692708333%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    opacity: 0;
  }

  .history_1{
    max-width: 600px;
    margin: 0 auto;
  }

  .history1_img1{
    width: 68.880208333%;
    margin: 0 auto 0 1%;
  }

  .history1_img2{
    width: 13%;
    position: absolute;
    top: 45%;
    left: 72%;
  }

  .history1_word{
    width: 100%;
    padding: 8% 0;
    margin: -7% auto 0 auto;
    opacity: 1;
  }

  .history1_line{
    margin: -6% auto;
  }

  .history2_img1{
    width: 100%;
    max-width: 450px;
    padding-left: 5%;
    margin: 0 auto;
    opacity: 1;
  }

  .history2_word{
    width: 100%;
    padding-top: 3%;
    margin: 0 auto;
    transform: translate(0, 0);
  }

  .history3_img1{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    opacity: 1;
  }

  .history3_word{
    width: 100%;
    padding-top: 3%;
    margin: 0 auto;
    transform: translate(0, 0);
  }

  .history_4{
    max-width: 680px;
    flex-direction: row-reverse;
  }

  .history4_img1{
    width: 28%;
    margin: 0 auto 0 0;
    opacity: 1;
  }

  .history4_img2{
    width: 9%;
    position: absolute;
    top: 4%;
    left: 46%;
  }

  .history4_word{
    width: 39%;
    padding: 12% 0;
    margin: 5% auto 0 auto;
    opacity: 1;
    transform: scale(1);
  }

  .history4_line{
    margin: -3% auto;
  }

  .history_5{
    max-width: 530px;
    margin: 0 auto;
  }

  .history5_img1{
    width: 38%;
    margin: 0 auto 0 5%;
    opacity: 1;
  }

  .history5_word{
    width: 57%;
    transform: translate(0, 0);
  }

  .history5_line{
    margin: 0 auto -6% auto;
  }

  .history_6{
    flex-direction: row-reverse;
  }

  .history6_img1{
    width: 50%;
    margin: 0 auto;
    opacity: 1;
  }

  .history6_word{
    width: 48%;
    transform: translate(0, 0);
  }

  .history6_line{
    margin: -5% auto -12% auto;
  }

  .history7_img1{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .history7_word{
    width: 100%;
    padding-top: 3%;
    transform: translate(0, 0);
  }

  .history7_line{
    margin: 0 auto -7% auto;
  }

  .history8_img1{
    width: 100%;
    max-width: 500px;
    padding-right: 8%;
    margin: 0 auto;
    opacity: 1;
  }

  .history8_img2{
    width: 15%;
    position: absolute;
    top: 53%;
    left: 23%;
    transform: translate3d(0, 0, 0);
  }

  .history8_word{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    opacity: 1;
  }

  /* 5大真實 */
  .true_bg{
    padding-top: 298.307291667%;
    background: url(../images/about/true_bg_768.jpg) center no-repeat;
    background-size: 100%;
  }

  .true_wrap{
    width: 90%;
    top: 4%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .true_wrap_title{
    width: 100%;
  }

  .true_box{
    padding: 138% 0 0 0;
  }

  .true_contain{
    width: 100%;
    max-width: 500px;
    margin: 8% auto;
  }

  .true_item p{
    padding: 5% 0 0 6px;
    font-size: 17px;
  }

  /* 加入會員 */
  .member{
    padding: 8% 0;
  }

  .member_wrap{
    width: 90%;
    padding: 1% 15.5% 2% 15.5%;
  }

  .member_title_img{
    width: 29.947916666%;
  }

  .member_title_en{
    width: 27%;
    left: 9%;
  }

  .member_title h1{
    font-weight: 500;
    left: 64%;
  }

  .member_item h2{
    font-size: 26px;
  }

  .member_item_bg_1{
    width: 45.862268518%;
  }

  .member_item_bg_2{
    width: 65.827349133%;
  }

  .member_deco_2{
    width: 21%;
    left: 0;
  }

  .member_deco_3{
    width: 20.273437499%;
    top: -10%;
    z-index: 3;
  }

  .member_deco_4{
    top: 91%;
    left: 87%;
  }

  .member_deco_5{
    width: 10.72265625%;
    top: 26%;
    left: -4%;
  }
}

@media screen and (max-width: 730px){
  .member_item h2 {
    font-size: 2.9vw;
  }
}

@media screen and (max-width: 596px){
  /* history */
  .history_box p {
    font-size: 3.5vw;
  }

  .history4_word{
    width: 54%;
  }

  /* 5大真實 */
  .true_box {
    padding: 111% 0 0 0;
  }

  .true_item p{
    padding: 3% 0 0 6px;
    font-size: 2.6vw;
  }

  /* 加入會員 */
  .member_title_img{
    width: 60%;
  }

  .member_title_en{
    width: 40%;
    max-width: 110px;
    left: -12%;
  }

  .member_title h1{
    font-size: 15px;
    width: 50%;
    left: 70%;
  }

  .member_item_bg_1{
    width: 70%;
  }

  .member_item_bg_2 {
    width: 100%;
  }

  .member_item h2 {
    font-size: 4vw;
  }
}
