.privacy{
  width: 100%;
  padding: 9% 0 0 0;
}

/* 標題 */
.privacy_title{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.privacy_title h1{
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
}

.privacy_title_line{
  width: 100%;
  max-width: 450px;
  margin: 1.5% auto 1% auto;
}

.privacy_title h2{
  font-size: 22px;
  font-weight: 500;
  color: #040404;
}

/* 內容 */
.privacy_box{
  width: 100%;
  padding: 5% 0 10% 0;
  background: url(../images/reserve/skin_bg.png) top repeat-y;
  background-size: 100%;
}

.privacy_contain{
  width: 77%;
  max-width: 1180px;
  margin: 0 auto;
}

.privacy_item{
  width: 100%;
  padding: 5% 0;
}

.privacy_name{
  color: #3aa6e6;
  font-size: 24px;
  letter-spacing: 1px;
  padding: 0px 0 1% 35px;
  position: relative;
}

.privacy_name::before{
  content: '';
  width: 40px;
  height: calc(40px * 1.01886792453);
  display: inline-block;
  position: absolute;
  top: -13px;
  left: 0;
  background: url(../images/privacy/icon.png) center no-repeat;
  background-size: 100%;
}

.privacy_word{
  color: #555;
  font-size: 16px;
  letter-spacing: 0;
}

.privacy_word a{
  color: #3aa6e6;
  display: inline-block;
}

.privacy_word a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 768px){
  /* 標題 */
  .privacy_title h1{
    width: 85%;
    max-width: 300px;
  }

  .privacy_title_line{
    margin: 3% auto 3.2% auto;
  }

  .privacy_title h2{
    font-size: 20px;
  }

  /* 內容  */
  .privacy_box{
    background: none;
  }

  .privacy_contain{
    width: 90%;
  }

  .privacy_name{
    font-size: 20px;
    padding: 0px 0 1% 30px;
  }

  .privacy_name::before{
    width: 34px;
    height: calc(34px * 1.01886792453);
    top: -11px;
  }

  .privacy_word{
    font-size: 15px;
  }
}

@media screen and (max-width: 414px){
  .privacy_title h2 {
    font-size: 16px;
  }

  .privacy_item{
    padding: 7% 0;
  }

  .privacy_box{
    padding: 10% 0;
  }
}
