@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

section {
    display: inline-block;
    width: 100%;
    position: relative;
}

/* Slider css*/
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider style*/
/*.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
*/
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 4%;
    height: 0px;
    padding-bottom: 4%;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 8;
}

.slick-prev:hover,
.slick-prev:focus {
    color: transparent;
    outline: none;
    opacity: 1;
}

.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 1%;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '';
}

[dir='rtl'] .slick-prev:before {
    content: '';
}

.slick-next {
    right: 1%;
}

[dir='rtl'] .slick-next {
    right: auto;
    right: 1%;
}

.slick-next:before {
    content: '';
}

[dir='rtl'] .slick-next:before {
    content: '';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: absolute;
    bottom: 8%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 3%;
    height: 0;
    margin: 0 1%;
    padding: 0 0 3% 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
    margin: 0 auto;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    content: '';
    text-align: center;
    opacity: 1;
    color: #818181;
    background-color: #818181;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 200%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #343434;
    background-color: #343434;
    width: 100%;
}

/*動畫*/

@keyframes light {
    0% {
        left: -100%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 150%;
        opacity: 0
    }

    to {
        left: 150%;
        opacity: 0
    }
}

@keyframes lingtb {
    0% {
        left: -50%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 130%;
        opacity: 0
    }

    to {
        left: 130%;
        opacity: 0
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1.0);
    }

    50% {
        transform: rotate(180deg) scale(0.7);
    }
    100%{
        transform: rotate(360deg) scale(1.0);
    }
}

@keyframes rotate2 {
     0% {
        transform: rotate(0deg) scale(1.0);
    }

    50% {
        transform: rotate(-180deg) scale(0.7);
    }
    100%{
        transform: rotate(-360deg) scale(1.0);
    }
}


@keyframes bg {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes bg2 {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1.0;
    }
}


/*layout*/
html {
    overflow-x: hidden;
    overflow-y: scroll;
    color: #3d3d3d;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", Helvetica;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

img {
    width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 760px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width:760px) {
    .wrapper {
        box-shadow: none;
    }
}

/*menu*/
.btn_menu {
    display: block;
    width: 8%;
    max-width: 66px;
    position: fixed;
    top: 2%;
    padding-left: 2%;
    z-index: 14;
    cursor: pointer;
}

.btn_gotop {
    position: fixed;
    width: 100%;
    height: 8%;
    z-index: 11;
    max-width: 760px;
    bottom: 4%;
    text-align: right;
}

.btn_gotop img {
    position: absolute;
    width: 15%;
    max-width: 67px;
    bottom: 20%;
    right: 2%;
    cursor: pointer;
}

.btn_buynow {
    display: none;
    position: fixed;
    bottom: 1%;
    width: 40%;
    max-width: 300px;
    margin-left: 1%;
    z-index: 11;
}

.menu {
    position: fixed;
    z-index: 13;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100vh;
    max-width: 760px;
    text-align: center;
    display: none;
}

.menu.click {
    display: block;
}

.menu ul {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu ul li {
    height: 6.5vh;
    margin: 0 auto 2.5vh auto;
}

.menu ul li img {
    height: 100%;
    width: auto;
}

.bg_pc {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(../img/BG.jpg);
    background-size: cover;
    top: 0;
    left: 0;
    animation: bg 5s ease infinite;
}
@media (max-width:760px) {
    .menu ul li {
        width: 65%;
        height: auto;
        margin: 0 auto 4% auto;
    }

    .menu ul li img {
        height: auto;
        width: 100%;
    }
    
    .bg_pc{
        display: none;
    }
    
    .btn_gotop {
        bottom: 1%;
    }

    .btn_gotop img {
        width: 10.5%;
        max-width: 10.5%;
        bottom: 21%;
        right: 3%;
    }
}

/*主視覺*/
#KENEBO {
    overflow: hidden;
    padding-bottom: 8%;
}

.kv {
    position: relative;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.kv img {
    margin-bottom: -2px;
}

.kv h1 {
    position: absolute;
    bottom: 4%;
    width: 100%;
    height: 0;
    padding-bottom: 11%;
    line-height: 100;
    text-indent: -100%;
    font-size: 0;
    left:0%;
    overflow: hidden;
    background-image: url(../img/kv_word.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
     -webkit-mask-image:url(../img/kv_word.png);
    mask-image: url(../img/kv_word.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    margin-top: 2%;
}

.kv h1::before {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -70%;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .7) 60%, hsla(0, 0%, 100%, 0));
    transform: skewX(-45deg);
    animation: light 8s linear 0s infinite normal;
    z-index: 2;
}

.kv_banner_01 .slick-dots,
.kv_banner_02 .slick-dots{
    bottom: 2%;
}

.banner_01,
.banner_02,
.banner_03,
.banner_04 {
    width: 100%;
    z-index: 2;
}

.bg_01 {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    animation: bg2 5s ease infinite;
}

/*佳麗寶_02*/
#KENEBO_02 {
    position: relative;
    z-index: 3;
    padding-top: 14.8%;
    padding-bottom: 10%;
    overflow: hidden;
	margin-top: -20%;
}

.add_gift {
    background-image: url(../img/add_gift_01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 0;
    padding-bottom: 34%;
    position: relative;
    z-index: 3;
}

.add_gift img {
    width: 31.2%;
    position: absolute;
    right: 0.5%;
    top: -20%;
    ;
}

.bg_02 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.bg_02 img:first-child {
    animation: bg2 5s ease infinite;
}


@keyframes flymove {
    0% {
        transform: translateY(10%) scale(1.0);
    }

    50% {
        transform: translateY(-10%) scale(0.9);
    }

    100% {
        transform: translateY(10%) scale(1.0);;
    }
}

@keyframes flymove2 {
    0% {
        transform: translateY(-10%) scale(1.0);
    }

    50% {
        transform: translateY(10%) scale(0.9);

    }

    100% {
        transform: translateY(-10%) scale(1.0);
    }
}

.flymove {
    animation-name: flymove;
    animation-timing-function: ease-in-out;
}

.flymove2 {
    animation-name: flymove2;
    animation-timing-function: ease-in-out;
}

@keyframes colormove {
    0% {
        opacity: 1.0;
        transform: translate(-5%, -2%) rotate(5deg);
    }

    50% {
        opacity: 0.5;
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        opacity: 1.0;
        transform: translate(-5%, -2%) rotate(5deg);
    }
}

@keyframes colormove2 {
    0% {
        opacity: 1.0;
        transform: translate(5%, 2%) scale(1.05) rotate(-3deg);
    }

    50% {
        opacity: 0.5;
        transform: translate(0, 0) scale(1.0);
    }

    100% {
        opacity: 1.0;
        transform: translate(5%, 2%);
        transform: translate(5%, 2%) scale(1.05) rotate(-3deg);
    }
}

.color_01 {
    width: 24%;
    position: absolute;
    z-index: 3;
    top: 58%;
    left: 0;
    animation: colormove 8s ease infinite;
    transform-origin: left top;
}

.color_02 {
    position: absolute;
    width: 45%;
    z-index: 3;
    right: 0;
    bottom: 5%;
    animation: colormove2 8s ease infinite;
    transform-origin: right top;
}


.DEW_logo {
    position: absolute;
    width: 25%;
    left: 37.55%;
    top: 10%;
}

.banner_05,
.banner_06,
.banner_07,
.banner_08 {
    z-index: 3;
}

.bg_03 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg_03 div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1%;
    left: 0;
}

.bg_03 img {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 128%;
}

.bg_03 img:first-child {
    animation: bg2 5s ease infinite;
}

.kanebo_logo {
    position: absolute;
    width: 32%;
    left: 34%;
    bottom: 5%;
}

.bg_04 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg_04 img {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 128%;
}

.bg_04 img:first-child {
    animation: bg2 5s ease infinite;
}

img.leaf_01 {
    width: 26%;
    top: 42%;
    animation: colormove 10s ease infinite;
    transform-origin: left top;
}

img.leaf_02 {
    width: 26%;
    top: -2%;
    left: 75%;
    animation: colormove2 10s ease infinite;
    transform-origin: right top;
}

#ALLIEsuisai {
    padding-bottom: 10%;
	z-index: 5;
	position: relative;
}

#ALLIEsuisai .kv {
    box-shadow: none;
}

#ALLIEsuisai .kv div {
    position: relative;
}

.kv_bg {
    position: relative;
    z-index: 2;
}


.ico_no,
.no_word {
    position: absolute;
    z-index: 3;
}

.ico_no {
    width: 12%;
    left: 33%;
    bottom: 19%;
}

.no_word {
    width: 58%;
    background-image: url('../img/no_word.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-mask-image: url('../img/no_word.png');
    mask-image: url('../img/no_word.png');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    height: 0;
    padding-bottom: 7%;
    line-height: 100;
    overflow: hidden;
    text-indent: -100%;
    bottom: 12.5%;
    left: 33%;
}

.light::before {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -70%;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .7) 60%, hsla(0, 0%, 100%, 0));
    transform: skewX(-45deg);
    animation: light 8s linear 0s infinite normal;
    z-index: 2;
}

.bg_05 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: bg2 8s ease infinite;
}

.bg_05 img {
    position: absolute;
    bottom: 0;
}

.bg_06 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bg_06 img {
    position: absolute;
}

#LUNASOL {
    padding-bottom: 10%;
	z-index: 4;
	position: relative;
	margin-top: -22.5%;
}

.banner_09,
.banner_10,
.banner_11 {
    position: relative;
    z-index: 3;

}

.icon_new {
    width: 1.5%;
    position: absolute;
    animation: updown 1.5s infinite;
    top: 21%;
    padding-left: 7.6%;
}

.bg_07 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#gift {
    margin-top: -5%;
    padding-top: 12.5%;
	z-index: 3;
}

#gift img {
    display: inline-block;
    font-size: 0;
    vertical-align: bottom;
}

.gift_title,
.gift_01,
.gift_02,
.gift_03,
.gift_04 {
    position: relative;
    z-index: 2;
    text-align: center;
}

.price {
    width: 22%;
}

.pic_01 {
    width: 62%;
}

.pic_02 {
    width: 59%;
}

.gift_01 {
    margin-top: -20%;
}

.gift_01 .price {
    margin-bottom: 16%;
}

.gift_01 .pic_02 {
    margin-right: 16%;
    margin-top: -1.5%;
}

.gift_03 .price {
    margin-right: 7%;
    margin-bottom: 22%;
}

.gift_03 .pic_01 {
    width: 44%;
    margin-top: 12%;
}

.gift_03 .pic_02 {
    width: 74%;
    margin-top: 1.9%;
    margin-left: 20%;
}

.gift_04 .price {
    margin-right: -5%;
    margin-left: 10%;
    margin-bottom: 22%;
}

.gift_04 .pic_01 {
    width: 62%;
    margin-top: 5%;
}

.gift_04 .pic_02 {
    width: 65%;
    margin-top: 0%;
    margin-left: -5%;
}

.notice {
    width: 95%;
    margin-top: 15%;
    margin-left: 2.5%;
    text-align: center;
    padding-bottom: 20%;
    position: relative;
    z-index: 5;
}

.link_01 {
    position: absolute;
    width: 28%;
    height: 12%;
    top: 22%;
    left: 53%;
}

.link_02 {
    position: absolute;
    width: 30%;
    height: 12%;
    top: 49%;
    left: 70%;
}

.f_01 {
    width: 5%;
    top: 2% !important;
    left: 1% !important;
    animation: rotate 10s infinite linear;
}

.f_02 {
    width: 3%;
    top: 1% !important;
    left: 1% !important;
    animation: rotate2 5s infinite linear;
}

.f_03 {
    width: 7%;
    top: 20% !important;
    left: auto !important;
    right: 5% !important;
    animation: rotate 5s infinite linear;
}


.f_04 {
    width: 5%;
    top: 17.5% !important;
    left: auto !important;
    right: 4% !important;
    animation: rotate2 5s infinite linear;
}

.f_05 {
    width: 4%;
    top: 19.05% !important;
    left: auto !important;
    right: 5% !important;
    animation: rotate 5s infinite linear;
}

.f_06 {
    width: 3%;
    top: 19% !important;
    left: auto !important;
    right: 9.5% !important;
    animation: rotate 5s infinite linear;
}

.f_07 {
    width: 3%;
    top: 18.8% !important;
    left: auto !important;
    right: 14.5% !important;
    animation: rotate2 5s infinite linear;
}

.f_08 {
    width: 7%;
    top: 39% !important;
    left: auto !important;
    right: 14% !important;
    animation: rotate2 5s infinite linear;
}

.f_09 {
    width: 4%;
    top: 54% !important;
    left: 5% !important;
    animation: rotate 5s infinite linear;
}

.fly_01 {
    width: 12%;
    right: 10% !important;
    top: 31.5% !important;
}

.fly_02 {
    width: 8%;
    right: 83% !important;
    top: 47% !important;
}

.fly_03 {
    width: 15%;
    right: 66% !important;
    top: 63% !important;
}

.fly_04 {
    width: 9%;
    right: 3% !important;
    top: 66% !important;
}

.inner_kv_01-1,.inner_kv_01-2,.inner_kv_02-1 ,.inner_kv_02-2,.inner_kv_02-3 {
    height: 0;
    padding-bottom: 128%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.inner_kv_01-1 img,.inner_kv_01-2 img{
    position: absolute;
}
.inner_kv_01-1 img:nth-child(1){
    width: 24%;
    top: 64%;
    left: 61%;
}
.inner_kv_01-1 img:nth-child(2){
    width: 30%;
    top: 89%;
    left: 60%;
}

.kv_bg_01-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.suisai_center {
    width: 18.6%;
    left: 39%;
    top: 18%;
}
.slick-active .suisai_center{
    animation: zoomIn 0.8s ease;
}

.suisai_product {
    width: 50%;
    left: 2%;
    z-index: 2;
    top: 50%;
}

.icon_suisai_new {
    width: 18%;
    height: 0;
    padding-bottom: 18%;
    position: absolute !important;
    top: 59%;
    left: 12%;
    z-index: 1;
    -webkit-mask-image: url('../img/icon_new.png');
    -webkit-mask-image: url('../img/icon_new.png');
    mask-image: url('../img/icon_new.png');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
}

.icon_01 {
    width: 25%;
    left: 37.5%;
    height: 0;
    padding-bottom: 22.4%;
    margin-top: 1%;
    -webkit-mask-image: url('../img/icon_01.png');
    -webkit-mask-image: url('../img/icon_01.png');
    mask-image: url('../img/icon_01.png');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    z-index: 1;
}
.slick-active .icon_01::before,.slick-active .icon_suisai_new::before{
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -70%;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .7) 60%, hsla(0, 0%, 100%, 0));
    transform: skewX(-45deg);
    animation: light 8s linear 0s infinite normal;
    z-index: 2;
}


.slick-active .allie_logo {
    animation:fadeInUp 0.8s ease;
}
.kv_banner_02 div{
    position: relative;
}
.kv_banner_02 div img{
    z-index: 1;
    position: absolute;
}
.inner_kv {
    position: absolute;
    width:100%;
    height: 0;
    padding-bottom: 128%;
    left: 0;
    top: 0;
    z-index: 5;
}

.kv_logo {
    width:86%;
    position: absolute !important;
    left: 7%;
    top: 69%;
}
.slick-active .kv_logo,.slick-active .icon_banner img{
    animation: slideInUp 1s ease;
}

.lunasol {
    top: 60%;
}
.icon_banner_outer{
    position: absolute !important;
    top: 0%;
    z-index: 3;
}
.icon_banner {
    width: 25%;
    height: 0;
    padding-bottom: 26%;
    top: 53%;
    position: absolute !important;
    overflow: hidden;
    left: 5%;
}

.kv_word {
    position: absolute !important;
    z-index: 3;
    width: 68%;
    height: 0;
    padding-bottom:8.8%;
    background-image: url('../img/logo_coffret.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-mask-image: url('../img/logo_coffret.png');
    -webkit-mask-image: url('../img/logo_coffret.png');
    mask-image: url('../img/logo_coffret.png');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    left: 16%;
    top: 87%;
}
.slick-active .kv_word::before {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -70%;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .8)), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .8) 60%, hsla(0, 0%, 100%, 0));
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    -webkit-animation: lingtb 4s linear 0s infinite normal;
    animation: lingtb 4s linear 0s infinite normal;
    z-index: 2;
}
.banner_08 > div{
    position: relative;
}
.icon_no1 {
  z-index: 4;
  width: 1.5%;
  position: absolute;
  top: 23%;
  padding-left: 0.4%;
}


/*kol_banner*/
.kol_01 {
	position: relative;
	z-index: 2;
	background-image: url(../img/banner_bg_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 5% 0;
    margin-top: 8%;
}
.kol_10 .banner,.kol_01 .banner
{
	margin-top: 5%;
	margin-bottom: 5%;
}
.kol_10 {
	position: relative;
	width: 100%;
	background-image: url(../img/banner_02_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 5% 0;
    margin-top: 8%;
}
.kol_11 {
	position: relative;
	z-index: 5;
	display: block;
	margin-top: 8%;
}


