@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

section {
	display: inline-block;
	width: 100%;
	position: relative;
}

img {
	width: 100%;
}

/* Slider css*/
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/* Slider style*/
/*.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
*/
/* Arrows */
.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	display: block;
	width: 10%;
	height: 0px;
	padding-bottom: 15%;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 8;
}

.slick-prev {
	background-image: url(../img/arrow-back.png);
	background-size: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
}

.slick-next {
	background-image: url(../img/arrow-forward.png);
	background-size: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
}

.slick-prev:hover,
.slick-prev:focus {
	color: transparent;
	outline: none;
	opacity: 1;
}

.slick-next:hover,
.slick-next:focus {
	color: transparent;
	outline: none;
	opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 1;
}

.slick-prev:before,
.slick-next:before {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: -15%;
}

[dir='rtl'] .slick-prev {
	right: -25px;
	left: auto;
}

.slick-prev:before {
	content: '';
}

[dir='rtl'] .slick-prev:before {
	content: '';
}

.slick-next {
	right: -15%;
}

[dir='rtl'] .slick-next {
	right: auto;
	right: 1%;
}

.slick-next:before {
	content: '';
}

[dir='rtl'] .slick-next:before {
	content: '';
}

/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.slick-dots {
	position: absolute;
	bottom: 7.5%;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 3%;
	height: 0;
	margin: 0 2%;
	padding: 0 0 0 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 90%;
	height: 0;
	padding-bottom: 90%;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
	position: relative;
	margin: 0 auto;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	content: '';
	text-align: center;
	opacity: 1;
	color: #818181;
	background-color: #818181;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 200%;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.5s;
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	color: #343434;
	background-color: #343434;
	width: 100%;
}

/*layout*/
html {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #C8C8C8;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

html,
body {
	font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", Helvetica;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
.wrapper {
	background-color: #fff;
	max-width: 768px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	color: #554640;
    box-shadow: 0px -1px 20px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px -1px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px -1px 20px 0px rgba(0,0,0,0.1);
}

.header {
	position: fixed;
	max-width: 768px;
	width: 100%;
	background-color: #fff;
	text-align: center;
	padding: 35px 0;
	z-index: 100;
}

.header a,
.header div {
	display: inline-block;
	vertical-align: middle;
}

.logo {
	display: inline-block;
	width: 30.07%;
}

.btn_menu {
	width: 7.8%;
	height: 0;
	padding-bottom: 7%;
	position: absolute;
	background-image: url(../img/menu_btn.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	top: 50%;
	left: 6%;
	transform: translateY(-50%);
	transition: all 0.3s ease;
}
.btn_menu.active{
	background-image: url(../img/icon_arrow.png);
	background-size:auto 100%;
	background-position: center;
}

.language_btn {
	position: absolute;
	width: 7.8%;
	right: 6%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 4;
}

.language_list {
	background-color: rgba(33, 27, 25, 0.7);
	position: absolute;
	width: 7.8%;
	height: 0;
	padding-top: 0;
	padding-bottom: 7.8%;
	overflow: hidden;
	right: 6%;
	top: 29%;
	z-index: 2;
	border-radius: 100em;
	opacity: 0;
	transition: all 0.5s ease;
}

.language_list.active {
	height: auto;
	padding-top: 9%;
	padding-bottom: 2%;
	opacity: 1.0;
}

.language_list a {
	width: 80%;
}

/*menu_list*/
@keyframes slide{
    0%{
        margin-left: 300%;
    }
    10%{
        margin-left: 300%;
    }
    100%{
        margin-left: 0%;
    }
}
.nav{
    position: fixed;
    z-index: 50;
    width: 100%;
	max-width: 768px;
    overflow: hidden;
    display:none;
}
.nav.click{
    display: block;
}
.nav_list {
	position:relative;
	width: 100%;
	max-width: 768px;
	z-index: 99;
	text-align: center;
	background-color: rgba(169, 149, 96, 0.84);
	color: #fff;
	font-size: 32px;
	font-weight: 300;
	padding-bottom: 2%;
	margin-top: 130px;
    margin-left: 300%;
}
.nav_list.click {
    animation-name: slide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.nav_list li.dark_bg {
	padding: 3% 0;
	background-color: #554640;
	filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}

.nav_list li:nth-child(4) {
	margin-top: 1%;
}

.nav_list li a {
	color: #fff;
	display: block;
	width: 95%;
	border-bottom: 1px solid #fff;
	margin: 0 auto;
	padding: 3% 0;
}

.main_cont {
	position: relative;
	z-index: 0;
	padding-top: 130px;
}

@media (max-width:768px) {
	.nav_list {
		margin-top: 18%;
		font-size: 5vw;
	}
	.main_cont {
		position: relative;
		z-index: 0;
		padding-top: 130px;
	}
}

/*top_banner*/
.top_banner .slick-dots li button:before {
	color: #c8c8c8;
	background-color: #c8c8c8;
	border: 4px solid #c8c8c8;
}

.slick-dots li.slick-active button:before {
	color: #343434;
	background-color: #554640;
	width: 100%;
	border: 4px solid #c8c8c8;
}

.top_banner div {
	position: relative;
}

.top_banner div p {
	position: absolute;
	font-size: 50px;
	line-height: 1.4;
	color: #fff;
	background-color: rgba(112, 112, 112, 0.7);
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
	opacity: 0;
}

.top_banner_01 {
	position: relative;
}

.top_banner_01.slick-active p {
	right: 3%;
	top: 54%;
	text-align: right;
	animation-delay: 0.3s;
	animation-name: fadeInRight;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	padding: 2%;
}

.top_banner_02.slick-active p {
	left: 3%;
	top: 56%;
	text-align: left;
	animation-delay: 0.3s;
	animation-name: fadeInLeft;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	padding: 2% 10% 2% 4%;
}

.top_banner_03.slick-active p {
	left: 3%;
	top: 26%;
	text-align: left;
	animation-delay: 0.3s;
	animation-name: fadeInLeft;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	padding: 2% 13% 2% 4%;
}

.top_banner_04.slick-active p {
	left: 3%;
	top: 38%;
	text-align: left;
	animation-delay: 0.3s;
	animation-name: fadeInLeft;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	padding: 2% 13% 2% 4%;
}

@media (max-width:768px) {
	.header {
		padding: 5% 0;
	}

	.main_cont {
		padding-top: 16%;
	}

	.top_banner div p {
		font-size: 7.5vw;
	}
}

/*文字介紹*/
.intro {
	background-color: #A99560;
	font-size: 24px;
	color: #fff;
	line-height: 1.8;
	box-sizing: border-box;
	padding: 5% 10%;
	font-weight: 300;
}

@media(max-width:768px) {
	.intro {
		font-size: 3.4vw;
	}
}

/*基本內容*/
.inner_cont {
	box-sizing: border-box;
	padding: 24% 26%;
	text-align: center;
}

.inner_cont a,.btn_back{
	display: inline-block;
	color: #fff;
	font-size: 28px;
	background-color: #A99560;
	font-weight: 300;
	width: 100%;
	padding: 6% 0;
	border-radius: 100em;
	transition: 0.5s ease;
	filter: brightness(1.0);
	text-align: center;
}

.inner_cont a:hover,.btn_back:hover {
	filter: brightness(1.1);
}

.inner_cont div p {
	color: #707070;
	line-height: 1.5;
	font-size: 28px;
	text-align: justify;
	margin: 4% auto 8% auto;
}

.our_team {
	margin-top: 50%;
}

@media (max-width:768px) {

	.inner_cont a,.btn_back,
	.inner_cont div p {
		font-size: 3.8vw;

	}
}

/*服務內容*/
.service {
	width: 65%;
	margin: 0 auto 20% auto;
}

.service span {
	position: relative;
	display: block;
	width: 100%;
	font-size: 40px;
	text-align: center;
	padding: 4% 0;
	border-radius: 1em 1em 0 0;
	background-color: rgba(200, 200, 200, 0.83);
	color: #554640;
	margin-top: -11%;
	z-index: 5;
}

.service_title {
	width: 90%;
	position: relative;
	z-index: 0;
	margin: 0 auto;
}

.service_banner div {
	position: relative;
}

.service_banner p {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 0;
	color: #fff;
	background-color: #A99560;
	line-height: 1.5;
	font-weight: 200;
	font-size: 26px;
	padding: 5% 8% 80% 8%;
	text-align: justify;
}

.service_banner p b {
	font-weight: 400;
}

.service_banner p a {
	position: absolute;
	width: 30%;
	display: block;
	right: 6%;
	bottom: 5%;
}

@media (max-width:768px) {

	.service span {
		font-size: 4.2vw;
	}

	.service_banner p {
		font-size: 3.4vw;
		padding: 5% 8% 70% 8%;
	}
}

/*footer*/
footer {
	background-color: #A99560;
	color: #fff;
	font-weight: 200;
	padding: 3% 0;
}

footer div {
	width: 95%;
	position: relative;
	margin: 0 auto;
}

.footer_top {
	text-align: left;
}

.logo_s {
	width: 16%;
	margin: 0 4%;
	display: inline-block;
	vertical-align: middle;
}

.footer_top p {
	font-size: 24px;
	display: inline-block;
	line-height: 1.5;
	vertical-align: middle;
	letter-spacing: 2px;
}

.footer_bottom {
	margin-top: 3%;
	text-align: center;
	font-size: 20px;
}

.footer_bottom p {
	display: inline-block;
}

.footer_bottom a {
	color: #fff;
	display: inline-block;
	text-decoration: underline;
	float: right;
	padding-right: 5%;
	padding-left: 3%;
	border-left: 1px solid #fff;
}

@media (max-width:768px) {
	.footer_top p {
		font-size: 3vw;
		letter-spacing: 0.2vw;
	}

	.footer_bottom {
		font-size: 2.6vw;
	}

	.footer_bottom a {
		padding-right: 7%;
		padding-left: 2%;
	}
}

/*免責聲明*/
.disclaimer_cont{
	width: 100%;
	box-sizing: border-box;
	padding:20% 8%;
}
.disclaimer_cont span{
	display: block;
	margin: 10% auto;
	font-size: 40px;
	text-align: center;
	font-weight: 600;
}
.disclaimer_cont p{
	font-size: 24px;
	text-align: justify;
	line-height: 1.5;
	font-weight: 300;
}
.btn_back{
	display: block;
	width: 52%;
	padding: 4% 0;
	margin: 20% auto 0 auto;
}
@media (max-width:768px) {
	.disclaimer_cont span{
		font-size:5vw ;
	}
	.disclaimer_cont p{
		font-size: 3vw;
	}
}
/*關於我*/
.inner_banner{
	width: 100%;
	position: relative;
}
.inner_banner span{
	display: block;
	font-size:48px;
	color: #fff;
	position: absolute;
	text-shadow: -5px 0px 6px rgba(0, 0, 0, 0.4);
	padding: 2% 5%;
	top: 37.5%;
	left: 8%;
	transform: translateY(-50%);
	z-index: 5;
	opacity: 0;
	animation-delay: 0.3s;
	animation-name: fadeInDown;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.black_bg{
	width: 35%;
	height: 20%;
	position: absolute;
	display: block;
	background-color: rgba(112, 112, 112, 0.7);
	z-index: 0;
	left: 0;
	top: 0;
	top: 39.5%;
	left: 8%;
	opacity: 0;
	transform: translateY(-50%);
	animation-delay: 0.3s;
	animation-name: fadeInLeft;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.black_bg.sd{
	width: 47.5%;
}
.inner_word_cont{
	box-sizing: border-box;
	padding: 10% 8%;
	font-size: 24px;
	text-align: justify;
	line-height: 1.5;
	font-weight: 300;
}
.inner_word_cont p b{
	font-weight: 600;
}
.inner_word_cont span{
	display: block;
	margin: 5% auto;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}
.inner_word_cont ul li{
	list-style: disc;
	width: calc( 100% - 2em);
	margin-bottom: 5%;
	margin-left:2em;
}
.inner_word_cont .btn_back{
	margin-top: 10%;
    padding: 2% 0;
}
@media (max-width:768px) {
	.inner_banner span{
		font-size:6.25vw;
	}
	.inner_word_cont{
		font-size: 3vw;
	}
	.inner_word_cont span{
		font-size: 3.9vw;
	}
}
/*專業團隊*/
.team_img{
	display: block;
	width: 72%;
	margin: 4% auto 0 auto;
}
/*家族需求*/
.demand_img{
	display: block;
	width: 78%;
	margin: 4% auto 10% auto;
}
.family_cont{
	text-align: center;
}
/*解決方案*/
.resolution_title{
	margin-top: 0 !important;
}
.resolution_img{
	display: block;
	width: 79%;
	margin: 4% auto 10% auto;
}
.list{
	width: 78%;
	margin: 13% auto 5% auto;
}
.list img{
	margin-bottom: 2%;
}
/*永續發展*/
.sd_img{
	display: block;
	width: 61%;
	margin: 0 auto 5% auto;
}