@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");

html,
body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden !important;
}

/*action*/
@-webkit-keyframes updown2 {
    0% {
        transform: translateY(3%);
    }

    100% {
        transform: translateY(-3%);
    }
}

@keyframes updown2 {
    0% {
        transform: translateY(3%);
    }

    100% {
        transform: translateY(-3%);
    }
}

.updown2 {
    animation-name: updown2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-timing-function: linear;
}


@-webkit-keyframes bb {
    0% {
        filter: drop-shadow(0px 3px 0px rgba(21, 114, 196, 0.68));

    }

    100% {
        filter: drop-shadow(0px 3px 21px rgba(21, 114, 196, 0.68));

        opacity: 1;
    }
}

@keyframes bb {
    0% {
        filter: drop-shadow(0px 3px 0px rgba(21, 114, 196, 0.68));

    }

    100% {
        filter: drop-shadow(0px 3px 21px rgba(21, 114, 196, 0.68));

        opacity: 1;
    }
}

.bb {
    animation-name: bb;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-timing-function: linear;
}


@-webkit-keyframes updown {
    0% {
        transform: translateY(2%);
    }

    100% {
        transform: translateY(-2%);
    }
}

@keyframes updown {
    0% {
        transform: translateY(2%);
    }

    100% {
        transform: translateY(-2%);
    }
}

.updown {
    animation-name: updown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes shine {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    50% {
        opacity: 1.0;
        transform: scale(2.0);
    }

    to {
        opacity: 0;
        transform: scale(0.6);
    }
}

.shine {
    animation-name: shine;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes fadeA {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

.fadeA {
    animation-name: fadeA;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fadeB {
    0% {
        opacity: 0.8;
        transform: scale(1);
        filter: blur(0px);
    }

    50% {
        opacity: 1.0;
        transform: scale(1.05);
        filter: blur(4px);
    }

    100% {
        opacity: 0.8;
        transform: scale(1);
        filter: blur(0px);
    }
}

.fadeB {
    animation-name: fadeB;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fadeC {
    0% {
        opacity: 0.8;
        transform: translateY(0%);

    }

    50% {
        opacity: 0.2;
        transform: translateY(-5%);

    }

    100% {
        opacity: 0.8;
        transform: translateY(0%);

    }
}

.fadeC {
    animation-name: fadeC;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


@-webkit-keyframes a {
    0% {
        left: -100%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 150%;
        opacity: 0
    }

    to {
        left: 150%;
        opacity: 0
    }
}

@keyframes a {
    0% {
        left: -100%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 150%;
        opacity: 0
    }

    to {
        left: 150%;
        opacity: 0
    }
}

.s_light:before {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: -70%;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    -webkit-animation: a 10s linear -10s infinite normal;
    animation: a 10s linear -10s infinite normal;
    content: "";
    z-index: 2;
    display: block;
}


/*input*/
input,
button,
textarea,
select,
option {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: none;
    border: 0;
    border-radius: 100em;
    background-color: transparent;
    color: #000;
    font-family: 'Noto Serif TC', sans-serif !important;
    letter-spacing: 1px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

textarea:focus,
input:focus {
    outline: none;
}

* {
    outline: none;
}

section {
    width: 100%;
    position: relative;
    display: block !important;
}

select::-ms-expand {
    display: none;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/illuminating_refining_essence/btn_arrow.png") no-repeat scroll 95% center transparent !important;
    background-size: auto 30%;
    border: 0;
    border-radius: 100em;
    background-color: transparent;
    color: #b8b5b5;
    padding-left: 2%;
}

option::-ms-expand {
    display: none;
}

option {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari 和 Chrome */
    appearance: none;
    background-color: #fff;
    color: #000;
    letter-spacing: 1px;

}

option:hover {
    background-color: #e8e8e8;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #b8b5b5;
    outline: none;
    border: 0;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b8b5b5;
    outline: none;
    border: 0;
}

::placeholder {
    color: #b8b5b5;
    outline: none;
    border: 0;
}

input:focus::-webkit-input-placeholder {
    color: #000;
    outline: none;
    border: 0;
}

input:focus:-moz-placeholder {
    color: #000;
    outline: none;
    border: 0;
}

input:focus:-ms-input-placeholder {
    color: #000;
    outline: none;
    border: 0;
}

/*illuminating_kv*/
.illuminating_wrap {
    position: relative;
    width: 100%;
    background-color: #e9f1f8;
}

.illuminating_wrap input {
    outline: none;
    border: 0 !important;
}

.illuminating_wrap h1,
.illuminating_wrap h2,
.illuminating_wrap h3 {
    overflow: hidden;
    display: block;
    height: 0;
    text-indent: -999px;
    line-height: 100;
    background-size: 100%;
    background-repeat: no-repeat;
}

.illuminating_kv {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 109% !important;
    background-image: url(../images/illuminating_refining_essence/kv_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.kv_img {
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 0;
    left: 0;
}

.illuminating_title {
    position: relative;
    z-index: 2;
    width: 42.18%;
    margin: 4% auto 0 20%;
}

.illuminating_title h1 {
    position: relative;
    background-image: url(../images/illuminating_refining_essence/sub.png);
    width: 62.96%;
    padding-bottom: 16%;
    z-index: 2;
    margin: 0 auto;
}

.illuminating_title span {
    position: relative;
    display: block;
    height: 0;
    background-image: url(../images/illuminating_refining_essence/title.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 23%;
    z-index: 2;
    line-height: 100;
    text-indent: -999px;
    margin: -4% auto 0 -1%;
    -webkit-mask-image: url(../images/illuminating_refining_essence/title.png);
    mask-image: url(../images/illuminating_refining_essence/title.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.new {
    width: 38%;
    position: absolute;
    z-index: 1;
    left: -20%;
    top: -0.5%;
}

.illuminating_battle {
    position: absolute;
    width: 20%;
    height: 0;
    padding-bottom: 40%;
    top: 10%;
    right: 25%;
}

.illuminating_battle img {
    position: absolute;
}

.illuminating_light_01 {
    width: 45%;
    top: -9.4%;
    left: 36%;
}

.illuminating_light_02 {
    width: 42%;
    top: 37%;
    left: 3%;
}

.illuminating_ch {
    width: 40.3%;
    position: absolute;
    top: 30%;
    left: 5.5%;
    z-index: 10 !important;
}

.deco_01 {
    position: absolute;
    width: 49.3%;
    top: 53%;
    left: 0;
    z-index: 11 !important;
}

.illuminating_keypoint {
    position: absolute;
    width: 43%;
    top: 46%;
    left: 45%;
}

.illuminating_keypoint h2 {
    width: 93%;
    padding-bottom: 24%;
    z-index: 2;
    margin: 0 auto;
    background-image: url(../images/illuminating_refining_essence/kv_cont_title.png);
}

.illuminating_keypoint img {
    position: absolute;
}

.illuminating_keypoint img:nth-child(2) {
    width: 60%;
    top: 40%;
    left: -8%;
}

.illuminating_keypoint img:nth-child(3) {
    width: 44.6%;
    right: -2%;
    top: 90%;
}

.illuminating_keypoint img:nth-child(4) {
    width: 44.7%;
    top: 156%;
    left: 30%;
}

.illuminating_info {
    position: relative;
    width: 80%;
    height: 0;
    padding-bottom: 34%;
    background-image: url(../images/illuminating_refining_essence/box.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 56% auto 0 auto;
    z-index: 12;
}

.new_info_title {
    width: 21%;
    position: absolute;
    top: 16%;
    left: 12%;
}

.illuminating_info img {
    position: absolute;
}

.new_info_title img:nth-child(1) {
    z-index: 1;
}

.yellow_color {
    width: 88%;
    z-index: 0;
    padding-top: 56%;
    left: 1%;
}

.info_battle {
    width: 15%;
    padding-top: 8%;
    left: 30.5%;
}

.info_list {
    width: 45%;
    top: 21.5%;
    right: 8%;
}

.color_light_01 {
    width: 30%;
    top: 15%;
    right: 0;
    position: absolute;
}

@media (max-width:768px) {
    .illuminating_kv {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 320% !important;
        background-image: url(../images/illuminating_refining_essence/kv_bg.jpg);
        background-size: 200%;
        background-repeat: no-repeat;
        background-color: #e9f1f8;
    }

    .kv_img {
        width: 200%;
        top: 0;
        left: -50%;
    }

    .illuminating_title {
        position: relative;
        z-index: 2;
        width: 62%;
        margin: 4% auto 0 5%;
    }

    .illuminating_title h1 {
        background-image: url(../images/illuminating_refining_essence/sub_m.png);
        width: 100%;
        padding-bottom: 30%;
    }

    .illuminating_title div {
        z-index: 5;
    }

    .illuminating_title span {
        background-image: url(../images/illuminating_refining_essence/title_m.png);
        padding-bottom: 60%;
        margin: 0 auto 0 -9%;
        width: 120%;
        z-index: 6;
        -webkit-mask-image: url(../images/illuminating_refining_essence/title_m.png);
        mask-image: url(../images/illuminating_refining_essence/title_m.png);
        -webkit-mask-size: 100%;
        mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }

    .new {
        width: 55%;
        left: 26%;
        top: 20%;
    }

    .illuminating_battle {
        width: 40%;
        padding-bottom: 80%;
        top: 8.5%;
        right: 0%;
    }

    .illuminating_light_01 {
        width: 80%;
        top: -24%;
        left: 20%;
    }

    .illuminating_light_02 {
        top: 30%;
        left: 3%;
    }

    .illuminating_ch {
        width: 78%;
        position: absolute;
        top: 24%;
        left: -22%;
    }

    .deco_01 {
        position: absolute;
        width: 78%;
        top: 42%;
        left: -10%;
        z-index: 2;
    }

    .illuminating_keypoint {
        position: absolute;
        width: 60%;
        top: 32%;
        left: auto;
        right: -2%;
    }

    .illuminating_keypoint h2 {
        padding-bottom: 55%;
        z-index: 5;
        background-image: url(../images/illuminating_refining_essence/key_point_m.png);
    }

    .illuminating_keypoint img:nth-child(2) {
        width: 105%;
        top: 75%;
        left: -14%;
        z-index: 11;
    }

    .illuminating_keypoint img:nth-child(3) {
        width: 80%;
        right: 28%;
        top: 175%;
        z-index: 11;
    }

    .illuminating_keypoint img:nth-child(4) {
        width: 80%;
        top: 250%;
        left: 10%;
    }

    .illuminating_info {
        width: 96%;
        padding-bottom: 100%;
        background-image: url(../images/illuminating_refining_essence/box_m.png);
        margin: 156% auto 0 auto;
    }

    .new_info_title {
        width: 50%;
        position: absolute;
        top: 13%;
        left: 12%;
    }

    .info_battle {
        width: 33%;
        padding-top: 20%;
        left: 60%;
        z-index: 2;
    }

    .info_list {
        width: 85%;
        top: 53%;
        right: 8%;
    }

    .bg_light_outer {
        width: 68%;
        padding-bottom: 100%;
        top: 11%;
        left: 0;
        position: absolute;
        z-index: 1;
        transform: scale(-1);
    }

    .color_light_01 {
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;
    }

}

/*三重護理*/
.illuminating_setp {
    height: 0;
    padding-bottom: 115.5% !important;
    background-position: top center;
    background-image: url(../images/illuminating_refining_essence/step_bg.jpg);
    background-size: cover;
}

.deco_02 {
    position: absolute;
    width: 21%;
    right: 0;
    top: -0.8%;
    z-index: 0;
}

.illuminating_setp h2 {
    position: relative;
    width: 48%;
    padding-bottom: 16%;
    margin: -12% auto 0 auto;
    background-image: url(../images/illuminating_refining_essence/s2_title.png);
    z-index: 5;
}

.i_step_words {
    width: 100%;
    z-index: 2;
    position: relative;
}

@keyframes ss {
    0% {
        -webkit-filter: drop-shadow(0px 0px 0px #fff);
        opacity: 0.7;
    }

    50% {
        -webkit-filter: drop-shadow(0px 0px 5px #fff);
        opacity: 1.0;
    }

    100% {
        -webkit-filter: drop-shadow(0px 0px 0px #fff);
        opacity: 0.7;
    }
}

.ss {
    animation-name: ss;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes fadeInLeft2 {
    0% {
        margin-left: -10%;
    }

    80% {
        margin-left: 0%;
    }
}

.fadeInLeft2 {
    animation-name: fadeInLeft2;
    animation-timing-function: ease-in-out;
}

.illuminating_setp h3 {
    width: 38.2%;
    padding-bottom: 20%;
    margin-top: 6%;
    margin-left: 15%;
    background-image: url(../images/illuminating_refining_essence/s3_title.png);
    position: relative;
    z-index: 3;
    position: absolute;
}

.step_outer {
    width: 100%;
    background-image: url(../images/illuminating_refining_essence/step_battle.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    margin-top: -9.7%;
    z-index: 0;
}

.i_step_01 {
    position: absolute;
    width: 49%;
    top: 45%;
    left: 35%;
}

.step_light_01 {
    position: absolute;
    width: 70%;
    top: -17%;
    left: -19%;
}

.step_light_02 {
    position: absolute;
    width: 15%;
    top: 60.8%;
    left: 29.4%;
}

.i_step_02 {
    position: absolute;
    width: 28.4%;
    top: 63%;
    left: 5%;
}

.i_step_03 {
    position: absolute;
    width: 42.6%;
    top: 27.2%;
    right: -10.6%;
}

.i_step_03 > img:nth-child(1) {
    z-index: 2;
    position: absolute;
}

.step_light_03 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.color_bg_l_02 {
    position: absolute;
    width: 17%;
    top: -2%;
    left: 0;
}

.color_bg_l_03 {
    position: absolute;
    width: 36%;
    bottom: -25%;
    right: 0;
    z-index: 5;
}

@media (max-width:768px) {
    .illuminating_setp {
        height: auto;
        padding-bottom: 0 !important;
        background-repeat: repeat-y;
    }

    .deco_02 {
        width: 44%;
        top: -2.5%;
        z-index: 5;
    }

    .illuminating_setp h2 {
        width: 120%;
        padding-bottom: 38%;
        margin: -18% auto 0 -10%;
        z-index: 1;
    }

    .i_step_words {
        width: 100%;
        z-index: 2;
        position: relative;
    }

    .i_step_words button.slick-arrow.slick-next {
        background: url(../images/illuminating_refining_essence/arrow_l.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 0;
        padding-bottom: 63%;
        right: 2%;
        top: 0;
    }

    .i_step_words button.slick-arrow.slick-prev {
        background: url(../images/illuminating_refining_essence/arrow_l.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 0;
        padding-bottom: 63%;
        left: 2%;
        top: 0;
    }

    .title_01 {
        width: 100%;
    }

    .illuminating_setp h3 {
        width: 97%;
        padding-bottom: 50%;
        margin-top: 20%;
        margin-left: 1%;
        position: relative;
    }

    .step_01_m {
        position: relative;
        height: 0;
        padding-bottom: 240%;
        margin-top: -64%;
    }

    .step_01_m img {
        position: absolute;
    }

    .step_01_m img:nth-child(1) {
        width: 97%;
        top: 32%;
        right: 0;
        z-index: 2;
    }

    .step_01_m img:nth-child(2) {
        width: 100%;
        top: 0;
        right: 0;
        z-index: 0;
    }

    .step_01_m img.light {
        width: 60%;
        top: 38%;
        left: -11%;
    }

    .step_01_m img.step_light_02 {
        position: absolute;
        width: 20%;
        top: 75.8%;
        left: 41%;
    }

    .step_02_m {
        position: relative;
        height: 0;
        padding-bottom: 190%;
        margin-top:0;
    }

    .step_02_m img:nth-child(1) {
        width: 97%;
        top: 14%;
        right: 1%;
        z-index: 2;
        position: absolute;
    }

    .step_02_m img:nth-child(2) {
        width: 100%;
        top: 0;
        right: 0;
        z-index: 0;
        position: absolute;
    }

    .step_03_m {
        position: relative;
        height: 0;
        padding-bottom: 219%;
        margin-top: 0;
    }

    .step_03_m img:nth-child(1) {
        width: 97%;
        top: 5%;
        right: 1%;
        z-index: 2;
        position: absolute;
    }

    .step_03_m img:nth-child(2) {
        width: 100%;
        top: 0;
        right: 0;
        z-index: 0;
        position: absolute;
    }

    .color_bg_l_02 {
        width: 20%;
        top: -1%;
    }

    .color_bg_l_03 {
        width: 37%;
        bottom: 0;
        right: 0;
        z-index: 10;
    }

}

/*sale*/
.illuminating_set {
    width: 100%;
    height: 0;
    padding-bottom: 44% !important;
    background-image: url(../images/illuminating_refining_essence/sale_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -2.5%;
}

.illuminating_set h2 {
    width: 75.36%;
    padding-bottom: 10%;
    margin: -3.8% auto 0 auto;
    background-image: url(../images/illuminating_refining_essence/s4_title.png);
}

.illuminating_gift_box {
    width: 69.68%;
    margin: 0 auto;
    position: relative;
}

.limited {
    background-image: url(../images/illuminating_refining_essence/limited.png);
    background-repeat: no-repeat;
    width: 10%;
    height: 0;
    padding-bottom: 4%;
    display: block;
    position: absolute;
    background-size: 100%;
    top: 13%;
    left: 37.5%;
    -webkit-mask-image: url(../images/illuminating_refining_essence/limited.png);
    mask-image: url(../images/illuminating_refining_essence/limited.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.illuminating_gift_box > a {
    display: block;
    width: 28%;
    height: 0;
    padding-bottom: 6.2%;
    background-image: url(../images/illuminating_refining_essence/btn_buynow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    line-height: 100;
    text-indent: -999px;
    position: absolute;
    top: 68%;
}

.illuminating_gift_box > a:hover {
    background-position: center top;
}

.btn_seemore {
    display: block;
    margin: -2% auto 0 auto;
    width: 14%;
    height: 0;
    padding-bottom: 9%;
    background-image: url(../images/illuminating_refining_essence/btn_more.png);
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 100;
    transition: all 0.2s ease;
}

.btn_seemore:hover {
    width: 15%;
}

@media (max-width:768px) {
    .illuminating_set {
        padding-bottom: 200% !important;
        background-image: url(../images/illuminating_refining_essence/sale_bg_m.jpg);
        background-repeat: no-repeat;
        margin-top: -12%;
    }

    .illuminating_set h2 {
        width: 95%;
        padding-bottom: 50%;
        margin: -2% auto 0 auto;
        background-image: url(../images/illuminating_refining_essence/s4_title_m.png);

    }

    .illuminating_gift_box {
        width: 85%;
        margin: -4% auto;
        position: relative;
    }

    .limited {
        width: 19%;
        padding-bottom: 8%;
        top: 57%;
        left: 82%;
    }

    .illuminating_gift_box > a {
        display: block;
        width: 75%;
        padding-bottom: 16%;
        position: relative;
        top: auto;
        margin: 7% auto;
    }

    .btn_seemore {
        margin: 11% auto 0 auto;
        width: 50%;
        padding-bottom: 30%;
        background-image: url(../images/illuminating_refining_essence/btn_more_m.png);
    }

    .btn_seemore:hover {
        width: 51%;
    }

}

/*form*/
.illuminating_form_wrap {
    background-image: url(../images/illuminating_refining_essence/form_bg.jpg);
    background-size: cover;
}

.illuminating_form_wrap h2 {
    width: 100%;
    height: 0;
    padding-bottom: 10% !important;
    background-image: url(../images/illuminating_refining_essence/form_title.png);
    background-size: 100%;
    margin: -6.8% auto 0 auto;
}

.illuminating_form_wrap p {
    width: 52%;
    height: 0;
    padding-bottom: 10%;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
    margin: 2% auto -2% auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/illuminating_refining_essence/event_cont.png);
}

.illuminating_form_wrap ul li span {
    color: #2b397b;
    font-weight: normal;
}

.illuminating_form_wrap ul li input,
.illuminating_form_wrap ul li select {
    width: 79% !important;
    font-weight: normal;
}

.illuminating_form_wrap .custom-checkbox {
    margin-top: 5%;
}

.illuminating_form_wrap .checkmark {
    background-image: url(../images/illuminating_refining_essence/checkbox.png);
}

.illuminating_form_wrap .checkmark.active {
    background-image: url(../images/illuminating_refining_essence/checkbox_after.png);
}

.illuminating_form_wrap .check-content-notice {
    padding-left: 2vw;
    box-sizing: border-box;
    display: block;
    color: #a6a6a6;
    font-size: 1.2vw;
    width: calc(100% + 0.2vw);
    text-align: justify;
    margin-bottom: 30%;
}

.illuminating_form_wrap .btn_enter {
    display: block;
    width: 18%;
    left: 50%;
    margin-left: -9%;
    bottom: 6%;
    position: absolute;
    height: auto;
    line-height: 100;
    text-indent: -999px;
    overflow: hidden;
    font-size: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.illuminating_form_wrap .btn_enter:hover {
    transform: scale(1.05);
}

@media (max-width:768px) {
    .illuminating_form_wrap h2 {
        padding-bottom: 22% !important;
        background-size: 240%;
        background-position: center;
        margin-top: -10%;
    }

    .illuminating_form_wrap p {
        width: 90%;
        padding-bottom: 25%;
        margin: 8% auto 6% auto;
        background-image: url(../images/illuminating_refining_essence/event_cont_m.png);
    }

    .illuminating_form_wrap ul {
        width: 107%;
        margin-left: -3%;
    }

    .illuminating_form_wrap ul li input,
    .illuminating_form_wrap ul li select {
        font-size: 2.6vw;
        padding-left: 0;
    }

    .illuminating_form_wrap .check-content-notice {
        font-size: 2.5vw;
        margin-bottom: 35%;
    }

    .illuminating_form_wrap .btn_enter {
        width: 25%;
        left: 37.5%;
        margin-left: auto;
        bottom: 6%;
    }
}

/*notice*/
.illuminating_notice {
    background-color: #dad3e0;
}

.illuminating_notice .notice_wrap {
    width: 75%;
    margin: 0 auto;
}

.illuminating_notice .notice_wrap span {
    color: #a690b3;
    font-size: 1.5vw;
    font-family: 'Noto Sans TC', "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

.illuminating_notice .notice_wrap ul li {
    text-indent: -1em;
    box-sizing: border-box;
    padding-left: 1em;
    color: #a690b3;
    font-family: 'Noto Sans TC', "Microsoft JhengHei", "微軟正黑體", sans-serif;
    line-height: 2;
    font-size: 1.5vw;
}

@media (max-width:768px) {

    .illuminating_notice .notice_wrap {
        width: 92%;
        padding: 0.5% 0;
    }

    .illuminating_notice .notice_wrap span {
        font-size: 2.4vw;
    }

    .illuminating_notice .notice_wrap ul li {
        font-size: 2.4vw;
        line-height: 1.5;
    }
}

/*copyright*/
.illuminating_wrap .copyright {
    width: 100%;
    height: 79px;
    line-height: 79px;
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans TC', "Microsoft JhengHei", "微軟正黑體", sans-serif;
    background-color: #bea8cb;
    font-size: 18px;
}

@media (max-width:768px) {
    .illuminating_wrap .copyright {
        font-size: 3vw;
    }

}

/*pop_msg*/
.illuminating_wrap .popup {
    background-color: rgba(183, 172, 199, 0.6);
}

.illuminating_wrap .popup_wrap {
    width: 632px;
    border: 0;
    background-color: transparent;
    border-radius: 0;
}

@media (max-width:768px) {
    .illuminating_wrap .popup_wrap {
        width: 80%;
        max-width: 80%;

    }

}

/*footer*/
footer {
    width: 100%;
    background: #f0e7d2;
}

.footer {
    width: 85%;
    max-width: 1440px;
    padding: 2.5% 0;
    margin: 0 auto;
}

.footer .logo {
    width: 150px !important;
    position: relative;
    left: auto;
    padding-top: 0;
}

@media screen and (max-width: 1200px) {
    .footer {
        width: 95%;
    }
}

@media screen and (max-width: 1024px) {
    .footer .logo {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 4% 0;
    }
}

.footer_contain {
    width: 100%;
    padding-top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer_contain li {
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
}

.footer_contain a {
    display: block;
    font-size: 0.9em;
    letter-spacing: 3px;
    line-height: inherit;
}

@media screen and (max-width: 768px) {
    .footer_contain {
        padding-top: 0;
    }
}

.footer_menu {
    width: 55%;
}

.footer_menu .footer_i {
    padding: 0 1%;
}

.footer_menu .footer_i:first-child {
    margin-left: -1%;
}

.footer_menu .footer_i:not(:last-child) {
    border-right: 1px solid #000000;
}

.footer_menu a {
    -webkit-transition: font-weight 0.2s linear;
    transition: font-weight 0.2s linear;
}

.footer_menu a:hover {
    font-weight: 700;
    -webkit-transition: font-weight 0.2s linear;
    transition: font-weight 0.2s linear;
}

@media screen and (max-width: 1024px) {
    .footer_menu {
        display: none;
    }
}

.footer_link {
    width: 45%;
    text-align: right;
    line-height: 0;
}

.footer_link li:not(:last-child) {
    margin-right: 2%;
}

.footer_link li a {
    border: 1px solid #aa9a6f;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.footer_link li img:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.footer_link .social a {
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    position: relative;
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.footer_link .social a:hover {
    background: #aa9a6f;
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.footer_link .social a:hover img:nth-child(2) {
    opacity: 1;
}

.footer_link .link a {
    padding: 0.15em 0;
    display: block;
    color: #aa9a6f;
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.footer_link .link a i {
    width: 1em;
    display: inline-block;
}

.footer_link .link a:hover {
    color: #ffffff;
    background: #aa9a6f;
    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

@media screen and (max-width: 1024px) {
    .footer_link {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .footer_link .link:not(:last-child) {
        display: none;
    }
}

/*dot style*/
.illuminating_wrap .slick-dots {
    height: 2.2vw !important;
    line-height: 0 !important;
    bottom: 10%;
}

.illuminating_wrap .slick-dots li {
    width: 2.2vw !important;
    height: 2.2vw !important;
    margin-right: 4.5vw !important;
    border: 3px solid #6e97cf;
    border-radius: 100em;
    background-color: #fff;
    transition: 0.3s ease;
}

.illuminating_wrap .slick-dots li.slick-active {
    background-color: #6e97cf;
    transform: scale(1.5);
}
