@charset "utf-8";
/*動畫*/

@keyframes scaleWidthA {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}


.scaleWidthA {
	-webkit-animation-name: scaleWidthA;
	animation-name: scaleWidthA;

}

@keyframes scaleH {
	from {
		transform: scaleX(0);
		opacity: 0;
	}

	to {
		transform: scaleX(1);
		opacity: 1;
	}
}


.scaleH {
	-webkit-animation-name: scaleH;
	animation-name: scaleH;

}

@keyframes scaleWW {
	from {
		transform: scaleY(0);
		opacity: 0;
	}

	to {
		transform: scaleY(1);
		opacity: 1;
	}
}


.scaleWW {
	-webkit-animation-name: scaleWW;
	animation-name: scaleWW;

}



/*主視覺*/
.royalpact2022 {
	background-image: url(../images/royalpact2022/bg.jpg);
	background-size: 100%;
	position: relative;
	overflow-x: hidden;
	background-color: #d84c14;
}

.royal_kv_bg {
	width: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}

.royal_kv_bg img {
	position: absolute;
}

.royal_kv_bg img:nth-child(1),
.royal_kv_bg img:nth-child(2) {
	z-index: 0;
}

.royal_kv_light_01,
.royal_kv_light_02 {
	width: 3%;
	z-index: 5;
}

.royal_kv_light_01 {
	margin-top: 12.5%;
	right: 43%;
	opacity: 0.7;
}

.royal_kv_light_02 {
	margin-top: 25.9%;
	right: 21.5%;
	opacity: 0.7;
}

@media (max-width:768px) {

	.royalpact2022 {
		background-image: url(../images/royalpact2022/bg_m.jpg);
		background-size: 100%;
		position: relative;
		overflow-x: hidden;
		background-color: #d84c14;
		width: 100%;
	}

	.royal_kv_bg {
		width: 250%;
		position: absolute;
		z-index: 0;
		top: -0.5%;
		left: -123.4%;
	}

}


/*主標*/
.royal_kv_title_01 {
	position: relative;
	z-index: 5;
	width: 22%;
	margin-top: 11%;
	margin-left: 20%;
	margin-bottom: 1%;
	height: 0;
	padding-bottom: 3%;
	overflow: hidden;
}

.royal_kv_tt_outer {
	position: absolute;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translateX(-50%);
	overflow: hidden;
}

.royal_kv_tt_outer h1 {
	position: absolute;
	background-size: auto 100%;
	background-image: url(../images/royalpact2022/kv_title_01.png);
	overflow: hidden;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	line-height: 100;
}

.royal_kv_title_02 {
	width: 35%;
	position: relative;
	height: 0;
	padding-bottom: 10%;
	z-index: 5;
	margin-left: 14%;
}

.royal_kv_title_mask {
	position: absolute;
	width: 100%;
	height: 0;
	padding-bottom: 25%;
	z-index: 5;
	-webkit-mask-image: url(../images/royalpact2022/kv_main_title_mask.png);
	mask-image: url(../images/royalpact2022/kv_main_title_mask.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center top;
	mask-position: center top;
	animation-fill-mode: forwards;
	opacity: 0;
}

.royal_kv_title_02 img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	opacity: 0;
	animation-fill-mode: forwards;
}

@media (max-width:768px) {

	.royal_kv_title_01 {
		position: relative;
		z-index: 5;
		width: 57.5%;
		margin-top: 92%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1%;
		padding-bottom: 11%;
	}

	.royal_kv_tt_outer h1 {
		position: absolute;
		background-size: auto 100%;
		background-image: url(../images/royalpact2022/kv_title_01_m.png);
	}

	.royal_kv_title_02 {
		width: 76%;
		margin-left: auto;
		margin-right: auto;
	}


}

/*影音*/
.royalpact2022 .yt_video {
	width: 86%;
	margin-top: 20%;
	margin-bottom: 10%;
}

@media (max-width:768px){
	.royalpact2022 .yt_video {
	width: 100%;
	margin-top: 16%;
	margin-bottom: 5%;
}
}

/*13年*/
.royal_cont_01 {
	position: relative;
	width: 100%;
}

.royal_cont_01_tt {
	background-image: url(../images/royalpact2022/main_title.png);
	width: 69.7%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 12%;
	overflow: hidden;
	margin-left: 15.15%;
	z-index: 5;
	position: relative;
}

.royal_cont_01_tt h2,
.royal_cont_01_tt span {
	width: 100%;
	display: block;
	height: 0;
	overflow: hidden;
	line-height: 100;
}

.royal_time_line {
	width: 100%;
	position: relative;
	margin-top: -12.5%;
	z-index: 2;
}

.royal_time_line_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.royal_time_line_bg img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.time_line_light {
	width: 4% !important;
	display: block;
	position: absolute;
	margin-top: 18%;
	margin-left: 5.9%;
}

.year_cont_2013,
.year_cont_2014,
.year_cont_2015,
.year_cont_2016,
.year_cont_2017,
.year_cont_2018,
.year_cont_2019,
.year_cont_2020,
.year_cont_2021 {
	position: absolute;
	z-index: 4;
	width: 14.5%;
}

.year_cont_2013 {
	margin-top: 16.5%;
	margin-left: 15.6%;
}

.year_cont_2014 {
	margin-top: 16.5%;
	margin-left: 30.2%;
}

.year_cont_2015 {
	margin-top: 16.5%;
	margin-left: 44.5%;
}

.year_cont_2016 {
	margin-top: 16.5%;
	margin-left: 59%;
}

.year_cont_2017 {
	margin-top: 16.5%;
	margin-left: 73.5%;
}

.year_cont_2018 {
	margin-top: 35.4%;
	margin-left: 13.6%;
}

.year_cont_2019 {
	margin-top: 35.4%;
	margin-left: 33%;
}

.year_cont_2020 {
	margin-top: 35.4%;
	margin-left: 53%;
}

.year_cont_2021 {
	margin-top: 35.4%;
	margin-left: 72.3%;
}

.royal_pro {
	width: 100%;
	position: relative;
	z-index: 6;
	text-align: center;
	font-size: 0;
	margin-top: 47.5%;
}

.royal_pro img {
	display: block;
	width: 16%;
	display: inline-block;
	vertical-align: top;
	margin-left: 4%;
}

.royal_pro img:first-child {
	margin-left: 0;
}

/*2022 金屬銘刻藝術 · 奢華獻禮*/
.royal_cont_02 {
	width: 100%;
	position: relative;
	z-index: 6;
	margin-top: 6.5%;
}

.royal_cont_02_tt {
	width: 45%;
	height: 0;
	z-index: 7;
	margin-left: 17%;
	position: relative;
	height: 0;
	display: block;
	overflow: hidden;
	padding-bottom: 6%;
}

.royal_cont_02_tt_outer {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.royal_cont_02_tt h2 {
	background-image: url(../images/royalpact2022/title_01.png);
	display: block !important;
	height: 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	line-height: 100;
	width: 100%;
	background-position: center;
}

.royal_story_word {
	position: relative;
	z-index: 5;
	width: 80%;
	margin: -4.5% auto 0 auto;
	display: block;
	height: 0;
	padding-bottom: 45%;
}

.royal_line_01 {
	position: absolute;
	width: 33%;
	top: 0;
	right: 0;
	z-index: 5;
	transform-origin: right top;
}

.royal_line_02 {
	position: absolute;
	right: -0.5%;
	top: -0.4%;
	height: 100%;
	transform-origin: right top;
}

.royal_line_03 {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -0.5%;
	transform-origin: left bottom;
}

.royal_line_04 {
	width: 100%;
	bottom: -0.4%;
	left: 0;
	position: absolute;
	transform-origin: left bottom;

}

.main_pro {
	width: 32%;
	position: absolute;
	top: 19%;
	left: 5.5%;
}

.r_pic_01,
.r_pic_02 {
	position: absolute;
}

.r_pic_01 {
	width: 32%;
	z-index: 0;
	top: 20%;
	right: 27%;
}

.r_pic_02 {
	width: 31%;
	right: 5%;
	top: 15%;
	z-index: 2;
}

.royal_story_word p {
	position: absolute;
	background-image: url(../images/royalpact2022/art_story.png);
	width: 54%;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 0;
	padding-bottom: 15%;
	line-height: 100;
	right: 5%;
	top: 64%;
}

/*成分*/
.royal_cont_03 {
	width: 100%;
	position: relative;
	z-index: 6;
	margin-top: 13%;
}

.royal_cont_03_tt {
	width: 45%;
	height: 0;
	z-index: 7;
	margin-left: 17%;
	position: relative;
	height: 0;
	display: block;
	overflow: hidden;
	padding-bottom: 6%;

}

.royal_cont_03_tt h2 {
	background-image: url(../images/royalpact2022/title_02.png);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	line-height: 100;
}

.royal_cont_03_sp {
	width: 48.3%;
	margin-top: 1%;
	margin-left: 17%;
}

.royal_box_01,
.royal_box_02 {
	width: 78%;
	position: relative;
	margin: 5% auto;
}

.royal_box_01 h2,
.royal_box_02 h2 {
	position: relative;
	display: block;
	width: 58%;
	background-image: url(../images/royalpact2022/cont_02_word_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 0;
	padding-bottom: 10%;
	line-height: 100;
	margin-left: 5%;
	text-align: center;
}

.royal_box_02 h2 {
	background-image: url(../images/royalpact2022/cont_02_word_02.png);

}

.info_img_bg {
	width: 100%;
	position: relative;
	z-index: 8;
}

.info_img_01,
.info_img_02,
.info_img_03,
.info_img_04,
.info_img_05 {
	position: absolute;
	z-index: 2;
	width: 31%;
}

.info_img_01,
.info_img_03,
.info_img_05 {
	top: 21%;
}

.info_img_02,
.info_img_04 {
	top: 50%;
}

.info_img_01 {
	left: 0;
}

.info_img_03 {
	left: 34.5%;
}

.info_img_05 {
	left: 68.5%;
}

.info_img_02 {
	left: 17.4%;
}

.info_img_04 {
	left: 51.5%;
}

.royal_box_02 img {
	display: inline-block;
	width: 31%;
	margin-right: 1%;
}
}

.royal_box_02 img:nth-child(4) {
	margin-right: 0 !important;
}

/*sp limited*/
.royal_new_pro_tt {
	width: 19.8%;
	margin: 9% auto 0 auto;
	position: relative;
	z-index: 2;
	-webkit-mask-image: url(../images/royalpact2022/title_sp.png);
	mask-image: url(../images/royalpact2022/title_sp.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center top;
	mask-position: center top;
}

.royal_new_pro_tt .kv_light {}

.royal_new_pro_cont {
	position: relative;
	background-image: url(../images/royalpact2022/sp_product.png);
	width: 65.6%;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: -4% auto 0 auto;
	z-index: 0;
	height: 0;
	padding-bottom: 50%;
}

.royal_new_pro_cont p {
	width: 0;
	height: 0;
	overflow: hidden;
}

.sp_icon {
	position: absolute;
	width: 9.5%;
	right: 11%;
	top: 10%;
}

.btn_royal_buy {
	display: block;
	width: 18%;
	transition: 0.3s;
	bottom: 25%;
	position: absolute;
	right: 13%;
}

.btn_royal_buy:hover {
	transform: scale(1.05);
}

/*表格*/
.royal_form_tt {
	position: relative;
	z-index: 7;
}

.royal_form {
	width: 100%;
	background-size: 100%;
	background-image: url(../images/royalpact2022/form_bg.jpg);
	background-position: top center;
	background-size: cover;
	display: block;
	margin-top: -6.5%;
	padding-top: 5%;
	position: relative;
	z-index: 5;
	padding-bottom: 5%;
}

.royal_form .form_event_cont {
	position: relative !important;
	margin-bottom: 5%;
}

.royal_new_item {
	width: 30%;
	position: absolute;
	right: -17%;
	top: 0;
}

.royal_form .summer_form ul li span {
	color: #d9a854 !important;
	font-weight: 400;
}

.royal_form .summer_form ul li input,
.royal_form .summer_form ul li select {
	font-weight: 400;
}

.royal_form .summer_form ul li select {
	background-size: auto 20% !important;
}

.royal_form label p {
	color: #fff;
	padding-left: 5%;
	padding-top: 5%;
	width: 115%;
	font-size: 1vw;
	line-height: 1.8;
	text-align: justify;
}

.royal_form span.agree_text {
	padding-left: 4%;
	color: #d9a853;
	font-weight: bold;
	font-size: 1vw;
	position: absolute;
	left: 1%;
	top: 0;
}

.royal_form .agree_text a {
	font-size: 1vw;
	font-weight: bold;

}

.royal_form .agree_text a:hover {
	color: #d9a853;
	border-bottom: 1px solid #d9a853;
}

.royal_form .checkmark {
	top: 3%;
}

.royal_form a.btn_enter.summer_form {
	display: block;
	width: 22%;
	margin: 0 auto;
}

.royal_form a.btn_enter:hover {
	transform: scale(1.05);
}

.skin_test {
	background-image: -moz-linear-gradient(90deg, rgb(154, 94, 30) 0%, rgb(189, 133, 50) 26%, rgb(223, 171, 70) 73%);
	background-image: -webkit-linear-gradient(90deg, rgb(154, 94, 30) 0%, rgb(189, 133, 50) 26%, rgb(223, 171, 70) 73%);
	background-image: -ms-linear-gradient(90deg, rgb(154, 94, 30) 0%, rgb(189, 133, 50) 26%, rgb(223, 171, 70) 73%);
	margin-bottom: 0;
	position: relative;
	width: 100%;
	text-align: center;
	padding: 4% 0;
	box-sizing: border-box;
}

.skin_test_tt {
	display: block;
	width: 36.5%;
	margin: 0 auto;
}

.skin_test p {
	color: #fff;
	font-family: 'Noto Sans TC' !important;
	font-weight: 200;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 4%;
	font-size: 1.3vw;
	margin: 3% auto;
}

.btn_go_test {
	width: 20.9%;
	display: block;
	margin: 0 auto;
	transition: 0.3s;
}

.btn_go_test:hover {
	transform: scale(1.05);
}

.rorayl_pop {
	background-color: rgba(51, 32, 30, 0.6);
}

.royal_pop_wrap {
	border-radius: 0;
	width: 1200px;
}

.royal_pop_wrap .popup_close {
	width: 4%;
	max-width: 25px;
	top: 5px;
	left: auto;
	right: 5px
}

@media (max-width:768px) {
	.royal_pop_wrap {
		border-radius: 0;
		width: 90%;
		max-width: 90%;
	}
}
