/* banner */
.index_banner{
  width: 100%;
  padding: 2% 0 4% 0;
  position: relative;
}

.index_banner_middle{
  width: 50.52083%;
  margin: 0 auto;
  position: relative;
}

.index_banner_middle_item{
  position: absolute;
}

.index_banner_middle_1{
  width: 100%;
  margin: 0 0 0 -3%;
}

.index_banner_middle_2{
  width: 97%;
  margin: -17% 0 0 5%;
}

.index_banner_middle_3{
  width: 48%;
  top: 43%;
  left: 20%;
}

.index_banner_middle_4{
  width: 61%;
  margin: -2% 0 0 23%;
  text-align: center;
  font-size: 3vw;
  font-weight: lighter;
  letter-spacing: 2px;
  position: relative;
}

.index_banner_middle_4 img{
  padding-bottom: 3%;
}

.index_banner_middle_4::after{
  content: '';
  width: 100%;
  height: 7px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../images/index/dotted.png) 0 100% repeat-x;
  background-size: 100%;
}

.index_banner_flower_1{
  width: 19.583%;
  bottom: 0;
  left: 0;
}

.index_banner_flower_2{
  width: 22.447916%;
  right: 0;
  top: 0;
}

.index_banner_flower_3{
  width: 9.140625%;
  top: 16%;
  left: 10%;
}

/* 來自英國 */
.form_england{
  width: 81.25%;
  max-width: 1560px;
  margin: 0 auto;
  padding: 3% 0;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form_england_r{
  width: 45%;
}

.form_england_r_contain{
  width: 90%;
  max-width: 450px;
}

.form_england_r_contain img{
  width: 99.29%;
  max-width: 423px;
  margin: 0 auto;
  opacity: 0;
  transform: translate(0, 20px);
}

.form_england_r_contain h1{
  padding: 4% 0;
  margin-bottom: 0;
  font-size: 6vw;
  font-weight: 800;
  line-height: 1;
  color: #194e93;
  opacity: 0;
  transform: translate(0, 20px);
}

.form_england_r_inner{
  margin-bottom: 4%;
  font-size: 16px;
  opacity: 0;
  transform: translate(0, 20px);
}

.visible-show .form_england_r_contain img{
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 0.4s linear,
              transform 0.4s linear;
  transition-delay: 1.3s;
}

.visible-show .form_england_r_contain h1{
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 0.4s linear,
              transform 0.4s linear;
  transition-delay: 1.8s;
}

.visible-show .form_england_r_inner{
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 0.4s linear,
              transform 0.4s linear;
  transition-delay: 2.4s;
}

.form_england_l{
  width: 55%;
  max-width: 780px;
  position: relative;
}

.form_england_img_1{
  width: 51.282%;
  top: 37%;
  left: 27%;
  opacity: 0;
}

.form_england_img_2{
  width: 36.41%;
  top: 0;
  left: 59%;
  opacity: 0;
}

.form_england_img_3{
  width: 100%;
  padding-top: 66.3%;
  background-image: url(../images/index/england.png);
  background-size: 90.629%;
  background-position: 0% 9.67%;
  background-repeat: no-repeat;
  opacity: 0;
  transform: translate(-5%, 0);
}

.visible-show .form_england_img_1{
  opacity: 1;
  transition: opacity 0.4s linear;
}

.visible-show .form_england_img_2{
  opacity: 1;
  transition: opacity 0.4s linear;
  transition-delay: 0.5s;
}

.visible-show .form_england_img_3{
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 0.4s linear,
              transform 0.5s linear;
  transition-delay: 0.9s;
}

.btn_type1{
  width: 90%;
  max-width: 180px;
  margin-top: 2%;
  border: 1px solid #030000;
  text-align: center;
  transition: 0.3s color linear,
              0.3s background-color linear;
}

.btn_type1 a{
  padding: 5% 2%;
  position: relative;
}

.btn_type1 i{
  display: inline-block;
  margin: 0 auto;
  width: 6px;
  height: 6px;
  border-top: 1px solid #030000;
  border-right: 1px solid #030000;
  position: absolute;
  top: 51%;
  right: 5%;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  transition: 0.3s border-color linear;
}

.btn_type1:hover{
  background-color: #030000;
  color: #fff;
  transition: 0.3s color linear,
              0.3s background-color linear;
}

.btn_type1 a:hover{
  color: inherit;
  text-decoration: none;
}

.btn_type1:hover.btn_type1 i{
  border-color: #fff;
  transition: 0.3s border-color linear;
}

.form_england_btn{
  margin: 2% auto 0 auto;
  opacity: 0;
  transform: translate(0, 20px);
}

.visible-show .form_england_btn{
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 0.4s linear,
              transform 0.4s linear;
  transition-delay: 2.7s;
}

/* 輪播 */
.index_carousel_wrap{
  width: 100%;
  position: relative;
}

.index_carousel_box{
  width: 100%;
  overflow: hidden;
}

.index_carousel_item{
  width: 100%;
  /* padding-top: 37.5%; */
  margin-right: -100%;
  float: left;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  display: none;
  /* transform: scale(1);
  transition: transform 2s linear; */
  transition: opacity 0.3s linear, transform 0.6s ease-out;
}

.index_carousel_item.active{
  opacity: 1;
  display: block;
  /* transform: translate(0, 0);
  transition: transform 0.6s linear;
  z-index: 2; */
}

.index_carousel_item.prev{
  transform: translate(-100%);
}

.index_carousel_item.next{
  transform: translate(100%);
}

/* .index_carousel_wrap:hover .index_carousel_item{
  transform: scale(1.05);
  transition: transform 2s linear;
} */

.index_carousel_img{
  width: 100%;
  padding-top: 37.5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.index_carousel_img_1{
  background-image: url(../images/index/news_banner_ex.jpg);
}

.index_carousel_img_2{
  background-image: url(../images/index/index_carousel_ex2.jpg);
}

.index_carousel_img_3{
  background-image: url(../images/index/index_carousel_ex3.jpg);
}

.index_carousel_inner{
  width: 10.416%;
  position: absolute;
  top: 60%;
  right: 58%;
}

.index_carousel_inner img{
  width: 90%;
  max-width: 167px;
  padding: 0 0 10% 0;
}

.index_carousel_indicators{
  position: absolute;
  left: 50%;
  bottom: 6%;
  transform: translate(-50%, 0);
  opacity: 0.5;
}

.index_carousel_indicators .item{
  width: 13px;
  height: 13px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #030303;
  display: inline-block;
  cursor: pointer;
}

.index_carousel_indicators .item:hover, .index_carousel_indicators .item.active{
  background-color: #fff;
}

.index_carousel_infor{
  width: 100%;
  position: absolute;
  bottom: 2%;
  left: 0;
  text-align: center;
}

.index_carousel_icon{
  width: 80px;
  height: 80px;
  margin: 0 10px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  position: relative;
}

.index_carousel_icon_1{
  background-image: url(../images/index/news_icon_1.jpg);
}

.index_carousel_icon_2{
  background-image: url(../images/index/news_icon_2.jpg);
}

.index_carousel_icon_3{
  background-image: url(../images/index/news_icon_3.jpg);
}

.index_carousel_icon.active{
  color: #030000;
  background-color: #fff;
  background-image: none;
  opacity: 1;
  transition: background-color 0.3s linear;
  overflow: hidden;
  cursor: pointer;
}

.index_carousel_icon a{
  width: 100%;
  height: 100%;
  display: none;
}

.index_carousel_icon p{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.index_carousel_icon.active a{
  display: block;
  z-index: 2;
  position: relative;
}

.index_carousel_icon.active:hover{
  background-color: #030000;
  border-color: #030000;
  transition: background-color 0.3s linear,
              border-color 0.3s linear;
}

.index_carousel_icon.active p{
  opacity: 1;
}

.index_carousel_icon.active:hover p{
  color: #fff;
}

.index_carousel_indicators{
  width: 100%;
  text-align: center;
  z-index: 3;
}

/* 暢銷商品 */
.hot_product_wrap{
  width: 90%;
  max-width: 1010px;
  padding: 7% 0 11% 0;
  margin: 0 auto;
}

.hot_product_title{
  width: 100%;
  padding: 3% 0;
  /* border-bottom: 2px solid #000101; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hot_product_title_border{
  /* width: 100%; */
  margin: 0 auto;
  height: 2px;
  border: none;
  background-color: #000101;
}

.hot_product_title2{
  width: 3px;
}

.hot_product_title h1{
  font-size: 18px;
  font-weight: 600;
  color: #194e93;
}

.hot_product_title1{
  max-height: 85px;
  height: 4.427083333vw;
}

.hot_product_box{
  width: 100%;
  position: relative;
}

.hot_product_contain{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.hot_product_contain ul{
  width: 99999999px;
  /* max-width: 900px; */
  padding: 4% 0;
  margin: 0 auto;
  overflow: hidden;
}

.hot_product_item{
  width: 300px;
  /* margin: 0 20px; */
  text-align: center;
  float: left;
}

.hot_product_in{
  width: 230px;
  height: 230px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(2, 129, 245, 18%);
  background-size: 84%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hot_product_in_1{
  background-image: url(../images/index/hot_products_1.png);
}

.hot_product_in_2{
  background-image: url(../images/index/hot_products_2.png);
}

.hot_product_in_3{
  background-image: url(../images/index/hot_products_3.png);
}

.hot_product_num{
  width: 30px;
  position: absolute;
  top: 11%;
  left: 6%;
}

.hot_product_item_name{
  font-size: 16px;
  font-weight: 500;
  padding: 3% 0;
}

.hot_product_btn{
  margin: 0 auto;
}

.hotp_btn_prev{
  background: url(../images/index/hot_product_btn_l.png) center no-repeat;
  background-size: 100%;
  left: 0;
}

.hotp_btn_next{
  background: url(../images/index/hot_product_btn_r.png) center no-repeat;
  background-size: 100%;
  left: 100%;
}

/* 部落客推薦 */
.blog_wrap{
  width: 94%;
  max-width: 1720px;
  padding: 4% 2% 2% 2%;
  margin: 0 auto;
  background: #fff url(../images/index/blog_bg.png) 50% 100% no-repeat;
  background-size: 100%;
  position: relative;
}

.blog_box{
  width: 38%;
  max-width: 600px;
  margin-left: 18%;
}

.blog_title{
  width: 100%;
}

.blog_title h1{
  max-height: 85px;
  height: 4.427vw;
}

.blog_des h2{
  font-size: 18px;
  font-weight: 500;
  color: #194e93;
  letter-spacing: 0;
  padding: 4% 0;
}

.blog_des hr{
  width: 55%;
  color: #000101;
}

.blog_word{
  padding: 5% 0;
}

.blog_word p{
  color: #9fa0a0;
}

.blog_contain{
  width: 36.627906976%;
  max-width: 630px;
  position: absolute;
  top: 48%;
  right: 8%;
  transform: translate(0, -50%);
  overflow: hidden;
}

.blog_photo{
  width: 85%;
  position: absolute;
  top: 48%;
  right: 9%;
  transform: rotate(3.7deg) translate(0, -50%);
}

.blog_contain_area{
  width: 100%;
  padding-top: 100%;
  float: left;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: none;
  transition: transform .6s ease-in-out;
  position: relative;
}

.blog_contain_area.active{
  display: block;
}

.blog_photo_box{
  width: 85%;
  margin: 3% auto 0 5%;
  overflow: hidden;
}

.blog_photo_mask{
  width: 100%;
  max-width: 630px;
  /* position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-3.7deg) translate(0, -50%);
  width: 36.627906976%; */
  position: relative;
}

.blog_detail{
  /* margin: 0 1.5% 0 auto; */
  font-size: 2vw;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  /* transform: rotate(-3.7deg); */
  z-index: 2;
  display: none;
  opacity: 0;
  /* transform: translate(0,0); */
  width: 85%;
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, 0);
}

.blog_detail_wrap{
  /* opacity: 0; */
}

.blog_detail_box{
  width: 100%;
  position: absolute;
  left: 47%;
  bottom: 5%;
  transform: translate(-50%, -50%);
}

.blog_contain_area.active .blog_detail{
  display: block;
  opacity: 1;
}

.blog_detail_btn{
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}

.blog_item{
  padding-top: 5%;
  text-align: center;
  opacity: 0.5;
}

.blog_item li{
  width: 12px;
  height: 12px;
  margin: 0 3px;
  border-radius: 50%;
  background-color: #030303;
  display: inline-block;
  cursor: pointer;
}

.blog_item li.active{
  background-color: #9fa0a0
}

.blog_infor{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
}

.blog_infor_t, .blog_infor_b{
  width: 100%;
}

/* .blog_detail_btn{
  padding: 5px 8px;
  margin-left: 2%;
  font-size: 1.3vw;
  font-weight: 500;
  color: #fff;
  background-color: #000102;
  border-radius: 15px;
  display: inline-block;
} */

/* .blog_detail_btn img{
  width: 1.8vw;
  height: 1.8vw;
  margin-left: 5px;
  line-height: 23px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
} */

/* .blog_detail_btn i span{
  margin: 0 auto;
  width: 6px;
  height: 6px;
  border-top: 1px solid #000102;
  border-right: 1px solid #000102;
  position: absolute;
  top: 50%;
  left: 33%;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
} */

/* youtube影片 */
.video_wrap{
  width: 90%;
  max-width: 1770px;
  margin: 0 auto;
  padding: 8% 0 6% 0;
}

.video_box{
  max-width: 1652px;
  margin: 0 auto;
  position: relative;
}

.video_contain{
  max-width: 1652px;
  margin: 0 auto;
  overflow: hidden;
}

.video_contain ul{
  width: 999999px;
  overflow: hidden;
}

.video_item{
  width: 560px;
  float: left;
}

.video_in{
  width: 95%;
  position: relative;
  padding-bottom: 56.25%;
  margin: 0 auto;
  /* padding-top: 30px; */
  height: 0;
  overflow: hidden;
}

.video_in iframe, .video_in object, .video_in embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.item_btn_all{
  display: none;
}

.item_btn_all.active{
  display: block;
}

.index_btn_item{
  width: 3vw;
  height: 3vw;
  max-width: 60px;
  min-width: 30px;
  max-height: 60px;
  min-height: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video_btn_prev{
  background: url(../images/index/btn_prev.png) center no-repeat;
  background-size: 100%;
  left: 0%;
}

.video_btn_next{
  background: url(../images/index/btn_next.png) center no-repeat;
  background-size: 100%;
  left: 100%;
}

/* instagram */
.instagram_wrap{
  width: 100%;
  padding: 5% 0 2% 0;
  background-color: #fff;
}

.ig_title{
  width: 80%;
  max-width: 205px;
  margin: 0 auto;
  padding: 0 0 5% 0;
}

.ig_box{
  width: 90%;
  max-width: 1580px;
  margin: 0 auto;
}

.ig_box iframe{
  width: 100%;
}

/* 歡迎popup */
.popup_wrap_welcome{
  text-align: center;
}

.popup_welcome_img{
  padding: 0 0 2% 0;
}

.popup_wrap_welcome p{
  color: #194e93;
  font-size: 20px;
  line-height: 2;
}

.welcome_btn{
  width: 60%;
  max-width: 290px;
  padding: 2% 0;
  margin: 3% auto 0 auto;
  background-color: #f19498;
  color: #194e93;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  border-radius: 50px;
  transition: color 0.3s linear,
              background-color 0.3s linear;
}

.welcome_btn:hover{
  background-color: #194e93;
  color: #f19498;
  transition: color 0.3s linear,
              background-color 0.3s linear;
}

@media screen and (min-width: 1601px){
  /* 部落客推薦 */
  .blog_detail{
    font-size: 38px;
  }

  /* .blog_detail_btn{
    font-size: 18px;
    padding: 9px 15px;
    border-radius: 30px;
  } */

  /* .blog_detail_btn img{
    width: 23px;
    height: 23px;
  } */
}

@media screen and (min-width: 1201px){
  /* 來自英國 */
  .form_england_r_contain h1{
    font-size: 62px;
  }
}

@media screen and (max-width: 768px){
  /* banner*/
  .index_banner{
    padding: 5% 0 4% 0;
  }

  .index_banner_middle{
    width: 80%;
  }

  .index_banner_flower_1{
    width: 17.578125%;
    bottom: -10%;
  }

  .index_banner_flower_2{
    width: 20.963541666%;
    top: 9%;
  }

  .index_banner_flower_3{
    width: 10.416%;
    left: 0;
  }

  /* 按鈕 */
  .hot_product_btn{
    font-size: 14px;
  }

  /* 來自英國 */
  .form_england{
    width: 100%;
  }

  .form_england_r{
    width: 90%;
    margin: 0  auto;
  }

  .form_england_r_contain{
    margin: 0 auto;
  }

  .form_england_l{
    width: 100%;
    margin: 0 auto;
  }

  .form_england_img_1{
    width: 47.39583%;
    top: 43%;
    left: 24%;
  }

  .form_england_img_2{
    width: 33.59375%;
    top: 7%;
    left: 54%;
  }

  .form_england_img_3{
    padding-top: 72.526041666%;
    background: url(../images/index/england_768.png) 0% 30% / 83.463541666% no-repeat;
  }

  /* 輪播 */
  .index_carousel_img{
    padding-top: 64.0625%;
  }

  .index_carousel_img_1{
    background-image: url(../images/index/index_carousel_ex_768.jpg);
  }

  .index_carousel_img_2{
    background-image: url(../images/index/index_carousel_ex2_768.jpg);
  }

  .index_carousel_img_3{
    background-image: url(../images/index/index_carousel_ex3_768.jpg);
  }

  .index_carousel_inner{
    width: 50%;
    max-width: 140px;
    top: auto;
    left: 8%;
    bottom: 18%;
    right: auto;
  }

  /* 暢銷排行榜 */
  .hot_product_title{
    display: block;
  }

  .hot_product_title1{
    height: 8.854166666vw;
    margin: 0 auto;
  }

  .hot_product_title h1{
    padding: 2% 0 0 0;
    font-size: 17px;
    text-align: center;
  }

  /* 部落客推薦 */
  .blog_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background: #fff url(../images/index/blog_bg_768.png) 50% 98% no-repeat;
    background-size: 100%;
  }

  .blog_box{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .blog_contain{
    width: 100%;
    position: relative;
    top: auto;
    right: auto;
    transform: translate(0, 0);
  }

  .blog_contain_area{
    /* padding-top: 0; */
  }

  .blog_infor{
    flex-direction: column;
  }

  .blog_word{
    width: 70.5%;
    margin: 0 auto;
  }

  .blog_photo{
    /* width: 100%; */
    /* margin: 0 auto; */
    /* position: static; */
    /* transform: rotate(3.7deg) translate(0, 0); */
  }

  .blog_photo_box{
    margin: 3% auto 0 4%;
  }

  .blog_title{
    padding-bottom: 5%;
  }

  .blog_title h1{
    width: 90%;
    height: auto;
    max-height: none;
    margin: 0 auto;
  }

  .blog_des h2{
    padding-top: 7%;
    font-size: 20px;
  }

  .blog_des hr{
    max-width: 100px;
    margin: 0 auto;
  }

  .blog_item{
    padding-top: 0;
  }

  .blog_detail{
    /* width: 100%; */
    font-size: 4.5vw;
    /* padding: 2.5% 0 0 0%; */
  }

  /* .blog_detail_btn{
    width: 34%;
    max-width: 165px;
    max-height: 46px;
    padding: 1% 1% 1% 1.5%;
    font-size: 2.6vw;
    line-height: 5.2vw;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
  } */

  /* .blog_detail_btn span{
    width: 4vw;
    height: 4vw;
    margin-left: 5%;
  }

  .blog_detail_btn span i{
    width: 40%;
    height: 40%;
    top: 58%;
    left: 25%;
  } */

  /* .blog_detail_btn img{
    width: 4vw;
    height: 4vw;
    margin-left: 5%;
  } */

  /* youtube影片 */
  .video_item{
    width: 350px;
  }

  /* popup */
  .popup_wrap_welcome p{
    font-size: 15px;
  }

  .welcome_btn{
    font-size: 20px;
  }
}

@media screen and (max-width: 414px){
  /* 輪播 */
  .index_carousel_img{
    padding-top: 120%;
  }

  /* .index_carousel_img_1{
    background-image: url(../images/index/index_carousel_ex_768.jpg);
  }

  .index_carousel_img_2{
    background-image: url(../images/index/index_carousel_ex_768.jpg);
  }

  .index_carousel_img_3{
    background-image: url(../images/index/index_carousel_ex_768.jpg);
  } */

  .index_carousel_icon{
    width: 60px;
    height: 60px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 375px){
  /* youtube影片 */
  .video_item{
    width: 290px;
  }
}
