.news_wrap{
  width: 100%;
  padding: 5% 0;
}

.news_box{
  width: 90%;
  max-width: 1490px;
  margin: 0 auto;
}

/* 最新消息標題 */
.news_title_box {
  margin: 2% auto 5% auto;
}

.news_title{
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #4985B9;
  text-align: center;
}

.news_title_box hr {
  width: 13%;
  height: 3px;
  border: 0;
  background-color: #767676;
  border-radius: 5px;
  margin: 2% auto;
}

/* 日期 */
.news_date {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #767676;
  text-align: center;
}

/* 圖片 */
.news_img{
  width: 100%;
  padding-top: 48.035255233%;
  margin: 0 auto;
  background: url(../images/index/news_banner_ex.jpg) center no-repeat;
  background-size: cover;
}

.news_inner{
  width: 100%;
  padding: 5%;
  background-color: #fff;
}

.news_inner img{
  width: 100%;
  padding: 2% 0 3% 0;
}

/* 內文 */
.news_article h1, .news_article h2, .news_article h3, .news_article p{
  color: #767676;
  text-align: left;
}

.news_article h1{
  font-size: 26px;
  font-weight: 600;
  line-height: 2.5;
}

.news_article h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 2.2;
}

.news_article h3{
  font-size: 21px;
  font-weight: 600;
  line-height: 2;
}

.news_article p{
  line-height: 2;
}

.news_article a{
  display: inline-block;
  color: #74bdfc;
  font-weight: 500;
}

.news_article a:hover{
  color: #218dea;
}

/* 回到列表按鈕 */
.goback_newslist{
  width: 50%;
  max-width: 320px;
  padding: 15px 10px;
  margin: 4.5% auto 0 auto;
  text-align: center;
  color: #ffffff;
  background-color: #9DDDF5;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: 'Helvetica', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'cwTeXYen', 'sans-serif', serif, 'PMingLiU';
  border-radius: 50px;
  box-shadow: 0 5px 0 rgba(110, 192, 222, 1);
  cursor: pointer;
  transition: background-color 0.3s linear,
              box-shadow 0.3s linear;
}

.goback_newslist:hover{
  color: #ffffff;
  background-color: #4cbbe4;
  box-shadow: 0 5px 0 rgba(25, 136, 177, 1);
  transition: background-color 0.3s linear,
              box-shadow 0.3s linear;
}

@media screen and (max-width: 768px){
  /* 標題 */
  .news_box_title{
    width: 80%;
    max-width: 380px;
  }

  /* 文章圖片 */
  .news_img{
    padding-top: 100%;
    background: url(../images/index/news_banner_ex_768.jpg) center no-repeat;
    background-size: 100%;
  }

  .news_title{
    font-size: 36px;
  }
  .news_date {
    font-size: 14px;
  }

  /* 返回首頁按鈕 */
  .goback_newslist{
    width: 100%;
    max-width: 270px;
    padding: 14px 6px;
    margin: 8% auto 10% auto;
    font-size: 20px;
  }
}
