/* 輪播banner */
.product_banner{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.product_banner_wrap{
  width: 100%;
}

.product_banner_item{
  width: 100%;
  padding-top: 49.109014675%;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  float: left;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: none;
  transition: transform .6s ease-in-out;
  position: relative;
}

.product_banner_item.active{
  display: block;
}

.product_banner_item_1{
  background-image: url(../images/product/banner_ex.jpg);
}

.product_banner_item_2{
  background-image: url(../images/reserve/banner_ex.jpg);
}

.product_banner_item_3{
  background-image: url(../images/index/index_carousel_ex.jpg);
}

.product_carousel_indicators{
  width: 100%;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  bottom: 2%;
}

.product_carousel_indicators .item{
  width: 13px;
  height: 13px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #030303;
  display: inline-block;
  cursor: pointer;
}

.product_carousel_indicators .item.active{
  background-color: #9fa0a0;
}

/* 炸彈雙星 */
.product_wrap{
  padding: 5% 0 0 0;
}

.product_title{
  width: 80%;
  max-width: 756px;
  padding: 2% 0%;
  margin: 0 auto;
  border-bottom: 1px solid #000101;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product_title1{
  max-height: 60px;
  height: 3.125vw;
}

.product_title h1 {
  font-size: 18px;
  font-weight: 600;
  color: #040404;
}

.product_contain{
  width: 90%;
  max-width: 1050px;
  padding: 5% 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.product_item{
  /* width: 28%;
  max-width: 256px; */
  width: 33.33333%;
  padding-bottom: 6%;
  text-align: center;
}

.product_item_contain{
  width: 90%;
  max-width: 256px;
  margin: 0 auto;
}

.product_item p{
  width: 100%;
  height: 53px;
  margin: 12% auto 8% auto;
  font-weight: 600;
  line-height: 1.6;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product_img{
  width: 100%;
  padding-top: 100%;
  margin: 0 auto;
  /* background-color: #fff; */
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); */
}

.product_img_1, .product_img_4, .product_img_7{
  background-image: url(../images/product/star_1.png);
}

.product_img_2, .product_img_5, .product_img_8{
  background-image: url(../images/product/star_2.png);
}

.product_img_3, .product_img_6, .product_img_9{
  background-image: url(../images/product/star_3.png);
}

/* 系列介紹 */
.set_wrap{
  width: 90%;
  max-width: 1250px;
  /* padding: 5% 0; */
  padding: 2% 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.set_wrap_reserve{
  flex-direction: row-reverse;
}

.set_wrap_video{
  max-width: 1000px;
}

.set_box_l{
  width: 50%;
}

.set_box_l h1{
  font-family: 'Helvetica', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'cwTeXYen', 'sans-serif', serif, 'PMingLiU';
  font-size: 30px;
  font-weight: 700;
}

.set_box_l hr{
  width: 20%;
  margin: 3.5% auto;
  border: none;
  height: 3px;
  background-color: #000;
}

.set_box_l p{
  font-size: 16px;
  line-height: 2.3;
}

.set_box_r{
  width: 40%;
}

.set_box_r img {
  max-height: 500px;
  margin: 0 auto;
}

.set_intro_video{
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  /* padding-top: 30px; */
  height: 0;
  overflow: hidden;
  border: 12px solid #fff;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
}

.set_intro_video iframe, .set_intro_video object, .set_intro_video embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* 斗篷草 */
.set_box_l h2{
  padding: 2% 0 2% 0;
  font-size: 30px;
  font-weight: 700;
  color: #034fb5;
}

.set_box_l h3{
  padding: 2% 0 0 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
  color: #034fb5;
}

/* check */
.set_check{
  width: 100%;
  /* width: 70%; */
  max-width: 1010px;
  padding: 2%;
  margin: 0 auto;
  /* background: url(../images/product/check_bg.png) center no-repeat;
  background-size: cover; */
}

/* .set_check_box, .set_check_title img{
  display: inline-block;
  color: #fff100;
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}

.set_check_title{
  text-align: center;
  padding-bottom: 3%;
}

.set_check_title img{
  width: 100px;
}

.set_check_box{
  position: relative;
  padding-left: 28px;
  margin-left: 2%;
}

.set_check_box::before{
  content: '';
  width: 37px;
  height: 38px;
  display: block;
  background: url(../images/product/set_check.png) center no-repeat;
  background-size: 100%;
  position: absolute;
  top: -14px;
  left: 0;
}

.set_check_word{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.set_check_word p{
  color: #fff;
  font-weight: 600;
  padding: 10px 0 0 0;
}

.set_check_word p:nth-child(1){
  width: 123px;
}

.set_check_word p:nth-child(2){
  width: calc(100% - 123px);
} */

/* 紫芹 */
.set_wrap_3 .set_box_r{
  width: 50%;
  margin: -5% auto 0 -3%;
}

.set_check_word p.set_check_word_b:nth-child(1) {
    width: 134px;
}

.set_check_word p:nth-child(2) {
    width: calc(100% - 134px);
}

/* 影片 */
.set_video{
  width: 90%;
  max-width: 1000px;
  padding: 5% 0;
  margin: 0 auto;
}

/* 文字 */
.set_text{
  width: 90%;
  max-width: 1200px;
  padding: 4% 0;
  margin: 0 auto;
  text-align: center;
}

.set_text h1{
  font-size: 30px;
  line-height: 1.8;
}

.set_text h2{
  font-size: 26px;
  line-height: 1.8;
}

.set_text h3{
  font-size: 24px;
  line-height: 1.8;
}

.set_text p{
  font-size: 16px;
}

.set_text hr{
  width: 20%;
  max-width: 100px;
  margin: 1.5% auto 2.5% auto;
  border: none;
  height: 3px;
  background-color: #000;
}

/* 預約體驗服務 */
.reservation_wrap{
  width: 100%;
  padding: 3%;
  background-color: #fff45c;
}

.product_title_reservation{
  max-width: 900px;
  border: none;
}

.reservation_go{
  width: 20%;
  max-width: 272px;
  padding: 0.5%;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #74bdfc;
  border-radius: 30px;
  position: relative;
}

.reservation_go img{
  width: 30px;
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translate(0, -50%);
}

@media screen and (max-width: 768px){
  /* banner */
  .product_banner_item{
    width: 100%;
    padding-top: 158.59375%;
  }

  .product_banner_item_1{
    background-image: url(../images/product/banner_ex_768.jpg);
  }

  /* 炸彈雙星 */
  .product_title{
    max-width: 570px;
    display: block;
    text-align: center;
  }

  .product_title1{
    height: 7vw;
    max-height: 79px;
    margin: 0 auto;
  }

  .product_title h1{
    padding: 3% 0;
    font-weight: 500;
    font-size: 28px;
  }

  .product_contain{
    max-width: 500px;
  }

  .product_item{
    width: 50%;
  }

  .product_item:not(.product_item_top){
    margin-top: 9%;
  }

  /* .product_item p{
    height: 90px;
  } */

  /* 系列介紹 */
  .set_box_l{
    width: 100%;
  }

  .set_box_r{
    width: 100%;
    max-width: 450px;
    margin-top: 5%;
  }

  .set_intro_video{
    border-width: 8px;
  }

  .set_box_l h3, .set_box_l h2{
    font-size: 24px;
  }

  .set_check{
    width: 90%;
    padding: 3% 2% 2% 2%;
  }

  .set_check img{
    margin: 0 auto;
  }

  .set_wrap_3 .set_box_r{
    width: 90%;
    max-width: none;
    margin: 0 auto;
  }

  /* 預約體驗 */
  .product_title h1{
    display: inline-block;
  }

  .reservation_go{
    width: 28%;
    margin: 0 auto 0 3%;
    display: inline-block;
  }
}

@media screen and (max-width: 596px){
  .product_title1{
    height: 11vw;
  }

  .product_title h1{
    font-size: 18px;
  }

  .set_wrap{
    padding: 10% 0;
  }

  .set_box_l h1{
    font-size: 26px;
  }

  .set_box_l p{
    font-size: 14px;
    line-height: 1.8;
    display: inline;
  }

  .product_item{
    width: 100%;
    margin: 8% auto 8% auto;
  }

  .product_item p{
    height: auto;
    padding: 0;
  }

  .set_intro_video {
    border-width: 5px;
  }

  /* check */
  .set_check{
    padding: 5% 4%;
  }

  .set_check_word p:nth-child(1),
  .set_check_word p:nth-child(2),
  .set_check_word p.set_check_word_b:nth-child(1){
    width: 100%;
  }

  .set_check_title img{
    display: block;
    margin: 0 auto 20px auto;
  }

  .set_check_box{
    font-size: 16px;
    padding-left: 19px;
  }

  .set_check_box::before{
    width: 25px;
  }

  .set_check_word{
    padding: 5% 0 0 0;
  }

  .set_check_word p{
    font-size: 14px;
  }

  /* 文字 */
  .set_text p{
    font-size: 14px;
    display: inline;
  }

  .set_text h1{
    font-size: 24px;
  }

  .set_text h2{
    font-size: 22px;
  }

  .set_text h3{
    font-size: 20px;
  }

  /* 預約體驗服務 */
  .reservation_go{
    width: 100%;
    padding: 5px 0;
    margin: 0 auto;
    display: block;
  }
}
