@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");

.vitawater_wrapper ol,
.vitawater_wrapper ul {
	list-style: none;
}

fieldset,
img {
	border: 0;
}

img {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.vitawater_wrapper ol,
.vitawater_wrapper ul,
.vitawater_wrapper li {
	list-style: none;
}

.vitawater_wrapper a {
	text-decoration: none;
	border: 0;
}

.vitawater_wrapper input,
.vitawater_wrapper button,
.vitawater_wrapper textarea,
.vitawater_wrapper select,
.vitawater_wrapper option {
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: none;
	border: 0;
	border-radius: 100em;
	background-color: #fffaec;
	color: #000;
	font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

.vitawater_wrapper input[type="button"],
.vitawater_wrapper input[type="submit"],
.vitawater_wrapper input[type="reset"] {
	-webkit-appearance: none;
}

.vitawater_wrapper textarea {
	-webkit-appearance: none;
}

.vitawater_wrapper textarea:focus,
.vitawater_wrapper input:focus {
	outline: none;
}

.vitawater_wrapper * {
	outline: none;
}

.vitawater_wrapper section {
	width: 100%;
	position: relative;
}

.vitawater_wrapper select::-ms-expand {
	display: none;
}

.vitawater_wrapper select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("../images/ampouleserum/arrow.png") no-repeat scroll 95% center transparent;
	background-size: auto 40%;
	border: 0;
	border-radius: 100em;
	background-color: #fffaec;
	color: #b8b5b5;
	padding-left: 2%;
	font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

.vitawater_wrapper select.active {
	color: #000;
}

.vitawater_wrapper option::-ms-expand {
	display: none;
}

.vitawater_wrapper option {
	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari 和 Chrome */
	appearance: none;
	background-color: #fffaec;
	color: #000;
}

.vitawater_wrapper option:hover {
	background-color: #e8e8e8;
}

.vitawater_wrapper ::-webkit-input-placeholder {
	/* Edge */
	color: #b8b5b5;
}

.vitawater_wrapper :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #b8b5b5;
}

.vitawater_wrapper ::placeholder {
	color: #b8b5b5;
}

/*action*/
@-webkit-keyframes swing {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	50% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}

	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes swing {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	50% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}

	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

.swing {
	-webkit-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	transform-origin: bottom center;
	-webkit-animation-name: swing;
	animation-name: swing;
}

@-webkit-keyframes turn {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes turn {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes updown {
	0% {
		transform: translateY(5%);
	}

	100% {
		transform: translateY(-5%);
	}
}

@keyframes updown {
	0% {
		transform: translateY(5%);
	}

	100% {
		transform: translateY(-5%);
	}
}

.updown {
	animation-name: updown;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: linear;
}


@keyframes float-left {
	0% {
		transform: translate(0, 0px) rotate(0deg);
	}

	50% {
		transform: translate(0, 12px) rotate(-3deg);
	}

	100% {
		transform: translate(0, -0px) rotate(0deg);
	}
}

.float-left {
	animation-name: float-left;
	animation-iteration-count: infinite;
}

@keyframes shine {
	from {
		opacity: 1.0;
		transform: scale(1);
	}

	50% {
		opacity: 0.4;
		transform: scale(0.5);

	}

	to {
		opacity: 1.0;
		transform: scale(1);

	}
}

.shine {
	animation-name: shine;
	animation-iteration-count: infinite;
}

@keyframes shine2 {
	from {
		filter: brightness(0.95);
		opacity: 0.5;
	}

	50% {
		filter: brightness(1.0);
		opacity: 0.2;

	}

	to {
		filter: brightness(0.95);
		opacity: 0.5;

	}
}

.shine,
.shine2 {
	animation-name: shine;
	animation-iteration-count: infinite;
}

@-webkit-keyframes a {
	0% {
		left: -100%;
		opacity: 0
	}

	15% {
		opacity: .8
	}

	25% {
		opacity: .8
	}

	30% {
		left: 150%;
		opacity: 0
	}

	to {
		left: 150%;
		opacity: 0
	}
}

@keyframes a {
	0% {
		left: -100%;
		opacity: 0
	}

	15% {
		opacity: .8
	}

	25% {
		opacity: .8
	}

	30% {
		left: 150%;
		opacity: 0
	}

	to {
		left: 150%;
		opacity: 0
	}
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/*layout*/
.vitawater_wrapper {
	width: 100%;
	height: auto;
	margin: 0 auto -2vw auto;
	position: relative;
	background-image: url(../images/ampouleserum/bg_02.jpg);
	background-size: 100%;
	background-position: top center;
	overflow: hidden;
	line-height: 1.5;
	font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
	font-size: 16px;
	background-color: #749265;
}

.vitawater_wrapper section {
	display: inline-block;
}

.banner {
	width: 100%;
	height: 0;
	padding-bottom: 57%;
	position: relative;
	background-image: url(../images/ampouleserum/banner.jpg);
	background-size: 100%;
}

.title {
	width: 50%;
	height: 100vh;
	margin: 0 0 0 49.5%;
	position: relative;
}

.title > h1,
.title > img {
	position: absolute;
}

.vitawater_wrapper h1 {
	overflow: hidden;
	width: 72%;
	height: 0;
	padding-bottom: 42%;
	text-indent: -100%;
	top: 15.6vw;
	left: 1.5%;
}

.vitawater_wrapper h1 span {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/ampouleserum/banner_title.png);
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-mask-image: url('../images/ampouleserum/banner_title_mask.png');
	mask-image: url('../images/ampouleserum/banner_title_mask.png');
	-webkit-mask-size: 100%;
	mask-size: 100%;
}

.vitawater_wrapper h1 span:before,
.title_light:before {
	position: absolute;
	width: 30px;
	height: 100%;
	top: 0;
	left: -70%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .8)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .8) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	-webkit-animation: a 6s linear -2s infinite normal;
	animation: a 6s linear -2s infinite normal;
	content: "";
	z-index: 2;
	display: block;
}

.vitawater_wrapper h1:before {
	-webkit-animation: a 10s linear -10s infinite normal;
	animation: a 10s linear -10s infinite normal;
}

.tip {
	width: 17.6%;
	top: 13.4vw;
	left: 59%;
}

.sp {
	width: 50.3%;
	top: 39vw;
	left: 0.3%;
}

.bottle {
	width: 37%;
	top: 37vw;
	left: 31%;
}

.for_m {
	display: none;
}

@media (max-width:768px) {

	.for_m {
		display: block;
	}

	.vitawater_wrapper {
		width: 100%;
		background-image: url(../images/ampouleserum/bg_02_m.jpg);
		background-size: cover;
	}

	.banner {
		padding-bottom: 133%;
		position: relative;
		background-image: url(../images/ampouleserum/banner_m.jpg);
	}

	.title {
		width: 100%;
		height: 40vh;
		margin: 0 0 0 0;
		position: relative;
	}

	.vitawater_wrapper h1 {
		width: 62%;
		height: 0;
		padding-bottom: 35%;
		top: 9.4vw;
		left: 7.8%;
	}

	.tip {
		width: 20%;
		left: 72%;
	}

	.sp {
		width: 40%;
		top: 46vw;
		left: 45%;
	}

	.bottle {
		display: none;
	}

}

/*前導*/
.predecessor {
	width: 100%;
	height: 0;
	padding-bottom: 51%;
	background-image: url(../images/ampouleserum/bg_01.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.title_02 {
	width: 46.7%;
	margin-left: 12%;
	margin-top: 15.2vw;
	position: relative;
}

.title_02 img:nth-child(1) {
	width: 100%;
}

.title_02 img:nth-child(2) {
	width: 73.5%;
	margin-left: 11%;
	margin-top: 1vw;
}

.title_light {
	position: absolute;
	width: 89.9%;
	height: 0;
	padding-bottom: 15%;
	top: 0.1vw;
	left: 9%;
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-mask-image: url('../images/ampouleserum/info_title_mask.png');
	mask-image: url('../images/ampouleserum/info_title_mask.png');
	-webkit-mask-size: 100%;
	mask-size: 100%;
}

.two_bottle {
	position: absolute;
	width: 19.6%;
	height: 0;
	padding-bottom: 34%;
	top: 11vw;
	left: 63%;
}

.two_bottle_inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.two_bottle img:nth-child(1) {
	width: 100%;
}

.two_bottle img:nth-child(2),
.two_bottle img:nth-child(3) {
	position: absolute;
}

.two_bottle img:nth-child(2) {
	width: 76.7%;
	left: -12%;
	top: 6.5vw;
	z-index: 5;
}

.two_bottle img:nth-child(3) {
	width: 48%;
	left: 45%;
	top: 7.4vw;
	z-index: 3;
	animation-delay: 2s;
}

@media (max-width:768px) {

	.predecessor {
		margin-top: -1vw;
		padding-bottom: 94%;
		background-image: url(../images/ampouleserum/bg_01_m.jpg);
	}

	.title_02 {
		width: 74%;
		margin-left: 7%;
		margin-top: 16.2vw;
	}

	.title_02 img:nth-child(1) {
		width: 100%;
	}

	.title_02 img:nth-child(2) {
		display: none;
	}

	.title_02 img.for_m {
		display: block;
		width: 49%;
		margin-left: 10%;
		margin-top: 3%;
	}

	.two_bottle {
		position: absolute;
		width: 29.2%;
		top: 37vw;
		left: 57%;
	}

	.two_bottle img:nth-child(2) {
		width: 76.7%;
		left: -11%;
		top: 8vw;

	}

	.two_bottle img:nth-child(3) {
		width: 48%;
		left: 45%;
		top: 10vw;
	}

}

/*黃瓶*/
.yellow_wrap {
	position: relative;
	background-size: 100%;
	height: 0;
	padding-bottom: 115%;
}

.yellow_wrap .box_left {
	width: 51%;
	margin-top: 7.8vw;
	margin-left: 8%;
	text-align: left;
	position: relative;
	z-index: 2;
}

.yellow_wrap .box_left img:nth-child(1) {
	width: 78%;
	margin: auto;
}

.yellow_wrap .box_left img:nth-child(2) {
	width: 87%;
	margin-top: 3.4vw;
	margin-left: 8%;
}

.yellow_wrap .box_left img:nth-child(3) {
	width: 73%;
	margin-top: 3vw;
	margin-left: 8%;
}

.yellow_wrap .box_right {
	width: 33%;
	position: absolute;
	z-index: 2;
	top: 7.5vw;
	left: 53%;
}

.yellow_wrap .box_right img {
	width: 100%;
}

@media(max-width:768px) {

	.yellow_wrap {
		position: relative;
		height: 0;
		padding-bottom: 475%;
		margin-top: -3vw;
	}

	.yellow_wrap .box_left {
		width: 100%;
		margin-top: 0;
		margin-left: 0;
	}

	.yellow_wrap .box_left img:nth-child(1),
	.yellow_wrap .box_left img:nth-child(2),
	.yellow_wrap .box_left img:nth-child(3) {
		display: none;

	}

	.yellow_wrap .box_left img.for_m {
		display: block;
	}


	.yellow_wrap .box_left img:nth-child(4) {
		width: 78%;
		margin-top: 15vw;
		margin-left: 12%;
	}

	.yellow_wrap .box_left img:nth-child(5) {
		width: 80%;
		margin-top: 100vw;
		margin-left: 9%;
	}

	.yellow_wrap .box_left img:nth-child(6) {
		width: 78%;
		margin-top: 4vw;
		margin-left: 10%;
	}

	.yellow_wrap .box_right {
		display: none;
	}

	.yellow_wrap .box_right.for_m {
		width: 75%;
		position: absolute;
		z-index: 2;
		top: 42vw;
		left: 10%;
		display: block;
	}

	.yellow_wrap .box_right img {
		width: 100%;
	}
}

/*藍瓶*/
.blue_wrap {
	position: relative;
	height: 0;
	padding-bottom: 88%;
}

.blue_wrap .box_left {
	width: 19%;
	margin-top: 15vw;
	margin-left: 12.6%;
	position: relative;
}

.blue_wrap .box_left img:nth-child(1) {
	width: 100%;
	z-index: 2;
	position: relative;
}

.blue_wrap .box_left img:nth-child(2) {
	position: absolute;
	max-width: 150%;
	width: 150%;
	left: -68%;
	top: 29.5vw;
	z-index: 1;
}

.blue_wrap .box_right {
	position: absolute;
	width: 52.5%;
	top: 5vw;
	left: 33%;
	z-index: 2;
}

.blue_wrap .box_right img:nth-child(1) {
	width: 102%;
	margin-top: 0.8vw;
	margin-left: -3%;
}

.blue_wrap .box_right img:nth-child(2) {
	width: 95%;
	margin-top: 3vw;
	margin-left: 2%;
}

.blue_wrap .box_right img:nth-child(3) {
	width: 60%;
	margin-top: 3vw;
	margin-left: 4%;
}

.flower_01 {
	position: absolute;
	width: 27%;
	right: 0;
	z-index: 1;
	top: 36vw;
}

.flower_03 {
	display: none;
}

@media(max-width:768px) {

	.blue_wrap {
		height: 0;
		padding-bottom: 290%;
	}

	.blue_wrap .box_left {
		display: none;
	}


	.blue_wrap .box_left.for_m {
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		height: 0;
		padding-bottom: 140vw;
		position: absolute;
		text-align: center;
		display: block;
	}


	.blue_wrap .box_left img:nth-child(1) {
		max-width: 40%;
		width: 40%;
		z-index: 2;
		position: relative;
		margin-left: 36%;
		margin-top: 38vw;
	}

	.blue_wrap .box_left img:nth-child(2) {
		position: absolute;
		width: 74%;
		max-width: 74%;
		left: -5%;
		top: 98vw;
	}

	.blue_wrap .box_right {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}

	.blue_wrap .box_right img:nth-child(1) {
		width: 89%;
		margin-top: 0;
		margin-left: 5.2%;
	}

	.blue_wrap .box_right img:nth-child(2),
	.blue_wrap .box_right img:nth-child(3) {
		display: none;

	}

	.blue_wrap .box_right img:nth-child(4) {
		width: 90%;
		margin-top: 85.4vw;
		margin-left: 9%;
	}

	.blue_wrap .box_right img:nth-child(5) {
		width: 64%;
		margin-top: 5vw;
		margin-left: 10%;
	}

	.flower_01 {
		display: none;
	}

	.flower_03 {
		width: 65%;
		max-width: 65%;
		z-index: 2;
		top: 246vw;
		position: absolute;
		left: 0;
		display: block;

	}
}

/*表格*/
.form_wrap {
	height: 0;
	padding-bottom: 100%;
	text-align: center;
	color: #444444;
}

.form_wrap .title_free {
	margin-top: 4.8vw;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.form_wrap .title_04 {
	margin-top: 2.1vw;
	width: 61%;
	margin-left: auto;
	margin-right: auto;
}

.form_wrap > span {
	display: block;
	font-size: 1.62vw;
	width: 70%;
	margin: 3vw auto 0 auto;
	text-align: left;
	font-weight: 400;
	position: relative;
}

.form_wrap > span br {
	display: none;
}

.btn_shop_link {
	width: 20%;
	display: block;
	position: absolute;
	right: 0;
	top: -1vw;
}

.btn_shop_link img {
	width: 100%;
	transition: all 0.4s ease;
}

.btn_shop_link:hover img,
.btn_enter:hover img {
	filter: brightness(1.1);
}

.form {
	width: 72%;
	margin: 4vw auto 0 auto;
}

.form ul,
.form ul li {
	width: 100%;
	text-align: left;
}

.form ul li {
	height: 0;
	padding-bottom: 5.2%;
	margin-bottom: 3vw;
	position: relative;
}

.form ul li img {
	height: 1.8vw;
	display: inline-block;
	transform: translateY(50%);
	margin-left: 1.5%;
	margin-right: 2%;
}

.form ul li input,
.form ul li select {
	height: 3.8vw;
	line-height: 3.8vw;
	width: 89%;
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 3%;
	box-sizing: border-box;
	font-size: 1.5vw;
}

.form ul li select {
	width: 78%;
}

.custom-checkbox {
	width: 100%;
	font-size: 1.4vw;
	text-align: left;
	margin-top: 4vw;
	padding-left: 2%;
	color: #202020;
	position: relative;
}

.custom-checkbox br {
	display: none;
}

input[type=checkbox] {
	transform: scale(5);
	position: absolute;
	z-index: 2;
	opacity: 0;
	top: 0;
}

.c-ct {
	position: relative;
}

.checkmark {
	position: absolute;
	display: block;
	width: 2vw;
	height: 2vw;
	z-index: 1;
	background-image: url(../images/ampouleserum/check_box.png);
	background-size: 100%;
	background-repeat: no-repeat;
	left: 0;
	top: 0.6vw;
}

.checkmark.active {
	background-image: url(../images/ampouleserum/check_now.png);
}

.check-content {
	padding-left: 4%;
	font-size: 2vw;
	display: block;
}

.check-content a {
	color: #ed8000;
	display: inline-block;
	vertical-align: text-top;
	margin-top: -0.5vw;
	margin-left: 0.5%;
	text-decoration: underline;
}

.btn_enter {
	width: 20%;
	margin-top: 4vw;
	display: inline-block;
}

.btn_enter img {
	width: 100%;
}

.notice img {
	width: 70%;
	margin-top: 3.1vw;
	margin-left: auto;
	margin-right: auto;
}

@media(max-width:768px) {

	.form_wrap {
		height: 0;
		padding-bottom: 187%;
	}

	.form_wrap .title_free {
		margin-top: 6vw;
		width: 120%;
	}

	.form_wrap .title_04 {
		display: none;
	}

	.form_wrap .title_04.for_m {
		width: 87%;
		display: block;
		margin-top: -8vw;
		margin-left: 5%;
	}

	.form_wrap > span {
		font-size: 3.5vw;
		width: 84%;
		margin: 9vw auto 0 auto;
		font-weight: 800;
	}

	.form_wrap > span br {
		display: block;
	}

	.btn_shop_link {
		width: 20%;
		top: -5vw;
	}

	.btn_shop_link img:nth-child(1) {
		display: none;
	}

	.form {
		width: 88%;
		margin: 7.2vw auto 0 auto;
	}

	.form ul li {
		padding-bottom: 8%;
		margin-bottom: 7.4vw;
		position: relative;
	}

	.form ul li img {
		height: 4vw;
	}

	.form ul li input,
	.form ul li select {
		height: 9vw;
		line-height: 9vw;
		width: 82%;
		padding-left: 3%;
		box-sizing: border-box;
		font-size: 3vw;
	}

	.form ul li select {
		width: 62%;
		line-height: 8vw;
	}

	.custom-checkbox {
		font-size: 1vw;
		text-align: left;
		margin-top: -1vw;
		padding-left: 2%;
	}

	.checkmark {
		position: absolute;
		display: block;
		width: 3.5vw;
		height: 3.5vw;
		left: 0;
		top: calc(0.7vw - 2%);
	}

	.check-content {
		padding-left: 6%;
		font-size: 2.8vw;
		display: block;
	}

	.check-content a {
		margin-top: -0.4vw;
	}

	.custom-checkbox br {
		display: none;
	}

	.btn_enter {
		width: 39%;
		margin-top: 6vw;
	}

	.notice img {
		display: none;
	}

	.notice img.for_m {
		display: block;
		width: 88%;
		margin-top: 6vw;
		margin-left: auto;
		margin-right: auto;
	}

}

/*商品*/
.goods_wrap {
	text-align: center;
	padding-bottom: 18%;
}

.goods_wrap > img {
	width: 15%;
	margin-top: 4vw;
	margin-left: auto;
	margin-right: auto;
}

.goods_list {
	width: 58%;
	margin: 3vw auto 0 auto;
	font-size: 0;
}

.goods_link {
	display: inline-block;
	width: 30%;
	margin: 2vw 1% 0.8vw 1%;
	vertical-align: text-top;
	height: 0;
	padding-bottom: 40%;
	position: relative;
}

.goods_link a {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 133%;
	position: absolute;
	top: 0;
	background-size: auto 92%;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.4s ease;
	overflow: hidden;
	text-indent: -200%;
}

.g_01 {
	background-image: url(../images/ampouleserum/goods_01.png);
}

.g_02 {
	background-image: url(../images/ampouleserum/goods_02.png);
}

.g_03 {
	background-image: url(../images/ampouleserum/goods_03.png);
}

.g_04 {
	background-image: url(../images/ampouleserum/goods_04.png);
}

.g_05 {
	background-image: url(../images/ampouleserum/goods_05.png);
}

.g_06 {
	background-image: url(../images/ampouleserum/goods_06.png);
}

.g_01:hover {
	background-image: url(../images/ampouleserum/goods_01_h.png);
}

.g_02:hover {
	background-image: url(../images/ampouleserum/goods_02_h.png);
}

.g_03:hover {
	background-image: url(../images/ampouleserum/goods_03_h.png);
}

.g_04:hover {
	background-image: url(../images/ampouleserum/goods_04_h.png);
}

.g_05:hover {
	background-image: url(../images/ampouleserum/goods_05_h.png);
}

.g_06:hover {
	background-image: url(../images/ampouleserum/goods_06_h.png);
}

img.flower_02 {
	position: absolute;
	top: -3vw;
	left: 0;
	width: 24%;
}

@media(max-width:768px) {

	.goods_wrap {
		text-align: center;
		padding-bottom: 42%;
	}

	.goods_wrap > img {
		width: 29%;
		margin-top: 12vw;
	}

	.goods_list {
		width: 91%;
		height: auto;
		margin: 13vw auto 0 auto;
		font-size: 0;
		z-index: 2;
		position: relative;
	}

	.goods_link {
		display: inline-block;
		width: 100%;
		margin: 0 0 2vw 0;
		vertical-align: text-top;
		height: auto;
		padding-bottom: 0;
	}

	.goods_link a {
		width: 100%;
		height: 0;
		padding-bottom: 0;
		position: relative;
		top: 0;
		background-size: 100% auto;
		background-position: center top;
	}

	a.g_01 {
		padding-bottom: 91%;
		background-image: url(../images/ampouleserum/g_01_m.png);
	}

	a.g_02 {
		margin-top: 12vw;
		padding-bottom: 91%;
		background-image: url(../images/ampouleserum/g_02_m.png);
	}

	a.g_03 {
		margin-top: 2vw;
		padding-bottom: 100%;
		background-image: url(../images/ampouleserum/g_03_m.png);
	}

	a.g_04 {
		margin-top: 3.2vw;
		padding-bottom: 100%;
		background-image: url(../images/ampouleserum/g_04_m.png);
	}

	a.g_05 {
		margin-top: 2vw;
		padding-bottom: 66%;
		background-image: url(../images/ampouleserum/g_05_m.png);
	}

	a.g_06 {
		margin-top: 13vw;
		padding-bottom: 100%;
		background-image: url(../images/ampouleserum/g_06_m.png);
	}

	a.g_01:hover {
		background-image: url(../images/ampouleserum/g_01_mm.png);
	}

	a.g_02:hover {
		background-image: url(../images/ampouleserum/g_02_mm.png);
	}

	a.g_03:hover {
		background-image: url(../images/ampouleserum/g_03_mm.png);
	}

	a.g_04:hover {
		background-image: url(../images/ampouleserum/g_04_mm.png);
	}

	a.g_05:hover {
		background-image: url(../images/ampouleserum/g_05_mm.png);
	}

	a.g_06:hover {
		background-image: url(../images/ampouleserum/g_06_mm.png);
	}

	img.flower_02 {
		position: absolute;
		top: 380vw;
		left: 0;
		width: 40%;
		z-index: 1;
	}

}

/* 確認送出 popup */
.vitawater_popup .popup_wrap {
	border: 4px solid #ec8102;
	overflow: hidden;
	cursor: pointer;
}

/*增加的區塊 黃瓶說明*/
.yellow_add {
	width: 78.6%;
	height: 0;
	padding-bottom: 59%;
	background-image: url(../images/ampouleserum/yellow_add_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	margin-top: 9%;
	margin-left: 10.7%;
	text-align: center;
}

.yellow_add .for_m {
	display: none;
}

.word_wrap {
	display: inline-block;
	width: 95%;
}

.info_word {
	width: 78%;
	padding-left: 2%;
	padding-top: 2.5%;
}

.info_img {
	position: absolute;
	width: 18%;
	top: -5%;
	right: 2.5%;
}

.word_wrap ul {
	width: 100%;
	font-size: 0;
	padding-top: 3%;
}

.word_wrap ul li {
	display: inline-block;
	width: 11%;
	margin-right: 1%;
}

.tree_wrap {
	display: inline-block;
	width: 95%;
	padding-top: 9%;
	font-size: 0;
}

.treeimg_wrap {
	width: 68%;
	height: 0;
	padding-bottom: 27%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.treeimg_wrap img {
	position: absolute;
}

.treeimg_wrap img:nth-child(1) {
	width: 56%;
	left: 24%;
	top: -25%;
}

.treeimg_wrap img:nth-child(2) {
	width: 29%;
	right: 1%;
	top: -5%;
}

.treeimg_wrap img:nth-child(3) {
	width: 29%;
	right: 5%;
	top: 42%;
}

.treeimg_wrap img:nth-child(4) {
	width: 30%;
	right: 12%;
	top: 76%;
}

.treeimg_wrap img:nth-child(5) {
	width: 30%;
	left: 8%;
	top: 0;
}

.treeimg_wrap img:nth-child(6) {
	width: 31%;
	top: 42%;
	left: 4%;
}

.treeword_wrap {
	width: 32%;
	display: inline-block;
}

@media (max-width:768px) {
	.yellow_add {
		width: 90%;
		height: 0;
		padding-bottom: 255%;
		background-image: url(../images/ampouleserum/yellow_add_bg_m.png);
		margin-top: 18%;
		margin-left: 5%;
	}

	.info_word {
		display: none
	}

	.yellow_add .info_word.for_m {
		display: block;
		width: 98%;
		margin-top: -17%;
		margin-left: 0;
		padding-top: 24%;
	}

	.info_img {
		width: 31%;
		top: -3.5%;
		right: 2%;
	}

	.word_wrap ul {
		padding-top: 8%;
		margin-left: 1%;
	}

	.word_wrap ul li {
		width: 22%;
		margin-right: 2%;
	}

	.word_wrap ul li:nth-child(1),
	.word_wrap ul li:nth-child(2),
	.word_wrap ul li:nth-child(3),
	.word_wrap ul li:nth-child(4) {
		margin-bottom: 6%;
	}

	.tree_wrap {
		width: 95%;
		padding-top: 14.5%;
	}

	.treeimg_wrap {
		display: none;
	}

	.yellow_add .treeimg_wrap.for_m {
		width: 100%;
		display: inline-block;
		margin-top: 0;
		position: relative;
		z-index: 1;
	}

	.yellow_add .treeimg_wrap.for_m img {
		position: absolute;
	}

	.treeimg_wrap img:nth-child(1) {
		width: 115%;
		max-width: 115%;
		left: -7.5%;
		top: -32%;
	}

	.treeimg_wrap img:nth-child(2) {
		width: 32%;
		max-width: 32%;
		right: -4%;
		top: 85.6%;
	}

	.treeimg_wrap img:nth-child(3) {
		width: 37%;
		max-width: 37%;
		right: 0%;
		top: 159%;
	}

	.treeimg_wrap img:nth-child(4) {
		width: 34%;
		max-width: 34%;
		right: 18%;
		top: 256%;
	}

	.treeimg_wrap img:nth-child(5) {
		width: 31%;
		max-width: 31%;
		left: 7.5%;
		top: 108%;
	}

	.treeimg_wrap img:nth-child(6) {
		width: 34%;
		max-width: 34%;
		top: 174%;
		left: 1%;
	}

	.treeword_wrap {
		display: none;
	}

	.yellow_add .treeword_wrap.for_m {
		display: inline-block;
		width: 98%;
		margin-left: 1%;
		position: relative;
		z-index: 2;
	}



}

/*增加區塊 藍瓶說明*/
.blue_add {
	display: block;
	margin: 7% auto 0;
	width: 78.2%;
	box-sizing: border-box;
	padding: 2% 2.5%;
	background-image: url(../images/ampouleserum/blue_add_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}

.blue_add img:nth-child(1) {
	width: 78.5%;
	padding-top: 12%;
	margin-top: -12%;
	margin-bottom: 2%;
}

.blue_add img:nth-child(3) {
	width: 16.5%;
	position: absolute;
	top: -25%;
	right: 15%;
}

@media (max-width:768px) {

	.blue_add {
		margin: 173% auto 0;
		width: 90%;
		padding: 7% 2.5%;
		background-image: url(../images/ampouleserum/blue_add_bg_m.png);
	}

	.blue_add img:nth-child(1) {
		display: none;
	}

	.blue_add img:nth-child(2) {
		width: 103%;
		max-width: 103%;
		margin-left: 1%;
		margin-top: -14%;
		margin-bottom: 25%;
	}

	.blue_add img:nth-child(3) {
		width: 31%;
		position: absolute;
		top: -2%;
		right: 2%;
	}
}

/*如何使用*/
.howuse_wrap {
	position: relative;
	height: 0;
	padding-bottom: 56%;
	text-align: center;
}

.howuse_wrap .for_m {
	display: none;
}

.howuse_wrap img {
	display: inline-block;
}

.howuse_wrap > img:nth-child(1) {
	width: 49%;
}


.howuse_wrap > img:nth-child(2) {
	display: none;
}

.howuse_wrap > img:nth-child(3) {
	width: 70%;
	padding: 4% 0;
}

.step {
	width: 85%;
	display: inline-block;
}

.step > img:nth-child(1) {
	width: 32%;
	margin-right: 10%;
}

.step > img:nth-child(2) {
	width: 32%;
}

@media (max-width:768px) {
	.howuse_wrap {
		padding-bottom: 56%;
	}

	.howuse_wrap > img:nth-child(1) {
		display: none;
	}

	.howuse_wrap > img:nth-child(2) {
		width: 90%;
		display: block;
		margin-left: 5%;
		padding-top: 10%;
	}

	.howuse_wrap > img:nth-child(3) {
		width: 180%;
		max-width: 180%;
		margin-left: -37.5%;
		padding: 8% 0;
	}

	.step {
		width: 100%;
	}

	.step > img:nth-child(1),
	.step > img:nth-child(2) {
		display: none;
	}

	.step > img:nth-child(3),
	.step > img:nth-child(4) {
		display: block;
		width: 60%;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.step > img:nth-child(3) {
		padding: 4% 0 0 0;
	}

	.step > img:nth-child(4) {
		padding: 14% 0 15% 0;
	}
}


}
