

.rose_container {
  width: 100%;
}
.product_rose .newitem_container {
  background: url(../images/product_rose/bg.jpg);
}

/* 裝飾花瓣物件 */
.rose_decoration {
  position: absolute;
}
.rose_bl1 {
  width: 10%;
  top: -5%;
  left: 8.5%;
}
.rose_bl2 {
  width: 2.604167%;
  top: 27%;
  left: 27.84375%;
}
.rose_bl3 {
  width: 3.90625%;
  top: 39%;
  left: 17.0625%;
}
.rose_bm1 {
  width: 6.770833%;
  top: 21%;
  left: 65.708333%;
}
.rose_bm2 {
  width: 4.166667%;
  top: 37.5%;
  left: 80.291667%;
  z-index: 2;
}
.rose_br1 {
  width: 5.729167%;
  bottom: 5%;
  right: 6%;
}

.rose_r1 {
  width: 4.6875%;
  top: 63.424658%;
  right: 0%;
}
.rose_r2 {
  width: 7.708333%;
  top: 76.712329%;
  right: 0%;
}

.rose_l1 {
  width: 5.989583%;
  top: 19.777414%;
  left: 5%;
}
.rose_l2 {
  width:19.427083%;
  top: 75.870704%;
  left:0%;
}
.rose_m2 {
  width: 12.760417%;
  top: 62.178396%;
  left: 67%;
}
.rose_r3 {
  width: 8.520833%;
  top: 10.584288%;
  right: 18%;
}
.rose_r4 {
  width: 5.208333%;
  top: 101.227496%;
  right: 8%;
}
.rose_r5 {
  width: 5.729167%;
  top: 110.474632%;
  right: 5%;
}

.rose_l3 {
  width: 5.729167%;
  top: 8%;
  left: 4%;
}
.rose_r6 {
  width: 17.916667%;
  bottom: -50%;
  right: -2%;
}

.rose_l4 {
  width: 8.854167%;
  bottom: -66%;
  left: -1%;
}
.rose_l5 {
  width: 8.125%;
  bottom: -105%;
  left: 10%;
}
.rose_l6 {
  width: 6.770833%;
  bottom: -143%;
  left: 0%;
}
.rose_r7 {
  width: 5.46875%;
  bottom: -80%;
  right: 10%;
}


.rose_m3 {
  width: 8.125%;
  top: 2%;
  left: 27%;
}
.rose_r8 {
  width: 10.9375%;
  bottom: 56%;
  right: 0%;
}
.rose_r9 {
  width: 9.6875%;
  bottom: 30%;
  right: 10%;
  z-index: 3;
}
.rose_r10 {
  width: 5.208333%;
  bottom: 23%;
  right: 24%;
  z-index: 5;
}


/* banner */
.newitem_banner {
  width: 100%;
  position: relative;
}
.product_rose .newitem_banner {
  background: url(../images/product_rose/banner_bg.jpg) 50%/100% no-repeat;
  padding-top: 65%;
}
.rose_banner_product {
  background: url(../images/product_rose/bannerimg_01.png) 50%/100% no-repeat;
  width: 22%;
  padding-top: 38%;
  position: absolute;
  top: 18.5%;
  left: 25%;
  z-index: 3;
}

.rose_banner_img04 {
  background: url(../images/product_rose/bannerimg_04.png) 50%/100% no-repeat;
  width: 15%;
  padding-top: 13.5%;
  position: absolute;
  top: 62.5%;
  left: 10%;
  z-index: 3;
}
.rose_banner_img05 {
  background: url(../images/product_rose/bannerimg_05.png) 50%/100% no-repeat;
  width: 22%;
  padding-top: 6.5%;
  position: absolute;
  top: 82%;
  left: 13%;
  z-index: 3;
}
.rose_banner_img06 {
  background: url(../images/product_rose/bannerimg_06.png) 50%/100% no-repeat;
  width: 30%;
  padding-top: 29%;
  position: absolute;
  top: 45.5%;
  left: 63%;
  z-index: 3;
}
.newitem_banner_title {
  width: 100%;
  padding-left: 45.5%;
  margin-top: 14%;
  position: absolute;
  top: 0;
  left: 0;
}
.rose_banner_title1 {
  width: 68%;
  margin: 0;
}
.rose_banner_title2 {
  width: 68%;
  margin: 2% 0 0 0;
}

/* 左右兩側花瓣 */
.rose_top {
  background: url(../images/product_rose/rose_top.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  padding-top: 76%;
  position: absolute;
  left: 0;
  top: -25px;
}
.rl_rose_box {
  position: relative;
}

/* 千葉玫瑰能量精露 */
.rose_product_specil {
  width: 100%;
  position: relative;
  padding-top: 70%;
}
.rose_special_contain {
  /* display: flex;
  justify-items: start;
  text-align: center; */
}
.rose_special_img {
  background: url(../images/product_rose/roseimg01_1.png) 50%/100% no-repeat;
  width: 32%;
  padding-top: 36%;
  position: absolute;
  top: 35%;
  left: 8%;
  margin-left: 2%;
}
.rose_special_textbox {
  position: absolute;
  top: 37%;
  left: 46%;
  margin-right: 5%;
}
.rose_special_text {
  margin-bottom: 7%;
}
.rose_special_text1 {
  width: 55%;
}
.rose_special_text2 {
  width: 20%;
}
.rose_special_text3 {
  width: 90%;
}
.rose_special_text3_mobile {
  display: none;
}

/* 製作方式 */
.rose_product_make {
  margin: 2% auto 0 auto;
  position: relative;
}
.rose_make_contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 5% auto 0 auto;
  width: 83%;
  max-width: 1220px;
}
.rose_title {
  margin: 0 auto;
  width: 16.5%;
}
.rose_make_img {
  width: 33%;
}
.rose_make_img1 {
  background: url(../images/product_rose/roseimg02_1.png) 50%/120% no-repeat;
  padding-top: 32%;
}
.rose_make_img2 {
  background: url(../images/product_rose/roseimg02_2.png) 50%/120% no-repeat;
  padding-top: 42.5%;
}
.rose_make_img3 {
  background: url(../images/product_rose/roseimg02_3.png) 50%/120% no-repeat;
  padding-top: 27.5%;
}
.rose_make_img3_mobile {
  display: none;
}
.rose_make_img4 {
  background: url(../images/product_rose/roseimg02_4.png) 50%/120% no-repeat;
  padding-top: 40%;
}
.rose_make_img4_mobile {
  display: none;
}
.rose_make_img5 {
  background: url(../images/product_rose/roseimg02_5.png) 50%/120%no-repeat;
  padding-top: 42%;
}

/* 使用秘笈 */
.rose_product_tips {
  margin-top: 15%;
  position: relative;
}
.rose_tips_contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 5% 10% 0 10%;
}
.rose_tips_img  {
  width: 50%;
  padding-top: 22%;
}
.rose_tips_img1 {
  background: url(../images/product_rose/roseimg03_1.png) 50%/100% no-repeat;
}
.rose_tips_img2 {
  background: url(../images/product_rose/roseimg03_2.png) 50%/100% no-repeat;
}
.rose_tips_img3 {
  background: url(../images/product_rose/roseimg03_3.png) 50%/100% no-repeat;
}
.rose_tips_img4 {
  background: url(../images/product_rose/roseimg03_4.png) 50%/100% no-repeat;
}
.rose_tips_img5 {
  background: url(../images/product_rose/roseimg03_5.png) 50%/100% no-repeat;
}
.rose_tips_img6 {
  background: url(../images/product_rose/roseimg03_6.png) 50%/100% no-repeat;
}


/* google 表單 */
.rose_form {
  width: 95%;
  max-width: 1200px;
  margin: 10% auto 0 auto;
  position: relative;
}
.rose_form_box {
  width: 100%;
  padding-top: 131%;
  background: url(../images/product_rose/roseimg04_bg.jpg) 50%/92% no-repeat;
  position: relative;
}
.rose_form_contain {
  width: 58%;
  height: 70%;
  position: absolute;
  top: 24%;
  left: 21%;
}

/* 建議搭配 */
.rose_product_suggest {
  width: 100%;
  position: relative;
  margin-top: 10%;
}
.rose_product_wrap {
  width: 100%;
  padding-bottom: 20%;
  z-index: 3;
  position: relative;
}
.product_contain {
  width: 90%;
  max-width: 1050px;
  padding: 5% 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.product_item {
  width: 33.33333%;
  padding-bottom: 6%;
  text-align: center;
}
.product_item_contain {
  width: 90%;
  max-width: 256px;
  margin: 0 auto;
}
.product_img {
  width: 100%;
  padding-top: 100%;
  margin: 0 auto;
  background-position: 50%;
  background-repeat: no-repeat;
}
.rose_product_suggest .rose_suggest_img_2 {
  background-image: url(../images/product_rose/roseimg05_1.png);
  background-size: 75%;
}
.rose_product_suggest .rose_suggest_img_3 {
  background-image: url(../images/product_rose/roseimg05_2.png);
  background-size: 38%;
}
.rose_product_suggest .rose_suggest_img_4 {
  background-image: url(../images/product_rose/roseimg05_3.png);
  background-size: 30%;
}
.rose_product_suggest .rose_suggest_img_5 {
  background-image: url(../images/product_rose/roseimg05_4.png);
  background-size: 75%;
}
.rose_product_suggestbg {
  background: url(../images/product_rose/suggest_bg.png) 50%/100% no-repeat;
  margin: 5% auto 0 auto;
}
.rose_bottom {
  background: url(../images/product_rose/rose_top.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  padding-top: 76%;
  position: absolute;
  left: 0;
  bottom: -10px;
  transform:rotate(180deg);
}


.for_mobile_rose {
  display: none;
}

/* 動態 */
.product_rose .visible_object {
  opacity: 0;
}
.rose_product_specil.visible_object,
.rose_product_make.visible_object,
.rose_product_tips.visible_object,
.rose_product_suggest.visible_object {
  opacity: 1;
}

.rose_product_specil.visible-show, 
.rose_product_make.visible-show,
.rose_product_tips.visible-show,
.rose_product_suggest.visible-show {
  animation: titleL 1.5s ease-in-out forwards;
}

.rose_banner_product {
  animation: SHoW 0.8s linear forwards;
}
.rose_banner_title1 {
  animation: fadeInUp 0.6s linear forwards;
  animation-delay: 0.8s;
}
.rose_banner_title2 {
  animation: SHoW 0.5s linear forwards;
  animation-delay: 1.4s;
}
/* .rose_banner_img06 {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 1.7s;
}
.rose_banner_img04 {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 2.2s;
} */
.rose_bl1 {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 1.5s;
}
.rose_bl2 {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 1.9s;
}
.rose_bl3 {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 2.3s;
}
.rose_br1 {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 1s;
}


.rose_special_img.visible-show {
  animation: SHoW 0.5s linear forwards;
}
.rose_special_text1.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.5s;
}
.rose_special_text2.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: .8s;
}
.rose_special_text3.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 1.2s;
}
.rose_special_text3_mobile.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 1.2s;
}
.rose_r1.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 1.5s;
}
.rose_r2.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 1.8s;
}

.rose_title_make.visible-show {
  animation: SHoW 0.5s linear forwards;
}
.rose_make_img1.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.5s;
}
.rose_make_img2.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.7s;
}
.rose_make_img3.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.5s;
}
.rose_make_img3_mobile.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 1s;
}
.rose_make_img4.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 1s;
}
.rose_make_img5.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 1s;
}
.rose_l1.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 1.5s;
}
.rose_l2.visible-show {
  animation: fadeInLeft 0.5s linear forwards;
  animation-delay: 1s;
}
.rose_r4.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 2.5s;
}
.rose_r5.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 3s;
}


.rose_title_tips.visible-show {
  animation: SHoW 0.5s linear forwards;
}
.rose_l3.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 0.5s;
}
.rose_tips_img1.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 1s;
}
.rose_tips_img2.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 1s;
}
.rose_tips_img3.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 1.5s;
}
.rose_tips_img4.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 1.5s;
}
.rose_tips_img5.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 2s;
}
.rose_tips_img6.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 2s;
}
.rose_r6.visible-show {
  animation: fadeInRight 0.5s linear forwards;
  animation-delay: 1s;
}
.rose_l4.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 0.5s;
}
.rose_l5.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 0.5s;
}
.rose_r7.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 0.5s;
}


.rose_m3.visible-show {
  animation: fadeInDown 0.5s linear forwards;
}
.rose_r8.visible-show {
  animation: fadeInRight 0.5s linear forwards;
  animation-delay: 0.5s;
}
.rose_r9.visible-show {
  animation: fadeInDown 0.5s linear forwards;
}
.rose_r10.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 0.5s;
}
@keyframes SHoW {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  40%{
    opacity: 1;
  }

  50% {
    -webkit-transform: scale3d(1.09, 1.09, 1.09);
    transform: scale3d(1.09, 1.09, 1.09);
    opacity: 1;
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes fadeInLeft{
  0%{
    transform: translate(-40px, 0);
    opacity: 0;
  }
  100%{
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight{
  0%{
    transform: translate(40px, 0);
    opacity: 0;
  }
  100%{
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes titleL{
  0%{
    width: 0%;
    opacity: 0;
  }
  100%{
    width: 105%;
    opacity: 1;
  }
}

@keyframes zoomIn{
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInUp{
  0%{
    opacity: 0;
    transform: translate(0, 30px);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInDown{
  0%{
    opacity: 0;
    transform: translate(0, -30px);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 768px) {
  .for_pc_rose {
    display: none;
  }
  .rose_title {
    width: 27%;
  }
  .product_rose .newitem_banner {
    background: url(../images/product_rose/banner_bg_mobile.jpg) 50%/100% no-repeat;
    padding-top: 120%;
  }
  .rose_banner_product {
    width: 33.5%;
    padding-top: 71%;
    top: 31.5%;
    left: 30%;
  }
  .newitem_banner_title {
    width: 112%;
    padding-left: 19%;
    margin-top: 12%;
  }
  .rose_banner_img04 {
    width: 20%;
    padding-top: 20.5%;
    top: 70.5%;
    left: 10%;
  }
  .rose_banner_img05 {
    width: 32%;
    padding-top: 9.5%;
    top: 85.5%;
    left: 14%;
  } 
  .rose_banner_img06 {
    width: 38%;
    padding-top: 35%;
    top: 60.5%;
    left: 58%;
  }
  .rose_product_specil {
    padding-top: 100%;
  }
  .rose_special_img {
    width: 40%;
    padding-top: 43%;
    top: 20%;
    left: 51%;
    margin-left: 2%;
  }
  .rose_special_textbox {
    top: 43%;
    left: 11%;
    margin-right: 10%; 
  }
  .rose_special_text1 {
    width: 52%;
  }
  .rose_special_text3 {
    display: none;
  }
  .rose_special_text3_mobile {
    display: block;
    width: 100%;
  }
  .product_contain {
    padding: 0;
  }
  .rose_product_wrap {
    padding-bottom: 30%;
  }
  .product_item {
    width: 50%;
  }
  .rose_tips_img  {
    width: 100%;
    padding-top: 48%;
  }
  .rose_product_make {
    margin: 13% auto 0 auto;
  }
  .rose_make_contain {
    width: 85%;
  }
  .rose_make_img3 {
    display: none;
  }
  .rose_make_img1 {
    background-size: 120%;
    width: 50%;
    padding-top: 42%;
  }
  .rose_make_img2 {
    background-size: 120%;
    width: 50%;
    padding-top: 60%;
  }
  .rose_make_img3_mobile {
    display: block;
    background: url(../images/product_rose/roseimg02_3_mobile.png) 50%/60% no-repeat;
    width: 100%;
    padding-top: 55%;
  }
  .rose_make_img4 {
    background-size: 120%;
    width: 50%;
    padding-top: 60%;
  }
  .rose_make_img5 {
    background-size: 120%;
    width: 50%;
    padding-top: 63%;
  }
  .rose_tips_contain {
    margin: 5% 5% 0 5%;
  }
  .rose_form {
    width: auto;
    margin: 10% 7.2%;
  }
  .rose_form_box {
    padding-top: 256.099723%;
    background: url(../images/product_rose/roseimg04_bg_mobile.jpg) 50%/100% no-repeat;
  }
  .rose_form_contain {
    width: 90%;
    height: 76%;
    top: 20%;
    left: 5%;
  }


  .rose_bl1 {
    width: 17%;
    top: -2%;
    left: -4.5%;
  }
  .rose_bl2 {
    width: 3%;
    top: 20.8%;
    left: 26.84375%;
    z-index: 5;
  }
  .rose_bl3 {
    width: 6.90625%;
    top: 33%;
    left: 8.0625%;
  }
  .rose_bm1 {
    width: 9.770833%;
    top: 11%;
    left: 51.708333%;
  }
  .rose_bm2 {
    width: 7.166667%;
    top: 24.5%;
    left: 80.291667%;
  }
  .rose_br1 {
    width: 4.729167%;
    bottom: 10%;
    right: 13%;
  }
  .rose_br1_mobile {
    width: 12.729167%;
    bottom: 49%;
    right: -3%;
  }

  .rose_l2 {
    width: 20.427083%;
    top: 100.870704%;
  }
  .rose_m2 {
    top: 60.870704%;
    left: 75%;
  }
  .rose_r3 {
    width: 10.520833%;
    top: -9.415712%;
    right: 16%;
  }
  .rose_r4 {
    width: 7.208333%;
    top: -16.415712%;
    right: 94%;
  }
  .rose_r5 {
    width: 7.208333%;
    top: -8.415712%;
    right: 87%;
  }
  .rose_r6 {
    width: 14.916667%;
    bottom: -99%;
  }
  .rose_l4 {
    bottom: -96%;
    left: 0%;
  }
  .rose_l5 {
    bottom: -107%;
    left: 4%;
    z-index: 5;
  }
  .rose_m3 {
    top: -2%;
    left: 25%;
  }
  .rose_r9 {
    bottom: 24%;
    right: 93%;
  }
}

@media screen and (max-width: 596px) {
  .rose_product_suggestbg {
    margin: 0 auto;
    background: none;
  }
  .product_item {
      width: 100%;
      margin: 8% auto;
  }
  .for_596_none {
    display: none;
  }
  .rose_m3 {
    top: -1%;
  }
  /* .rose_make_img {
    width: 100%;
  }
  .rose_make_img1 {
    background: url(../images/product_rose/roseimg02_1_mobile.png) 50%/120% no-repeat;
    background-size: 70%;
    padding-top: 58%;
    margin-left: 8%;
  }
  .rose_make_img2 {
    background: url(../images/product_rose/roseimg02_2_mobile.png) 50%/120% no-repeat;
    background-size: 63%;
    padding-top: 93%;
  }
  .rose_make_img3_mobile {
    background-size: 90%;
    padding-top: 83%;
  }
  .rose_make_img4 {
    display: none;
  }
  .rose_make_img4_mobile {
    background: url(../images/product_rose/roseimg02_4_mobile.png) 50%/120% no-repeat;
    display: block;
    background-size: 58%;
    padding-top: 82%;
  }
  .rose_make_img5 {
    background: url(../images/product_rose/roseimg02_5_mobile.png) 50%/120% no-repeat;
    background-size: 75%;
    padding-top: 97%;;
    margin-left: 4%;
  } */
}