/* 內容 */
.container_share{
  background: url(../images/share_202102/bg.jpg);
  background-size: cover;
}

/* 標題 */
.title_share_box_1{
  width: 100%;
}

/* 右上女生 */
.share_girl{
  width: 40%;
  max-width: 540px;
}

/* 表單區塊 */
.form_share_contain > h1{
  color: #eb6d9f;
}

/* 表單 */
.share_form_item .form_elememt_contain.input{
  background-color: #ffefc3;
}

.share_form_item .form_elememt_contain.input:focus{
  border-color: #eb6d9f;
}

.share_form_textarea .form_elememt_text:focus{
  border-color: #eb6d9f;
}

/* 好友新增按鈕 */
.friend_add{
  background: url(../images/share_202102/dotted.png) 50% 50% / 100% repeat-x;
}

.friend_add_box1{
  width: 115px;
  height: 27px;
  display: inline-block;
  background-color: #fff;
  cursor: pointer;
}

.friend_add_box1 p, .friend_add_box1 img{
  font-size: 18px;
  color: #00798e;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  transition: font-size 0.2s linear;
}

.friend_add_box1 img{
  width: 24px;
  transition: width 0.2s linear;
}

.friend_add_box1:hover p{
  font-size: 19px;
  transition: font-size 0.2s linear;
}

.friend_add_box1:hover img{
  width: 27px;
  transition: width 0.2s linear;
}

/* 好友分享注意事項 */
.share_product {
  width: 25%;
  position: absolute;
  left: -27%;
  bottom: 160%;
}

.share_product.for_minphone {
  display: none;
}

/* 隱私權規範 */
.share_privacy{
  background-color: #4468aa;
  color: #95b6e7;
}

.share_privacy_contain p{
  color: #95b6e7;
}

/* line分享好友popup */
.popup_wrap .share_line_btn{
  width: 55%;
  max-width: none;
  padding-top: 20px;
}

.wrappink .popup_wrap {
  border: 6px solid #eb6d9f;
}

@media screen and (max-width: 1600px){
  .share_product_img {
    display: none;
  }
}

@media screen and (max-width: 768px){
  /* 表格 */
  .friend_add_box1 p, .friend_add_box1 img{
    font-size: 18px;
  }

  .friend_add_box1:hover p{
    font-size: 18px;
  }

  .friend_add_box1:hover img {
    width: 24px;
  }
}

@media screen and (max-width: 700px){
  /* 刪除好友按鈕 */
  .remove_sharebox{
    margin: 0 auto 0 0;
    position: static;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 596px){
  /* 人 */
  .share_girl{
    width: 108%;
    margin-left: 0%;
    position: static;
    transform: translate(0, 0);
  }

  .share_product{
    display: none;
  }

  .share_product.for_minphone{
    width: 25%;
    display: block;
    position: static;
  }
}

@media screen and (max-width: 470px){
  .share_girl{
    width: 135%;
    margin-left: -10%;
  }

  .form_share_box_l{
    margin-top: -26%;
  }
}
