.shop_wrap{
  width: 90%;
  max-width: 1620px;
  padding: 5% 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

/* 左邊資訊欄 */
.shop_box{
  width: 26.85%;
  padding: 1% 4.26% 0 0;
}

.shop_select{
  padding: 9% 0 0 0;
}

.shop_select_item{
  width: 100%;
  padding: 5% 0 5% 3%;
  font-size: 17px;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid #000;
  background: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../images/location/select_arrow.png) no-repeat 98% center;
  background-size: 26px;
}

.shop_select_item:not(:first-child){
  margin: 12% auto 0 auto;
}

.shop_img{
  width: 100%;
  padding-top: 67.622950819%;
  margin: 10% auto 7% auto;
  background-image: url(../images/location/default.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s background-image linear;
}

.shop_img.active{
  background-image: url(../images/location/store_ex.jpg);
  transition: 0.2s background-image linear;
}

.shop_infor{
  padding: 0 2%;
  /* opacity: 0; */
  transition: 0.4s opacity linear;
  display: none;
}

.shop_infor h3{
  font-size: 17px;
  font-weight: 600;
  line-height: 1.8;
}

.shop_infor_box{
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: space-around;
}

.shop_infor_box_title{
  width: 53px;
}

.shop_infor_box_word{
  width: calc(100% - 50px);
}

.shop_infor_box_word a:hover{
  text-decoration: underline;
}

/* 地圖 */
.map{
  width: 73.15%;
  height: 0;
  padding-top: 45%;
  position: relative;
}

.map iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px){
  .shop_wrap{
    width: 100%;
    padding: 5% 0 0 0;
  }

  .shop_box{
    width: 90%;
    max-width: 585px;
    padding: 1% 0 5% 0;
  }

  .shop_select{
    max-width: 473px;
    margin: 0 auto;
  }

  .shop_select_item:not(:first-child) {
    margin: 6% auto 0 auto;
  }

  .shop_img{
    margin: 10% auto 3% auto;
  }

  /* google map */
  .map{
    width: 100%;
    padding-top: 59.89583%;
  }
}
