/*動畫*/
@keyframes updownS {
    0% {
        transform: translateY(-2%);
    }

    100% {
        transform: translateY(0%);
    }
}


/* Slider css*/
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider style*/
/*.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
*/
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 4%;
    height: 0px;
    padding-bottom: 4%;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 8;
}

.slick-prev:hover,
.slick-prev:focus {
    color: transparent;
    outline: none;
    opacity: 1;
}

.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 1%;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '';
}

[dir='rtl'] .slick-prev:before {
    content: '';
}

.slick-next {
    right: 1%;
}

[dir='rtl'] .slick-next {
    right: auto;
    right: 1%;
}

.slick-next:before {
    content: '';
}

[dir='rtl'] .slick-next:before {
    content: '';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: absolute;
    bottom: 8%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 3%;
    height: 0;
    margin: 0 1%;
    padding: 0 0 3% 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
    margin: 0 auto;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    content: '';
    text-align: center;
    opacity: 1;
    color: #818181;
    background-color: #818181;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 200%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #343434;
    background-color: #343434;
    width: 100%;
}

.updownS {
    animation-name: updownS;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.online_wrap {
    z-index: 9999;
}


/*super_drops layout*/

.super_drops {
    position: relative;
    width: 100%;
    background-image: url(../images/super_drops/bg_all.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

@media (max-width:768px) {
    .super_drops {
        background-image: url(../images/super_drops/bg_all_m.jpg);
    }
}

/*主視覺*/
.super_drops_kv {
    background-image: url(../images/super_drops/kv_bg.jpg);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #ed584d;
    text-align: center;
    position: relative;
    z-index: 4;
}

.super_drops_kv_title {
    width: 58%;
    max-width: 58%;
    padding-top: 3.5%;
    margin: 0 auto;
}

.super_drop_sp {
    display: block;
    margin: 3.3% auto;
    background-image: url(../images/super_drops/kv_text.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 68%;
    height: 0;
    padding-bottom: 5%;
    text-indent: -300%;
    line-height: 100;
    overflow: hidden;
}

.btn_goto_free {
    width: 22.4%;
    background-image: url(../images/super_drops/kv_word.png);
    height: 0;
    padding-bottom: 20%;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 100;
    text-indent: -200%;
    position: relative;
    margin-left: 16.8%;
    margin-top: 13.6%;
}

.btn_goto_free a {
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 16%;
    bottom: 0;
}

.product_b {
    position: absolute;
    width: 39%;
    left: 35.4%;
    top: 39.6%;
    z-index: 2;
    opacity: 0;
    animation-fill-mode: forwards;
}

.product_r {
    position: absolute;
    width: 34%;
    left: 61.8%;
    top: 32.5%;
    opacity: 0;
    animation-fill-mode: forwards;
}

.floor {
    width: 100%;
    position: relative;
    margin-top: 4.5%;
    z-index: 3;
}

@media (max-width:768px) {
    .super_drops_kv {
        background-image: url(../images/super_drops/kv_bg_m.png);
        background-size: 100%;
        height: 0;
        padding-bottom: 220%;
    }

    .super_drops_kv_title {
        width: 90%;
        max-width: 90%;
        padding-top: 5%;
    }

    .super_drop_sp {
        background-image: url(../images/super_drops/kv_text_m.png);
        width: 75%;
        height: 0;
        padding-bottom: 20%;
    }

    .btn_goto_free {
        width: 100%;
        background-image: url(../images/super_drops/kv_word_m.png);
        padding-bottom: 52%;
        margin-left: 0;
        margin-top: 0;
        top: 64%;
        z-index: 6;
        position: absolute;
    }

    .product_b {
        width: 68%;
        left: -0.3%;
        top: 33%;
    }

    .product_r {
        position: absolute;
        width: 58%;
        left: 47%;
        top: 27.9%;
        opacity: 0;
        animation-fill-mode: forwards;
    }

    .floor {
        width: 150%;
        max-width: 150%;
        position: absolute;
        margin-top: 0;
        top: 55.8%;
        left: -47%;
        z-index: 3;
    }
}

/*影片*/

.super_drops_cf {
    margin-top: -17.5%;
    z-index: 5;
    position: relative;
}

.inner_cf_wrap {
    position: relative;
    width: 100%;
    background-image: url(../images/super_drops/yt_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    height: 0;
    padding-top: 7%;
    padding-bottom: 80%;
}

.inner_cf_wrap > h2 {
    width: 69%;
    height: 0;
    padding-bottom: 14%;
    margin: 0 auto 1% auto;
    background-image: url(../images/super_drops/title_01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -500%;
    line-height: 100;
}

.fly_b_01 {
    position: absolute;
    width: 20.5%;
    top: 5%;
    left: 0;
}

.cf_frame {
    position: relative;
    background-color: #fff;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    padding: 0.8%;
    box-sizing: border-box;
}

.cf_frame .video_wrap {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto;
    padding: 0;
    left: 0;
    top: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.man_01 {
    position: absolute;
    width: 16%;
    right: -18%;
    top: 90%;
}

@media (max-width:768px) {

    .super_drops_cf {
        margin-top: -30%;
    }

    .inner_cf_wrap {
        width: 100%;
        background-image: url(../images/super_drops/yt_bg_m.png);
        padding-top: 18%;
        padding-bottom: 120%;
    }

    .inner_cf_wrap > h2 {
        width: 90%;
        padding-bottom: 20%;
    }

    .fly_b_01 {
        display: none;
    }

    .cf_frame {
        width: 85%;
        margin: 0 auto;
    }

    .man_01 {
        display: none;
    }
}

/*產品資訊*/
.inner_info_wrap {
    width: 87%;
    background-image: url(../images/super_drops/center_bg_01.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2% auto 0 auto;
    padding-bottom: 0.2%;
}

.super_drops_info {
    position: relative;
}

.super_drops_title_info {
    width: 65%;
    margin: -21% auto 0 auto;
    position: absolute;
    left: 17.5%;

}


.super_drops_cont {
    width: 72%;
    height: 0;
    padding-bottom: 34%;
    background-image: url(../images/super_drops/check_word.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    overflow: hidden;
    font-size: 0;
    position: relative;
    padding-top: 25%;
}

.super_drops_cont img {
    width: 5.8%;
    position: absolute;
    left: 7.5%;
}

.check_01 {
    top: 64.7%;
}

.check_02 {
    top: 74%;
}

.check_03 {
    top: 83.5%;
}

.check_04 {
    top: 93.2%;
}

.detial_info {
    width: 85%;
    margin: 7% auto;
    background-image: url(../images/super_drops/cneter_bg_02.png);
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    padding: 6% 4% 10% 4%;
    padding: 6% 4% 10% 4%;
    position: relative;
}

.red_info p,
.blue_info p {
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
    font-size: 12px;
    margin-top: 4%;
    margin-left: 3%;
}

.info_r_t1 {
    width: 54%;
    position: relative;
    z-index: 3;
}

.red_info_left {
    width: 30%;
    height: 0;
    padding-bottom: 35%;
    margin-top: 8%;
    margin-left: 1%;
    background-image: url(../images/super_drops/red_line.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 2;
}

.red_info_left img {
    width: 42%;
    position: absolute;
}

.icon_r_01 {
    left: 25%;
    top: -14.5%;

}

.icon_r_02 {
    top: 52.5%;
    right: -8%;
}

.icon_r_03 {
    top: 75%;
    left: -8%;
}

.red_center {
    position: absolute;
    width: 70%;
    top: -0.5%;
    left: 21%;
    z-index: 0;
}

.red_info_right {
    position: absolute;
    width: 26%;
    text-align: center;
    top: 10%;
    right: 2%;
    z-index: 6;
}

.b_info_right {
    position: absolute;
    width: 28.4%;
    z-index: 2;
    right: -3%;
    top: 7%;
    text-align: center;
    z-index: 6;
}

.red_info_right img:first-child,
.b_info_right img:first-child {
    width: 100%;
}

.btn_red {
    margin-top: 15%;
}

.red_box,
.b_box {
    width: 100%;
    text-align: center;
    padding-top: 21%;
    position: relative;
    z-index: 5;
}

.b_box {
    padding-top: 23%;
}

.b_box {
    margin-top: 8%;
}

.red_box img,
.b_box img {
    display: inline-block;
    width: 30%;
}

.red_box img:nth-child(2),
.red_box img:nth-child(3),
.b_box img:nth-child(2),
.b_box img:nth-child(3) {
    margin-left: 2%;
}

.blue_info {
    position: relative;
    margin-top: 14%;
}

.info_b_t1 {
    width: 58%;
    position: relative;
    z-index: 2;
}

.b_info_left {
    width: 29%;
    height: 0;
    padding-bottom: 20%;
    background-image: url(../images/super_drops/line_blue.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 10.5%;
    margin-left: 13.7%;
    position: relative;
    z-index: 2;
}

.b_info_left img {
    position: absolute;
    width: 47%;
    max-width: 47%;
}

.icon_b_01 {
    top: -21%;
    left: 15%;
}

.icon_b_02 {
    left: -25%;
    top: 60%;
}

.b_center {
    position: absolute;
    top: -2.5%;
    width: 90%;
    z-index: 1;
    left: 20.75%;
}

.super_drop_form {
    margin-top: 10%;
}

.super_drops_form_box .check-content-notice {
    padding: 3% 0 5% 0;
    display: block;
}

@media (max-width:768px) {
    .inner_info_wrap {
        width: 90%;
        background-image: url(../images/super_drops/center_bg_01_m.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 2% auto 0 auto;
        padding-bottom: 0.2%;
    }

    .super_drops_info {
        position: relative;
    }

    .super_drops_title_info {
        width: 80%;
        margin: -35% auto 0 auto;
        position: absolute;
        left: 10%;
    }

    .super_drops_cont {
        width: 93%;
        background-image: url(../images/super_drops/check_word_m.png);
        padding-top: 15%;
        padding-bottom: 55%;
    }

    .super_drops_cont img {
        width: 8%;
        position: absolute;
        left: 1%;
    }

    .check_01 {
        top: 53%;
    }

    .check_02 {
        top: 66%;
    }

    .check_03 {
        top: 79%;
    }

    .check_04 {
        top: 91%;
    }

    .detial_info {
        width: 93%;
        margin: 7% auto;
        background-image: url(../images/super_drops/cneter_bg_02_m.png);
    }

    .red_info p,
    .blue_info p {
        margin-left: auto;
    }

    .red_info p {
        background-image: url(../images/super_drops/tip_01.png);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 0;
        padding-bottom: 10%;
        overflow: hidden;
        line-height: 100;
        text-indent: -300%;
    }

    .blue_info p {
        background-image: url(../images/super_drops/tip_02.png);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 0;
        padding-bottom: 10%;
        overflow: hidden;
        line-height: 100;
        text-indent: -300%;
    }

    .info_r_t1 {
        width: 98%;
        margin-left: 1%;
    }

    .red_info_left {
        width: 86%;
        padding-bottom: 120%;
        margin-top: 12%;
        margin-left: 7%;
        background-image: url(../images/super_drops/red_line_m.png);
    }

    .red_info_left img {
        width: 31%;
    }

    .icon_r_01 {
        left: 9%;
        top: -7%;

    }

    .icon_r_02 {
        top: 50%;
        right: -12%;
    }

    .icon_r_03 {
        top: 75%;
        left: -12%;
    }

    .red_center {
        position: absolute;
        width: 110%;
        max-width: 110%;
        top: 4%;
        left: 0%;
        z-index: 0;
    }

    .red_info_right {
        position: relative;
        width: 100%;
        top: 10%;
        right: 0;
    }

    .b_info_right {
        position: relative;
        width: 100%;
        right: 0;
        margin-left: 2%;
        margin-top: 5%;
    }

    .red_info_right img:first-child,
    .b_info_right img:first-child {
        width: 100%;
    }

    .btn_red {
        margin-top: 8%;
        width: 82%;
        margin-left: 9%;
    }

    .red_box,
    .b_box {
        width: 100%;
        text-align: center;
        padding-top: 7%;
        position: relative;
        z-index: 5;
    }

    .b_box {
        padding-top: 0%;
    }

    .b_box {
        margin-top: 10%;
    }

    .red_box img,
    .b_box img {
        display: inline-block;
        width: 80%;
    }

    .red_box img:nth-child(2),
    .red_box img:nth-child(3),
    .b_box img:nth-child(2),
    .b_box img:nth-child(3) {
        margin-left: 0;
    }

    .blue_info {
        position: relative;
        margin-top: 25%;
    }

    .info_b_t1 {
        width: 100%;
        position: relative;
        z-index: 2;
    }

    .b_info_left {
        width: 34%;
        height: 0;
        padding-bottom: 100%;
        background-image: url(../images/super_drops/line_blue_m.png);
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 14%;
        margin-left: 13.7%;
        position: relative;
        z-index: 5;
    }

    .b_info_left img {
        position: absolute;
        width: 90%;
        max-width: 90%;
    }

    .icon_b_01 {
        top: -9%;
        left: -24%;
    }

    .icon_b_02 {
        left: -40%;
        top: 60%;
    }

    .b_center {
        position: absolute;
        top: 0%;
        width: 160%;
        max-width: 160%;
        z-index: 1;
        left: 9%;
    }

}

/*免費體驗*/
.super_drop_form {
    margin-top: 10%;
}

.super_drops_form_box .check-content-notice {
    padding: 3% 0 5% 0;
    display: block;
}

.super_drops_form {
    width: 100%;
    background-image: none;
    text-align: center;
}

.super_drops_title_02 {
    width: 70.4%;
    margin: 0 auto;
}

.super_drop_form .form_word {
    width: 69%;
    text-align: left;
    margin: 6% auto;
}

.super_drop_form .form_word span {
    font-weight: bold;
    font-size: 1.2vw;
    letter-spacing: 0.1em;
}

.super_drop_form .btn_shop {
    display: inline-block;
    width: 19.6%;
    transition: 0.5s;
    float: right;
    vertical-align: text-bottom;
    margin-top: -1.8%;
    transform: scale(1.0);
}

.super_drop_form .btn_shop:hover {
    transform: scale(0.95);
}

.super_drops_form_box {
    width: 69%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.super_drops_form_box ul li {
    margin-bottom: 5%;
    text-align: left;
    position: relative;
}

.super_drops_form_box ul li span {
    width: 8%;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 1.8vw;
    font-weight: bold;
}


.super_drops_form_box ul li span,
.super_drops_form_box ul li input,
.super_drops_form_box ul li select {
    display: inline-block;
    vertical-align: middle;
}

.super_drops_form_box input,
.super_drops_form_box button,
.super_drops_form_box textarea,
.super_drops_form_box select,
.super_drops_form_box option {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: none;
    border: 0;
    border-radius: 100em;
    background-color: transparent;
    color: #000;
    letter-spacing: 1px;
    background-color: #fff;
    font-size: 1.3vw;
    box-sizing: border-box;
    padding: 2% 4% 1.5% 4%;
    width: 90%;
    font-family: 'Helvetica', '微軟正黑體', 'Noto Sans TC', 'Microsoft JhengHei', 'sans-serif', serif;
}

.super_drops_form_box select,
.super_drops_form_box option {
    width: 75%;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.super_drops_form_box input[type="button"],
.super_drops_form_box input[type="submit"],
.super_drops_form_box input[type="reset"] {
    -webkit-appearance: none;
}

.super_drops_form_box textarea {
    -webkit-appearance: none;
}

.super_drops_form_box textarea:focus,
.super_drops_form_box input:focus {
    outline: none;
}

.super_drops_form_box * {
    outline: none;
}

.super_drops_form_box select::-ms-expand {
    display: none;
}

.super_drops_form_box select {
    width: 79%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/super_drops/arrow.png") no-repeat 95% center transparent;
    background-size: auto 40%;
    border: 0;
    border-radius: 100em;
    background-color: transparent;
    color: #666;
    padding-left: 4%;
    background-color: #fff;
}

.super_drops_form_box option::-ms-expand {
    display: none;
}

.super_drops_form_box option {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari 和 Chrome */
    appearance: none;
    background-color: #fff;
    color: #000;
    letter-spacing: 1px;

}

.super_drops_form_box ::-webkit-input-placeholder {
    /* Edge */
    color: #666;
}

.super_drops_form_box :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666;
}

.super_drops_form_box ::placeholder {
    color: #666;
}

.super_drops_form_box input:focus::-webkit-input-placeholder {
    color: #000;
}

.super_drops_form_box input:focus:-moz-placeholder {
    color: #000;
}

.super_drops_form_box input:focus:-ms-input-placeholder {
    color: #000;
}

.super_drops_form_box input[type=checkbox] {
    transform: scale(1);
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: 0;
    margin-left: -40%;
}

.super_drops_form_box .c-ct {
    width: 100%;
}

.super_drops_form_box .custom-checkbox {
    width: 100%;
    margin-top: 9%;
    position: relative;
    padding: 0;
}


.super_drops_form_box .checkmark {
    position: absolute;
    display: block;
    width: 2.5%;
    height: 0;
    padding-bottom: 2.8%;
    z-index: 1;
    background-image: url(../images/super_drops/check_box.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    left: 0;
    top: -10%;
}

.super_drops_form_box .checkmark.active {
    background-image: url(../images/super_drops/after_check.png);
}


.super_drops_form_box .check_content {
    position: relative;
    display: block;
    width: 96%;
    height: auto;
    padding-bottom: 3%;
    margin-left: 4%;
    margin-top: -1%;
    cursor: pointer;
    background-position: top;
    z-index: 5;
    background-image: none;
    font-size: 1.2vw;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 2;
}

.super_drops_form_box .check_content a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    padding-bottom: 0%;
    border-bottom: 1px solid #fff;
    top: 0;
    left: 0%;
    font-size: 1.2vw;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #fff;
    margin-top: -2px;
    line-height: 1.2;
}

.super_drops_form_box .check_content a:hover {
    color: yellow;
}

.super_drops_form_box .check_content br {
    display: block;
}

.btn_super_drops_enter {
    width: 38%;
    margin: 0% auto 5% auto;
    cursor: pointer;
    transform: scale(1.0);
    transition: 0.3s;
}

.btn_super_drops_enter:hover {
    transform: scale(0.95);
}

@media (max-width:768px) {
    .super_drop_form {
        margin-top: 20%;
    }

    .super_drops_form {
        width: 100%;
        background-image: none;
        text-align: center;
    }

    .super_drops_title_02 {
        width: 100%;
        margin: 0 auto;
    }

    .super_drop_form .form_word {
        width: 90%;
        text-align: left;
        margin: 10% auto;
    }

    .super_drop_form .form_word span {
        font-weight: bold;
        font-size: 3.2vw;
        letter-spacing: 0.1em;
        display: inline-block;
        width: 64%;
    }

    .super_drop_form .btn_shop {
        display: inline-block;
        width: 17%;
        transition: 0.5s;
        float: right;
        vertical-align: middle;
        margin-top: -5%;
        margin-right: 5%;
        transform: scale(1.0);
    }

    .super_drops_form_box {
        width: 90%;
        position: relative;
    }

    .super_drops_form_box ul li {
        margin-bottom: 8%;
    }

    .super_drops_form_box ul li span {
        width: 15%;
        font-size: 3.6vw;
    }

    .super_drops_form_box input,
    .super_drops_form_box button,
    .super_drops_form_box textarea,
    .super_drops_form_box select,
    .super_drops_form_box option {
        font-size: 2.8vw;
        width: 82%;
        height: 8vw;
    }

    .super_drops_form_box select {
        width: 68%;
    }

    .super_drops_form_box .checkmark {
        width: 20px;
        padding-bottom: 20px;
        top: 1%;
    }

    .super_drops_form_box .check_content {
        width: 90%;
        height: auto;
        margin-left: 6%;
        margin-top: -1%;
        margin-bottom: 2%;
        font-size: 16px;
        text-align: left;
        line-height: 1.9;
        letter-spacing: 1.5px;
    }

    .super_drops_form_box .check-content-notice {
        padding: 0;
        display: block;
    }

    .super_drops_form_box .check_content a {
        font-size: 16px;
        margin-top: -1px;
        line-height: 1.2;
    }

    .btn_super_drops_enter {
        width: 50%;
        margin: -4% auto 10% auto;
    }

}

/*新品組合 呵護都市躁動肌*/
.new_sp {
    width: 100%;
    text-align: center;
    position: relative;
}

.new_sp h2 {
    display: block;
    width: 62%;
    background-image: url(../images/super_drops/title_04.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    margin: -3% auto 0 auto;
    height: 0;
    padding-bottom: 30%;
    overflow: hidden;
    line-height: 999;
    text-indent: -200%;
    position: relative;
    z-index: 3;

}

.fly_02 {
    position: absolute;
    width: 26%;
    top: 12%;
    left: 11%;
    z-index: 5;
}

.new_pic {
    width: 64%;
    margin: -8% auto 0 16.5%;
    position: relative;
    z-index: 1;
}

.p_01,
.p_02 {
    position: absolute;
    z-index: 2;
    width: 7%;
    top: 58%;
}

.p_01 {
    left: 17%;
}

.p_02 {
    right: 17%;
}

.btn_easybuy {
    width: 33%;
    margin: 2% auto;
}

@media (max-width:768px) {

    .new_sp h2 {
        width: 90%;
        margin: 5% auto 0 auto;
        padding-bottom: 45%;
    }

    .fly_02 {
        position: absolute;
        width: 33%;
        top: 12%;
        left: -4%;
        z-index: 5;
    }

    .new_pic {
        width: 100%;
        margin: -15% auto 0 -1%;
        position: relative;
    }

    .p_01,
    .p_02 {
        display: none;
    }


    .btn_easybuy {
        width: 70%;
        margin: 2% auto;
    }


}

/*建議搭配*/
.super_drops_suggest {
    background-position: center bottom;
    height: auto;
    padding-bottom: 10%;
    background-image: url(../images/super_drops/footer_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 23%;
    position: relative;
}

.super_drops_suggest_title {
    width: 15%;
    position: relative;
    margin: 8% auto 0 auto;
    z-index: 4;
}

.super_drops_wrap {
    width: 65%;
    z-index: 4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.super_drops_suggest .product_item.super_drops_item {
    padding: 0 2%;
}


.super_drops_suggest_img_1 {
    background-image: url(../images/super_drops/item_01.png);
    background-size: auto 60%;
    background-position: center bottom;
}

.super_drops_suggest_img_2 {
    background-image: url(../images/super_drops/item_02.png);
    background-size: auto 100%;
    background-position: center bottom;
}

.super_drops_suggest_img_3 {
    background-image: url(../images/super_drops/item_03.png);
    background-size: auto 60%;
    background-position: center bottom;
}


.fly_r {
    position: absolute;
    width: 49%;
    top: -20%;
    left: -12%;
    z-index: 1;
}

.fly_b {
    position: absolute;
    width: 42%;
    top: -22%;
    right: -2%;
    animation-delay: -2s;
}

@media (max-width:768px) {

    .super_drops_suggest {
        background-image: url(../images/super_drops/footer_bg_m.png);
        height: auto;
        padding-bottom: 55%;
        position: relative;
        margin-top: 25%;
    }

    .super_drops_suggest_title {
        width: 36%;
        position: relative;
        margin-top: 0;
        margin-bottom: -5%;
        left: 0;
        z-index: 4;
    }

    .super_drops_wrap {
        width: 100%;
        z-index: 4;
        margin-top: 0%;
        margin-left: 0%;
    }

    .super_drops_suggest .product_item_contain {
        width: 70%;
        max-width: 70%;
        margin: 0 auto;
    }

    .super_drops_suggest .product_item_contain p {
        font-size: 3.4vw;
    }

    .super_drops_suggest .btn_type1 {
        width: 70%;
        max-width: 70%;
        font-size: 18px;
    }

    .super_drops_suggest .product_item.super_drops_item {
        width: 100%;
        max-width: 100%;
        margin-top: 20%;
    }

    .product_item.super_drops_item br {
        display: none;
    }

    .super_drops_suggest_img_1 {
        width: 110% !important;
        margin-left: -5%;
        background-size: auto 70%;
    }


    .super_drops_suggest_img_2 {
        width: 110% !important;
        margin-left: -5%;
        padding-bottom: 30%;
        background-size: auto 100%;
    }

    .super_drops_suggest_img_3 {
        width: 110% !important;
        margin-left: -5%;
        background-size: auto 70%;

    }

    .fly_r {
        position: absolute;
        width: 67%;
        top: auto;
        bottom: -0.1%;
        left: -31%;
        z-index: 1;
    }

    .fly_b {
        position: absolute;
        width: 60%;
        top: auto;
        right: -12%;
        bottom: 0.5%;
        animation-delay: -2s;
    }

}


.super_drops_popup .popup_wrap {
    border: 3px solid #000;
    padding: 0;
    width: 600px;
    max-width: 600px;
}

.super_drops_popup .popup_close {
    width: 8.5%;
    left: 90%;
    top: 3%;
}

.super_drops_popup .popup_send {
    width: 100%;
}


.super_drops_popup {
    background-color: rgba(255, 230, 130, 0.5);

}

@media (max-width:768px) {
    .super_drops_popup .popup_wrap {
        width: 80%;
        max-width: 80%;
    }
}

.super_drops_price {
    width: 35%;
    margin: -5% auto 5% auto;
    z-index: 6;
    position: relative;
}

@media (max-width:768px) {
    .super_drops_price {
        width: 65%;
        margin: -8% auto 8% auto;
    }
}

.super_drop_kol {
    position: relative;
    text-align: center;
    margin: 10% auto;
}

.sp_kol_wrap {
    position: relative;
    margin: 0 auto;
    width: 87.81%;
    background-image: url(../images/super_drops/kol_banner_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 61%;
}

.sp_kol_wrap h3 {
    display: block;
    overflow: hidden;
    width: 42%;
    height: 0;
    padding-bottom: 12.5%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/super_drops/kol_title.png);
    line-height: 999;
    text-indent: -200%;
    position: absolute;
    top: -8%;
    left: 29%;
}

.sp_kol_banner {
    width: 70%;
    margin: 0 auto 0 auto;
    padding-top: 11.5%;
}

.sp_kol_banner div a img {
    padding: 0 3%;

}

.sp_kol_banner .slick-prev {
    background-image: url(../images/super_drops/arrow_pre.png);
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    left: -7%;
    display: block;
    width: 4%;
    height: 0px;
    padding-bottom: 8%;
}

.sp_kol_banner .slick-next {
    background-image: url(../images/super_drops/arrow_next.png);
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    right: -7%;
    display: block;
    width: 4%;
    height: 0px;
    padding-bottom: 8%;
}

.red_p,
.blue_p {
    position: absolute;
}

.red_p {
    width: 17%;
    top: -24%;
    right: -1.5%;
}

.blue_p {
    width: 16%;
    left: -2%;
    bottom: -3%;
}

@media (max-width:768px) {

    .sp_kol_wrap {
        width: 90%;
        background-image: url(../images/super_drops/kol_banner_bg_m.png);
        padding-bottom: 105%;
        margin-top: 22%;
    }

    .sp_kol_wrap h3 {
        width: 86%;
        padding-bottom:25%;
        top: -10%;
        left: 7%;
    }

    .sp_kol_banner {
        width: 60%;
        margin: 0 auto 0 auto;
        padding-top: 19.5%;
    }

    .sp_kol_banner div a img {
        padding: 0;

    }

    .sp_kol_banner .slick-prev {
        left: -18%;
        width: 10%;
        padding-bottom: 20%;
    }

    .sp_kol_banner .slick-next {
        right: -18%;
        width: 10%;
        padding-bottom: 20%;
    }

    .red_p,
    .blue_p {
        position: absolute;
    }

    .red_p {
        width:30%;
        top: -35%;
        right:-7.5%;
    }

    .blue_p {
        width: 29%;
        left: -3%;
        bottom: -24%;
    }
}
