/*動畫*/
@keyframes updownS {
	0% {
		transform: translateY(-2%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes shine2 {
	from {
		opacity: 0;
		transform: scale(1);
	}

	50% {
		opacity: 1;
		transform: scale(1.2);

	}

	to {
		opacity: 0;
		transform: scale(1);

	}
}
.shine2 {
	animation-name: shine2;
	animation-iteration-count: infinite;
}




/* Slider css*/
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/* Slider style*/
/*.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
*/
/* Arrows */
.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 4%;
	height: 0px;
	padding-bottom: 4%;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 8;
}

.slick-prev:hover,
.slick-prev:focus {
	color: transparent;
	outline: none;
	opacity: 1;
}

.slick-next:hover,
.slick-next:focus {
	color: transparent;
	outline: none;
	opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 1;
}

.slick-prev:before,
.slick-next:before {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: 1%;
}

[dir='rtl'] .slick-prev {
	right: -25px;
	left: auto;
}

.slick-prev:before {
	content: '';
}

[dir='rtl'] .slick-prev:before {
	content: '';
}

.slick-next {
	right: 1%;
}

[dir='rtl'] .slick-next {
	right: auto;
	right: 1%;
}

.slick-next:before {
	content: '';
}

[dir='rtl'] .slick-next:before {
	content: '';
}

/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.slick-dots {
	position: absolute;
	bottom: 8%;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 3%;
	height: 0;
	margin: 0 1%;
	padding: 0 0 3% 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 90%;
	height: 0;
	padding-bottom: 90%;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
	position: relative;
	margin: 0 auto;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	content: '';
	text-align: center;
	opacity: 1;
	color: #818181;
	background-color: #818181;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 200%;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.5s;
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	color: #343434;
	background-color: #343434;
	width: 100%;
}

.updownS {
	animation-name: updownS;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-timing-function: linear;
}

.online_wrap {
	z-index: 9999;
}


/*super_drops layout*/

.superdrops_c .super_drops {
	position: relative;
	width: 100%;
	background-image: url(../images/superdrops_c/bg.jpg);
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
}

@media (max-width:768px) {
	.superdrops_c .super_drops {
		background-image: url(../images/superdrops_c/bg_all_m.jpg);
	}
}

/*主視覺*/
.superdrops_c .super_drops_kv {
	background-image: url(../images/superdrops_c/kv_bg.png);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #ed584d;
	text-align: center;
	position: relative;
	z-index: 4;
}

.superdrops_c .super_drops_kv_title {
	width: 58%;
	max-width: 58%;
	padding-top: 2%;
	margin: 0 auto;
}

.superdrops_c .super_drop_sp {
	display: block;
	margin: 3.5% auto;
	background-image: url(../images/superdrops_c/kv_text.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 68%;
	height: 0;
	padding-bottom: 5%;
	text-indent: -300%;
	line-height: 100;
	overflow: hidden;
}

.superdrops_c .btn_goto_free {
	width: 27.65%;
	background-image: url(../images/superdrops_c/kv_word.png);
	height: 0;
	padding-bottom: 25%;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	line-height: 100;
	text-indent: -200%;
	position: relative;
	margin-left: 16.8%;
	margin-top: 12.5%;
}

.superdrops_c .btn_goto_free a {
	display: block;
	position: absolute;
	width: 100%;
	height: 0;
	padding-bottom: 16%;
	bottom: 0;
}

.superdrops_c .product_b {
	position: absolute;
	width: 38.6%;
	left: 43.2%;
	top: 23.7%;
	z-index: 2;
	opacity: 1;
	animation-fill-mode: forwards;
}


.superdrops_c .floor {
	width: 74.5%;
	position: relative;
	margin-top: 2.2%;
	margin-left: 25.5%;
	z-index: 3;
}

.kv_l_01 {
	position: absolute;
	width: 20%;
	animation-fill-mode: forwards;
	top: 28%;
	left: 55%;
	z-index: 5;
	filter: brightness(1.1);
	opacity: 0;
}

.kv_l_02 {
	position: absolute;
	width: 20%;
	animation-fill-mode: forwards;
	top: 44.5%;
	left: 42%;
	z-index: 5;
	filter: brightness(1.1);
	opacity: 0;
}


@media (max-width:768px) {
	.superdrops_c .super_drops_kv {
		background-image: url(../images/superdrops_c/kv_bg_m.png);
		background-size: 100%;
		height: 0;
		padding-bottom: 220%;
	}

	.superdrops_c .super_drops_kv_title {
		width: 90%;
		max-width: 90%;
		padding-top: 5%;
	}

	.superdrops_c .super_drop_sp {
		background-image: url(../images/superdrops_c/kv_text_m.png);
		width: 75%;
		height: 0;
		padding-bottom: 20%;
	}

	.superdrops_c .btn_goto_free {
		width: 88%;
		background-image: url(../images/superdrops_c/kv_word_m.png);
		padding-bottom: 52%;
		margin-left: 0;
		margin-top: 0;
		top: 61%;
		z-index: 6;
		position: absolute;
		padding-bottom: 60%;
	}

	.superdrops_c .product_b {
		width: 72%;
		left: 21%;
		top: 24%;
	}

	.superdrops_c .floor {
		width: 150%;
		max-width: 150%;
		position: absolute;
		margin-top: 0;
		top: 55.2%;
		left: -41%;
		z-index: 3;
	}

	.kv_l_01 {
		width: 30%;
		top: 31%;
		left: 47%;
	}

	.kv_l_02 {
		width: 28%;
		top: 50%;
		left: 23%;

	}

}

/*影片*/

.superdrops_c .superdrops_cf {
	margin-top: -50%;
	z-index: 5;
	position: relative;
}

.superdrops_c .inner_cf_wrap {
	position: relative;
	width: 100%;
	background-image: url(../images/superdrops_c/yt_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	height: 0;
	padding-top: 7%;
	padding-bottom: 80%;
}

.superdrops_c .inner_cf_wrap > h2 {
	width: 69%;
	height: 0;
	padding-bottom: 14%;
	margin: 0 auto 1% auto;
	background-image: url(../images/superdrops_c/title_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -500%;
	line-height: 100;
}

.superdrops_c .fly_b_01 {
	position: absolute;
	width: 20.5%;
	top: 5%;
	left: 0;
}

.superdrops_c .cf_frame {
	position: relative;
	background-color: #fff;
	text-align: center;
	width: 65%;
	margin: 0 auto;
	padding: 0.8%;
	box-sizing: border-box;
}

.superdrops_c .cf_frame .video_wrap {
	width: 100% !important;
	max-width: 100% !important;
	margin: 0 auto;
	padding: 0;
	left: 0;
	top: 0;
}

.superdrops_c .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
}
.superdrops_c .video-container video{
	width: 100%;
}

.superdrops_c .video-container iframe,
.superdrops_c .video-container object,
.superdrops_c .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.superdrops_c .man_01 {
	position: absolute;
	width: 16%;
	right: -18%;
	top: 90%;
}

@media (max-width:768px) {

	.superdrops_c .superdrops_cf {
		margin-top: -25%;
	}

	.superdrops_c .inner_cf_wrap {
		width: 100%;
		background-image: url(../images/superdrops_c/yt_bg_m.png);
		padding-top: 18%;
		padding-bottom: 120%;
	}

	.superdrops_c .inner_cf_wrap > h2 {
		width: 90%;
		padding-bottom: 20%;
	}

	.superdrops_c .fly_b_01 {
		display: none;
	}

	.superdrops_c .cf_frame {
		width: 85%;
		margin: 0 auto;
	}

	.superdrops_c .man_01 {
		display: none;
	}
}

/*產品資訊*/
.superdrops_c .inner_info_wrap {
	width: 87%;
	background-image: url(../images/superdrops_c/center_bg_01.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 2% auto 0 auto;
	padding-bottom: 0.2%;
}

.superdrops_c .super_drops_info {
	position: relative;
}

.superdrops_c .super_drops_title_info {
	width: 56%;
	margin: -21% auto 0 auto;
	position: absolute;
	left: 22%;

}

.superdrops_c .superdrops_cont {
	width: 72%;
	height: 0;
	padding-bottom: 34%;
	background-image: url(../images/superdrops_c/check_word.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	overflow: hidden;
	font-size: 0;
	position: relative;
	padding-top: 19%;
}

.superdrops_c .superdrops_cont img {
	width: 5.8%;
	position: absolute;
	left: 13%;
}

.superdrops_c .check_01 {
	top: 60.7%;
}

.superdrops_c .check_02 {
	top: 72%;
}

.superdrops_c .check_03 {
	top: 81.5%;
}

.superdrops_c .check_04 {
	top: 93.2%;
}

.superdrops_c .detial_info {
	width: 85%;
	margin: 6% auto;
	background-image: url(../images/superdrops_c/center_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	box-sizing: border-box;
	padding: 6% 4% 10% 4%;
	padding: 6% 4% 10% 4%;
	position: relative;
	overflow: hidden;
}

.superdrops_c .red_info p,
.superdrops_c .blue_info p {
	color: #fff;
	font-weight: bold;
	line-height: 1.5;
	font-size: 12px;
	margin-top: 4%;
	margin-left: 3%;
}

.superdrops_c .info_r_t1 {
	width: 54%;
	position: relative;
	z-index: 3;
}

.superdrops_c .red_info_left {
	width: 30%;
	height: 0;
	padding-bottom: 35%;
	margin-top: 8%;
	margin-left: 1%;
	background-image: url(../images/superdrops_c/red_line.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	z-index: 2;
}

.superdrops_c .red_info_left img {
	width: 42%;
	position: absolute;
}

.superdrops_c .icon_r_01 {
	left: 25%;
	top: -14.5%;

}

.superdrops_c .icon_r_02 {
	top: 52.5%;
	right: -8%;
}

.superdrops_c .icon_r_03 {
	top: 75%;
	left: -8%;
}

.superdrops_c .red_center {
	position: absolute;
	width: 70%;
	top: -0.5%;
	left: 21%;
	z-index: 0;
}

.superdrops_c .red_info_right {
	position: absolute;
	width: 26%;
	text-align: center;
	top: 10%;
	right: 2%;
	z-index: 6;
}

.superdrops_c .b_info_right {
	position: absolute;
	width: 28.4%;
	z-index: 2;
	right: -3%;
	top: 7%;
	text-align: center;
	z-index: 6;
}

.superdrops_c .red_info_right img:first-child,
.superdrops_c .b_info_right img:first-child {
	width: 100%;
}

.superdrops_c .btn_red {
	margin-top: 15%;
}

.superdrops_c .red_box,
.superdrops_c .b_box {
	width: 100%;
	text-align: center;
	padding-top: 21%;
	position: relative;
	z-index: 5;
}

.superdrops_c .b_box {
	padding-top: 23%;
}

.superdrops_c .b_box {
	margin-top: 8%;
}

.superdrops_c .red_box img,
.superdrops_c .b_box img {
	display: inline-block;
	width: 30%;
}

.superdrops_c .red_box img:nth-child(2),
.superdrops_c .red_box img:nth-child(3),
.superdrops_c .b_box img:nth-child(2),
.superdrops_c .b_box img:nth-child(3) {
	margin-left: 2%;
}

.superdrops_c .blue_info {
	position: relative;
	margin-top: 14%;
}

.superdrops_c .info_b_t1 {
	width: 58%;
	position: relative;
	z-index: 2;
}

.superdrops_c .b_info_left {
	width: 29%;
	height: 0;
	padding-bottom: 20%;
	background-image: url(../images/superdrops_c/line_blue.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 10.5%;
	margin-left: 13.7%;
	position: relative;
	z-index: 2;
}

.superdrops_c .b_info_left img {
	position: absolute;
	width: 47%;
	max-width: 47%;
}

.superdrops_c .icon_b_01 {
	top: -21%;
	left: 15%;
}

.superdrops_c .icon_b_02 {
	left: -25%;
	top: 60%;
}

.superdrops_c .b_center {
	position: absolute;
	top: -2.5%;
	width: 90%;
	z-index: 1;
	left: 20.75%;
}

.superdrops_c .super_drop_form {
	margin-top: 10%;
}

.superdrops_c .super_drops_form_box .check-content-notice {
	padding: 3% 0 5% 0;
	display: block;
}

@media (max-width:768px) {
	.superdrops_c .inner_info_wrap {
		width: 90%;
		background-image: url(../images/superdrops_c/center_bg_01_m.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		margin: 2% auto 0 auto;
		padding-bottom: 0.2%;
	}

	.superdrops_c .super_drops_info {
		position: relative;
	}

	.superdrops_c .super_drops_title_info {
		width: 80%;
		margin: -35% auto 0 auto;
		position: absolute;
		left: 10%;
	}

	.superdrops_c .superdrops_cont {
		width: 93%;
		padding-top: 8%;
		padding-bottom: 55%;
	}

	.superdrops_c .super_drops_cont img {
		width: 8%;
		position: absolute;
		left: 1%;
	}

	.superdrops_c .check_01 {
		top: 57%;
	}

	.superdrops_c .check_02 {
		top: 70%;
	}

	.superdrops_c .check_03 {
		top: 81%;
	}

	.superdrops_c .check_04 {
		top: 93%;
	}

	.superdrops_c .detial_info {
		width: 93%;
		margin: 7% auto;
		background-image: url(../images/superdrops_c/cneter_bg_02_m.png);
	}

	.superdrops_c .red_info p,
	.superdrops_c .blue_info p {
		margin-left: auto;
	}

	.superdrops_c .red_info p {
		background-image: url(../images/superdrops_c/tip_01.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 10%;
		overflow: hidden;
		line-height: 100;
		text-indent: -300%;
	}

	.superdrops_c .blue_info p {
		background-image: url(../images/superdrops_c/tip_02.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 10%;
		overflow: hidden;
		line-height: 100;
		text-indent: -300%;
	}

	.superdrops_c .info_r_t1 {
		width: 98%;
		margin-left: 1%;
	}

	.superdrops_c .red_info_left {
		width: 86%;
		padding-bottom: 120%;
		margin-top: 12%;
		margin-left: 7%;
		background-image: url(../images/superdrops_c/red_line_m.png);
	}

	.superdrops_c .red_info_left img {
		width: 31%;
	}

	.superdrops_c .icon_r_01 {
		left: 9%;
		top: -7%;

	}

	.superdrops_c.icon_r_02 {
		top: 50%;
		right: -12%;
	}

	.superdrops_c .icon_r_03 {
		top: 75%;
		left: -12%;
	}

	.superdrops_c .red_center {
		position: absolute;
		width: 110%;
		max-width: 110%;
		top: 4%;
		left: 0%;
		z-index: 0;
	}

	.superdrops_c .red_info_right {
		position: relative;
		width: 100%;
		top: 10%;
		right: 0;
	}

	.superdrops_c .b_info_right {
		position: relative;
		width: 100%;
		right: 0;
		margin-left: 2%;
		margin-top: 5%;
	}

	.superdrops_c .red_info_right img:first-child,
	.superdrops_c .b_info_right img:first-child {
		width: 100%;
	}

	.superdrops_c .btn_red {
		margin-top: 8%;
		width: 82%;
		margin-left: 9%;
	}

	.superdrops_c .red_box,
	.superdrops_c .b_box {
		width: 100%;
		text-align: center;
		padding-top: 7%;
		position: relative;
		z-index: 5;
	}

	.superdrops_c .b_box {
		padding-top: 0%;
	}

	.superdrops_c .b_box {
		margin-top: 10%;
	}

	.superdrops_c .red_box img,
	.superdrops_c .b_box img {
		display: inline-block;
		width: 80%;
	}

	.superdrops_c .red_box img:nth-child(2),
	.superdrops_c .red_box img:nth-child(3),
	.superdrops_c .b_box img:nth-child(2),
	.superdrops_c .b_box img:nth-child(3) {
		margin-left: 0;
	}

	.superdrops_c .blue_info {
		position: relative;
		margin-top: 25%;
	}

	.superdrops_c .info_b_t1 {
		width: 100%;
		position: relative;
		z-index: 2;
	}

	.superdrops_c .b_info_left {
		width: 34%;
		height: 0;
		padding-bottom: 100%;
		background-image: url(../images/superdrops_c/line_blue_m.png);
		background-size: 100%;
		background-repeat: no-repeat;
		margin-top: 14%;
		margin-left: 13.7%;
		position: relative;
		z-index: 5;
	}

	.superdrops_c .b_info_left img {
		position: absolute;
		width: 90%;
		max-width: 90%;
	}

	.superdrops_c .icon_b_01 {
		top: -9%;
		left: -24%;
	}

	.superdrops_c .icon_b_02 {
		left: -40%;
		top: 60%;
	}

	.superdrops_c .b_center {
		position: absolute;
		top: 0%;
		width: 160%;
		max-width: 160%;
		z-index: 1;
		left: 9%;
	}

}

/*免費體驗*/
.superdrops_c .super_drop_form {
	margin-top: 10%;
}

.superdrops_c .title_free {
	width: 70%;
	margin: 2% auto 5% auto;
}

.superdrops_c .super_drops_form_box .check-content-notice {
	padding: 3% 0 5% 0;
	display: block;
}

.superdrops_c .super_drops_form {
	width: 100%;
	background-image: none;
	text-align: center;
}

.superdrops_c .super_drops_title_02 {
	width: 43%;
	margin: 0 auto 2% auto;
}

.superdrops_c .super_drop_form .form_word {
	width: 69%;
	text-align: left;
	margin: 9% auto 5% auto;
	position: relative;
	font-weight: 300 !important;
}

.superdrops_c .super_drop_form .form_word span {
	font-weight: bold;
	font-size: 1.6vw;
	line-height: 1.5;
	letter-spacing: 0.1em;
	font-weight: 500 !important;
}

.superdrops_c .super_drop_form .btn_shop {
	display: block;
	width: 24%;
	transition: 0.5s;
	float: right;
	vertical-align: text-bottom;
	margin-top: -1.8%;
	transform: scale(1.0);
	position: absolute;
	top: -100%;
	right: 0;
}

.superdrops_c .super_drop_form .btn_shop:hover {
	transform: scale(0.95);
}

.superdrops_c .super_drops_form_box {
	width: 69%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.superdrops_c .super_drops_form_box ul li {
	margin-bottom: 5%;
	text-align: left;
	position: relative;
}

.superdrops_c .super_drops_form_box ul li span {
	width: 8%;
	word-break: keep-all;
	white-space: nowrap;
	font-size: 1.8vw;
	font-weight: bold;
}


.superdrops_c .super_drops_form_box ul li span,
.superdrops_c .super_drops_form_box ul li input,
.superdrops_c .super_drops_form_box ul li select {
	display: inline-block;
	vertical-align: middle;
}

.superdrops_c .super_drops_form_box input,
.superdrops_c .super_drops_form_box button,
.superdrops_c .super_drops_form_box textarea,
.superdrops_c .super_drops_form_box select,
.superdrops_c .super_drops_form_box option {
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: none;
	border: 0;
	border-radius: 100em;
	background-color: transparent;
	color: #000;
	letter-spacing: 1px;
	background-color: #fff;
	font-size: 1.3vw;
	box-sizing: border-box;
	padding: 2% 4% 1.5% 4%;
	width: 90%;
	font-family: 'Helvetica', '微軟正黑體', 'Noto Sans TC', 'Microsoft JhengHei', 'sans-serif', serif;
}

.superdrops_c .super_drops_form_box select,
.superdrops_c .super_drops_form_box option {
	width: 75%;
	position: absolute;
	right: 2%;
	top: 50%;
	transform: translateY(-50%);
}

.superdrops_c .super_drops_form_box input[type="button"],
.superdrops_c .super_drops_form_box input[type="submit"],
.superdrops_c .super_drops_form_box input[type="reset"] {
	-webkit-appearance: none;
}

.superdrops_c .super_drops_form_box textarea {
	-webkit-appearance: none;
}

.superdrops_c .super_drops_form_box textarea:focus,
.superdrops_c .super_drops_form_box input:focus {
	outline: none;
}

.superdrops_c .super_drops_form_box * {
	outline: none;
}

.superdrops_c .super_drops_form_box select::-ms-expand {
	display: none;
}

.superdrops_c .super_drops_form_box select {
	width: 79%;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("../images/superdrops_c/arrow.png") no-repeat 95% center transparent;
	background-size: auto 40%;
	border: 0;
	border-radius: 100em;
	background-color: transparent;
	color: #666;
	padding-left: 4%;
	background-color: #fff;
}

.superdrops_c .super_drops_form_box option::-ms-expand {
	display: none;
}

.superdrops_c .super_drops_form_box option {
	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari 和 Chrome */
	appearance: none;
	background-color: #fff;
	color: #000;
	letter-spacing: 1px;

}

.superdrops_c .super_drops_form_box ::-webkit-input-placeholder {
	/* Edge */
	color: #666;
}

.superdrops_c .super_drops_form_box :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #666;
}

.superdrops_c .super_drops_form_box ::placeholder {
	color: #666;
}

.superdrops_c .super_drops_form_box input:focus::-webkit-input-placeholder {
	color: #000;
}

.superdrops_c .super_drops_form_box input:focus:-moz-placeholder {
	color: #000;
}

.superdrops_c .super_drops_form_box input:focus:-ms-input-placeholder {
	color: #000;
}

.superdrops_c .super_drops_form_box input[type=checkbox] {
	transform: scale(1);
	position: absolute;
	z-index: 2;
	opacity: 0;
	top: 0;
	margin-left: -40%;
}

.superdrops_c .super_drops_form_box .c-ct {
	width: 100%;
}

.superdrops_c .super_drops_form_box .custom-checkbox {
	width: 100%;
	margin-top: 9%;
	position: relative;
	padding: 0;
}

.superdrops_c .super_drops_form_box .checkmark {
	position: absolute;
	display: block;
	width: 2.5%;
	height: 0;
	padding-bottom: 2.8%;
	z-index: 1;
	background-image: url(../images/superdrops_c/check_box.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom center;
	left: 0;
	top: -10%;
}

.superdrops_c .super_drops_form_box .checkmark.active {
	background-image: url(../images/superdrops_c/after_check.png);
}

.superdrops_c .super_drops_form_box .check_content {
	position: relative;
	display: block;
	width: 96%;
	height: auto;
	padding-bottom: 3%;
	margin-left: 4%;
	margin-top: -1%;
	cursor: pointer;
	background-position: top;
	z-index: 5;
	background-image: none;
	font-size: 1.2vw;
	letter-spacing: 0.1em;
	font-weight: bold;
	line-height: 2;
}

.superdrops_c .super_drops_form_box .check_content a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: auto;
	height: auto;
	padding-bottom: 0%;
	border-bottom: 1px solid #fff;
	top: 0;
	left: 0%;
	font-size: 1.2vw;
	letter-spacing: 0.1em;
	font-weight: bold;
	color: #fff;
	margin-top: -2px;
	line-height: 1.2;
}

.superdrops_c .super_drops_form_box .check_content a:hover {
	color: yellow;
}

.superdrops_c .super_drops_form_box .check_content br {
	display: block;
}

.superdrops_c .btn_super_drops_enter {
	width: 38%;
	margin: 0% auto 5% auto;
	cursor: pointer;
	transform: scale(1.0);
	transition: 0.3s;
}

.superdrops_c .btn_super_drops_enter:hover {
	transform: scale(0.95);
}

@media (max-width:768px) {

	.superdrops_c .title_free {
		width: 120%;
		max-width: 120%;
		margin-left: -10%;
	}

	.superdrops_c .super_drop_form {
		margin-top: 20%;
	}

	.superdrops_c .super_drops_form {
		width: 100%;
		background-image: none;
		text-align: center;
	}

	.superdrops_c .super_drops_title_02 {
		width: 80%;
		margin: 0 auto;
	}

	.superdrops_c .super_drop_form .form_word {
		width: 90%;
		text-align: left;
		margin: 10% auto;
	}

	.superdrops_c .super_drop_form .form_word span {
		font-weight: bold;
		font-size: 3.2vw;
		letter-spacing: 0.1em;
		display: inline-block;
		width: 70%;
		font-weight: 500 !important;

	}

	.superdrops_c .super_drop_form .btn_shop {
		display: inline-block;
		width: 17%;
		transition: 0.5s;
		float: right;
		vertical-align: middle;
		margin-top: 0%;
		margin-right: 5%;
		transform: scale(1.0);
		position: relative;
		top: auto;
		right: auto;
	}

	.superdrops_c .super_drops_form_box {
		width: 90%;
		position: relative;
	}

	.superdrops_c .super_drops_form_box ul li {
		margin-bottom: 8%;
	}

	.superdrops_c .super_drops_form_box ul li span {
		width: 15%;
		font-size: 3.6vw;
	}

	.superdrops_c .super_drops_form_box input,
	.superdrops_c .super_drops_form_box button,
	.superdrops_c .super_drops_form_box textarea,
	.superdrops_c .super_drops_form_box select,
	.superdrops_c .super_drops_form_box option {
		font-size: 2.8vw;
		width: 82%;
		height: 8vw;
	}

	.superdrops_c .super_drops_form_box select {
		width: 68%;
	}

	.superdrops_c .super_drops_form_box .checkmark {
		width: 20px;
		padding-bottom: 20px;
		top: 1%;
	}

	.superdrops_c .super_drops_form_box .check_content {
		width: 90%;
		height: auto;
		margin-left: 6%;
		margin-top: -1%;
		margin-bottom: 2%;
		font-size: 16px;
		text-align: left;
		line-height: 1.9;
		letter-spacing: 1.5px;
	}

	.superdrops_c .super_drops_form_box .check-content-notice {
		padding: 0;
		display: block;
	}

	.superdrops_c .super_drops_form_box .check_content a {
		font-size: 16px;
		margin-top: -1px;
		line-height: 1.2;
	}

	.superdrops_c .btn_super_drops_enter {
		width: 50%;
		margin: -4% auto 10% auto;
	}

}

/*新品組合 呵護都市躁動肌*/
.superdrops_c .new_sp {
	width: 100%;
	text-align: center;
	position: relative;
}

.superdrops_c .new_sp h2 {
	display: block;
	width: 62%;
	background-image: url(../images/superdrops_c/title_04.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	margin: -3% auto 0 auto;
	height: 0;
	padding-bottom: 30%;
	overflow: hidden;
	line-height: 999;
	text-indent: -200%;
	position: relative;
	z-index: 3;

}

.superdrops_c .fly_02 {
	position: absolute;
	width: 26%;
	top: 12%;
	left: 11%;
	z-index: 5;
}

.superdrops_c .new_pic {
	width: 64%;
	margin: -8% auto 0 16.5%;
	position: relative;
	z-index: 1;
}

.superdrops_c .p_01,
.superdrops_c .p_02 {
	position: absolute;
	z-index: 2;
	width: 7%;
	top: 58%;
}

.superdrops_c .p_01 {
	left: 4%;
}

.superdrops_c .p_02 {
	right: 4%;
}

.super_new_item {
	width: 62% !important;
	padding-top: 2% !important;
	margin-bottom: 10% !important;
}

.super_new_item div img {
	width: 90%;
	margin-left: 5%;
}

.super_new_item div a {
	display: inline-block;
	width: 80%;
	margin: 6% auto;
	transform: scale(1);
	transition: 0.3s;
}

.super_new_item div a:hover {
	transform: scale(1.1);
}



@media (max-width:768px) {

	.superdrops_c .new_sp h2 {
		width: 95%;
		margin: 5% auto 0 auto;
		padding-bottom: 45%;
	}

	.superdrops_c .fly_02 {
		position: absolute;
		width: 33%;
		top: 10%;
		left: -4%;
		z-index: 5;
	}


	.superdrops_c .p_01,
	.superdrops_c .p_02 {
		display: none;
	}


	.super_new_item {
		width: 80% !important;
		padding-top: 2% !important;
		padding-bottom: 10% !important;
		margin-bottom: 0% !important;
	}

	.super_new_item .slick-next {
		right: -8% !important;
		width: 8% !important;
		top: 72% !important;
	}

	.super_new_item .slick-prev {
		left: -8% !important;
		width: 8% !important;
		top: 72% !important;

	}







}

/*建議搭配*/
.superdrops_c .super_drops_suggest {
	background-position: center bottom;
	height: auto;
	background-image: url(../images/superdrops_c/footer_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 30%;
	position: relative;
}

.superdrops_c .super_drops_suggest_title {
	width: 15%;
	position: relative;
	margin: 8% auto 0 auto;
	z-index: 4;
}

.superdrops_c .super_drops_wrap {
	width: 65%;
	z-index: 4;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	text-align: center;
	position: relative;
	z-index: 2;
}

.superdrops_c .super_drops_suggest .product_item.super_drops_item {
	padding: 0 2%;

}

.superdrops_c .super_drops_suggest .product_item.super_drops_item p {
	font-weight: 400;
}


.superdrops_c .super_drops_suggest_img_1 {
	background-image: url(../images/superdrops_c/item_01.png);
	background-size: auto 60%;
	background-position: center bottom;
}

.superdrops_c .super_drops_suggest_img_2 {
	background-image: url(../images/superdrops_c/item_02.png);
	background-size: auto 100%;
	background-position: center bottom;
}

.superdrops_c .super_drops_suggest_img_3 {
	background-image: url(../images/superdrops_c/item_03.png);
	background-size: auto 60%;
	background-position: center bottom;
}


.superdrops_c .fly_r {
	position: absolute;
	width: 49%;
	top: 10%;
	left: -15%;
	z-index: 1;
}

.superdrops_c .fly_b {
	position: absolute;
	width: 42%;
	top: 10%;
	right: -2%;
	animation-delay: -2s;
}

@media (max-width:768px) {

	.superdrops_c .super_drops_suggest {
		background-image: url(../images/superdrops_c/footer_bg_m.png);
		height: auto;
		padding-bottom: 55%;
		position: relative;
		margin-top: 25%;
	}

	.superdrops_c .super_drops_suggest_title {
		width: 36%;
		position: relative;
		margin-top: 0;
		margin-bottom: -5%;
		left: 0;
		z-index: 4;
	}

	.superdrops_c .super_drops_wrap {
		width: 100%;
		z-index: 4;
		margin-top: 0%;
		margin-left: 0%;
	}

	.superdrops_c .super_drops_suggest .product_item_contain {
		width: 70%;
		max-width: 70%;
		margin: 0 auto;
	}

	.superdrops_c .super_drops_suggest .product_item_contain p {
		font-size: 3.4vw;
	}

	.superdrops_c .super_drops_suggest .btn_type1 {
		width: 70%;
		max-width: 70%;
		font-size: 18px;
	}

	.superdrops_c .super_drops_suggest .product_item.super_drops_item {
		width: 100%;
		max-width: 100%;
		margin-top: 20%;
	}

	.superdrops_c .product_item.super_drops_item br {
		display: none;
	}

	.superdrops_c .super_drops_suggest_img_1 {
		width: 110% !important;
		margin-left: -5%;
		background-size: auto 70%;
	}


	.superdrops_c .super_drops_suggest_img_2 {
		width: 110% !important;
		margin-left: -5%;
		padding-bottom: 30%;
		background-size: auto 100%;
	}

	.superdrops_c .super_drops_suggest_img_3 {
		width: 110% !important;
		margin-left: -5%;
		background-size: auto 70%;

	}

	.superdrops_c .fly_r {
		position: absolute;
		width: 67%;
		top: auto;
		bottom: -0.1%;
		left: -31%;
		z-index: 1;
	}

	.superdrops_c .fly_b {
		position: absolute;
		width: 60%;
		top: auto;
		right: -12%;
		bottom: 0.5%;
		animation-delay: -2s;
	}

}


.superdrops_c .super_drops_popup .popup_wrap {
	border: 3px solid #000;
	padding: 0;
	width: 600px;
	max-width: 600px;
}

.superdrops_c .super_drops_popup .popup_close {
	width: 8.5%;
	left: 90%;
	top: 3%;
}

.superdrops_c .super_drops_popup .popup_send {
	width: 100%;
}


.superdrops_c .super_drops_popup {
	background-color: rgba(255, 230, 130, 0.5);

}

@media (max-width:768px) {
	.superdrops_c .super_drops_popup .popup_wrap {
		width: 80%;
		max-width: 80%;
	}
}

.superdrops_c .super_drops_price {
	width: 35%;
	margin: -5% auto 5% auto;
	z-index: 6;
	position: relative;
}

@media (max-width:768px) {
	.superdrops_c .super_drops_price {
		width: 65%;
		margin: -8% auto 8% auto;
	}
}

.superdrops_c .super_drop_kol {
	position: relative;
	text-align: center;
	margin: 10% auto;
}

.superdrops_c .sp_kol_wrap {
	position: relative;
	margin: 0 auto;
	width: 87.81%;
	background-image: url(../images/superdrops_c/kol_banner_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 61%;
}

.superdrops_c .sp_kol_wrap h3 {
	display: block;
	overflow: hidden;
	width: 42%;
	height: 0;
	padding-bottom: 12.5%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../images/superdrops_c/kol_title.png);
	line-height: 999;
	text-indent: -200%;
	position: absolute;
	top: -8%;
	left: 29%;
}

.superdrops_c .sp_kol_banner {
	width: 70%;
	margin: 0 auto 0 auto;
	padding-top: 11.5%;
}

.sp_kol_banner div a img {
	padding: 0 3%;

}

.superdrops_c .sp_kol_banner .slick-prev {
	background-image: url(../images/superdrops_c/arrow_pre.png);
	position: absolute;
	top: 60%;
	transform: translateY(-60%);
	left: -7%;
	display: block;
	width: 4%;
	height: 0px;
	padding-bottom: 8%;
}

.superdrops_c .sp_kol_banner .slick-next {
	background-image: url(../images/superdrops_c/arrow_next.png);
	position: absolute;
	top: 60%;
	transform: translateY(-60%);
	right: -7%;
	display: block;
	width: 4%;
	height: 0px;
	padding-bottom: 8%;
}

.superdrops_c .red_p,
.superdrops_c .blue_p {
	position: absolute;
}

.superdrops_c .red_p {
	width: 21%;
	top: -20%;
	right: -6.4%;
}

.superdrops_c .blue_p {
	width: 22%;
	left: -4%;
	bottom: -10%;
}

@media (max-width:768px) {

	.superdrops_c .sp_kol_wrap {
		width: 90%;
		background-image: url(../images/superdrops_c/kol_banner_bg_m.png);
		padding-bottom: 105%;
		margin-top: 22%;
	}

	.superdrops_c .sp_kol_wrap h3 {
		width: 86%;
		padding-bottom: 25%;
		top: -10%;
		left: 7%;
	}

	.superdrops_c .sp_kol_banner {
		width: 60%;
		margin: 0 auto 0 auto;
		padding-top: 19.5%;
	}

	.superdrops_c .sp_kol_banner div a img {
		padding: 0;

	}

	.superdrops_c .sp_kol_banner .slick-prev {
		left: -18%;
		width: 10%;
		padding-bottom: 20%;
	}

	.superdrops_c .sp_kol_banner .slick-next {
		right: -18%;
		width: 10%;
		padding-bottom: 20%;
	}

	.superdrops_c .red_p,
	.superdrops_c .blue_p {
		position: absolute;
	}

	.superdrops_c .red_p {
		width: 30%;
		top: -20%;
		right: -7%;
	}

	.superdrops_c .blue_p {
		width: 29%;
		left: -3%;
		bottom: -13%;
	}
}

/*新產品介紹*/
.new_01_box,
.new_02_box,
.new_03_box {
	position: relative;
	box-sizing: border-box;
	text-align: left;
	padding: 1% 2%;
}

.superdrops_c button,.superdrops_c button:active,.superdrops_c button:focus{
	outline: none;
	border: 0;
	
}

.new_01_title {
	width: 62%;
	max-width: 62%;
	margin-top: -2%;
}

.new_01_word_01 {
	position: absolute;
	width: 35%;
	right: 0;
	top: 0;
}

.new_01_icon {
	position: absolute;
	width: 14.5%;
	right: -1%;
	top: 15%;
}

.new_01_img {
	width: 40%;
	margin-top: 8%;
}

.new_01_item {
	width: 48%;
	position: absolute;
	top: 14%;
	right: -4%;
}

.inner_box {
	font-family: 'Noto Sans TC';
}


.new_01_box .inner_box {
	margin-top: 5%;
	width: 62%;
	font-family: 'Noto Sans TC';
}


.new_01_box .inner_box img {
	width: 100%;
	margin-top: 2%;
}

.new_01_box .inner_box > div {
	display: inline-block;
	width: 50%;
	float: left;
	box-sizing: border-box;
	position: relative;
	z-index: 5;
}

.new_01_box .inner_box > div:nth-child(2) {
	padding-left: 5%;
}

.new_01_box .inner_box > div > span:nth-child(1) {
	font-size: 9.5vw;
	display: inline-block;
	transform: scaleX(0.9) translateX(-10%);
	font-weight: 500;
}

.new_01_box .inner_box > div > span:nth-child(2) {
	position: absolute;
	font-size: 4vw;
	font-weight: 100;
	transform: scaleX(0.9) translateX(-10%);
	bottom: 14%;
}

.new_01_box .inner_box > div:nth-child(1) > span:nth-child(2) {
	left: 70%;
}

.new_01_box .inner_box > div:nth-child(2) > span:nth-child(2) {
	left: 92%;
	font-weight: 100;
}

.new_01_box p {
	width: 100%;
	color: #fff;
	font-size: 1vw;
	font-weight: 400;
	text-align: left;
	word-break: break-all;
	box-sizing: border-box;
	padding-top: 2%;
	line-height: 1.2;

}

.inner_link {
	width: 32%;
	position: absolute;
	right: 0;
}

.inner_link a {
	display: block;
	width: 100%;
	margin-bottom: 5%
}

.new_01_box .inner_link {
	top: 78%;
}

@media (max-width:768px) {

	.new_01_box,
	.new_02_box,
	.new_03_box {
		width: 100%;
	}

	.new_01_title {
		width: 90%;
		max-width: 90%;
		margin-top: -0.5%;
	}

	.new_01_word_01 {
		position: absolute;
		width: 45%;
		right: 0;
		top: 10%;
	}

	.new_01_icon {
		position: absolute;
		width: 28%;
		right: auto;
		left: 0;
		top: 18%;
	}

	.new_01_img {
		position: relative;
		width: 95%;
		margin-top: 120%;
		top: auto;
		left: 2.5%;
	}

	.new_01_item {
		width: 68%;
		position: absolute;
		top: 11%;
		right: 3%;
	}

	.new_01_box .inner_box {
		margin-top: 10%;
		width: 100%;
		position: relative;
	}

	.new_01_box .inner_box img {
		width: 45%;
		margin-top: 0;
		position: absolute;
		right: 0;
		bottom: 10%;
	}

	.new_01_box .inner_box > div {
		display: block;
		width: 55%;
		float: inherit;
	}

	.new_01_box .inner_box > div:nth-child(1) {
		margin-bottom: -3%;
	}

	.new_01_box .inner_box > div:nth-child(2) {
		padding-left: 1%;
	}

	.new_01_box .inner_box > div > span:nth-child(1) {
		font-size: 18vw;
	}

	.new_01_box .inner_box > div:nth-child(1) > span:nth-child(1) {
		font-size: 21vw;
	}

	.new_01_box .inner_box > div > span:nth-child(2) {
		position: absolute;
		font-size: 7.5vw;
		bottom: 9%;
	}

	.new_01_box .inner_box > div:nth-child(1) > span:nth-child(2) {
		left: 66%;
	}

	.new_01_box .inner_box > div:nth-child(2) > span:nth-child(2) {
		left: 79%;
	}

	.new_01_box .inner_box > div:nth-child(1) > span:nth-child(2) {
		left: 79%;
		bottom: 7%;
	}

	.new_01_box p {
		width: 100%;
		color: #fff;
		font-size: 2.5vw;
		padding-top: 0;

	}

	.inner_link {
		width: 80%;
		position: relative;
		right: 0;
		margin: 5% auto;
	}

	.inner_link a {
		display: block;
		width: 100%;
		margin-bottom: 5%
	}

	.new_01_box .inner_link {
		right: 0;
		margin: 8% auto;
		top: auto;
	}
}

.new_02_box .new_02_title {
	width: 60%;
	margin-top: 7%;
	padding-top: 5%;
	position: relative;
	z-index: 5;
}

.new_02_icon {
	position: absolute;
	width: 14%;
	right: -2%;
	z-index: 5;
	top: 46.2%;
}

.new_02_item {
	width: 53%;
	position: absolute;
	top: -4%;
	right: -3%;
	z-index: 0;
}

.new_02_list {
	width: 43%;
	margin-left: 3%;
	margin-top: 3%;
}

.new_02_list img {
	margin-bottom: 5%;
}

.new_02_box .inner_box {
	width: 45%;
	margin-top: -2%;
	position: relative;
}

.new_02_box .inner_box img {
	width: 55%;
	position: absolute;
	top: 40%;
	right: 0;
}

.new_02_box .inner_box span:nth-child(1) {
	font-size: 7vw;
	font-weight: 500;
	display: inline-block;
}

.new_02_box .inner_box span:nth-child(2) {
	font-size: 4vw;
	font-weight: 200;
	transform: scaleX(0.9) translateX(-10%);
	display: inline-block;
	padding-left: 2%;
}

.new_02_box p {
	font-size: 1vw;
	font-weight: 200;
	color: #fff;
	line-height: 1.2;
	width: 60%;
	margin-left: 0;
	word-break: break-all;
}

.new_02_box .inner_link {
	width: 38%;
	margin-top: -12%;
}

.inner_link a {
	transition: 0.3s;
	transform: scale(1);
}

.inner_link a:hover {
	transform: scale(1.05);

}

@keyframes updown2 {
	0% {
		transform: translateY(20px);
	}

	100% {
		transform: translateY(0%);
	}
}

.updown2 {
	animation-name: updown2;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-timing-function: linear;
}

@media (max-width:970px){
	.new_02_box .new_02_title{
		margin-top: 2.5vw;
	}
	.new_02_item {
		margin-top: -6%;
	}
}

@media (max-width:768px) {
	.new_02_box .new_02_title {
		width: 690%;
		margin-top: 20%;
	}

	.new_02_icon {
		position: absolute;
		width: 28%;
		right: auto;
		left: 2%;
		z-index: 6;
		top: 17%;
	}

	.new_02_item {
		width: 120%;
		max-width: 120%;
		position: relative;
		top: auto;
		margin-top: -35%;
		right: auto;
		margin-left: -8%;
		z-index: 0;
	}

	.superdrops_c .box {
		width: 80%;
		margin-left: 10%;
		margin-top: 0;
	}

	.new_02_box .box {
		margin-top: -14%;
	}

	.new_02_list img {
		margin-bottom: 5%;
	}

	.new_02_box .inner_box {
		width: 90%;
		margin-left: 5%;
		margin-top: 0%;
		position: relative;
	}

	.new_02_box .inner_box img {
		width: 50%;
		position: absolute;
		top: 51%;
		right: 0;
	}

	.new_02_box .inner_box span:nth-child(1) {
		font-size: 20vw;
		font-weight: 500;
	}

	.new_02_box .inner_box span:nth-child(2) {
		font-size: 7.5vw;
		font-weight: 100;
		margin-left: 1%;
	}

	.new_02_box p {
		font-size: 2.2vw;
		font-weight: 400;
		line-height: 1.5;
		width: 100%;
		padding-top: 2%;
	}

	.new_02_box .inner_link {
		width: 80%;
		margin-top: 5%;
		margin-bottom: 4%;
	}

}

.new_03_box .new_03_title {
	width: 60%;
	margin-top: 7vw;
	position: relative;
	z-index: 5;
}

.new_03_item {
	position: absolute;
	width: 73%;
	right: -22%;
	top: -6vw;
	z-index: 0;
}

.new_03_icon {
	width: 15%;
	position: absolute;
	right: -3%;
	z-index: 6;
	top: 40%;
}

.new_03_list {
	width: 43%;
	margin-left: 3%;
	margin-top: 3%;
}

.new_03_list img {
	margin-bottom: 4%;
}

.new_03_list {
	width: 43%;
	margin-left: 3%;
	margin-top: 3%;
}

.new_03_box .inner_box {
	width: 45%;
	margin-top: -2%;
	position: relative;
}

.new_03_box .inner_box img {
	width: 55%;
	position: absolute;
	top: 9%;
	right: -20%;
}

.new_03_box .inner_box span:nth-child(1) {
	font-size: 7vw;
	font-weight: 500;
}

.new_03_box .inner_box span:nth-child(2) {
	font-size: 4vw;
	font-weight: 100;
	transform: scaleX(0.9) translateX(-10%);
	display: inline-block;
}

.new_03_box p {
	font-size: 1vw;
	color: #fff;
	font-weight: 300;
	line-height: 1.2;
	width: 59%;
	margin-left: 0;
}


.new_03_box .inner_link {
	width: 38%;
	margin-top: -10%;
}

@media (max-width:940px) {
	.new_03_box .new_03_title {
		width: 60%;
		margin-top: 5vw;
		position: relative;
		z-index: 5;
	}
}

@media (max-width:768px) {
	.new_03_box .new_03_title {
		width: 100%;
		margin-top: 18vw;
		position: relative;
		z-index: 5;
	}

	.new_03_item {
		position: relative;
		width: 130%;
		max-width: 130%;
		right: auto;
		top: auto;
		margin-top: -23%;
		margin-left: 10%;
	}

	.new_03_icon {
		width: 25%;
		position: absolute;
		right: auto;
		left: 5%;
		z-index: 6;
		top: 18%;
	}

	.new_03_box .box {
		margin-top: -40%;
		margin-bottom: 5%;
	}

	.new_03_box .inner_box {
		width: 45%;
		margin-top: -2%;
		position: relative;
	}

	.new_03_box .inner_box {
		width: 90%;
		margin-left: 5%;
		margin-top: 0%;
		position: relative;
	}

	.new_03_box .inner_box img {
		width: 37%;
		position: absolute;
		top: 37%;
		right: 0;
	}

	.new_03_box .inner_box span:nth-child(1) {
		font-size: 16vw;
		font-weight: 500;
	}

	.new_03_box .inner_box span:nth-child(2) {
		font-size: 7.5vw;
		font-weight: 100;
		margin-left: 1%;
	}

	.new_03_box p {
		font-size: 2.2vw;
		font-weight: 400;
		line-height: 1.5;
		width: 100%;
		padding-top: 2%;
	}

	.new_03_box .inner_link {
		width: 80% !important;
		margin-top: 7% !important;
	}

	.new_03_box p {
		font-size: 2.2vw;
		color: #fff;
		font-weight: 300;
		line-height: 1.5;
		width: 100%;
		margin-left: 0;
		padding-bottom: 15%;
	}


	.new_03_box .inner_link {
		width: 38%;
		margin-top: -10%;
	}
}

.light_new_02 {
	position: absolute;
	width: 32%;
	right: -5%;
	top: 44%;
}

@media (max-width:768px){
	.light_new_02 {
	position: absolute;
	width: 40%;
	right: 4%;
	top: 26.5%;
}
}

.action {
	opacity: 0;
	animation-duration: 2s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.popup_wrap.super_drops_popup_c {
	background-color: transparent;
	border: 0 !important;
	overflow-y: scroll;
	width: 350px;
	height: auto !important;
	border: 0;

}

.popup_wrap.super_drops_popup_c .popup_close{
	top: 25px;
	right: 20px;
	left: auto;
}

@media (max-width:768px){
	.popup_wrap.super_drops_popup_c {
		width: 60%;
	}
	
	.popup_wrap.super_drops_popup_c .popup_close{
		top: 25px;
		right: 20px;
		left: auto;
	}
}
