@charset "utf-8";

/*思源黑體*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:200,300,400,500,600,700,900&display=swap");

/*思源宋體*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");


/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

section {
    display: inline-block;
    width: 100%;
    position: relative;
}

img {
    width: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

.author_link{cursor: default;}

/* Slider css*/
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider style*/
/*.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
*/
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: block;
    width: 10%;
    height: 0px;
    padding-bottom: 15%;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 8;
}

.slick-prev {
    background-image: url(../img/arrow_left.png);
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-next {
    background-image: url(../img/arrow_right.png);
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-prev:hover,
.slick-prev:focus {
    color: transparent;
    outline: none;
    opacity: 1;
}

.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -15%;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '';
}

[dir='rtl'] .slick-prev:before {
    content: '';
}

.slick-next {
    right: -15%;
}

[dir='rtl'] .slick-next {
    right: auto;
    right: 1%;
}

.slick-next:before {
    content: '';
}

[dir='rtl'] .slick-next:before {
    content: '';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: absolute;
    bottom: 7.5%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 3%;
    height: 0;
    margin: 0 2%;
    padding: 0 0 0 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
    margin: 0 auto;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    content: '';
    text-align: center;
    opacity: 1;
    color: #818181;
    background-color: #818181;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 200%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #343434;
    background-color: #343434;
    width: 100%;
}

.author_link{cursor: default;}

/*layout*/
html {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    color: #313131;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}


html.click {
    overflow: hidden;
}

html,
body {
    font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", Helvetica;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
}


/*導覽列*/
.wrapper {
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0;
    position: fixed;
    z-index: -1000;
    overflow-x: hidden;
    transition: 0.2s ease;
}

.inner_wrapper {
    position: relative;
    opacity: 1;
    display: block;
    overflow-x: hidden;
}

.header {
    width: 1920px;
    left: 50%;
    margin: 0 auto 0 -960px;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    padding: 2% 320px 1% 320px;
    font-size: 0;
    z-index: 200;
}

.inner_wrapper.report_01 .header {
    display: none;
}

.btn_hum {
    display: none;
}

.sns {
    width: 1280px;
    margin: 0 auto;
    text-align: right;
    display: block;
    z-index: 8;
}

.sns a {
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
    margin: 0 8px;
}

.sns a:hover {
    background-position: bottom center;
}

.fb {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon_fb.png);
    background-repeat: no-repeat;
}

.ig {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon_ig.png);
}

.mail {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon_mail.png);
}

.search {
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_search.png);
}

.sns span {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #AEB6C2;
    vertical-align: bottom;
    margin: 0 5px;
}

.search_box {
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
    padding: 0.5% 1% 0.5% 1%;
    width: 20%;
    right: 25%;
    top: 14%;
    z-index: 5;
    text-align: left;
    display: none;
}

.search_box.click {
    display: block;
}

.search_box input {
    outline: none;
    border: 0;
    display: inline-block;
    width: 80%;
    padding: 2%;
    vertical-align: middle;
}

.search_box input[type="text"] {
    font-size: 16px !important;
}

.search_box input::placeholder {
    font-size: 16px !important;
    width: 100%;
    height: auto;
}

.btn_search {
    font-size: 16px;
    background-color: #5bae7f;
    color: #fff;
    border-radius: 0.4em;
    outline: none;
    padding: 2% 0;
    width: 16%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    display: inline-block;
    width: 18%;
    height: 0;
    padding-bottom: 4%;
    background-image: url(../img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 2.5%;
    position: relative;
    z-index: 5;
}

.nav_list {
    position: absolute;
    right: 17%;
    bottom: 11%;
    display: inline-block;
    width: 60%;
    font-size: 16px;
    color: #313131;
    text-align: right;
    letter-spacing: 0.1rem;
    vertical-align: text-bottom;
}

.nav_list > a,
.nav_list > div {
    position: relative;
    display: inline-block;
    color: #313131;
    margin-left: 5.5%;
    height: 0;
    padding-top: 3.5%;
    padding-bottom: 2.4%;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-size: auto 85%;
    background-image: none;
    background-position: top center;
    cursor: pointer;
}

.nav_list > div > div {
    position: absolute;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    padding: 15% 0 5% 0;
    display: none;
    opacity: 0;
    top: 0;
    z-index: 8;
}

.nav_list > div:hover > div {
    display: block;
    opacity: 1;
    top: 100%;
}

.nav_list > div > div > a {
    display: block;
    color: #313131;
    padding: 8% 0;
}

.nav_list > div > div > a:hover {
    color: #fff;
    background-color: #f4cc57;
}

.nav-02 > div {
    width: 200%;
    margin-left: -50%;
}

.nav-03 > div {
    width: 200%;
    margin-left: -50%;
}

.nav-04 > div {
    width: 240%;
    margin-left: -70%;
}

.nav-05 > div {
    width: 200%;
    margin-left: -50%;
}

.nav_list > a:hover span,
.nav_list > div:hover span {
    opacity: 0;
}

.nav-01:hover {
    background-image: url(../img/nav-01.png);
}

.nav-02:hover {
    background-image: url(../img/nav-02.png);
}

.nav-03:hover {
    background-image: url(../img/nav-03.png);
}

.nav-04:hover {
    background-image: url(../img/nav-04.png);
}

.nav-05:hover {
    background-image: url(../img/nav-05.png);
}

.now_page::after {
    position: absolute;
    content: '';
    width: 70%;
    height: 0;
    padding-bottom: 5%;
    background-image: url(../img/bar.png);
    background-size: 100%;
    background-repeat: no-repeat;
    left: 15%;
    bottom: -20%;
    z-index: 0;
}

.now_page:hover::after {
    display: none;
}

.nav_list_m {
    display: none;
}

/*固定header*/

.header.fixed_bar {
    background-color: #5BAE7F;
    position: fixed;
    height: 80px !important;
    padding-bottom: 0;
    padding-top: 0;
    top: 0;
}

.header.fixed_bar .sns {
    position: absolute;
    right: 16.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
}

.header.fixed_bar .sns > a {
    width: 18px;
    height: 0;
    padding-bottom: 18px;
    background-size: cover;
    background-position: top center;
}

.header.fixed_bar .sns > a:hover {
    background-position: top center;
}

.header.fixed_bar .fb {
    background-image: url(../img/icon_fb_w.png);
}

.header.fixed_bar .ig {
    background-image: url(../img/icon_ig_w.png);
}

.header.fixed_bar .mail {
    background-image: url(../img/icon_mail_w.png);
}

.header.fixed_bar .search {
    background-image: url(../img/icon_search_w.png);
}

.header.fixed_bar .sns span {
    display: inline-block;
    width: 2px;
    height: 0;
    padding-bottom: 10%;
    background-color: #fff;
    vertical-align: middle;
    margin: 0 6%;
    opacity: 0.65;
}

.header.fixed_bar .logo {
    width: 12%;
    padding-bottom: 3%;
    background-image: url(../img/logo-soga-w.png);
    margin-top: 0%;
    top: 52%;
    transform: translateY(-50%);
    display: inline-block;
    vertical-align: middle;
}

.header.fixed_bar .nav_list {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
}

.header.fixed_bar .nav_list > a,
.header.fixed_bar .nav_list > div {
    position: relative;
    display: inline-block;
    color: #fff;
    margin-left: 5%;
    padding-top: 2.3%;
    padding-bottom: 3%;
    cursor: pointer;
    z-index: 5;
    overflow: hidden;
    float: left;
}

.header.fixed_bar .nav_list > div > div{
    opacity: 1;
    z-index: 0;
}

.header.fixed_bar .nav_list > div:hover {
    overflow:visible;
}

.header.fixed_bar .nav_list > div:hover > div {
    display: block;
    opacity: 1;
    top: 100% !important;
    z-index: 5;
}

.header.fixed_bar .nav_list > div > span,
.header.fixed_bar .nav_list > a > span {
    display: block;
    opacity: 1;
    top: 100%;
    width: 100% !important;
    height: 100px;
    position: relative;
    z-index: 0;
    font-size: 16px;

}

.header.fixed_bar .nav_list > div > div > a {
    display: block;
    color: #313131;
    padding: 4% 0;
}

.header.fixed_bar .nav_list > div > div > a:hover {
    color: #fff;
    background-color: #f4cc57;
}

.header.fixed_bar .nav-02 > div {
    width: 200%;
    margin-left: -50%;
}

.header.fixed_bar .nav-05 > div {
    width: 200%;
    margin-left: -50%;
}

.header.fixed_bar .nav_list > a:hover::after,
.header.fixed_bar .nav_list > div:hover::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 5px;
    background-color: #F4CC57;
    top: 0%;
    left: 2.5%;
}

.header.fixed_bar .nav_list > a:hover span,
.header.fixed_bar .nav_list > div:hover span {
    opacity: 1;
}

.header.fixed_bar .nav-01:hover,
.header.fixed_bar .nav-02:hover,
.header.fixed_bar .nav-03:hover,
.header.fixed_bar .nav-04:hover,
.header.fixed_bar .nav-05:hover {
    background-image: none;
}

.header.fixed_bar .now_page::after {
    background-image: none;
    position: absolute;
    width: 95%;
    height: 5px;
    padding-bottom: 0;
    background-color: #F4CC57;
    top: 0%;
    left: 2.5%;
}

.header.fixed_bar .now_page:hover::after {
    display: block;
}

.nav_list_right::-webkit-scrollbar {
    display: none
}

/*搜尋bar*/

.search_box {
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
    padding: 0.5% 1% 0.5% 1%;
    width: 20%;
    right: 25%;
    top: 14%;
    z-index: 5;
    text-align: left;
    display: none;
}

.search_box.click {
    display: block;
}

.search_box input {
    outline: none;
    border: 0;
    display: inline-block;
    width: 80%;
    padding: 2%;
    vertical-align: middle;
}

.search_box input[type="text"] {
    font-size: 16px !important;
}

.search_box input::placeholder {
    font-size: 16px !important;
    width: 100%;
    height: auto;
}

.btn_search {
    font-size: 16px;
    background-color: #5bae7f;
    color: #fff;
    border-radius: 0.4em;
    outline: none;
    padding: 2% 0;
    width: 16%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.header.fixed_bar .search_box {
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
    padding: 6% 5% 6% 6%;
    width: 170%;
    right: 0;
    top: 220%;
    display: none;
}

.header.fixed_bar .search_box.click {
    display: block;
}

.header.fixed_bar .search_box input {
    outline: none;
    border: 0;
    display: inline-block;
    width: 80%;
    padding: 2%;
    vertical-align: middle;
    position: relative;

}

.header.fixed_bar .search_box input[type="text"] {
    font-size: 16px !important;
}

.header.fixed_bar .search_box input::placeholder {
    font-size: 16px !important;
    width: 100%;
    height: auto;
    top: 0;
}

.header.fixed_bar .btn_search {
    font-size: 16px;
    background-color: #5bae7f;
    color: #fff;
    border-radius: 0.4em;
    outline: none;
    padding: 3% 0;
    width: 22%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}



@media (max-width:1440px) {
    .header {
        width: 100%;
        left: 0;
        margin: 0 auto;
        position: relative;
        background-color: #fff;
        box-sizing: border-box;
        padding: 2% 5% 1% 5%;
        font-size: 0;
        z-index: 200;
    }

    .sns {
        width: 100%;
    }

    .nav_list {
        right: 5%;
        font-size: 16px;
        width: 100%;
    }

    .nav_list > a,
    .nav_list > div {
        padding-top: 3%;
        padding-bottom: 2%;
    }
	
	.nav_list > a::after,
	.nav_list > div::after{
		bottom: -18%;
	}

    .header.fixed_bar {
        padding: 3% 0 2% 0;
    }

    .header.fixed_bar .logo {
        left: 5%;
    }

    .header.fixed_bar .sns {
        right: 5%;
        width: 20%;
    }

    .header.fixed_bar .nav_list {
        width: 60%;
        left: 20% !important;
    }

    .header.fixed_bar .nav_list > a,
    .header.fixed_bar .nav_list > div {
        margin-left: 18px;
        margin-right: 30px !important;
        padding-top: 30px !important;
        padding-bottom: 40px;
        padding-top: calc(4.8% - 9px);
    }

    .now_page::after {
        bottom: -40%;
    }

    .header.fixed_bar .nav_list > div:hover > div {
        top: 110%;
    }


    /*搜尋bar*/

    .search_box {
        width: 25%;
        right: 18%;
        padding: 0.8% 1%;
    }

    .search_box.click {
        display: block;
    }

    .search_box input {
        outline: none;
        border: 0;
        display: inline-block;
        width: 80%;
        padding: 2%;
        vertical-align: middle;
    }

    .search_box input[type="text"] {
        font-size: 16px !important;
    }

    .search_box input::placeholder {
        font-size: 16px !important;
        width: 100%;
        height: auto;
    }

    .btn_search {
        padding: 3% 0;
        width: 20%;
    }


}

@media (max-width:1200px) {
    .header {
        padding-bottom: 16px;
    }

    .logo {
        margin-top: 4%;
    }

    .nav_list {
        width: 70%;
        top: 40%;
    }

    .nav_list > a,
    .nav_list > div {
        padding-top: 5%;
        padding-bottom: 2%;
    }
	
	.nav_list > a::after,
	.nav_list > div::after{
		bottom: -36%;
	}

    .header.fixed_bar .sns {
        right: 2%;
    }

    .header.fixed_bar .logo {
        left: 2%;
    }

    .header.fixed_bar .nav_list {
        left: 20% !important;
    }

    .header.fixed_bar .nav_list > a,
    .header.fixed_bar .nav_list > div {
        margin-left: 0 !important;
        margin-right: 5% !important;
        padding-top: calc(5.2% - 9px);
    }
    .header.fixed_bar .nav_list > div:nth-child(5){
        margin-right: 0px !important;
    }

    /*搜尋bar*/

    .search_box {
        width: 32%;
        right: 20%;
        padding: 0.9% 1%;
    }

    .search_box.click {
        display: block;
    }

    .search_box input {
        outline: none;
        border: 0;
        display: inline-block;
        width: 80%;
        padding: 2%;
        vertical-align: middle;
    }

    .search_box input[type="text"] {
        font-size: 16px !important;
    }

    .search_box input::placeholder {
        font-size: 16px !important;
        width: 100%;
        height: auto;
    }

    .btn_search {
        padding: 3% 0;
        width: 20%;
    }

}

@media (max-width:1000px) {

    .nav_list {
        width: 80%;
    }
	
	.nav_list > a::after,
	.nav_list > div::after{
		bottom: -32%;
	}

    .header.fixed_bar .nav_list {
        left: 18% !important;
    }

    .header.fixed_bar .nav_list > a,
    .header.fixed_bar .nav_list > div {
        margin-left: 5px;
        margin-right: 15px !important;
        padding-top: calc(6% - 9px);
    }
    .header.fixed_bar .nav_list > div:nth-child(5){
        margin-left: 0;
    }
    
    /*搜尋bar*/

    .search_box {
        width: 31%;
        right:21%;
        padding: 1% 1%;
    }

    .search_box.click {
        display: block;
    }

    .search_box input {
        outline: none;
        border: 0;
        display: inline-block;
        width: 80%;
        padding: 2%;
        vertical-align: middle;
    }

    .search_box input[type="text"] {
        font-size: 16px !important;
    }

    .search_box input::placeholder {
        font-size: 16px !important;
        width: 100%;
        height: auto;
    }

    .btn_search {
        padding: 3% 0;
        width: 20%;
    }

}



/*手機側邊*/

@media (max-width:960px) {

    .btn_hum {
        display: block;
        position: absolute;
        width: 8%;
        height: 0;
        padding-bottom: 8%;
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);
        right: 4%;
        cursor: pointer;
    }

    .btn_hum span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #ADB6C3;
        margin-bottom: 30%;
        transition: 0.3s;
        border-radius: 100px;
    }

    .btn_hum.click span:nth-child(1) {
        transform: rotate(-45deg);
        position: absolute;
        top: 45%;
    }

    .btn_hum.click span:nth-child(2),
    .btn_hum.click span:nth-child(3) {
        transform: rotate(45deg);
        position: absolute;
        top: 22%;
        left: 5%;
        width: 36%;
    }

    .btn_hum.click span:nth-child(3) {
        top: 70%;
        left: 52%;
    }

    .header {
        padding: 5% 4% 6% 4%;
        font-size: 0;
    }

    .sns {
        display: none;
    }

    .logo {
        width: 36%;
        padding-bottom: 7%;
    }

    .nav_list {
        display: none !important;
    }

    .nav_list_m {
        position: fixed;
        width: 100%;
        height: 100vh;
        display: block;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 6;
        display: none;
    }

    .nav_list_m.click {
        display: block;
    }

    .nav_list_right {
        width: 80%;
        position: fixed;
        background-color: #fff;
        right: -100%;
        height: calc(100vh - 8%);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) inset;
        box-sizing: border-box;
        padding: 5% 8% 15% 8%;
        margin-top: 0;
        overflow-y: scroll;
    }

    .nav_list_right::-webkit-scrollbar {
        display: none;
    }

    .nav_list_right.click {
        right: 0;
    }

    .nav_list_right .search_box {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin: 10% auto;
        width: 100%;
        box-shadow: none;
        border: 1px solid #AEB6C2;
        padding: 4% 5%;
        box-sizing: border-box;
        margin-bottom: 20%;
    }


    .nav_list_right .search_box input::placeholder {
        font-size: 3.3vw !important;
        width: 100%;
        height: auto;
    }

    .nav_list_right .search_box input[type="text"] {
        font-size: 3.3vw !important;
    }


    .nav_list_right .search_box a {
        font-size: 3.3vw;
        padding: 4% 2%;
        top: 160%;
        right: 0;
    }

    .nav_list_right.fixed_bar {
        margin-top: 14.5%;
    }

    .nav_list_right ul li {
        display: block;
        width: 100%;
        border-bottom: 2px solid #AEB6C2;
        box-sizing: border-box;
        padding: 7.5% 0;
        position: relative;
    }

    .nav_list_right ul li a,
    .nav_list_right ul li div {
        color: #313131;
        font-size: 3.6vw;
    }

    .nav_list_right ul li div span {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 75%;
    }

    .nav_list_right ul li div span::after {
        content: '>';
        color: #AEB6C2;
        font-size: 6vw;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        transition: 0.3s;
    }

    .nav_list_right ul li div.click span::after {
        transform: translateY(-50%) rotate(90deg);
    }

    .nav_list_right ul li a:hover,
    .nav_list_right ul li div:hover {
        color: #5BAE7F;
        cursor: pointer;
    }

    .nav_list_right ul li img {
        width: 18%;
        margin-right: 5%;
        vertical-align: middle;
    }

    .inner_link {
        margin: 10% 0 0 0;
        display: none;
    }

    .inner_link.click {
        display: block;
    }

    .inner_link a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 4% 0 4% 24%;
    }

    .sns_right {
        padding: 3% 0 0 0;
    }

    .sns_right li {
        border-bottom: 0 !important;
    }

    .sns_right li a {
        color: #ADB6C3 !important;
        border-bottom: 0 !important;
        padding-left: 10%;
    }

    .sns_right li a img {
        height: 4.5vw;
        width: auto;
        vertical-align: middle;
        margin-right: 10%;
    }

    /*固定header*/
    .header.fixed_bar {
        padding: 8% 5%;
    }

    .header.fixed_bar .btn_hum {
        top: 50%;
        transform: translateY(-50%);
    }

    .header.fixed_bar .btn_hum span {
        background-color: #fff;
    }

    .header.fixed_bar .logo {
        width: 36%;
        padding-bottom: 7%;
    }

    .header.fixed_bar .nav_list b {
        display: none;
    }

    .header.fixed_bar .nav_list > a,
    .header.fixed_bar .nav_list > div {
        position: relative;
        display: inline-block;
        color: #fff;
        margin-left: 5%;
        padding-top: 4%;
        padding-bottom: 4%;
        cursor: pointer;
        margin-top: -2.5%;
    }
}

/*開場動畫*/
.kv_motion {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
}

@keyframes frame01 {
    0% {
        opacity: 0.5;
    }

    40% {
        opacity: 1.0;
    }

    60% {
        opacity: 1.0;
    }

    65% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
    }
}

.frame_01 {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    position: relative;
    animation-name: frame01;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    z-index: 5;
    opacity: 0.5;
}

.frame_01 > img {
    position: absolute;
    display: inline-block;
    width: 17.4%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frame_02 {
    width: 1680px;
    height: 945px;
    left: 50%;
    top: 0;
    margin-top: 0;
    margin-left: -840px;
    position: absolute;
    background-image: url(../img/kv_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    opacity: 0;
    animation-delay: 1.8s;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.frame_02 > img {
    position: absolute;
    width: 14%;
    top: 7%;
    right: 15%;
}

.frame_02 .text_frame img {
    position: absolute;
    opacity: 0;
}

.text_frame {
    width: 1680px;
    height: 945px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-top: -472.5px;
    margin-left: -840px;
}

.t_01 {
    width: 8.3%;
    height: auto;
    top: 44.5%;
    left: 23.8%;
}

.t_02 {
    width: 7.7%;
    top: 61.5%;
    right: 16%;
}

.t_03 {
    width: 8.4%;
    top: 8%;
    left: 27%;
}

.t_01,
.t_02,
.t_03 {
    animation-delay: 2s, 2.5s;
    animation-name: bounceIn, bounceOut;
    animation-duration: 0.5s, 0.5s;
    animation-fill-mode: forwards;
}

.t_04 {
    width: 8.4%;
    top: 2.5%;
    left: 19%;
}

.t_05 {
    width: 9.5%;
    top: 49.5%;
    left: 38.4%;
}

.t_06 {
    width: 6%;
    right: 37.5%;
    top: 34%;
}

.t_07 {
    width: 5.9%;
    top: 75%;
    left: 34.8%;
}

.t_04,
.t_05,
.t_06,
.t_07 {
    animation-delay: 2.8s, 3.3s;
    animation-name: bounceIn, bounceOut;
    animation-duration: 0.5s, 0.5s;
    animation-fill-mode: forwards;
}

.t_08 {
    width: 7.5%;
    top: 15%;
    left: 40%;
}

.t_09 {
    width: 8.3%;
    top: 59%;
    right: 35%;
}

.t_10 {
    width: 6.3%;
    right: 22%;
    top: 47.5%;
}

.t_08,
.t_09,
.t_10 {
    animation-delay: 3.6s, 4.1s;
    animation-name: bounceIn, bounceOut;
    animation-duration: 0.5s, 0.5s;
    animation-fill-mode: forwards;
}

@media (max-width:1200px) {
    .frame_01 > img {
        width: 30%;
    }

    .frame_02 {
        width: 130%;
        height: 0;
        padding-bottom: 75%;
        left: -15%;
        top: 50%;
        margin-top: -37.5%;
        margin-left: 0;
    }

    .frame_02 > img {
        width: 14%;
        top: 7%;
        right: 15%;
    }

    .text_frame {
        width: 100%;
        height: 0;
        padding-bottom: 57.2%;
        left: 0;
        top: 0;
        margin-top: 0;
        margin-left: 0;
    }
}

@media (max-width:768px) {
    .frame_01 > img {
        width: 40%;
    }

    .frame_02 {
        width: 100%;
        height: 0;
        padding-bottom: 175%;
        left: 0;
        top: 0;
        margin-top: 0;
        margin-left: 0;
        background-size: 100%;
        background-image: url(../img/kv_bg_m.png);
    }

    .frame_02 > img {
        width: 44%;
        top: 12%;
        right: auto;
        left: 28%;
    }

    .text_frame {
        width: 100%;
        height: 0;
        padding-bottom: 219%;
        left: 0;
        top: 0;
        margin-top: 0;
        margin-left: 0;
    }

    .t_01 {
        width: 17%;
        height: auto;
        top: 42%;
        left: 23.8%;
    }

    .t_02 {
        display: none;
    }

    .t_03 {
        width: 17%;
        top: 20%;
        left: 35%;
    }

    .t_04 {
        width: 17%;
        top: 17.5%;
        left: 16%;
    }

    .t_05 {
        width: 18%;
        top: 43.5%;
        left: 63%;
    }

    .t_06 {
        display: none;
    }

    .t_07 {
        width: 13%;
        top: 59%;
        left: 47.5%;
    }

    .t_08 {
        width: 15%;
        top: 27%;
        left: 60%;
    }

    .t_09 {
        display: none;
    }

    .t_10 {
        display: none;
    }

}

/*首頁*/
.for_m {
    display: none;
}

.for_pc {
    display: block;
}

.main_wrap {
    position: relative;
    width: 1440px;
    box-sizing: border-box;
    padding: 0 80px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.main_wrap.report_01 {
    padding: 0;
    margin-top: 0;
}

.index_banner {
    width: 100%;
    margin-top: 2%;
}

.title span {
    display: inline-block;
    vertical-align: text-bottom;
}

.title span:nth-child(1) {
    font-family: 'Noto Serif TC';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 32px;
}

.title span:nth-child(2) {
    width: 10%;
    height: 1px;
    display: inline-block;
    background-color: #707070;
    margin: 0 1% 0.3% 1%;
}

.title span:nth-child(3) {
    font-size: 18px;
    font-family: 'Noto Sans TC';
    font-weight: normal;
}

@media (max-width:1440px) {
    .main_wrap {
        width: 100%;
        padding: 0 5%;
        margin-top: 1%;
    }
}

@media(max-width:960px) {
    .for_m {
        display: block;
    }

    .for_pc {
        display: none;
    }

    .main_wrap {
        padding: 0;
    }

    .index_banner {
        width: 100%;
    }

    .title {
        position: relative;
        padding-left: 6%;
        margin-left: 6%;
    }


    .title span {
        display: inline-block;
        vertical-align: text-bottom;
    }

    .title span:nth-child(1) {
        font-family: 'Noto Serif TC';
        font-weight: bold;
        letter-spacing: 0.8px;
        font-size: 7vw;
    }

    .title span:nth-child(3) {
        font-size: 3.8vw;
        display: block;
        margin-top: 3%;

    }
}

/*news*/
.news {
    position: relative;
    margin-top: 8%;
}

.news_banner,
.index_new_banner {
    width: 100% !important;
    display: block;
    position: relative;
}

.news_banner.index_new_banner {
    margin-top: 0 !important;
}

.news_banner.index_new_banner {
    margin-top: 0 !important;
}

.news_banner > div {
    width: 100% !important;
    position: relative;
    padding: 6.5% 0;
}

.news_inner {
    width: 100% !important;
    position: relative;
}

.news_pic {
    width: 48%;
    height: 0;
    padding-bottom: 27%;
    overflow: hidden;
    z-index: 5;
    position: relative;
}

.news_pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news_word {
    width: 55%;
    border: 1px solid #707070;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    box-sizing: border-box;
    padding: 7% 5% 7% 8%;
    z-index: 0;
}

.news_word h3,
.news_word .news_title {
    display: block;
    overflow: hidden;
    margin-bottom: 4%;
    font-family: 'Noto Serif TC';
    color: #313131;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-size: 24px;
}


.news_word .news_content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    line-height: 26px;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.news_word p {
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 1.2vw;
}

.news_word a,
.btn_more {
    display: inline-block;
    width: 25%;
    margin-top: 5%;
    padding: 3% 4%;
    background-color: #5BAE7E;
}

.news_word a:hover,
.btn_more:hover {
    background-color: #F4CC57;
}

/* Arrows */
.news_banner .slick-prev,
.news_banner .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 3.5%;
    height: 0px;
    padding-bottom: 15%;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 10;
}

.news_banner .slick-prev {
    background-image: url(../img/arrow_left.png);
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    left: -1.8%;
}

.news_banner .slick-next {
    background-image: url(../img/arrow_right.png);
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    right: -1.8%;
}

.news_banner .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.news_banner .slick-dots {
    bottom: 5.5%;
    width: 50%;
    text-align: left;
}

.news_banner .slick-dots li {
    width: 8%;
    height: 0;
    margin: 0 1% 0 0;
}

.news_banner .slick-dots li button {
    width: 95%;
    height: 6%;
    padding-bottom: 0;
}

.news_banner .slick-dots li button:before {
    width: 100%;
    height: 0;
    border-radius: 0;
    padding-bottom: 10%;
    background-color: #ADB6C3;

}

.slick-dots li.slick-active button:before {
    background-color: #5BAE7E;
}

@media (max-width:1440px) {

    .news_word {
        padding: 5% 5% 5% 8%;
    }

}

@media (max-width:1000px) {

    .news_word {
        padding: 5% 5% 5% 8%;
    }

    .news_word h3,
    .news_word .news_title {
        font-size: 22px;
    }
}

@media(max-width:960px) {

    .news {
        margin-top: 10%;
    }

    .news > .title span:nth-child(2) {
        width: 65%;
        position: absolute;
        top: 40%;
        right: -9%;
    }

    .news_banner,
    .index_new_banner {
        width: 90% !important;
        margin: 0 auto;
    }

    .news_banner.index_new_banner {
        margin-top: 0 !important;
    }

    .news_pic {
        width: 88%;
        padding-bottom: 50%;
        margin: 0 auto;
    }

    .news_word {
        width: 97%;
        position: relative;
        top: auto;
        right: auto;
        transform: translateY(0);
        box-sizing: border-box;
        padding: 40% 5% 10% 5%;
        margin: -37% auto 0 auto;
    }




    .news_word h3 {
        font-size: 4.8vw;
        color: #313131;
        line-height: 1.5;

    }

    .news_word p {
        line-height: 1.8;
        letter-spacing: 0.5px;
        font-size: 3vw;
        opacity: 0.9;
    }

    .news_word a,
    .btn_more {
        padding: 3% 4%;
    }

    .news_word a {
        margin-bottom: -4%;
    }

    /* Arrows */
    .news_banner .slick-prev,
    .news_banner .slick-next {
        display: none !important;
    }

    .news_banner .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .news_banner .slick-dots {
        bottom: 0%;
        width: 65%;
        text-align: left;
    }

    .news_banner .slick-dots li button:before {
        width: 100%;
        height: 0;
        border-radius: 0;
        padding-bottom: 10%;
        background-color: #ADB6C3;

    }

    .slick-dots li.slick-active button:before {
        background-color: #5BAE7E;
    }

    .news_word .news_title {
        display: block;
        height: auto;
        overflow: hidden;
        font-size: 4.8vw;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        margin-bottom: 4%;
    }

    .news_word .news_content {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;
        line-height: 1.8;
        letter-spacing: 0.5px;
        font-size: 3.8vw;
    }
}

@media (max-width:960px) {
    .news_banner.index_new_banner {
        margin-top: 0% !important;
    }
}

/*tips*/
.tips {
    margin-top: 18%;
    position: relative;
}

.tips .title {
    position: relative;
    z-index: 5;
}

.tip_left {
    position: relative;
    display: inline-block;
    width: 81%;
    box-sizing: border-box;
    background-color: #F4f4f5;
    padding: 15% 8% 12% 27%;
    margin-left: -27%;
    margin-top: -8%;
    z-index: 0;
}

.tip_left p:nth-child(2) {
    display: block;
    font-family: 'Noto Serif TC';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 24px;
    margin-top: 8%;
    margin-bottom: 4%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tip_left p {
    font-size: 18px;
    line-height: 1.5;
    color: #313131;
    width: 100%;
    text-align: justify;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.tip_left a {
    width: 18%;
    padding: 3% 5%;
}

.tip_right {
    position: absolute;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-left: -3%;
    z-index: 5;
    top: 2%;
}

.tip_02,
.tip_03 {
    position: relative;
    width: 100%;
    font-size: 0;
}

.tip_02 div,
.tip_03 div {
    text-align: left;
}

.tip_03 {
    margin-top: 8%;
}

.tip_02 a,
.tip_03 a {
    width: 35%;
    padding: 3% 5%;
}

.tip_02 > img,
.tip_03 > img {
    display: inline-block;
    width: 40%;
}

.tip_02 div,
.tip_03 div {
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
    padding: 0 0 0 5%;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
}

.tip_02 .tip_title,
.tip_03 .tip_title {
    display: block;
    font-family: 'Noto Serif TC';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 24px;
    margin-top: 8%;
    line-height: 1.5;
    margin-bottom: 4%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-align: left;
}

.tip_02 p,
.tip_03 p {
    font-size: 18x;
    line-height: 1.5;
    margin-bottom: 5%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.tip_left.for_m {
    display: none;
}

@media (max-width:1000px) {

    .tip_left p:nth-child(2) {
        letter-spacing: 1.6px;
        font-size: 22px;
    }


    .tip_02 .tip_title,
    .tip_03 .tip_title {
        font-size: 22px;
    }

}

@media (max-width:960px) {
    .tips > .title {
        margin-top: 30%;
    }

    .tips > .title span:nth-child(2) {
        width: 65%;
        position: absolute;
        top: 40%;
        right: -16%;
    }

    .tip_left {
        width: 100%;
        padding: 30% 14% 12% 7%;
        margin-left: 5%;
        margin-top: -24%;
    }

    .tip_left.for_m {
        display: block;
        padding-top: 0%;
        margin-top: 0;
    }

    .tip_left span {
        font-size: 4.8vw;
        line-height: 1.5;

    }

    .tip_left p {
        font-size: 4.8vw;
        padding-right: 1%;
        box-sizing: border-box;
    }

    .tip_left a {
        width: 28%;
    }

    .tip_right {
        display: none;
    }

    .tip_left p:nth-child(2) {
        line-height: 1.5;
        font-size: 4.8vw;
        -webkit-line-clamp: 2;
        margin-top: 5%;
    }

    .tip_left p:nth-child(3) {
        display: block;
        font-size: 3.8vw;
        margin-top: 5%;
        margin-bottom: 4%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        line-height: 1.8;
    }
}

/*vision*/
.vision {
    display: block;
    width: 100%;
    margin-top: 10%;
}

.vision .title {
    margin-bottom: 5%;
    display: block;
}

.vision_cont {
    position: relative;
    width: 95%;
    padding: 5% 0;
    border: 1px solid #707070;
}

.vision_cont .vision_nav {
    width: 45%;
    display: inline-block;
    font-family: 'Noto Serif TC';
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 5%;
}

.vision_cont .vision_nav div {
    width: 100%;
    height: 0;
    padding-bottom: 100px;
    margin-bottom: 8%;
    position: relative;
}

.vision_cont .vision_nav div:last-child {
    margin-bottom: 0;
}

.vision_cont .vision_nav div::after {
    display: block;
    position: absolute;
    content: '';
    height: 100%;
    width: 1%;
    background-color: #ADB5C3;
    opacity: 0;
    top: 0;
    left: calc(-11.2% - 1px);
}

.vision_cont .vision_nav div:hover::after,
.vision_cont .vision_nav div.on::after {
    background-color: #ADB5C3;
    opacity: 1;
    cursor: pointer;
    animation-play-state: paused;
}

.vision_cont .vision_nav div:hover a {
    margin-left: 22%;
}

.vision_cont .vision_nav div span {
    display: inline-block;
    vertical-align: middle;
}

.vision_cont .vision_nav div span:nth-child(1) {
    width: 12%;
    font-size: 50px;
    margin-top: 5.5%;
}

.vision_cont .vision_nav div p:nth-child(2) {
    width: 76%;
    font-size: 24px;
    line-height: 1.5;
    margin-left: 7%;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    position: absolute;
    top: 0;
    left: 12.7%;
}

.vision_cont .vision_nav div a {
    display: block;
    width: 25%;
    padding-top: 3%;
    margin-left: 20%;
    transition: 0.3s;
}

.vision_img {
    width: 54%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -4%;
}

.vision_img div {
    width: 100%;
    display: none;
}

/*.vision_img div:nth-child(1) {
    display: block;
}*/

.vision_img div img {
    width: 100%;
}

.vision_img .slick-arrow,
.vision_nav .slick-arrow {
    display: none !important;
}

@media (max-width:1100px) {
    .vision_cont .vision_nav div p:nth-child(2) {
        font-size: 22px;
    }
}

@media(max-width:960px) {

    .vision .title {
        margin-bottom: 5%;
        display: block;
        margin-top: 18%;
    }

    .vision .title > span:nth-child(2) {
        position: absolute;
        width: 65%;
        top: 40%;
        right: -18%;
    }

    .vision_cont {
        position: relative;
        width: 90%;
        margin: 30% auto 0 auto;
        box-sizing: border-box;
        padding-top: 25%;
    }



    .vision_cont .vision_nav {
        width: 100%;
        padding: 5%5%;
        box-sizing: border-box;
    }

    .vision_cont .vision_nav div {
        width: 100%;
        height: 0;
        padding-bottom: 19%;
        margin-bottom: 12%;
    }

    .vision_cont .vision_nav div:last-child {
        margin-bottom: 0;
    }

    .vision_cont .vision_nav div::after {
        display: block;
        position: absolute;
        content: '';
        height: 100%;
        width: 1%;
        background-color: transparent;
        top: 0;
        left: calc(-5.5% - 1px);
    }

    .vision_cont .vision_nav div span:nth-child(1) {
        width: 12%;
        font-size: 10vw;
        margin-top: 2.5%;
    }

    .vision_cont .vision_nav div p:nth-child(2) {
        width: 85%;
        font-size: 4.8vw;
        left: 12%;
    }

    .vision_cont .vision_nav div:hover a {
        margin-left: 21%;
    }

    .vision_cont .vision_nav div a {
        display: block;
        width: 25%;
        padding-top: 6%;
        margin-left: 19.2%;
    }

    .vision_img {
        width: 89%;
        position: absolute;
        top: 0;
        right: 5.5%;
    }

}

/*不塑之客*/
.People {
    width: 100%;
    position: relative;
    margin-top: 10%;
}

.People .title {
    margin-bottom: 5%;
    display: block;
}

.people_cont {
    position: relative;
    width: 100%;
    font-size: 0;
    margin-left: -2.5%;
}

/*
.people_cont > div {
    position: relative;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
}

.people_cont > div:last-child {
    margin-right: 0;
}*/

.people_cont div {
    position: relative;
    padding: 0 1%;
}

.people_word {
    position: absolute;
    width: 94%;
    height: 100%;
    top: 0;
    left: 3%;
    line-height: 1.2;
    box-sizing: border-box;
    padding: 0 10% 8% 10%;
    overflow: hidden;
    transition: 0.3s;
}

.people_word span {
    width: 80%;
    display: block;
    font-size: 32px;
    color: #fff;
    font-family: 'Noto Serif TC';
    font-weight: 600;
    position: absolute;
    bottom: 6%;
    transition: 0.3s;
}

.people_word p {
    position: absolute;
    width: 80%;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    font-weight: 100;
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    bottom: 0;
    left: 11%;
}

.people_word:hover {
    background-color: rgba(28, 114, 53, 0.68);
}

.people_word:hover span {
    bottom: 25%;
}

.people_word:hover p {
    opacity: 1;
    bottom: 9%;
}

@media (max-width:1440px) {
    .people_word:hover span {
        bottom: 30%;
    }

    .people_word:hover p {
        opacity: 1;
        bottom: 10%;
    }

}

@media (max-width:1100px) {
    .people_word span {
        font-size: 22px;
        letter-spacing: 1.6px;
    }

    .people_word:hover span {
        bottom: 32%;
    }

}


@media(max-width:960px) {
    .People {
        width: 100%;
        position: relative;
        margin-top: 20%;
    }

    .People .title {
        margin-bottom: 5%;
        display: block;
    }

    .People .title > span:nth-child(2) {
        position: absolute;
        width: 62%;
        top: 40%;
        right: -13%;
    }

    .people_cont {
        position: relative;
        width: 80%;
        margin-left: 0;
        font-size: 0;
        overflow: visible;
        margin-top: 8%;
        margin-left: 10%;
    }

    .people_cont div {
        padding: 0;
    }

    .people_cont .slick-list {
        overflow: visible;
    }

    .people_cont .slick-arrow {
        display: none !important;
    }

    .people_cont img {
        width: 94%;
        margin-left: 3%;
    }

    .people_word span {
        font-size: 5.7vw;
    }

    .people_word p {
        font-size: 3.8vw;
    }

    .people_word:hover span {
        bottom: 35%;
    }

    .people_word:hover p {
        opacity: 1;
        bottom: 10%;
    }


}

/*特別企劃*/
.report {
    margin-top: 10%;
}

.report_cont {
    position: relative;
    width: 50%;
    margin-top: 8%;
    padding-bottom: 8%;
    display: block;
    height: auto !important;
    background-color: #F4F4F5;
    box-sizing: border-box;
}

.report_cont p {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10% 32% 0 10%;
    text-align: left;
    box-sizing: border-box;
    background-color: #F4F4F5;
    font-size: 18px;
    line-height: 1.8;
    color: #313131;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.report_cont img {
    width: 116%;
    position: absolute;
    right: -93%;
    top: -36%;

}

.more_report {
    position: relative;
    width: 100%;
    margin-top: 5%;
    padding-bottom: 2%;
    font-size: 0;
}

.more_report > a {
    position: relative;
    width: 25%;
    font-size: 1vw;
    line-height: 1.5;
    box-sizing: border-box;
    padding-right: 5%;
    padding-left: 0.5%;
    padding-top: 1.2%;
    border-top: 1px dashed #5bae7f;
    overflow: visible;
    margin-top: 2.5%;
    display: inline-block;
    color: #000;
}

.more_report > a::after {
    position: absolute;
    content: '';
    width: 4%;
    height: 0;
    padding-bottom: 4%;
    border-radius: 100%;
    background-color: #5bae7f;
    top: -9%;
    left: 0;
}

@media (max-width:960px) {

    /*特別企劃*/
    .report {
        margin-top: 20%;
    }

    .report .title > span:nth-child(2) {
        position: absolute;
        width: 80%;
        top: 40%;
        right: -22%;
    }

    .report_cont {
        width: 90%;
        height: auto !important;
        left: 5%;
        margin-top: 36%;
        padding-bottom: 6%;
    }

    .report_cont p {
        position: relative;
        top: auto;
        left: auto;
        padding-top: 26%;
        width: 100%;
        padding: 15% 8% 0% 8%;
        font-size: 3.8vw;
        line-height: 1.8;
        margin: 0 auto;
        -webkit-line-clamp: 7;

    }

    .report_cont img {
        width: 85%;
        position: absolute;
        right: 7.5%;
        top: -50%;

    }

    .more_report {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        padding-bottom: 2%;
        white-space: nowrap;
        overflow-y: scroll;
    }

    .more_reportt::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background-color: #fff;
    }

    .more_report::-webkit-scrollbar {
        width: 0;
        height: 5px;
        background-color: transparent;
    }

    .more_report::-webkit-scrollbar-thumb {
        background-color: #5bae7f;
        border: 0;
    }

    .more_report > a {
        position: relative;
        width: 50%;
        font-size: 3.6vw;
        line-height: 1.5;
        box-sizing: border-box;
        padding-right: 7%;
        padding-top: 3%;
        padding-bottom: 5%;
        display: inline-block;
        font-weight: 400;
        white-space: normal;
    }

    .more_report > a::after {
        width: 4%;
        padding-bottom: 4%;
        top: -5%;
    }

    .more_report > a:nth-child(3),
    .more_report > a:nth-child(4) {}


}

/*行事曆*/
.event {
    margin-top: 10%;
    position: relative;
}

.event > a {
    width: 15%;
    padding: 1.2% 2%;
    background-color: #5BAE7F;
    position: absolute;
    box-sizing: border-box;
    right: 0;
    top: -1%;
    z-index: 5;
}

.event > a:hover {
    background-color: #F4CC57;
}

.event_cont {
    position: relative;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden !important;
    margin-top: -3%;
    padding-bottom: 4%;
    z-index: 1;
}


.event_cont::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #fff;
}

.event_cont::-webkit-scrollbar {
    width: 0;
    height: 5px;
    background-color: transparent;
}

.event_cont::-webkit-scrollbar-thumb {
    background-color: #5bae7f;
    border: 0;
}

.event_cont > div {
    position: relative;
    margin: 0 0 0 0;
    width: auto;
    height: 0;
    padding-bottom: 77%;
    white-space: nowrap;
    padding-top: 8%;
}

.event_cont > div > div:first-child {
    padding-left: 0;
}

.event_cont > div > div:first-child .m_img {
    padding-bottom: 53%;
}

.event_cont > div > div:last-child::after {
    display: none;
}

.event_cont > div > div:last-child {
    margin-right: -20%;
}

.m_cont {
    position: relative;
    display: inline-block;
    width: 42%;
    height: auto;
    box-sizing: border-box;
    padding: 2% 3% 2% 3%;
    font-family: 'Noto Serif TC';
    vertical-align: top;
}

.m_cont a {
    display: block;
    width: 30%;
}

.m_cont > span {
    display: block;
    color: #313131;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 4%;
}

.m_cont > div {
    position: relative;
    margin-bottom: 10%;
}

.event_cont > div > div:first-child.m_cont::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 0;
    padding-bottom: 170%;
    border-right: 1px dashed #AEB6C2;
    top: 11%;
    right: 0;
}

.m_cont::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 0;
    padding-bottom: 170%;
    border-right: 1px dashed #AEB6C2;
    top: 7%;
    right: 0;
}

.date {
    position: absolute;
    background-color: #ADB6C3;
    color: #fff;
    width: 14%;
    height: 0;
    padding-bottom: 14%;
    top: 3%;
    left: 2%;
    text-align: center;
    z-index: 2;
}

.date span {
    display: inline-block;
    font-size: 0.9vw;
}

.date span:nth-child(1),
.date span:nth-child(3) {
    width: 45%;
    padding: 25% 0;
    font-weight: 600;
}

.date span:nth-child(1) {
    transform: translateY(-18%);
}

.date span:nth-child(2) {
    position: absolute;
    width: 60%;
    height: 1px;
    background-color: #fff;
    left: 20%;
    top: 34%;
    transform: rotate(-45deg);
}

.date span:nth-child(3) {
    transform: translateY(18%);
    padding-bottom: 0;
}

.date span:nth-child(4) {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: scale(0.75) translateX(-65%);
}


.m_img {
    display: block;
    height: 0;
    padding-bottom: 56%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.m_img img {
    width: 100%;
    height: auto;
    position: absolute;
}

.m_title {
    height: 3em;
    font-size: 24px;
    margin: 5% 0;
    line-height: 1.6;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

@media (max-width:1000px) {
    .m_title {
        font-size: 22px;
        margin: 5% 0;
    }
}

@media(max-width:960px) {

    .event {
        margin-top: 18%;
    }

    .event .title > span:nth-child(2) {
        width: 58%;
        position: absolute;
        top: 40%;
        right: -40%;
    }


    .event > a {
        width: 25%;
        padding: 2% 3%;
        background-color: #5BAE7F;
        position: absolute;
        box-sizing: border-box;
        right: auto;
        left: 12%;
        top: 105%;
        z-index: 5;
    }

    .event_cont {
        position: relative;
        width: 90%;
        margin: 0% auto 0 12%;
        height: auto;
        padding-bottom: 8%;
    }

    .m_cont {
        width: 80%;
        padding: 0 5%;
    }

    .m_cont::after {
        top: 0;
    }

    .m_cont > div:nth-child(3) {
        display: none;
    }

    .m_cont a {
        display: block;
        width: 30%;
    }

    .m_cont > span {
        font-size: 3.6vw;
        margin-bottom: 4%;
    }

    .m_cont > div {
        position: relative;
        margin-bottom: 10%;
    }

    .m_cont::after {
        padding-bottom: 110%;
    }

    .date {
        position: absolute;
        background-color: #ADB6C3;
        color: #fff;
        width: 20%;
        height: 0;
        padding-bottom: 20%;
        top: 3%;
        left: 2%;
        text-align: center;
    }

    .date span {
        display: inline-block;
        font-size: 3vw;
    }

    .date span:nth-child(1) {
        transform: translateY(-18%);
    }

    .date span:nth-child(4) {
        transform: scale(0.75);
        font-size: 2.4vw;
        margin-top: 2%;
        left: 50%;
        transform: translateX(-50%);
    }

    .m_title {
        font-size: 4.8vw;
        line-height: 1.5;
        -webkit-line-clamp: 3;
    }

}

/*footer*/
.copyright {
    width: 100%;
    color: #fff;
    text-align: left;
    background-color: #5bae7f;
    padding: 1.5% 0;
    box-sizing: border-box;
    font-size: 0.75vw;
    position: relative;
    letter-spacing: 1px;
    margin-top: -1%;
    line-height: 1.5;
}

.copyright > div {
    width: 1440px;
    position: relative;
    left: 50%;
    margin-left: -720px;
    padding: 0 4%;
}

.copyright div span a {
    width: 25em;
    color: #fff;
    position: relative;
    z-index: 10;
    display: block;
}

.copyright div div {
    width: auto;
    color: #fff;
    position: absolute;
    right: 18%;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    z-index: 5;
    white-space: nowrap;
}

.copyright div div br {
    display: none;
}

.copyright div div a {
    color: #fff;
    margin-left: 2%;
}

.footer {
    position: relative;
    margin-top: 12%;
    width: 100%;
    z-index: 4;
}

.footer_info {
    position: relative;
    display: block;
    width: 1440px;
    left: 50%;
    margin-left: -720px;
}

.footer_info a {
    color: #ADB6C3 !important;
}

.footer_info > img {
    width: 69%;
    display: inline-block;
    vertical-align: top;
}

.info {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    margin-left: 2%;
}

.info > a > img {
    width: 50%;
}

.info ul {
    margin-top: 5%;
    margin-left: 2.1%;
}

.info ul li {
    position: relative;
    width: 100%;
    padding: 1% 0;
    margin-bottom: 2%;
    color: #ADB6C3;
    font-size: 0.75vw;
    font-weight: 400;
}

.info ul li a {
    color: #ADB6C3 !important;
    text-decoration: none !important;
}

.info ul li img {
    width: 3.2%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;
}

.inner_top {
    position: relative;
    border-top: 1px solid #AEB6C2;
    padding-top: 1%;
    color: #AEB6C2;
    letter-spacing: 1px;
    font-size: 14px;
}

.inner_top::after {
    position: absolute;
    content: '';
    width: 6%;
    height: 0;
    padding-bottom: 0.25%;
    background-color: #AEB6C2;
    top: 0;
    left: 0;
}

@media (max-width:1440px) {

    .info {
        margin-top: -1%;
    }

    .copyright {
        padding: 1.5% 1%;
    }

    .copyright > div {
        width: 100%;
        margin-left: 0;
        left: 0;
        position: relative;
    }

    .copyright div div {
        right: 12%;
    }

    .footer_info {
        width: 100%;
        margin-left: 0;
        left: 0;
        ;
    }

}

@media (max-width:960px) {

    .footer {
        margin-top: 35%;
        width: 100%;
    }

    .footer > div {
        position: relative;
    }

    .footer > div > img {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .info {
        position: relative;
        width: 70%;
        padding-bottom: 28%;
        margin-left: 15%;
    }

    .info > a > img {
        width: 60%;
    }

    .info ul {
        margin-top: 5%;
    }

    .info ul li {
        margin-bottom: 2%;
        font-size: 3.2vw;
        font-weight: 300;
    }

    .info ul li img {
        width: 4.5%;
    }

    .copyright {
        font-size: 3vw;
    }

    .copyright > span {
        display: block;
        width: 100%;
        margin: 4% auto 4.5% auto;
        text-align: center;
    }

    .copyright div {
        width: 100%;
        position: relative;
        right: auto;
        top: auto;
        left: 50%;
        text-align: center;
        transform: translateY(0) translateX(-50%);
        margin-top: 3%;
    }

    .copyright div a {
        margin-left: 2%;
        display: inline-block;
        color: #fff;
    }

    .copyright div br {
        display: block;
    }

    .copyright span a {
        margin-bottom: 1%;
        margin-left: auto;
        display: block;
        color: #fff;
    }

    .inner_top {
        font-size: 3.38vw;
        padding-top: 2%;
        padding-left: 5%;
    }

    .inner_top::after {
        width: 10%;
    }
}


/*隱私權*/
.pri_title {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 8% 0 6% 0;
    font-size: 36px;
    font-family: 'Noto Serif TC';
    font-weight: bold;
    letter-spacing: 1.6px;
}

.pri_title.inner_page_title {
    line-height: 1.8;
    font-size: 36px;
}

.pri_cont {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 5%;
    line-height: 1.8;
    font-size: 18px;
}

.pri_cont span {
    display: block;
    font-family: 'Noto Serif TC';
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 1.6px;
}

.read_more {
    text-align: center;
    margin-top: 5%;
    font-size: 1vw;
    color: #5Bae7f;
    cursor: pointer;
    z-index: 10;
}

.read_more span:first-child {
    display: inline-block;
    width: 2px;
    height: 0;
    padding-bottom: 4%;
    background-color: #5Bae7f;
    margin-left: -2px;
    margin-bottom: 0.8%;
}

.read_more span:nth-child(2) {
    display: block;
}


@media (max-width:1440px) {
    .pri_title {
        width: 100%;
    }

    .pri_title.inner_page_title {
        font-size: 36px;
    }


    .pri_cont {
        width: 100%;
        font-size: 18px;
    }

    .read_more {
        font-size: 1.2vw;
    }

}

@media (max-width:960px) {

    .pri_title {
        padding: 12% 0;
        font-size: 7.2vw;
    }

    .pri_cont {
        font-size: 3.8vw;
        margin-bottom: 30%;
        padding: 0 7%;
    }

    .pri_cont span {
        font-size: 5.7vw;
        line-height: 1.2;
    }

    .read_more span:first-child {
        padding-bottom: 8%;
        margin-bottom: 2%;
    }

    .read_more {
        font-size: 2.4vw;
        margin-top: 0;
    }
}



/*我同意*/
.cookie_info {
    width: 1920px;
    position: fixed;
    left: 50%;
    margin-left: -960px;
    bottom: 0;
    color: #fff;
    box-sizing: border-box;
    padding: 2% 240px;
    background-color: #ADB6C3;
    z-index: 99999;
    display: none;
}

.cookie_info p a {
    color: #fff;
}

.cookie_info p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1vw;
    line-height: 1.5;
    font-weight: 300;
}

.btn_agree {
    display: inline-block;
    color: #ADB6C3;
    background-color: #fff;
    vertical-align: middle;
    padding: 1% 3%;
    float: right;
    margin-top: 0.5%;
}

@media (max-width:1440px) {
    .cookie_info {
        width: 100%;
        left: 0;
        margin-left: 0;
        padding: 2% 5%;
    }

    .cookie_info p {
        font-size: 1.2vw;
    }
}

@media (max-width:960px) {
    .cookie_info {
        padding: 3% 5%;

    }

    .cookie_info p {
        width: 75%;
        font-size: 2vw;
    }

    .btn_agree {
        padding: 1.5% 4.5%;
        margin-top: 2%;

    }
}


@media (max-width:768px) {
    .cookie_info {
        padding: 5% 5%;
    }

    .cookie_info p {
        width: 100%;
        font-size: 3.2vw;
    }

    .btn_agree {
        display: block;
        padding: 3% 0;
        float: none;
        width: 32%;
        margin: 4% auto 0 auto;
        text-align: center;
        font-size: 3.6vw;
    }
}

.tag a:hover {
    background-color: transparent;
}

.pop {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -99;
    opacity: 0;
}

.pop.click {
    opacity: 1.0;
    z-index: 999;
}

.pop > div {
    display: block;
    position: absolute;
    width: 30% !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pop > div > a {
    display: block;
    position: absolute;
    width: 10% !important;
    top: 0;
    right: -12%;
    z-index: 100 !important;
}

.pop > div .slick-arrow {
    top: 50%;
}


@media (max-width:1680px) {
    .pop > div {
        width: 40% !important;
    }
}

@media (max-width:1280px) {
    .pop > div {
        width: 40% !important;
    }
}

@media(max-height:800px) {
    .pop > div > a {
        display: block;
        position: absolute;
        width: 10% !important;
        top: 0;
        right: -2%;
        z-index: 100 !important;
    }

    .pop > div .slick-slide img {
        height: 79vh;
        width: auto;
        margin: 0 auto;
    }

    .pop > div .slick-arrow {
        width: 10%;
    }

    .pop > div .slick-next {
        right: auto;
        margin-left: 90%;
    }

    .pop > div .slick-prev {
        left: auto;
        margin-left: 0;
    }
}

@media (max-width:960px) {
    .pop > div {
        width: 65% !important;
    }
}

@media (max-width:768px) {
    .pop > div {
        width: 80% !important;
    }

    .pop > div .slick-next.slick-arrow {
        right: -5%;
    }

    .pop > div .slick-prev.slick-arrow {
        left: -5%;
    }
}
