@charset "utf-8";

.search_word {
	display: block;
	width: 100%;
	text-align: center;
	padding: 5% 0;
	font-size:36px;
	color: #5Bae7f;
	font-family: 'Noto Serif TC';
	font-weight: 700;
}

.search_cont {
	font-size: 0;
	margin-top: -3.5%;
	overflow: auto;
}

.search_cont > div {
	display: inline-block;
	width: 31%;
	margin-right: 3.5%;
	padding: 3.5% 0;
	vertical-align: middle;
}

.search_cont > div:nth-child(3n+3),
.tip_cont > div:nth-child(3n+3) {
	margin-right: 0;
}

.search_cont > div p {
	font-family: 'Noto Serif TC';
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.5;
	font-size: 24px;
	margin: 3% 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;

}

.search_cont > div a {
	width: 32%;
    padding: 5% 8%;
    margin-top: 2%;
}

@media (max-width:960px) {
	.search_word {
		font-size:7.2vw;
	}
	
	.search_cont{
		margin-top: 0;
	}

	.search_cont > div {
		width: 100%;
		margin-right: 0;
		margin: 5% 0;
		padding: 0;
	}

	.search_cont > div p {
		width: 89.9%;
		padding: 0 5%;
		font-size: 4.8vw;
		margin: 5% auto;
	}

	.search_cont > div span {
		width: 100%;
		padding: 0 5%;
		font-size: 4.8vw;
		margin: 5% 0;
		display: block;
		box-sizing: border-box;
	}

	.search_cont > div a {
		width: 20%;
		margin-left: 5%;
        padding: 4% 5%;
        margin-top: 0;
	}
}

/*about*/
.about_cont_01 {
	width: 100%;
	position: relative;
	display: inline-block;
}

.about_cont_01 > div {
	width: 50%;
    font-size: 16px;
}

.about_cont_01 div span {
	margin-bottom: 8%;
	letter-spacing: 1px;
    font-size: 24px;
    font-weight: 800;
}

.about_cont_01 img {
	width: 34%;
	position: absolute;
	top: -10%;
	right: 8%;
}

.about_cont_01,
.about_cont_02,
.about_cont_03 {
    font-size: 16px;
	line-height: 1.6;
}

.about_cont_02 {
	margin-top: 9%;
	position: relative;
}

.about_cont_02 span,
.about_cont_03 span {
	margin-bottom: 5%;
    font-size: 24px;
    font-weight: 800;
}

.about_cont_02 p {
	text-align: justify;
}

.about_cont_02 img {
	width: 7%;
	position: absolute;
	right: 2%;
	top: 120%;
}

.about_cont_03 {
	margin-top: 10%;
	position: relative;
}

.about_cont_03 img {
	width: 8%;
	position: absolute;
	top: 150%;
	left: 0;
}

.name {
	width: 100%;
	text-align: right;
	margin-top: 15%;
}

.name div,
.name img {
	display: inline-block;
	vertical-align: middle;
}

.name img {
	width: 16%;
}

@media(max-width:960px) {

	/*about*/
	.about_cont_01 {
		width: 100%;
		position: relative;
		display: inline-block;
	}

	.about_cont_01 > div {
		width: 100%;
		padding-top: 80%;
        font-size: 3.8vw;
	}

	.about_cont_01 span,.about_cont_02 span,.about_cont_03 span {
		margin-bottom: 8%;
		letter-spacing: 1px;
        font-size: 5.7vw;
	}

	.about_cont_01 img {
		width: 70%;
		position: absolute;
		top: 0;
		right: 15%;
	}

	.about_cont_02 img {
		width: 10%;
		position: absolute;
		right: 2%;
		top: 105%;
	}

	.about_cont_03 {
		margin-top: 10%;
		position: relative;
        font-size: 3.8vw;
	}

	.about_cont_03 img {
		width: 16%;
		position: absolute;
		top: 100vw;
		left: 0;
	}

	.name {
		width: 100%;
		text-align: right;
		margin-top: 15%;
	}

	.name div,
	.name img {
		display: block;
		vertical-align: middle;
	}

	.name img {
		margin-top: 4%;
		width: 30%;
		float: right;
	}

}

/*tip*/
.tip_word {
	width: 70%;
	margin: -2% auto 0 auto;
	font-size: 18px;
	line-height: 1.8;
	text-align: center;
}

.tip_cont {
	position: relative;
	width: 100%;
	text-align: center;
}

.tip_cont > div {
	display: inline-block;
	width: 31%;
	margin-right: 2.4%;
	vertical-align: middle;
	padding: 3% 0 2% 0;
	text-align: left;
}

.tip_cont > div p {
	font-size: 24px;
	font-family: 'Noto Serif TC';
	line-height: 1.5;
	margin: 4% auto;
	font-weight: 600;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.tip_cont > div:nth-child(2n) {
	padding-top: 15%;
}

.tip_no {
	font-size: 36px;
	color: #5Bae7f;
	font-family: 'Noto Serif TC';
	font-weight: 600;
	letter-spacing: 2px;
	display: block;
	margin: 4% 0 0 0;
}

.tip_no.inner_page_title {
	font-size:36px;
	text-align: center;
	position: relative;
	margin-bottom: -6%;
	font-weight: 800;
}

@media (max-width:1440px) {
	.tip_word {
		font-size: 18px;
	}
}

@media(max-width:960px) {
	.tip_no.inner_page_title {
		font-size: 7.2vw;
		text-align: center;
		position: relative;
		margin-bottom: -5%;
		margin-top: 10%;
		box-sizing: border-box;
	}

}

.tip_no.inner_page_title::after,
.tip_no.inner_page_title::before {
	display: inline-block;
	content: '';
	position: relative;
	background-color: #5Bae7f;
	width: 4%;
	height: 1px;
	top: 50%;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 1%;
	margin-right: 1%;
}

.tip_cont > div > span:nth-child(3) {
	display: block;
	padding: 4% 0;
	font-size: 1.7vw;
	line-height: 1.5;
	font-family: 'Noto Serif TC';
	font-weight: 600;
}

.tip_cont > div > a {
	margin-top: 0;
	padding: 2% 5% 3% 5%;
}

@media (max-width:1440px) {

	.tip_cont > div p {
		font-size: 24px;
	}

}


@media (max-width:1000px) {

	.tip_cont > div p {
		font-size: 22px;
	}

}

@media (max-width:960px) {

	.tip_word {
		width: 70%;
		font-size: 3.8vw;
		line-height: 1.8;
	}

	.tip_cont > div {
		display: inline-block;
		width: 90%;
		margin-right: 0;
		vertical-align: middle;
		padding: 10% 0 10% 0;
	}

	.tip_cont > div:nth-child(2n) {
		padding-top: 3%;
	}

	.tip_no {
		font-size: 7.2vw;
	}

	.tip_cont > div p {
		font-size: 4.8vw;
		margin: 5% auto;
	}

	.tip_cont > div > span:nth-child(3) {
		display: block;
		font-size: 4.8vw;
	}

	.tip_cont > div > a {
		width: 20%;
		padding: 3.5% 6%;
	}
}


.tip_cont_02 {
	position: relative;
	font-size: 0;
}

.tip_cont_02 > div {
	display: inline-block;
	vertical-align: middle;
	width: 48%;
	margin-right: 4%;
}

.tip_cont_02 > div:nth-child(2n+2) {
	margin-right: 0;
	padding-top: 8%;
}

.tag {
	font-size: 16px;
	text-align: right;
	margin: 4% 0;
	color: #5Bae7f;
	font-family: 'Noto Serif TC';
	font-weight: 600;
}

.tag a {
	display: inline-block;
	width: auto;
	margin-left: 2%;
	color: #5Bae7f;
	background-color: transparent;
	padding: 0;
}


.tip_cont_02 > div > p:nth-child(3) {
	font-family: 'Noto Serif TC';
	font-weight: 600;
	font-size: 24px;
	display: block;
	width: 100%;
	text-align: left;
	line-height: 1.5;
	letter-spacing: 2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.tip_cont_02 > div > p {
	font-size: 16px;
	line-height: 1.8;
	margin-top: 3%;
	letter-spacing: 2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	white-space: normal;
}


@media(max-width:1440px) {
	.tip_cont_02 > div > p:nth-child(3) {
		font-size: 24px;
	}

}


@media(max-width:960px) {

	.tip_cont_02 {
		position: relative;
		font-size: 0;
	}

	.tip_cont_02 > div {
		width: 100%;
		margin-right: 0;
		padding-bottom: 15;
		padding-bottom: 10%;
	}

	.tip_cont_02 > div:nth-child(2n+2) {
		padding-top: 0;
	}

	.tag {
		font-size: 3.8vw;
		width: 90%;
		margin-left: 5%;
	}

	.tag a {
		display: inline-block;
		margin-left: 2%;
	}

	.tip_cont_02 > div > p:nth-child(3) {
		font-family: 'Noto Serif TC';
		font-weight: 600;
		font-size: 4.8vw;
		display: block;
		width: 90%;
		margin-left: 5%;
		line-height: 1.5;
		letter-spacing: 2px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		white-space: normal;
	}

	.tip_cont_02 > div > p {
		font-size: 3.8vw;
		width: 90%;
		margin-left: 5%;
	}

	.tip_cont_02 > div > a {
		width: 20%;
		margin-left: 5%;
	}

}

/*TIP*/
.tip_cont_03 {
	width: 100%;
	position: relative;
	font-size: 0;
}

/*行事曆*/
.calendar {
	display: inline-block;
	width: 30%;
	height: auto;
	vertical-align: top;
	background: #fff;
	border: 1px solid #AEB6C2;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
}

.calendar > a {
	display: inline-block;
	font-size: 1vw;
	font-weight: 699;
	color: #AEB6C2;
	transform: scaleX(0.8);
}


.calendar_m {
	font-size: 1.4vw;
	color: #AEB6C2;
	font-family: 'Noto Serif TC';
	font-weight: 600;
	display: inline-block;
	margin: 5% 30%;
}

.week {
	color: #fff;
	font-size: 1vw;
	color: #fff;
	background-color: #AEB6C2;
	padding: 2% 0;
	font-weight: 100;
	width: 100%;
	font-size: 0;
	box-sizing: border-box;
}

.week li {
	width: 12%;
	color: #fff;
	font-size: 1vw;
	display: inline-block;
}

.calendar_list {
	display: inline-block;
	width: 68%;
	position: relative;
	box-sizing: border-box;
	padding: 0 0 0 3%;
	font-size: 0;
}

.days {
	font-size: 0;
	width: 100%;
	padding: 5% 2.5% 7% 8%;
	box-sizing: border-box;
	text-align: left;
	font-size: 0;
}

.days li {
	display: inline-block;
	width: 10%;
	height: 0;
	padding: 5% 0;
	line-height: 0;
	box-sizing: border-box;
	vertical-align: top;
	margin: 0 1.8% 3% 1.8%;
	text-align: center;
	font-size: 0.9vw;
}

.days li:nth-child(7n+7),
.days li:nth-child(1),
.days li:nth-child(8),
.days li:nth-child(15),
.days li:nth-child(22),
.days li:nth-child(29) {
	color: #ADB6C3;
}

.event_tip {
	color: #fff !important;
	position: relative;
	z-index: 1;
	background-color: #5BAE7F;
	border-radius: 100em;
}

@media(max-width:960px) {
	.calendar {
		display: none;
	}
}

/*行事曆列表*/
.calendar_list img,
.calendar_list > div > div {
	display: inline-block;
	vertical-align: top;
}

.calendar_list > div {
	position: relative;
	margin-bottom: 8%;
}

.calendar_list .date {
	width: 10%;
	padding-bottom: 10%;
	left: 1%;
	top: 3%;
	font-family: 'Noto Serif TC';
}

.calendar_list .date span:last-child {
	font-size: 1.4vw;
	padding-bottom: 2%;
}

.calendar_list > div > div {
	width: 42%;
}


.calender_img {
	width: 54% !important;
	height: 0;
	padding-bottom: 30%;
	position: relative;
	overflow: hidden;
	position: relative;
}
.calender_img img{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
}

.calender_word {
	position: relative;
}

.calender_word p {
	display: block;
	font-family: 'Noto Serif TC';
	font-weight: 600;
	font-size: 24px;
	box-sizing: border-box;
	line-height: 1.5;
	padding: 0 0 0 10%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.calender_word > ul {
	margin: 6% 0;
}

.calender_word > ul li {
	font-size: 16px;
	padding-left: 9%;
	opacity: 0.9;
	line-height: 1.8;
}

.calender_word .tag {
	width: 100%;
	padding-left: 5% !important;
	text-align: left;
	font-size: 16px;
	font-weight: 600;
}

.calender_word .tag > a {
	position: relative;
	display: inline-block;
	margin-right: 0 !important;
	left: 0;
	width: auto;
	padding: 2%;
	white-space: nowrap;
}

.calendar_list div > a.btn_more {
	width: 15%;
	position: absolute;
	left: 36%;
	margin-top: 27%;
	padding: 1.5% 2% 1.5% 2%;
}

.calendar_select {
	display: none;
}

@media (max-width:960px) {

	.calendar_select {
		display: block;
		width: 90%;
		margin: 0 auto 8% auto;
		border: 0;
		background-color: #ADB6C3;
		color: #fff;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		font-size: 4.8vw !important;
		padding: 3% 5%;
		position: relative;
		background-image: url(../img/arrow_down.png);
		background-repeat: no-repeat;
		background-position: right center;
		background-size: auto 50%;
	}

	.calendar_select:focus,
	.calendar_select:active {
		border: 0;
		outline: 0;
	}

	.calendar_select option {
		font-size: 4.8vw !important;
		height: 30px;
		line-height: 30px;
	}

	.calendar_list {
		width: 100%;
		padding: 0;
	}

	.calendar_list img,
	.calendar_list > div > div {
		display: block;
	}

	.calendar_list > div {
		width: 100%;
		margin: 0 auto 8% auto;
	}

	.calender_img {
		width: 100% !important;
		padding-bottom: 56%;
	}

	.calendar_list .date {
		width: 16%;
		padding-bottom: 16%;
		left: 2%;
		top: 4%;
	}

	.calendar_list .date span {
		font-size: 3.8vw;
		font-weight: 800;
	}

	.calendar_list .date span:last-child {
		font-size: 2.8vw;
		padding-bottom: 0%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.calendar_list > div > div {
		width: 100%;
		box-sizing: border-box;
	}

	.calender_word {
		position: relative;
		width: 100%;
		padding-top: 10%;
		padding-bottom: 8%;
	}

	.calender_word > p {
		display: block;
		width: 100%;
		font-weight: 600;
		font-size: 4.8vw;
		line-height: 1.5;
		padding: 0 8%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		white-space: normal;
	}

	.calender_word > ul {
		margin: 5% 0;
	}

	.calender_word > ul li {
		font-size: 3.6vw;
		padding-left: 8%;
		padding-right: 8%;
	}

	.calender_word .tag {
		padding-left: 10%;
		text-align: left;
		font-size: 3.8vw;
		font-weight: 800;
		margin-left: 0;
	}

	.calender_word .tag a {
		margin-right: 8%;
		font-weight: 600;
	}

	.calendar_list a.btn_more {
		width: 25% !important;
		position: absolute;
		left: 60% !important;
		margin-top: 0!important;
		bottom: auto;
		top: 39%;
		padding: 4% 4% 4% 4% !important;
	}
}

/*人物專訪*/
.People.people_list {
	margin-top: 5% !important;
    margin-bottom: -5%;
}

.People.people_list .people_cont {
	margin-bottom: 5%;
}
