@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

.snowfall-flakes {
	animation: sakura 1s linear 0s infinite
}

@keyframes sakura {
	0% {
		transform: rotate3d(0, 0, 0, 0deg)
	}

	25% {
		transform: rotate3d(1, 1, 0, 60deg)
	}

	50% {
		transform: rotate3d(1, 1, 0, 0deg)
	}

	75% {
		transform: rotateX(60deg)
	}

	to {
		transform: rotateX(0deg)
	}
}

.slick-slider {
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list,
.slick-slider {
	position: relative;
	display: block
}

.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0
}

.slick-list:focus {
	outline: none
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0)
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.slick-track:after,
.slick-track:before {
	display: table;
	content: ""
}

.slick-track:after {
	clear: both
}

.slick-loading .slick-track {
	visibility: hidden
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px
}

[dir=rtl] .slick-slide {
	float: right
}

.slick-slide img {
	display: block
}

.slick-slide.slick-loading img {
	display: none
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-initialized .slick-slide {
	display: block
}

.slick-loading .slick-slide {
	visibility: hidden
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

.slick-arrow.slick-hidden {
	display: none
}

.slick-next,
.slick-prev {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	border: none
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
	color: transparent;
	outline: none;
	background: transparent
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
	opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
	opacity: .25
}

.slick-next:before,
.slick-prev:before {
	font-family: slick;
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.slick-prev {
	left: -25px
}

[dir=rtl] .slick-prev {
	right: -25px;
	left: auto
}

.slick-prev:before,
[dir=rtl] .slick-prev:before {
	content: ""
}

.slick-next {
	right: -25px
}

[dir=rtl] .slick-next {
	right: auto;
	left: -25px
}

.slick-next:before,
[dir=rtl] .slick-next:before {
	content: ""
}

.slick-dotted.slick-slider {
	margin-bottom: 0
}

.slick-dots {
	position: absolute;
	bottom: -30%;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 5%;
	height: 0;
	padding-bottom: 2% !important;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: .5
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	border-radius: 100em;
	cursor: pointer;
	border: 0;
	color: transparent;
	outline: none;
	background: transparent
}

.slick-dots li button:focus,
.slick-dots li button:hover {
	outline: none
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
	opacity: 1
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 30%;
	left: 35%;
	height: 0;
	padding-bottom: 30%;
	border-radius: 100%;
	content: "";
	text-align: center;
	opacity: 1;
	color: #000;
	background-color: #860101;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	color: #000;
	transform: scale(1.5)
}

body,
html {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	font-family: Noto Sans TC
}

.momo_for_m {
	display: none
}

@media(max-width:768px) {
	.momo_for_pc {
		display: none !important
	}

	.momo_for_m {
		display: block
	}
}

.LG_wrapper {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #ffd9ba
}

.LG_kv_area {
	background-image: url(../images/bg_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	padding-bottom: 8%
}

.LG_kv_title {
	position: absolute;
	display: block;
	overflow: hidden;
	background-image: url(../images/kv_title.png);
	width: 63.2%;
	background-size: 100%;
	height: 0;
	padding-bottom: 28%;
	line-height: 200;
	text-indent: -100em;
	top: .5%;
	right: 7.5%;
	z-index: 5
}

.LG_kv_img {
	width: 100%;
	position: relative;
	z-index: 1
}

.LG_kv_img .momo_for_m {
	display: none
}

.LG_kv_img div img {
	width: 100.9%
}

.LG_top_msg {
	width: 62%;
	margin: -26% auto .8%;
	position: relative;
	z-index: 2
}

.btn_notice {
	position: absolute;
	z-index: 3;
	width: 32%;
	padding-bottom: 10%;
	bottom: 8%;
	right: 2%;
	cursor: pointer
}

.btn_notice,
.LG_top_msg > h2 {
	display: block;
	height: 0;
	line-height: 100;
	overflow: hidden
}

.LG_top_msg > h2 {
	position: relative;
	background-image: url(../images/sp_title_01.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 79%;
	padding-bottom: 15%;
	margin: 0 auto;
	text-indent: -100em
}

.LG_top_msg img {
	position: relative;
	width: 100%
}

@media (max-width:768px) {
	.LG_kv_area {
		background-image: url(../images/bg_01_m.png);
		padding-bottom: 8%;
		position: relative
	}

	.LG_kv_title {
		width: 110%;
		right: -5%;
		padding-bottom: 50%;
		top: 37.6%;
		position: absolute
	}

	.LG_kv_img {
		margin-top: -4%;
		z-index: 2
	}

	.LG_kv_img .momo_for_m {
		display: block
	}

	.LG_top_msg {
		width: 100%;
		margin: -40% auto .8%;
		position: relative;
		z-index: 2
	}

	.btn_notice {
		width: 25%;
		height: 0;
		padding-bottom: 14%;
		bottom: 6%;
		right: 2%
	}

	.LG_top_msg > h2 {
		width: 80%;
		height: 0;
		padding-bottom: 16%;
		margin-top: -2%
	}

	.LG_top_msg > img {
		width: 90%;
		margin: -2% auto 0
	}
}

.LG_momo_sp {
	width: 100%;
	background-image: url(../images/bg_02.png);
	padding-top: 7%;
	padding-bottom: 17%;
	margin-top: -7.9%;
	z-index: 2
}

.LG_momo_sp,
.LG_momo_sp > h2 {
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top
}

.LG_momo_sp > h2 {
	width: 50.5%;
	background-image: url(../images/sp_title_02.png);
	overflow: hidden;
	line-height: 100;
	text-indent: -100em;
	margin: 0 auto;
	height: 0;
	padding-bottom: 10%
}

.time_bar {
	font-size: 2.5vw;
	font-weight: 300;
	color: #5a2626
}

.time_bar span {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	background-color: #fa5b78;
	padding: 0 .8%;
	margin: -.8% .3% 0;
	border-radius: .1em;
	font-size: .8em;
	font-weight: 500;
	font-style: italic
}

.LG_banner_01 {
	width: 56%;
	margin:5% auto 0 auto
}

.LG_banner_01 .momo_for_m {
	display: none
}

.LG_banner_01 .slick-dots {
	transform: scale(0.9);
	bottom: -32%;
}


.LG_banner_01 div {
	margin: 0
}

.LG_banner_01 .slick-list {
	overflow: hidden;
	padding: 0;
}

.LG_banner_01 div a {
	width: 100%;
	display: block;
	overflow: hidden;
}

.LG_banner_01 div a img {
	width:100%;
	margin: 0 auto 0 ;
}

@media (max-width:768px) {
	.LG_momo_sp {
		width: 100%;
		position: relative;
		background-image: url(../images/bg_02_m.png);
		background-size: cover;
		padding-top: 7%;
		padding-bottom: 22%;
		margin-top: -7.5%
	}

	.LG_momo_sp > h2 {
		width: 85%;
		padding-bottom: 16%
	}

	.time_bar {
		font-size: 6vw
	}

	.time_bar span {
		padding: 0 1.5vw
	}

	.LG_banner_01 {
		width: 100%;
		margin: 6.8% auto 0 auto
	}

	.LG_banner_01 .momo_for_pc {
		display: none !important
	}

	.LG_banner_01 .momo_for_m {
		display: block !important
	}

	.LG_banner_01 div {
		margin: 0
	}

	.LG_banner_01 .slick-list {
		overflow: hidden
	}

	.LG_banner_01 div a,
	.LG_banner_01 div a img {
		width: 100%;
	}

	.LG_banner_01 .slick-slide {
		padding: 0 .5%;
	}

	.LG_banner_01 .slick-dots {
		bottom: -12%;
		margin-left: auto;
		transform: scale(1.2);
		bottom: -10%;

	}
}

.LG_KOL_area {
	width: 100%;
	position: relative;
	text-align: center;
	background-image: url(../images/bg_03.png);
	background-position: top;
	margin-top: -9.5%;
	padding-top: 5%;
	padding-bottom: 58%;
	z-index: 3
}

.LG_KOL_area,
.LG_KOL_area h2 {
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0
}

.LG_KOL_area h2 {
	width: 50.5%;
	background-image: url(../images/sp_title_03.png);
	padding-bottom: 8%;
	overflow: hidden;
	line-height: 100;
	text-indent: -100em;
	margin: 0 auto .5%
}

.kol_banner_outer {
	margin-left: -1%
}

.kol_banner {
	width: 56%;
	margin: 2% auto 0
}

.kol_banner .slick-dots {
	bottom: -5%
}

.kol_banner div a {
	width: 100%;
	display: block
}

.kol_banner div a img {
	width: 100%
}

.kol_banner .slick-list {
	overflow: hidden
}

.kol_banner .slick-list .slick-track {
	margin-left: 36%
}

.kol_banner .slick-slide {
	transition: .3s;
	position: relative;
	z-index: 0;
	transform: scale(.85)
}

.kol_banner .slick-active.slick-slide {
	transition: .3s;
	position: relative;
	z-index: 0;
	opacity: 1;
	transform: scale(1)
}

.kol_banner .slick-slide.slick-cloned {
	transition: .3s
}

.kol_banner .slick-active.slick-center.slick-slide {
	z-index: 10;
	margin-left: -4%;
	margin-right: -4%
}

@media (max-width:768px) {
	.LG_KOL_area {
		width: 100%;
		background-image: url(../images/bg_03_m.png);
		margin-top: -9.5%;
		padding-bottom: 134%;
		padding-top: 8%
	}

	.LG_KOL_area h2 {
		width: 80%;
		padding-bottom: 15%;
		background-repeat: no-repeat;
		overflow: hidden;
		line-height: 100;
		text-indent: -100em;
		margin: 0 auto -2%
	}

	.kol_banner_outer {
		margin-left: -1%
	}

	.kol_banner {
		width: 156%;
		margin: 3% auto 0 -28%
	}

	.kol_banner .slick-dots {
		bottom: -5%;
		transform: scale(.8)
	}

	.kol_banner div a {
		width: 100%;
		display: block
	}

	.kol_banner div a img {
		width: 100%
	}
}

.whoo_area {
	width: 100%;
	background-image: url(../images/bg_04.png);
	height: 0;
	padding-bottom: 112%;
	margin-top: -9%;
	padding-top: 12%;
	z-index: 0
}

.whoo_area,
.whoo_title {
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat
}

.whoo_title {
	width: 45.9%;
	display: block;
	margin-left: 40%;
	cursor: pointer;
	background-image: url(../images/whoo_title.png);
	background-position: top;
	z-index: 2
}

.whoo_title:hover {
	background-image: url(../images/whoo_title_hover.png)
}

.whoo_title img {
	width: 100%;
	padding-bottom: 3%;
	opacity: 0
}

.frist_msg {
	width: 65%;
	height: 0;
	padding-bottom: 19%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 3
}

.frist_msg img {
	display: inline-block;
	width: 50%;
	margin-left: -4%;
	margin-bottom: -3%;
	float: left
}

.frist_msg img:first-child,
.frist_msg img:nth-child(3) {
	margin-left: 3.2%
}

.whoo_area .frist_msg {
	margin-bottom: 2%
}

.whoo_area .frist_msg img:first-child,
.whoo_area .frist_msg img:nth-child(3) {
	margin-top: 0
}

.LG_product {
	width: 59.5%;
	padding-left: 1%;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
	position: relative;
	z-index: 3
}

.LG_product a {
	display: inline-block;
	width: 25%;
	box-sizing: border-box;
	padding-right: 1%;
	padding-bottom: 1%;
	transition: .3s;
	cursor: pointer
}

.LG_product a:hover {
	transform: translateY(-2%)
}

.LG_product a img {
	width: 100%
}

@media (max-width:768px) {
	.whoo_area {
		background-image: url(../images/bg_04_m.png);
		padding-bottom: 480%;
		margin-top: -9%;
		padding-top: 80%;
		z-index: 1
	}

	.whoo_title {
		width: 90%;
		display: block;
		margin-left: 5%;
		cursor: pointer;
		margin-bottom: -15%
	}

	.whoo_title img {
		width: 100%;
		padding-bottom: 3%
	}

	.frist_msg {
		width: 102%;
		height: auto;
		padding-bottom: 0;
		margin: 0 auto 0 -1%;
		text-align: center;
		padding-right: 1.5%;
		box-sizing: border-box
	}

	.frist_msg img {
		display: inline-block;
		width: 100%;
		margin-left: 0;
		margin-bottom: 0;
		float: none
	}

	.whoo_area .frist_msg {
		margin-bottom: 2%
	}

	.whoo_area .frist_msg img:first-child {
		margin-top: 0
	}

	.whoo_area .frist_msg img:nth-child(2) {
		margin-top: -5%;
		margin-left: 3.3%
	}

	.whoo_area .frist_msg img:nth-child(3) {
		margin-top: -7%;
		margin-left: 3.3%
	}

	.whoo_area .frist_msg img:nth-child(4) {
		margin-top: -5%;
		margin-left: 3.3%
	}

	.LG_product {
		width: 90%;
		padding-left: 1%;
		margin: 0 auto
	}

	.LG_product a {
		width: 50%;
		padding-right: 1%;
		padding-bottom: 3%;
		transition: .3s;
		cursor: pointer
	}
}

.sume_area {
	position: relative;
	background-image: url(../images/bg_05.png);
	margin-top: -18.9%;
	padding-top: 10%;
	padding-bottom: 12%;
	z-index: 2
}

.sume_area,
.sume_area > a {
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat
}

.sume_area > a {
	display: block;
	width: 31.35%;
	margin-left: 18.8%;
	margin-bottom: 2%;
	transition: .3s;
	cursor: pointer;
	background-image: url(../images/sume_title.png)
}

.sume_area > a:hover {
	background-image: url(../images/sume_title_hover.png)
}

.sume_area > a img {
	width: 100%;
	opacity: 0
}

.sume_area .frist_msg {
	padding-left: .3%
}

@media (max-width:768px) {
	.sume_area {
		position: relative;
		background-image: url(../images/bg_05_m.png);
		margin-top: -18.9%;
		padding-top: 35%;
		padding-bottom: 12%;
		z-index: 2
	}

	.sume_area > a {
		display: block;
		width: 70%;
		margin-left: 26%;
		background-image: url(../images/sum_title_m.png)
	}

	.sume_area > a:hover {
		background-image: url(../images/sum_title_m_hover.png)
	}

	.sume_area .frist_msg {
		padding-left: 1.8%
	}

	.sume_area .frist_msg img:first-child {
		margin-left: 2.2%
	}

	.sume_area .frist_msg img:nth-child(2) {
		margin-left: 2.2%;
		margin-top: -7.5%
	}

	.sume_area .frist_msg img:nth-child(3),
	.sume_area .frist_msg img:nth-child(4) {
		margin-left: 2.2%;
		margin-top: -8%
	}
}

.belif_area {
	position: relative;
	background-image: url(../images/bg_06.png);
	margin-top: -8.8%;
	z-index: 5;
	padding-top: 7.5%
}

.belif_area,
.belif_area > a {
	background-repeat: no-repeat;
	background-size: 100%
}

.belif_area > a {
	display: block;
	width: 29.79%;
	margin-left: 23%;
	transition: .3s;
	cursor: pointer;
	background-image: url(../images/belif_title.png);
	background-position: top
}

.belif_area > a:hover {
	background-image: url(../images/belif_title_hover.png)
}

.belif_area > a img {
	width: 100%;
	opacity: 0
}

.belif_area .frist_msg {
	padding-left: .3%
}

.LG_footer {
	padding-bottom: 6%;
	padding-top: 2%;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #4a4a4a;
	background-image: url(../images/bg_06.png);
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	z-index: 4;
	position: relative
}

.LG_logo_footer {
	position: relative;
	z-index: 5
}

.LG_footer span,
.LG_logo_footer {
	display: block;
	width: 58%;
	margin: 0 auto
}

.LG_logo_footer a {
	width: 27%;
	display: inline-block;
	margin-bottom: 5%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 20%;
	overflow: hidden;
	cursor: pointer;
	line-height: 100;
	text-indent: -100%;
	transition: .3s
}

.LG_logo_footer a:first-child {
	background-image: url(../images/footer_logo_01.png)
}

.LG_logo_footer a:nth-child(2) {
	background-image: url(../images/footer_logo_02.png);
	margin-left: 5%
}

.LG_logo_footer a:nth-child(3) {
	background-image: url(../images/footer_logo_03.png);
	margin-left: 5%
}

.LG_logo_footer a:first-child:hover {
	background-image: url(../images/footer_logo_01_hover.png)
}

.LG_logo_footer a:nth-child(2):hover {
	background-image: url(../images/footer_logo_02_hover.png);
	margin-left: 5%
}

.LG_logo_footer a:nth-child(3):hover {
	background-image: url(../images/footer_logo_03_hover.png);
	margin-left: 5%
}

@media (max-width:768px) {
	.belif_area {
		position: relative;
		background-image: url(../images/bg_06_m.png);
		z-index: 10;
		padding-top: 17%
	}

	.belif_area > a {
		display: block;
		width: 64%;
		margin-left: 5%
	}

	.belif_area .frist_msg {
		padding-left: .7%
	}

	.belif_area .frist_msg img:first-child {
		margin-left: 3%;
		margin-top: 1%
	}

	.belif_area .frist_msg img:nth-child(2) {
		margin-left: 3%;
		margin-top: -9%
	}

	.belif_area .frist_msg img:nth-child(3),
	.belif_area .frist_msg img:nth-child(4) {
		margin-left: 3%;
		margin-top: -8%
	}

	.LG_footer {
		background-image: url(../images/bg_06_m.png);
		padding-bottom: 15%
	}

	.LG_logo_footer {
		width: 100%
	}

	.LG_footer span {
		display: block;
		width: 80%;
		margin: 0 auto
	}
}

.pop_box {
	position: fixed;
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(68, 3, 21, .3);
	display: none
}

.inner_pop {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 1200px;
	width: 80%;
	height: 80vh;
	max-height: 670px;
	background-color: #fff;
	border-radius: 10px;
	border: 4px solid #eaa56e;
	box-sizing: border-box;
	padding: 8% 3.5% 5%
}

.btn_close {
	display: block;
	position: absolute;
	width: 5%;
	top: 2%;
	right: 2%
}

.btn_close img,
.pop_word {
	width: 100%
}

.pop_word {
	height: 100%;
	position: relative;
	padding: 0 5%;
	box-sizing: border-box;
	overflow-y: scroll
}

.pop_word img {
	width: 100%
}

.pop_word::-webkit-scrollbar {
	background-color: #ffe8dc;
	width: 10px
}

.pop_word::-webkit-scrollbar-button {
	display: none
}

.pop_word::-webkit-scrollbar-track {
	background-color: #ffe8dc
}

.pop_word::-webkit-scrollbar-thumb {
	background-color: #ffd1ba
}

.btn_LG_top {
	display: none;
	position: fixed;
	bottom: 1%;
	right: 1%;
	z-index: 100;
	width: 80px;
	background-color: none
}

.btn_LG_top img {
	width: 100%
}

@media(max-width:768px) {
	.inner_pop {
		max-width: 90%;
		width: 90%;
		height: 70vh;
		max-height: 70vh
	}

	.btn_LG_top {
		display: none;
		position: fixed;
		bottom: 1%;
		right: 1%;
		z-index: 100;
		width: 10%;
		background-color: none
	}

	.btn_LG_top img {
		width: 100%
	}
}

.snow_all {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	opacity: .5
}
