@charset "UTF-8";


/*action*/


@-webkit-keyframes bb {
	0% {
		filter: drop-shadow(0px 3px 0px rgba(21, 114, 196, 0.68));

	}

	100% {
		filter: drop-shadow(0px 3px 21px rgba(21, 114, 196, 0.68));

		opacity: 1;
	}
}

@keyframes bb {
	0% {
		filter: drop-shadow(0px 3px 0px rgba(21, 114, 196, 0.68));

	}

	100% {
		filter: drop-shadow(0px 3px 21px rgba(21, 114, 196, 0.68));

		opacity: 1;
	}
}

.bb {
	animation-name: bb;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: linear;
}


@-webkit-keyframes updown {
	0% {
		transform: translateY(2%);
	}

	100% {
		transform: translateY(-2%);
	}
}

@keyframes updown {
	0% {
		transform: translateY(2%);
	}

	100% {
		transform: translateY(-2%);
	}
}

.updown {
	animation-name: updown;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-timing-function: linear;
}

@keyframes shine {
	from {
		opacity: 0;
		transform: scale(0.6);
	}

	30% {
		opacity: 1.0;
		transform: scale(1.0);
	}

	to {
		opacity: 0;
		transform: scale(0.6);
	}
}

.shine {
	animation-name: shine;
	animation-iteration-count: infinite;
}

@keyframes fadeA {
	0% {
		opacity: 1.0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1.0;
	}
}

.fadeA {
	animation-name: fadeA;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@keyframes fadeB {
	0% {
		opacity: 0.8;
		transform: scale(1);
		filter: blur(0px);
	}

	50% {
		opacity: 1.0;
		transform: scale(1.05);
		filter: blur(4px);
	}

	100% {
		opacity: 0.8;
		transform: scale(1);
		filter: blur(0px);
	}
}

.fadeB {
	animation-name: fadeB;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@keyframes fadeC {
	0% {
		opacity: 0.8;
		transform: translateY(0%);

	}

	50% {
		opacity: 0.2;
		transform: translateY(-5%);

	}

	100% {
		opacity: 0.8;
		transform: translateY(0%);

	}
}

.fadeC {
	animation-name: fadeC;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}


@-webkit-keyframes a {
	0% {
		left: -100%;
		opacity: 0
	}

	15% {
		opacity: .8
	}

	25% {
		opacity: .8
	}

	30% {
		left: 150%;
		opacity: 0
	}

	to {
		left: 150%;
		opacity: 0
	}
}

@keyframes a {
	0% {
		left: -100%;
		opacity: 0
	}

	15% {
		opacity: .8
	}

	25% {
		opacity: .8
	}

	30% {
		left: 150%;
		opacity: 0
	}

	to {
		left: 150%;
		opacity: 0
	}
}

.creamAc{
	animation-name: fadeIn,pulse;
	animation-direction: 0.6s;
	animation-delay: 0.2s;
}



@-webkit-keyframes updownB {
    0% {
        transform: translateY(4%);
    }

    100% {
        transform: translateY(-4%);
    }
}

@keyframes updownB {
    0% {
        transform: translateY(4%);
    }

    100% {
        transform: translateY(-4%);
    }
}

.updownB {
    animation-name: updownB;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@-webkit-keyframes fadeSlow {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

@keyframes fadeSlow {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

.fadeSlow {
    animation-name: fadeSlow;
    animation-timing-function: linear;
}



/*動畫 end*/
html,
body {
	width: 100%;
	overflow-x: hidden !important;
}

.for_m {
	display: none;
}

@media (max-width:768px) {
	.for_pc {
		display: none;
	}

	.for_m {
		display: block;
	}
}

/*form*/
.bluemune_form input,
.bluemune_form button,
.bluemune_form textarea,
.bluemune_form select,
.bluemune_form option {
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: none;
	border: 0;
	border-radius: 100em;
	background-color: transparent;
	color: #000;
	font-family: 'Noto Sans TC', sans-serif !important;
	letter-spacing: 1px;
}

.bluemune_form input[type="button"],
.bluemune_form input[type="submit"],
.bluemune_form input[type="reset"] {
	-webkit-appearance: none;
}

.bluemune_form textarea {
	-webkit-appearance: none;
}

.bluemune_form textarea:focus,
.bluemune_form input:focus {
	outline: none;
}

.bluemune_form * {
	outline: none;
}

.bluemune_form section {
	width: 100%;
	position: relative;
	display: inline-block;
}

.bluemune_form select::-ms-expand {
	display: none;
}

.bluemune_form select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("../images/bluemune_essence/arrow.png") no-repeat scroll 95% center transparent;
	background-size: auto 30%;
	border: 0;
	border-radius: 100em;
	background-color: transparent;
	color: #b8b5b5;
	padding-left: 2%;
}

.bluemune_form.summa_essence_form_inner select {
	background: url("../images/best_essence3/arrow_down.png") no-repeat scroll 95% center transparent;
	background-size: auto 25%;

}

.bluemune_form option::-ms-expand {
	display: none;
}

.bluemune_form option {
	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari 和 Chrome */
	appearance: none;
	background-color: #fff;
	color: #000;
	letter-spacing: 1px;

}

.bluemune_form option:hover {
	background-color: #e8e8e8;
}

.bluemune_form ::-webkit-input-placeholder {
	/* Edge */
	color: #b8b5b5;
}

.bluemune_form :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #b8b5b5;
}

.bluemune_form ::placeholder {
	color: #b8b5b5;
}

.bluemune_form input:focus::-webkit-input-placeholder {
	color: #000;
}

.bluemune_form input:focus:-moz-placeholder {
	color: #000;
}

.bluemune_form input:focus:-ms-input-placeholder {
	color: #000;
}

.bluemune_form html,
.bluemune_form body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.btn_enter,
.btn_buy_now {
	transform: scale(1.0);
	filter: brightness(1);
	transition: all 0.3s ease;
}

.btn_enter:hover,
.btn_buy_now:hover {
	transform: scale(1.05);
	filter: brightness(1.1);
}

/*layout*/
.wrapper.summa_essence {
	padding-bottom: 0;
	background-color: #fff !important;
}

.summa_essence_kv {
	background-image: url(../images/best_essence3/kv_img.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 5%;
	background-color: #fff;
	z-index: 1;
	position: relative;
}

.summa_kv_title {
	width: 30.15%;
	height: 0;
	padding-bottom: 28%;
	background-image: url(../images/best_essence3/kv_title.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	overflow: hidden;
	display: block;
	position: relative;
	line-height: 100;
	text-indent: -100em;
	z-index: 3;
	margin-left: 16%;
}

.kv_title_light{
	width: 30.15%;
	height: 0;
	padding-bottom: 28%;
	left: 16%;
	display: block;
	position: absolute;
	z-index: 5;
	-webkit-mask-image: url(../images/best_essence3/kv_title.png);
    mask-image: url(../images/best_essence3/kv_title.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.kv_title_light div{
	 position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
	z-index: 2;
	display: block;
	opacity: 0;
}

.light_move:before {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    -webkit-animation: a 10s linear -10s infinite normal;
    animation: a 10s linear -10s infinite normal;
    content: "";
    z-index: 2;
    display: block;
}
.light_move_in{
	-webkit-animation: a 10s linear -10s infinite normal;
    animation: a 10s linear -10s infinite normal;
}

.summa_kv_img {
	position: relative;
	z-index: 2;
	width: 34%;
	margin-top: -10%;
	margin-left: 29.5%;
	opacity: 0;
	animation-fill-mode: forwards;
    animation-duration: 2.5s;
}

.summa_kv_light {
	width: 78.48%;
	position: absolute;
	z-index: 0;
	left: 8%;
	top: 5.7%;
}

.summa_essence_cont > p {
	width: 68.9%;
	height: 0;
	padding-bottom: 18%;
	background-image: url(../images/best_essence3/kv_text.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	overflow: hidden;
	display: block;
	line-height: 100;
	margin: 0 auto 3% auto;
}
.kv_block{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	z-index: 0;
}

@media (max-width:768px) {

	.summa_essence_kv {
		background-image: url(../images/best_essence3/kv_img_m.png);
		padding-top: 10%;
		background-color: #fff;
		padding-bottom: 30%;
	}

	.summa_kv_title {
		width: 79.8%;
		height: 0;
		padding-bottom: 30%;
		background-image: url(../images/best_essence3/kv_title_m.png);
		margin-left: auto;
		margin-right: auto;
		z-index: 3;
	}
	
	.kv_title_light{
		width: 79.8%;
		height: 0;
		padding-bottom: 30%;
		-webkit-mask-image: url(../images/best_essence3/kv_title_m_mk.png);
    	mask-image: url(../images/best_essence3/kv_title_m_mk.png);
		margin-left: auto;
		margin-right: auto;
		left: 10.1%;
		z-index: 5;
	}

	.summa_kv_img {
		width: 42%;
		margin-top: 19%;
		margin-left: 13%;
		margin-bottom: 20%;
		z-index: 3
	}
	.kv_block{
	z-index: 1;
}

	.summa_kv_light {
		width: 100%;
		position: absolute;
		z-index:0;
		left: 4%;
		top: 9%;
	}

	.summa_essence_cont > p {
		width: 90%;
		padding-bottom: 26%;
		margin: 0 auto 0 auto;
	}
}

/*金萃極致無痕喚采前導精華*/
.summa_essence_cont {
	background-image: url(../images/best_essence3/bg_01.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center -10%;
	margin-top: -11%;
	z-index: 2;
	position: relative;
}

.summa_essence_01_cont {
	margin: 0 auto;
	width: 80%;
	position: relative;
}

.pic_01 {
	position: relative;
	width: 40%;
	z-index: 2;
}

.cream_01 {
	position: absolute;
	width: 40%;
	left: -15%;
	top: 75%;
	z-index: 3;
}

.summa_essence_01_word {
	width: 58%;
	position: absolute;
	top: 12%;
	right: 8%;
	z-index: 3;
}

.summa_essence_01_word p {
	display: block;
	width: 100%;
	background-image: url(../images/best_essence3/product_01_word.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 40%;
	overflow: hidden;
	line-height: 100;
	margin-bottom: 5%;
}

.summa_essence_01_word a,
.summa_essence_02_word a,
.summa_essence_03_word a {
	display: inline-block;
	width: 33%;
}

.summa_essence_01_word a:nth-child(2),
.summa_essence_02_word a:nth-child(2) {
	margin-left: 12%;
}

.summa_essence_frame_01 {
	width: 75%;
	margin: -3% auto 0 auto;
	background-image: url(../images/best_essence3/frame_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 10% 6% 0 6%;
	box-sizing: border-box;
	position: relative;
}

.frame01_word {
	width: 73%;
	margin: 4% auto 6% auto;
}

.frame_01_cont_01 {
	width: 94.5%;
}

.frame_01_tip {
	width: 65%;
	background-image: url(../images/best_essence3/circle_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	height: 0;
	padding-bottom: 50%;
	margin-top: -5%;
	z-index: 2;
}

.frame_01_tip img {
	position: absolute;
}

.frame_01_tip div{
	position: absolute;
}

.circle_01 {
	width: 35%;
	left: -7%;
	top: 27%;
}

.circle_02 {
	width: 30%;
	top: 2%;
	left: 25%;
}

.circle_03 {
	width: 25%;
	bottom: 48%;
	left: 38%;
}

.circle_04 {
	width: 40%;
	right: -5%;
	top: 20%;
}

.summa_essence_product_01 {
	width: 55%;
	position: absolute;
	right: -9%;
	top: 47%;
	z-index: 0;
}

.howuse_point {
	position: relative;
	width: 100%;
	padding-bottom: 7%;
}

.howuse_point img:nth-child(1) {
	width: 45%;
	position: absolute;
	right: -6%;
	top: -36%;
}

.howuse_point img:nth-child(2),
.howuse_point img:nth-child(3),
.howuse_point img:nth-child(4) {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	margin-top: -2%;
}

.howuse_point img:nth-child(2),
.howuse_point img:nth-child(3) {
	margin-right: 4%;
}

.howuse_point img.for_m {
	display: none !important;
}


@media (max-width:768px) {

	.summa_essence_cont {
		background-image: url(../images/best_essence3/bg_02_m.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center -40%;
		margin-top: -75%;
		padding-top: 10%;
		z-index: 2;
		position: relative;
	}

	.summa_essence_01_cont {
		margin: 0 auto;
		width: 100%;
		position: relative;
	}

	.pic_01 {
		position: relative;
		width: 63%;
		margin: 0 auto;
		z-index: 2;
	}

	.cream_01 {
		position: absolute;
		width: 30%;
		left: -15%;
		top: 78%;
	}

	.summa_essence_01_word {
		width: 100%;
		position: relative;
		top: auto;
		right: auto;
		margin: 3% auto;
		z-index: 3;
		text-align: center;
	}

	.summa_essence_01_word p {
		background-image: url(../images/best_essence3/product_01_word_m.png);
		height: 0;
		padding-bottom: 35%;
	}

	.summa_essence_01_word a,
	.summa_essence_02_word a,
	.summa_essence_03_word a {
		display: inline-block;
		width: 25%;
	}

	.summa_essence_01_word a:nth-child(2),
	.summa_essence_02_word a:nth-child(2) {
		margin-left: 0;
	}

	.summa_essence_frame_01 {
		width: 90%;
		margin: 2% auto 0 auto;
		background-image: url(../images/best_essence3/frame_01_m.png);
		padding: 16% 0 0 0;
	}

	.frame01_word {
		width: 100%;
		margin: 4% auto 6% auto;
	}

	.frame_01_cont_01,
	.frame_01_cont_02 {
		width: 100%;
		margin-bottom: 3%;
	}

	.frame_01_tip {
		width: 85%;
		background-image: url(../images/best_essence3/product_tip_bg_m.png);
		height: 0;
		padding-bottom: 50%;
		margin-top: -4%;
		margin-left: 2%;
		z-index: 2;
	}

	.circle_01 {
		width: 25%;
		left: 3%;
		top: 47%;
	}

	.circle_02 {
		width: 22%;
		top: 14%;
		left: 32%;
	}

	.circle_03 {
		width: 20%;
		bottom: 0%;
		left: 32.5%;
	}

	.circle_04 {
		width: 32%;
		right: 5%;
		top: 24%;
	}

	.summa_essence_product_01 {
		width: 141%;
		position: absolute;
		right: -6%;
		top: 45%;
		z-index: 3;
	}

	.howuse_point {
		position: relative;
		width: 100%;
		padding-bottom: 7%;
		z-index: 5;
	}

	.howuse_point img:nth-child(1) {
		width: 70%;
		position: relative;
		right: 0;
		top: 0;
		margin: 28% auto 0 auto;
	}

	.howuse_point img.for_pc {
		display: none !important;
	}

	.howuse_point img.for_m {
		display: block !important;
		width: 75%;
		margin: 8% auto !important;
	}
}

/*青春奇蹟活酵肌秘露EX*/
.summa_essence_02_cont {
	width: 80%;
	margin: 15% auto 0 auto;
	position: relative;
}

.summa_essence_02_word {
	width: 58%;
	position: relative;
	margin-left: 3%;
	padding-top: 6%;
	z-index: 5;
}

.summa_essence_02_word p {
	display: block;
	width: 100%;
	background-image: url(../images/best_essence3/product_02_word.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 44%;
	overflow: hidden;
	line-height: 100;
	z-index: 3;
	position: relative;
}

.summa_essence_02_word a:nth-child(2) {
	margin-left: 9%;
}

.pic_02 {
	width: 43%;
	position: absolute;
	right: 4%;
	top: 0;
	z-index: 2;
}

.cream_02 {
	position: absolute;
	width: 40%;
	bottom: -5%;
	right: -10%;
}

.summa_essence_frame_02 {
	margin: 8% auto 0 auto;
	position: relative;
	width: 95%;
	background-size: 100%;
	background-image: url(../images/best_essence3/frame_02.png);
	background-repeat: no-repeat;
	z-index: 0;
	box-sizing: border-box;
	padding: 11% 9% 0 9%;
	text-align: center;
}

.frame_02_word {
	width: 85%;
	margin: 4% auto 8% auto;
}

.summa_essence_product_02 {
	width: 46%;
	margin-top: -2%;
	margin-left: -6%;
	position: relative;
}

.howgood {
	width: 51%;
	height: 0;
	padding-bottom: 50%;
	background-image: url(../images/best_essence3/good_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 2%;
	right: 8%;
}
.howgood b{
	display: block;
}

.howgood span {
	display: block;
	color: #7f563a;
	font-size: 1vw;
	font-weight: 400;
	position: absolute;
	bottom: 17%;
	right: -0.6%;
}

.howgood > div {
	width: 41.5%;
	height: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
}
.howgood > div > div{
	height: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	position: absolute;
}

.good_01 {
	left: 30%;
	top: 2%;
	background-image: url(../images/best_essence3/good_01.png);
	padding-bottom: 95%;
}
.good_01 > div{
	padding-bottom: 95%;
	-webkit-mask-image:  url(../images/best_essence3/good_01.png);
    mask-image:  url(../images/best_essence3/good_01.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.good_02 {
	background-image: url(../images/best_essence3/good_02.png);
	padding-bottom: 100%;
	left: -3%;
	top: 40%;
}
.good_02 > div{
	padding-bottom: 100%;
	-webkit-mask-image: url(../images/best_essence3/good_02.png);
    mask-image: url(../images/best_essence3/good_02.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
	
}
.good_03 {
	right: -3%;
	top: 40%;
	background-image: url(../images/best_essence3/good_03.png);
	padding-bottom: 100%;
}
.good_03 > div{
	padding-bottom: 100%;
	-webkit-mask-image: url(../images/best_essence3/good_03.png);
    mask-image:  url(../images/best_essence3/good_03.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
	
}
.frame_02_cont_01{
	width: 92%;
}

@media (max-width:768px) {
	.summa_essence_02_cont {
		width: 100%;
		margin: 5% auto 0 auto;
	}

	.summa_essence_02_word {
		width: 100%;
		position: absolute;
		margin-left: 0;
		padding-top: 78%;
		text-align: center;
	}

	.summa_essence_02_word p {
		display: block;
		width: 100%;
		background-image: url(../images/best_essence3/product_02_m.png);
		padding-bottom: 40%;
	}

	.summa_essence_02_word a:nth-child(2) {
		margin-left: 0;
	}

	.pic_02 {
		width: 63%;
		position: relative;
		right: auto;
		top: auto;
		margin: 0 auto 60%;
		z-index: 2;
	}

	.cream_02 {
		position: absolute;
		width: 40%;
		bottom: -5%;
		right: -10%;
	}

	.summa_essence_frame_02 {
		margin: 8% auto 0 auto;
		position: relative;
		width: 90%;
		background-size: 100%;
		background-image: url(../images/best_essence3/frame_02_m.png);
		padding: 16% 0 0 0;
		text-align: center;
	}

	.frame_02_word {
		width: 100%;
		margin: 4% auto 8% auto;
	}

	.frame_02_cont_02,
	.frame_02_cont_01 {
		width: 90%;
		margin: 4% auto;
	}

	.summa_essence_product_02 {
		width: 45%;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.howgood {
		width: 86%;
		padding-bottom: 80%;
		position: relative;
		bottom: auto;
		right: auto;
		margin: 5% auto;
	}

	.howgood div {
		width: 42%;
	}

	.good_01 {
		left: 29%;
		top: 3%;
	}

	.good_02 {
		left: -3%;
		top: 44%;
	}

	.good_03 {
		right: -3%;
		top: 44%;
	}

	.howgood span {
		font-size: 2.4vw;
		bottom: 9%;
	}


}

/*金萃極緻無痕奇蹟精華*/
.summa_essence_03_cont {
	position: relative;
	width: 80%;
	margin: 6.5% auto;
}

.pic_03 {
	width: 42%;
	position: relative;
	margin-left: -2%;
	z-index: 3;
}

.cream_03 {
	position: absolute;
	width: 48%;
	bottom: -5%;
	left: -10%;
}

.summa_essence_03_word {
	width: 62%;
	position: absolute;
	right: 4%;
	top: 0.5%;
	z-index: 5;
}

.summa_essence_03_word p {
	width: 100%;
	position: relative;
	background-image: url(../images/best_essence3/product_03_word.png);
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
	height: 0;
	padding-bottom: 46%;
	line-height: 100;
}

.summa_essence_03_word a:nth-child(2) {
	margin-left: 12%;
}

.summa_essence_frame_03 {
	position: relative;
	background-image: url(../images/best_essence3/frame_03.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 95%;
	margin: -4% auto 0 auto;
	position: relative;
	padding: 11% 9% 0 9%;
	text-align: center;
}

.frame_03_title {
	width: 85%;
	margin: 0 auto;
}

.frame_03_word {
	position: relative;
	margin: 5% auto 8% auto;
}

.summa_essence_questions {
	position: relative;
	margin-top: 8%;
	width: 52%;
	height: 0;
	padding-bottom: 75%;
	background-size: 100%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding-top: 24%;
	padding-left: 4.4%;
	background-image: url(../images/best_essence3/questions.png);
}

.summa_essence_questions img {
	position: relative;
	width: 4%;
	margin-bottom: 8.1%;
}

.product_03 {
	width: 52%;
	position: absolute;
	left: 28%;
	top: 43%;
}

.summa_change {
	position: absolute;
	width: 25%;
	top: 47%;
	right: 10%;
}

.summa_miracle {
	position: absolute;
	width: 22%;
	right: 6%;
	top: 67%;
}
.frame_03_cont_01 {
	width: 99%;
}

@media (max-width:768px) {

	.summa_essence_03_cont {
		position: relative;
		width: 100%;
		margin-top: 20%;
	}

	.pic_03 {
		width: 63%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.cream_03 {
		position: absolute;
		width: 48%;
		bottom: -5%;
		left: -10%;
	}

	.summa_essence_03_word {
		width: 100%;
		position: relative;
		right: auto;
		top: auto;
		margin: 6% auto;
		text-align: center;
	}

	.summa_essence_03_word p {
		width: 100%;
		position: relative;
		background-image: url(../images/best_essence3/product_03_word_m.png);
		padding-bottom: 40%;
		line-height: 100;
	}

	.summa_essence_03_word a:nth-child(2) {
		margin-left: 0;
	}

	.summa_essence_frame_03 {
		background-image: url(../images/best_essence3/frame_03_m.png);
		width: 90%;
		margin: 0% auto 5% auto;
		position: relative;
		padding: 16% 0 0 0;
		text-align: center;
	}

	.frame_03_title {
		width: 100%;
		margin: 0 auto;
	}

	.frame_03_word {
		position: relative;
		width: 100%;
		margin: 5% auto 8% auto;
	}

	.frame_03_cont_02,
	.frame_03_cont_01 {
		width: 90%;
		margin: 3% auto;
	}

	.summa_essence_questions {
		position: relative;
		margin-top: 8%;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: 0;
		padding-bottom: 70%;
		background-size: 100%;
		padding-top: 0;
		padding-left: 0;
		background-image: url(../images/best_essence3/question_m.png);
		margin-top: 95%;
	}

	.summa_essence_questions img {
		position: absolute;
		width: 4%;
		margin-bottom: 8.1%;
	}

	.summa_essence_questions img:nth-child(1),
	.summa_essence_questions img:nth-child(2),
	.summa_essence_questions img:nth-child(3),
	.summa_essence_questions img:nth-child(4) {
		left: 8%;
	}

	.summa_essence_questions img:nth-child(5),
	.summa_essence_questions img:nth-child(6),
	.summa_essence_questions img:nth-child(7),
	.summa_essence_questions img:nth-child(8) {
		left: 48%;
	}

	.summa_essence_questions img:nth-child(1),
	.summa_essence_questions img:nth-child(5) {
		top: 22%;
	}

	.summa_essence_questions img:nth-child(2),
	.summa_essence_questions img:nth-child(6) {
		top: 36%;
	}

	.summa_essence_questions img:nth-child(3),
	.summa_essence_questions img:nth-child(7) {
		top: 48%;
	}

	.summa_essence_questions img:nth-child(4),
	.summa_essence_questions img:nth-child(8) {
		top: 62%;
	}

	.product_03 {
		width: 75%;
		position: absolute;
		left: 5%;
		top: 45%;
	}

	.summa_change {
		position: absolute;
		width: 55%;
		top: 46%;
		right: auto;
		left: 10%;
	}

	.summa_miracle {
		position: absolute;
		width: 36%;
		right: 8%;
		top: 62%;
	}

}


/*網紅試用*/
.summa_essence_kol {
	background-image: url(../images/best_essence3/KOL_bg.jpg);
	background-size: 100%;
	margin-top: -15%;
	z-index: 5;
	position: relative;
	box-sizing: border-box;
	padding: 0 9%;
}

.kol_title {
	width: 68%;
	margin: 0 auto;
}

.kol_icon {
	position: absolute;
	z-index: 2;
	width: 8.5%;
	top: 20%;
	left: 6%;
}

.summa_kol_banner {
	position: relative;
	z-index: 3;
	margin: 7% auto 0 auto;
	width: 95%;
	padding-bottom: 9%;
}

.summa_kol_banner .slick-arrow {
	display: none !important;
}

.summa_kol_banner div img {
	box-sizing: border-box;
	padding: 0 4%;
}

.kol_arrow_left,
.kol_arrow_right {
	width: 3.8%;
	max-width: 3.8%;
	height: 0;
	padding-bottom: 3.6% !important;
	position: absolute;
	top: 55%;
	background-color: transparent;
	opacity: 1;
	background-image: none;
}

.kol_arrow_left {
	left: 8.6%;
}

.kol_arrow_right {
	left: 87.6%;
}

@media (max-width:768px) {
	.summa_essence_kol {
		background-image: url(../images/best_essence3/kol_bg.png);
		background-size: cover;
		margin-top: -8%;
		padding-bottom: 10%;
		z-index: 5;
	}

	.kol_title {
		width: 100%;
		margin: 0 auto ;
	}

	.kol_icon {
		position: absolute;
		z-index: 2;
		width: 13%;
		top: 19%;
		left: 13%;
	}

	.summa_kol_banner {
		position: relative;
		z-index: 3;
		margin: 15% auto 0 auto;
		width: 70%;
		padding-bottom: 9%;
	}

	.summa_kol_banner .slick-arrow {
		display: none !important;
	}

	.summa_kol_banner div img {
		box-sizing: border-box;
		padding: 0 4%;
	}

	.kol_arrow_left,
	.kol_arrow_right {
		width: 7.5%;
		max-width: 7.5%;
		padding-bottom: 7.5% !important;
		transform: scale(1.2);
		position: absolute;
		top: 50%;
		font-size: 0 !important;
	}

	.kol_arrow_left {
		left: 16%;
	}

	.kol_arrow_right {
		left: 76%;
	}
}

/*填寫資料*/
.summa_essence_form {
	width: 100%;
	background-image: url(../images/best_essence3/bg_03.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.summa_good_cont {
	width: 79%;
	position: relative;
	margin: 0 auto;
}

.summa_good_cont_word {
	position: relative;
	width: 66%;
}

.summa_good_cont_word h3 {
	display: block;
	height: 0;
	padding-bottom: 17%;
	background-image: url(../images/best_essence3/how_title.png);
	-webkit-mask-image: url(../images/best_essence3/how_title.png);
    mask-image: url(../images/best_essence3/how_title.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	line-height: 200;
	overflow: hidden;

}

.good_cont_01 {
	display: block;
	height: 0;
	padding-bottom: 80%;
	background-image: url(../images/best_essence3/how_cont_01.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	line-height: 200;
	overflow: hidden;

}

.good_cont_02 {
	display: block;
	height: 0;
	padding-bottom: 25%;
	background-image: url(../images/best_essence3/how_cont_02.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	line-height: 200;
	overflow: hidden;
}

.product_big {
	width: 30%;
	position: absolute;
	top: -8%;
	right: 0;
}

.big_cream {
	position: absolute;
	width: 42%;
	top: 13%;
	left: 28%;
}

.summa_essence_form_inner .form_title {
	width: 48%;
	margin-top: 10%;
}

.summa_set_img {
	width: 120%;
	margin-top: 10%;
	margin-bottom: -18%;
	margin-left: -4%;
}

.summa_essence_form_inner ul li div {
	color: #e5985c !important;
	font-weight: normal !important;

}

.summa_check .checkmark {
	position: absolute;
	display: block;
	width: 1.5vw;
	height: 22vw;
	z-index: 1;
	background-image: url(../images/best_essence3/checkbox.png);
	background-size: 100%;
	background-repeat: no-repeat;
	left: 2%;
	top: 2%;
}

.summa_check .checkmark.active {
	background-image: url(../images/best_essence3/checkbox_after.png);
}

.summa_check .check-content {
	margin-left: 2%;
	width: 90%;
}

.summa_check .check-content-notice {
	width: 90%;
	margin-left: 2%;
	display: block;

}

.summa_check .check-content-notice img {
	width: 100%;
}

.summa_essence .btn_enter {
	margin-top: 5%;
}

.summa_essence .event_word {
	width: 130%;
	margin-left: -15%;
	padding-bottom: 23%;
	background-image: url(../images/best_essence3/event_tip.png);
}

.summa_essence .event_word.add_notice {
	background-image: url(../images/best_essence3/event_notice.png);
	padding-bottom: 55%;
}

@media (max-width:768px) {

	.summa_essence_form {
		background-image: url(../images/best_essence3/bg_03_m.jpg);
		background-position: center 56%;
		background-size: 100%;
	}

	.summa_good_cont {
		width: 90%;
	}

	.summa_good_cont_word {
		position: relative;
		width: 100%;
		z-index: 2;
		margin-top: 5%;
	}

	.product_big {
		width: 52%;
		opacity: 0.15;
		top: -12%;
		right: -6%;
	}

	.summa_essence_form_inner .form_title {
		width: 55%;
		margin-top: 8%;
	}

	.summa_set_img {
		width: 95%;
		margin-top: 5%;
		margin-bottom: 5%;
		margin-left: 0.2%;
	}

	.summa_essence_form_inner {
		width: 100% !important;
	}

	.summa_essence_form_inner ul {
		width: 88%;
		margin: 0 auto;
	}

	.summa_essence_form_inner ul li input {
		height: 100%;
		font-size: 2vw;
	}

	.summa_essence_form_inner ul li select {
		height: 100%;
		font-size: 2vw;
	}

	.form.summa_essence_form_inner ul li > div:nth-child(1) {
		height: 6.8vw;
		line-height: 6.8vw;
		font-size: 2.4vw;
	}

	.summa_check {
		width: 88%;
		margin-left: 6%;
	}

	.summa_check .checkmark {
		width: 3vw;
	}

	.summa_check .check-content {
		margin-left: 3%;
		padding-top: 0.5%;
		width: 100%;
	}

	.summa_check .check-content-notice {
		width: 88%;
		margin-left: 3%;
		margin-top: 4%;
		display: block;

	}

	.summa_essence .event_word {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 33%;
		background-image: url(../images/best_essence3/event_notice_m.png);
	}

	.summa_essence .event_word.add_notice {
		background-image: url(../images/best_essence3/event_tip_m.png);
		padding-bottom: 90%;
	}
}

/*建議搭配*/

.summa_essence_suggestion {
	width: 100%;
	position: relative;
}

.summa_essence_suggestion > img {
	width: 19%;
	margin: 0 auto 5% auto;
}

.summa_set_outer {
	width: 68%;
	margin: 0 auto;
	padding-bottom: 18%;
}

.set_banner div a {
	display: block;
	padding: 0 2.5%;
}

.set_arrow_left,
.set_arrow_right {
	display: block !important;
	position: absolute;
	width: 3.5%;
	z-index: 6;
	top: 35%;
	padding-bottom: 12%;
	background-color: transparent;
	opacity: 1;
}

.set_arrow_left {
	left: 12%;
}

.set_arrow_right {
	right: 12%;
	left: auto;
}

@media (max-width:768px) {


	.summa_essence_suggestion > img {
		width: 55%;
		margin: 5% auto 8% auto;
	}

	.summa_set_outer {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 18%;
	}

	.set_banner div a {
		display: block;
		padding: 0 5%;
	}

	.set_banner div a img {
		width: 100%;
	}

	.set_arrow_left,
	.set_arrow_right {
		display: none !important;
	}


}

.btn_agree {
	display: block;
	position: absolute;
	width: 34%;
	height: 0;
	padding-bottom: 5%;
	left: 15%;
	z-index: 5;
}

@media (max-width:768px) {
	.btn_agree {
		width: 38%;
		height: 0;
		padding-bottom: 5%;
		left: 17%;
		z-index: 5;
	}
}

.best_pop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 9999;
}

.best_popup_wrap {
	position: relative;
	width: 80%;
	max-width: 624px;
	padding: 0;
	background-color: transparent !important;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.best_popup_wrap div img {
	width: 100%;
}

.best_popup_close {
	position: absolute;
	display: block;
	width: 10%;
	height: 5vw;
	top: 0;
	right: 0%;
	z-index: 5;
}

/*新增*/
.product_02_main_img{
	position: relative;
	z-index: 2;
}
.icon_new {
	position: absolute;
	width: 55%;
	top: 12%;
	right: 1%;
	z-index: 0;
}
