@charset "UTF-8";

/*動態*/
@keyframes likebook {

	0% {
		opacity: 0;
		transform: rotateX(180deg) rotateY(180deg) scale(0.5);

	}

	5% {
		opacity: 1;
	}

	100% {
		transform: rotateX(0) rotateY(0) scale(1);

	}

}

.likebook {
	transform-style: preserve-3d;
	animation-duration: 1.2s;
	animation-name: likebook;

}

@keyframes updowna {
	0% {
		transform: translateY(5%);
	}

	100% {
		transform: translateY(-5%);
	}
}

.updowna {
	animation-name: updowna;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-timing-function: linear;
}


@keyframes lightMove {
	0% {
		left: -20%;
	}

	30% {
		left: 100%;
	}

	to {
		left: 100%;
	}
}

.light_move {
	-webkit-animation: lightMove 8s linear infinite normal;
	animation: lightMove 8s linear infinite normal;
	animation: lightMove 8s linear infinite normal;
}

.light_word_move {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: 0%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	z-index: 2;
	display: block;
}

@keyframes rr {
	0% {
		transform: rotate(-2deg);
		transform-origin: center bottom;
	}

	50% {
		transform: rotate(2deg);
		transform-origin: center bottom;
	}

	0% {
		transform: rotate(-2deg);
		transform-origin: center bottom;
	}
}

.rr {
	animation-name: rr;
	animation-duration: 5s;
	animation-timing-function: linear;
}


/*主視覺*/
.wrapper.heart_to_heart_page {
	padding-bottom: 0;
}

.heart_to_heart_kv {
	background-image: url(../images/heart_to_heart/kv.jpg);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 14.5%;
	background-color: #fff;
}

.heart_to_heart_kv h1 {
	position: relative;
	display: block;
	width: 50%;
	height: 0;
	padding-bottom: 12%;
	background-size: 100%;
	background-image: url(../images/heart_to_heart/kv_title.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-left: 5.5%;
	overflow: hidden;
	text-indent: -100%;
	opacity: 0;
	animation-fill-mode: forwards;
}

.heart_to_heart_kv > p {
	width: 40.5%;
	background-image: url(../images/heart_to_heart/kv_cont.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	height: 0;
	padding-bottom: 10%;
	overflow: hidden;
	text-indent: -100%;
	line-height: 100;
	margin-top: 3.7%;
	margin-left: 6.5%;
	opacity: 0;
	animation-fill-mode: forwards;
}

.heart_to_heart_word {
	position: relative;
	width: 57.29%;
	margin: 0 auto;
	margin-top: 12%;
	height: 4vw;
	z-index: 5;
	text-align: center;
}

.heart_to_heart_word img {
	width: auto;
	height: 90%;
	display: inline-block;
	vertical-align: middle;
}

.heart_to_heart_word img:nth-child(2) {
	margin: 0 3%;
}

.heart_cont_01 {
	width: 82%;
	margin: 3.2% auto;
	position: relative;
	font-size: 0;
}

.heart_cont_01 > div{
	margin-top: -2%;
}

.heart_cont_01 > img,
.heart_cont_01 > p {
	display: inline-block;
	vertical-align: top;
}

.heart_cont_01 > p {
	width: 46.3%;
	margin-right: 3.3%;
	margin-top: 16%;
	height: 0;
	padding-bottom: 26%;
	background-image: url(../images/heart_to_heart/about_cont.png);
	background-size: 100%;
	background-repeat: no-repeat;
	line-height: 100;
	overflow: hidden;
	text-indent: -100%;
}

.heart_cont_01 > img {
	width: 50.3%;
}

.heart_cont_02 {
	width: 34%;
	position: relative;
	margin-top: -6%;
	margin-left: 9%;
	padding-bottom: 5%;
}

.heart_cont_02 img:first-child {
	position: relative;
	z-index: 0;
}

.heart_cont_02 img:nth-child(2) {
	position: absolute;
	z-index: 2;
	top: 18%;
	left: 44%;
	width: 76%;
}

.heart_cont_03 {
	position: absolute;
	width: 48%;
	right: 1.5%;
	top: 81%;
}

.heart_cont_03_title {
	position: relative;
	width: 100%;
	position: absolute;
	left: 0;
	top: 10%;
	width: 68%;
}

.heart_cont_03_title img:first-child {
	width: 52%;
	margin-left: 11%;
	margin-top: 2%;
}

.icon_heart_01 {
	position: absolute;
	width: 8%;
	top: -22%;
}

.icon_heart_02 {
	position: absolute;
	width: 8%;
	top: 55%;
	left: 5%;
}

.heart_cont_03_word {
	width: 107%;
	display: block;
	background-image: url(../images/heart_to_heart/kv_word_02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	height: 0;
	padding-bottom: 35%;
	overflow: hidden;
	line-height: 200;
	margin-top: 0%;
	margin-left: -23%;
}

.heart_cont_01 > img.for_m {
	display: none;
}

@media (max-width:768px) {

	.heart_to_heart_kv {
		background-image: url(../images/heart_to_heart/kv_bgm.jpg);
		background-size: 100%;
		padding-top: 5%;
	}

	.heart_to_heart_kv h1 {
		width: 70%;
		padding-bottom: 20%;
		background-image: url(../images/heart_to_heart/kv_title_mm.png);
		margin-left: 15%;
		overflow: hidden;
		text-indent: -2000%;
	}

	.heart_to_heart_kv > p {
		width: 90%;
		background-image: url(../images/heart_to_heart/kv_cont_mm.png);
		padding-bottom: 10%;
		margin-top: 95%;
		margin-left: 5%;
	}

	.heart_prod_pic {
		width: 100%;
		margin-top: 7%;
	}

	.heart_to_heart_word {
		width: 100%;
		margin: 0 auto;
		margin-top: -18%;
		height: 6.5vw;
	}

	.heart_to_heart_word img {
		width: auto;
		height: 90%;
		display: inline-block;
		vertical-align: middle;
	}

	.heart_cont_01 {
		width: 90%;
		margin: 3.2% auto;
		position: relative;
		font-size: 0;
	}

	.heart_cont_01 > img,
	.heart_cont_01 > p {
		display: inline-block;
		vertical-align: top;
	}

	.heart_cont_01 > p {
		width: 100%;
		margin-right: 0%;
		margin-top: 2%;
		padding-bottom: 45%;
		background-image: url(../images/heart_to_heart/word_01m.png);
		text-indent: -1000%;
	}

	.heart_cont_01 > img {
		width: 56.4%;
	}

	.heart_cont_01 > img.for_pc {
		display: none;
	}

	.heart_cont_01 > img.for_m {
		display: block;
	}

	.heart_cont_02 {
		width: 86%;
		position: relative;
		margin-top: 8%;
		margin-left: 7%;
		padding-bottom: 5%;
	}

	.heart_cont_02 img:first-child {
		display: none;
	}

	.heart_cont_02 img:nth-child(2) {
		position: absolute;
		z-index: 2;
		top: -10%;
		left: auto;
		right: 0;
		width: 65%;
	}

	.heart_cont_02 img:nth-child(3) {
		position: relative;
		z-index: 0;
		width: 55%;
	}

	.heart_cont_03 {
		position: relative;
		width: 100%;
		right: auto;
		left: 0%;
		top: auto;
		margin-top: 5%;
	}

	.heart_cont_03_title {
		position: relative;
		width: 95%;
		margin-left: 2.5%;
	}

	.heart_cont_03_title img:first-child {
		width: 88%;
		margin-left: 12%;
		margin-top: 0%;
	}

	.icon_heart_01 {
		position: absolute;
		width: 10%;
		top: -20%;
	}

	.icon_heart_02 {
		position: absolute;
		width: 11%;
		top: 50%;
		left: 8%;
	}

	.heart_cont_03_word {
		width: 100%;
		background-image: url(../images/heart_to_heart/kv_word_02_m.png);
		height: 0;
		padding-bottom: 40%;
		line-height: 10000;
		margin-top: 2%;
		margin-left: 0%;
	}
}

/*้青春奇蹟ＥＸ*/
.heart_ex {
	background-color: #f9f0de;
	box-sizing: border-box;
	padding: 6% 9%;
	position: relative;
	background-size: 100%;
	z-index: 5;
}

.heart_ex_title {
	position: relative;
	width: 60%;
	z-index: 2;
	margin-left: 4%;
}

.heart_ex_title img:nth-child(2) {
	margin: 3% 0 5.6% 0;
}

.heart_ex_title img:nth-child(3) {
	margin-left: 9%;
}

.heart_outer {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	z-index: 0;
}

.big_new_item {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0%;
	z-index: 0;
	animation-duration: 4s;
}

.big_O {
	width: 30%;
	display: block;
	height: 0;
	padding-bottom: 30%;
	position: relative;
	background-image: url(../images/heart_to_heart/big_no.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 5%;
	margin-left: 9%;
}

.big_O span {
	display: block;
	background-clip: text;
	color: transparent;
	font-family: 'Charm';
	font-size: 10vw;
	background: -webkit-radial-gradient(rgb(233, 200, 120), rgb(181, 120, 0));
	background: radial-gradient(rgb(233, 200, 120), rgb(181, 120, 0));
	background-clip: text;
	-webkit-background-clip: text;
	position: absolute;
	top: 28%;
	left: 15%;

}

.heart_video {
	width: 44.5%;
	margin-top: 2%;
	margin-left: 3.6%;
}

.heart_video .video-container {
	position: relative;
	padding-bottom: 48%;
	padding-bottom: 48%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;

}

.heart_video .video-container iframe,
.heart_video .video-container object,
.heart_video .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.heart_video .slick-arrow {
	background-image: url(../images/heart_to_heart/arrow_prev.png);
	background-size: 100%;
	background-color: transparent;
	opacity: 1 !important;
	width: 6%;
	top: 35%;
}

.heart_video .slick-arrow.slick-next {
	right: -6%;
}

.heart_video .slick-arrow.slick-prev {
	left: -6%;
}

.heart_ponit {
	position: relative;
	width: 93%;
	height: 0;
	padding-bottom: 20.5%;
	margin: 3% auto;
	background-image: url(../images/heart_to_heart/p_cont_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 0;
}

.heart_ponit div {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0);
	width: 33%;
	display: inline-block;
	float: left;
}

.heart_ponit div img {
	position: absolute;
}

.heart_ponit div img:nth-child(1) {
	width: 35%;
	right: 5%;
	margin-top: -5%;
	z-index: 0;
}

.heart_ponit div img:nth-child(2) {
	width: 90%;
	left: 5%;
	z-index: 2;
}

.heart_ponit span {
	width: 125%;
	display: block;
	position: absolute;
	bottom: 0;
	right: -25%;
	font-size: 0.5vw;
	white-space: normal;
	transform: scale(0.8);
	transform-origin: left;
	opacity: 0.6;
}

.heart_info {
	position: relative;
	width: 100%;
}

.heart_info_title {
	position: relative;
	z-index: 5;
}

.heart_info_title span {
	width: 70%;
	display: block;
	background-image: url(../images/heart_to_heart/s2_title.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	height: 0;
	padding-bottom: 16%;
	margin: 0 auto;
	overflow: hidden;
	line-height: 100;
	z-index: 6;
}

.heart_info_title_mask {
	position: absolute;
	width: 70%;
	height: 100%;
	top: 0;
	left: 15%;
	-webkit-mask-image: url(../images/heart_to_heart/mask_01.png);
	mask-image: url(../images/heart_to_heart/mask_01.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center top;
	mask-position: center top;
}

.heart_info_title_mask .light_word_move {
	left: 50%;
}

.heart_info_oo {
	display: block;
	position: absolute;
	margin: 7% auto;
	width: 100%;
	text-align: left;
	z-index: 6;
}

.heart_info_oo > div {
	display: inline-block;
	width: 12%;
	vertical-align: middle;
	margin: 0 1%;
}

.info_o_02,
.info_o_04 {
	margin-top: -5% !important;
}

.info_o_03 {
	margin-top: 5% !important;
}

.info_o_04 {
	margin-left: 16% !important;
}

.heart_center_item {
	width: 120%;
	margin-left: -10%;
	position: relative;
	z-index: 0;
	margin-top: -17%;
}

.heart_info_no {
	background-image: url(../images/heart_to_heart/effect_01.png);
	width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	height: 0;
	padding-bottom: 37%;
	position: absolute;
	z-index: 5;
	top: 30%;
}

.heart_info_no div {
	background: #b57800;
	/* Old browsers */
	background: -moz-linear-gradient(top, #b57800 0%, #e9c878 49%, #b57800 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b57800 0%, #e9c878 49%, #b57800 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b57800 0%, #e9c878 49%, #b57800 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b57800', endColorstr='#b57800', GradientType=0);
	/* IE6-9 */
	background-clip: text;
	color: transparent;
	font-family: 'Charm';
	background-clip: text;
	-webkit-background-clip: text;
	font-size: 6vw;
	filter: drop-shadow(0px 3px 0px white);
	position: absolute;
}

.h_no_01 {
	right: 6%;
	top: -11%;
}

.h_no_02 {
	left: 17%;
	top: 7%;
}

.h_no_03 {
	right: 8.5%;
	top: 25%;
}

.h_no_04 {
	left: 20%;
	top: 43%;
}

.h_no_05 {
	right: 2.5%;
	top: 61%;
}

@media (max-width:768px) {

	.heart_ex {
		padding: 8% 5% 580% 5%;
		height: 0;
	}

	.heart_ex_title {
		width: 95%;
		margin-left: 2.5%;
		text-align: center;
	}

	.heart_ex_title img:nth-child(1) {
		width: 110%;
		margin-left: 15%;
	}

	.heart_ex_title img:nth-child(2) {
		margin: 3% 0 5.6% 0;
	}

	.heart_ex_title img:nth-child(4) {
		margin-left: 0%;
		width: 95%;
	}

	.heart_outer {
		position: absolute;
		width: 100%;
		top: 0;
		right: 0;
		height: 0;
		padding-bottom: 150%;
		overflow: hidden;
		z-index: 0;
	}

	.big_new_item {
		width: 115%;
		right: -8%;
		z-index: 0;
		padding-top: 30%;
	}

	.big_O {
		width: 42%;
		display: block;
		height: 0;
		padding-bottom: 42%;
		margin-top: 25%;
		margin-left: 0%;
		margin-bottom: 30%;
	}

	.big_O span {
		font-size: 16vw;
		top: 32%;
		left: 12%;

	}

	.heart_video {
		width: 90%;
		margin-top: -8%;
		margin-left: 3.6%;
		margin-bottom: 8%;
	}

	.heart_ponit {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 135%;
		margin: 3% auto;
		background-image: url(../images/heart_to_heart/point_bg.png);
		text-align: left;

	}

	.heart_ponit div {
		position: relative;
		border: 1px solid rgba(0, 0, 0, 0);
		border-bottom: 1px solid #bb820f;
		width: 90%;
		margin-left: 4%;
		display: inline-block;
		float: inherit;
		padding-bottom: 5%;
	}

	.heart_ponit div:nth-child(3) {
		border-bottom: 1px solid rgba(0, 0, 0, 0);
	}

	.heart_ponit div img {
		position: relative;
	}

	.heart_ponit div img:nth-child(1) {
		width: 28%;
		right: 0%;
		margin-top: 7.5%;
		z-index: 0;
		position: absolute;
	}

	.heart_ponit div img:nth-child(2) {
		width: 90%;
		left: 5%;
		z-index: 2;
		display: none;
	}

	.heart_ponit div img:nth-child(3) {
		width: 80%;
		left: 0;
		z-index: 2;
	}

	.heart_ponit span {
		width: 100%;
		font-size: 12px;
		white-space: normal;
		transform: scale(1);
		position: relative;
		padding-top: 9%;
		text-align: justify;
		right: 0;

	}

	.heart_info {
		position: relative;
		width: 100%;
	}

	.heart_info_title {
		position: relative;
		z-index: 5;
	}

	.heart_info_title span {
		width: 88%;
		display: block;
		background-image: url(../images/heart_to_heart/t_01m.png);
		padding-bottom: 26%;
		margin: 10% auto 0 auto;
		z-index: 6;
	}

	.heart_info_title_mask {
		position: absolute;
		width: 88%;
		height: 100%;
		top: 0;
		left: 6%;
		-webkit-mask-image: url(../images/heart_to_heart/t_01_mask.png);
		mask-image: url(../images/heart_to_heart/t_01_mask.png);
		-webkit-mask-size: 100%;
		mask-size: 100%;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center top;
		mask-position: center top;
	}

	.heart_info_title p {
		font-size: 3vw;
		width: 100%;
		text-align: center;
		margin: 0 auto;
		color: #888;
	}

	.heart_info_oo {
		display: block;
		position: absolute;
		margin: 7% auto 0 40%;
		width: 60%;
		text-align: center;
		z-index: 6;
	}

	.heart_info_oo > div {
		display: inline-block;
		width: 30%;
		position: absolute;
	}

	.info_o_01 {
		left: 0;
		top: 0;
	}

	.info_o_02 {
		left: 28%;
		padding-top: 32%;
		margin-top: auto;
	}

	.info_o_04 {
		margin-top: -5% !important;
	}

	.info_o_03 {
		margin-top: 55% !important;
		left: 0;
	}

	.info_o_04 {
		margin-left: 10% !important;
		padding-top: 10%;
	}

	.info_o_05 {
		padding-top: 55%;
		right: 6%;
	}

	.heart_center_item {
		width: 100%;
		margin-left: 0%;
		position: relative;
		z-index: 0;
		margin-top: -10%;
	}

	.heart_info_no {
		background-image: url(../images/heart_to_heart/info_m.png);
		width: 100%;
		padding-bottom: 80%;
		position: absolute;
		z-index: 5;
		top: 65%;
		right: 0;
	}



	.heart_info_no div {
		font-size: 11vw;
		filter: drop-shadow(1px 3px 0px white);
	}

	.h_no_01 {
		right: 5%;
		top: -7.7%;
	}

	.h_no_02 {
		left: auto;
		right: 5%;
		top: 10%;
	}

	.h_no_03 {
		right: 6%;
		top: 28%;
	}

	.h_no_04 {
		left: auto;
		right: 5.5%;
		top: 46%;
	}

	.h_no_05 {
		right: 5.5%;
		top: 64%;
	}

}

/*特惠組＿01*/
.heart_set_01 {
	width: 82%;
	height: 0;
	padding-bottom: 38%;
	background-image: url(../images/heart_to_heart/set_box_01.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	margin: -120% auto 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}

.heart_set_01 h2,
.heart_set_01 p,
.heart_set_01 span {
	display: block;
	line-height: 100;
	height: 0;
	overflow: hidden;
}

.heart_set_01 .btn_01 {
	margin-left: 48%;
	margin-top: 25%;
}

.btn_01,
.btn_02 {
	display: inline-block;
	overflow: hidden;
	line-height: 100;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 23%;
	height: 0;
	padding-bottom: 8%;
	position: relative;
}

.btn_01:before,
.btn_02:before {
	content: ' ';
	position: absolute;
	background: #fff;
	width: 20%;
	height: 100%;
	top: 0;
	left: -30%;
	opacity: 0.2;
	transition: all 0.6s ease-out;
	transform: skewX(-25deg);
}

.btn_01:hover:before,
.btn_02:hover:before {
	width: 20%;
	left: 200%;
}


.btn_01 {
	background-image: url(../images/heart_to_heart/btn_01.png);
}

.btn_02 {
	background-image: url(../images/heart_to_heart/btn_02.png);
	margin-left: 1%;
}

@media (max-width:768px) {

	.heart_set_01 {
		width: 92.6%;
		height: 0;
		padding-bottom: 115%;
		background-image: url(../images/heart_to_heart/prod_01m.png);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 100%;
		margin: -199% auto 0 5%;
	}

	.heart_set_01 .btn_01 {
		margin-left: 5%;
		margin-top: 100%;
	}

	.btn_01,
	.btn_02 {
		width: 43%;
		height: 0;
		padding-bottom: 16%;
	}

}


/*ＵＰ*/
.heart_s_02 {
	background-image: url(../images/heart_to_heart/s_05_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	z-index: 5;
	box-sizing: border-box;
	padding-top: 100%;
	margin-top: -31%;
	background-color: #ffefdb;
}

.heart_s_02_title {
	width: 36.4%;
	margin-left: 53%;
	padding-top: 12%;
	position: relative;
}

.heart_s_02_title span {
	display: inline-block;
	background-image: url(../images/heart_to_heart/s03_title.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 0;
	padding-bottom: 16%;
	overflow: hidden;
	line-height: 100;
	position: relative;
	z-index: 0;
}

.heart_s_02_title_mask {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 65%;
	left: 0;
	z-index: 2;
	-webkit-mask-image: url(../images/heart_to_heart/mask_02.png);
	mask-image: url(../images/heart_to_heart/mask_02.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center top;
	mask-position: center top;
}

.heart_s_02_cont {
	width: 37.8%;
	margin-left: 53%;
	margin-top: 2%;
	height: 0;
	padding-bottom: 5%;
	background-image: url(../images/heart_to_heart/s03_word.png);
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	line-height: 100;
}

.heart_good_01,
.heart_good_02 {
	width: 36%;
	margin-left: 54%;
	margin-top: 2%;
}

.up_01,
.up_02 {
	position: absolute;
	width: 12%;
}

.up_01 {
	left: 48%;
	top: 15%;
}

.up_02 {
	left: 9%;
	top: 23%;
}

.heart_light_01,
.heart_light_02 {
	position: absolute;
}

.heart_light_01 {
	width: 20%;
	top: 15%;
	left: 36%;
}

.heart_light_02 {
	width: 17%;
	top: 30%;
	left: 12%;
	opacity: 0.5;
}

@media (max-width:768px) {


	.heart_s_02 {
		background-image: url(../images/heart_to_heart/s_05_bg_m.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center top;
		position: relative;
		z-index: 6;
		box-sizing: border-box;
		padding-top: 100%;
		margin-top: -31%;
		background-color: #ffefdb;
	}


	.heart_s_02_title {
		width: 76%;
		margin-left: 12%;
		padding-top: 8%;
	}

	.heart_s_02_cont {
		width: 86%;
		margin-left: 7%;
		margin-top: 2%;
		height: 0;
		padding-bottom: 20%;
		background-image: url(../images/heart_to_heart/word_04_m.png);
	}

	.heart_good_01,
	.heart_good_02 {
		width: 100%;
		margin-left: 0%;
		margin-top: auto;
	}

	.heart_good_01 {
		margin-top: 45%;
		margin-bottom: 3%;
	}

	.up_01,
	.up_02 {
		position: absolute;
		width: 22%;
	}

	.up_01 {
		left: auto;
		right: 2.5%;
		top: 28%;
	}

	.up_02 {
		left: 2.5%;
		top: 33%;
	}

	.heart_light_01,
	.heart_light_02 {
		position: absolute;
	}

	.heart_light_01 {
		width: 30%;
		top: 18%;
		left: 52%;
	}

	.heart_light_02 {
		width: 30%;
		top: 25%;
		left: 16%;
		opacity: 0.5;
	}

}

/*亮眼ＥＸ組*/
.heart_set_02 {
	width: 82%;
	background-image: url(../images/heart_to_heart/set_box_02.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 0;
	padding-bottom: 40%;
	box-sizing: border-box;
	margin: 5% auto 0 auto;
	position: relative;
}

.heart_set_02 h2,
.heart_set_02 p {
	width: 100%;
	height: 0;
	overflow: hidden;
}

.heart_set_02 .btn_01 {
	margin-left: 3.5%;
	margin-top: 25%;
}

@media (max-width:768px) {

	.heart_set_02 {
		width: 92.6%;
		background-image: url(../images/heart_to_heart/prod_02m.png);
		background-repeat: no-repeat;
		padding-bottom: 118%;
		box-sizing: border-box;
		margin: 5% auto 0 5%;
		position: relative;
	}

	.heart_set_02 h2,
	.heart_set_02 p {
		width: 100%;
		height: 0;
		overflow: hidden;
	}

	.heart_set_02 .btn_01 {
		margin-left: 5%;
		margin-top: 98%;
	}
}

/*青春養成*/
.heart_s_03 {
	background-color: #ffefdb;
	margin-top: -5%;
	padding-bottom: 30%;
	position: relative;
	z-index: 5;
}

.heart_s_03 > div {
	width: 82%;
	margin: 0 auto;
	position: relative;
}

.s_03_inner_01 .s_03_inner_01_title {
	width: 63%;
	height: 0;
	padding-bottom: 15%;
	background-image: url(../images/heart_to_heart/s_04_title.png);
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.s_03_inner_01 .s_03_inner_01_title h2,
.s_03_inner_01 .s_03_inner_01_title p {
	width: 0;
	height: 0;
	overflow: hidden;
}

.s_03_inner_01_title .heart_line {
	width: 100%;
	position: absolute;
	top: 33%;
	left: 0;
}

.s_03_inner_01_title .heart_line img {
	width: 3.5%;
}

.s_03_inner_01_img {
	width: 76%;
	display: block;
	margin: -8% auto -6% auto;
	position: relative;
	z-index: 0;
}

.heart_01,
.heart_02,
.heart_01_word,
.heart_02_word {
	position: absolute;
}

.heart_01 {
	width: 15%;
	top: 65%;
}

.heart_01_word {
	width: 25%;
	top: 70%;
	left: 5%;
}

.heart_02 {
	width: 18%;
	top: 14%;
	right: 0;
}

.heart_02_word {
	width: 25%;
	right: 5%;
	top: 22%;
}

.heart_set_03 {
	background-image: url(../images/heart_to_heart/set_04_box.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 32%;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.heart_set_03 h2,
.heart_set_03 p {
	overflow: hidden;
	height: 0;
}

.heart_set_03 .btn_01 {
	margin-top: 25%;
}

.heart_set_03 .btn_01 {
	margin-left: 48.5%;
}

.s_03_inner_02 {
	position: relative;
	padding-top: 3%;
	padding-bottom: 17%;
}

.s_03_inner_02 h2 {
	display: block;
	position: relative;
	background-image: url(../images/heart_to_heart/heart_title.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 36%;
	height: 0;
	padding-bottom: 11%;
	overflow: hidden;
	line-height: 100;
	text-indent: -100%;
	z-index: 2;
	margin-top: 13%;
}

.heart_line {
	width: 36%;
	text-align: center;
	position: relative;
	z-index: 5;
	margin-bottom: 2%;
	height: 0;
	padding-bottom: 5%;
}

@keyframes lineopen {
	0% {
		width: 100%;
		transform: scale(0);
	}

	100% {
		width: 100%;
		transform: scale(1);
	}
}

.lineopen {
	animation-name: lineopen;
	animation-fill-mode: forwards;
}

.heart_line img {
	position: absolute;
	display: inline-block;
	width: 8%;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.heart_line span {
	display: block;
	width: 0%;
	height: 1px;
	background-color: #b90039;
	position: absolute;
	top: 50%;
}

.s_03_inner_02 > img {
	width: 83%;
	position: absolute;
	top: 0;
	right: -9%;
	z-index: 0;
}

.s_03_inner_02 p {
	width: 36%;
	position: relative;
	z-index: 5;
	background-image: url(../images/heart_to_heart/heart_cont.png);
	background-repeat: no-repeat;
	background-size: 100%;
	line-height: 100;
	overflow: hidden;
	height: 0;
	padding-bottom: 18%;
}

.heart_t_s {
	width: 25% !important;
	right: 4% !important;
	top: 3% !important;
}

.heart_set_04 {
	background-image: url(../images/heart_to_heart/set_05_box.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 33%;
	position: relative;
	display: block;
}

.heart_set_04 h2,
.heart_set_04 p {
	height: 0;
	width: 0;
	overflow: hidden;
}

.heart_set_04 .btn_01,
.heart_set_04 .btn_02 {
	margin-top: 24%;
}

.heart_set_04 .btn_01 {
	margin-left: 48%;
}

.s_03_inner_03 {
	position: relative;
	padding-top: 3%;
}

.o_word {
	width: 40%;
	margin-left: 9%;
	margin-bottom: -5%;
}

.big_OO {
	width: 55%;
	position: relative;
	z-index: 2;
}

.s_03_inner_03 h2 {
	background-image: url(../images/heart_to_heart/s_06_title.png);
	width: 42%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 12%;
	position: absolute;
	right: 0;
	top: 25%;
	overflow: hidden;
	line-height: 100;
}

.color_line {
	width: 60%;
	right: 0;
	position: absolute;
	top: 44%;
	z-index: 0;
}

.s_03_inner_03 p {
	background-image: url(../images/heart_to_heart/s_06_word.png);
	width: 46%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 23%;
	line-height: 100;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 52%;
}

.s_03_inner_03 .btn_01 {
	position: absolute;
	right: 0;
	top: 90%;
}

.s_03_inner_03 .btn_02 {
	position: absolute;
	right: 25%;
	top: 90%;
}


.s_03_inner_03 span {
	display: block;
	position: absolute;
	right: 0%;
	top: 104%;
	background-image: url(../images/heart_to_heart/s_06_litte_word.png);
	background-size: 100%;
	height: 0;
	padding-bottom: 5%;
	background-repeat: no-repeat;
	overflow: hidden;
	line-height: 100;
	width: 35%;
}


@media (max-width:768px) {

	.heart_s_03 > div {
		width: 90%;
		margin: 0 auto;
		position: relative;
	}

	.s_03_inner_01 {
		padding-top: 2%;
	}

	.s_03_inner_01 .s_03_inner_01_title {
		width: 100%;
		padding-bottom: 45%;
		background-image: url(../images/heart_to_heart/t_05_m.png);
		margin-top: 5%;
	}


	.s_03_inner_01_title .heart_line {
		width: 100%;
		position: absolute;
		top: 25%;
		left: 0;
		display: block !important;
	}

	.s_03_inner_01_title .heart_line img {
		width: 3.5%;
	}


	.s_03_inner_01_img {
		width: 110%;
		display: block;
		margin: 2% auto 15% -5%;
	}

	.heart_01 {
		width: 13%;
		top: 93%;
		left: 43%;
	}

	.heart_01_word {
		width: 52%;
		top: 96%;
		left: auto;
		right: 0;
	}

	.heart_02 {
		width: 13%;
		top: 31.5%;
		right: auto;
		left: 0;
	}

	.heart_02_word {
		width: 48%;
		top: 34%;
		left: 5%;
	}

	.heart_set_03 {
		background-image: url(../images/heart_to_heart/prod_03_m.png);
		padding-bottom: 120%;
	}
	
	div.heart_set_03{
		width: 92.6%;
		margin-left: 5%;
		margin-bottom: 5%;
	}

	.heart_set_03 h2,
	.heart_set_03 p {
		overflow: hidden;
		height: 0;
	}

	.heart_set_03 .btn_01 {
		margin-top: 105%;
	}

	.heart_set_03 .btn_01 {
		margin-left: 5%;
	}

	.s_03_inner_02 {
		position: relative;
		padding-top: 3%;
		padding-bottom: 17%;
	}

	.s_03_inner_02 h2 {
		width: 80%;
		height: 0;
		padding-bottom: 24%;
		overflow: hidden;
		margin-top: 0%;
		margin-left: 10%;
	}

	.heart_line {
		display: none;
	}

	.s_03_inner_02 > img {
		width: 110%;
		position: absolute;
		top: 12%;
		right: auto;
		left: -5%;
		z-index: 0;
	}

	.s_03_inner_02 p {
		width: 100%;
		background-image: url(../images/heart_to_heart/word_06_m.png);
		padding-bottom: 28%;
		margin-top: 80%;
		margin-bottom: -10%;
	}

	.heart_t_s {
		display: none;
	}

	.heart_set_04 {
		background-image: url(../images/heart_to_heart/prod_04_m.png);
		padding-bottom: 120%;
	}
	div.heart_set_04{
		width: 92.6%;
		margin-left: 5%;
		margin-bottom: 8%;
	}


	.heart_set_04 .btn_01,
	.heart_set_04 .btn_02 {
		margin-top: 105.8%;
		vertical-align: top;
	}

	.heart_set_04 .btn_01 {
		margin-left: 5%;
	}

	.o_word {
		width: 80%;
		margin-left: 12.4%;
		margin-bottom: -11%;
	}

	.big_OO {
		width: 90%;
		margin-left: 5%;
	}
	
	.s_03_inner_03 h2 {
		background-image: url(../images/heart_to_heart/t_03_m.png);
		width: 70%;
		padding-bottom: 28%;
		position: relative;
		right: 0;
		top: auto;
		margin-left: 15%;
		margin-top: 8%;
	}

	.color_line {
		width: 90%;
		right: 0;
		position: relative;
		top: auto;
		margin-left: 5%;
		z-index: 0;
	}

	.s_03_inner_03 p {
		background-image: url(../images/heart_to_heart/word_07_m.png);
		width: 71%;
		padding-bottom: 30%;
		position: relative;
		right: auto;
		margin-left: 14.5%;
		top: auto;
		margin-top: 5%
	}

	.s_03_inner_03 .btn_01 {
		position: relative;
		display: inline-block;
		width: 40% !important;
		right: auto;
		top: auto;
		margin-top: 5%;
	}
	.s_03_inner_03 .btn_02 {
		position: relative;
		display: inline-block;
		width: 40% !important;
		right: auto;
		top: auto;
		margin-top: 5%;
		margin-left: 9.5%;
		margin-right: 2%;
	}

	.s_03_inner_03 span {
		display: block;
		position: relative;
		right: auto;
		margin-left: 20%;
		width: 60%;
		margin-top: 2%;
	}

}



/*特別禮盒*/
.s_gift {
	background-image: url(../images/heart_to_heart/7s_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	margin-bottom: -14%;
	margin-top: -40%;
	position: relative;
	z-index: 5;
	height: 0;
	padding-bottom: 70%;
	pointer-events: none;

}

.s_title {
	position: relative;
	width: 37%;
	margin-left: 47.2%;
	padding-top: 23%;
	z-index: 5;
}

.s_cont {
	width: 38%;
	position: relative;
	margin-left: 15%;
	margin-top: 10.4%;
	padding-top: 6%;
	z-index: 5;
}

.s_en {
	position: absolute !important;
	z-index: 0;
	top: -2%;
	right: -5%;
	width: 84%;
}

.s_items {
	position: absolute;
	width: 38%;
	top: 35.5%;
	right: 4.8%;
	font-size: 0;
}

.s_items img {
	display: inline-block;
	float: right;
}

.s_items_01 {
	width: 26.4%;
	margin-left: -2.5%;
}

.s_items_02 {
	width: 25.9%;
	margin-top: 27%;
}

.s_items_03 {
	width: 22.8%;
	margin-top: 38%;
	margin-right: 2%;
}

.s_items_04 {
	width: 24.8%;
	margin-top: 46%;
	margin-right: -2%;
}

@media (max-width:768px) {

	.s_gift {
		background-image: url(../images/heart_to_heart/7s_bg_m.png);
		padding-bottom: 185%;
		pointer-events: none;
		margin-bottom: -24%;

	}

	.s_title {
		position: relative;
		width: 100%;
		margin-left: 0;
		padding-top: 70.5%;
	}

	.s_cont {
		width: 55%;
		position: relative;
		margin-left: 10%;
		margin-top: 5%;
		padding-top: 0%;
	}

	.s_en {
		position: absolute !important;
		z-index: 0;
		top: 20%;
		right: -53%;
		width: 70%;
	}

	.s_items {
		position: absolute;
		width: 70%;
		top: 59.9%;
		right: 15%;
	}

	.s_items img {
		display: inline-block;
		float: right;
	}

	.s_items_01 {
		width: 26.4%;
		margin-left: -2.5%;
	}

	.s_items_02 {
		width: 25.9%;
		margin-top: 27%;
	}

	.s_items_03 {
		width: 22.8%;
		margin-top: 38%;
		margin-right: 2%;
	}

	.s_items_04 {
		width: 24.8%;
		margin-top: 46%;
		margin-right: -2%;
	}
}

/*表格*/
.heart_from {
	background-color: #fffae9;
	background-image: url(../images/heart_to_heart/from_bg.jpg);
	background-size: 100%;
	background-repeat: repeat-y;
	padding-top: 10%;
	z-index: 4;
}

.heart_from .form_title {
	width: 56%;
}

.heart_from .summa_set_img {
	width: 95%;
	margin: 0 auto 6% auto;
}

.heart_from ul li div {
	color: #a2825d !important;
}

.heart_from ul li div select {
	background-image: url(../images/heart_to_heart/arrow_down.png) !important;
}

.heart_from .checkmark {
	background-image: url(../images/heart_to_heart/check_box.png);
}

.heart_from .checkmark.active {
	background-image: url(../images/heart_to_heart/check_after.png);
}

.heart_from .btn_enter {
	margin: 5% auto 8% auto;
}

.heart_from .event_word {
	background-image: url(../images/heart_to_heart/event_cont.png);
	margin-bottom: 5%;
	width: 120%;
	margin-left: -10%;
}

.heart_from .event_word.add_notice {
	background-image: url(../images/heart_to_heart/event_note.png);
	padding-bottom: 65%;
	margin-bottom: 0;
}

@media (max-width:768px) {

	.heart_from {
		background-color: #fffae9;
		background-image: none;
		padding-top: 10%;
	}

	.heart_from .form {
		width: 90% !important;
	}

	.heart_from .form_title {
		width: 75%;
	}

	.heart_from ul li {
		width: 100%;
		height: 10vw;
		line-height: 10vw;
		margin-bottom: 3%;
	}

	.heart_from ul li div:first-child {
		height: 10vw;
		line-height: 10vw !important;

	}

	.heart_from ul li div select,
	.heart_from ul li input {
		padding-left: 6vw;
	}

	.heart_from .check-content {
		width: 130%;
	}

	.heart_from .btn_enter {
		margin: 5% auto 8% auto;
	}

	.heart_from .event_word {
		background-image: url(../images/heart_to_heart/event_cont_m.png);
		margin-bottom: 5%;
		width: 100%;
		margin-left: 0%;
		padding-bottom: 30%;
	}

	.heart_from .check-content-notice {
		margin-left: 5%;
		margin-bottom: 9%
	}

	.heart_from .event_word.add_notice {
		background-image: url(../images/heart_to_heart/event_note_m.png);
		padding-bottom: 108%;
		margin-bottom: 0;
	}
}


/*品牌故事*/
.heart_to_heart_page .brand_story {
	background-image: url(../images/heart_to_heart/brand_bg.jpg);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.heart_to_heart_page .story_title {
	width: 60%;
	padding-top: 10%;
	margin-left: 9%;
}

.heart_to_heart_page .story_cont {
	width: 80%;
	line-height: 2;
	color: #fff;
	font-size: 1.5vw;
	margin-left: 10%;
	margin-top: 7%;
	padding-bottom: 6%;
	font-weight: 300;
}

@media (max-width:768px) {
	.heart_to_heart_page .brand_story {
		background-image: url(../images/heart_to_heart/brand_bg_m.jpg);
		background-size: cover;
	}

	.heart_to_heart_page .story_title {
		width: 90%;
		padding-top: 7%;
		margin-left: 5%;
	}

	.heart_to_heart_page .story_cont {
		width: 62%;
		font-size: 3.15vw;
		margin-left: 7.5%;
		margin-top: 6%;
		padding-bottom: 10%;
		line-height: 1.86;
		text-align: justify;
	}

}
