@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.img_hideen {
	width: 0;
	height: 0;
	position: absolute;
	z-index: 0;
	text-indent: -9999px;
}

/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*layout*/

html,
body {
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	margin: 0;
	padding: 0;
	background-color: #e2e2e2;
	font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

img {
	width: 100%;
}

a {
	display: block;
	cursor: pointer;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: manipulation;
}


::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
}

input[type=button],
input[type=reset],
input[type=submit],
input[type=text],
select,
option {
	-webkit-appearance: none;
	-webkit-user-select: auto;
	border: none;
	outline: none;
	color: #000;
	background-image: none;
	background-color: #fff;
}


input,
select,
option {
	border: 0;
	outline: none;
	font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 0 rgba(192, 192, 192, 0) inset;
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: #000;
}

.input_style_search:-webkit-autofill,
.input_style_search:-webkit-autofill:hover,
.input_style_search:-webkit-autofill:focus,
.input_style_search:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 0 rgba(192, 192, 192, 0) inset;
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: #fff;
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 480px;
	max-height: 812.5px;
	margin: 0 auto;
	overflow-x: hidden !important;
	overflow-y: scroll;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: fadeIn 1.5s ease;
	animation-fill-mode: forwards;
	margin-top: -1px;
}

.inner_wrapper {
	position: relative;
	margin: 0;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

@media (max-width:480px) {
	.wrapper {
		min-height: 100%;
		top: 0;
		left: 0;
		transform: translate(0, 0);
		background-repeat: repeat;
	}
}

/*首頁*/

#home.wrapper .inner_wrapper {
	height: auto;
	min-height: 100%;
	padding-bottom: 10%;
	background-image: url(../img/form_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center -2.6%;
	background-color: #fff;
	overflow-y: hidden !important;
}

@media(max-width:480px) {
	#home.wrapper .inner_wrapper {
		width: 100%;
		min-height: 100%;
	}
}

.logo {
	width: 27%;
	margin: 0 0 0 0;
}

.btn_list {
	position: absolute;
	width: 20%;
	margin-top: 45%;
	right: 3%;
	z-index: 8;
	transition: 0.3s;
	transform: scale(1.0);
}

.btn_list:hover {
	transform: scale(0.96);
}

@keyframes zoomIn {

	0%,
	20% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.title {
	position: relative;
	z-index: 5;
	width: 83%;
	margin: -4% auto 0 auto;
	animation: zoomIn 0.8s ease;
}

.machine {
	position: relative;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

@keyframes donut-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.machine_center {
	width: 100%;
	position: relative;
	z-index: 3;
	margin-top: 8%;
}

.machine_center.center_1.move {
	animation: donut-spin 15s linear infinite;
	animation-fill-mode: none;
}

.center_2 {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.center_2.click {
	opacity: 1;
	transform: rotate(0deg);
	animation: donut-spin 0.3s linear;
	animation-fill-mode: none;
	animation-iteration-count: infinite;
}

.bar_outer {
	position: absolute;
	z-index: 5;
	width: 7%;
	height: 0;
	padding-top: 10%;
	padding-bottom: 22%;
	left: 47%;
	top: -8.5%;
	z-index: 5;
	text-align: center;
	overflow: hidden;
}

.bar {
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -42%;
}

@keyframes move {
	0% {
		transform: translateY(0);
	}

	20% {
		transform: translateY(-100%);
	}

	43% {
		transform: translateY(38%);
	}

	45% {
		transform: translateY(30%);
	}

	47% {
		transform: translateY(38%);
	}

	100% {
		transform: translateY(38%);
	}
}

.bar.click {
	animation: move 0.5s ease-in-out;
	animation-fill-mode: forwards;
}

.machine_bottom {
	position: relative;
	width: 38.5%;
	margin-top: -6%;
}

@keyframes big {
	0% {
		transform: scale(1.0);
	}

	50% {
		transform: scale(0.97);
	}

	100% {
		transform: scale(1.0);
	}
}

.btn_play,
.btn_line_enter {
	position: absolute;
	width: 68.6%;
	left: 20%;
	margin-top: -13%;
	animation: big 0.8s infinite ease;
}

/*泡泡*/

@keyframes E {
	0% {
		top: 100%;
	}

	to {
		top: -10vw;
	}
}

@keyframes F {
	0% {
		margin-left: 0;
	}

	to {
		margin-left: 8%;
	}
}

@keyframes G {
	0% {
		margin-right: 0;
	}

	to {
		margin-right: 8%;
	}
}


.bubble_box {
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0.5;
}

.bubble_bubble {
	border: 3px solid #fff;
	border-radius: 100%;
	position: absolute;
	top: 0;
}

.bubble1 {
	width: 5vw;
	height: 5vw;
	left: 5%;
	animation: E 2s linear infinite -.75s, F 2s ease-in-out infinite alternate;
}

.bubble2 {
	width: 2vw;
	height: 2vw;
	left: 6%;
	animation: E 1.2s linear infinite -1s, F 1s ease-in-out infinite alternate;
	animation-delay: .8s
}

.bubble3 {
	width: 1vw;
	height: 1vw;
	left: 10%;
	animation: E 2.5s linear infinite -3s, F 3s ease-in-out infinite alternate;
}

.bubble4 {
	width: 1.5vw;
	height: 1.5vw;
	border: none;
	background-color: #fff;
	left: 30%;
	animation: E 2s linear infinite -2s, F 2s ease-in-out infinite alternate;
}

.bubble5 {
	width: 8vw;
	height: 8vw;
	right: -3%;
	animation: E 5s linear infinite -.75s, G 2s ease-in-out infinite alternate;
}

.bubble6 {
	width: 1vw;
	height: 1vw;
	right: 5%;
	animation: E 3s linear infinite -1s, G 1.5s ease-in-out infinite alternate;
}

.bubble7 {
	width: 2vw;
	height: 2vw;
	right: 16%;
	animation: E 4s linear infinite -1s, G 1s ease-in-out infinite alternate;
}

.bubble8 {
	width: 1vw;
	height: 1vw;
	border: none;
	background-color: #fff;
	right: 10%;
	animation: E 1.5s linear infinite -.8s, G 1s ease-in-out infinite alternate;
}

.bubble9 {
	width: 1.5vw;
	height: 1.5vw;
	right: 15%;
	animation: E 1.4s linear infinite 1s, G 1s ease-in-out infinite alternate
}

.pop_box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #fff;
	z-index: 10;
	text-align: center;
}

.pop_box > div {
	min-height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/bg_02.png);
	background-position: top center;
	background-color: #fff !important;
	padding-bottom: 12%;
}

.btn_close {
	width: 14.7%;
	position: fixed;
	right: 2%;
	top: 1%;
	z-index: 20;
}

/*禮物列表*/
.gift_list {
	width: 80%;
	margin: 8% auto;
}

.gift_list p span {
	margin-left: 4%;
	width: 95%;
}

.title_list {
	opacity: 0;
	position: relative;
	z-index: 5;
	width: 70%;
	margin-top: 1%;
	margin-bottom: 8%;
}

.title_list.open {
	animation: zoomIn 0.8s ease;
	animation-fill-mode: forwards;
}

.gift_list ul {
	width: 105%;
	position: relative;
	margin-top: 0;
	z-index: 2;
	display: none;
}

.gift_list ul li {
	width: 100%;
	text-align: center;
	color: #000;
	position: relative;
	z-index: 5;
	padding: 8% 0;
}

.gift_list ul li::after {
	display: block;
	content: '';
	width: 100%;
	height: 3%;
	background-image: url(../img/line_02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
}

.gift_list ul li:last-child::after {
	display: none;
}

.gift_list ul li img {
	width: 100%;
}

.icon,
.list_name,
.gift_icon {
	display: inline-block;
	vertical-align: middle;
}

.icon {
	width: 24%;
}

.list_name {
	font-size: 24px;
	font-weight: 800;
	width: 40%;
	line-height: 1.2;
}

.gift_icon {
	width: 30%;
	margin-left: 2%;
}

.deco_01 {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

@media (max-width:480px) {
	.pop_box {
		min-height: 100%;
	}
}

/*zero加碼抽*/
#bonus.wrapper {
	background-color: #000;
	background-repeat: no-repeat;
}

#bonus.wrapper .inner_wrapper {
	padding-bottom: 10%;
	height: auto;
	min-height: 100%;
	background-image: url(../img/bg_03.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #fff;
}

#bonus .title {
	margin-top: -5%;
	margin-bottom: 3%;
}

#bonus .bar_outer .bar {
	top: 23%;
}

/*中獎問卷*/
#form.wrapper,
#search.wrapper,
#record.wrapper,
#confirmation.wrapper,
#thank.wrapper {
	background-color: #d91425;
	overflow-x: hidden;
}

#form.wrapper .inner_wrapper,
#search.wrapper .inner_wrapper,
#record.wrapper .inner_wrapper,
#confirmation.wrapper .inner_wrapper,
#thank.wrapper .inner_wrapper {
	height: auto;
	min-height: 100%;
	padding-bottom: 10%;
	background-image: url(../img/form_bg.jpg);
	background-size: 101%;
	background-repeat: no-repeat;
	background-position: center top;
	color: #fff;
	overflow-y: hidden !important;
}

#search.wrapper .inner_wrapper {
	height: 100%;
	max-height: 100%;
	min-height: 100%;
}

.form_title {
	width: 75%;
	margin: -6% auto 5% auto;
}

.main_form ul li {
	list-style: none;
	font-weight: 600;
	font-size: 18px;
}

.form_text {
	position: relative;
	display: block;
	width: 62%;
	margin: 3% auto 8% auto;
}

.baic_info {
	width: 80%;
	position: relative;
	margin: 0 auto 10% auto;
}

/*基本填寫資料*/
.baic_info li {
	text-align: center;
	width: 100%;
	height: 35px;
	line-height: 35px;
	margin-bottom: 5%;
}

.baic_info li span {
	display: inline-block;
	text-align: left;
	width: 32%;
	height: 35px;
	line-height: 35px;
}

.input_style {
	width: 65%;
	height: 100%;
	height: 35px;
	line-height: 35px;
	box-sizing: border-box;
	padding: 0 4%;
	border-radius: 5px;
	font-weight: 400;
	font-size: 18px;
}

.input_style::placeholder {
	color: #ccc;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
	height: 35px;
	display: block;
	line-height: 35px;
}

input:read-only {
	background-color: #ccc;
}

.gift_box {
	width: 100%;
	margin: 3% auto 0 auto;
	text-align: center;
	position: relative;
}

.gift_01 {
	display: inline-block;
	width: 84.5%;
	height: 0;
	padding-bottom: 45%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/msg_box.png);
	position: relative;
}


.gift_img {
	position: absolute;
	top: 0;
	left: 0%;
	width: 50%;
	height: 0;
	padding-bottom: 50%;
	text-align: center;
	box-sizing: border-box;
}

.gift_img.style_02 {
	padding-bottom: 32%;
	top: 7%;
}

.gift_img img {
	width: 55%;
	position: absolute;
	left: 53%;
	top: 50%;
	transform: translate(-50%, -53%);
}

.gift_img.style_02 img {
	width: 70%;
	position: absolute;
	left: 54.5%;
	top: 50%;
	transform: translate(-50%, -53%);
}

.gift_text {
	width: 50%;
	height: 0;
	padding-top: 2%;
	padding-bottom: 36%;
	font-size: 12px;
	right: -2px;
	top: 12%;
	position: absolute;
	text-align: center;
	border-left: 2px dashed #000;
}

.gift_text.style_02 {
	padding-bottom: 28%;
}

.gift_text div {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -47.5%);
}

.gift_name {
	display: block;
	width: 100%;
	color: #000;
	text-align: center;
	font-weight: 800;
	font-size: 20px;
	line-height: 1.2;
	margin-left: 2%;
}

.gift_word {
	font-size: 14px;
	color: #999;
	font-weight: 500;
	padding-top: 3%;
	display: block;
}

#form .no {
	position: absolute;
	display: block;
	width: 95%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: #999;
	left: 2.5%;
	bottom: 12%;
	background-color: #fff;
}

.gift_word {
	line-height: 1.5;
}

.btn_notice {
	display: inline-block;
	width: 8em;
	height: 14px;
	line-height: 8px;
	border-radius: 100em;
	border: 1px solid #999;
	margin-top: 5%;
}

.btn_notice:hover {
	background-color: #999;
	color: #fff;
}

.msg_fail {
	background-image: none;
}

/*問題選項*/
.question {
	width: 80%;
	position: relative;
	margin: 3% auto;
	font-size: 0;
	font-weight: 600;
}

.question span {
	display: block;
	width: 100%;
	line-height: 1.5;
	margin-bottom: 3%;
	font-size: 18px;
}

.question input[type="radio"],
.question input[type="checkbox"] {
	position: absolute;
	left: -100%;
}

.question input:checked + .button {
	background: #FFE97F;
	color: #444;
	cursor: default;
}

.question .button {
	display: inline-block;
	margin: 0 5px 10px 0;
	padding: 5px 10px;
	background: #f7f7f7;
	color: #000;
	cursor: pointer;
}

.question .button:hover {
	background: #FFE97F;
	color: #444;
}

.question .round {
	border-radius: 5px;
}

.question.radio_style_02 .button {
	width: auto;
}

.question.radio_style_03 .button {
	width: 43%;
}

.question .button i {
	font-size: 12px;
	margin-left: 10px;
}

@media (max-width:768px) {

	.question .button:hover {
		background: #f7f7f7;
		color: #000;
	}


}

/*確認*/
.checkbox_cont {
	width: 80%;
	position: relative;
	margin: 2% auto 0 auto;
}

.check_word {
	position: relative;
	width: 86%;
	height: auto;
	line-height: 1.5;
	font-size: 18px;
	display: inline-block;
	vertical-align: text-top;
	margin-left: 13%;
	padding-top: 16px;
}

.check_word a {
	display: inline-block;
	color: #fff;
	text-decoration: underline;
}

.checkbox {
	position: absolute;
	transform: scale(3);
	top: 20%;
	opacity: 0;
	left: 2%;
	z-index: 3;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	z-index: 2;
	background-image: url(../img/check.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 9%;
	height: 0;
	top: 26.5%;
	padding-bottom: 9%;
	display: inline-block;
	transition: 0.2s ease;
	cursor: pointer;
}

.checkmark.active {
	background-image: url(../img/check_after.png);
}


.btn_ok {
	width: 45%;
	margin: 8% auto 0 auto;
	transform: scale(1.0);
	transition: 0.3s ease;
}

.btn_ok:hover {
	transform: scale(0.98);
}

/*注意事項*/
.notice_box {
	max-width: 480px;
	height: 100% !important;
	max-height: 812px;
	top: 49.99%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: none;
	background-color: #d81525;
	overflow-y: hidden;
}

.notice_box > div {
	height: 100%;
	overflow-y: hidden;
	background-image: none;
	background-color: #d81525 !important;
}

.popup_content {
	width: 100%;
	height: 100%;
}

.notice_title {
	width: 71%;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.notice_box .popup_content {
	overflow-y: scroll;
	background-image: none;
}

.notice_box .popup_content > div {
	height: auto;
	background-image: url(../img/bg_02.png);
	background-size: 100%;
	background-position: top center;
	background-color: #fff;
	background-repeat: no-repeat;
	overflow-y: auto;
}

.notice_box ul {
	text-align: left;
	width: 75%;
	margin: 0 auto;
	padding: 12% 0 15% 1.5em;
}

.notice_box ul li {
	list-style: decimal !important;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.1em;
	margin-bottom: 8%;
}

.notice_title {
	width: 72%;
	margin: 4% auto;
	position: relative;
	z-index: 2;
}

/*
div.notice_text {
	position: relative;
	z-index: 0;
	width: 80%;
	height: calc(60% - 3vw);
	min-height: calc(60% - 3vw);
	margin: -20% auto;
	background-color: #fff;
	background-image: none;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 25% 5% 8% 5%;
	text-align: left;
	line-height: 2;
	overflow-y: hidden;
}

.notice_text p::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}

.notice_text p::-webkit-scrollbar {
	display: block;
	width: 10px;
	background-color: #000000;
}

.notice_text p::-webkit-scrollbar-thumb {
	background-color: #c9caca;
	height: 50%;
	max-height: 50%;
}

.notice_text p {
	width: calc(100% - 10px);
	height: 100%;
	overflow-y: scroll;
	font-size: 16px;
	box-sizing: border-box;
	padding-right: 10px;
	margin-left: 10px;
}

.notice_text p b {
	font-weight: 600;
}

.notice_text p i {
	font-size: 12px;
}*/

/*查詢中獎*/

#search .form_title {
	margin: -6% auto 5% auto;
}

.search_info {
	background-color: rgba(255, 255, 255, 0.2);
	height: 60px;
	border-radius: 10px;
	margin-top: 8%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 80%;
	font-size: 18px;
}

.search_info::after {
	content: '';
	position: absolute;
	background-color: #ffe97f;
	width: 86%;
	height: 2px;
	left: 7%;
	bottom: 14px;
}

.search_info span {
	color: #ffe97f;
	padding-left: 8%;
	padding-right: 5%;
	font-size: 18px;
	font-weight: 600;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	line-height: 50px;
	box-sizing: border-box;

}

.input_style_search {
	height: 100%;
	font-size: 18px;
	color: #fff !important;
	background-color: transparent !important;
	font-weight: 600;
	position: absolute;
	left: 33%;
	top: 0;
	box-sizing: border-box;
	padding-bottom: 12px;
}

.input_style_search::placeholder {
	color: #fff;
}

.btn_go_search {
	margin: 0 auto;
	width: 25%;
	height: 40px;
	line-height: 38px;
	border-radius: 10px;
	color: #e1041b;
	background-color: #ffe97f;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	transition: 0.3s ease;
	transform: scale(1.0);
}

.btn_line {
	background-color: #8cc63f;
	color: #fff;
	width: 75%;
	height: 64px;
	line-height: 64px;
	font-size: 24px;
}

.btn_go_search:hover {
	transform: scale(0.95);
}

/*確認書*/

#confirmation .form_title,
#thank .form_title {
	margin-bottom: 5%;
}

#confirmation .baic_info {
	width: 70%;
	margin: 8% auto 15% auto;
}

#confirmation .baic_info li {
	text-align: left;
	font-size: 0;
	margin-bottom: 8%;
}

#confirmation .baic_info li span {
	display: inline-block;
	text-align: left;
	width: auto;
	margin-right: 3%;
	height: 35px;
	line-height: 35px;
	font-size: 18px;
	float: left;
}

#confirmation .baic_info li input {
	float: left;
}

#confirmation input[type="radio"] {
	position: absolute;
	left: -9999px;
}

#confirmation input[type="radio"] + label span {
	display: inline-block;
	background-image: url(../img/check.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 8%;
	height: 0;
	top: 10%;
	padding-bottom: 8%;
	display: inline-block;
	transition: 0.2s ease;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -4px;
	font-size: 18px;
}

#confirmation input[type="radio"]:checked + label span {
	background-image: url(../img/check_after.png);
}

.input_width_w {
	width: 100% !important;
}

.input_width_01 {
	width: 85% !important;
}

.input_width_02 {
	width: 69% !important;
}

.pic_box {
	position: relative;
	width: calc(70% - 10px);
	border-radius: 15px;
	height: 200px;
	overflow: hidden;
	background-color: #fff;
	background-image: url('../img/icon_pic.png');
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: center;
	margin: 6% auto;
	border: 5px solid #ffe28b;
}

.pic_box img {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: auto;
	transform: translate(-50%, -50%);
}

.uplaod_img {
	background-color: #f3a324;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	display: block;
	width: 55%;
	padding: 3% 0;
	border-radius: 10px;
	text-align: center;
	margin: 5% auto;
}

.age_agree {
	width: 70%;
	margin: 9% auto 0 auto;
	font-size: 18px;
	font-weight: 600;
	position: relative;
}

.age_agree div {
	position: absolute;
	width: 100%;
}

.age_agree div:nth-child(2) {
	top: 0;
	left: 38%;
}

.age_agree div:nth-child(3) {
	top: 0;
	left: 60%;
}

#confirmation .checkbox_cont {
	width: 70%;
	height: 65px;
	position: relative;
	margin: 8% auto 10% auto;
	padding-right: 1.5%;
	padding-left: 2%;
	box-sizing: border-box;
}

#confirmation .checkmark {
	top: 24%;
	left: 0;
}

#confirmation .check_word {
	font-size: 16px;
	margin-top: -1%;
	margin-left: 12%;
	width: 92%;
	font-size: 18px;
}

.btn_send,
.btn_search {
	width: 50%;
	margin: 15% auto 0 auto;
	padding-bottom: 10%;
	transform: scale(1.0);
	transition: 0.3s ease;
}

.thank_msg .btn_search {
	margin-left: 23%;
}

.btn_send:hover,
.btn_search:hover {
	transform: scale(0.95);
}

.coke_all {
	width: 66%;
	margin-top: -5.5%;
	margin-bottom: -22%;
	margin-left: 12%;
}

.confirmation_no {
	width: 70%;
	height: 50px;
	line-height: 50px;
	margin: 0 auto 5% auto;
	text-align: center;
	font-size: 24px;
	background-color: #fff;
	color: #000;
	font-weight: 600;
	border-radius: 100em;
}

/*點數兌換*/

.point {
	display: block;
	width: 100%;
	background-image: url(../img/from_bg.png);
	background-size: 100%;
	background-repeat: repeat-y;
	position: relative;
	margin-top: -10%;
	padding: 11% 16% 2px 16%;
	box-sizing: border-box;
	z-index: 0;
	text-align: left;
}


.now_point {
	position: relative;
	font-weight: bold;
	width: 100%;
	height: 45px;
	line-height: 45px;
	margin: 4% auto;
	text-align: left;
	background-color: #EDEDED;
	box-sizing: border-box;
	border-radius: 7px;
	font-size: 0;
	box-shadow: 0 4px 0 #e1e1e1;
}

.now_point span:nth-child(1) {
	width: 30%;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color: #000;
	letter-spacing: 1px;
}

.now_point span:nth-child(2) {
	width: 67%;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 7px;
	color: #de0b1c;
	font-weight: 500;
	letter-spacing: 2px;
}

.use_point span:nth-child(2) {
	color: #666;

}

.btn_take {
	width: 20%;
	position: absolute;
	top: 71%;
	left: 40%;
}

.btn_take.after,
.blue_box .gift_info.after,
.green_box .gift_info.after {
	filter: grayscale(1);
}

.blue_box,
.green_box {
	width: 38%;
	display: inline-block;
	margin-top: 4%;
	margin-bottom: 10%;
	position: relative;
}

.blue_box a,
.green_box a {
	width: 45%;
	display: inline-block;
	margin-left: -12%;
}

.blue_box {
	margin-right: 5%;
}

#record .main_form {
	text-align: center;
}

.gift_info {
	border: 5px solid #000;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border-radius: 999em;
	box-sizing: border-box;
}

.gift_info span:nth-child(1) {
	font-size: 16px;
	font-weight: 800;
	display: block;
	margin: 46% auto 1% auto;
}

.gift_info span:nth-child(3) {
	font-size: 14px;
	font-weight: 300;
	display: block;
	margin: -5% auto 0 auto;

}

.blue_box .gift_info {
	background-color: #29abe2;
}

.green_box .gift_info {
	background-color: #8cc63f;
}

.img_box {
	position: absolute;
	width: 60%;
	top: -10%;
	left: 22%;
	z-index: 10;
	height: 0;
	padding-bottom: 51%;
	text-align: center;
}

.img_box img {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.4));
}

#record .gift_01 {
	padding-bottom: 55%;
	margin-top: 2%;
	background-image: url(../img/record_bg_01.png);
}

.tip_01 {
	width: 80%;
}

.tip_01.record_02 {
	width: 60%;
}


.tip_02 {
	width: 83%;
	margin: 5% auto;
	font-size: 16px;
	line-height: 1.5;
}

.btn_download,
.btn_ice_downlaod {
	position: absolute;
	left: -120%;
	bottom: 5%;
	width: 220%;
	height: 30%;
	font-size: 0;
	cursor: pointer;
}

.btn_ice_downlaod {
	bottom: 0%;
	padding-bottom: 7%;
}


#record .gift_img {
	position: absolute;
	top: 0;
	left: 0%;
	width: 50%;
	height: 0;
	padding-bottom: 40%;
	text-align: center;
}

#record .gift_img.record_02 {
	width: 80%;
	left: -12%;
}

#record .gift_img.record_03 {
	width: 70%;
	left: -5%;
}


#record .gift_img img {
	width: 45%;
}

#record .gift_text {
	width: 45%;
	font-size: 12px;
	right: 1%;
	top: -9.5%;
}

#record .no {
	font-size: 18px;
	color: #999;
	font-weight: 600;
	padding-top: 6%;
	padding-left: 2%;
	display: block;
}

#record .gift_01.record_02 {
	padding-bottom: 55%;
	margin-top: 2%;
	background-image: url(../img/record_bg_02.png);
}

#record .record_03 .gift_01 {
	padding-bottom: 55%;
	margin-top: 2%;
	background-image: url(../img/record_bg_03.png);
}

#record .no.record_02 {
	margin-top: -3%;
}


#record .btn_notice {
	display: inline-block;
	width: 8em;
	height: 20px;
	line-height: 20px;
	padding: 0;
	margin-top: 5%;
	font-size: 12px;
}

#record .btn_notice:hover {
	color: #fff;
}

.main_content {
	width: 100%;
	height: auto;
	min-height: 100%;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

img.tick_style {
	top: 62%;
}

.ponit_word {
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000;
	width: 70%;
	margin: 0 auto;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.6;
}

.sp_style span:nth-child(1) {
	color: #fff;
	font-size: 18px !important;
}

.sp_style span:nth-child(2) {
	color: #FFE97F;
	font-weight: 600;
}

.sp_style span {
	font-size: 24px !important;
}

.line_login_title {
	margin-top: 2%;
	margin-left: -2%;
	margin-bottom: 5%;
}

.small {
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	background-size: cover;
	background-image: url(../img/bar_bg.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 4% 0;
	width: 100%;
	display: inline-block;
}

.title_win_record {
	margin-top: 2%;
	margin-left: -2%;
}

.title_search {
	width: 100%;
	margin-top: 2%;
	margin-left: -2%;
}

.title_win {
	margin-bottom: 4%;
}

.thank_msg {
	width: 112%;
	margin-left: -3%;
	margin-top: 6%;
	margin-bottom: 2%;
}

.little {
	font-size: 14px;
}

.gift_icon_02 {
	width: 36%;
}

/*點擊樣式*/
.after_click {
	filter: grayscale(1);
}

/*活動辦法*/
.event_cont {
	text-align: left;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	max-width: 480px;
	height: 100%;
	max-height: 812px;
	transform: translate(-50%, -50%);
	overflow-y: hidden;
}

.event_cont .popup_content {
	overflow-y: scroll;
	background-image: none;

}

.event_cont .popup_content > div {
	height: auto;
	background-image: url(../img/bg_02.png);
	background-size: 100%;
	background-position: top center;
	background-color: #fff;
	background-repeat: no-repeat;
	overflow-y: auto;
}

.event_title {
	margin-left: 15.5%;
}

.event_cont span {
	display: block;
	width: 100%;
	margin-top: 2%;
	font-size: 18px;
	text-align: justify;
	line-height: 1.2;
	font-weight: 500;
}

.tipe {
	width: 40%;
	margin: 8% auto 2% auto;
}

ul.rule_cont {
	display: block !important;
	opacity: 1 !important;
	text-align: left;
	padding-bottom: 10%;
}

ul.rule_cont li {
	width: calc(100% - 1.5em);
	margin-left: 1.5em;
	margin-bottom: -40px !important;
	list-style: decimal;
	font-size: 16px;
	text-align: justify;
	line-height: 1.5;
	font-weight: 500;
	box-sizing: border-box;
	padding-right: 1.5em;
}

ul.rule_cont li a {
	display: inline-block;
	color: #d81525;
	text-decoration: underline;
}

ul.rule_cont li i {
	color: #d81525;
	text-decoration: underline;
}

ul.rule_cont li::after {
	display: none;
}

/*增加文字*/
.add_word {
	width: 44.2%;
}

/*增加注意事項按鈕*/
.btn_notice_img {
	position: absolute;
	margin-top: 3%;
	right: 2%;
	width: 17%;
}

.gender {
	display: inline-block;
	width: 65%;
	margin: 0;
	text-align: left;
	padding: 0;
	font-size: 0;
}

.gender .button {
	height: 35px;
	padding: 0;
	line-height: 35px;
	text-align: center;
	width: 48.2%;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	margin: 0 1.8% 0 0;
}

.select_outer span {
	display: inline-block;
	vertical-align: text-top;
	margin-top: -15px;
}

.input_style_select {
	display: inline-block;
	width: 65%;
	height: 35px;
	line-height: 35px;
	box-sizing: border-box;
	text-align: left;
	background-color: #fff;
	border-radius: 6px;
	position: relative;
}

.input_style_select select {
	width: 100%;
	height: 35px;
	line-height: 35px;
	position: absolute;
	background-color: transparent;
	padding: 0 5%;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	cursor: pointer;
	left: 0;
	top: 0;
}

.input_style_select::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 5%;
	width: 10px;
	height: 35px;
	line-height: 35px;
	background-image: url(../img/icon_down.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
}

.event_rule {
	width: 115%;
	margin-left: -7.5%;
	margin-bottom: -9%;
}

.gift_list_all {
	width: 115%;
	margin-left: -4%;
}

.margin_top_s {
	margin-top: -3%;
}

/*提示訊息*/
.pop_msg {
	text-align: left;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	max-width: 480px;
	height: 100%;
	max-height: 812px;
	transform: translate(-50%, -50%);
	overflow-y: hidden;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}

.inner_msg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 74%;
	height: 0;
	padding-bottom: 60%;
	background-image: url(../img/inner_msg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
}

.inner_msg.inner_msg_02 {
	background-image: url(../img/inner_msg_02.png);
	padding-bottom: 85%;
}

.inner_msg.inner_msg_02 div {
	padding-bottom: 62%;
}

.inner_msg.inner_msg_02 span {
	display: block;
	width: 70%;
	padding: 2% 0;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 600;
}

.inner_msg.inner_msg_02 span:nth-child(2) {
	border-bottom: 2px dashed #000;
}

.inner_msg.inner_msg_02 div img {
	width: auto;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inner_msg div {
	font-size: 20px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 0;
	margin-top: 22%;
	padding: 0 8% 36% 8%;
}

.inner_msg div span {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	line-height: 1.4;
}

.btn_msg_enter,
.index_msg_enter {
	width: 66%;
	margin: 0 auto;
}

.form_text_02 {
	width: 85%;
}

.inner_msg.inner_msg_02 img.coke_point {
	height: 80%;
	margin-top: 3%;
}

.inner_msg.inner_msg_02 img.coke_pot {
	height: 75%;
	margin-left: 2%;
	margin-top: 7%;
}

.inner_msg.inner_msg_02 img.coke_ice {
	height: 85%;
	margin-top: 2%;
}

.inner_msg_fail {
	width: 55%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.small_gift_name {
	font-size: 14px;
	margin-left: 2%;
	margin-bottom: 1%;
}

.big_gift_name {
	font-size: 24px;

}

.record_coke_pen {
	width: 55% !important;
	margin-left: -5%;
}

.record_coke_ice {
	width: 28% !important;
	margin-left: -8%;
	margin-top: -4%;
}



.sp_style {
	width: 70%;
	margin: 0 auto -4% auto;
	line-height: 1.5;
	position: relative;
}

.sp_style span {
	display: block;
}

.sp_style span:nth-child(1) {
	position: absolute;
	width: 18%;
	left: 0;
	top: 3%;
	;
}

.sp_style span:nth-child(2) {
	width: 80%;
	margin-left: 14%;
}

.record_switch {
	width: 38% !important;
	margin-top: -4%;
}

.record_coke_pot {
	width: 65% !important;
	margin-top: -3%;
}

.thank_title {
	width: 112%;
	margin-left: -5.5%;
	margin-top: 1%;
}

.point_top {
	width: 90%;
	z-index: 2;
	position: relative;
}

.inner_o_box {
	position: relative;
	display: inline-block;
	width: 45%;
	height: 0;
	padding-bottom: 45%;
	border-radius: 999em;
	border: 4px solid #000;
	background-color: #B280B1;
	margin-top: 15%;
	color: #fff;
}

.inner_o_box.after {
	background-color: #949494;
}

.inner_o_box.after a {
	filter: grayscale(5);
}

.inner_o_box a {
	width: 35%;
	top: 80%;
	left: 32.5%;
}

.inner_o_box span:nth-child(2) {
	text-align: center;
	display: block;
	line-height: 1.2;
	font-weight: 600;
	font-size: 14px;
	margin-top: -24%;
}

.inner_o_box img {
	width: 130%;
	position: relative;
	margin-top: -35%;
	margin-left: -20%;
}

.inner_o_box .big_font {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	display: block;
	margin-top: 2%;
}

.record_no {
	font-size: 14px;
	display: block;
	text-align: center;
	margin-top: 5%;
}

.coke_pen div:nth-child(2n+2) {
	margin-left: 3%;

}

.form_bottom {
	position: relative;
	margin: -1px auto 0 2.7%;
	;
	width: 100%;
}

.gift_o {
	width: 80%;
	margin: -8% auto 0 auto;
	padding-bottom: 5%;
}

.gift_o div {
	vertical-align: bottom;
	margin: 10% auto;
}

.record_img_01 {
	background-color: #29A6DD;
	margin-top: 23% !important;
}

.record_img_01 > img {
	width: 55% !important;
	margin-left: 4% !important;
	margin-top: -55% !important;
}

.record_img_01 span:nth-child(2) {
	margin-top: -8%;
}

.record_img_02 {
	background-color: #87C13F;
	margin-top: 20% !important;
}

.record_img_02 > img {
	width: 70%;
	margin-left: 1%;
	margin-top: -42%;
}

.record_img_02 span:nth-child(2) {
	margin-top: -2%;
}

.record_img_03 {
	background-color: #EE9E24;
}

.record_img_03 > img {
	width: 95%;
	margin-left: 20%;
	margin-top: -8%;
}

.record_img_03 span:nth-child(2) {
	margin-top: -5%;
}

.record_img_04 {
	background-color: #FF7BA7;
}

.record_img_04 > img {
	width: 52%;
	margin-left: 0;
}

.record_img_04 span:nth-child(2) {
	margin-top: -4%;
}

.coke_pen {
	margin-top: -12%;
}

/*警示視窗樣式*/
.alert_message {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	max-width: 480px;
	height: 100%;
	max-height: 812px;
	overflow-y: hidden;
	background-color: rgba(0, 0, 0, 0.7);
	transform: translate3d(-50%, -50%, 0px) !important;
}

@media (max-width:480px) {
	.alert_message {
		height: 100%;
		max-height: 100%;
	}
}

.modal-header.bg-info {
	display: none;
}

.modal-content {
	width: 88%;
	height: 0;
	padding-bottom: 70%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/inner_msg.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: 100%;
	border: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.modal-title {
	display: none;
}

.modal-footer {
	border-top: 0;
}

.modal-body {
	display: block;
	width: 100%;
	height: 0;
	position: relative;
	margin-top: 24%;
	box-sizing: border-box;
	padding: 0 8% 30% 8%;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
}

.modal-body p {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 1.2% 8%;
	position: absolute;
	border: none !important;
	line-height: 1.5;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.btn_enter {
	margin: 3% auto;
	display: block;
	background-image: url(../img/btn_enter_s.png);
	background-size: 100%;
	height: 0;
	padding-bottom: 15%;
	background-repeat: no-repeat;
	background-color: transparent;
	overflow: hidden;
	line-height: 100;
	text-indent: -999px;
	width: 66%;
	border: 0 !important;
	cursor: pointer;
}

.btn_enter:hover {
	width: 69%;
}

.btn_enter:hover,
.btn_enter:active,
.btn_enter:focus {
	background-color: transparent !important;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

.btn_get {
	width: 40%;
	margin: 6% auto 0 auto;
}

.btn_get:hover {
	transform: scale(1.05);
}

.search_02 {
	margin-left: 22.5%;
}











.gift_img.mirror img {
	width: 42%;
	top: 42%;
}

.gift_img.pot img {
	width: 65%;
}

.gift_img.ice img {
	width: 45%;
	top: 47%;
}



.gift_img.pot img {
	width: 70%;
	top: 48%;
}

.gift_img.switch img {
	width: 54%;
	top: 47%;
}

.gift_text.record {
	width: 50% !important;
	position: relative;
	margin-left: 50%;
	margin-top: 5%;
	padding-bottom: 20%;
}

.no.record_04 {
	font-size: 22px !important;
	margin-top: -3%;
}

.recrod_mirror {
	width: 32% !important;
	margin-top: -5.5%;
}

img.record_pen {
	width: 40% !important;
	margin-left: -8%;
	margin-top: -3%;
}

.record_ticket {
	width: 30% !important;
	margin-left: -5%;
	margin-top: -3%;
}
