@charset "UTF-8";

html,
body {
	width: 100%;
	overflow-x: hidden !important;
}

.for_m {
	display: none;
}

@media (max-width:768px) {
	.for_pc {
		display: none;
	}

	.for_m {
		display: block;
	}
}

/*form*/
.losec_summa_base input,
.losec_summa_base button,
.losec_summa_base textarea,
.losec_summa_base select,
.losec_summa_base option {
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: none;
	border: 0;
	border-radius: 100em;
	background-color: transparent;
	color: #000;
	font-family: 'Noto Sans TC', sans-serif !important;
	letter-spacing: 1px;
}

.losec_summa_base input[type="button"],
.losec_summa_base input[type="submit"],
.losec_summa_base input[type="reset"] {
	-webkit-appearance: none;
}

.losec_summa_base textarea {
	-webkit-appearance: none;
}

.losec_summa_base textarea:focus,
.losec_summa_base input:focus {
	outline: none;
}

.losec_summa_base * {
	outline: none;
}

.losec_summa_base section {
	width: 100%;
	position: relative;
	display: inline-block;
}

.losec_summa_base select::-ms-expand {
	display: none;
}

.losec_summa_base select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("../images/losec_summa_base/arrow.png") no-repeat scroll 95% center transparent;
	background-size: auto 30%;
	border: 0;
	border-radius: 100em;
	background-color: transparent;
	color: #b8b5b5;
	padding-left: 2%;
}

.losec_summa_base option::-ms-expand {
	display: none;
}

.losec_summa_base option {
	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari 和 Chrome */
	appearance: none;
	background-color: #fff;
	color: #000;
	letter-spacing: 1px;

}

.losec_summa_base option:hover {
	background-color: #e8e8e8;
}

.losec_summa_base ::-webkit-input-placeholder {
	/* Edge */
	color: #b8b5b5;
}

.losec_summa_base :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #b8b5b5;
}

.losec_summa_base ::placeholder {
	color: #b8b5b5;
}

.losec_summa_base input:focus::-webkit-input-placeholder {
	color: #000;
}

.losec_summa_base input:focus:-moz-placeholder {
	color: #000;
}

.losec_summa_base input:focus:-ms-input-placeholder {
	color: #000;
}

.losec_summa_base html,
.losec_summa_base body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.btn_enter,
.btn_buy_now {
	transform: scale(1.0);
	filter: brightness(1);
	transition: all 0.3s ease;
}

.btn_enter:hover,
.btn_buy_now:hover {
	transform: scale(1.05);
	filter: brightness(1.1);
}

/*layout*/

.losec_summa_base {
	position: relative;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	padding-bottom: 0 !important;
}

.losec_summa_base h1,
.losec_summa_base h2,
.losec_summa_base h3,
.losec_summa_base_kv span,
.losec_summa_base_s01 span,
.losec_summa_base_s02 span,
.losec_summa_base_s03 span,
.losec_summa_base_s04 span {
	overflow: hidden;
	line-height: 100;
	text-indent: -999px;
	height: 0;
	display: block;
	background-size: 100%;
	background-repeat: no-repeat;
}

.losec_summa_base section {
	width: 100%;
	position: relative;
}

.losec_summa_base p {
	font-size: 0;
}

/*主視覺*/
.losec_summa_base_kv {
	background-image: url(../images/losec_summa_base/kv_bg.jpg);
	background-size: 100%;
	background-color: #f5efdd;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
}

.losec_summa_base_kv .kv_title_wrap {
	position: relative;
	z-index: 4;
	width: 36.35%;
	text-align: center;
	margin-top: 6%;
	margin-left: 56.75%;
}

.losec_summa_base_kv .kv_sp {
	display: inline-block;
	width: 70.63%;
	height: 0;
	padding-bottom: 19%;
	background-image: url(../images/losec_summa_base/sp_word.png);
	background-repeat: no-repeat;
	text-indent: -999px;
	overflow: hidden;
	line-height: 100;
	margin: 3% 0;
	background-size: 100%;
	position: relative;
	-webkit-mask-image: url(../images/losec_summa_base/sp_word.png);
	mask-image: url(../images/losec_summa_base/sp_word.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.losec_summa_base_kv .kv_sp:before {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: -70%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	-webkit-animation: a 10s linear -20s infinite normal;
	animation: a 10s linear -20s infinite normal;
	content: "";
	z-index: 2;
	display: block;
}

.losec_summa_base_kv .kv_word {
	display: inline-block;
	width: 95%;
	padding-bottom: 27%;
	background-image: url(../images/losec_summa_base/kv_word.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.losec_summa_base_kv .kv_icon {
	width: 100%;
	text-align: center;
}

.losec_summa_base_kv .kv_icon img {
	width: 34.8%;
	display: inline-block;
}

@media (max-width:768px) {
	.losec_summa_base_kv {
		background-image: url(../images/losec_summa_base/kv_bg_m.jpg);
		padding-bottom: 208%;
		overflow: visible;
		z-index: 5;
	}

	.losec_summa_base_kv .kv_title_wrap {
		width: 80%;
		margin-top: 102%;
		margin-left: 10%;
	}

	.losec_summa_base_kv .kv_sp {
		width: 82%;
		padding-bottom: 23%;
		margin: 4% 0 2% 0;
	}

	.losec_summa_base_kv .kv_word {
		display: inline-block;
		width: 100%;
		margin-bottom: 2%;
	}

	.losec_summa_base_kv .kv_icon img {
		width: 33%;
	}
}

/*info_01*/
.losec_summa_base_s01 {
	background-color: #f5efdd;
	text-align: center;
	overflow: hidden;
	margin-top: -1%;
	background-image: url(../images/losec_summa_base/bg_02.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 11.8%;
	margin-bottom: -2%;
}

.losec_summa_base_s01 .info_01 {
	width: 100%;
	position: relative;
	display: inline-block;
}

.losec_summa_base_s01 .info_01 .info_inner {
	width: 69.9%;
	margin-left: 8.4%;
	position: relative;
}

.losec_summa_base_s01 .info_01 h2,
.light_ms {
	background-image: url(../images/losec_summa_base/title_01.png);
	background-size: 100%;
	width: 58%;
	padding-bottom: 16%;
	margin-top: 14.5%;
	z-index: 1;
	position: relative;
}

.light_ms {
	position: absolute;
	top: -21%;
	left: 0;
	background-repeat: no-repeat;
	border: 1px solid red;
	z-index: 2;
	-webkit-mask-image: url(../images/losec_summa_base/title_01_mask.png);
	mask-image: url(../images/losec_summa_base/title_01_mask.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-image: none;
}

.light_ms.move::before {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: -70%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	-webkit-animation: a 10s linear -10s infinite normal;
	animation: a 10s linear -10s infinite normal;
	content: "";
	z-index: 2;
	display: block;
}

.losec_summa_base_s01 .info_text_01 {
	width: 49%;
	padding-bottom: 30%;
    margin-top: 1.5%;
}

.losec_summa_base_s01 .ch_01 {
	position: absolute;
	width: 36%;
	top: 4.5%;
	right: 0;
}

.losec_summa_base_s01 .product_all {
	position: absolute;
	width: 55%;
	height: 0;
	padding-bottom: 50%;
	top: 3.5%;
	left: 10%;
}

.losec_summa_base_s01 .product_all .product_01 {
	background-image: url(../images/losec_summa_base/product_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 31.5%;
	height: 0;
	padding-bottom: 65%;
	position: absolute;
	right: -10%;
	top: 0;
	-webkit-mask-image: url(../images/losec_summa_base/product_01.png);
	mask-image: url(../images/losec_summa_base/product_01.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.losec_summa_base_s01 .product_all .product_01.move::before,
.losec_summa_base_s01 .product_all .product_02.move::before {
	position: absolute;
	width: 20%;
	height: 100%;
	top: 0;
	left: -70%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	-webkit-animation: a 8s linear 1s infinite normal;
	animation: a 8s linear 1s infinite normal;
	content: "";
	z-index: 2;
	display: block;
}


.losec_summa_base_s01 .product_all .product_02 {
	background-image: url(../images/losec_summa_base/product_02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 34.94%;
	height: 0;
	padding-bottom: 55%;
	position: absolute;
	right: 23%;
	top: 48%;
	-webkit-mask-image: url(../images/losec_summa_base/product_02.png);
	mask-image: url(../images/losec_summa_base/product_02.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

@media (max-width:768px) {
	.losec_summa_base_s01 {
		margin-top: -3%;
		background-image: url(../images/losec_summa_base/bg_02_m.jpg);
	}

	.losec_summa_base_s01 .info_01 .info_inner {
		width: 88%;
		margin-left: 6%;
	}

	.losec_summa_base_s01 .info_01 h2,
	.light_ms {
		background-image: url(../images/losec_summa_base/title_01_m.png);
		width: 100%;
		padding-bottom: 31%;
		margin-top: 106%;
	}

	.light_ms {
		position: absolute;
		top: -130%;
		left: 0;
		background-repeat: no-repeat;
		z-index: 2;
		-webkit-mask-image: url(../images/losec_summa_base/title_01_m_mask.png);
		mask-image: url(../images/losec_summa_base/title_01_m_mask.png);
		-webkit-mask-size: 100%;
		mask-size: 100%;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		background-image: none;
	}

	.losec_summa_base_s01 .info_text_01 {
		width: 100%;
		padding-bottom: 2%;
	}

	.losec_summa_base_s01 .ch_01 {
		width: 47%;
		top: 12.5%;
	}

	.losec_summa_base_s01 .product_all {
		position: absolute;
		width: 110%;
		height: 0;
		padding-bottom: 50%;
		top: 4%;
		left: 0%;
	}

	.losec_summa_base_s01 .product_all .product_01 {
		width: 27%;
		right: 0%;
		left: 32%;
		top: 0;
	}

	.losec_summa_base_s01 .product_all .product_02 {
		width: 29%;
		right: auto;
		left: 2%;
		top: 43%;
	}
}

/*info_02*/
.losec_summa_base_s01 .info_02 {
	position: relative;
	width: 100%;
	height: 0;
	display: inline-block;
	padding-bottom: 68%;
}

.losec_summa_base_s01 .info_02 .ch_02 {
	width: 38.75%;
	position: absolute;
	left: 1.05%;
	margin-top: -0.7%;
}

.losec_summa_base_s01 .info_text_02 {
	width: 76.8%;
	position: relative;
	box-sizing: border-box;
	padding-left: 18%;
	margin-top: 29.6%;
}

.losec_summa_base_s01 .info_text_02 span {
	width: 64%;
	background-image: url(../images/losec_summa_base/title_02.png);
	padding-bottom: 18%;
	-webkit-mask-image: url(../images/losec_summa_base/title_02.png);
	mask-image: url(../images/losec_summa_base/title_02.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.losec_summa_base_s01 .info_text_02 span::before {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: -70%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	-webkit-animation: a 15s linear 0s infinite normal;
	animation: a 15s linear 0s infinite normal;
	content: "";
	z-index: 2;
	display: block;
}

.losec_summa_base_s01 .info_text_02 .price {
	width: 36%;
	padding-left: 1.5%;
	padding-top: 1%;
}

.losec_summa_base_s01 .info_text_02 .pic_01 {
	width: 38.4%;
	position: absolute;
	top: -29%;
	left: 78%;
}

.losec_summa_base_s01 .info_text_02 .tag {
	width: 95%;
	padding-left: 1.5%;
	text-align: left;
}

.losec_summa_base_s01 .info_text_02 .tag img {
	display: inline-block;
	padding-top: 8%;
}

.tag_01 {
	width: 21%;
	margin-right: 2%;
}

.tag_02 {
	width: 17%;
	margin-right: 2%;
}

.tag_03 {
	width: 21.4%;
}

.losec_summa_base_s01 .info_text_02 p {
	width: 93%;
	margin-top: 3%;
	display: inline-block;
	background-image: url(../images/losec_summa_base/cont_02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 25%;
	margin-left: -4%;
}

@media(max-width:768px) {
	.losec_summa_base_s01 .info_02 {
		position: relative;
		width: 100%;
		height: 0;
		display: inline-block;
		padding-bottom: 68%;
	}

	.losec_summa_base_s01 .info_02 .ch_02 {
		width: 80%;
		position: absolute;
		left: 1.05%;
		margin-top: 3%;
		z-index: 2;
	}

	.use_01 {
		position: absolute;
		z-index: 3;
		width: 65%;
		right: 0%;
		top: 78%;
	}

	.losec_summa_base_s01 .info_text_02 {
		width: 90%;
		position: relative;
		box-sizing: border-box;
		padding-left: 5%;
		margin-top: 156%;
	}

	.losec_summa_base_s01 .info_text_02 span {
		width: 90%;
		padding-bottom: 32%;
		margin: 4% auto 0 auto;
	}

	.losec_summa_base_s01 .info_text_02 .price {
		width: 100%;
		padding-left: 8%;
		padding-right: 30%;
		padding-top: 0;
		margin-top: -3%;
	}

	.losec_summa_base_s01 .info_text_02 .pic_01 {
		width: 86%;
		top: -85%;
		left: 12%;
		z-index: 5;
	}

	.losec_summa_base_s01 .info_text_02 .tag {
		width: 100%;
		padding-left: 0;
		text-align: left;
		margin-left: 8%;
	}

	.losec_summa_base_s01 .info_text_02 .tag img {
		display: inline-block;
		padding-top: 6%;
	}

	.tag_01 {
		width: 30%;
	}

	.tag_02 {
		width: 25%;
	}

	.tag_03 {
		width: 30%;
	}

	.losec_summa_base_s01 .info_text_02 p {
		width: 90%;
		margin-top: 5%;
		background-image: url(../images/losec_summa_base/cont_01_m.png);
		background-repeat: no-repeat;
		padding-bottom: 60%;
		margin-left: 8%;
	}
}

/*info_03*/
.losec_summa_base_s01 .info_03 {
	display: inline-block;
	width: 100%;
	position: relative;
}

.losec_summa_base_s01 .info_03 .ch_03 {
	position: absolute;
	width: 49.8%;
	margin-top: -9%;
	right: 0;
}

.losec_summa_base_s01 .info_text_03 {
	width: 58%;
	position: relative;
	box-sizing: border-box;
	margin-top: 26.4%;
	margin-left: 28%;
}

.losec_summa_base_s01 .info_text_03 span {
	width: 70%;
	background-image: url(../images/losec_summa_base/title_03.png);
	padding-bottom: 18%;
	margin-left: 32%;
	-webkit-mask-image: url(../images/losec_summa_base/title_03.png);
	mask-image: url(../images/losec_summa_base/title_03.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.losec_summa_base_s01 .info_text_03 span::before {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: -70%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	-webkit-animation: a 15s linear 0s infinite normal;
	animation: a 15s linear 0s infinite normal;
	content: "";
	z-index: 2;
	display: block;
}

.losec_summa_base_s01 .info_text_03 .price {
	width: 63%;
	margin-left: 34%;
	margin-top: 2%;
}

.losec_summa_base_s01 .info_text_03 .pic_02 {
	width: 51.5%;
	position: absolute;
	margin-top: -90%;
	left: -25%;
}

.losec_summa_base_s01 .info_text_03 .tag {
	width: 84%;
	text-align: left;
	margin-top: 8%;
	margin-left: -2%;
}

.losec_summa_base_s01 .info_text_03 .tag img {
	display: inline-block;
}

.tag_04 {
	width: 30%;
	margin-right: 2%;
}

.tag_05 {
	width: 27%;
	margin-right: 2%;
}

.tag_06 {
	width: 35.5%;
}

.losec_summa_base_s01 .info_text_03 p {
	width: 106%;
	display: inline-block;
	background-image: url(../images/losec_summa_base/cont_03.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 25%;
	margin-left: -2%;
}

@media (max-width:768px) {
	.losec_summa_base_s01 .info_03 {
		margin-top: 58%;
	}

	.losec_summa_base_s01 .info_03 .ch_03 {
		width: 85%;
		margin-top: -13.1%;
		z-index: 1;
	}

	.use_02 {
		width: 65%;
		position: absolute;
		z-index: 2;
		top: 13%;
		left: 0;
	}

	.losec_summa_base_s01 .info_text_03 {
		width: 100%;
		position: relative;
		box-sizing: border-box;
		margin-top: 145%;
		margin-left: 0%;
		z-index: 5;
	}

	.losec_summa_base_s01 .info_text_03 span {
		width: 80%;
		padding-bottom: 20%;
		margin-left: 10%;
	}

	.losec_summa_base_s01 .info_text_03 .price {
		width: 54%;
		margin-left: 12%;
		margin-top: 5%;
	}

	.losec_summa_base_s01 .info_text_03 .pic_02 {
		width: 80%;
		top: 0%;
		left: 10%;
		z-index: 5;
	}

	.losec_summa_base_s01 .info_text_03 .tag {
		width: 80%;
		text-align: left;
		margin-top: 8%;
		margin-left: 12%;
	}

	.losec_summa_base_s01 .info_text_03 .tag img {
		display: inline-block;
	}

	.tag_04 {
		width: 35%;
		margin-right: 2%;
	}

	.tag_05 {
		width: 32.5%;
		margin-right: 2%;
	}

	.tag_06 {
		width: 40%;
		margin-top: 3%;
	}

	.losec_summa_base_s01 .info_text_03 p {
		width: 77%;
		display: inline-block;
		background-image: url(../images/losec_summa_base/cont_02_m.png);
		background-size: 100%;
		background-repeat: no-repeat;
		padding-bottom: 64%;
		margin-left: 3%;
		margin-top: 7%;
	}

}

/*section_02*/
.losec_summa_base_s02 {
	background-color: #8a070e;
	background-image: url(../images/losec_summa_base/bg_red.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	overflow-y: hidden;
	height: 0;
	padding-bottom: 44.8%;
}

.lip_pic_left {
	width: 27.7%;
	display: inline-block;
	vertical-align: top;
	margin-left: 4%;
	margin-top: -3%;
}

.lip_center_word {
	width: 39.2%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.lip_pic_right {
	width: 26.6%;
	display: inline-block;
	vertical-align: text-top;
	margin-left: -3%;
	margin-top: 0%;
}

.title_red {
	padding-top: 22%;
	margin-bottom: 12%;
	display: inline-block;
}

.cont_red {
	width: 88%;
	display: inline-block;
}

@media (max-width:768px) {
	.losec_summa_base_s02 {
		background-image: url(../images/losec_summa_base/bg_r_m.jpg);
		padding-bottom: 165%;
	}

	.lip_all {
		width: 100%;
		margin-top: 0;
		margin: auto;
	}

	.lip_pic_left {
		display: none;
	}

	.lip_center_word {
		width: 80%;
		margin-left: 10%;
		display: block;
		vertical-align: top;
		text-align: center;
		margin-top: -86%;
	}

	.lip_pic_right {
		display: none;
	}
}

/*section03*/
.losec_summa_base_s03 {
	background-image: url(../images/losec_summa_base/bg_03.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: -1%;
	padding-bottom: 5%;
}

.lip_info_01 {
	width: 62.6%;
	margin-top: 16.6%;
	margin-left: 14%;
	position: relative;
	padding-top: 3%;
}

.lip_info_01 h2 {
	width: 45%;
	background-image: url(../images/losec_summa_base/lip_title_01.png);
	padding-bottom: 18%;
	position: relative;
	margin-left: 5%;
	    -webkit-mask-image: url(../images/losec_summa_base/lip_title_01.png);
    mask-image: url(../images/losec_summa_base/lip_title_01.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.lip_info_01 h2::before {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: -70%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	-webkit-animation: a 15s linear 0s infinite normal;
	animation: a 15s linear 0s infinite normal;
	content: "";
	z-index: 2;
	display: block;
}


.lip_info_01 .price {
	width: 32%;
	margin-top: 0%;
	margin-left: 6.5%;
}

.lip_info_01 p {
	width: 80%;
	background-image: url(../images/losec_summa_base/lip_cont_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 20%;
	margin-left: 6.5%;
	margin-top: 5%;
}

.lip_info_01 .color_box {
	width: 90%;
	margin: 5% auto 0 auto;
	text-align: center;
}

.lip_info_01 .color_box img {
	display: inline-block;
	width: 15%;
	margin-left: 1%;
	vertical-align: text-top;
}

.lip_info_01 .color_box img:nth-child(even) {
	margin-top: 7%;
}

.lip_info_01 .pic {
	position: absolute;
	top: -13%;
	width: 47%;
	right: -20%;
}

@media (max-width:768px) {
	.losec_summa_base_s03 {
		background-image: url(../images/losec_summa_base/bg_03_m.jpg);
		background-color: #eadec5;
	}

	.lip_info_01 {
		width: 80%;
		margin-top: 95%;
		margin-left: 10%;
		padding-top: 0%;
	}

	.lip_info_01 h2 {
		width: 70%;
		padding-bottom: 30%;
		margin-left: 0%;
	}

	.lip_info_01 .price {
		width: 60%;
		margin-top: 0%;
		margin-left: 3%;
	}

	.lip_info_01 p {
		width: 97%;
		background-image: url(../images/losec_summa_base/lip_cont_01_m.png);
		padding-bottom: 45%;
		margin-left: 2%;
		margin-top: 15%;
	}

	.lip_info_01 .color_box {
		width: 100%;
		margin: 5% auto 0 auto;
		text-align: left;
        font-size: 0;
	}

	.lip_info_01 .color_box img {
		display: inline-block;
		width: 26%;
		margin-left: 2%;
		vertical-align: bottom;
	}

	.lip_info_01 .color_box img:nth-child(even) {
		margin-top: 0%;
	}
    
    .lip_info_01 .color_box img:nth-child(2) {
        width: 26.5%;
	}

	.lip_info_01 .color_box img:nth-child(4) {
		margin-left: 15%;
	}
    
	.lip_info_01 .color_box img:nth-child(5) {
		width: 28%;
	}

	.lip_info_01 .color_box img:nth-child(4),
	.lip_info_01 .color_box img:nth-child(5),
	.lip_info_01 .color_box img:nth-child(6) {
		margin-top: 10%;
	}

	.lip_info_01 .pic {
		position: absolute;
		top: -68.5%;
		width: 90%;
		right: 5%;
	}

}

/*lip_02*/
.lip_info_02 {
	width: 62.6%;
	margin-top: 16.6%;
	margin-left: 24%;
	position: relative;
	padding-top: 8%;
}

.lip_info_02 h2 {
	width: 45%;
	background-image: url(../images/losec_summa_base/lip_title_02.png);
	padding-bottom: 18%;
	position: relative;
	margin-left: 33%;
	    -webkit-mask-image: url(../images/losec_summa_base/lip_title_02.png);
    mask-image: url(../images/losec_summa_base/lip_title_02.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.lip_info_02 h2::before {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: -70%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	-webkit-animation: a 15s linear 0s infinite normal;
	animation: a 15s linear 0s infinite normal;
	content: "";
	z-index: 2;
	display: block;
}



.lip_info_02 .price {
	width: 32%;
	margin-top: 0%;
	margin-left: 34%;
}

.lip_info_02 p {
	width: 61%;
	background-image: url(../images/losec_summa_base/lip_word_02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 10%;
	margin-left: 34%;
	margin-top: 5%;
}

.lip_info_02 .color_box {
	width: 90%;
	margin: 5% auto 0 auto;
	text-align: right;
}

.lip_info_02 .color_box img {
	display: inline-block;
	width: 15%;
	margin-left: 1%;
	vertical-align: text-top;
}

.lip_info_02 .color_box img:nth-child(even) {
	margin-top: 7%;
}

.lip_info_02 .pic {
	position: absolute;
	top: -1%;
	width: 47%;
	left: -34%;
}

.lip_tip {
	width: 90%;
	margin: 2% auto 0 auto;
}

.lip_tip img:nth-child(1) {
	width: 14%;
}

.lip_tip img:nth-child(2) {
	width: 95%;
	margin-left: 4%;
	margin-top: -2%;
	padding-bottom: 5%;
}

@media(max-width:768px) {
	.lip_info_02 {
		width: 80%;
		margin-top: 106%;
		margin-left: 10%;
		padding-top: 0%;
	}

	.lip_info_02 h2 {
		width: 70%;
		padding-bottom: 30%;
		margin-left: 0%;
	}

	.lip_info_02 .price {
		width: 60%;
		margin-top: 0%;
		margin-left: 3%;
	}

	.lip_info_02 p {
		width: 97%;
		background-image: url(../images/losec_summa_base/lip_cont_02_m.png);
		padding-bottom: 35%;
		margin-left: 2%;
		margin-top: 8%;
	}

	.lip_info_02 .color_box {
		width: 100%;
		margin: 5% auto 0 auto;
		text-align: left;
	}

	.lip_info_02 .color_box img {
		display: inline-block;
		width: 26%;
		margin-left: 3%;
		vertical-align: bottom;
	}

	.lip_info_02 .color_box img:nth-child(even) {
		margin-top: 0%;
	}

	.lip_info_02 .color_box img:nth-child(5) {
		width: 26%;
	}

	.lip_info_02 .color_box img:nth-child(4) {
		margin-left: 42%;
	}

	.lip_info_02 .color_box img:nth-child(4),
	.lip_info_02 .color_box img:nth-child(5) {
		margin-top: 10%;
	}

	.lip_info_02 .pic {
		position: absolute;
		top: -58%;
		width: 90%;
		right: 5%;
		left: auto;
	}

	.lip_tip {
		width: 100%;
		margin: -5% auto 0 auto;
	}

	.lip_tip img:nth-child(1) {
		width: 35%;
		margin-bottom: -3%;
	}

	.lip_tip img:nth-child(2) {
		width: 100%;
		margin-left: 4%;
		margin-top: 0%;
		padding-bottom: 5%;
	}
}

/*上市活動*/
.event_time {
	width: 69%;
	height: 0;
	padding-bottom: 6.8%;
	display: block;
	position: relative;
	margin: 10% auto 5% auto;
	overflow: hidden;
}

@keyframes scaleWidth {
	from {
		width: 0;
	}

	to {
		width: 69%;
	}
}

.scaleWidth {
-webkit-animation-name: scaleWidth;
	animation-name: scaleWidth
}

.event_time img {
	height: 100%;
	width: auto;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
}

.set_banner_outer {
	width: 51.9%;
	margin: 0 auto;
}

.set_banner_outer button.slick-next.slick-arrow {
	width: 10%;
	max-width: 10%;
	padding-bottom: 30%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -14%;
	opacity: 1;
	background-image: url(../images/losec_summa_base/arrow_right.png);
	background-size: 100%;
}

.set_banner_outer button.slick-prev.slick-arrow {
	width: 10%;
	max-width: 10%;
	padding-bottom: 30%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -14%;
	opacity: 1;
	background-image: url(../images/losec_summa_base/arrow_left.png);
	background-size: 100%;
}

@media (max-width:768px) {
	.event_time {
		width: 100%;
		padding-bottom: 9%;
		margin: 25% auto 8% auto;
	}

	.event_time img {
		height: 100%;
		width: auto;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.set_banner_outer {
		width: 80%;
		margin: 0 auto 0;
	}

	.set_banner_outer button.slick-next.slick-arrow {
		width: 7%;
		max-width: 7%;
		right: -10%;
	}

	.set_banner_outer button.slick-prev.slick-arrow {
		width: 7%;
		max-width: 7%;
		left: -10%;
	}
}

/*form*/
.losec_summa_base_form {
	padding-top: 5%;
	position: relative;
	z-index: 5;
	overflow: hidden;
	background-image: url(../images/losec_summa_base/bg_04.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.form.losec_summa_base {
	width: 52%;
	margin: 0 auto;
	z-index: 5;
	position: relative;
	overflow: visible;
}

.losec_summa_base_form .form_title {
	width: 53%;
	margin: 6% auto 6.4% 19%;
}

.losec_summa_base_form .form_word {
	width: 90%;
	margin-top: 12%;
	margin-left: -3%;
	margin-bottom: 5%;
}

.form ul,
.form ul li {
	width: 100%;
	text-align: left;
}

.form ul li {
	height: 0;
	padding-bottom: 8%;
	margin-bottom: 1.5vw;
	position: relative;
	background-color: #fff;
	border-radius: 100em;
}

.form ul li input,
.form ul li select {
	height: 4vw;
	line-height: 4vw;
	width: 80%;
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 3vw;
	box-sizing: border-box;
	font-size: 1.5vw;
}

.form ul li select.active {
	color: #000;
}

.losec_summa_base_form .form ul li > div:nth-child(1) {
	width: 100%;
	height: 4vw;
	line-height: 4vw;
	color: #ad0003;
	font-weight: bold;
	box-sizing: border-box;
	padding-left: 5%;
	font-size: 1.5vw;
}

.custom-checkbox {
	width: 100%;
	text-align: left;
	margin-top: 5%;
	padding-left: 0%;
	position: relative;
}

input[type=checkbox] {
	transform: scale(5);
	position: absolute;
	z-index: 2;
	opacity: 0;
	top: 0;
}

.losec_summa_base_form .checkmark {
	position: absolute;
	display: block;
	width: 2vw;
	height: 22vw;
	z-index: 1;
	background-image: url(../images/losec_summa_base/check_box.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.losec_summa_base_form .checkmark.active {
	background-image: url(../images/losec_summa_base/check_after.png);
}

.losec_summa_base_form .check-content {
	width: 100%;
	padding-left: 4%;
	box-sizing: border-box;
	font-size: 2vw;
	display: block;
	position: relative;
	height: 2vw;
	margin-top: 8%;
}

.check-content img {
	width: 45%;
	margin-top: 0.1vw;
	position: absolute;
	left: 5%;
}

.check-content-notice img {
	width: 94%;
	margin-left: 5.1%;
	padding-top: 4%;
}

.losec_summa_base_form .btn_enter {
	display: block;
	width: 33%;
	margin: 9% auto 6% auto;
}

.losec_summa_base_form .event_word {
	width: 112%;
	height: 0;
	padding-bottom: 20%;
	margin-left: -6%;
	background-image: url(../images/losec_summa_base/event_word.png);
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	line-height: 100;
	text-indent: -999px;
}

.losec_summa_base_form .event_word.add_notice {
	padding-bottom: 55%;
	background-image: url(../images/losec_summa_base/notice_word.png);
}


@media (max-width:768px) {

	/*form*/
	.losec_summa_base_form {
		padding-top: 0%;
		background-image: url(../images/losec_summa_base/bg_04_m.jpg);
		background-size: 100%;
	}

	.form.losec_summa_base {
		width: 90%;
		margin: 0 auto;
		padding-top: 6%;
	}

	.form.losec_summa_base.form.losec_summa_base .form_title {
		width: 70%;
        margin-left: 11%
	}

	.form.losec_summa_base.form ul li {
		height: 0;
		padding-bottom: 10%;
		margin-bottom: 3vw;
	}

	.form.losec_summa_base.form ul li input,
	.form.losec_summa_base.form ul li select {
		height: 8.6vw;
		line-height: 8.6vw;
		width: 76%;
		padding-left: 5%;
		font-size: 2.8vw;
	}

	.form.losec_summa_base.form ul li > div:nth-child(1) {
		width: 100%;
		height: 8.6vw;
		line-height: 8.6vw;
		font-size: 2.8vw;
	}

	.losec_summa_base_form .custom-checkbox {
		width: 100%;
		text-align: left;
		margin-top: 5%;
		padding-left: 0%;
		position: relative;
	}

	.losec_summa_base_form .checkmark {
		position: absolute;
		display: block;
		width: 4vw;
		height: 4vw;
		z-index: 1;
		left: 2%;
		top: -5%;
	}

	.losec_summa_base_form .check-content img {
		width: 50%;
		left: 9%;
	}

	.losec_summa_base_form .check-content-notice img {
		width: 90%;
		margin-left: 9%;
		padding-top: 6%;
	}

	.losec_summa_base_form .btn_enter {
		display: block;
		width: 40%;
		margin: 10% auto;
	}

	.losec_summa_base_form .event_word {
		width: 90%;
		height: 0;
		padding-bottom: 25%;
		margin-left: 5%;
		background-image: url(../images/losec_summa_base/event_word_m.png);
	}


	.losec_summa_base_form .event_word.add_notice {
		padding-bottom: 45%;
		background-image: url(../images/losec_summa_base/notice_word_m.png);
	}

}

/*bluemune_essence_suggestion*/
.losec_summa_base_suggestion {
	padding-top: 4%;
	height: 0;
	padding-bottom: 54%;
	margin-top: -8%;
	z-index: 5;
	background-image: url(../images/losec_summa_base/bg_04.jpg);
	background-position: bottom center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.losec_summa_base_suggestion h3 {
	width: 24%;
	padding-bottom: 14%;
	background-image: url(../images/losec_summa_base/sug_title.png);
	margin: 0 auto;
}

.losec_summa_base_suggestion .set_outer {
	width: 68%;
	margin: 0 auto 12% auto;
}

.losec_summa_base_suggestion .set_outer div {
	padding: 0 0.2%;
}

.losec_summa_base_suggestion .set_outer div img{
    width: 95%;
}

.losec_summa_base_suggestion button.slick-next.slick-arrow {
	width: 8%;
	max-width: 8%;
	padding-bottom: 22%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;
	background-image: url(../images/losec_summa_base/arrow_right.png);
	background-size: 100%;
	left: auto;
	right: -10%;
}

.losec_summa_base_suggestion button.slick-prev.slick-arrow {
	width: 8%;
	max-width: 8%;
	padding-bottom: 22%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;
	background-image: url(../images/losec_summa_base/arrow_left.png);
	background-size: 100%;
	left: -10%;
}


@media (max-width:768px) {
	.losec_summa_base_suggestion {
		padding-top: 8%;
		height: 0;
		padding-bottom: 145%;
	}

	.losec_summa_base_suggestion h3 {
		width: 60%;
		padding-bottom: 35%;
	}

	.losec_summa_base_suggestion .set_outer {
		width: 70%;
		padding-left: 2%;
	}

	.losec_summa_base_suggestion .set_outer div {
		margin: 0;
		padding: auto;
	}

	.losec_summa_base_suggestion .slick-list {
		overflow: visible !important;
	}

	.losec_summa_base_suggestion button.slick-next.slick-arrow {
		display: none !important;

	}

	.losec_summa_base_suggestion button.slick-prev.slick-arrow {
		display: none !important;
	}


	/* Dots */
	.losec_summa_base_suggestion .slick-dotted.slick-slider {
		margin-bottom: 0;
	}

	.losec_summa_base_suggestion .slick-dots {
		position: absolute;
		bottom: -10%;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;
	}

	.losec_summa_base_suggestion .slick-dots li {
		position: relative;
		display: inline-block;
		width: 3.5%;
		height: 0;
		margin: 0 3%;
		padding: 0 0 4% 0;
		cursor: pointer;
	}

	.losec_summa_base_suggestion .slick-dots li button {
		font-size: 0;
		line-height: 0;
		display: block;
		width: 90%;
		height: 0;
		padding-bottom: 60%;
		border-radius: 2rem;
		cursor: pointer;
		color: transparent;
		border: 0;
		outline: none;
		background: transparent;
		position: relative;
		margin: 0 auto;

	}

	.losec_summa_base_suggestion .slick-dots li button:hover,
	.losec_summa_base_suggestion .slick-dots li button:focus {
		outline: none;
	}

	.losec_summa_base_suggestion .slick-dots li button:hover:before,
	.losec_summa_base_suggestion .slick-dots li button:focus:before {
		opacity: 1;
	}

	.losec_summa_base_suggestion .slick-dots li button:before {
		position: absolute;
		top: 0;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		content: '';
		text-align: center;
		opacity: 1;
		color: transparent;
		background-color: #fff;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		border-radius: 200%;
		left: 50%;
		transform: translateX(-50%);
		transition: 0.5s;
		border: 2px solid #ae9557;
	}

	.losec_summa_base_suggestion .slick-dots li.slick-active button:before {
		opacity: 1;
		background-color: #ae9557;
		width: 100%;
	}
}

/* popup */
.popup_wrap.losec_summa_base {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 99999;
    transform: translate(0,0);

}

.popup_wrap.losec_summa_base .pop {
	width: auto;
	max-width: auto;
	height: auto;
	max-height: auto;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.popup_wrap.losec_summa_base .popup_send {
	width: 100%;
	height: auto;
}

.popup_wrap.losec_summa_base .popup_close {
	width: 9%;
	max-width: 9%;
	height: auto;
	display: block;
	position: absolute;
	top: 2%;
	right: 2%;
	cursor: pointer;
	z-index: 5;
}

@media(max-width:768px) {
	.popup_wrap.losec_summa_base .pop {
		width: 80%;
		max-width: 80%;
	}
}
