
/*-----------------------------------------------
     Import
-----------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('fullpage.css');
@import url('swiper.css');
@import url('animate.min.css');
@import url('swiper-bundle.min.css');


/*-----------------------------------------------
    reset
-----------------------------------------------*/
* , *::before , *::after ,h1 ,h2 , h3 , h4 , h5 , h6 , p ,button a ,li a ,.df-form
{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP','Noto Sans TC', 'Microsoft JhengHei', Arial,  sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}


@media screen and (max-width:768px)
{
    * , *::before , *::after ,h1 ,h2 , h3 , h4 , h5 , h6 , p ,button a ,li a ,.df-form
    {
        font-size: 15px;
    }
}

html ,body
{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button , select , textarea , option , input
{
    line-height: inherit;
    border: 0;
    border-style: none;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    background: transparent;
}

html , body , header , section , article , footer ,button ,li , .df-width
{
    position: relative;
}
button::-moz-focus-inner ,input::-moz-focus-inner
{
    padding: 0;
    border: 0;
}

h1 , h2 , h3 , h4 , h5 , h6 , .h1 , .h2 , .h3 , .h4 , .h5 , .h6 , p ,button a ,li a ,.df-form
{
    margin: 1% auto;
    line-height: 1.8;
    font-weight: normal;
    word-wrap: break-word;
    word-break: break-all;;
}


/*-----------------------------------------------
    link
-----------------------------------------------*/

a , a:active , a:hover , a:focus
{
    color: #000;
    -webkit-user-select: none;
    transition: all .3s;
    text-decoration: none;
    pointer-events: auto;
    outline: 0;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


/*-----------------------------------------------
    df-img
-----------------------------------------------*/

img
{
    border: 0;
    border-style: none;
    vertical-align: middle;
}


img ,.img-rwd ,.img-rwd > img ,.img-rwd > a > img ,
ul.img-rwd > li > img ,li > img ,li > a > img
{
    max-width: 100%;
}

.img-auto
{
    max-width: initial;
}
/*-----------------------------------------------
    df-button
-----------------------------------------------*/
button
{
    margin: 20px auto;
    min-width: 50px;
    min-height: 30px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
}

button a
{
    display: block;
    padding: 0 10px;
    width: 100%;
}
/*-----------------------------------------------
    df-list
    clear-both
-----------------------------------------------*/

ul
{
    height: 100%;
}

ol
{
    padding: 0 0 0 10%;
}

ul li
{
    list-style: none;
}

li a
{
    display: block;
    width: 100%;
    overflow: hidden;
}

ol > li > a
{
    color: #007bff;
    text-decoration: none;
}


.clearfix:after{
  content:'';
  display:table;
  clear:both;
}

@media screen and (max-width:768px)
{
    ol > li , .ol > li > a
    {
        font-family: 'Microsoft JhengHei', serif;
    }
}




        ::-webkit-scrollbar {
            width: 0;
            height: 0;
        }


/*-----------------------------------------------
    logo + call
-----------------------------------------------*/

.logo {
    display: block;
    position: fixed;
    left: 0px;
    top: 0.5%;
    z-index: 20;
    max-width: 19%;
    cursor: pointer;
}

.call {
    display: block;
    position: fixed;
    right: 8%;
    top: 0;
    z-index: 20;
    max-width: 13%;
}

@media screen and (max-width:1280px) {
    
    .logo {
    max-width: 17%;
}

    .call{
      max-height: 7%;
      max-width: 10%;
    }
}

@media screen and (max-height: 800px) {  
    .logo {
    max-width: 15%;
    
}

    .call{
      max-height: 10%;
      max-width: 10%;
     right: 2.5%;
    }
}

    
@media screen and (max-width:768px) {
    .logo {
        top: 0.2%;
        max-width: 35%;
    }
    .call {
        right: 2.5%;
        top: 0;
        max-width:20%;
}
}

/*-----------------------------------------------
     text
-----------------------------------------------*/

h1,
h2 {
    color: #f1355f;
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    font-weight: 400;
}

/*-----------------------------------------------
     sec1
-----------------------------------------------*/

.kv-box {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto 0;
    padding: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
}


.pic01 {
    position: absolute;
    left: 0;
    top: 25%;
    z-index: 20;
    max-width: 17%;
}
.pic02 {
    position: absolute;
    left: 21%;
    top: 11%;
    z-index: 20;
    max-width: 27%;
}
.pic03 {
    position: absolute;
    left: 50%;
    top: 17%;
    z-index: 20;
    max-width: 25%;
}
.pic04 {
    position: absolute;
    left: 70%;
    top: 31.5%;
    z-index: 22;
    max-width: 18%;
}
    .pic01_m,.pic02_m,.pic03_m{
        display: none;
    }

@media screen and (max-width:768px) {

    .pic01,.pic02,.pic03,.pic04 {
        display: none;
    }


.pic01_m {
    display: block;
    position: absolute;
    left: 0;
    top: 23%;
    z-index: 20;
    max-width: 15%;
}
.pic02_m {
    display: block;
    position: absolute;
    left: 19%;
    top: 15%;
    z-index: 20;
    max-width: 44%;
}
.pic03_m {
    display: block;
    position: absolute;
    left: 8%;
    top: 65%;
    z-index: 20;
    max-width: 50%;
}




}

@media screen and (max-width:480px) {
    .kv_m{
        width: 80%;
    }



.pic01_m {
    left: 0;
    top: 20%;
    max-width: 20%;
}
.pic02_m {

    left: 24%;
    top: 12%;
    max-width: 55%;
}
.pic03_m {
    left: 8%;
    top: 60%;
    max-width: 80%;
}



}
/*-----------------------------------------------
    sec_con
-----------------------------------------------*/

.tit{
    display: block;
    position: absolute;
    left: 4%;
    bottom: 0%;
    z-index: 20;
    max-width: 3.5%; 
}
.section.active .tit{
    display: block;
    position: absolute;
    left: 4%;
    bottom: 0%;
    z-index: 20;
    max-width: 3.5%; 
    -webkit-animation:slideInUp 0.8s ease 1s both;
}


.tit{ 
    text-align: right;
    float: right;
}

.section.active .tit>img{ 
    text-align: right;
    float: right;
}


.tit_m{
    display: none;
}
.section.active .tit_m{
    display: none;
}

@media screen and (max-width:1280px) {
    .tit{
      max-height: 75%;
    }
}
@media screen and (max-height: 800px) { 
    .tit{
      max-height: 73%;
    }
 }

@media screen and (max-width:768px) {

    .tit{
        display: none;
    }
    .section.active .tit{
        display: none;
    }
    .tit_m{
        display: block;
        position: absolute;
        left: 10%;
        top: 15%;
        z-index: 20;
        max-width: 90%; 
    }
    .section.active .tit_m{
        display: block;
        position: absolute;
        left: 10%;
        top: 15%;
        z-index: 20;
        max-width: 90%; 
        -webkit-animation:slideInRight 0.8s ease 1s both;
    }
}

@media screen and (max-width:480px) {
    .tit_m{
        left: 10%;
        top: 11%;
    }
    .section.active .tit_m{
        left: 10%;
        top: 12%;
    }
}

.price{
    display: block;
    position: absolute;
    left: 10%;
    bottom: 0%;
    z-index: 20;
    max-width:80%;
}

.section.active .price{
    -webkit-animation:fadeIn 1s ease 1.5s both;
}

.price_m{
    display: none;
}

@media screen and (max-width:1280px) {
    .price{

        max-width: 75%;
}

}
@media screen and (max-height: 800px) { 
        .price{
            max-width: 70%;
    }
}

@media screen and (max-width:768px) {
    .price{
        display: none;
    }
    .price_m{
        display: block;
        position: absolute;
        left:4%;
        top: 21%;
        z-index: 20;
        max-width: 70%; 
    }
    .section.active .price_m{
    -webkit-animation:fadeIn 1s ease 1.5s both;
}

}

@media screen and (max-width:480px) {
    .price_m{
        display: block;
        position: absolute;
        left:2%;
        top: 25%;
        z-index: 20;
        max-width: 88%; 
    }
}
.about{
    display: block;
    position: absolute;
    left: 12%;
    bottom: auto;
	top: 56%;
	transform: translateY(-50%);
    z-index: 20;
    max-width: 80%; 
}
.section.active .about{
    -webkit-animation:fadeIn 1s ease 1.5s both;
}

.about_m{
    display: none;
}

@media screen and (max-width:1280px) {
    .about{
        max-width: 75%; 
    }
}

@media screen and (max-height: 800px) { 
    .about{
        max-width: 70%; 
    }
}

@media screen and (max-width:768px) {
    .about{
        display: none;
    }

    .about_m{
        display: block;
        position: absolute;
        left:4%;
        top: 21%;
        z-index: 20;
        max-width: 75%; 
    }
        .section.active .about_m{
    -webkit-animation:fadeIn 1s ease 1.5s both;
}
}

@media screen and (max-width:480px) {
    .about_m{
        display: block;
        position: absolute;
        left:2%;
        top: 18%;
        z-index: 20;
        max-width: 78%; 
    }
}

@media screen and (max-width:380px) {
    .about_m{
        left:2%;
        top: 17%;
        max-width: 83%; 
    }
}
.social{
    display: block;
    position: absolute;
    left: 76.5%;
    bottom: 14%;
    z-index: 20;
    width: 180px;
    max-width: 12%;
}

.social img:hover{
	transform: scale(1.1);
}
.section.active .social{
    -webkit-animation:fadeIn 1s ease 1.5s both;
}
.fb{
    display: block;
    position: relative;
    float: left;
    max-width: 18%;
    margin: 0 7.5%; 
}

.fb>img{
    width: 100%;
    height: auto;
}

@media screen and (max-width:768px) {
.social{
    display: block;
    position: absolute;
    left: 68%;
    top: auto;
    bottom: 10%;
    z-index: 20;
    width: 180px;
    max-width: 5%;
}
.section.active .social{
    -webkit-animation:fadeIn 1s ease 1.5s both;
}

.fb{
    display: block;
    position: relative;
    float: left;
    max-width: 90%;
    margin: 15% 5%; 
}

.fb>img{
    width: 100%;
    height: auto;
}

}

@media screen and (max-width:480px) {
.social{
    display: block;
    position: absolute;
    left: 68%;
    top: auto;
    bottom: 10%;
    z-index: 20;
    width: 180px;
    max-width: 5%;
}

.fb{
    display: block;
    position: relative;
    float: left;
    max-width: 90%;
    margin: 15% 5%; 
}

.fb>img{
    width: 100%;
    height: auto;
}

}


@media screen and (max-width:380px) {
    .social{
        left: 72%;
        top: auto;
        bottom: 19%;
    }
}



.swiper_con{
    width: 80%;
    padding-bottom:6%;
    display: block;
    position: absolute;
    left: 10%;
    top: 47%;
    overflow:hidden;
    transform: translate(0%, -50%);

}

.section.active .swiper_con{
    -webkit-animation:fadeIn 1s ease 1.5s both;
}


.swiper-slide{
/*     filter:blur(4px) brightness(0.7); */
    margin: 0 0.2%;
    z-index: 20;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
         transform: scale(0.9) ;
}


      .swiper-slide img {
        display: block;
        width: 100%;
      }


.swiper-slide-active{
   filter: none;
   z-index: 22;
   transform: scale(1);
   bottom: 0;
}

  .swiper {
        width: 100%;
        height: 100%;
      }


.swiper-horizontal>.swiper-scrollbar {
    bottom: -15%;
    width: 100%;
    background: rgba(255,255,255,1);
    height: 1.5px;
}     

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(255,255,255,1);
    height:0;
	padding-bottom: 0.5%;
    border-radius: 0px;
    margin-top: -0.2%;

}


.swiper-button-next{
   right: 0%;
}

.swiper-button-prev{
    right: 5%;
    left: auto;
}

.swiper-button-next, .swiper-button-prev{
    color: unset ;
    content: '';
    top: auto;
    bottom: -21%;
    width:4%;
    height: auto;
    z-index: 55;
    margin-top: 2%;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: ''; 
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: ''; 
}

@media screen and (max-width:768px) {
    .swiper-button-next, .swiper-button-prev, .swiper-scrollbar{
        display: none;
    }
}

@media screen and (max-width:768px) {
    .swiper_con{
        left: 0%;
        width: 100%;
    }
        .swiper-slide {
        max-width: 700px;
        margin: auto;
        cursor: pointer;
        min-height: 500px;
        left: 0%;
    }
}

/*-----------------------------------------------
    df-width
-----------------------------------------------*/

.df-width {
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 768px;
}


/*-----------------------------------------------
    btn-fb
-----------------------------------------------*/

.btn-fb a {
    position: absolute;
    top: 27%;
    right: 7%;
    /*! background: #5555558f; */
    z-index: 10;
    width: 40%;
    height: 26%;
    overflow: hidden;
    text-indent: -300%;
}

@media screen and (max-width:768px) {
    .btn-fb a {
        position: absolute;
        top: 8%;
        right: 48%;
        /*! background: #5555558f; */
        z-index: 10;
        width: 40%;
        height: 26%;
        overflow: hidden;
        text-indent: -300%;
    }
}

/*-----------------------------------------------
    section-hover
-----------------------------------------------*/

.section.active {
    /* -webkit-animation: scaleA 1s ease 0s both; */
}

.no-effect.active {
    -webkit-animation: scaleA 0s ease both;
}

.scaleB {
    -webkit-animation: scaleB .5s ease 1.5s both;
}


.section.active .fp-controlArrow.fp-prev {
    -webkit-animation: moveIn-L .5s cubic-bezier(.250, .460, .450, .940) .8s both;
}

.section.active .fp-controlArrow.fp-next {
    -webkit-animation: moveIn-R .5s cubic-bezier(.250, .460, .450, .940) .8s both;
}


.slide.active {
    -webkit-animation: scaleA 1s ease 0s both;
}



@-webkit-keyframes scaleA {
    0% {
        -webkit-transform: scale(1.4);

        filter: blur(5px);
    }

    100% {
        -webkit-transform: scale(1);

        filter: blur(0px);
    }
}

@-webkit-keyframes scaleB {
    0% {
        -webkit-transform: scale(1.4);

        filter: blur(5px);
    }

    100% {
        -webkit-transform: scale(1);

        filter: blur(0px);
    }
}

@-webkit-keyframes moveIn-L {
    0% {
        transform: translate3d(-500px, 0px, 0);
    }

    100% {
        transform: translate3d(0, 0px, 0);
    }
}

@-webkit-keyframes moveIn-R {
    0% {
        transform: translate3d(500px, 0px, 0);
    }

    100% {
        transform: translate3d(0, 0px, 0);
    }
}

/*-----------------------------------------------
    canvas
-----------------------------------------------*/

@-webkit-keyframes snowshow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


div>canvas {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: snowshow 1s ease both;
    pointer-events: none;
}

@media screen and (max-width:768px) {
    div>canvas {
        display: none;
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
        -webkit-animation: snowshow 0s ease both;
    }
}

/*  pc-layout
-------------------------------------------------
    - html,body
    - header
    - section
    - footer
-------------------------------------------------*/

html,
body {
    background: url(../images/BG.jpg) no-repeat center top;
    background-size: cover;
}

/*prelodd*/
body::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    width: 1px;
    height: 1px;
    content: '';
}

.section {
    overflow: hidden;
}

.footer {
    margin: auto 0;
    width: 100%;
    height: 85px;
    line-height: 85px;
    border: 0;
    text-align: center;
    background: #000000;
    color: #fff;
}

@media screen and (max-width:768px) {
    html,
    body {
        background: url(../images/mobile_bg.jpg);
        background-size: cover;
    }

    .footer {
        margin: auto 0;
        width: 100%;
        height: 85px;
        border: 0;
        text-align: center;
    }
}


/*-----------------------------------------------
    page-frame
-----------------------------------------------*/
.pages {
    position: relative;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*! border-bottom: 1px solid #3c3a38; */
    /*    background-repeat: no-repeat;
    background-position: center 10%;*/
}


.wrap-box {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto 0;
    padding: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
    max-width: 1500px;
}



.top {
    background-image: url(../images/index_01.jpg);
    background-position: center 0;
}



@-webkit-keyframes bg_ {
    0% {
        opacity: 0;

        filter: brightness(1);
    }

    10%,
    15% {
        opacity: 1;
        filter: brightness(1.5);
    }

    16%,
    49% {
        opacity: 0;

        filter: brightness(1);
    }

    50%,
    55% {
        opacity: 1;

        filter: brightness(1.5);
    }

    56%,
    100% {
        opacity: 0;

        filter: brightness(1);
    }
}


.portfolio {
    background-image: url(../images/BG.jpg);
    background-position: center 0;
}

.prce {
    background-image: url(../images/BG.jpg);
    background-position: center 0;
}

.aboutus {
    background-image: url(../images/BG.jpg);
    background-position: center 0;
}

@media screen and (max-width: 1800px){
    .portfolio, .prce, .aboutus {
        background-size: cover;
    }
}

/*---------------------------------------
             right-button
-----------------------------------------*/

.scroll_outer {
    position: absolute;
    z-index: 2;
    width: 0.7%;
    right: 1.8%;
    bottom: 3%;
}

.scroll_outer i {
    display: inline-block;
    background-color: #fff;
    width: 1px;
    height: 0;
    padding-bottom: 1000%;
    vertical-align: middle;
    margin-left: calc(50% - 0.5px);
    animation: scroll_line 3.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.scroll {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

@keyframes scroll_line {
    0% {
        transform: scaleY(0);
        transform-origin: top center;
    }

    49% {
        transform: scaleY(1);
        transform-origin: top center;
    }

    50% {
        transform: scaleY(1);
        transform-origin: bottom center;
    }

    100% {
        transform: scaleY(0);
        transform-origin: bottom center;
    }

}

.section.active .scroll{
    animation: scroll 1.5s infinite;
    -webkit-animation: scroll 1.5s infinite;
    -moz-animation: scroll 1.5s infinite;
    -ms-animation: scroll 1.5s infinite;
}

.gotop{
    position: absolute;
    right: 1.2%;
    bottom: 2.5%;
    z-index: 22;
    width: 2%;
    max-width: 0.8%;
    cursor: pointer;
}

/* .section.active .gotop{
    animation: scroll 1.5s infinite;
    -webkit-animation: scroll 1.5s infinite;
    -moz-animation: scroll 1.5s infinite;
    -ms-animation: scroll 1.5s infinite;
} */

@keyframes scroll {
    0% {
        margin-bottom: 0%;
    }

    50% {
        margin-bottom: 1%;
    }

    100% {
        margin-bottom: 0%;
    }
}

.full_pre{
    position: absolute;
    right: 0.5%;
    top: 5%;
    z-index: 22;
    max-width: 2%;
    cursor: pointer;
}

.full_next{
    position: absolute;
    right: 1.5%;
    bottom: 5%;
    z-index: 22;
    max-width: 2%;
    cursor: pointer;
}

.section.active .full_pre, .section.active .full_next{
    -webkit-animation:fadeIn 0.5s ease 1s both;
}

@media screen and (max-width:768px){

    .scroll_outer {
        width: 3%;
        right: 2.5%;
        max-width: 2.5%;   
    }

    .full_pre{
        position: absolute;
        right: 1%;
        top: 22%;
        z-index: 22;
        max-width: 2.5%;
    }

    .full_next{
        right: 3%;
        bottom: 22%;
        max-width: 2.5%;
    }

    .gotop{
        position: absolute;
        right: 2.5%;
        max-width: 2.5%;   
    }
}

@media screen and (max-width:480px){

    
    .gotop{
        position: absolute;
        right: 2.5%;
        max-width: 2.5%;   
    }
    .full_pre{
        position: absolute;
        right: 1%;
        top: 22%;
        z-index: 22;
        max-width: 2.5%;
    }

    .full_next{
        right: 3%;
        bottom: 22%;
        max-width: 2.5%;
    }
}


#fp-nav {
            touch-action: none;
        }



