@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");

html,body{
    overflow-x: hidden !important;
}

/*動畫*/
@keyframes slideInLeft4 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.slideInLeft4 {
    -webkit-animation-name: slideInLeft4;
    animation-name: slideInLeft4;
}

@-webkit-keyframes slideInRight4 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInRight4 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.slideInRight4 {
    -webkit-animation-name: slideInRight4;
    animation-name: slideInRight4;
}


.about_wrap {
    font-family: 'Noto Serif TC', sans-serif !important;
    background-image: url(../images/about/bg.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}

.about_wrap .for_m {
    display: none;
}

@media (max-width:768px) {
    .about_wrap .for_m {
        display: block;
    }

    .about_wrap .for_pc {
        display: none;
    }
}

.about_wrap h1,
.about_wrap h2,
.about_wrap h3 {
    height: 0;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -999px;
    line-height: 100;
}

/*abour-kv*/
.about_kv {
    background-image: url(../images/about/kv_bg.jpg);
    background-color: #f5eede;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center -100px;
    text-align: center;
}

.about_center {
    width: 47.8%;
    margin: 8.3% auto 9% auto;
    position: relative;
    z-index: 2;
}

.kv_title {
    display: block;
    width: 100%;
    padding-bottom: 8%;
    background-image: url(../images/about/kv_title.png);
}

.kv_word {
    background-image: url(../images/about/kv_word.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 76.14%;
    height: 0;
    padding-bottom: 20%;
    margin: 6.5% auto 0 auto;
    overflow: hidden;
    text-indent: -999px;
    line-height: 100;
}

.door_left,
.door_right {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 44%;
}

.door_left {
    left: -21%;
}

.door_right {
    right: -21%;
}

@media (max-width:768px) {
    .about_kv {
        background-image: url(../images/about/kv_bg_m.jpg);
        background-position: center top;
        position: relative;
    }

    .about_center {
        width: 80%;
        margin: 11% auto 9% auto;
        z-index: 2;
    }

    .kv_title {
        padding-bottom: 32%;
        background-image: url(../images/about/kv_title_m.png);
    }

    .kv_word {
        background-image: url(../images/about/kv_word_m.png);
        width: 111%;
        height: 0;
        padding-bottom: 45%;
        margin: 4% auto 0 -5%;
    }

    .door_left,
    .door_right {
        top: 0;
        width: 22%;
    }

    .door_left {
        left: 0%;
    }

    .door_right {
        right: 0%;
    }
}

/*about_pic*/
.about_pic {
    width: 75.3%;
    margin: -5% auto 0 auto;
}

@media (max-width:768px) {
    .about_pic {
        width: 90%;
        z-index: 2;
        position: relative;
        margin: 0% auto 0 auto;
    }
}

/*about_content*/
.about_content {
    text-align: center;
}

.about_content > h2.title_02 {
    width: 53.9%;
    padding-bottom: 10.5%;
    background-image: url(../images/about/title_02.png);
    margin: 4% auto 4.5% auto;
}

.about_content .inner_wrapper {
    width: 75.3%;
    position: relative;
    margin: 0 auto;

}

.about_content .inner_wrapper > div {
    width: 100%;
    text-align: center;
    font-size: 0;
    margin: 0 auto;
}

.about_content .inner_wrapper > div p {
    font-size: 1.15vw;
    text-align: justify;
    width: 96%;
    line-height: 1.6;
}

.about_content .inner_wrapper > div span {
    font-size: 1.5vw;
    text-align: left;
    width: 96%;
    color: #886137;
    font-weight: bold;
    display: block;
    margin-bottom: 1%;
}

.content_left,
.content_right {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    text-align: left;
    font-size: 2vw !important;
}

.dec_line {
    margin: 6% auto;
}

@media (max-width:768px) {

    /*about_content*/

    .about_content > h2.title_02 {
        width: 95%;
        padding-bottom: 27%;
        background-image: url(../images/about/title_01_m.png);
        margin: 10% auto 0 auto;
    }

    .about_content .inner_wrapper {
        width: 95%;
    }

    .about_content .inner_wrapper > div p {
        font-size: 3.5vw;
        text-align: justify;
        width: 100%;
        line-height: 1.6;
        box-sizing: border-box;
        padding: 0 5%;
    }

    .about_content .inner_wrapper > div span {
        font-size: 4.2vw;
        text-align: left;
        width: 96%;
        margin-bottom: 3%;
    }

    .content_left,
    .content_right {
        display: block;
        margin: 0 auto;
        width: 90%;
        font-size: 2vw !important;
    }

    .dec_line {
        display: none;
    }
}

/*about_logo*/
.about_logo .content_left img {
    width: 111%;
    margin-left: -8%
}

.about_logo .content_right {
    box-sizing: border-box;
    padding: 0 0 0 3.5%;
}

.about_t_01 {
    width: 100%;
    margin: 0;
    padding-bottom: 19%;
    background-image: url(../images/about/about_t_01.png);
}

/*about_design*/
.about_design .content_left {
    box-sizing: border-box;
    padding: 0 3.5% 0 0;
}

.about_t_02 {
    width: 100%;
    margin: 0;
    padding-bottom: 19%;
    background-image: url(../images/about/about_t_02.png);
}

.about_design .content_left span:nth-child(4) {
    display: block;
    margin-top: 6%;
}

.about_design .content_right {
    box-sizing: border-box;
    padding: 0 5%;
}

/*about_spokesperson*/
.about_spokesperson .content_left {
    margin-bottom: -19%;

}

.about_spokesperson .content_left > img {
    width: 125%;
    margin-left: -25%;
    margin-top: -33%;
}

.about_t_03 {
    width: 100%;
    margin: 0;
    padding-bottom: 19%;
    background-image: url(../images/about/about_t_03.png);
}

.about_spokesperson .content_left {
    box-sizing: border-box;
    padding: 0 3.5% 0 0;
}

@media (max-width:768px) {
    /*about logo*/
    .about_logo .content_right {
        box-sizing: border-box;
        padding: 0;
    }

    .about_t_01 {
        width: 100%;
        margin: 0;
        padding-bottom: 19%;
        background-image: url(../images/about/about_t_01.png);
    }
    
    .about_logo .content_right img{
        width: 92%;
        margin: 3% auto 10% auto;
    }

    /*about_design*/
    .about_design .content_left {
        box-sizing: border-box;
        padding: 0 0;
        margin-top: 15%;
    }

    .about_design .content_left span:nth-child(5) {
        display: block;
        margin-top: 8%;
    }

    .about_design .content_right {
        box-sizing: border-box;
        padding: 0 5%;
    }
    
    .about_design .content_left img{
        width: 90%;
        margin:2% auto 10% auto;
    }

    /*about_spokesperson*/
    .about_spokesperson .content_right {
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .about_spokesperson .content_right > img {
        margin-top: 3%;
        width: 112%;
        margin-left: -8%

    }
    .about_spokesperson .content_right span{
        margin-top: -18%;
    }

}

/*member*/
.mainarea section.member_benefits {
    padding: 3% 0 10% 0;
    position: relative;
    width: 100%;
    background-color: #c1946a;
    height: 0 !important;
}

.member_benefits > h2 {
    width: 39.2%;
    padding-bottom: 5.5%;
    background-image: url(../images/about/member_title.png);
    position: relative;
    z-index: 5;
    margin: 0 auto;
}

.member_benefits > a {
    display: block;
    background-image: url(../images/about/btn_go.png);
    background-repeat: no-repeat;
    width: 12%;
    height: 0;
    padding-bottom: 3%;
    background-size: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-indent: -999px;
    line-height: 100;
    margin: 0 auto;
    filter: brightness(1.0);
    transition: 0.3s;
}

.member_benefits > a:hover {
    filter: brightness(1.1);
}

.member_benefits img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

@media (max-width:768px){
    
/*member*/
.mainarea section.member_benefits {
    padding: 7% 0 36% 0;
    position: relative;
    width: 100%;
    background-color: #c1946a;
    height: 0 !important;
}

.member_benefits > h2 {
    width: 61.2%;
    padding-bottom:19%;
    background-image: url(../images/about/member_title_m.png);
}

.member_benefits > a {
    background-image: url(../images/about/btn_go_m.png);
    width: 52%;
    padding-bottom: 12%;
}

.member_benefits > a:hover {
    filter: brightness(1.1);
}

.member_benefits img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

}
