// banner
.product_banner{
    @extend %banner-style;
    padding-top: 950px / 1920px * 100%;
    background-image: url(../images/product/banner.jpg);

    @media screen and (max-width: 768px){
        padding-top: 940px / 768px * 100%;
        background-image: url(../images/product/banner_m.jpg);
    }
}

.product_main{
    background: url(../images/product/bg.jpg) 50% 0 / cover no-repeat;

    section{
        padding: 5% 0;
    }

    @media screen and (max-width: 768px){
        background-image: url(../images/product/bg_m.jpg);
    }
}

// 系列商品
.p_all_wrap{
    @extend %productbox-style;
}

.p_all_list{
    @extend %productlist-style;
    justify-content: flex-start;
}

.p_all_item{
    @extend %product-style;
    padding-bottom: 5%;

    a:hover{
        .p_all_img::before{
            opacity: .8;
            transition: opacity 0.3s linear;
        }
    }
}

.p_all_img{
    @extend %productimg-style;
}

// 系列介紹
.product_intro_wrap{
    padding: 10px;
    margin-top: 5%;
    background-color: #ffffff;
}

.product_intro_box{
    padding: 0 8%;
    background: url(../images/product/blog_m.png) 50% / 100% repeat-y;

    @media screen and (max-width: 768px){
        padding: 0 2%;
    }

    .intro_style{
        text-align: center;
        font: {
            size: 1.75em;
            weight: 700;
        }
        letter-spacing: 3px;
    }

    .center{
        text-align: center;
    }

    .intro_area{
        padding: 2% 0;
    }

    .intro_area_title{
        @extend %subtext-style;
        background: url(../images/product/area_title_bg.png) 50% / 100% no-repeat;

        .sub_text{
            max-width: calc(90% - 100px);
            overflow: hidden;
        }

        @media screen and (max-width: 768px){
            background: transparent;

            .sub_text{
                max-width: calc(100% - 40px);
            }
        }
    }

    .intro_area_contain{
        width: 95%;
        padding: 4% 0;
        margin: 0 auto;

        .big-text{
            margin-bottom: 2%;
            font: {
                size: 1.75em;
                weight: 500;
            }
            color: $font-color-red;
            position: relative;

            &.underline{
                display: inline-block;
                padding: 0 2% 2% 2%;

                &::after{
                    content: '';
                    width: 100%;
                    height: 10px;
                    background: url(../images/product/text_underline.png) 50% / contain repeat-x;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        .big-img{
            padding-bottom: 2%;
        }
    }

    .intro_flex{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        .intro_img{
            width: 40%;
            padding-right: 5%;
        }

        .intro_word{
            width: 60%;
        }

        @media screen and (max-width: 768px){
            .intro_img{
                width: 100%;
                max-width: 400px;
                padding: 0 5%;
                margin: 0 auto 5% auto;
            }

            .intro_word{
                width: 100%;
            }
        }
    }
}


// 建議搭配
.suggest_wrap{
    @extend %productbox-style;
}

.suggest_list{
    @extend %productlist-style;
    justify-content: flex-start;
}

.suggest_item{
    @extend %product-style;
    padding-bottom: 5%;

    a:hover{
        .suggest_img::before{
            opacity: .8;
            transition: opacity 0.3s linear;
        }
    }
}

.suggest_img{
    @extend %productimg-style;
}