/*草本花束亮顏精華*/


@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}


@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

.herb_index {
    background-image: -moz-linear-gradient(80deg, rgb(251, 243, 230) 0%, rgb(246, 226, 193) 31%, rgb(249, 235, 212) 52%, rgb(251, 243, 230) 74%);
    background-image: -webkit-linear-gradient(80deg, rgb(251, 243, 230) 0%, rgb(246, 226, 193) 31%, rgb(249, 235, 212) 52%, rgb(251, 243, 230) 74%);
    background-image: -ms-linear-gradient(80deg, rgb(251, 243, 230) 0%, rgb(246, 226, 193) 31%, rgb(249, 235, 212) 52%, rgb(251, 243, 230) 74%);
}

.herb_bouauet {
    position: relative;
    width: 100%;
}



@keyframes fadeB {
	0% {
		opacity: 0;
		transform: scale(1) rotate(0deg);
		filter: blur(0px);
	}

	50% {
		opacity: 1.0;
		transform: scale(4) rotate(180deg);
		filter: blur(5px);
	}

	100% {
		opacity: 0;
		transform: scale(1) rotate(360deg);
		filter: blur(0px);
	}
}

.fadeB {
	animation-name: fadeB;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}


.bg_video {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background:#fcf6ec;
}
.bg_video img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    animation-duration: 5s;
    float: left;
}

.bg_video video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*草本花束亮顏精華主視覺*/
.herb_bouauet {
    width: 100%;
    height: auto;
    position: relative;
}

.herb_bouauet_kv {
    position: relative;
    width: 100%;
}

.herb_kv_title {
    position: relative;
    width: 46.4%;
    padding-top: 8%;
    margin-left: 6%;
    z-index: 3;
}

.herb_kv_title img {
    position: relative;
}

.herb_kv_t_01 {
    width: 100%;
}

.herb_kv_t_02 {
    width: 79%;
    margin-top: 2%;
    margin-left: 5%;
    z-index: 2;
}

.herb_kv_t_03 {
    width: 17%;
    margin-left: 5%;
    z-index: 1;
    margin-top: -2%;
}

img.herb_kv_t_04 {
    position: absolute;
    width: 75%;
    left: 20%;
    top: 90%;
    z-index: 0;
}

.herb_kv_img {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0.99;
}

@media (max-width:768px) {

    .herb_kv_title {
        position: relative;
        width: 90%;
        padding-top: 9%;
        margin-left: 5%;
        z-index: 3;
    }

    .herb_kv_img {
        position: absolute;
        z-index: 1;
        top: 85%;
        right: 0;
        width: 165%;
    }
}

/*新產品內容*/
.herb_cont {
    position: relative;
    z-index: 2;
    background-image: url(../images/herb_bouquet/bg_02.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 0;
    padding-bottom: 190%;
}

.video_wrap.herb_cf {
    width: 61%;
    margin-top: 3.8%;
}

.herb_cont_word {
    position: relative;
    width: 80%;
    margin: 5% auto;
    text-align: center;
}

.herb_cont_tiltle {
    position: relative;
    width: 70%;
    padding: 0.5% 0;
    background-image: url(../images/herb_bouquet/title_box_01.png);
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: top center;
    margin-left: 25%;
}

.herb_title_01 {
    position: relative;
    z-index: 2;
    width: 75%;
    margin: 2% auto;
}

.herb_cream {
    position: absolute;
    width: 20%;
    right: 22%;
    top: -5%;
    z-index: 0;
}

.herb_cont_tip {
    position: relative;
    width: 52%;
    margin-left: 37%;
    margin-top: 2%;
}

.herb_cont_tip_01,
.herb_cont_tip_02,
.herb_cont_tip_03 {
    position: absolute;
    width: 44%;
}

.herb_cont_tip_01 {
    top: 12%;
    left: 0%;
}

.herb_cont_tip_02 {
    top: 2%;
    right: 5%;
}

.herb_cont_tip_03 {
    top: 42%;
    right: 20%;
}

.btn_try,
.btn_buy_now {
    overflow: hidden;
    display: inline-block;
    width: 45%;
    background-size: 100%;
    height: 0;
    padding-bottom: 12%;
    background-repeat: no-repeat;
    line-height: 100;
    text-indent: -100em;
    vertical-align: top;
    margin-top: 96%;
}

.btn_try {
    background-image: url(../images/herb_bouquet/btn_try.png);
    margin-right: 2%;
}

.btn_buy_now {
    background-image: url(../images/herb_bouquet/buy.png);
}

.btn_try:hover {
    background-image: url(../images/herb_bouquet/btn_try_hover.png);
    margin-right: 2%;
}

.btn_buy_now:hover {
    background-image: url(../images/herb_bouquet/btn_buy_hover.png);
}

.herb_cont_text {
    width: 95%;
    height: 9.2vw;
    position: relative;
    margin: 16.5% auto 0 auto;
    text-align: center;
    display: block
}

.herb_cont_text img {
    position: relative;
    width: auto;
    height: 100%;
    display: inline-block;
    margin-right: 1%;
}

.herb_cont_text img:last-child {
    margin-right: 0;
}

.herb_cont p {
    width: 92%;
    text-align: left;
    font-size: 2vw;
    height: 0;
    padding-bottom: 5%;
    overflow: hidden;
    background-image: url(../images/herb_bouquet/word_01.png);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    line-height: 100;
    margin-top: 4%;
}

@media (max-width:768px) {

    .herb_cont {
        background-image: url(../images/herb_bouquet/bg_02_m.png);
        padding-bottom: 340%;
        margin-top: 71%;
    }

    .video_wrap.herb_cf {
        width: 90%;
    }

    .herb_cont_word {
        position: relative;
        width: 100%;
        margin: 5% auto;
        text-align: center;
    }

    .herb_cont_tiltle {
        width: 100%;
        padding: 0;
        background-image: none;
        margin-left: 0;
    }

    .herb_cont_tip {
        position: relative;
        width: 58%;
        margin-left: 38%;
        margin-top: 12%;
    }

    .herb_cont_text {
        width: 55%;
        height: auto;
        position: relative;
        margin: 25% auto 1% auto;
    }

    .herb_cont_text img {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 10%;
    }

    .herb_cont_text img:last-child {
        margin-right: 0;
    }

    .herb_cont p {
        width: 90%;
        padding-bottom: 15%;
        background-image: url(../images/herb_bouquet/word_01_m.png);
        margin-top: 6%;
    }
}

/*花束成分*/
.herb_key_cont {
    position: relative;
    margin-top: -44%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    width: 100%;
}

.herb_cont_frame {
    background-image: url(../images/herb_bouquet/inside_cont.png);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: -13%;
    box-sizing: border-box;
    padding: 9.5% 18%;
    position: relative;
    z-index: 1;
}

.herb_img {
    z-index: 5;
    width: 25%;
    margin-left: 11.5%;
    position: relative;
}

.herb_frame_word {
    width: 72%;
    margin-top: 5%;
}

.herb_tipe {
    width: 20%;
    right: 13%;
    top: 10%;
    position: absolute;
}

.herb_f_01 {
    position: relative;
    margin: 8.6% auto;
    font-size: 0;
}

.herb_f_01 > img {
    display: inline-block;
}

.herb_f_01 > img:nth-child(1) {
    width: 40%;
    margin-right: 2%;
}

.herb_f_01 > img:nth-child(3),
.herb_f_01 > img:nth-child(4),
.herb_f_01 > img:nth-child(5) {
    height: 10vw;
    width: auto;
    vertical-align: middle;
    margin-left: 2%;
}

img.f02_02 {
    margin: 0 6% 0 8% !important;
}

img.f03_03 {
    margin-left: 4.2% !important;
}

@media (max-width:768px) {

    .herb_key_cont {
        margin-top: -50%;
    }

    .herb_cont_frame {
        width: 90%;
        background-image: url(../images/herb_bouquet/frame_m.png);
        margin-top: -7%;
        margin-left: 5%;
        padding: 20% 5% 30% 5%;
        position: relative;
        z-index: 3;
        height: 290vw;
    }

    .herb_img {
        z-index: 1;
        width: 35%;
        margin-left: 5%;
    }

    .herb_frame_word {
        width: 100%;
        margin-top: 2%;
    }

    .herb_tipe {
        width: 50%;
        right: auto;
        top: auto;
        margin-left: 25%;
        margin-top: 5%;
        margin-bottom: 16%;
        position: relative;
    }

    .herb_f_01 {
        position: relative;
        margin: 10% auto;
        font-size: 0;
        width: 55%;
    }

    .herb_f_01 > img {
        display: inline-block;
    }

    .herb_f_01 > img:nth-child(2) {
        width: 100%;
        height: auto;
        margin-right: 2%;
    }

    .f_banner_03,
    .f_banner_02,
    .f_banner_01 {
        width: 80%;
        margin: 10% auto;
    }

    .herb_f_01 > a {
        position: absolute;
        display: block;
        width: 10%;
        top: 60%;
    }

    .herb_f_01 > a img {
        width: 100%;
    }

    .btn_herb_pre_03,
    .btn_herb_pre_02,
    .btn_herb_pre_01 {
        left: -8%;
    }

    .btn_herb_next_03,
    .btn_herb_next_02,
    .btn_herb_next_01 {
        right: -8%;
    }

}

/*KOL專區*/
.herb_KOL {
    position: relative;
    width: 100%;
}

.herb_kol_title {
    width: 80%;
    margin: -4% auto 4% auto;
}

.herb_kol_banner {
    width: 62%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.herb_kol_banner div a {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 3%;
}

.herb_kol_banner div a img {
    width: 100%;
}

.banner_arrow_right,
.banner_arrow_left {
    width: 6%;
    position: absolute;
    bottom: 38%;
    z-index: 0;
    cursor: pointer;
}

.banner_arrow_right {
    right: 14.4%;
}

.banner_arrow_left {
    left: 14.4%;
}

@media (max-width:768px) {

    .herb_KOL {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        overflow: hidden;
    }

    .herb_kol_title {
        width: 200%;
        max-width: 200%;
        margin: 5% auto 10% auto;
        left: 50%;
        margin-left: -50%;
    }

    .herb_kol_banner {
        width: 80%;
        margin: 0 auto;
        z-index: 2;
        position: relative;
    }

    .banner_arrow_right,
    .banner_arrow_left {
        width: 12%;
        position: absolute;
        bottom: 35%;
        z-index: 0;
        cursor: pointer;
    }

    .banner_arrow_right {
        right: 1%;
    }

    .banner_arrow_left {
        left: 1%;
    }

}

/*問券調查*/
.herb_free_title {
    width: 70.5%;
    margin: 0 auto;
}

.herb_qusetion_title {
    width: 38%;
    margin: 5% auto;
}

.herb_form.super_drops_form_box select {
    background: url("../images/herb_bouquet/arrow.png") no-repeat 95% center transparent;
    background-color: #fff;
}

.herb_check_box .checkmark {
    background-image: url(../images/herb_bouquet/check_box.png.png);
    top: -0.18vw;
}

.herb_check_box .checkmark.active {
    background-image: url(../images/herb_bouquet/after_check.png.png);
}

.herb_check_box .check_content a {
    color: #656f2e;
    border-bottom: 2px solid #656f2e;
}
.herb_check_box .check_content a:hover{
	color: #b1b531;
	border-bottom: 2px solid #b1b531;
}

.herb_enter {
    width: 25%;
}

@media(max-width:768px) {
    .herb_free_title {
        width: 150%;
        max-width: 150%;
        margin: 0 auto 0 -25%;
    }

    .herb_qusetion_title {
        width: 70%;
        margin: 12% auto;
    }

    .herb_form.super_drops_form_box select {
        background-size: auto 50%;
    }

    .herb_enter {
        width: 40%;
    }

    .btn_shop.btn_herb_shop {
        width: 22%;
    }
}

/*新品組*/
.herb_new_item {
    width: 45%;
    position: relative;
    margin: 3.8% auto 5% auto;
}

.herb_new_item div {
    box-sizing: border-box;
}

.herb_new_item div img {
    width: 100%;
    padding: 0 8%;
}

.herb_new_item div > img {
    margin-bottom: 6%;
}

.herb_new_item div a {
    display: block;
    width: 100%;
    margin: 3% 0;
    filter: brightness(1);
    transition: 0.3s;
}

.herb_new_item div a:hover {
    filter: brightness(1.1);
}

.herb_new_item div a img {
    width: 100%;
}

@media (max-width:768px) {
    .super_drops_form_box.herb_form{
        position: relative !important;
    }

    .herb_new_item {
        width: 50%;
        position: absolute;
        margin:18% 25% 16% 25%;
    }
    
    .btn_herb_next_04,.btn_herb_pre_04{
        position: relative;
        z-index: 5;
        top: 0;
        margin-bottom: 40%;
        width:10%;
        margin-left: 10%;
        box-sizing: border-box;
        padding-top: 40%;
    }
    .btn_herb_next_04{
        float: right;
        margin-right: 10%;
    }
}

/*建議搭配*/
.herb_bouquet_suggest {
    background-position: center bottom;
    height: auto;
    background-image: url(../images/herb_bouquet/bottom_img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 5%;
    position: relative;
}

.herb_bouquet_item_01 {
    background-image: url(../images/herb_bouquet/product_01.png);
    background-size: auto 98%;
    background-position: center bottom;
}

.herb_bouquet_item_02 {
    background-image: url(../images/herb_bouquet/product_02.png);
    background-size: auto 88%;
    background-position: center bottom;
}

.herb_bouquet_item_03 {
    background-image: url(../images/herb_bouquet/product_03.png);
    background-size: auto 55%;
    background-position: center bottom;
}

.herb_bouquet_item_04 {
    background-image: url(../images/herb_bouquet/product_04.png);
    background-size: auto 100%;
    background-position: center bottom;
}

.herb_bouquet_item_05 {
    background-image: url(../images/herb_bouquet/product_05.png);
    background-size: auto 90%;
    background-position: center bottom;
}

.herb_bouquet_item_06 {
    background-image: url(../images/herb_bouquet/product_06.png);
    background-size: auto 54%;
    background-position: center bottom;
}

@media(max-width:768px) {
    .herb_bouquet_suggest {
        background-image: url(../images/herb_bouquet/bottom_img_m.png);
    }
}

@media(max-width:597px) {
    .herb_bouquet_item_02 {
        margin-top: -12%;
    }

    .herb_bouquet_item_03 {
        margin-top: -45%;
    }

    .herb_bouquet_item_05 {
        margin-top: -10%;
    }

    .herb_bouquet_item_06 {
        margin-top: -45%;
    }
}

/*pop*/


.herb_bouauet_popup .popup_wrap {
    border: 0;
    padding: 0;
    width: 90%;
    max-width: 624px;
    overflow: visible;
}

.herb_bouauet_popup .popup_close {
    width: 5%;
    left: 93%;
    top: 4%;
}

.herb_bouauet_popup .popup_send {
    width: 100%;
}


.herb_bouauet_popup {
    background-color: rgba(255, 230, 130, 0.6);

}
footer{
    position: relative;
}