@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");

/*about*/
.about_us {
    background-color: #fff;
}

.index.page.about_page {
    overflow-x: hidden !important;
}

.about_us h1,
.about_us h2,
.about_us h2 {
    display: block;
    overflow: hidden;
    height: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    line-height: 100;
    text-indent: -999px;
}

.about_us .for_m {
    display: none;
}

@media (max-width:768px) {
    .about_us .for_m {
        display: block;
    }

    .about_us .for_pc {
        display: none;
    }
}

/*動畫*/

@keyframes big {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

.big {
    animation-name: big;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/*kv_01*/
.kv_01,
.kv_02,
.kv_03,
.kv_04,
.kv_05,
.kv_06 {
    position: relative;
    height: 0;
    padding-bottom: 50.3%;
    box-sizing: border-box;
    overflow: hidden;
}

.kv_bg_01,
.kv_bg_02,
.kv_bg_03,
.kv_bg_04,
.kv_bg_05,
.kv_bg_06 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}
.kv_01{
    margin-top:0;
}

.page_box.about_us{
    padding-top:0;
    padding-bottom: 0;
}
.kv_text {
    position: relative;
    z-index: 2;
    width: 40.6%;
    display: block;
    margin: 0 0 0 12%;
    padding-top: 12%;
}

.about_title {
    display: block;
    width: 100%;
    background-image: url(../images/about/kv_title.png);
    padding-bottom: 39%;
}

.about_word {
    color: #4e4e4e !important;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
    padding-left: 6%;
    font-size: 1.45vw;
    line-height: 2;
    letter-spacing: 0.1em;
}

.btn_go {
    display: block;
    position: relative;
    margin: 4% auto 0 auto;
    z-index: 2;
    width: 8.3%;
    background-size: 100%;
    height: 0;
    padding-bottom: 8%;
    background-repeat: no-repeat;
    background-image: url(../images/about/btn_discover.png);
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
}

@media (max-width:768px) {

    .kv_01 {
        padding-bottom: 133.4%;
    }

    .kv_text {
        width: 93%;
        display: block;
        margin: 0 0 0 2%;
        padding-top: 76%;
    }

    .about_title {
        padding-bottom: 33%;
    }

    .about_word {
        padding-left: 5%;
        font-size: 3vw;
        line-height: 1.8;
        letter-spacing: 0.1em;
    }

    .btn_go {
        display: none;
    }

}

/*kv_02*/
.kv_02 {
    padding-bottom: 55%;
}

.kv_bg_02 {
    top: -2%;
}

.kv_02 .center_word {
    position: relative;
    z-index: 2;
    display: block;
    width: 38%;
    height: 0;
    padding-bottom: 22%;
    background-image: url(../images/about/kv_title_02.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 17.2% auto 0 33%;
}

.kv_02 .center_word h2,
.kv_02 .center_word p {
    width: 100%;
    height: 0;
    display: block;
    overflow: hidden;
    text-indent: -999px;
    line-height: 100;
}

@media (max-width:768px) {

    /*kv_02*/
    .kv_02 {
        padding-bottom: 131%;
    }

    .kv_02 .center_word {
        width: 60%;
        padding-bottom: 35%;
        margin: 41% auto 0 28%;
    }
}

/*kv_03*/
.kv_03 {
    padding-bottom: 56%;
}

.kv_03 .center_word {
    position: relative;
    display: block;
    z-index: 2;
    width: 60.7%;
    background-image: url(../images/about/kv_title_03.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 40%;
    margin: 8.4% auto 0 auto;
}

.kv_03 .center_word p,
.kv_03 .center_word h2 {
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
}

@media (max-width:768px) {

    /*kv_03*/
    .kv_03 {
        padding-bottom: 131%;
        margin-top: -1%;
    }

    .kv_03 .center_word {
        width: 88%;
        background-image: url(../images/about/kv_03_word_m.png);
        padding-bottom: 80%;
        margin: 28% auto 0 auto;
    }
}

/*kv_04*/
.kv_04 {
    padding-bottom: 56.4%;
}

.kv_04 .center_word h2 {
    width: 17%;
    padding-bottom: 5.8%;
    position: relative;
    z-index: 3;
    display: block;
    text-align: center;
    line-height: 1;
    text-indent: 0px;
    font-family: 'Noto Serif TC', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 2.7vw;
    margin: 6.2% auto 0 auto;
}

.kv_04 .center_word p {
    width: 50.8%;
    position: relative;
    z-index: 3;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    font-size: 1.2vw;
    line-height: 2;
    margin: 0 auto;
    letter-spacing: 0.1em;
}

.kv_04 .center_word p:nth-child(3) {
    margin-top: 3%;
}

@media (max-width:768px) {

    /*kv_04*/
    .kv_04 {
        padding-bottom: 131%;
    }

    .kv_04 .center_word h2 {
        width: 100%;
        padding-bottom: 14.5%;
        position: relative;
        z-index: 3;
        line-height: 1;
        text-indent: 0px;
        font-size: 7vw;
        letter-spacing: 0.13em;
        margin: 24% auto 0 auto;
    }

    .kv_04 .center_word p {
        width: 62%;
        background-image: url(../images/about/kv_04_word_m.png);
        background-size: 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        text-indent: -999px;
        line-height: 100;
        height: 0;
        padding-bottom: 60%;
    }

    .kv_04 .center_word p:nth-child(3) {
        background-image: none;
        height: 0;
        padding-bottom: 0;
    }
}

/*kv_05*/
.kv_05 {
    padding-bottom: 56%;
}

.kv_05 .center_word {
    position: relative;
    z-index: 2;
    width: 47.4%;
    margin: 6% auto 0 auto;
}

.kv_05 .center_word h2 {
    padding-bottom: 24%;
    line-height: 1.8;
    text-indent: 0;
    text-align: center;
    font-family: 'Noto Serif TC', sans-serif;
    font-weight: 600;
    font-size: 2.7vw;
    letter-spacing: 0.12em;
}

@media (max-width:768px) {

    /*kv_05*/
    .kv_05 {
        padding-bottom: 131%;
    }

    .kv_05 .center_word {
        position: relative;
        z-index: 2;
        width: 90%;
        margin: 25% auto 0 auto;
    }

    .kv_05 .center_word h2 {
        padding-bottom: 22%;
        line-height: 1.4;
        text-align: center;
        font-size: 6.5vw;
    }

    .kv_05 .center_word img {
        width: 90%;
        margin: 0 auto;
    }
}

/*kv_06*/
.kv_06 {
    height: 0;
    padding-bottom: 56.1%;
}

.kv_06 .center_word {
    position: relative;
    z-index: 3;
    background-image: url(../images/about/kv_word_06.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: -12.5% auto 0 auto;
    width: 85.4%;
    padding-bottom: 75%;
}

.kv_06 .center_word h2 {
    height: 0;
}

@media (max-width:768px) {
    .kv_06 {
        padding-bottom: 131%;
    }

    .kv_06 .center_word {
        position: relative;
        z-index: 3;
        background-image: url(../images/about/kv_06_word_m.png);
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0 auto 0 auto;
        width: 100%;
        padding-bottom: 125%;
    }
}


/*read_more*/
.read_more {
    background-color: #fff;
    text-align: center;
    height: 0;
    padding-bottom: 8%;
}

.read_more .center_word {
    width: 54.2%;
    height: 0;
    padding-bottom: 10%;
    position: relative;
    margin: 8% auto 0 auto;
}

.read_more .center_word h2 {
    display: block;
    padding-bottom: 12%;
    width: 100%;
    background-image: url(../images/about/member_word.png);
    background-size: 100%;
}

.btn_read_me {
    display: block;
    position: absolute;
    width: 28%;
    height: 0;
    padding-bottom: 12%;
    background-image: url(../images/about/btn_Read_More.png);
    background-size: 100%;
    background-repeat: no-repeat;
    line-height: 100;
    text-indent: -999px;
    right: 13%;
    top: 35%;
    filter: brightness(1.0);
    transition: 0.3s;
}

.btn_read_me:hover {
    filter: brightness(1.2);
}

div.index.page.about_page {
    padding-bottom: 0;
}

@media (max-width:768px) {
    .read_more {
        background-image: url(../images/about/read_bg_m.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        padding-bottom: 35%;
        padding-top: 22%;
        margin-bottom: -15%
    }

    .read_more .center_word {
        width: 120%;
        height: 0;
        padding-bottom: 30%;
        position: relative;
        margin: 0 auto 0 -10%;
    }

    .read_more .center_word h2 {
        padding-bottom: 20%;
        width: 100%;
        background-size: 100%;
    }

    .btn_read_me {
        right: 21%;
        top: 28%;
        filter: brightness(1.0);
        transition: 0.3s;
    }

}
