@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");
.slick-arrow, .index .banner_top_arrow .item, .index .blog .blog_arrow .item {
  width: 9vw;
  max-width: 50px;
  height: 9vw;
  max-height: 50px;
  display: inline-block;
  opacity: .5;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.item_next.slick-arrow, .index .banner_top_arrow .item_next.item, .index .blog .blog_arrow .item_next.item {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-arrow:hover, .index .banner_top_arrow .item:hover, .index .blog .blog_arrow .item:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.news_banner, .news_single_article .news_single_img, .product_banner {
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .news_banner, .news_single_article .news_single_img, .product_banner {
    padding-top: 65.1041666667% !important;
  }
}

.slick-arrow, .index .banner_top_arrow .item, .index .blog .blog_arrow .item {
  width: 9vw;
  max-width: 50px;
  height: 9vw;
  max-height: 50px;
  display: inline-block;
  opacity: .5;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.item_next.slick-arrow, .index .banner_top_arrow .item_next.item, .index .blog .blog_arrow .item_next.item {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-arrow:hover, .index .banner_top_arrow .item:hover, .index .blog .blog_arrow .item:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.news_banner, .news_single_article .news_single_img, .product_banner {
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .news_banner, .news_single_article .news_single_img, .product_banner {
    padding-top: 65.1041666667% !important;
  }
}

html {
  height: 100%;
}

*, body, html {
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', 'sans-serif', serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 1.8;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  *, body, html {
    line-height: 1.5;
  }
}

@media screen and (max-width: 512px) {
  *, body, html {
    font-size: 13px;
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img, svg {
  width: 100%;
  font-size: 0;
  border: 0;
  display: block;
  vertical-align: bottom;
}

a {
  outline: none;
  text-decoration: none;
}

.for_phone {
  display: none;
}

.wrapper {
  width: 100%;
  padding-top: 65px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-top: 45px;
  }
}

.page .wrapper {
  padding-bottom: 150px;
}

@media screen and (max-width: 1024px) {
  .page .wrapper {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 512px) {
  .page .wrapper {
    padding-bottom: 80px;
  }
}

.page_box {
  padding-top: 10vh;
}

.page_box .section_title {
  margin-bottom: 5vh;
}

@media screen and (max-width: 512px) {
  .page_box {
    padding-top: 5vh;
  }
}

.page_inner {
  width: 88%;
  max-width: 1440px;
  margin: 0 auto;
}

.page_title {
  width: 88%;
  max-width: 1440px;
  padding-bottom: 4vh;
  margin: 0 auto 10vh auto;
  border-bottom: 1px solid #9e9e9e;
}

.page_title .page_title-en {
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 0.928em;
  font-weight: 300;
  font-size: 3.5em;
  font-weight: 200;
  line-height: 1.3;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.page_title .page_title-ch {
  color: #9e9e9e;
  letter-spacing: 2px;
}

.section_box {
  padding: 8% 0 2% 0;
  margin: 0 auto;
  position: relative;
}

.section_box.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .section_box.vertical {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section_box.vertical .section_title {
  width: auto;
}

@media screen and (max-width: 1024px) {
  .section_box.vertical .section_title {
    width: 100%;
  }
}

.section_box.vertical .section_title_word {
  padding-right: 0px;
  padding-bottom: 12px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

@media screen and (max-width: 1024px) {
  .section_box.vertical .section_title_word {
    padding-right: 12px;
    padding-bottom: 0px;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
}

.section_box.vertical .section_title_word::after {
  width: 1px;
  height: 70px;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (max-width: 1024px) {
  .section_box.vertical .section_title_word::after {
    width: 70px;
    height: 1px;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.section_inner {
  width: 88%;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .section_inner {
    padding: 3% 2%;
  }
}

.section_title {
  width: 88%;
  max-width: 1440px;
  margin: 0 auto;
}

.section_title .section_title_word {
  width: auto;
  padding-right: 12px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 5px;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.section_title .section_title_word::after {
  content: '';
  width: 70px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media screen and (max-width: 768px) {
  .section_title .section_title_word::after {
    background-color: #9e9e9e;
  }
}

@media screen and (max-width: 768px) {
  .section_title .section_title_word {
    font-size: 1em;
    letter-spacing: 1px;
    color: #9e9e9e;
  }
}

.btn_bottom {
  width: 14%;
  display: block;
}

@media screen and (max-width: 1024px) {
  .btn_bottom {
    width: 250px;
    margin: 5% 0 0 auto !important;
  }
}

@media screen and (max-width: 736px) {
  .btn_bottom {
    margin: 5% -10% 0 auto !important;
  }
}

.btn_bottom .t {
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 1em;
  font-weight: 300;
  color: #9e9e9e;
  letter-spacing: 1px;
  line-height: 1;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  padding: 0 0.5em 1.3em 0.5em;
}

@media screen and (max-width: 768px) {
  .btn_bottom .t {
    color: #a00e15;
    -webkit-transition: none;
    transition: none;
  }
}

.btn_bottom .b {
  width: 100%;
  height: 1px;
  background: #9e9e9e;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .btn_bottom .b {
    background: #a00e15;
  }
}

.btn_bottom .b::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #a00e15;
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.btn_bottom:hover .t {
  color: #a00e15;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.btn_bottom:hover .b::after {
  left: 0;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.btn_circle {
  width: 5.8em;
  margin: 1em auto 0 auto;
  position: relative;
}

.btn_circle .btn_svg {
  width: 100%;
}

.btn_circle .btn_svg path.gray {
  fill: none;
  stroke: #9e9e9e;
  stroke-width: 1px;
}

@media screen and (max-width: 768px) {
  .btn_circle .btn_svg path.gray {
    stroke: #a00e15;
  }
}

.btn_circle .btn_svg path.red {
  fill: none;
  stroke: #a00e15;
  stroke-miterlimit: 10;
  stroke-width: 1.5px;
  stroke-dashoffset: 436;
  stroke-dasharray: 436px;
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: stroke-dashoffset 0.4s ease-in-out;
  transition: stroke-dashoffset 0.4s ease-in-out;
}

.btn_circle .t {
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 1em;
  font-weight: 300;
  color: #9e9e9e;
  letter-spacing: 1px;
  line-height: 1;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .btn_circle .t {
    color: #a00e15;
    -webkit-transition: none;
    transition: none;
  }
}

.btn_circle:hover .t {
  color: #a00e15;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.btn_circle:hover path.red {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.4s ease-in-out;
  transition: stroke-dashoffset 0.4s ease-in-out;
}

.slick-arrow {
  border: none !important;
  text-indent: -9999px;
  font-size: 0;
  background: #9e9e9e url(../images/index/arrow_light.png) 50%/20% no-repeat;
  overflow: hidden;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 2;
}

.slick-arrow.slick-next {
  left: auto;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .for_pc {
    display: none;
  }
  .for_phone {
    display: block;
  }
}

.header {
  width: 100%;
  height: 65px;
  padding: 0 6%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .header {
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .nav {
    width: 100%;
    max-width: 500px;
    height: calc(100% - 45px);
    padding: 6% 0;
    background: #ffffff url(../images/common/menu_bg.png) 50% 0/cover no-repeat;
    position: fixed;
    top: 45px;
    right: -100%;
    opacity: 0;
    overflow-y: scroll;
    -webkit-transition: right 0.8s ease-in-out, opacity 0.3s linear;
    transition: right 0.8s ease-in-out, opacity 0.3s linear;
  }
  .header .nav.active {
    opacity: 1;
    right: 0;
    -webkit-transition: right 0.8s ease-in-out, opacity 0.3s linear;
    transition: right 0.8s ease-in-out, opacity 0.3s linear;
  }
}

.header .header_logo {
  width: 12.5%;
  padding-top: 3.0208333333%;
  margin-bottom: 0.5%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header .header_logo {
    width: 150px;
    height: 18.125px;
    padding-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 512px) {
  .header .header_logo {
    width: 120px;
    height: 14.5px;
    padding-top: 0;
    margin-bottom: 0;
  }
}

.header .header_logo a {
  width: 100%;
  height: 100%;
  background: url(../images/common/header_logo.png) 50%/100% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.header .nav_l {
  margin: 0 2% 0 auto;
  padding: 4px 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header .nav_l {
    width: 88%;
    max-width: 300px;
    padding: 3% 0;
    margin-right: auto;
    display: block;
  }
  .header .nav_l .nav_i {
    padding-left: 1em;
    color: #000000;
    font-size: 1.1em;
    letter-spacing: 1px;
    position: relative;
  }
  .header .nav_l .nav_i::before {
    content: '-';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.header .nav_l:hover .panel {
  display: block;
}

.header .nav_i {
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 0.928em;
  font-weight: 300;
  color: #9e9e9e;
  text-transform: uppercase;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header .nav_i:hover {
  color: #a00e15;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header .panel {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.header .panel .panel_inner {
  width: 120px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
}

.header .panel .panel_inner li:not(:last-child) {
  border-bottom: 1px solid #c3c3c3;
}

@media screen and (max-width: 768px) {
  .header .panel .panel_inner li:not(:last-child) {
    border-bottom: none;
  }
}

.header .panel .panel_inner a {
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', 'sans-serif', serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 1.8;
  letter-spacing: 0.01em;
  padding: 5px 10px;
  color: #9e9e9e;
  font-weight: 300;
  font-size: 13px;
  display: block;
}

@media screen and (max-width: 1024px) {
  .header .panel .panel_inner a {
    line-height: 1.5;
  }
}

@media screen and (max-width: 512px) {
  .header .panel .panel_inner a {
    font-size: 13px;
  }
}

.header .panel .panel_inner a:hover {
  color: #a00e15;
}

@media screen and (max-width: 768px) {
  .header .panel {
    margin-left: 15px;
    display: block;
    position: static;
  }
  .header .panel .panel_inner {
    width: auto;
    background: transparent;
    border: none;
  }
  .header .panel .panel_inner a {
    display: inline-block;
    padding: 1.5% 0;
  }
}

.page .header {
  padding: 1% 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .page .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page .header .header_logo {
  margin-bottom: 0;
}

@media screen and (min-width: 769px) {
  .page .nav {
    width: 87.5%;
    padding-left: 4%;
  }
}

.menu_open_box {
  width: 30px;
  line-height: 0;
  position: relative;
  z-index: 9999;
}

.menu_open_box.close span {
  width: 0;
}

.menu_open_box.close span::before {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.menu_open_box.close .menu_open::before {
  background-color: #a00e15;
  -webkit-transform: rotate(45deg) translate(9px, 3px);
          transform: rotate(45deg) translate(9px, 3px);
}

.menu_open_box.close .menu_open::after {
  background-color: #a00e15;
  -webkit-transform: rotate(-45deg) translate(7px, -1px);
          transform: rotate(-45deg) translate(7px, -1px);
}

.menu_open {
  width: 100%;
  display: inline-block;
}

.menu_open span {
  width: 70%;
  height: 1px;
  margin: 6px 0 6px auto;
  background-color: #000000;
  border-radius: 10px;
  display: block;
  position: relative;
}

.menu_open span::before {
  content: 'CLOSE';
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #9e9e9e;
  font-size: 0.8em;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.menu_open::before, .menu_open::after {
  content: '';
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background-color: #000000;
  display: block;
  -webkit-transition: color 0.3s linear, -webkit-transform 0.4s linear;
  transition: color 0.3s linear, -webkit-transform 0.4s linear;
  transition: transform 0.4s linear, color 0.3s linear;
  transition: transform 0.4s linear, color 0.3s linear, -webkit-transform 0.4s linear;
  -webkit-transform-origin: center;
          transform-origin: center;
}

footer {
  background: url(../images/common/footer_bg.jpg) 0 0/cover repeat-x;
  border-top: 1px solid #9e9e9e;
}

@media screen and (max-width: 768px) {
  footer {
    background-image: url(../images/common/footer_bg_m.jpg);
  }
  footer .footer {
    padding: 10% 0;
  }
}

.footer {
  width: 88%;
  max-width: 1440px;
  padding: 4% 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_w {
  width: 200px;
}

@media screen and (max-width: 1440px) {
  .footer_w {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .footer_w {
    width: 100%;
  }
  .footer_w a {
    width: 50%;
    max-width: 150px;
    margin: 0 auto;
  }
}

.footer_w a {
  display: block;
}

.footer_w p {
  padding-top: 10%;
  color: #9e9e9e;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .footer_w p {
    padding-top: 6em;
    text-align: center;
  }
}

.footer_menu {
  width: calc(100% - 200px);
  text-align: right;
}

@media screen and (max-width: 1440px) {
  .footer_menu {
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 768px) {
  .footer_menu {
    width: 100%;
    text-align: center;
    margin-top: -11em;
  }
}

.footer_menu a {
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 0.928em;
  font-weight: 300;
  margin-left: 2%;
  color: #000000;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.footer_menu a:hover {
  color: #a00e15;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

@media screen and (min-width: 769px) {
  .index .wrapper {
    padding-top: 0;
  }
}

@media screen and (min-width: 769px) {
  .index .header {
    height: auto;
    padding: 3% 6%;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.index .banner_top {
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 768px) {
  .index .banner_top {
    height: auto;
    min-height: 100vh;
  }
}

.index .banner_top .banner_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.index .banner_item {
  width: 100%;
  height: 100%;
  float: left;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: none;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  position: relative;
}

.index .banner_item.active {
  display: block;
}

.index .banner_item .banner_inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.index .banner_item.banner_item-1 .img {
  background-image: url(../images/index/banner_top.jpg);
}

@media screen and (max-width: 768px) {
  .index .banner_item.banner_item-1 .img {
    background-image: url(../images/index/banner_top_m.jpg);
  }
}

.index .banner_item.banner_item-1 .banner_top_flower {
  background-color: #ad8620;
}

.index .banner_item.banner_item-2 .img {
  background-image: url(../images/index/banner_top2.jpg);
}

.index .banner_item.banner_item-2 .banner_top_flower {
  background-color: #ecd496;
}

.index .banner_top_word {
  width: 50%;
  padding: 0 6%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .index .banner_top_word {
    width: 100%;
    height: auto;
    padding-bottom: 7%;
  }
}

.index .banner_top_word .inner {
  width: 100%;
  margin-top: -10%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .index .banner_top_word .inner {
    margin-top: 7%;
  }
}

.index .banner_top_word .inner .title {
  font-family: 'Noto Serif TC';
  font-size: 3.6em;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 7px;
}

@media screen and (max-width: 1024px) {
  .index .banner_top_word .inner .title {
    font-size: 3em;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 768px) {
  .index .banner_top_word .inner .title {
    font-size: 2.7em;
  }
}

@media screen and (max-width: 512px) {
  .index .banner_top_word .inner .title {
    font-size: 2.2em;
    letter-spacing: 4px;
  }
}

.index .banner_top_word .inner .sm {
  padding-top: 2.5%;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  font-weight: 300;
}

.index .banner_top_img {
  width: 50%;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .index .banner_top_img {
    width: 100%;
    height: auto;
  }
}

.index .banner_top_img .cover {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .index .banner_top_img .cover {
    padding-top: 90.4947916667%;
    height: 0;
  }
}

.index .banner_top_img .cover .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-animation: slideScale 5000ms ease-out both;
          animation: slideScale 5000ms ease-out both;
}

@-webkit-keyframes slideScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}

@keyframes slideScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}

.index .banner_top_img .banner_top_flower {
  width: 10%;
  height: 100%;
  max-width: 100px;
  background: url(../images/index/banner_top_flower.png) 50%/cover no-repeat;
  opacity: .6;
  position: absolute;
  top: 0;
  right: 0;
}

.index .banner_top_img .banner_top_product {
  width: 22%;
  position: absolute;
  left: -14%;
  bottom: 21%;
}

@media screen and (max-width: 768px) {
  .index .banner_top_img .banner_top_product {
    width: 27%;
    left: 0%;
    bottom: -16%;
  }
}

.index .banner_top_img .banner_top_product p {
  width: 100%;
  margin: -27% auto 0 11%;
  text-align: center;
  font-size: 12px;
  color: #9e9e9e;
  text-shadow: 0px 0px 12px #ffffff, 0px 0px 12px #ffffff, 0px 0px 12px #ffffff, 0px 0px 20px #ffffff;
}

.index .banner_top_arrow {
  width: 50%;
  text-align: center;
  position: absolute;
  bottom: 2%;
  right: 0;
}

@media screen and (max-width: 768px) {
  .index .banner_top_arrow {
    position: static;
    margin: 0 auto;
  }
}

.index .banner_top_arrow .item {
  background: #ffffff url(../images/index/arrow.png) 50%/20% no-repeat;
}

.index .scroll {
  width: 50%;
  text-align: center;
  position: absolute;
  bottom: 2%;
}

.index .scroll .line {
  width: 1px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.index .scroll .line:after {
  width: 100%;
  height: 100%;
  content: '';
  background-color: #9e9e9e;
  position: absolute;
  top: -100%;
  left: 0;
  -webkit-animation: scrollLine 1.5s linear infinite;
          animation: scrollLine 1.5s linear infinite;
}

.index .scroll .t {
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 0.928em;
  font-weight: 300;
  color: #9e9e9e;
  padding-top: 5px;
}

@-webkit-keyframes scrollLine {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes scrollLine {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

.index .news_wrap {
  width: 100%;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index .news_wrap .news_btn {
  margin: 0 14% 0 19%;
}

.index .news_wrap .news_list {
  width: 53%;
}

@media screen and (max-width: 1024px) {
  .index .news_wrap .news_list {
    width: 100%;
  }
}

.index .news_item {
  width: 100%;
}

.index .news_item:not(:last-child) {
  margin-bottom: 1.3em;
}

.index .news_item .date {
  width: 100px;
  margin-top: 1px;
  color: #9e9e9e;
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 0.928em;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
}

.index .news_item p {
  width: calc(100% - 104px);
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .index .news_item p {
    width: 100%;
  }
}

.index .news_item p span {
  padding-bottom: 1px;
  letter-spacing: 2px;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.index .news_item p:hover span {
  color: #a00e15;
  border-bottom: 1px solid #a00e15;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

@media screen and (max-width: 768px) {
  .index .news_item p:hover span {
    color: #000000;
    border: none;
  }
}

.index .hotsale {
  padding-top: 10%;
  padding-bottom: 25%;
  margin-top: -8%;
  background: url(../images/index/hotsale_bg.png) 50% 0/cover no-repeat;
}

@media screen and (max-width: 1024px) {
  .index .hotsale {
    background-image: url(../images/index/hotsale_bg_m.png);
  }
}

.index .hotsale .section_box {
  width: 88%;
  max-width: 1440px;
}

.index .hotsale_wrap {
  width: 100%;
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .index .hotsale_wrap {
    margin: 0 auto;
    padding: 3% 2%;
  }
}

.index .hotsale_wrap .hotsale_item {
  width: 33.333333%;
  padding-bottom: 1em;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .index .hotsale_wrap .hotsale_item {
    width: 100%;
    max-width: 400px;
    margin-top: 12%;
  }
}

.index .hotsale_wrap .hotsale_item.hotsale_item-1 {
  z-index: 2;
}

.index .hotsale_wrap .hotsale_item.hotsale_item-1 .photo {
  background-image: url(../images/index/hotsale1.jpg);
}

.index .hotsale_wrap .hotsale_item.hotsale_item-2 {
  z-index: 1;
}

.index .hotsale_wrap .hotsale_item.hotsale_item-2 .photo {
  background-image: url(../images/index/hotsale2.jpg);
}

.index .hotsale_wrap .hotsale_item.hotsale_item-3 {
  z-index: 0;
}

.index .hotsale_wrap .hotsale_item.hotsale_item-3 .photo {
  background-image: url(../images/index/hotsale3.jpg);
}

.index .hotsale_wrap .rank {
  width: 100%;
  padding-top: 13%;
  position: relative;
}

.index .hotsale_wrap .rank img {
  width: 36%;
  position: absolute;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.index .hotsale_wrap .photo {
  width: 100%;
  padding-top: 79.1208791209%;
  margin-bottom: 4%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.index .hotsale_wrap .name {
  width: auto;
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.index .hotsale_wrap .name h3 {
  font-size: 1.3em;
  letter-spacing: 1px;
}

@media screen and (max-width: 1024px) {
  .index .hotsale_wrap .name h3 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 768px) {
  .index .hotsale_wrap .name h3 {
    font-size: 1.2em;
  }
}

.index .hotsale_wrap .name .type {
  padding-top: .4em;
  color: #9e9e9e;
  letter-spacing: 1px;
  display: block;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .index .hotsale_wrap .name .type {
    font-size: 1.1em;
    font-weight: 400;
  }
}

.index .blog {
  margin-top: -18%;
}

.index .blog .section_title {
  margin-left: 54%;
}

@media screen and (max-width: 768px) {
  .index .blog .section_title {
    margin-left: auto;
  }
}

.index .blog .blog_arrow {
  width: 40%;
  max-width: 660px;
  padding-right: 6%;
  margin-left: 6%;
  text-align: right;
  position: absolute;
  bottom: 10.5%;
  left: 54%;
}

@media screen and (max-width: 768px) {
  .index .blog .blog_arrow {
    margin-top: -69%;
    bottom: auto;
    left: auto;
    right: 0;
  }
}

.index .blog .blog_arrow .item {
  background: #9e9e9e url(../images/index/arrow_light.png) 50%/20% no-repeat;
}

.index .blog .sum37 {
  width: 20.4166666667%;
  position: absolute;
  top: 9%;
  left: 76%;
}

@media screen and (max-width: 768px) {
  .index .blog .sum37 {
    width: 45.1822916667%;
    top: 3%;
    left: 53%;
  }
}

.index .blog_list {
  width: 100%;
  padding-top: 6.7%;
  margin-top: -5.2%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .index .blog_list {
    margin-top: 0;
  }
}

.index .blog_list .blog_item {
  width: 100%;
  height: 100%;
  float: left;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: none;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  position: relative;
}

.index .blog_list .blog_item.active {
  display: block;
}

.index .blog_list .blog_item.blog_item-1 .blog_p {
  background-image: url(../images/index/blog_photo1.jpg);
}

.index .blog_list .blog_item.blog_item-2 .blog_p {
  background-image: url(../images/index/blog_photo2.jpg);
}

.index .blog_list .blog_r {
  width: 60%;
  padding: 3.2% 6% 1.7% 14%;
  margin-left: auto;
  background: url(../images/index/blog_bg.jpg) 50%/cover no-repeat;
}

@media screen and (max-width: 768px) {
  .index .blog_list .blog_r {
    width: 100%;
    padding: 6% 7% 20% 7%;
  }
}

.index .blog_list .blog_w {
  max-width: 660px;
  padding-bottom: 2%;
}

.index .blog_list .blog_w .author {
  font-size: 1.2em;
  font-weight: 200;
}

.index .blog_list .blog_w .article {
  padding: 2.8% 0 1.7% 0;
}

.index .blog_list .blog_w .article p {
  height: 100px;
  font-size: 1.03em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media screen and (max-width: 1024px) {
  .index .blog_list .blog_w .article p {
    height: 84px;
  }
}

@media screen and (max-width: 512px) {
  .index .blog_list .blog_w .article p {
    height: 80px;
  }
}

.index .blog_list .blog_w .hashtag {
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media screen and (max-width: 768px) {
  .index .blog_list .blog_w .hashtag {
    height: 19px;
  }
}

.index .blog_list .blog_w .hashtag span {
  padding-left: 0.65em;
  margin-right: 2%;
  color: #9e9e9e;
  position: relative;
}

.index .blog_list .blog_w .hashtag span::before {
  content: '#';
  position: absolute;
  left: 0;
  top: -0.15em;
}

.index .blog_list .btn_circle {
  margin-left: -0.4em;
}

.index .blog_list .blog_p {
  width: 50%;
  height: 110%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -29%;
  left: 0;
}

@media screen and (max-width: 768px) {
  .index .blog_list .blog_p {
    width: 93%;
    height: 0;
    padding-top: 55.9440559441%;
    margin: -15% 0 0 auto;
    position: static;
  }
}

.index .video .section_title {
  padding-left: 14.6%;
  margin-bottom: 2%;
}

@media screen and (max-width: 768px) {
  .index .video .section_title {
    padding-left: 0;
  }
}

.index .video .slick-list {
  padding: 8.5% 0 2% 0 !important;
}

@media screen and (max-width: 768px) {
  .index .video .slick-list {
    padding: 0 0 2% 0 !important;
  }
}

.index .video .slick-list .video_item {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.index .video .slick-list .video_item iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.index .video .slick-list .slick-current.slick-center {
  position: relative;
  overflow: visible;
  z-index: 2;
}

.index .video .slick-list .slick-current.slick-center .video_item {
  width: 200%;
  padding-top: 112.5%;
  margin-left: -50%;
  margin-top: -25%;
  -webkit-box-shadow: 0 0 15px rgba(165, 136, 102, 0.4);
          box-shadow: 0 0 15px rgba(165, 136, 102, 0.4);
}

.index .video .slick-dots {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.index .video .slick-dots li {
  width: 13px;
  height: 13px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

.index .video .slick-dots li button {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #9e9e9e;
  text-indent: -999px;
  cursor: pointer;
}

.index .video .slick-dots li.slick-active {
  background: #9e9e9e;
}

.index .video .mask::before, .index .video .mask::after {
  content: '';
  width: 17%;
  height: 48%;
  background: url(../images/index/video_mask.png) 50%/100% repeat-y;
  position: absolute;
  top: 21%;
}

@media screen and (max-width: 768px) {
  .index .video .mask::before, .index .video .mask::after {
    display: none;
  }
}

.index .video .mask::before {
  left: -0.5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.index .video .mask::after {
  right: -0.5%;
}

.index .ig_title {
  width: 30%;
  max-width: 160px;
  margin: 2% auto;
}

@media screen and (max-width: 768px) {
  .index .ig_title {
    max-width: 120px;
  }
}

.index .about {
  margin-top: -19%;
}

@media screen and (max-width: 768px) {
  .index .about {
    margin-top: 0;
  }
}

.index .about .about_wrap {
  padding-top: 59.739583333%;
  background: url(../images/index/about_bg.png) 50% 0/100% no-repeat;
  position: relative;
}

@media screen and (max-width: 768px) {
  .index .about .about_wrap {
    padding: 0 0 10% 0;
    background: transparent;
  }
}

.index .about .about_w {
  width: 88%;
  max-width: 1440px;
  margin: -36% auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .index .about .about_w {
    margin: 0 auto;
  }
}

.index .about .about_w .about_l {
  width: 53%;
  padding: 0 5%;
}

@media screen and (max-width: 768px) {
  .index .about .about_w .about_l {
    width: 100%;
    padding: 0 2%;
  }
  .index .about .about_w .about_l h2 {
    line-height: 1.8;
  }
}

.index .about .about_w .about_l h2:last-child {
  padding-top: 0.8%;
  letter-spacing: 5px;
  font-family: 'Noto Serif TC';
  font-size: 1.7em;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .index .about .about_w .about_l h2:last-child {
    letter-spacing: 3px;
  }
}

.index .about .about_w .about_btn {
  margin: 0 33% 0 0;
}

.index .about .about_img {
  margin-top: -30%;
}

.index .about .about_deco {
  width: 88%;
  max-width: 1440px;
  padding-bottom: 8%;
  margin: 5% auto 0 auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .index .about .about_deco {
    padding: 0 2% 1% 2%;
    margin-top: -25%;
  }
}

.index .about .about_deco::before {
  content: '';
  width: 25%;
  padding-top: 10.7976653696%;
  background: url(../images/index/about_en.png) 50%/100% no-repeat;
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .index .about .about_deco::before {
    width: 46.484375%;
    padding-top: 20.0769090467%;
    top: -75%;
  }
}

.index .about .about_deco_p {
  width: 80%;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .index .about .about_deco_p {
    width: 100%;
  }
}

.index .about .p {
  width: 33.333%;
  margin: 0 0.5%;
  overflow: hidden;
}

.index .about .p .p_inner {
  width: 100%;
  padding-top: 67.6470588235%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 1.8s linear;
  transition: -webkit-transform 1.8s linear;
  transition: transform 1.8s linear;
  transition: transform 1.8s linear, -webkit-transform 1.8s linear;
}

.index .about .p.p1 .p_inner {
  background-image: url(../images/index/about_img1.jpg);
}

.index .about .p.p2 .p_inner {
  background-image: url(../images/index/about_img2.jpg);
}

.index .about .p.p3 .p_inner {
  background-image: url(../images/index/about_img3.jpg);
}

.index .about .p:hover .p_inner {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: -webkit-transform 1.8s linear;
  transition: -webkit-transform 1.8s linear;
  transition: transform 1.8s linear;
  transition: transform 1.8s linear, -webkit-transform 1.8s linear;
}

.news_banner {
  padding-top: 36.4583333333%;
  background-image: url(../images/news/banner.jpg);
}

@media screen and (max-width: 768px) {
  .news_banner {
    background-image: url(../images/news/banner_mb.jpg);
  }
}

.news_page {
  margin-right: -50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.news_page .news_page_item-1 .news_img_inner {
  background-image: url(../images/news/article1.jpg);
}

.news_page .news_page_item-2 .news_img_inner {
  background-image: url(../images/news/article2.jpg);
}

.news_page .news_page_item-3 .news_img_inner {
  background-image: url(../images/news/article3.jpg);
}

.news_page .news_page_item-4 .news_img_inner {
  background-image: url(../images/news/article4.jpg);
}

.news_page .news_page_item-5 .news_img_inner {
  background-image: url(../images/news/article5.jpg);
}

.news_page .news_page_item-6 .news_img_inner {
  background-image: url(../images/news/article6.jpg);
}

@media screen and (max-width: 1024px) {
  .news_page {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .news_page {
    margin-right: auto;
    grid-template-columns: 1fr;
  }
}

.news_page_item {
  padding-bottom: 5vh;
}

.news_page_item .news_page_article {
  background: #ffffff;
  border: 1px solid #9e9e9e;
  display: block;
}

.news_page_item .news_page_article:hover .news_img_inner {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.news_page_item .news_page_article:hover .news_img::after {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.news_page_item .news_page_article:hover .news_main_btn {
  color: #a00e15;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.news_page_item .news_page_article:hover .news_main_btn .line::before {
  left: 0;
}

@media screen and (min-width: 769px) {
  .news_page_item {
    padding: 0 50px 8vh 0;
  }
}

.news_img {
  width: 100%;
  padding-top: 57.7777777778%;
  position: relative;
  overflow: hidden;
}

.news_img .news_img_inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.news_img::after {
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.news_main {
  padding: 4% 7% 3% 7%;
}

.news_main .news_main_date {
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 0.928em;
  font-weight: 300;
  color: #9e9e9e;
}

.news_main .news_main_title {
  height: 50px;
  margin: 2% auto;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-family: 'Noto Serif TC';
  font-size: 1.3em;
  font-weight: 600;
}

.news_main .news_main_word {
  height: 75px;
  color: #9e9e9e;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media screen and (max-width: 1024px) {
  .news_main .news_main_word {
    height: 63px;
  }
}

@media screen and (max-width: 768px) {
  .news_main {
    padding: 4% 4% 3% 4%;
  }
  .news_main .news_main_title {
    height: auto;
  }
  .news_main .news_main_word {
    height: auto;
  }
}

.news_main_btn {
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 0.928em;
  font-weight: 300;
  padding-top: 0.5em;
  color: #9e9e9e;
  text-align: right;
  display: block;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.news_main_btn .line {
  width: 70px;
  height: 1px;
  margin-left: 0.5em;
  background: #9e9e9e;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.news_main_btn .line::before {
  content: '';
  width: 100%;
  height: 100%;
  background: #a00e15;
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

.page_pager {
  padding: 0 2%;
  margin: 0 auto;
  background: #9e9e9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_pager .pager_back a {
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', 'sans-serif', serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #ffffff;
  letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
  .page_pager .pager_back a {
    line-height: 1.5;
  }
}

@media screen and (max-width: 512px) {
  .page_pager .pager_back a {
    font-size: 13px;
  }
}

.page_pager a {
  padding: 2em 0;
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  opacity: .5;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  position: relative;
}

.page_pager a.active {
  opacity: 1;
}

.page_pager a:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.pager_arrow.pager_arrow_prev a {
  padding-left: 2em;
}

.pager_arrow.pager_arrow_prev a::after {
  left: 0;
}

.pager_arrow.pager_arrow_next a {
  padding-right: 2em;
}

.pager_arrow.pager_arrow_next a::after {
  content: '>';
  right: 0;
}

@media screen and (max-width: 768px) {
  .pager_arrow.pager_arrow_prev a {
    padding-left: 1.5em;
  }
  .pager_arrow.pager_arrow_next a {
    padding-right: 1em;
  }
}

.pager_arrow a::after {
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 0.928em;
  font-weight: 300;
  content: '<';
  font-size: 1.3em;
  color: #ffffff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.pager_number a {
  padding: 2em 1em;
}

@media screen and (max-width: 768px) {
  .pager_number a {
    padding: 2em 0.5em;
  }
}

.news_single {
  padding: 5% 0;
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .news_single {
    padding: 5% 0 12% 0;
  }
}

.news_single_article {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.news_single_article .news_single_title {
  font-family: 'Noto Serif TC';
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;
}

.news_single_article .news_single_date {
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 0.928em;
  font-weight: 300;
  padding-top: 1em;
  margin-bottom: 5%;
  color: #9e9e9e;
}

.news_single_article .news_single_img {
  padding-top: 50%;
  background-image: url(../images/news/banner_single.jpg);
}

@media screen and (max-width: 768px) {
  .news_single_article .news_single_img {
    background-image: url(../images/news/banner_single_mb.jpg);
  }
}

.news_single_word {
  padding-top: 5vh;
}

.news_single_word h1 {
  margin-bottom: 0.6em;
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.8;
}

.news_single_word h2 {
  margin-bottom: 0.5em;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.8;
}

.news_single_word h3 {
  margin-bottom: 0.3em;
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 1.8;
}

.news_single_word strong {
  font-weight: 500;
  line-height: 1.8;
}

.news_single_word p {
  margin-bottom: 0.5em;
  letter-spacing: 1px;
  line-height: 1.8;
}

.news_single_word a {
  color: #a00e15;
  line-height: 1.8;
}

.news_single_word a:hover {
  border-bottom: 1px solid #a00e15;
}

.news_single_word > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .news_single_word h1 {
    letter-spacing: 1px;
  }
}

.news_dm {
  padding-bottom: 5%;
}

@media screen and (max-width: 768px) {
  .news_dm {
    padding: 5% 0 12% 0;
  }
}

.news_single_dm {
  border: 1px solid #9e9e9e;
}

.product_banner {
  padding-top: 31.25%;
  background-image: url(../images/product/banner.jpg);
}

@media screen and (max-width: 768px) {
  .product_banner {
    background-image: url(../images/product/banner_mb.jpg);
  }
}

.p_list {
  width: 90%;
  margin: 0 auto;
}

.p_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p_box .p_item {
  width: 33.3333333333%;
  padding: 0 5%;
  margin-bottom: 6%;
}

@media screen and (max-width: 1024px) {
  .p_box .p_item {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .p_box .p_item {
    width: 50%;
  }
}

@media screen and (max-width: 512px) {
  .p_box .p_item {
    width: 100%;
    margin: 8% auto;
  }
}

.p_box .p_item a {
  display: block;
}

.p_box .p_item a:hover .p_img {
  -webkit-transform: translate(0, -6%);
          transform: translate(0, -6%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

@media screen and (max-width: 768px) {
  .p_box .p_item a:hover .p_img {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
    transition: none;
  }
}

.p_box .p_item a:hover .box {
  border-color: #a00e15;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.p_box .p_item a:hover .box .t {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .p_box .p_item a:hover .box .t {
    color: #a00e15;
  }
}

.p_box .p_item a:hover .box::after {
  top: 0;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}

.p_box .p_item .p_img {
  height: auto;
  margin: 0 auto;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

@media screen and (max-width: 512px) {
  .p_box .p_item .p_img {
    max-width: 250px;
  }
}

.p_box .p_item .p_img img {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (max-width: 512px) {
  .p_box .p_item .p_img img {
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.p_box .p_item p {
  padding-bottom: 5%;
  text-align: center;
  font-size: 1.15em;
  letter-spacing: 1px;
}

@media screen and (max-width: 1024px) {
  .p_box .p_item p {
    font-size: 1em;
  }
}

.btn_sq {
  text-align: center;
}

.btn_sq .box {
  width: 90px;
  padding: 7px 0;
  margin: 0 auto;
  border: 1px solid #9e9e9e;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

@media screen and (max-width: 768px) {
  .btn_sq .box {
    border-color: #a00e15;
  }
}

.btn_sq .box::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #a00e15;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .btn_sq .box::after {
    display: none;
  }
}

.btn_sq .t {
  font-family: 'Poppins', 'sans-serif', serif;
  font-size: 1em;
  font-weight: 300;
  color: #9e9e9e;
  letter-spacing: 1px;
  line-height: 1;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .btn_sq .t {
    color: #a00e15;
    -webkit-transition: none;
    transition: none;
  }
}

.product_intro {
  background: url(../images/product/flower_bg.png) 0 100%/100% repeat-y;
}

.intro_item {
  width: 100%;
  padding: 3% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro_item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.intro_item:not(:last-child) {
  border-bottom: 1px dotted #9e9e9e;
}

@media screen and (max-width: 768px) {
  .intro_item {
    padding: 10% 0;
  }
}

@media screen and (max-width: 512px) {
  .intro_item {
    padding: 13% 0;
  }
}

.intro_item .intro_p {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .intro_item .intro_p {
    width: 100%;
    padding-bottom: 5%;
  }
}

.intro_item .intro_p img {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro_item .intro_p img {
    width: 90%;
    max-width: 350px;
  }
}

.intro_item .intro_w {
  width: 50%;
  padding: 0 5%;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .intro_item .intro_w {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .intro_item .intro_w {
    width: 100%;
  }
}

.intro_item .intro_w .sm_text {
  padding: 3px 10px;
  background-color: #ebcb73;
  border-radius: 30px;
}

@media screen and (max-width: 1024px) {
  .intro_item .intro_w .sm_text {
    padding: 1px 8px;
  }
}

.intro_item .intro_w .sm_text i {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1.5px;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .intro_item .intro_w .sm_text i {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1024px) {
  .intro_item .intro_w .sm_text i {
    font-weight: 400;
  }
}

.intro_item .intro_w .name {
  padding: 0.5em 0 0.7em 0;
  font-size: 2.2em;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.3;
}

@media screen and (max-width: 1024px) {
  .intro_item .intro_w .name {
    font-size: 1.8em;
    font-weight: 500;
  }
}

.intro_item .intro_w .text {
  font-size: 1.05em;
  line-height: 1.8;
  letter-spacing: 1px;
  text-align: justify;
}

@media screen and (max-width: 1024px) and (min-width: 512px) {
  .intro_item .intro_w .text {
    font-size: 1em;
  }
}

.intro_item .intro_w .prize {
  padding-top: 3%;
  color: #a00e15;
}

@media screen and (max-width: 1024px) {
  .intro_item .intro_w .prize {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 768px) {
  .intro_item .intro_w .prize {
    text-align: right;
  }
}

@media screen and (max-width: 512px) {
  .intro_item .intro_w .prize {
    padding-top: 6%;
  }
}

.product_suggest {
  margin-top: 4%;
  background: url(../images/product/suggest_bg.png) 50% 0/100% no-repeat;
}

@media screen and (max-width: 768px) {
  .product_suggest {
    background-image: url(../images/product/suggest_bg_m.png);
  }
  .product_suggest .section_inner {
    width: 100%;
    padding: 3% 0;
  }
}

.product_suggest .section_box {
  padding: 3% 0 0 0;
}

.product_suggest .title_en {
  width: 250%;
  position: absolute;
  top: -200%;
  left: 185%;
}

.s_list {
  padding: 0 5%;
  margin-top: 3%;
  background: url(../images/product/suggest_bg2.png) 50% 35%/100% no-repeat;
}

@media screen and (max-width: 1024px) {
  .s_list {
    background-position: 50% 45%;
  }
}

@media screen and (max-width: 768px) {
  .s_list {
    padding: 0 6%;
    background-image: url(../images/product/suggest_bg2_m.png);
    background-position: 50% 30%;
  }
  .s_list .slick-prev {
    left: 6%;
  }
  .s_list .slick-next {
    right: 6%;
  }
  .s_list .slick-list {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 512px) {
  .s_list {
    background-position: 50% 50%;
  }
}

.s_link {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-top: 6%;
}

@media screen and (max-width: 768px) {
  .s_link {
    max-width: 260px;
  }
}

.s_link img {
  width: 80%;
  margin: 0 auto;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

@media screen and (max-width: 768px) and (min-width: 512px) {
  .s_link img {
    width: 100%;
  }
}

.s_link p {
  height: 25px;
  margin: 6% auto;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.s_link:hover img {
  -webkit-transform: translate(0, -6%);
          transform: translate(0, -6%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

@media screen and (max-width: 768px) {
  .s_link:hover img {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.s_link:hover .box {
  border-color: #a00e15;
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
}

.s_link:hover .box .t {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .s_link:hover .box .t {
    color: #a00e15;
  }
}

.s_link:hover .box::after {
  top: 0;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
