@charset "utf-8";


@keyframes bgLight {
	0% {
		opacity: 0;
		filter: blur(0px);
	}

	50% {
		opacity: 1.0;
		filter: blur(5px);
	}

	100% {
		opacity: 0;
		filter: blur(0px);
	}
}

.bgLight {
	animation-name: bgLight;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}




/*主視覺*/

.se_2022 {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #fff;
	background-image: none;
	font-family: 'Noto Serif TC';
}

.se_2022 * {
	font-family: 'Noto Serif TC';
}

.se_2022 .main_kv {
	position: relative;
	z-index: 3;
}

.se_2022 .kv_btn,
.se_2022 .kv_title,
.se_2022 .kv_bg_02 {
	position: absolute;
}

.se_2022 .kv_btn,
.se_2022 .kv_title {
	z-index: 5;
}

.se_2022 .kv_title {
	width: 100%;
	text-align: center;
	left: 0;
	top: 0;
	padding-top: 5%;
	height: auto;
	padding-bottom: 0;
	position: relative;
	z-index: 8;
}

.se_2022 .kv_title h1 {
	position: relative;
	display: block;
	background-image: url(../images/BichupFirstEssence_2022SE/kv_title_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 62.8%;
	height: 0;
	padding-bottom: 6%;
	overflow: hidden;
	line-height: 100;
	text-indent: -200em;
	margin: 0 auto;
	opacity: 0;
	animation-fill-mode: forwards;

}

.se_2022 .kv_title span {
	position: relative;
	display: block;
	background-image: url(../images/BichupFirstEssence_2022SE/kv_title_02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 49.4%;
	height: 0;
	padding-bottom: 5.5%;
	overflow: hidden;
	line-height: 100;
	text-indent: -200em;
	margin: 0 auto;
	opacity: 0;
	animation-fill-mode: forwards;
}

.se_2022 .kv_btn {
	width: 100%;
	text-align: center;
	margin-top: 41%;
	margin-bottom: 2%;
	position: relative;
	z-index: 7;
}

.se_2022 .kv_btn a {
	display: inline-block;
	width: 24%;
	transition: 0.3s;
}

.se_2022 .kv_btn a:hover {
	transform: scale(1.05);
}

.se_2022 .kv_bg_01 {
	position: absolute;
	z-index: 0;
	width: 100%;
	padding-bottom: 10%;
	top: 0;
	left: 0;
}

.se_2022 .kv_bg_02 {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	opacity: 0;
	animation-fill-mode: forwards;
}

.se_2022 .kv_light_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	animation-duration: 4s;

}
.kv_shadow{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 6;
	animation-duration: 5s;
}

@media (max-width:768px) {

	.se_2022 .main_kv {
		width: 180%;
		margin-left: -40%;
	}

	.se_2022 .kv_title {
		width: 76%;
		margin-left: auto;
		margin-right: auto;
	}

	.se_2022 .kv_title span {
		width: 62%;
		margin: 1% auto;
	}

	.se_2022 .kv_btn {
		margin-bottom: 4%;
	}

	.se_2022 .kv_btn a {
		display: block;
		margin: 0 auto 0.8% auto;
		width: 45%;
	}

	.se_2022 .kv_light_bg {
		width: 78%;
		height: 100%;

	}
}

/*影片*/
.se_2022 .yt_video {
	position: relative;
	z-index: 3;
}

.se_2022 .video_wrapper {
	width: 72.9%;
	background-image: none;
	background-color: #def0e9;
	margin-bottom: 12%;
}

@media (max-width:768px) {

	.se_2022 .video_wrapper {
		width: 94%;
		background-image: none;
		background-color: #def0e9;
		margin-bottom: 14%;
		padding-bottom: 53%;
	}

}

/*設計介紹*/
.se_2022 .p_02_design {
	background-image: url(../images/BichupFirstEssence_2022SE/p_02_bg.jpg);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 56%;
	position: relative;
	z-index: 1;
	margin-top: -60%;
}

.se_2022 .p_02_word_01 {
	position: relative;
	width: 48.75%;
	margin-top: 3.5%;
	margin-left: 13.6%;
}

.se_2022 .p_02_word_01 p {
	width: 100%;
	position: relative;
	background-image: url(../images/BichupFirstEssence_2022SE/p_02_word_02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	height: 0;
	margin-top: 5.5%;
	padding-bottom: 22%;
	overflow: hidden;
	line-height: 300;
}

.p_02_word_02 {
	width: 100%;
	position: relative;
	margin-top: 0;
}

.p_02_word_02 img {
	width: 37%;
	margin: 0 0 0 7%;
	padding-top: 2.5%;
	position: relative;
	z-index: 2;
}

.p_02_word_02 p {
	display: block;
	position: absolute;
	right: 3%;
	top: 30%;
	z-index: 0;
	width: 70.6%;
	background-image: url(../images/BichupFirstEssence_2022SE/p_02_word_03.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	overflow: hidden;
	line-height: 200;
	height: 0;
	padding-bottom: 21%;
}

@media (max-width:768px) {

	.se_2022 .p_02_design {
		background-image: url(../images/BichupFirstEssence_2022SE/p2_bg_m.jpg);
		padding-top: 73%;
		margin-top: -73%;
	}

	.se_2022 .p_02_word_01 {
		position: relative;
		width: 60%;
		margin-top: 16.5%;
		margin-left: 5%;
	}

	.se_2022 .p_02_word_01 p {
		width: 150%;
		background-image: url(../images/BichupFirstEssence_2022SE/p2_word_m.png);
		margin-top: 50%;
		padding-bottom: 65%;
	}

	.p_02_word_02 img {
		width: 90%;
		margin: 0 0 0 3%;
		padding-top: 2.5%;
		position: relative;
		z-index: 2;
	}

	.p_02_word_02 p {
		position: relative;
		right: auto;
		top: auto;
		margin-left: 5%;
		z-index: 0;
		width: 90%;
		background-image: url(../images/BichupFirstEssence_2022SE/p2_word_03_m.png);
		padding-bottom: 42%;
	}
}

/*成分產品介紹*/
.p_03_prod {
	position: relative;
	background-image: url(../images/BichupFirstEssence_2022SE/p_03_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	padding-bottom: 4%;
}

.p_03_prod_word {
	width: 51.9%;
	padding-top: 9%;
	margin-left: 16%;
}

.p_03_prod_word * {
	position: relative;
}

.p_03_prod_title {
	position: relative;
	width: 63%;
	-webkit-mask-image: url(../images/BichupFirstEssence_2022SE/mask_01.png);
	mask-image: url(../images/BichupFirstEssence_2022SE/mask_01.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center top;
	mask-position: center top;

}

.p_03_prod_title .light_move_in {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: -10%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	z-index: 2;
	display: block;
}

.p_03_prod_word h2 {
	display: block;
	width: 100%;
	background-image: url(../images/BichupFirstEssence_2022SE/p_03_title.png);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 12%;
	overflow: hidden;
	line-height: 100;
	z-index: 0;
	position: relative;
}

.p_03_prod_word img:nth-child(2) {
	width: 58%;
	margin-left: 5%;
	margin-top: 10%;
}

.p_03_prod_word img:nth-child(3) {
	width: 61%;
	margin-left: -7%;
	margin-top: 10%;
}

.p_03_prod_word img:nth-child(4) {
	width: 83%;
	margin-left: 3%;
	margin-top: 10%;
}

.p_03_circle {
	position: absolute;
	top: 13%;
	right: 2%;
	width: 50%;
}

.p_03_circle img:nth-child(1) {
	width: 28%;
	margin-left: 16%;
}

.p_03_circle img:nth-child(2) {
	width: 42%;
}

.p_03_circle img:nth-child(3) {
	width: 28%;
	margin-left: 29%;
	margin-top: -2%;
}

.main_prod_img {
	position: absolute;
	width: 18%;
	right: 10%;
	top: 1%;
}

@media (max-width:768px) {

	.p_03_prod {
		position: relative;
		background-image: url(../images/BichupFirstEssence_2022SE/p3_bg_m.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center top;
		padding-bottom: 4%;
		background-color: #f4f8f8;
	}

	.p_03_prod_word {
		width: 100%;
		padding-top: 1%;
		margin-left: 0%;
	}

	.p_03_prod_title {
		position: relative;
		width: 65%;
		margin-left: auto;
		margin-right: auto;

	}

	.p_03_circle {
		position: relative;
		top: auto;
		right: auto;
		width: 100%;
		margin-top: 5%;
		margin-left: 5%
	}

	.p_03_circle img:nth-child(1) {
		width: 29%;
		margin-left: 24%;
		margin-top: 6.5%;
	}

	.p_03_circle img:nth-child(2) {
		width: 40%;
		margin: -6% 0 -6% -2%;
	}

	.p_03_circle img:nth-child(3) {
		width: 31%;
		margin-left: 29%;
		margin-top: -11%;
	}

	.main_prod_img {
		position: absolute;
		width: 39%;
		right: -3%;
		top: 11%;
	}

	.p3_word_m {
		width: 100%;
		margin: 5% 0;
	}
}

/*金三角*/
.p_04_triangle {
	position: relative;
	background-image: url(../images/BichupFirstEssence_2022SE/p_04_bg.jpg);
	background-size: 100%;
	padding-top: 3%;
	height: 0;
	padding-bottom:75%;
	background-repeat: no-repeat;
	background-color: #f4f8f8;
}

.p_04_triangle a:hover {
	transform: scale(1.05);
}

.p_04_title {
	width: 65.8%;
	margin: auto;
	position: relative;
}

.p_04_triangle h2 {
	display: block;
	margin: 0 auto;
	background-image: url(../images/BichupFirstEssence_2022SE/p_04_title.png);
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	height: 0;
	padding-bottom: 5%;
	line-height: 100;
}

.p_04_title > div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-mask-image: url(../images/BichupFirstEssence_2022SE/mask_02.png);
	mask-image: url(../images/BichupFirstEssence_2022SE/mask_02.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
}

.p_04_triangle .light_move_in {
	position: absolute;
	top: 0;
	width: 10%;
	height: 100%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.p_04_step_01,
.p_04_step_02,
.p_04_step_03 {
	position: absolute;
}

.p_04_step_01,
.p_04_step_02,
.p_04_step_03 {
	width: 27%;
}

.p_04_step_01 {
	left: 10%;
	bottom: 20%;
}

.p_04_step_01 a,
.p_04_step_02 a,
.p_04_step_03 a {
	display: inline-block;
	width: 48%;
	vertical-align: top;
	margin-top: 4%;
	transition: 0.3s;
}

.p_04_step_02 {
	left: 20%;
	margin-top: 5%;
}

.p_04_step_03 {
	right: 9%;
	top: 31%;
}

@media (max-width:768px) {

	.p_04_triangle {
		position: relative;
		background-image: url(../images/BichupFirstEssence_2022SE/p4_bg_m.jpg);
		height: auto;
		padding-bottom: 5%;

	}

	.p_04_triangle h2 {
		background-image: url(../images/BichupFirstEssence_2022SE/p_04_title_m.png);
		padding-bottom: 30%;
	}

	.p_04_title {
		margin-bottom: 75%;
	}

	.p_04_title > div {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-mask-image: url(../images/BichupFirstEssence_2022SE/mask_02_m.png);
		mask-image: url(../images/BichupFirstEssence_2022SE/mask_02_m.png);
	}

	.p04_step {
		width: 90%;
		margin: 0 auto;
	}

	.p04_step div {
		position: relative;
	}

	.p04_step div > img {
		position: relative;
		z-index: 0;
	}

	.p04_step a {
		display: block;
		position: absolute;
		z-index: 5;
		top: 0;
		width: 80%;
		left: 10%;
		transition: 0.3s;
	}

	.p04_step a:nth-child(2) {
		top: 73%;
	}

	.p04_step a:nth-child(3) {
		top: 83%;
	}

	.p04_step .slick-arrow {
		width: 20% !important;
		height: 0;
		padding-bottom: 8%;
		background-color: transparent;
		background-image: url(../images/BichupFirstEssence_2022SE/arrow_lef.png);
		background-size: auto 100%;
		position: absolute;
		background-repeat: no-repeat;
		overflow: hidden;
		font-size: 0;
		top: 50%;
	}

	.p04_step .slick-next {
		right: -4%;
		transform:translateY(-50%) rotate(180deg);
	}

	.p04_step .slick-prev {
		left: -4%;
		transform:translateY(-50%);
	}

}

/*新客首購優惠*/
.p_05_frist {
	background-image: url(../images/BichupFirstEssence_2022SE/p_05_bg.jpg);
	background-size: 100%;
	background-repeat: repeat-y;
	margin-top: -2px;
	position: relative;
	text-align: center;
	padding-top: 4%;
	padding-bottom: 5%;
}

.p_05_title {
	display: block;
	background-image: url(../images/BichupFirstEssence_2022SE/p_05_title.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 12%;
	width: 75.9%;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -400%;
}

.p_05_gift {
	width: 88%;
	margin: 0 auto;
	background-image: url(../images/BichupFirstEssence_2022SE/p_05_kv.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}

.p_05_gift > img {
	width: 29%;
	padding-top: 7%;
	margin: 0 0 0 12%;
}

.p_05_gift a {
	display: block;
	width: 22%;
	margin-left: 14%;
	margin-top: 2%;
	padding-bottom: 5%;
	transition: 0.3s;
}

.p_05_gift a:hover {
	transform: scale(1.05);
}

@media (max-width:768px) {
	.p_05_frist {
		background-image: url(../images/BichupFirstEssence_2022SE/p5_bg_m.jpg);
		padding-top: 8%;
	}

	.p_05_title {
		background-image: url(../images/BichupFirstEssence_2022SE/p5_title_m.png);
		padding-bottom: 30%;
		width: 90%;
		margin-bottom: -2%;
	}

	.p_05_gift {
		width: 98%;
		margin: 0 auto;
		background-image: url(../images/BichupFirstEssence_2022SE/p5_kv_m.png);
		padding-bottom: 12%;
	}

	.p_05_gift > img {
		width: 80%;
		padding-top: 116%;
		margin: 0 auto 0 8%;
	}

	.p_05_gift a {
		position: absolute;
		width: 38%;
		margin-left: 0;
		margin-top: 0;
		top: 86%;
		right: 8%;
	}


}



/*VR*/
.p_06_vr_event {
	background-image: url(../images/BichupFirstEssence_2022SE/p_06_bg.jpg);
	background-size: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
	height: 0;
	padding-bottom: 54%;
}

.p_06_title {
	width: 50%;
	margin-left: 0;
	margin-top: 0;
	position: relative;
	text-align: center;
}

.p_06_title > img {
	width: 75%;
	display: inline-block;
	padding-top: 68%;
}

.p_06_title > a {
	width: 48%;
	display: block;
	margin: 4% auto 10% auto;
	transition: 0.3s;
}

.p_06_title > a:hover {
	transform: scale(1.05);
}

.p_06_word {
	position: absolute;
	width: 46%;
	top: 0;
	right: 6.5%;
	padding-top: 5%;
}

.p_06_word p {
	width: 88%;
	height: 0;
	padding-bottom: 40%;
	text-indent: -100em;
	line-height: 1000;
	overflow: hidden;
	background-image: url(../images/BichupFirstEssence_2022SE/p_06_word.png);
	background-size: 96%;
	background-repeat: no-repeat;
}

.p_06_gift {
	position: absolute;
	width: 22%;
	bottom: 9%;
	right: 2%;
}

.p_06_location {
	position: absolute;
	width: 44%;
	right: 8%;
	top: 53%;
}

@media (max-width:768px) {

	.p_06_vr_event {
		background-image: url(../images/BichupFirstEssence_2022SE/p6_bg_m.jpg);
		height: auto;
		padding-bottom: 5%;
		background-color: #f5f8f7;
	}

	.p_06_title {
		width: 100%;
		margin-left: 0;
		margin-top: 0;
		position: relative;
		text-align: center;
	}
	
	.p_06_title > a {
		width: 65%;
		margin: 4% auto 4% auto;
	}

	.p_06_word {
		position: relative;
		width: 92%;
		margin-left: 4%;
		padding-top: 2%;
        right: 0;
	}

	.p_06_word p {
		width: 100%;
		padding-bottom: 70%;
		background-image: url(../images/BichupFirstEssence_2022SE/p6_word_m.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.p_06_gift {
		position: absolute;
		width: 30%;
		bottom: -5%;
		right: -2%;
	}

	.p_06_location {
		position: relative;
		width: 92%;
		right: auto;
		top: auto;
		margin: 5% auto 4% auto;
	}
}

/*表格*/
.se_2022 .form {
	width: 100%;
	background-color: #d5e1dd;
	margin: 0;
	padding: 6% 0;
}

.se_2022 .form_event_cont,
.se_2022 .form ul {
	width: 54.2%;
	margin: 0 auto;
	position: relative;
}

.se_2022 .form_event_cont {
	margin: 0 auto 4% auto;
}

.se_2022 .form .new_item {
	position: absolute;
	width: 18%;
	bottom: -5%;
	right: 0;
}

.se_2022 .form ul li span {
	color: #77ab9b;
	font-weight: 500;
	margin-right: 0 !important;
}

.se_2022 .form ul li input,
.se_2022 .form ul li select,
.se_2022 .form ul li option {
	width: 84% !important;
}

.se_2022 .form ul li input,
.se_2022 .form ul li select,
.se_2022 .form ul li option,
.se_2022 .form ul li input::placeholder {
	font-weight: 500;
	letter-spacing: 0.1em;
}

.se_2022 .form ul li select {
	background-image: url(../images/BichupFirstEssence_2022SE/arrow_down.png) !important;
	background-size: auto 20% !important;
}

.se_2022 .custom-checkbox {
	width: 54.2%;
	margin: 1.5% auto;
}

.se_2022 .checkmark {
	width: 1.4vw;
	height: 1.4vw;
	top: 0.65vw;
	cursor: pointer;
	background-image: url(../images/BichupFirstEssence_2022SE/checkbox.png);
}

.se_2022 .checkmark.active {
	background-image: url(../images/BichupFirstEssence_2022SE/checkbox_active.png);
}

.se_2022 .custom-checkbox .agree_text {
	font-size: 1.4vw;
	font-weight: 600;
	display: block;
	padding-left: 2vw;
	height: auto;
	z-index: 5;
	position: relative;
}

.se_2022 .custom-checkbox .agree_text a {
	display: inline-block;
	font-size: 1.4vw;
	font-weight: 600;
	border-bottom: 1px solid #000;
}

.se_2022 .custom-checkbox .agree_text a:hover {
	color: #298b6d;
	border-bottom: 1px solid #298b6d;
}

.se_2022 .custom-checkbox p {
	font-size: 1vw;
	display: block;
	box-sizing: border-box;
	padding-left: 2vw;
	padding-top: 0px;
	color: #a6a6a6;
	font-weight: 500;
	line-height: 1.8;
}

.se_2022 .btn_enter {
	width: 16%;
	display: block;
	margin: 0% auto 0% auto;
	transition: 0.3s;
}

.se_2022 .btn_enter:hover {
	transform: scale(1.02);
}

@media (max-width:768px) {
	.se_2022 .form {
		padding-top: 8%;
		padding-bottom: 8%;
	}

	.se_2022 .form_event_cont,
	.se_2022 .form ul {
		width: 93%;
	}

	.se_2022 .form .new_item {
		position: absolute;
		width: 25%;
		bottom: 5%;
		right: 0;
	}

	.se_2022 .form ul {
		margin-top: 5.5%;
	}

	.se_2022 .form ul li {
		margin: 2.5% 0;
		height: 40px;
	}

	.se_2022 .form ul li span {
		height: 40px;
		line-height: 40px;
	}

	.se_2022 .form ul li input,
	.se_2022 .form ul li select {
		width: calc(100% - 6em) !important;
		letter-spacing: 2px;
		font-size: 2.6vw;
		height: 40px;
		line-height: 40px;
	}

	.se_2022 .custom-checkbox {
		width: 93%;
		margin: 5% auto;
	}

	.se_2022 .checkmark {
		width: 3vw;
		height: 3vw;
		top: 3%;
	}

	.se_2022 .custom-checkbox {
		margin-bottom: 2%;
	}

	.se_2022 .custom-checkbox .agree_text {
		font-size: 2.8vw;
		padding-left: 5vw;
	}

	.se_2022 .custom-checkbox .agree_text a {
		font-size: 2.8vw;
	}

	.se_2022 .custom-checkbox p {
		font-size: 2vw;
		padding-left: 5vw;
		padding-top: 0.5vw;
		text-align: justify;
	}

	.se_2022 .btn_enter {
		width: 40%;
		margin-top: 0%;
	}

}

/*注意事項*/
.se_2022 .event_notice {
	background-color: #fff;
	color: #999999 !important;
	padding: 1% 0;
}

.se_2022 .event_notice ul li {
	line-height: 1.8;
}

.se_2022_pop {
	background-color: rgba(214, 237, 228, 0.5);
}

.btn_link {
    display: block;
    width: 48.43%;
    position: absolute;
    left: 25.785%;
    bottom: 4%;
    transition: 0.3s;
}
a.btn_link:hover{
    transform: scale(1);
    filter: brightness(1.05);
}

@media (max-width:768px){
    .btn_link{
        width: 70.8%;
        position: relative;
        margin-top: 2%;
        margin-bottom: 4%;
        left: 14.1%;
    }
}



footer {
    width: 100%;
    background: #f0e7d2
}

.footer {
    width: 85%;
    max-width: 1440px;
    padding: 2.5% 0;
    margin: 0 auto
}

.footer .logo {
    width: 150px
}

@media screen and (max-width:1200px) {
    .footer {
        width: 95%
    }
}

@media screen and (max-width:1024px) {
    .footer .logo {
        display: none
    }
}

@media screen and (max-width:768px) {
    .footer {
        padding: 4% 0
    }
}

.footer_contain {
    width: 100%;
    padding-top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer_contain:first-of-type {
    padding-top: 0
}

.footer_contain li {
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle
}

.footer_contain a {
    display: block;
    font-size: .9em;
    letter-spacing: 3px;
    line-height: inherit
}

@media screen and (max-width:1024px) {
    .footer_contain {
        padding-top: 12px
    }

    .footer_contain:first-of-type {
        display: block
    }
}

.footer_contain .shop .shop_title {
    text-align: right;
    font-size: .9em;
    line-height: normal
}

.footer_contain .shop .shop_title:after {
    content: "";
    display: block;
    width: 6.5em;
    margin-left: auto;
    height: 1px;
    border-bottom: 1px solid #000
}

.footer_contain .shop li ~ li {
    margin-left: 8px
}

.footer_contain .shop a {
    color: #aa9a6f;
    letter-spacing: 2px
}

.footer_contain .shop a,
.footer_contain .shop a:hover {
    -webkit-transition: color .2s linear;
    transition: color .2s linear
}

.footer_contain .shop a:hover {
    color: #000
}

@media screen and (max-width:1200px) {
    .footer_contain .shop .shop_title {
        text-align: center;
        margin-bottom: 1.5%
    }

    .footer_contain .shop .shop_title:after {
        margin-right: auto
    }

    .footer_contain .shop li ~ li {
        margin-left: 4px
    }
}

@media screen and (max-width:1024px) {
    .footer_contain .shop li {
        display: block;
        text-align: center
    }

    .footer_contain .shop li ~ li {
        margin-left: 0;
        margin-top: 1.5%
    }

    .footer_contain .shop a {
        display: inline-block
    }
}

.footer_menu {
    width: 55%
}

.footer_menu .footer_i {
    padding: 0 1%
}

.footer_menu .footer_i:first-child {
    margin-left: -1%
}

.footer_menu .footer_i:not(:last-child) {
    border-right: 1px solid #000
}

.footer_menu a,
.footer_menu a:hover {
    -webkit-transition: font-weight .2s linear;
    transition: font-weight .2s linear
}

.footer_menu a:hover {
    font-weight: 700
}

@media screen and (max-width:1024px) {
    .footer_menu {
        display: none
    }
}

.footer_link {
    width: 45%;
    text-align: right;
    line-height: 0
}

.footer_link li:not(:last-child) {
    margin-right: 2%
}

.footer_link li a {
    border: 1px solid #aa9a6f;
    border-radius: 20px;
    position: relative;
    overflow: hidden
}

.footer_link li img:nth-child(2) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0
}

.footer_link .social a {
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    position: relative
}

.footer_link .social a,
.footer_link .social a:hover {
    -webkit-transition: background .3s linear;
    transition: background .3s linear
}

.footer_link .social a:hover {
    background: #aa9a6f
}

.footer_link .social a:hover img:nth-child(2) {
    opacity: 1
}

.footer_link .link a {
    padding: .15em 0;
    display: block;
    color: #aa9a6f;
    -webkit-transition: background .3s linear;
    transition: background .3s linear
}

.footer_link .link a i {
    width: 1em;
    display: inline-block
}

.footer_link .link a:hover {
    color: #fff;
    background: #aa9a6f;
    -webkit-transition: background .3s linear;
    transition: background .3s linear
}

@media screen and (max-width:1024px) {
    .footer_link {
        width: 100%;
        text-align: center
    }
}

@media screen and (max-width:480px) {
    .footer_link .link:not(:last-child) {
        display: none
    }
}
