@charset "utf-8";

.hwanyu_2022 .slick-slide img.for_m {
	display: none;
}

@media (max-width:768px) {
	.hwanyu_2022 .slick-slide img.for_pc {
		display: none;
	}

	.hwanyu_2022 .slick-slide img.for_m {
		display: block;
	}
}



.hwanyu_2022 .slick-arrow {
	border: none !important;
	text-indent: -9999px;
	font-size: 0;
	overflow: hidden;
	position: absolute;
	top: 40%;
	left: 0;
	z-index: 2;
	background-repeat: no-repeat;
	background-position: center !important;
}

.hwanyu_2022 .slick-arrow.slick-next {
	left: auto;
	right: 0;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/*主視覺*/
.hwanyu_2022 {
	position: relative;
	width: 100%;
	background-image: url(../images/hwanyu/bg.jpg);
	background-size: 100%;
	z-index: 6;
}

.hy_main_kv {
	position: relative;
	background-image: url(../images/hwanyu/kv_bg.jpg);
	background-size: cover;
	background-position: center top;
	margin-top: 0;
}

.hy_kv_title {
	position: relative;
	width: 37.29%;
	padding-top: 12.5%;
	z-index: 2;
	margin-left: 19%;
}

.hy_kv_title h1 {
	display: block;
	width: 100%;
	background-image: url(../images/hwanyu/kv_title.png);
	background-size: 100%;
	line-height: 100;
	overflow: hidden;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 15%;

}

.hy_kv_title_light {
	position: absolute;
	width: 100%;
	height: 0;
	padding-bottom: 15%;
	z-index: 5;
	-webkit-mask-image: url(../images/hwanyu/kv_title.png);
	mask-image: url(../images/hwanyu/kv_title.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center top;
	mask-position: center top;
}

.kv_light {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: -10%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	z-index: 2;
	display: block;
}

.hy_kv_title span {
	display: block;
	background-image: url(../images/hwanyu/kv_word.png);
	width: 72.6%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 16%;
	line-height: 100;
	margin-top: 2%;
	overflow: hidden;
}

.hy_deco_01 {
	width: 36.56%;
	position: absolute;
	top: 0;
	left: 6%;
	z-index: 0;
}

/*影片*/
.hy_main_kv .yt_video {
	position: relative;
	z-index: 3;
	width: 61.9%;
	margin-top: 26.5%;

}

.hy_main_kv .video_wrapper {
	width: 100%;
	background-image: none;
	background-color: transparent;
	margin-bottom: 5.5%;
	padding-bottom: 52%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.hy_main_kv .video_wrapper iframe,
.hy_main_kv .video_wrapper object,
.hy_main_kv .video_wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width:768px) {

	/*主視覺*/
	.hwanyu_2022 {
		background-size: cover;
	}

	.hy_main_kv {
		position: relative;
		background-image: url(../images/hwanyu/kv_m.jpg);
		background-size: cover;
		height: 0;
		padding-bottom: 476.6%;
	}

	.hy_kv_title {
		position: relative;
		width: 90%;
		padding-top: 40%;
		margin-left: 5%;
	}

	.hy_deco_01 {
		width: 85%;
		position: absolute;
		top: -2%;
		left: -10%;
		z-index: 0;
	}

	.hy_kv_title_light {
		opacity: 0;
		animation-fill-mode: forwards;
		animation-delay: 1.5s;
	}

	/*影片*/
	.hy_main_kv .yt_video {
		position: relative;
		z-index: 3;
		width: 95%;
		margin-top: 60%;

	}
}

/*成分介紹*/
.hy_new_cont {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 0;
	padding-bottom: 9.2%;
}

.hy_new_cont h2 {
	position: relative;
	display: block;
	background-image: url(../images/hwanyu/t_01.png);
	background-repeat: no-repeat;
	width: 72%;
	background-size: 100%;
	margin: 0 auto 2% auto;
	overflow: hidden;
	line-height: 100;
	height: 0;
	padding-bottom: 6%;
}

.hy_slide_01,
.hy_cont_img {
	width: 37.5%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.hy_slide_01 {
	background-image: url(../images/hwanyu/line.png);
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: bottom right;
}

.hy_slide_01 div img {
	padding: 0 15.5%;
}

.hy_slide_01 .slick-arrow {
	width: 8%;
	background-size: contain;
	background-color: transparent !important;
	background-image: url(../images/hwanyu/arrow_left.png);
	top: 45%;
	font-size: 0;
	height: 0;
	padding-bottom: 20%;
	background-position: center !important;
}

.hy_slide_01 .slick-next {
	right: 5% !important;
}

.hy_slide_01 .slick-prev {
	left: 5% !important;
}

.hy_slide_01 .slick-dots {
	display: block;
	bottom: 0;
	top: 108%;
}

.hy_slide_01 .slick-dots li {
	background-color: #fff;
	width: 1vw;
	height: 1vw;
	border-radius: 100vw;
	opacity: 0.5;
	margin: 0 1vw;
	transition: 0.3s;
}

.hy_slide_01 .slick-dots li.slick-active {
	opacity: 1;
	background-color: #c29669;
}

.hy_cont_img {
	margin-top: 3%;
	margin-left: 2%;
}

.hy_cont_img img {
	position: absolute;
	width: 95%;
	max-width: 95%;
	top: 0;
	left: 0;
}

@media (max-width:768px) {

	/*成分介紹*/
	.hy_new_cont h2 {
		background-image: url(../images/hwanyu/t_01_m.png);
		width: 90%;
		padding-bottom: 40%;
		margin-top: 15%;
	}

	.hy_slide_01,
	.hy_cont_img {
		width: 95%;
		position: absolute;
	}

	.hy_slide_01 {
		background-image: none;
		right: 2.5%;
		top: 290%;
	}

	.hy_slide_01 div img {
		padding: 0;
	}

	.hy_slide_01 .slick-arrow {
		display: none !important;
	}

	.hy_slide_01 .slick-dots {
		display: block;
		bottom: 0;
		top: 108%;
	}

	.hy_slide_01 .slick-dots li {
		width: 3vw;
		height: 3vw;
		margin: 0 3vw;
		transition: 0.3s;
	}

	.hy_slide_01 .slick-dots li.slick-active {
		opacity: 1;
	}

	.hy_cont_img {
		right: 5%;
		top: 88%;
	}

	.hy_cont_img img {
		width: 95%;
		top: 0;
		left: 5%;
		padding: 0;
	}

}

/*還幼本初精華*/
.hy_cont_02 {
	background-color: #d1b2a3;
	box-shadow: 0 0.5vw 1vw 0 rgba(102, 27, 57, 0.6);
	position: relative;
	height: 0;
	padding-bottom: 49.6%;
	position: relative;
	z-index: 5;
}

.hy_cont_02 > div {
	position: relative;
	z-index: 2;
}

.hy_cont_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}

.hy_cont_02_title {
	width: 21.5%;
	margin-left: 19.7%;
	padding-top: 4%;
	text-align: center;
}

.hy_cont_02_title h2 {
	background-image: url(../images/hwanyu/t_03.png);
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 0;
	padding-bottom: 26%;
	line-height: 100;
}

.hy_cont_02_title span {
	width: 62%;
	display: block;
	margin: -2% auto;
	background-image: url(../images/hwanyu/t_03_cont.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 10%;
	line-height: 100;
	margin-top: 4%;
	overflow: hidden;
}

.hy_cont_02_cont_01 {
	margin-top: -2%;
}

.hy_cont_02_cont_01 p {
	display: block;
	background-image: url(../images/hwanyu/t_03_word.png);
	background-size: 100%;
	width: 34%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 12%;
	overflow: hidden;
	line-height: 100;
	margin-bottom: 3%;
}

.hy_cont_02_cont_01,
.hy_cont_02_cont_02 {
	position: absolute;
	left: 50%;
}

.hy_cont_02_cont_02 span {
	display: block;
	background-image: url(../images/hwanyu/t_03_small_t.png);
	background-repeat: no-repeat;
	width: 13.5%;
	height: 0;
	padding-bottom: 3%;
	overflow: hidden;
	line-height: 100;
	background-size: 100%;
}

.hy_cont_02_cont_02 .hy_cont_02_small {
	width: 13.5%;
	height: 0;
	padding-bottom: 3%;
	-webkit-mask-image: url(../images/hwanyu/t_03_small_t.png);
	mask-image: url(../images/hwanyu/t_03_small_t.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center top;
	mask-position: center top;
	position: absolute;
	z-index: 5;
	left: 0;
	top: 0;
}

.hy_cont_02_cont_02 p {
	background-image: url(../images/hwanyu/t_03_small_word.png);
	background-size: 100%;
	width: 39.2%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 7%;
	overflow: hidden;
	line-height: 100;
	margin-top: 1%;
}

.hy_light_02,
.hy_light_01 {
	position: absolute;
	z-index: 5;
	filter: brightness(1.2);
}

.hy_light_01 {
	width: 7%;
	top: 27%;
	left: 24%;
}

.hy_light_02 {
	width: 5%;
	top: 71.5%;
	left: 23.5%;
}

@media (max-width:768px) {

	.hy_cont_02 {
		background-color: #d1b2a3;
		box-shadow: 0 1.5vw 2vw 0 rgba(102, 27, 57, 0.5);
		position: relative;
		height: 0;
		padding-bottom: 214%;
	}

	.hy_cont_02_title {
		width: 66%;
		margin-left: 17%;
		padding-top: 10%;
		text-align: center;
	}

	.hy_cont_02_cont_01 {
		width: 90%;
		margin-top: 105%;
	}

	.hy_cont_02_cont_01 p {
		width: 90%;
		height: 0;
		padding-bottom: 39%;
	}

	.hy_cont_02_cont_01,
	.hy_cont_02_cont_02 {
		position: absolute;
		left: 5%;
		width: 90%;
	}

	.hy_cont_02_cont_02 span {
		width: 40%;
		height: 0;
		padding-bottom: 8%;
		background-size: 100%;
	}

	.hy_cont_02_cont_02 .hy_cont_02_small {
		width: 40%;
		height: 0;
		padding-bottom: 8%;
	}

	.hy_cont_02_cont_02 p {
		width: 100%;
		padding-bottom: 25%;
		overflow: hidden;
		line-height: 100;
		margin-top: 3%;
	}

	.hy_light_01 {
		width: 8%;
		top: 22%;
		left: 40%;
	}

	.hy_light_02 {
		width: 8%;
		top: 50%;
		left: 36.6%;
	}

}

/*涵養潤透*/
.hy_cont_03 {
	position: relative;
	z-index: 3;
	background-image: url(../images/hwanyu/t_04_bg_02.jpg);
	background-size: 100%;
	height: 0;
	padding-bottom: 67.9%;
}

.hy_cont_03 div {
	position: relative;
	z-index: 3;
}

.hy_cont_03_bg {
	position: absolute;
	z-index: 0;
	width: 100%;
	top: 0;
	left: 0;
}

.hy_light_03,
.hy_light_04 {
	position: absolute;
	width: 6%;
	z-index: 2;
}

.hy_light_03 {
	bottom: 22%;
	right: 37%;
}

.hy_light_04 {
	bottom: 7.2%;
	right: 20%;
}

.hy_cont_03_title {
	width: 31.3%;
	padding-top: 9%;
	margin-left: 15%;
}

.hy_cont_03_title h2 {
	width: 100%;
	display: block;
	background-image: url(../images/hwanyu/t_04_title.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 34%;
	overflow: hidden;
	line-height: 100;
}

.hy_cont_03_title p {
	width: 94%;
	background-image: url(../images/hwanyu/t_04_word.png);
	background-size: 100%;
	padding-bottom: 11.6%;
	background-repeat: no-repeat;
	height: 0;
	line-height: 100;
	overflow: hidden;
	margin-top: 5%;
}

.hy_counter {
	background-image: url(../images/hwanyu/t_04_box.png);
	width: 33.5%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 26%;
	margin-left: 15%;
	margin-top: 5%;
}

.hy_counter span {
	display: block;
	font-size: 7.5vw;
	position: absolute;
	color: #661b39;
	font-family: 'adobe-garamond-pro', serif;
	font-weight: 400;
	font-style: italic;
}

.hy_counter span:nth-child(1) {
	top: 6%;
	left: 38.5%;
}

.hy_counter span:nth-child(2) {
	top: 37%;
	left: 38.5%;
}

@media (max-width:768px) {

	.hy_cont_03 {
		position: relative;
		z-index: 3;
		background-image: url(../images/hwanyu/t_03_bg_02_m.jpg);
		padding-bottom: 247%;
	}

	.hy_light_03,
	.hy_light_04 {
		position: absolute;
		width: 8%;
		z-index: 2;
	}

	.hy_light_03 {
		bottom: 49.5%;
		right: 27%;
	}

	.hy_light_04 {
		bottom: 57%;
		right: 60%;
	}

	.hy_cont_03_title {
		width: 80%;
		padding-top: 128%;
		margin-left: 10%;
	}

	.hy_cont_03_title h2 {
		background-image: url(../images/hwanyu/t_03_m.png);
		padding-bottom: 35%;

	}

	.hy_cont_03_title p {
		width: 90%;
		background-image: url(../images/hwanyu/t_03_word_m.png);
		padding-bottom: 11.6%;
		margin-top: 4%;
		margin-left: 5%;
	}

	.hy_counter {
		width: 90%;
		background-size: 100%;
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 100%;
		margin-left: 5%;
		margin-top: 5%;
	}

	.hy_counter span {
		display: block;
		font-size: 19vw;
	}

	.hy_counter span:nth-child(1) {
		top: 8%;
		left: 40%;
	}

	.hy_counter span:nth-child(2) {
		top: 28%;
		left: 38.5%;
	}
}

/*步驟*/
.hy_step {
	width: 100%;
	position: relative;
}

.hy_step_box {
	width: 84.5%;
	margin: 11% auto 0 auto;
	background-image: url(../images/hwanyu/step_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 101.5%;
	position: relative;
}

.hy_step_box h2 {
	background-image: url(../images/hwanyu/step_title.png);
	width: 73%;
	position: absolute;
	height: 0;
	padding-bottom: 12.3%;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	line-height: 100;
	left: 13.5%;
	top: -2%;
}

.hy_step_box > img {
	width: 99.5%;
	margin-left: 0.25%;
	padding-top: 0.25%;
}

.hy_slick_02 {
	width: 80%;
	margin: -12% auto 0 auto;
}

.hy_slick_02 div img {
	padding: 0 5%;
}

.hy_slick_02 .slick-arrow {
	width: 6%;
	height: 0;
	padding-bottom: 10%;
	background-size: 100%;
	background-color: transparent;
	background-image: url(../images/hwanyu/arrow_white.png);
	background-repeat: no-repeat;
	background-position: center !important;
}

.hy_slick_02 .slick-arrow.slick-prev {
	left: -5%;
}

.hy_slick_02 .slick-arrow.slick-next {
	right: -5%;
}

@media (max-width:768px) {

	.hy_step {
		width: 100%;
		position: relative;
		background-image: url(../images/hwanyu/step_bg_m.jpg);
		padding-top: 30%;
		background-size: 100%;
		z-index: 5;
	}

	.hy_step_box {
		width: 92%;
		margin: 0% auto 0 auto;
		background-image: url(../images/hwanyu/stet_box_bg_m.png);
		padding-bottom: 210%;
		position: relative;
	}

	.hy_step_box h2 {
		background-image: url(../images/hwanyu/step_title_m.png);
		width: 103%;
		position: absolute;
		height: 0;
		padding-bottom: 30%;
		left: -1.5%;
		top: -9%;
	}

	.hy_step_box > img {
		display: none;
	}

	.hy_slick_02 {
		width: 90%;
		padding-top: 86%;
		margin: 0% auto 0 auto;
	}

	.hy_slick_02 div img {
		padding: 0 8%;
	}

	.hy_slick_02 .slick-arrow {
		width: 6%;
		height: 0;
		top: 60%;
		padding-bottom: 10%;
		background-size: 100%;
		height: 0;
		padding-bottom: 50%;
	}

	.hy_slick_02 .slick-arrow.slick-next {
		right: -3%;
	}

	.hy_slick_02 .slick-arrow.slick-prev {
		left: -3%;
	}
}

/*組合*/
.hy_set {
	background-image: url(../images/hwanyu/set_img.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: -14%;
	height: 0;
	padding-bottom: 124.8%;
	text-align: center;
	padding-top: 6%;
	position: relative;
}

.hy_set_title {
	width: 53%;
	margin: 0 auto;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../images/hwanyu/t_06_title.png);
	height: 0;
	padding-bottom: 7%;
	position: relative;
}

.hy_set_title h2 {
	width: 100%;
	height: 0;
	line-height: 100;
	overflow: hidden;
}

.hy_set_light {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	top: 0;
	left: 0;
	-webkit-mask-image: url(../images/hwanyu/mask.png);
	mask-image: url(../images/hwanyu/mask.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center top;
	mask-position: center top;
}

.hy_red_tip {
	width: 14%;
	position: absolute;
	right: 21.7%;
	top: 15%;
	overflow: hidden;
}

.red_light {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-mask-image: url(../images/hwanyu/mask_02.png);
	mask-image: url(../images/hwanyu/mask_02.png);
	-webkit-mask-size: auto 100%;
	mask-size: auto 100%;
	;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: right top;
	mask-position: right top;
}

.hy_sp_event {
	width: 75%;
	margin: 0 auto;
	padding-top: 40%;
}

.hy_light_05 {
	position: absolute;
	width: 4%;
	left: 21.3%;
	top: 34%;
}

.sp_set {
	background-image: url(../images/hwanyu/sp_set_bg.png);
	width: 81.6%;
	background-size: 100%;
	margin: 5% auto;
	height: 0;
	padding-bottom: 60.9%;
	background-repeat: no-repeat;
}

.sp_set_slick {
	width: 82%;
	padding-top: 11%;
	margin: 0% auto 0 auto;
}

.sp_set_slick div img {
	padding: 0 5%;
}

.sp_set_slick .slick-arrow {
	top: 56%;
	background-color: transparent;
	width: 5% !important;
	height: 0;
	padding-bottom: 12%;
	background-image: url(../images/hwanyu/arrow_left_golden.png);
	background-size: 95%;
	background-position: center;
}

.sp_set_slick .slick-arrow.slick-next {
	right: -6%;
}

.sp_set_slick .slick-arrow.slick-prev {
	left: -6%;
}

@media (max-width:768px) {

	.hy_set {
		background-image: url(../images/hwanyu/set_img_m.jpg);
		padding-bottom: 290%;
		margin-top: 0;
	}

	.hy_set_title {
		width: 80%;
		margin: 0 auto;
		background-size: 100%;
		background-repeat: no-repeat;
		background-image: url(../images/hwanyu/set_title_m.png);
		height: 0;
		padding-bottom: 35%;
		position: relative;
		margin-top: 3%
	}

	.hy_set_light {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 3;
		top: 0;
		left: 0;
		-webkit-mask-image: url(../images/hwanyu/mask_m.png);
		mask-image: url(../images/hwanyu/mask_m.png);
		-webkit-mask-size: 100%;
		mask-size: 100%;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center top;
		mask-position: center top;
	}

	.hy_red_tip {
		width: 28%;
		position: absolute;
		right: 5.5%;
		top: 20%;
	}

	.hy_sp_event {
		width: 88%;
		margin: 0 auto;
		padding-top: 60%;
		position: relative;
	}

	.hy_light_05 {
		position: absolute;
		width: 8%;
		left: 11%;
		top: 30.5%;
	}

	.sp_set {
		background-image: url(../images/hwanyu/sp_set_slick_bg_m.png);
		width: 90%;
		background-size: 100%;
		margin: 5% auto;
		height: 0;
		padding-bottom: 160%;
		background-repeat: no-repeat;
	}

	.sp_set_slick {
		width: 90%;
		padding-top: 16%;
		margin: 0% auto 0 auto;
	}

	.sp_set_slick div img {
		padding: 0 0;
	}

	.sp_set_slick .slick-arrow {
		display: none !important;
	}

	.sp_set_slick .slick-dots {
		display: block;
		bottom: 0;
		top: 92%;
	}

	.sp_set_slick .slick-dots li {
		background-color: #bfbfbf;
		width: 2vw;
		height: 2vw;
		border-radius: 100vw;
		margin: 0 2vw;
		transition: 0.3s;
	}

	.sp_set_slick .slick-dots li.slick-active {
		opacity: 1;
		background-color: #c29669;
	}


}

/*預約*/
.hy_join {
	margin-top: -6%;
	position: relative;
	z-index: 3;
	background-image: url(../images/hwanyu/bottom_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid rgba(0, 0, 0, 0);
}

.hy_jolin_title {
	position: relative;
	height: 0;
	padding-bottom: 6.2%;
	background-image: -moz-linear-gradient(90deg, rgba(85, 30, 80, 0.99608) 0%, rgb(49, 26, 40) 100%, rgb(49, 26, 40) 100%);
	background-image: -webkit-linear-gradient(90deg, rgba(85, 30, 80, 0.99608) 0%, rgb(49, 26, 40) 100%, rgb(49, 26, 40) 100%);
	background-image: -ms-linear-gradient(90deg, rgba(85, 30, 80, 0.99608) 0%, rgb(49, 26, 40) 100%, rgb(49, 26, 40) 100%);
}

.hy_jolin_title img {
	position: absolute;
	width: 100%;
	top: -34%;
}

.hy_join > span {
	display: block;
	z-index: 5;
	position: relative;
	color: #fff;
	font-size: 2vw;
	letter-spacing: 2px;
	text-align: center;
	margin: 4% auto;
	font-family: 'Noto Serif TC',sans-serif;
}

.hy_join > a {
	display: block;
	position: relative;
	width: 12.6%;
	margin: 2% auto 5% auto;
	cursor: pointer;
	transition: 0.3s;
	transform: scale(1);
}

.hy_join > a:hover {
	transform: scale(1.1);
}

.copyright.hy_cp {
	background-color: #000;
	color: #c29669;
}

@media (max-width:768px) {

	.hy_join {
		margin-top: 0%;
		position: relative;
		z-index: 3;
		background-image: url(../images/hwanyu/bottom_bg_m.png);
		background-size: cover;
		background-repeat: no-repeat;
		border: 1px solid rgba(0, 0, 0, 0);
	}

	.hy_jolin_title {
		position: relative;
		height: auto;
		padding-bottom: 0;
		background-image: none;
		margin-top: -4%;
	}

	.hy_jolin_title img {
		position: relative;
		width: 200%;
		max-width: 200%;
		margin-left: -50%;
		top: 0;
	}

	.hy_join > span {
		width: 75%;
		display: block;
		z-index: 5;
		position: relative;
		color: #fff;
		font-size: 5vw;
		letter-spacing: 2px;
		text-align: center;
		margin: 4% auto;
	}

	.hy_join > a {
		width: 35%;
		margin: 8% auto 20% auto;
		cursor: pointer;
		transition: 0.3s;
		transform: scale(1);
	}

	.hy_join > a:hover {
		transform: scale(1.1);
	}

	.copyright.hy_cp {
		font-size: 12px;
	}

}
