@charset "utf-8";



/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

section {
    display: inline-block;
    width: 100%;
    position: relative;
}

img {
    width: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

/* Slider css*/
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider style*/
/*.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
*/
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: block;
    width: 10%;
    height: 0px;
    padding-bottom: 15%;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 8;
}

.slick-prev {
    background-image: url(../img/arrow_left.png);
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-next {
    background-image: url(../img/arrow_right.png);
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-prev:hover,
.slick-prev:focus {
    color: transparent;
    outline: none;
    opacity: 1;
}

.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -15%;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '';
}

[dir='rtl'] .slick-prev:before {
    content: '';
}

.slick-next {
    right: -15%;
}

[dir='rtl'] .slick-next {
    right: auto;
    right: 1%;
}

.slick-next:before {
    content: '';
}

[dir='rtl'] .slick-next:before {
    content: '';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: absolute;
    bottom: 7.5%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 3%;
    height: 0;
    margin: 0 2%;
    padding: 0 0 0 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
    margin: 0 auto;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    content: '';
    text-align: center;
    opacity: 1;
    color: #818181;
    background-color: #818181;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 200%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #343434;
    background-color: #343434;
    width: 100%;
}

/*layout*/
html {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

html,
body {
    position: relative;
    font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
}

.for_m {
    display: none;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 5%;
}

/*主banner*/
.kv_banner {
    width: 94.4%;
    margin-left: 0;
    padding-top: 5%;
    position: relative;
}

.kv_banner_m {
    display: none;
}

.kv_banner_pic {
    width: 100%;
    position: relative;
}

.banner_prev,
.banner_next {
    display: inline-block;
    background-color: #313131;
    width: 3.67%;
    bottom: 1.5%;
    position: absolute;
    transition: 0.3s;
}

.banner_prev {
    left: 26.8%;
}

.banner_next {
    left: 30.58%;
}

.banner_prev img,
.banner_next img {
    width: 100%;
}

.banner_prev:hover,
.banner_next:hover {
    background-color: #5BAE7F;
}

.kv_banner_pic .slick-dots {
    width: 120px;
    bottom: 5.8%;
    left: 2.7%;
}

.kv_banner_pic .slick-dots li {
    margin-right: 13px;
    margin-left: 0 !important;
    width: 12px;
}

.kv_banner_pic .slick-dots li:last-child {
    margin-right: 0;
}

.slick-dots li button:before {
    width: 12px;
    height: 12px;
    padding-bottom: 0;
    border-radius: 0;
    left: 0;
    transform: translateX(0);
    background-color: #fff;
}

.kv_banner_pic .slick-dots li.slick-active button:before {
    background-color: #ADB6C3;
}

@media (max-width:768px) {
    .wrapper {
        padding-bottom: 0;
    }

    .kv_banner {
        display: none;
    }

    .kv_banner_m {
        display: block;
        width: 92.75%;
        padding-top: 7.25%;
    }

    .kv_banner_pic {
        display: none;
    }

    .banner_prev,
    .banner_next {
        display: none !important;
    }

    .kv_banner_m .slick-dots {
        width: 100%;
        bottom: 14%;
        left: 0;
    }

    .kv_banner_m .slick-dots li {
        margin-right: 6px;
        margin-left: 0 !important;
        width: 6px;
        height: 6px;
    }

    .kv_banner_m .slick-dots li:last-child {
        margin-right: 0;
    }

    .kv_banner_m li button:before {
        width: 6px;
        height: 6px;
        padding-bottom: 0;
        border-radius: 0;
        left: 0;
        transform: translateX(0);
        background-color: #fff;
    }

    .kv_banner_m .slick-dots li.slick-active button:before {
        background-color: #ADB6C3;
        width: 6px;
    }

}

/*內容*/
.main_wrap {
    width: 100%;
    margin-top: 0.5%;
    position: relative;
}

.main_wrap_inner {
    position: relative;
    width: 94.4%;
    margin-left: 5.5%;
    background-color: #F4F4F5;
    z-index: 0;
    padding-top: 5.9%;
}

.about_word {
    width: 70.58%;
    position: relative;
    margin-left: 29.4%;
    background-color: #fff;
    margin-top: -12%;
    box-sizing: border-box;
    padding: 6.5% 9.6%;
    z-index: 3;
}

.about_word h2 {
    font-family: 'Noto Serif TC';
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1.2px;
    color: #313131;
    line-height: 1.5;
}

.about_word span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #62BCDF;
}

.line_01 {
    margin: 8% 0;
}

.line_02 {
    margin: 8% 0 7% 0;
}

.about_word p {
    width: 100%;
    color: #313131;
    text-align: left;
    font-family: 'Noto Sans TC';
    letter-spacing: 0.8px;
    font-size: 16px;
    line-height: 2;
    font-weight: normal;
}

.deco_01 {
    width: 79%;
    position: absolute;
    top: 10vw;
    left: -5.8%;
    z-index: 2;
}

/*六大主題*/
.types_wrap {
    position: relative;
    width: 88.2%;
    margin: 6.8% auto 0 auto;
    z-index: 3;
    padding-bottom: 5%;
}

.inner_type {
    position: relative;
    display: inline-block;
    width: 30.83%;
    height: 0;
    padding-bottom: 30.83%;
    border: 1px solid #707070;
    vertical-align: top;
    text-align: center;
    background-color: #F4F4F5;
    margin-right: 3.75%;
    cursor: pointer;
    transition: 0.3s;
}

.types_wrap > a:nth-child(odd):hover {
    background-color: #EDE9D9;
}

.types_wrap > a:hover {
    background-color: #DEE3EA;
}

.types_wrap > a:nth-child(3n+3) {
    margin-right: -10%;
}

.types_wrap > a:nth-child(2) {
    margin-top: 4%;
}

.types_wrap > a:nth-child(4),
.types_wrap > a:nth-child(6) {
    margin-top: 1%;
}

.types_wrap > a:nth-child(5) {
    margin-top: 5%;
}

.type_img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

.inner_type span {
    display: block;
    color: #3DBEE3;
    font-family: 'Noto Sans TC';
    margin-top: 2.4vw;
    margin-bottom: 0.8vw;
    font-size: 16px;
}

.inner_type h3 {
    color: #313131;
    font-family: 'Noto Serif TC';
    font-weight: bold;
    font-size: 24px;
}

.inner_type.coming_soon .type_img {
    mix-blend-mode: darken;
    opacity: 0.8;
    filter: grayscale(100%);
}

.inner_type.coming_soon span,
.inner_type.coming_soon h3 {
    color: #ADB6C3;
}

.types_wrap > a.coming_soon:hover {
    background-color: #F4F4F5;
}

.types_wrap > a.coming_soon::after {
    content: '';
    font-family: 'Noto Serif TC';
    color: #fff;
    font-size: 24px;
    display: block;
    position: absolute;
    z-index: 5;
    opacity: 0.65;
    background-color: #ADB6C3;
    text-align: center;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    padding-top: calc(40% - 1em);
    box-sizing: border-box;
}

.types_wrap > a.coming_soon:nth-child(odd)::after {
    background-color: #CEC6A8;
}

.for_m {
    display: none;
}

.for_pc {
    display: block;
}

@media (max-width:1200px) {

    .about_word h2,
    .inner_type h3,
    .types_wrap > a.coming_soon::after {
        font-size: 2vw;
    }

    .about_word span {
        width: 1.6em;
    }

    .about_word p,
    .inner_type span {
        font-size: 1.4vw;
    }

    .deco_01 {
        width: 84%;
        top: 18vw;
    }

}


@media (max-width:768px) {
    .for_m {
        display: block;
    }

    .for_pc {
        display: none;
    }

    .main_wrap_inner {
        position: relative;
        width: 100%;
        margin-left: 0;
        padding-top: 5.9%;
    }

    .about_word {
        width: 92.7%;
        margin-left: 7%;
        background-color: #fff;
        margin-top: -18%;
        box-sizing: border-box;
        padding: 11% 13% 10% 11%;
    }

    .about_word h2 {
        font-family: 'Noto Serif TC';
        font-weight: bold;
        font-size: 5.7vw;
    }

    .about_word span {
        display: block;
        width: 2em;
    }

    .line_01 {
        margin: 9% 0;
    }

    .line_02 {
        margin: 7% 0 9% 0;
    }

    .about_word p {
        font-size: 3.78vw;
        line-height: 2;
    }

    .deco_01 {
        width: 100%;
        top: 185vw;
        left: 0;
    }

    /*六大主題*/
    .types_wrap {
        position: relative;
        width: 85.5%;
        margin: 18% auto 0 auto;
        padding-bottom: 18%;
    }

    .inner_type {
        display: block;
        width: 88.7%;
        height: 0;
        padding-bottom: 88.7%;
        margin-right: 0;
        margin-bottom: 15%;
    }

    .types_wrap > a:nth-child(even) {
        margin-left: 11%;
    }

    .types_wrap > a:hover {
        background-color: #DEE3EA;
    }

    .types_wrap > a:nth-child(3n+3) {
        margin-right: 0;
    }

    .types_wrap > a:nth-child(2) {
        margin-top: 0;
    }

    .types_wrap > a:nth-child(4),
    .types_wrap > a:nth-child(6) {
        margin-top: 0;
    }

    .types_wrap > a:nth-child(5) {
        margin-top: 0;
    }

    .types_wrap > a:nth-child(6) {
        margin-bottom: 0;
    }

    .type_img {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }

    .inner_type span {
        margin-top: 7vw;
        margin-bottom: 4vw;
        font-size: 3vw;
    }

    .inner_type h3 {
        font-size: 4.8vw;
    }

    .types_wrap > a.coming_soon::after {
        font-size: 4.8vw;
        width: 75%;
        height: 75%;
        top: 12.5%;
        left: 12.5%;
    }
}

/*內頁*/
.page_top_wrap {
    width: 100%;
    position: relative;
    z-index: 2;
    opacity: 0;
    animation-fill-mode: forwards;
}

.page_top_word {
    position: relative;
    display: inline-block;
    margin-top: 11.6%;
    margin-left: 10.4%;
    width: 34.3%;
    vertical-align: top;
    z-index: 2;
    box-sizing: border-box;
    padding: 0% 0 10% 0;
}

.page_top_word::before {
    display: block;
    position: absolute;
    content: '';
    width: 40%;
    height: 1px;
    background-color: #707070;
    transform-origin: left top;
    transform: rotate(45deg);
    left: -30%;
    top: -11.5vw;
}

.page_top_word::after {
    content: '';
    display: block;
    position: absolute;
    width: 93%;
    height: 1px;
    background-color: #707070;
    transform-origin: left top;
    transform: rotate(45deg);
    left: 79%;
    bottom: 26%;
}

.page_top_word h2 {
    font-family: 'Noto Serif TC';
    font-weight: bold;
    letter-spacing: 1.8px;
    font-size: 36px;
    color: #313131;
    margin-bottom: 3%;
}

.page_top_word span {
    font-family: 'Noto Serif TC';
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #3DBEE3;
    font-size: 24px;
    display: block;
    margin-bottom: 8%;
}

.page_top_word p {
    font-family: 'Noto Sans TC';
    letter-spacing: 0.8px;
    color: #313131;
    font-size: 16px;
    line-height: 2;
    font-weight: normal;

}


.page_top_pic {
    display: inline-block;
    width: 38.5%;
    height: 0;
    padding-bottom: 51.5%;
    margin-left: 5.2%;
    vertical-align: top;
    overflow: hidden;
}

.page_top_pic img {
    width: 100%;
}


@media (max-width:1200px) {
    .page_top_word {
        width: 43%;
        margin-top: 10%;
        margin-left: 11.5%;
        padding-bottom: 12%;
    }

    .page_top_word::before {
        top: -12.4vw;
        left: -32%;
        width: 36%;

    }

    .page_top_word::after {
        width: 72%;
        bottom: 26%;
    }

    .page_top_word h2 {
        font-size: 3vw;
    }

    .page_top_word span {
        font-size: 2vw;
    }

    .page_top_word p {
        font-size: 1.4vw;
    }

    .page_top_pic {
        margin-left: 4%;
    }

    .page_top_pic {
        margin-left: 0;
    }
}

@media (max-width:768px) {
    .page_top_wrap {
        padding-top: 133%;
    }

    .page_top_pic {
        display: block;
        width: 100%;
        padding-bottom: 133%;
        margin-left: 0;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
    }

    .page_top_word {
        width: 86%;
        position: relative;
        margin-left: 7%;
        margin-top: 12%;
        padding-bottom: 10% !important;
    }

    .page_top_word h2 {
        font-size: 8.4vw;
    }

    .page_top_word span {
        font-size: 5.7vw;
    }

    .page_top_word p {
        font-size: 3.78vw;
        padding-bottom: 0%;
        padding-right: 2%;
    }

    .page_top_word::before {
        display: block;
        position: absolute;
        content: '';
        width: 18%;
        height: 1px;
        background-color: #707070;
        left: -8%;
        top: -20%;
        transform-origin: left top;
        transform: rotate(45deg);
    }

    .page_top_word::after {
        display: block;
        content: '';
        width: 40%;
        height: 1px;
        background-color: #707070;
        transform-origin: left top;
        transform: rotate(45deg);
        left: 36%;
        position: absolute;
        bottom: 0;

    }

}

/*列表頁內容*/
.page_main_wrap {
    margin-top: -5%;
}

.page_main_wrap .main_wrap_inner {
    padding-bottom: 10%;
}

.pic_wrap {
    display: inline-block;
    color: #313131;
    font-size: 16px;
    width: 43.3%;
    text-align: center;
    vertical-align: top;
    margin-bottom: 7%;
}

.page_main_wrap .main_wrap_inner a:nth-child(odd) {
    margin-right: 7.3%;
}

.page_main_wrap .main_wrap_inner a:nth-child(even) {
    margin-top: 7%;
    margin-bottom: 0;
}

.pic_img {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.vertical_type {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 0;
}

.horizontal_type {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.vertical_type_hover {
    position: absolute;
    z-index: 0;
    height: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 71%;
    display: block;
    opacity: 0;
    background-color: #5BAE7F;
    transition: 0.5s;

}

.horizontal_type_hover {
    position: absolute;
    z-index: 0;
    height: 71%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    display: block;
    opacity: 0;
    background-color: #5BAE7F;
    transition: 0.5s;
}

.pic_wrap:hover .pic_img div {
    opacity: 0.5;
    z-index: 2;
}

.pic_word {
    width: 100%;
}

.pic_word .pic_title {
    width: 100%;
    display: block;
    margin-top: 7%;
    line-height: 1.5;
}

.pic_line {
    display: block;
    width: 9%;
    height: 1px;
    background-color: #707070;
    margin: 6% auto;
    transform: rotate(-45deg);
}

@media (max-width:1200px) {
    .pic_wrap {
        font-size: 1.4vw;
    }

}

@media (max-width:768px) {

    .page_main_wrap {
        margin-top: -11%;
        padding-top: 23%;
        width: 92.8%;
        margin-left: 7.2%;
    }

    .page_main_wrap .main_wrap_inner {
        padding-bottom: 30%;
        padding-top: 34%;
        text-align: left;
    }

    .pic_wrap {
        display: inline-block;
        color: #313131;
        font-size: 16px;
        width: 81.7%;
        text-align: center;
        vertical-align: top;
        margin-bottom: 10% !important;
        margin-top: 0 !important;
        position: relative;
        margin-left: 5.2% !important;
        margin-right: auto !important;
    }

    .pic_word {
        width: 88%;
        margin-left: 6%;
        font-size: 3.78vw;
        margin-top: 7%;
    }

    .pic_word .pic_title {
        width: 100%;
        display: block;
        margin-top: 5%;
        line-height: 1.5;
    }

}

/*彈窗*/
.pop_wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    padding: 4% 5%;
    overflow-y: hidden;
    display: none;
}

.pop_box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F4F4F5;
    margin: 0 auto;
    overflow-y: hidden;
}

.pop_box::-webkit-scrollbar,
.pop_wrap::-webkit-scrollbar {
    width: 0;
}

.pop_close {
    position: absolute;
    display: block;
    width: 47px;
    height: 47px;
    background-color: #313131;
    top: 2%;
    right: 1%;
    transition: 0.3s;
}

.pop_close:hover {
    background-color: #5BAE7F;
}

.pop_img {
    position: relative;
    display: inline-block;
    background-image: url(../img/pic_01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 43.8%;
    height: 0;
    padding-bottom: 43.8%;
    margin-left: 6%;
    top: 50%;
    transform: translateY(-50%);
}

.pop_word {
    display: block;
    width: 41%;
    height: 49vh;
    box-sizing: border-box;
    padding: 2% 2.5% 6% 0%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translateY(-50%);
    background-color: #F4F4F5;
    z-index: 2;
    border-bottom: 2vh solid #F4F4F5;
    border-top: 2vh solid #F4F4F5;
}

/*捲軸底色*/
.pop_word::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    background-color: #fff;
}

/*捲軸寬度*/
.pop_word::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

/*捲軸本體顏色*/
.pop_word::-webkit-scrollbar-thumb {
    background-color: #313131;
}

.pop_line_01 {
    display: block;
    content: '';
    width: 1px;
    height: 13vh;
    background-color: #707070;
    transform-origin: left top;
    transform: rotate(-45deg);
    position: absolute;
    top: 8vh;
    left: 50%;
    z-index: 0;
}

.pop_line_02 {
    display: block;
    content: '';
    width: 1px;
    height: 28vh;
    background-color: #707070;
    transform-origin: left top;
    transform: rotate(45deg);
    position: absolute;
    left: 80%;
    bottom: -10vh;
    z-index: 0;
}

.inner_pop_word {
    margin-bottom: 67px;
    color: #313131;
}

.inner_pop_word span {
    font-size: 24px;
    color: #78C2D8;
    font-family: 'Noto Serif TC';
    font-weight: bold;
    letter-spacing: 1.2px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.5;
}

.inner_pop_word h2 {
    display: block;
    width: 100%;
    line-height: 1.5;
    font-size: 24px;
    font-family: 'Noto Serif TC';
    font-weight: bold;
    letter-spacing: 1.2px;
}

.inner_pop_word p {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.8px;
}

.info {
    display: block;
    width: 100%;
    position: relative;
    font-size: 0;
    margin-bottom: 6%;
}

.pic_icon {
    display: inline-block;
    width: 36%;
    overflow: hidden;
    height: 0;
    padding-bottom: 36%;
    border-radius: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.pic_icon img {
    width: 100%;
}

.info_word {
    display: inline-block;
    width: 55%;
    margin-left: 5%;
    vertical-align: middle;
}

.info_word span {
    color: #313131;
    font-size: 24px;
    letter-spacing: 0;
    display: block;
    margin-bottom: 8%;
}

.info_word a {
    display: inline-block;
    width: 8%;
    height: 0;
    padding-bottom: 8%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6%;
    vertical-align: middle;
    transition: 0.3s;
}

.link_home {
    background-image: url(../img/icon_home.png);
}

.link_fb {
    background-image: url(../img/icon_fb.png);
}

.link_ig {
    background-image: url(../img/icon_ig.png);
}

.link_home:hover {
    background-image: url(../img/icon_home_hover.png);
}

.link_fb:hover {
    background-image: url(../img/icon_fb_hover.png);
}

.link_ig:hover {
    background-image: url(../img/icon_ig_hover.png);
}

.info_word a:last-child {
    margin-right: 0;
}

.pop_word > div:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

@media (max-width:1200px) {
    .pop_close {
        top: 1%;
    }

    .inner_pop_word span {
        font-size: 2vw;
    }

    .inner_pop_word p {
        font-size: 1.4vw;
    }

    .pop_word {
        width: 42%;
        left: 55%;
    }

    .pic_icon {
        width: 33%;
        padding-bottom: 33%;
    }

    .info_word {
        width: 58%;
    }

    .pop_line_02 {
        left: 75%;
    }

}

@media (max-height:600px) {
    .pop_img {
        width: 70vh;
        height: 70vh;
        padding-bottom: 0;
    }

    .pop_close {
        top: 1.5%;
    }
}

@media (max-width:768px) {

    .pop_box {
        overflow-y: scroll;
        position: relative;
    }

    .pop_close {
        top: 4vw;
        right: 5%;
        position: fixed;
        z-index: 6;
    }

    .pop_img {
        position: relative;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 90%;
        height: 0;
        padding-bottom: 90%;
        margin-left: 5%;
        top: 75px;
        transform: translateY(0);
    }

    .pop_word {
        width: 90%;
        height: auto;
        padding: 8% 3% 2% 3%;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;
        top: auto;
        left: 5%;
        transform: translateY(0%);
        margin-top: 50%;
        padding-bottom: 40%;
    }

    .pop_line_01 {
        height: 0;
        padding-bottom: 16%;
        top: 108vw;
        left: 5%;
        z-index: 5;
    }

    .pop_line_02 {
        height: 0;
        padding-bottom: 40%;
        left: 60%;
        bottom: 0;
        z-index: 0;
        position: relative;
    }

    .inner_pop_word {
        margin-bottom: 20%;
    }

    .inner_pop_word span {
        font-size: 4.725vw;
        margin-bottom: 4%;
    }

    .inner_pop_word h2 {
        font-size: 4.725vw;
    }

    .inner_pop_word p {
        font-size: 3.78vw;
    }

    .info {
        margin-bottom: 20px;
        text-align: center;
    }

    .pic_icon {
        width: 50%;
        height: 0;
        padding-bottom: 50%;
        margin-bottom: 12%;
    }

    .info_word {
        display: block;
        width: 100%;
        margin-left: 0%;
        text-align: center;
    }

    .info_word span {
        color: #313131;
        font-size: 4.725vw;
        letter-spacing: 0;
        display: block;
        margin-bottom: 7%;
    }

    .info_word a {
        display: inline-block;
        width: 5.6%;
        height: 0;
        padding-bottom: 5.6%;
        margin-right: 5%;
        margin-bottom: 2%;
    }

    .pop_word > div:last-child {
        margin-bottom: -150px;
    }
}

/*尚未開放字樣*/
.coming_word {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.coming_word span {
    font-family: 'Noto Serif TC' !important;
    color: #fff !important;
    font-size: 24px !important;
    display: block;
    margin-top: 0;
}

.coming_word span:nth-child(2) {
    margin-top: -0.2vw;
}

@media (max-width:1200px) {
    .coming_word span {
        font-size: 2vw !important;
    }
}

@media (max-width:768px) {
    .coming_word span {
        font-size: 4.8vw !important;
    }

    .coming_word span:nth-child(2) {
        margin-top: -1.8vw;
    }
}

.link_fixed {
    position: fixed;
    top: 7.6%;
    right: 0;
    z-index: 10;
}
.link_fixed a{
    display: block;
    position: relative;
    margin: 0 auto 10px auto;
    width: 1em;
    padding:20px 10px 20px 15px;
    color: #fff;
    background-color: #4b8854;
    font-size: 14px;
    border-radius: 15px 0 0 15px;
    transition: 0.3s;
    writing-mode: vertical-lr;
    text-orientation:upright;
    letter-spacing: 2px;
}
.link_fixed a:hover{
     background-color: #549b5f;
}
