/*動畫*/

@keyframes lightMove {
    0% {
        left: -20%;
    }

    30% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.light_move {
    -webkit-animation: lightMove 8s linear infinite normal;
    animation: lightMove 8s linear infinite normal;
    animation: lightMove 8s linear infinite normal;
}


.light_word_move {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: 0%;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    z-index: 2;
    display: block;
}


/*super_shoot layout*/

.super_shoot_wrap {
    position: relative;
    width: 100%;
    background-image: url(../images/super_shoot/bg_all.jpg);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #e8f2fa;
}

.super_shoot_wrap a {
    transform: scale(0.98);
    transition: 0.3s ease;
}

.super_shoot_wrap a:hover {
    transform: scale(1.0);
}


@media (max-width:768px) {
    .super_shoot_wrap {
        background-image: url(../images/super_shoot/bg_all_m.jpg);
    }
}

/*主視覺*/
.super_shoot_kv {
    position: relative;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/super_shoot/kv_bg_pc.jpg);
    background-position: center top;
    height: 0;
    padding-bottom: 55.46%;
}


.super_shoot_title {
    width: 24.7%;
    display: block;
    position: relative;
    margin-left: 14.3%;
    padding-top: 4%;
    z-index: 2;
}

.super_shoot_title h1 {
    display: block;
    overflow: hidden;
    background-image: url(../images/super_shoot/kv_slogan.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 68%;
    line-height: 100;
    text-indent: -300%;
    margin-bottom: 1%;
}

.super_shoot_title span {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 30%;
    background-image: url(../images/super_shoot/kv_cont.png);
    background-size: 100%;
    background-repeat: no-repeat;
    line-height: 100;
    text-indent: -100%;
    overflow: hidden;
}

.new_date {
    width: 18.6%;
    position: absolute;
    right: 14.3%;
    top: 4%;
}

.super_shoot_kv_cont {
    width: 22.7%;
    height: 0;
    padding-bottom: 12%;
    background-image: url(../images/super_shoot/kv_new_cont.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 100;
    text-indent: -100%;
    position: absolute;
    right: 14.3%;
    top: 40%;
}

.super_shoot_kv_cont p {
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 100;
    text-indent: -100%;
}

@media (max-width:768px) {

    .super_shoot_kv {
        background-image: url(../images/super_shoot/kv_bg_m.png);
        padding-bottom: 180%;
        background-color: #000521;
    }

    .super_shoot_title {
        width: 80%;
        display: block;
        position: relative;
        margin-left: 10%;
    }

    .super_shoot_title h1 {
        background-image: url(../images/super_shoot/kv_slogan_m.png);
        padding-bottom: 22%;
    }

    .super_shoot_title span {
        display: block;
        width: 80%;
        height: 0;
        margin-left: 10%;
    }

    .new_date {
        width: 30%;
        right: auto;
        top: 25%;
        left: 10%;
    }

    .super_shoot_kv_cont {
        width: 60%;
        padding-bottom: 35%;
        right: 30%;
        top: 65%;
    }
}

/*新品影片*/
.super_shoot_cf {
    z-index: 0;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: -18.5%;
    padding-top: 9%;
    height: 0;
    padding-bottom: 56%;
}

.shooter_01 {
    position: absolute;
    width: 19%;
    left: 9%;
    top: -19%;
    z-index: 2;
}

.kv_little_word {
    position: absolute;
    width: 19%;
    left: 29%;
    top: -5%;
    z-index: 2;
}

.deco_01 {
    position: absolute;
    width: 17.8%;
    right: 8%;
    top: 5%;
    z-index: 2;
}

.super_shoot_cf_title {
    position: relative;
    width: 53%;
    display: block;
    margin: 0 auto;
    background-image: url(../images/super_shoot/cf_title.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    height: 0;
    padding-bottom: 5%;
    line-height: 100;
    text-indent: -100%;
    overflow: hidden;
}

.super_shoot_cf .inner_cf_wrap {
    position: relative;
    margin: 0 auto;
    width: 81.4%;
    background-image: url(../images/super_shoot/yt_bg.png);
    z-index: 0;
    margin-top: -7.5%;
    padding-top: 11.2%;
}

.super_shoot_cf .inner_cf_wrap .cf_frame {
    width: 79%;
    background-color: transparent;
    padding: 2%;
    margin-top: 0;
}

.super_shoot_cf .inner_cf_wrap .video-container {
    padding-top: 0;
}

.super_shoot_cf .inner_cf_wrap .video_wrap video {
    width: 100%;
    padding-top: 0;
    background-image: url(../images/super_shoot/video_bg.png);
    background-size: 100%;
}

@media (max-width:768px) {

    .super_shoot_cf {
        z-index: 0;
        position: relative;
        text-align: center;
        width: 100%;
        margin-top: -18.5%;
        padding-top: 13%;
        height: 0;
        padding-bottom: 56%;
    }

    .shooter_01 {
        position: absolute;
        width: 30%;
        left: auto;
        right: 0;
        top: -89%;
        z-index: 2;
    }

    .kv_little_word {
        width: 40%;
        left: 30%;
        top: -18%;
    }

    .deco_01 {
        display: none;
    }

    .super_shoot_cf_title {
        position: absolute;
        left: 15%;
        width: 70%;
        top: -2%;
    }

    .super_shoot_cf .inner_cf_wrap {
        position: relative;
        width: 100%;
        background-image: url(../images/super_shoot/YT_bg_m.png) !important;
        margin-top: -18%;
        padding-top: 11.2%;
    }

    .super_shoot_cf .inner_cf_wrap .cf_frame {
        width: 90%;
        padding: 2%;
        margin-top: 5.5%;
    }

    .super_shoot_cf .inner_cf_wrap .video-container {
        padding-top: 0;
    }


}

/*產品內容*/
.super_shoot_info {
    width: 81.4%;
    position: relative;
    margin: 2% auto;
    border: 2px solid #fff;
    box-sizing: border-box;
    padding: 4% 4% 0 4%;
    z-index: 8;

}

.super_shoot_info_01 {
    width: 100%;
    position: relative;
    background-image: url(../images/super_shoot/cont_01_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    height: 0;
    padding-bottom: 127%;
}

.super_shoot_info_title {
    background-image: url(../images/super_shoot/t_01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 0;
    padding-bottom: 23%;
    position: absolute;
    width: 40%;
    line-height: 100;
    text-indent: -100%;
    top: 10.5%;
    left: 11.5%;
}

.info_word_01,
.info_word_02 {
    position: absolute;
    width: 45%;
    background-size: 100%;
    background-image: url(../images/super_shoot/info_box_01.png);
    top: 31%;
    left: 7%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 39%;
}

.info_word_01 span:first-child,
.info_word_02 span:first-child {
    display: block;
    background-image: url(../images/super_shoot/info_01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 38%;
    position: absolute;
    height: 0;
    padding-bottom: 20%;
    overflow: hidden;
    line-height: 100;
    text-indent: -100%;
    top: 18%;
    left: 4%;

}

.info_word_01 .counter,
.info_word_02 .counter {
    font-weight: 600;
    color: #005099;
    font-size: 7.6vw;
    position: absolute;
    top: 13%;
    left: 40%;
    transform: scaleX(0.9);
    font-family: "Lato", sans-serif;
}

.check_mark_01 {
    position: absolute;
    width: 6%;
    left: 5.5%;
}

.info_word_01 img:nth-child(3),
.info_word_02 img:nth-child(3) {
    top: 46%;
}

.info_word_01 img:nth-child(4),
.info_word_02 img:nth-child(4) {
    top: 69%;
}

.super_shoot_cream_01 {
    position: absolute;
    width: 28%;
    right: 2%;
    top: 50%;
}

.info_word_02 {
    background-image: url(../images/super_shoot/info_box_02.png);
    top: 63%;
    left: 7%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 39%;
}

.info_word_02 span:first-child {
    background-image: url(../images/super_shoot/info_02.png);
}

.super_shoot_cream_02 {
    position: absolute;
    top: 52%;
    right: 2%;
    width: 28%;
}

.new_tip_01 {
    position: absolute;
    width: 27%;
    right: 3.5%;
    top: 9.8%;
}

.new_tip_02 {
    position: absolute;
    width: 27%;
    right: 3.5%;
    bottom: 8%;
}

.super_shoot_info p {
    width: 32%;
    position: absolute;
    left: 8%;
    bottom: 2%;
    color: #005099;
    background-image: url(../images/super_shoot/blue_word.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 100;
    height: 0;
    padding-bottom: 5%;
}

@media (max-width:768px) {

    .super_shoot_info {
        width: 95%;
        position: relative;
        margin: 10% auto;
        padding: 3% 3% 0 3%;

    }

    .super_shoot_info_01 {
        width: 100%;
        position: relative;
        background-image: url(../images/super_shoot/cont_bg_01.jpg);
        padding-bottom: 358%;
    }

    .super_shoot_info_title {
        background-image: url(../images/super_shoot/t_01_m.png);
        padding-bottom: 23%;
        width: 78%;
        line-height: 100;
        text-indent: -100%;
        top: 4.3%;
        left: 11%;
    }

    .info_word_01,
    .info_word_02 {
        position: absolute;
        width: 88%;
        left: 6%;
        height: 0;
        padding-bottom: 100%;
    }

    .info_word_01 {
        top: 55%;
    }

    .info_word_01 span:first-child {
        top: 15%;
		width: 32%;
    }

    .info_word_02 span:first-child {
        top: 18%;
		width: 32%;
    }

    .info_word_01 .counter,
    .info_word_02 .counter {
        font-size: 20vw;
        position: absolute;
        top: 7.5%;
        left: 34.5%;
    }

    .check_mark_01 {
        width: 5%;
        left: 5.5%;
    }

    .info_word_01 img:nth-child(3) {
        top: 37%;
    }

    .info_word_01 img:nth-child(4) {
        top: 54%;
    }

    .super_shoot_cream_01 {
        right: 2%;
        top: 40%;
    }

    .info_word_02 {
        top: 76.5%;
        left: 6%;
        padding-bottom: 80%;
    }
	
	.info_word_02 .counter{
		top: 10%;
	}

    .super_shoot_cream_02 {
        top: 50%;
    }

    .new_tip_01 {
        position: absolute;
        width: 40%;
        right: 3%;
        top: 11%;
    }

    .new_tip_02 {
        position: absolute;
        width: 40%;
        right: auto;
        left: 3%;
        bottom: auto;
        top: 32%;
    }

    .super_shoot_info p {
        width: 65%;
        padding-bottom: 10%;
        bottom: 0;
        left: 7%;
    }
}

/*超人氣商品*/
.deco_02 {
    width: 18%;
    right: 5%;
    position: absolute;
    margin-top: -7%;
    z-index: 2;
}

.super_shoot_hot_set {
    background-image: url(../images/super_shoot/p_cont_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 109%;
    position: relative;
    text-align: center;
    z-index: 2;
}

.deco_un_01 {
    position: relative;
    width: 36.6%;
    margin-left: 26%;
    padding-top: 10%;
    margin-bottom: 1%;
}

.hot_title {
    position: relative;
    margin-left: 10%;
    margin-top: -4%;
    display: block;
    background-image: url(../images/super_shoot/t_02.png);
    background-size: 100%;
    width: 73%;
    height: 0;
    padding-bottom: 20%;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 100;
    text-indent: -100%;
}

.hot_set_slick {
    width: 90%;
    position: relative;
    margin-left: 1%;
    margin-top: -0%;
}

.hot_set_slick > div {
    padding-bottom: 10%;
}

.hot_set_slick div .set_inner {
    position: relative;
    box-sizing: border-box;
    padding: 5% 15% 0 15%;
}

.hot_set_slick div .set_inner a {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin: 4% 0;

}

.hot_set_slick div .set_inner > img:first-child {
    position: absolute;
    width: 22%;
    z-index: 5;
}

.hot_set_slick div .set_inner > img:nth-child(2) {
    margin-bottom: 5%;
    z-index: 0;
    position: relative;
}

.hot_set_slick div:nth-child(1) .set_inner > img:first-child {
    right: 22%;
    top: 1%;
}

.hot_set_slick div:nth-child(2) .set_inner > img:first-child {
    right: 9%;
    top: 2%;
}

.new_icon_01 {
    position: absolute;
    width: 20%;
    left: 6%;
    top: 13%;
}

.new_icon_02 {
    position: absolute;
    width: 20%;
    right: 6%;
    top: 28%;
}

/*素人見證*/
.deco_05 {
    position: absolute;
    width: 20%;
    left: -8%;
    margin-top: -25%;
    z-index: 2;
}

.deco_shoot {
    position: absolute;
    width: 14%;
    right: -5%;
    z-index: 5;
    margin-top: -8%;
}

.super_shoot_koc {
    width: 132%;
    position: relative;
    margin-left: -16%;
    z-index: 0;
    background-image: url(../images/super_shoot/kol_try_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 90%;
    padding-top: 13.5%;
}

.super_shoot_koc h2 {
    display: block;
    position: relative;
    background-image: url(../images/super_shoot/koc_title.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25%;
    height: 0;
    padding-bottom: 5%;
    overflow: hidden;
    line-height: 100;
    text-indent: -100%;
    margin: 0 auto;
}

.super_shoot_koc .sp_kol_banner {
    width: 68%;
    margin-top: -8%;
}

.super_shoot_koc .slick-arrow {
    background-image: url(../images/super_shoot/arrow_wite_01.png);
}

.super_shoot_koc .slick-arrow.slick-prev {
    left: -4%;

}

.super_shoot_koc .slick-arrow.slick-next {
    background-image: url(../images/super_shoot/arrow_wite_02.png);
    right: -4%;
}

.star_01 {
    position: absolute;
    top: 0;
    width: 23%;
    left: 17%;
}

.star_02 {
    position: absolute;
    top: 0;
    width: 23%;
    right: 17%;
}

@media(max-width:768px) {

    .deco_02 {
        display: none;
    }

    .super_shoot_hot_set {
        background-image: url(../images/super_shoot/cont_02_bg.png);
        width: 100%;
        margin-top: 20%;
        padding-bottom: 12%;
    }

    .deco_un_01 {
        position: absolute;
        width: 50%;
        margin-left: 25%;
        padding-top: 0;
        margin-top: -15%;
    }

    .hot_title {
        margin-left: 10%;
        margin-top: 0;
        background-image: url(../images/super_shoot/t_02_m.png);
        width: 80%;
        padding-bottom: 37.8%;
        background-position: center bottom;
    }

    .hot_set_slick {
        width: 100%;
        margin-left: 0%;
        margin-top: 7%;
        margin-bottom: 10%;
    }

    .hot_set_slick > div {
        padding-bottom: 10%;
    }

    .hot_set_slick .slick-arrow.slick-prev {
        background-image: url(../images/super_shoot/arrow_og_l.png);
        width: 15%;
        padding-bottom: 15%;
        left: -3%;
    }

    .hot_set_slick .slick-arrow.slick-next {
        background-image: url(../images/super_shoot/arrow_og_r.png);
        width: 15%;
        padding-bottom: 15%;
        right: -3%;
    }

    /*素人見證*/
    .deco_05 {
        display: none;
    }

    .deco_shoot {
        display: none;
    }

    .super_shoot_koc {
        width: 100%;
        margin-left: 0;
        margin-top: -12%;
        background-image: url(../images/super_shoot/koc_bg_m.png);
        padding-bottom: 120%;
        padding-top: 20%;
    }

    .super_shoot_koc h2 {
        width: 45%;
        padding-bottom: 10%;
    }

    .super_shoot_koc .sp_kol_banner {
        width: 68%;
        margin-top: -12%;
    }

    .super_shoot_koc .slick-arrow.slick-prev {
        left: -15%;

    }

    .super_shoot_koc .slick-arrow.slick-next {
        right: -15%;
    }

    .star_01 {
        width: 35%;
        left: 0%;
    }

    .star_02 {
        top: 0;
        width: 35%;
        right: 0;
    }

    .hot_set_slick div .set_inner {
        overflow: hidden;
    }

    .hot_set_slick div .set_inner > img:last-child {
        position: absolute;
        width: 22%;
        z-index: 5;
        opacity: 0;
        transition: 0.5s ease;
        transition-delay: 0.5s;

    }

    .hot_set_slick div:nth-child(1) .set_inner > img:last-child {
        right: 22%;
        top: 1%;
    }

    .hot_set_slick div:nth-child(2) .set_inner > img:last-child {
        right: 10%;
        top: 2%;
    }

    .hot_set_slick div.slick-active .set_inner > img:last-child {
        opacity: 1 !important;
        transition: 1s ease;
        transition-delay: 0.5s;
    }

    .hot_set_slick div .set_inner .new_icon_01 {
        position: absolute;
        width: 20%;
        left: -10%;
        top: 13%;
        transition: 1s ease;
        transition-delay: 0.5s;

        opacity: 0;
        display: none;

    }

    .hot_set_slick div .set_inner .new_icon_02 {
        position: absolute;
        width: 20%;
        right: -10%;
        top: 28%;
        transition: 1s ease;
        transition-delay: 0.5s;
        opacity: 0;

    }

    .hot_set_slick div.slick-active .set_inner .new_icon_01 {
        position: absolute;
        width: 20%;
        left: 6%;
        top: 13%;
        opacity: 1;
    }

    .hot_set_slick div.slick-active .set_inner .new_icon_02 {
        position: absolute;
        width: 20%;
        right: 6%;
        top: 28%;
        opacity: 1;
    }

}

/*新品上市*/
.star_03 {
    position: absolute;
    width: 15%;
    left: -11%;
    margin-top: -15%;
}

.star_04 {
    position: absolute;
    width: 30%;
    right: -9%;
    margin-top: -14%;
}

.super_shoot_new_set {
    position: relative;
    text-align: center;
    margin-top: 10%;
    z-index: 2;
}

.super_shoot_new_set h2 {
    display: block;
    background-image: url(../images/super_shoot/t_03.png);
    background-size: 100%;
    width: 60%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 8%;
    overflow: hidden;
    line-height: 100;
    margin: 0 auto;
    z-index: 2;
}

.new_set_slick {
    position: relative;
    z-index: 3;
}

.new_set_slick > div > div > div {
    box-sizing: border-box;
    padding: 0 8%;
}

.new_set_slick > div > div > div > a {
    display: block;
    margin: 5% auto;
    position: relative;
    width: 80%;
}

.big_o_01 {
    position: absolute;
    width: 132%;
    max-width: 132%;
    left: -16%;
    z-index: 0;
    margin-top: -50%;
}

@media (max-width:768px) {

    /*新品上市*/
    .star_03 {
        display: none;
    }

    .star_04 {
        display: none;
    }

    .super_shoot_new_set {
        margin-top: -2%;
    }

    .super_shoot_new_set h2 {
        background-image: url(../images/super_shoot/t_04_m.png);
        width: 90%;
        padding-bottom: 40%;
    }

    .new_set_slick {
        position: relative;
        z-index: 3;
    }

    .new_set_slick > div > div > div {
        box-sizing: border-box;
        padding: 0 3%;
    }

    .new_set_slick > div > div > div > a {
        display: block;
        margin: 5% auto;
        position: relative;
        width: 80%;
    }

    .big_o_01 {
        display: none;
    }

    .new_set_slick .slick-arrow.slick-prev {
        background-image: url(../images/super_shoot/arrow_wite_01.png);

        left: 4%;
        width: 15%;
        padding-bottom: 15%;
        background-size: auto 100%;

    }

    .new_set_slick .slick-arrow.slick-next {
        background-image: url(../images/super_shoot/arrow_wite_02.png);
        right: -4%;
        width: 15%;
        padding-bottom: 15%;
        background-size: auto 100%;
    }


}

/*保養加分神隊友*/
.super_shoot_friend {
    position: relative;
    width: 111%;
    margin-left: -5.5%;
    margin-top: 10%;
    text-align: center;
    background-image: url(../images/super_shoot/friend_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 5;
}

.friend_title {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 27%;
}

.friend_title h2 {
    width: 80%;
    height: 0;
    padding-bottom: 25%;
    display: block;
    position: absolute;
    background-image: url(../images/super_shoot/t_friend.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;
    top: 15%;
    left: 4%;
    overflow: hidden;
    line-height: 100;
}

.deco_bo_01 {
    width: 19%;
    position: absolute;
    z-index: 5;
    left: 5%;
    top: 9%;
}

.deco_06 {
    position: absolute;
    width: 18%;
    right: -2%;
    margin-top: -2%;
}

.deco_07 {
    position: absolute;
    width: 25%;
    right: 15%;
    margin-top: -4%;
}

.add_friend_slick {
    width: 80%;
    margin: 0.5% auto 0 auto;
    position: relative;
    padding-bottom: 4%;
}

.add_friend_slick .slick-arrow {
    width: 10%;
    padding-bottom: 10%;
}

.add_friend_slick .slick-arrow.slick-prev {
    background-image: url(../images/super_shoot/arrow_02_left.png);
    left: -5%;
}

.add_friend_slick .slick-arrow.slick-next {
    background-image: url(../images/super_shoot/arrow_02_right.png);
    right: -5%;
}

.add_inner {
    position: relative;
    width: 100%;
}

.add_inner .check_mark_02 {
    width: 3%;
    position: absolute;
    left: 11.4%;
}

.c_m_01 {
    top: 47%;
}

.c_m_02 {
    top: 56%;
}

.c_m_03 {
    top: 65%;
}

.c_m_04 {
    top: 74%;
}

.c_m_05,
.c_m_06,
.c_m_07,
.c_m_08 {
    left: 9.5% !important;
}

.c_m_05 {
    top: 51%;
}

.c_m_06 {
    top: 62%;
}

.c_m_07 {
    top: 70%;
}

.c_m_08 {
    top: 78%;
}

.deco_o_01,
.deco_o_02,
.deco_o_03 {
    width: 10%;
    position: absolute;
    z-index: 5;
    left: 10.5%;
}

.deco_o_01 {
    top: 28%;
}

.deco_o_02 {
    top: 49%;
}

.deco_o_03 {
    top: 69%;
}

.but_buy,
.but_more {
    position: absolute;
    width: 31%;
    right: 5%;
}

.add_inner a {
    bottom: 15%;
}

.add_inner a ~ a {
    bottom: 4%;
}

.big_0_02 {
    position: absolute;
    width: 120%;
    max-width: 120%;
    margin-left: -15%;
    margin-top: -29%;
    z-index: 0;
}

@media (max-width:768px) {

    .super_shoot_friend {
        position: relative;
        width: 108%;
        margin-left: -4%;
        margin-top: 10%;
        text-align: center;
        background-image: url(../images/super_shoot/friend_bg_m.png);
    }

    .friend_title {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 40%;
    }

    .friend_title h2 {
        width: 110%;
        height: 0;
        padding-bottom: 230%;
        top: 10%;
        left: 4%;
    }

    .deco_bo_01 {
        width: 25%;
    }

    .deco_06 {
        display: none;
    }

    .deco_07 {
        position: absolute;
        width: 42%;
        right: -9%;
        margin-top: -10%;
    }

    .add_friend_slick {
        width: 86%;
        margin: 0.5% auto 0 auto;
        position: relative;
        padding-bottom: 4%;
    }

    .add_friend_slick .slick-arrow {
        width: 15%;
        padding-bottom: 15%;
        top: 30%;
    }

    .add_inner {
        position: relative;
        width: 100%;
    }

    .add_inner .check_mark_02 {
        width: 4%;
        left: 13%;
    }

    .c_m_01 {
        top: 61%;
    }

    .c_m_02 {
        top: 65.5%;
    }

    .c_m_03 {
        top: 70%;
    }

    .c_m_04 {
        top: 74.5%;
    }

    .c_m_05,
    .c_m_06,
    .c_m_07,
    .c_m_08 {
        left: 11.5% !important;
    }

    .c_m_05 {
        top: 61%;
    }

    .c_m_06 {
        top: 66.5%;
    }

    .c_m_07 {
        top: 69.9%;
    }

    .c_m_08 {
        top: 73.5%;
    }

    .deco_o_01,
    .deco_o_02,
    .deco_o_03 {
        width: 15%;
        position: absolute;
        z-index: 5;
        left: 11.5%;
    }

    .deco_o_01 {
        top: 51.5%;
    }

    .deco_o_02 {
        top: 61.8%;
    }

    .deco_o_03 {
        top: 71.5%;
    }

    .but_buy,
    .but_more {
        position: absolute;
        width: 70%;
        right: 15%;
    }

    .add_inner a {
        bottom: 11%;
    }

    .add_inner a ~ a {
        bottom: 3.5%;
    }

    .big_0_02 {
        display: none;
    }
}

/*表格*/
.super_shoot_form {
    position: relative;
    width: 100%;
    color: #fff;
}

.super_shoot_form .title_free {
    width: 75%;
    margin: 0 auto;
}

.start_07 {
    position: absolute;
    width: 20%;
    top: -5%;
    left: 5%;
}

.super_shoot_title_02 {
    width: 44%;
    margin: 5% auto 0% auto;
}

.btn_shop_go {
    display: block;
    width: 12%;
    margin-left: 70.5%;
    margin-top: 2%;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

.super_shoot_form .form_word {
    margin-top: 1%;
    margin-bottom: 3.5%;
}

.super_shoot_form .form_word span,
.super_shoot_form ul li,
.super_shoot_form ul li span {
    font-weight: normal;
    z-index: 5;
}

.super_shoot_form .custom-checkbox {
    color: #fff;
    margin-top: 8%;
}

.super_shoot_form .custom-checkbox div,
.super_shoot_form .custom-checkbox a {
    font-weight: normal;
}

.super_shoot_form .custom-checkbox a {
    color: #f3e681;
    border-bottom: 1px solid #f3e681;
}

.deco_bg {
    position: absolute;
    width: 100%;
    bottom: -10%;
    z-index: 0;
}

@media (max-width:768px) {

    .super_shoot_form {
        position: relative;
        width: 100%;
        color: #fff;
        z-index: 3;
    }

    .super_shoot_form .title_free {
        width: 120%;
        max-width: 120%;
        margin: -7% auto 5% -10%;
    }

    .start_07 {
        display: none;
    }

    .super_shoot_title_02 {
        width: 70%;
        margin: 8% auto 10% auto;
    }

    .btn_shop_go {
        display: block;
        width: 15%;
        position: absolute;
        top: 13%;
        right: 8%;

    }

    .super_shoot_form .form_word {
        margin-top: -4%;
        margin-bottom: 8%;
    }

    .super_shoot_form .form_word span {
        width: 70%;
        line-height: 1.5;
        font-size: 3vw;
        text-align: justify;
    }

    .super_shoot_form .custom-checkbox div,
    .super_shoot_form .custom-checkbox a {
        font-weight: normal;
        font-size: 3vw;
    }

    .super_shoot_form .custom-checkbox a {
        color: #f3e681;
        border-bottom: 1px solid #f3e681;
    }

    .deco_bg {
        display: none;
    }

    .super_shoot_enter {
        margin: 8% auto 15% auto;
        position: relative;
        z-index: 5;
    }
}

/*建議搭配*/
.super_shoot_suggest {
    position: relative;
    background-image: url(../images/super_shoot/bg_bottom.png);
    background-size: 100%;
    background-position: center bottom;
    padding-bottom: 5%;
    background-repeat: no-repeat;
    padding-top: 4%;
}

.super_shoot_item_img_01 {
    background-image: url(../images/super_shoot/new_p_01.png);
    background-size: auto 95%;
    background-position: center bottom;
}

.super_shoot_item_img_02 {
    background-image: url(../images/super_shoot/new_p_02.png);
    background-size: auto 50%;
    background-position: center bottom;
}

.super_shoot_item_img_03 {
    background-image: url(../images/super_shoot/new_p_03.png);
    background-size: auto 95%;
    background-position: center bottom;
}

.super_shoot_item_img_04 {
    background-image: url(../images/super_shoot/new_p_04.png);
    background-size: auto 50%;
    background-position: center bottom;
}

.super_shoot_item_img_05 {
    background-image: url(../images/super_shoot/new_p_05.png);
    background-size: auto 50%;
    background-position: center bottom;
}

.super_shoot_item_img_06 {
    background-image: url(../images/super_shoot/new_p_06.png);
    background-size: auto 95%;
    background-position: center bottom;
}

@media (max-width:768px) {

    .super_shoot_suggest {
        position: relative;
        background-image: url(../images/super_shoot/bg_bottom_m.png);
        margin-top: 60%;
        background-position: center bottom;
        padding-top: 0;

    }

    .super_shoot_suggest_title {
        z-index: 0;
        position: relative;
        position: absolute;
        top: -3%;
        width: 90%;
        left: 5%;
    }

    .super_shoot_item .product_item_contain {
        width: 70% !important;
        max-width: 70%;
    }

    .super_shoot_suggest .super_drops_wrap {
        margin-top: -43%;
    }

    .super_shoot_item br {
        display: none;
    }

    .super_shoot_item_img_01 {
        background-image: url(../images/super_shoot/new_p_01.png);
        background-size: auto 95%;
        background-position: center bottom;
    }

    .super_shoot_item_img_02 {
        background-image: url(../images/super_shoot/new_p_02.png);
        background-size: auto 60%;
        background-position: center bottom;
    }

    .super_shoot_item_img_03 {
        background-image: url(../images/super_shoot/new_p_03.png);
        background-size: auto 95%;
        background-position: center bottom;
    }

    .super_shoot_item_img_04 {
        background-image: url(../images/super_shoot/new_p_04.png);
        background-size: auto 60%;
        background-position: center bottom;
    }

    .super_shoot_item_img_05 {
        background-image: url(../images/super_shoot/new_p_05.png);
        background-size: auto 60%;
        background-position: center bottom;
    }

    .super_shoot_item_img_06 {
        background-image: url(../images/super_shoot/new_p_06.png);
        background-size: auto 95%;
        background-position: center bottom;
    }
}

/*pop*/
.super_shoot_wrap .super_shoot_pop {
    background-color: rgba(87, 110, 175, 0.8) !important;
}

.super_shoot_pop .popup_close {
    top: 10% !important;
    right: 12% !important;
    left: auto;
}

@media (max-width:768px) {
    .super_shoot_pop .popup_wrap {
        width: 60%;
    }

    .super_shoot_pop .popup_close {
        top: 8% !important;
        right: 10% !important;
        width: 10%;
    }
}

.shoot_info_light {
    position: absolute;
    width: 36%;
    top: 3%;
    left: 12%;
}

@media (max-width:768px) {
    .shoot_info_light {
        position: absolute;
        width: 50%;
        top: 1%;
        left: 25%;
    }
}



.super_shoot_light_01 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: url(../images/super_shoot/mask_01.png);
    mask-image: url(../images/super_shoot/mask_01.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center top;
    mask-position: center top;
}

.shoot_mask_02 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-mask-image: url(../images/super_shoot/new_01_mask.png);
    mask-image: url(../images/super_shoot/new_01_mask.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center top;
    mask-position: center top;
}

.shoot_mask_02 > div {
    left: -20%;

}

.shoot_mask_03 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(../images/super_shoot/new_02_mask.png);
    mask-image: url(../images/super_shoot/new_02_mask.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center top;
    mask-position: center top;

}

.shoot_mask_03 > div {
    left: -10%;
}

@media (max-width:768px) {
    .shoot_mask_04 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-mask-image: url(../images/super_shoot/new_02_m_mask.png);
        mask-image: url(../images/super_shoot/new_02_m_mask.png);
        -webkit-mask-size: 100%;
        mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center top;
        mask-position: center top;
    }

    .shoot_mask_04 > div {
        left: -30%;
    }
}
