@charset "utf-8";

.search_word {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5% 0;
    font-size: 2.4vw;
    color: #5Bae7f;
    font-family: 'Noto Serif TC';
    font-weight: 600;
}

.search_cont {
    font-size: 0;
}

.search_cont > div {
    display: inline-block;
    width: 31%;
    margin-right: 3.5%;
    vertical-align: middle;
}

.search_cont > div:nth-child(3n+3),
.tip_cont > div:nth-child(3n+3) {
    margin-right: 0;
}

.search_cont > div span {
    font-family: 'Noto Serif TC';
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    font-size: 1.7vw;
    margin: 2% 0;
    display: block;
}

.search_cont > div a {
    width: 32%;
}

@media (max-width:960px) {
    .search_word {
        font-size: 4.8vw;
    }

    .search_cont > div {
        width: 100%;
        margin-right: 0;
        margin: 5% 0;
    }

    .search_cont > div span {
        width: 100%;
        padding: 0 5%;
        font-size: 4.8vw;
        margin: 5% 0;
        display: block;
        box-sizing: border-box;
    }

    .search_cont > div a {
        width: 20%;
        margin-left: 5%;
    }
}

/*about*/
.about_cont_01 {
    width: 100%;
    position: relative;
    display: inline-block;
}

.about_cont_01 > div {
    width: 50%;
}

.about_cont_01 span {
    margin-bottom: 8%;
    letter-spacing: 1px;
}

.about_cont_01 img {
    width: 34%;
    position: absolute;
    top: -10%;
    right: 8%;
}

.about_cont_01,
.about_cont_02,
.about_cont_03 {
    line-height: 1.6;
}

.about_cont_02 {
    margin-top: 9%;
    position: relative;
}

.about_cont_02 span,
.about_cont_03 span {
    margin-bottom: 5%;
}

.about_cont_02 p {
    text-align: justify;
}

.about_cont_02 img {
    width: 7%;
    position: absolute;
    right: 2%;
    top: 120%;
}

.about_cont_03 {
    margin-top: 10%;
    position: relative;
}

.about_cont_03 img {
    width: 8%;
    position: absolute;
    top: 150%;
    left: 0;
}

.name {
    width: 100%;
    text-align: right;
    margin-top: 15%;
}

.name div,
.name img {
    display: inline-block;
    vertical-align: middle;
}

.name img {
    width: 16%;
}

@media(max-width:960px) {

    /*about*/
    .about_cont_01 {
        width: 100%;
        position: relative;
        display: inline-block;
    }

    .about_cont_01 > div {
        width: 100%;
        padding-top: 80%;
    }

    .about_cont_01 span {
        margin-bottom: 8%;
        letter-spacing: 1px;
    }

    .about_cont_01 img {
        width: 70%;
        position: absolute;
        top: 0;
        right: 15%;
    }

    .about_cont_02 img {
        width: 10%;
        position: absolute;
        right: 2%;
        top: 105%;
    }

    .about_cont_03 {
        margin-top: 10%;
        position: relative;
    }

    .about_cont_03 img {
        width: 16%;
        position: absolute;
        top: 150%;
        left: 0;
    }

    .name {
        width: 100%;
        text-align: right;
        margin-top: 15%;
    }

    .name div,
    .name img {
        display: block;
        vertical-align: middle;
    }

    .name img {
        margin-top: 4%;
        width: 30%;
        float: right;
    }

}

/*tip*/
.tip_word {
    width: 58%;
    margin: -2% auto 0 auto;
    font-size: 1vw;
    line-height: 1.5;
    text-align: center;
}

.tip_cont {
    position: relative;
    width: 100%;
    text-align: center;
}

.tip_cont > div {
    display: inline-block;
    width: 31%;
    margin-right: 2.4%;
    vertical-align: middle;
    padding: 3% 0 2% 0;
    text-align: left;
}

.tip_cont > div:nth-child(2n) {
    padding-top: 15%;
}

.tip_no {
    font-size: 1.6vw;
    color: #5Bae7f;
    font-family: 'Noto Serif TC';
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
    margin: 4% 0 0 0;
}

.tip_no.inner_page_title {
    font-size: 2vw;
    text-align: center;
    position: relative;
    margin-bottom: -6%;
    font-weight: 800;
}

@media(max-width:960px) {
    .tip_no.inner_page_title {
        font-size: 4.8vw;
        text-align: center;
        position: relative;
        margin-bottom: -5%;
        margin-top: 10%;
        box-sizing: border-box;
    }

}

.tip_no.inner_page_title::after,
.tip_no.inner_page_title::before {
    display: inline-block;
    content: '';
    position: relative;
    background-color: #5Bae7f;
    width: 4%;
    height: 1px;
    top: 50%;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 1%;
    margin-right: 1%;
}

.tip_cont > div > span:nth-child(3) {
    display: block;
    padding: 4% 0;
    font-size: 1.7vw;
    line-height: 1.5;
    font-family: 'Noto Serif TC';
    font-weight: 600;
}

.tip_cont > div > a {
    margin-top: 0;
    padding: 2% 5% 3% 5%;
}

@media (max-width:960px) {

    .tip_word {
        width: 70%;
        font-size: 2.4vw;
        line-height: 1.8;
    }

    .tip_cont > div {
        display: inline-block;
        width: 90%;
        margin-right: 0;
        vertical-align: middle;
        padding: 10% 0 10% 0;
    }

    .tip_cont > div:nth-child(2n) {
        padding-top: 3%;
    }

    .tip_no {
        font-size: 4.8vw;
    }

    .tip_cont > div > span:nth-child(3) {
        display: block;
        font-size: 4.8vw;
    }

    .tip_cont > div > a {
        width: 20%;
    }
}


.tip_cont_02 {
    position: relative;
    font-size: 0;
    margin-top: -6%;
}

.tip_cont_02 > div {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
    margin-right: 4%;
}

.tip_cont_02 > div:nth-child(2n+2) {
    margin-right: 0;
    padding-top: 8%;
}

.tag {
    font-size: 1.2vw;
    text-align: right;
    margin: 4% 0;
    color: #5Bae7f;
    font-family: 'Noto Serif TC';
    font-weight: 600;
}

.tag a {
    display: inline-block;
    width: auto;
    margin-left: 2%;
    color: #5Bae7f;
    background-color: transparent;
    padding: 0;
}


.tip_cont_02 > div > span {
    font-family: 'Noto Serif TC';
    font-weight: 600;
    font-size: 1.7vw;
    display: block;
    width: 100%;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 2px;
}

.tip_cont_02 > div > p {
    font-size: 1vw;
    line-height: 1.8;
    margin-top: 3%;
}

@media(max-width:960px) {

    .tip_cont_02 {
        position: relative;
        font-size: 0;
        margin-top: 0;
    }

    .tip_cont_02 > div {
        width: 100%;
        margin-right: 0;
        padding-bottom: 15;
        padding-bottom: 10%;
    }

    .tip_cont_02 > div:nth-child(2n+2) {
        padding-top: 0;
    }

    .tag {
        font-size: 3.6vw;
        width: 90%;
        margin-left: 5%;
    }

    .tag a {
        display: inline-block;
        margin-left: 2%;
    }

    .tip_cont_02 > div > span {
        font-family: 'Noto Serif TC';
        font-weight: 600;
        font-size: 4.8vw;
        display: block;
        width: 90%;
        margin-left: 5%;
    }

    .tip_cont_02 > div > p {
        font-size: 2.4vw;
        width: 90%;
        margin-left: 5%;
    }

    .tip_cont_02 > div > a {
        width: 20%;
        margin-left: 5%;
    }

}

/*TIP*/
.tip_cont_03 {
    width: 100%;
    position: relative;
    font-size: 0;
}

/*行事曆*/
.calendar {
    display: inline-block;
    width: 32%;
    height: auto;
    vertical-align: top;
    background: #fff;
    border: 1px solid #AEB6C2;
    text-align: center;
    box-sizing: border-box;
    padding: 1% 0;
}

.calendar > a {
    display: inline-block;
    font-size: 1.2vw;
    font-weight: 900;
    color: #AEB6C2;
    transform: scaleX(0.8);
}


.calendar_m {
    font-size: 1.8vw;
    color: #AEB6C2;
    font-family: 'Noto Serif TC';
    font-weight: 600;
    display: inline-block;
    margin: 5% 30%;
}

.week {
    color: #fff;
    font-size: 1vw;
    color: #fff;
    background-color: #AEB6C2;
    padding: 2% 5%;
    font-weight: 100;
    width: 100%;
    font-size: 0;
    box-sizing: border-box;
}

.week li {
    width: 12%;
    color: #fff;
    font-size: 1vw;
    display: inline-block;
}

.days li {
    display: inline-block;
    font-size: 1vw;
}

.calendar_list {
    display: inline-block;
    width: 65%;
    position: relative;
    box-sizing: border-box;
    padding: 0 0 0 3%;
    font-size: 0;
}

.days {
    font-size: 0;
    width: 100%;
    padding: 2% 12%;
    box-sizing: border-box;
    text-align: left;
}

.days li {
    display: inline-block;
    width: 14.2%;
    padding: 5% 0;
    text-align: center;
    font-size: 1vw;
}

.days li:nth-child(7n+7),
.days li:nth-child(1),
.days li:nth-child(8),
.days li:nth-child(15),
.days li:nth-child(22),
.days li:nth-child(29) {
    color: #ADB6C3;
}

.event_tip {
    color: #fff;
    background-color: #5BAE7F;
    border-radius: 100em;
}

@media(max-width:960px) {
    .calendar {
        display: none;
    }
}

/*行事曆列表*/
.calendar_list img,
.calendar_list > div > div {
    display: inline-block;
    vertical-align: top;
}

.calendar_list > div {
    position: relative;
    margin-bottom: 8%;
}

.calendar_list > div > img {
    width: 60%;
}

.calendar_list .date {
    width: 10%;
    padding-bottom: 10%;
    left: 1%;
    top: 3%;
    font-family: 'Noto Serif TC';
}

.calendar_list .date span:last-child {
    font-size: 1.4vw;
    padding-bottom: 2%;
}

.calendar_list > div > div {
    width: 40%;
}

.calender_word {
    position: relative;
}

.calender_word span {
    display: block;
    font-family: 'Noto Serif TC';
    font-weight: 600;
    font-size: 1.6vw;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 0 0 0 9%;
}

.calender_word > ul {
    margin: 6% 0;
}

.calender_word > ul li {
    font-size: 1vw;
    padding-left: 9%;
    opacity: 0.9;
    line-height: 1.8;
}

.calender_word .tag {
    width: 100%;
    padding-left:5% !important;
    text-align: left;
    font-size: 1vw;
}

.calender_word .tag > a {
    position: relative;
    display: inline-block;
    margin-right: 0 !important;
    left: 0;
}

.calendar_list a {
    width: 15%;
    position: absolute;
    left: 42%;
    bottom: 4%;
    padding: 1.5% 2% 1.5% 2%;
}

.calendar_select {
    display: none;
}

@media (max-width:960px) {

    .calendar_select {
        display: block;
        width: 90%;
        margin: 5% auto;
        border: 0;
        background-color: #ADB6C3;
        color: #fff;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        font-size: 4.5vw !important;
        padding: 3% 5%;
        position: relative;
        background-image: url(../img/arrow_down.png);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 50%;
    }
    
    .calendar_select::after{}
    
    .calendar_select:focus,.calendar_select:active{
        border: 0;
        outline: 0;
    }

    .calendar_select option {
        font-size: 4.5vw !important;
        height: 30px;
        line-height: 30px;
    }

    .calendar_list {
        width: 100%;
        padding: 0;
    }

    .calendar_list img,
    .calendar_list > div > div {
        display: block;
    }

    .calendar_list > div {
        width: 100%;
        margin: 0 auto 8% auto;
    }

    .calendar_list > div > img {
        width: 100%;
    }

    .calendar_list .date {
        width: 16%;
        padding-bottom: 16%;
        left: 2%;
        top: 4%;
    }

    .calendar_list .date span {
        font-size: 3.6vw;
        font-weight: 800;
    }

    .calendar_list .date span:last-child {
        font-size: 3.6vw;
        padding-bottom: 0%;
        margin-top: -4%;
    }

    .calendar_list > div > div {
        width: 100%;
        box-sizing: border-box;
    }

    .calender_word {
        position: relative;
        width: 100%;
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .calender_word > span {
        display: block;
        width: 100%;
        font-weight: 600;
        font-size: 4.8vw;
        line-height: 1.5;
        padding: 0 10%;
    }

    .calender_word > ul {
        margin: 5% 0;
    }

    .calender_word > ul li {
        font-size: 3.6vw;
        padding-left: 10%;
        padding-right: 10%;
    }

    .calender_word .tag {
        padding-left: 10%;
        text-align: left;
        font-size: 3.6vw;
        font-weight: 800;
        margin-left: 0;
    }

    .calender_word .tag a {
        margin-right: 8%;
    }

    .calendar_list a.btn_more {
        width: 24%;
        position: absolute;
        left: auto;
        right: 5%;
        bottom: auto;
        top:36%;
        padding: 3% 2% 3% 2%;
    }
}

/*人物專訪*/
.People.people_list {
    margin-top: 5% !important;
}
