
/*老虎草舒撫修復霜*/


@keyframes ttlight {
    0% {
        left: -100%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 150%;
        opacity: 0
    }

    to {
        left: 150%;
        opacity: 0
    }
}


.bomb_cream {
	position: relative;
	width: 100%;
	background-color: #eeeeef;
}

/*主視覺*/
.bomb_cream_kv {
	background-image: url(../images/cica_repair/KV.png);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	z-index: 4;
	padding-top: 7%;
}

.bomb_kv_title {
	display: block;
	width: 53%;
	height: 0;
	padding-bottom: 7%;
	background-image: url(../images/cica_repair/kv_title_01.png);
	background-size: 100%;
    background-position: center top;
	background-repeat: no-repeat;
    -webkit-mask-image: url(../images/cica_repair/kv_title_01.png);
    mask-image:url(../images/cica_repair/kv_title_01.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center top;
    mask-position: center top;
	overflow: hidden;
	line-height: 100;
	text-indent: -100em;
	margin-left: 30%;
	z-index: 4;
    position: relative;
}

.bomb_kv_title::before{
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -70%;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .7) 60%, hsla(0, 0%, 100%, 0));
    transform: skewX(-45deg);
    animation: ttlight 8s linear 0s infinite normal;
    animation-delay: 0.5s;
    z-index: 2;
}

.bomb_kv_sp {
	width: 40%;
	position: relative;
	margin-top: -1%;
	margin-left: 50%;
	height: 0;
	padding-bottom: 10%;
	z-index: 4;

}

.bomb_kv_sp > img {
	position: absolute;
}

.bomb_kv_sp > img:nth-child(1) {
	width: 80%;
	left: 0;
	top: 0;
}

.bomb_kv_sp > img:nth-child(2) {
	width: 16%;
	right: 12%;
}

.kv_link {
	width: 25%;
	position: relative;
	margin-top: 3%;
	margin-left: 56%;
	z-index: 4;

}

.kv_link a {
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 20%;
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	line-height: 100;
}

.kv_link a:nth-child(1) {
	background-image: url(../images/cica_repair/btn_test.png);
}

.kv_link a:nth-child(1):hover {
	background-image: url(../images/cica_repair/btn_test_hover.png);
}

.kv_link a:nth-child(2) {
	background-image: url(../images/cica_repair/btn_shop_kv.png);
}

.kv_link a:nth-child(2):hover {
	background-image: url(../images/cica_repair/btn_shop_hover.png);
}

.bomb_kv_02 {
	position: relative;
	width: 100%;
	margin-top: 7.5%;
	text-align: center;
	z-index: 4;
}

.main_bomb_pro {
	position: relative;
	width: 79%;
	margin: 0 auto 0 6.4%;
	z-index: 4;
}

.bomb_text {
	width: 37%;
	position: absolute;
	top: 58%;
	right: 13.2%;
	z-index: 4;
}

.bomb_text img {
	margin-bottom: 3%
}

.bomb_text_01 {
	width: 55%;
}

.bomb_text_02 {
	width: 60%;
	margin-left: 15%;
}

.bomb_text_03 {
	width: 70%;
	margin-left: 30%
}

@media (max-width:768px) {
	.bomb_cream_kv {
		background-image: url(../images/cica_repair/KV_m.png);
	}

	.bomb_kv_title {
		display: block;
		width: 65%;
		height: 0;
		padding-bottom: 40%;
		background-image: url(../images/cica_repair/kv_title_m.png);
        -webkit-mask-image:  url(../images/cica_repair/kv_title_m.png);
        mask-image: url(../images/cica_repair/kv_title_m.png);
		margin-left: auto;
		margin-right: auto;
	}

	.bomb_kv_sp {
		width: 85%;
		position: relative;
		margin-top: -5%;
		margin-left: auto;
		margin-left: auto;
	}

	.bomb_kv_sp > img:nth-child(2) {
		width: 25%;
		right: 5%;
		top: -34%;
	}

	.kv_link {
		width: 80%;
		position: relative;
		margin-top: 70%;
		margin-left: 10%;
	}

	.bomb_kv_02 {
		position: relative;
		width: 100%;
		margin-top: 7.5%;
		text-align: center;
		z-index: 4;
	}

	.main_bomb_pro {
		position: relative;
		width: 98%;
		margin: 0 auto 0 3%;
	}

	.bomb_text {
		width: 65%;
		position: absolute;
		top: 50%;
		right: auto;
		left: 10%;
	}

	.bomb_text img {
		margin-bottom: 5%
	}

	.bomb_text_01 {
		width: 55%;
	}

	.bomb_text_02 {
		width: 60%;
		margin-left: 0;
	}

	.bomb_text_03 {
		width: 70%;
		margin-left: 0%
	}

}

/*關鍵成分*/
.bomb_cream_keypoint {
	width: 100%;
	position: relative;
	text-align: center;
	padding-top: 8%;
	z-index: 5;
}

.bomb_cream_keypoint > img {
	width: 37%;
	display: inline-block;
}

.bomb_keyword {
	width: 52%;
	position: relative;
	margin: 4% auto 8%;
	z-index: 2;
}

.bomb_keyword img {
	width: 100%;
	margin-bottom: 3%;
}

@media (max-width:768px) {

	.bomb_cream_keypoint > img {
		width: 70%;
		display: inline-block;
		margin: 0 auto 8% auto;
	}

	.bomb_keyword {
		width: 70%;
		position: relative;
		margin: 4% auto 10%;
		z-index: 2;
	}

	.banner_01 {
		padding-bottom: 10%;
	}

	.banner_01 .slick-dots li {
		width: 4.5%;
		margin-right: 5%;
	}

	.banner_01 .slick-dots li:last-child {
		margin-right: 0;
	}

	.banner_01 .slick-dots li.slick-active button:before {
		color: #009999;
		background-color: #009999;
	}

}

/*雙閨蜜*/
.bomb_cream_cont_02 {
	width: 100%;
	position: relative;
	text-align: center;
	z-index: 4;
}

.bomb_cream_cont_02_title {
	display: inline-block;
	background-image: url(../images/cica_repair/title_02.png);
	background-repeat: no-repeat;
    background-position: center top;
	background-size: 100%;
	width: 68%;
	overflow: hidden;
	line-height: 100;
	height: 0;
	padding-bottom: 7.5%;
	position: relative;
	z-index: 2;
    -webkit-mask-image: url(../images/cica_repair/title_02.png);
    mask-image:url(../images/cica_repair/title_02.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center top;
    mask-position: center top;
}

.bomb_cream_cont_02_title::before{
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -70%;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .7) 60%, hsla(0, 0%, 100%, 0));
    transform: skewX(-45deg);
    animation: ttlight 8s linear 0s infinite normal;
    animation-delay: 0.5s;
    z-index: 2;
}

.bomb_kv_03 {
	background-image: url(../images/cica_repair/kv_02.png);
	text-align: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: -42%;
	height: 0;
	padding-bottom: 130%;
	z-index: 0;
	position: relative;
}

.bomb_tip_01,
.bomb_tip_02 {
	position: absolute;
}

.bomb_tip_01 {
	width: 16%;
	top: 41%;
	right: 17%;

}

.bomb_tip_02 {
	width: 18%;
	top: 60.2%;
	left: 36%;
}

.bomb_pro_01,
.bomb_pro_02 {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	height: 0;
	text-align: center;
	margin-top: -15%;
	z-index: 5;
}

.bomb_pro_01 img,
.bomb_pro_02 img {
	display: inline-block;
}

.bomb_pro_01 {
	width: 31.875%;
	background-image: url(../images/cica_repair/p_01_frame.png);
	padding-bottom: 50%;
}

.bomb_pro_01 img:nth-child(1) {
	width: 40%;
	margin-top: 13%;
}

.bomb_pro_01 img:nth-child(2) {
	width: 65%;
	margin-top: 16.4%;
}

.bomb_pro_01 img:nth-child(3) {
	width: 80%;
	margin-top: 11%;
	margin-left: 3.5%
}

.bomb_pro_01 img:nth-child(4) {
	width: 75%;
	margin-top: 11%;
	margin-left: 5%
}

.bomb_pro_02 {
	width: 32%;
	background-image: url(../images/cica_repair/p02_frame.png);
	padding-bottom: 50%;
	margin-left: 5%
}

.bomb_pro_02 img:nth-child(1) {
	width: 40%;
	margin-top: -10%;
	margin-left: 2%;
}

.bomb_pro_02 img:nth-child(2) {
	width: 82.5%;
	margin-top: 12.5%;
	margin-left: 3%
}

.bomb_pro_02 img:nth-child(3) {
	width: 61%;
	margin-top: 10.5%;
	margin-left: 5%
}

.bomb_pro_02 img:nth-child(4) {
	width: 45%;
	margin-top: 5%;
	margin-left: 5%
}

.btn_bomb_shopping {
	position: relative;
	background-image: url(../images/cica_repair/btn_shop.png);
	background-repeat: no-repeat;
	overflow: hidden;
	line-height: 100;
	text-indent: -20em;
	width: 24%;
	height: 0;
	padding-bottom: 5.5%;
	margin: 0 auto;
	background-position: center;
	transition: 0.3s ease;
	background-size: 100%;
	filter: brightness(1);
}

.btn_bomb_shopping:hover {
	background-size: 97%;
	background-position: center;
	filter: brightness(1.1);
}

@media (max-width:768px) {

	.bomb_cream_cont_02_title {
		background-image: url(../images/cica_repair/title_02_m.png);
		width: 70%;
		padding-bottom: 30%;
		margin-top: 7%;
        -webkit-mask-image: url(../images/cica_repair/title_02_m.png);
        mask-image:url(../images/cica_repair/title_02_m.png);
	}

	.bomb_kv_03 {
		width: 160%;
		margin-left: -30%;
		background-image: url(../images/cica_repair/kv_02.png);
		margin-top: -70%;
		height: 0;
		padding-bottom: 200%;
	}

	.bomb_tip_01 {
		width: 19%;
		top: 37%;
		right: 28%;
	}

	.bomb_tip_02 {
		width: 20%;
		top: 62%;
		left: 34%;
	}
	.banner_02{
		width: 70%;
		margin-left: 15%;
		margin-top: -20%;
	}
	.banner_02 div{
		position: relative;
	}
	.banner_p_01,.banner_p_02{
		position: absolute;
	}
    
    .banner_p_01.updown,.banner_p_02.updown{
		animation-duration: 1s;
	}
	img.banner_p_01{
		width: 40% !important;
		max-width: 40% !important;
		left: 32%;
		top: 16%;
	}
	
	img.banner_p_02{
		width: 40% !important;
		max-width: 40% !important;
		left: 35%;
		top: 2%;
	}
	
	.banner_02.for_m{
		display: block;
	}
	
	.banner_02 .slick-slide{
		padding-top: 2.5%;
		
	}
	
	.banner_02 .slick-prev.slick-arrow{
		height: 100%;
		width: 12%;
		margin-left: -20%;
		background-image: url(../images/cica_repair/arrow_l.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	.banner_02 .slick-next.slick-arrow{
		height: 100%;
		width: 12%;
		margin-right: -20%;
		background-image: url(../images/cica_repair/arrow_r.png);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}


	.btn_bomb_shopping {
		width: 80%;
		height: 0;
		background-image: url(../images/cica_repair/btn_shop_m.png);
		padding-bottom: 20%;
		margin: 15% auto;
	}
}

/*建議搭配*/
.bomb_suggest {
	background-position: center bottom;
	height: auto;
	background-image: url(../images/cica_repair/bg_02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 5%;
	position: relative;
}

.bomb_item_01 {
	background-image: url(../images/cica_repair/p_01.png);
	background-size: auto 100%;
	background-position: center bottom;
}

.bomb_item_02 {
	background-image: url(../images/cica_repair/p_02.png);
	background-size: auto 88%;
	background-position: center bottom;
}

.bomb_item_03 {
	background-image: url(../images/cica_repair/p_03.png);
	background-size: auto 100%;
	background-position: center bottom;
}

.bomb_item_04 {
	background-image: url(../images/cica_repair/p_04.png);
	background-size: auto 100%;
	background-position: center bottom;
}

.bomb_item_05 {
	background-image: url(../images/cica_repair/p_05.png);
	background-size: auto 70%;
	background-position: center bottom;
}

.bomb_item_06 {
	background-image: url(../images/cica_repair/p_06.png);
	background-size: auto 100%;
	background-position: center bottom;
}

@media(max-width:768px) {

	.bomb_suggest {
		background-image: url(../images/cica_repair/bg_02_m.png);
	}

}

/*裝飾*/
.deco_f,
.deco_01,
.deco_02,
.deco_03,
.deco_04 {
	position: absolute;
	z-index: 0;
}

.deco_f {
	right: 0;
	top: 40%;
	width: 43%;
}

.deco_01 {
	width: 28%;
	left: 0;
	top: 34%;
}

.deco_02 {
	width: 32%;
	right: 0;
	top: 34%;
}

.deco_03 {
	width: 25%;
	top: 15%;
	left: 0;
}

.deco_04 {
	width: 29%;
	right: 0;
	top: 50%;
}

@media(max-width:768px) {
	
	.deco_f {
		width: 56%;
		top: 48%;
	}

	.deco_01,
	.deco_02,
	.deco_03,
	.deco_04 {
		display: none !important;
	}
}

/*影片*/
.cica_video {
    position: absolute;
    z-index: 6;
    width: 32%;
    top: 3.5%;
    right: 17.5%;
}
.cica_video video{
    width: 100%;
}

@media (max-width:768px){
    .cica_video {
    width: 76%;
    top: 2%;
    right: 13%;
}
}
