/*numero_2021_layout*/
/*action*/

@-webkit-keyframes updown {
	0% {
		transform: translateY(3%);
	}

	100% {
		transform: translateY(-2%);
	}
}

@keyframes updown {
	0% {
		transform: translateY(3%);
	}

	100% {
		transform: translateY(-2%);
	}
}

.updown {
	animation-name: updown;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-timing-function: linear;
}


@-webkit-keyframes updownB {
	0% {
		transform: translateY(5%);
	}

	100% {
		transform: translateY(-5%);
	}
}

@keyframes updownB {
		0% {
		transform: translateY(5%);
	}

	100% {
		transform: translateY(-5%);
	}
}

.updownB {
	animation-name: updownB;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: linear;
}
/*kv*/
.numero_2021 {
    background-image: url(../images/numero_2021/bg_02.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}

.numero_2021 section {
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    position: relative;
}

.numero_kv {
    background-image: url(../images/numero_2021/bg_01.jpg);
    height: 0;
    padding-bottom: 80.9%;
}

.numero_title {
    width: 57%;
    margin: 0 auto;
    padding-top: 3%;
    position: relative;
}

.numero_title h1,
.numero_title span {
    position: absolute;
    display: block;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.numero_title h1 {
    width: 78.8% !important;
    background-image: url(../images/numero_2021/kv_title_01.png);
    height: 0;
    padding-bottom: 36.8%;
    top: 29%;
    left: 10.2%;
}

.numero_title img{
    width: 100% !important;
}

.numero_title span {
    background-image: url(../images/numero_2021/kv_title_02.png);
    width: 68.3%;
    height: 0;
    padding-bottom: 17.8%;
    top: 63%;
    left: 13.5%;
}

.new_item_wrap{
    width: 20%;
    height: 0;
    padding-bottom: 40%;
    position: absolute;
    top: 31%;
    right: 19.5%;
    z-index: 3;
}

.new_item {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.kv_dec_01 {
    width: 13%;
    position: absolute;
    top: 51.5%;
    left: 40%;
}

.kv_dec_02 {
    width: 37%;
    position: absolute;
    left: 0;
    top: 48%;
}

.kv_dec_02 img {
    position: absolute;
}

.bathtub {
    z-index: 3;
    left: 3%;
}

.blue_b,
.white_b {
    z-index: 0;
    width: 98%;
}

.blue_b {
    margin-top: -25%;
    opacity: 0.6;
    z-index: 1;
}

.white_b {
    margin-top: -30%;
    opacity: 0.9;
    z-index: 2;
}

.blue_b01 {
    width: 25%;
    z-index: 0;
    margin-top: 10%;
    right: 20%;
    animation-delay:-1s;
}

.blue_b02 {
    width: 22%;
    margin-top: -16%;
    left: 10%;
}

.blue_b03 {
    width: 15%;
    left: 25%;
    margin-top: -25%;
    animation-delay:-2s;
}

.white_01 {
    width: 25%;
    right: 30%;
    margin-top: 20%;
    animation-delay:-3s;
}

.white_02 {
    width: 35%;
    margin-top: -30%;
    right: 29%;
    opacity: 0.8;
}

.white_03 {
    width: 22%;
    margin-top: -6%;
    left: 0;
    opacity: 0.8;
    animation-delay:-2s;
}


.kv_right_b {
    width: 40%;
    height: 0;
    padding-bottom: 28%;
    position: absolute;
    right: 0;
    bottom: 13.5%;
}

.kv_right_b img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

@media (max-width:768px) {
    .numero_2021 {
        background-image: url(../images/numero_2021/bg_02_m.jpg);
    }

    .numero_kv {
        background-image: url(../images/numero_2021/bg_01_m.jpg);
        height: 0;
        padding-bottom: 180%;
    }

    .numero_title {
        width: 104%;
        margin: 0 auto 0 -2%;
        padding-top: 8%;
    }

    .numero_title h1 {
        top: 32%;
    }

    .numero_title span {
        background-image: url(../images/numero_2021/kv_title_02.png);
        width: 65%;
        top: 67%;
        left: 10%;
    }
    
    .img_top{
        position: absolute;
        z-index: 6;
        top: 0;
        left: 0;
        width: 100%;
        height:0;
        padding-bottom:168%;
        top: 0;
        left: 0;
    }

    .new_item {
        width: 55%;
        top: 36%;
        right: 8%;
        z-index: 5;
    }

    .kv_dec_01 {
        width: 26%;
        position: absolute;
        top: 69%;
        left: 0%;
        z-index: 5;
    }

    .kv_dec_02 {
        width: 70%;
        position: absolute;
        left: -3%;
        top: 54%;
        z-index: 1;
    }

    .kv_right_b {
        width: 70%;
        bottom: 21%;
        z-index:1;
    }

    .kv_right_b img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
}

/*產品介紹*/
.numero_info {
    background-image: url(../images/numero_2021/bg_02.jpg);
    z-index: 2;
    text-align: center;
    height: 0;
    padding-bottom: 69.1%;
}

.numero_content {
    width: 83.9%;
    height: 0;
    padding-bottom: 72%;
    position: absolute;
    margin: 0 auto;
    background-image: url(../images/numero_2021/content_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    left: 8.05%;
    top: -19%;
}

.numero_content h3 {
    background-image: url(../images/numero_2021/title_02.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 66.8%;
    height: 0;
    padding-bottom: 24%;
    text-indent: -999px;
    line-height: 100;
    margin: 7.5% 0 0 24.5%;
        overflow: hidden;

}

.numero_content span {
    display: block;
    background-image: url(../images/numero_2021/title_02_sp.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 64.2%;
    height: 0;
    padding-bottom: 17%;
    text-indent: -999px;
    line-height: 100;
    margin: 0 0 0 28%;
    overflow: hidden;
}

.numero_info_wrap {
    width: 55.6%;
    text-align: center;
    font-size: 0;
    margin: -2% 0 0 32%;
}

.numero_info_wrap img {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
}

.item_02_wrap{
    opacity: 0;
    animation-fill-mode: forwards;
    width: 26%;
    height: 0;
    padding-bottom: 60%;
    position: absolute;
    top: 9%;
    left: 5%;
    z-index: 3;
}

.new_item_02 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.left_b {
    position: absolute;
    z-index: 2;
    width: 26%;
    height: 0;
    padding-bottom: 23%;
    bottom: 27%;
    left: 0;
}

.left_b img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.dec_02 {
    width: 20.1%;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 5%;
}

@media (max-width:768px) {

    .numero_info {
        background-image: url(../images/numero_2021/bg_02_m.jpg);
        z-index: 2;
        text-align: center;
        height: 0;
        padding-bottom: 158%;
    }

    .numero_content {
        width: 95%;
        padding-bottom: 178%;
        background-image: url(../images/numero_2021/center_content_m.png);
        left: 2.5%;
        top: -7%;
    }

    .numero_content h3 {
        background-image: url(../images/numero_2021/title_02_m.png);
        width: 90%;
        padding-bottom: 35%;
        margin: 12% 0 0 5%;
    }

    .numero_content span {
        width: 90%;
        padding-bottom: 24%;
        margin: 0 0 0 5%;
    }

    .numero_info_wrap {
        width: 30%;
        text-align: center;
        font-size: 0;
        margin: -9% 0 0 58%;
    }

    .numero_info_wrap img {
        display: block;
        width: 100%;
        margin: 9% 0;
    }
    
    .item_02_wrap{
        width: 43%;
        top: 39%;
        left: 10%;
        z-index: 3;
    }

    .left_b,
    .dec_02 {
        display: none;

    }

}

/*QA*/
.QA_wrap {
    background-image: url(../images/numero_2021/bg_03.jpg);
    z-index: 2;
    height: 0;
    padding-bottom: 239.7%;
}

.QA_01 {
    background-image: url(../images/numero_2021/QA_01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 67.9%;
    height: 0;
    padding-bottom: 43%;
    position: absolute;
    top: -6%;
    left: 12%;
    overflow: hidden;
    text-indent: -999px;
    line-height: 100;
}

.QA_02 {
    width: 65.4%;
    background-image: url(../images/numero_2021/QA_02.png);
    background-size: 100%;
    height: 0;
    padding-bottom: 78%;
    position: absolute;
    overflow: hidden;
    text-indent: -999px;
    line-height: 100;
    left: 24%;
    top: 12.4%;
}

.numero_tip {
    width: 100%;
    position: absolute;
    top: 38.5%;
}

.big_tip {
    width: 30.6%;
    margin-left: 13%;
    position: relative;
    z-index: 2;
}

.big_tip_word {
    width: 55.6%;
    position: absolute;
    top: 12%;
    left: 32%;
    z-index: 1;
}

.numero_tip_01 {
    background-image: url(../images/numero_2021/tip_cont_01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 62.8%;
    height: 0;
    padding-bottom: 20%;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
    position: relative;
    margin-top: -3%
}

.numero_tip_02 {
    background-image: url(../images/numero_2021/tip_cont_02.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 65%;
    height: 0;
    padding-bottom: 20%;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
    position: relative;
}

.video_wrap {
    width: 65%;
    position: absolute;
    left: 17.5%;
    top: 63.5%;
}

.video-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.numero_user {
    width: 70.2%;
    height: 0;
    padding-bottom: 18%;
    background-image: url(../images/numero_2021/how_use.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 84%;
    left: 15%;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
}

@media (max-width:768px) {

    .QA_wrap {
        background-image: url(../images/numero_2021/bg_03_m.jpg);
        z-index: 2;
        height: 0;
        padding-bottom: 543%;
    }

    .QA_01 {
        background-image: url(../images/numero_2021/QA_01_m.png);
        width: 90%;
        padding-bottom: 100%;
        top: 1%;
        left: 5%;
    }

    .QA_02 {
        width: 90%;
        background-image: url(../images/numero_2021/QA_02_m.png);
        padding-bottom: 180%;
        left: 5%;
        top: 19%;
    }

    .numero_tip {
        width: 100%;
        position: absolute;
        top: 53.5%;
        left: -8%;
    }

    .big_tip {
        width: 40%;
        margin-left: 13%;
        position: relative;
        z-index: 2;
    }

    .big_tip_word {
        width: 72%;
        top: 26%;
        left: 27%;
    }

    .numero_tip_01 {
        background-image: url(../images/numero_2021/tip_content_01_m.png);
        width: 77%;
        height: 0;
        padding-bottom: 35%;
        position: relative;
        margin-top: 5%;
        margin-left: 20%;
    }

    .numero_tip_02 {
        background-image: url(../images/numero_2021/tip_content_02_m.png);
        width: 87%;
        height: 0;
        padding-bottom: 35%;
        margin-left: 13%;
        margin-top: 4%;
    }

    .video_wrap {
        width: 90%;
        left: 5%;
        top: 75.5%;
    }

    .numero_user {
        width: 86%;
        padding-bottom: 30%;
        background-image: url(../images/numero_2021/howuse_m.png);
        top: 89%;
        left: 7%;
    }
}

/*numero_product_suggest*/
.numero_product_suggest {
    background-image: url(../images/numero_2021/bg_04.jpg);
    background-position: center bottom;
    height: auto;
    padding-bottom: 10%;
}

.numero_suggest_title {
    width: 15%;
    position: relative;
    margin-top: -8%;
    left: 42.5%;
    z-index: 4;
}

.numero_product_wrap {
    width: 60%;
    top: -3%;
    z-index: 4;
    margin-left: 20%;
}

.numero_suggest_img_1 {
    background-image: url(../images/numero_2021/shop_01.png);
    background-size: auto 90%;
    background-position: center 90%;
}

.numero_suggest_img_2 {
    background-image: url(../images/numero_2021/shop_02.png);
    background-size: auto 55%;
    background-position: center 80%;
}

.numero_suggest_img_3 {
    background-image: url(../images/numero_2021/shop_03.png);
    background-size: auto 90%;
    background-position: center 90%;
}

.numero_suggest_img_4 {
    background-image: url(../images/numero_2021/shop_04.png);
    background-size: auto 50%;
    background-position: center 90%;
}

.numero_suggest_img_5 {
    background-image: url(../images/numero_2021/shop_05.png);
    background-size: auto 50%;
    background-position: center 90%;
}

.bottom_b {
    position: absolute;
    bottom: 0;
    width: 45%;
    height: 0;
    padding-bottom: 20%;
    right: 0;
}

.bottom_b img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

@media (max-width:768px) {

    .numero_product_suggest {
        background-image: url(../images/numero_2021/bg_04_m.jpg);
        background-position: center bottom;
        height: auto;
        padding-bottom: 30%;
        position: relative;
    }

    .numero_suggest_title {
        width: 28%;
        position: relative;
        margin-top: -7%;
        left: 36%;
        z-index: 4;
    }

    .numero_product_wrap {
        width: 100%;
        z-index: 4;
        margin-top: -5%;
        margin-left: 0%;
    }
    .product_item.numero_item{
        width: 100%;
        max-width: 100%;
    }
    .product_item.numero_item br{
        display: none;
    }

    .numero_suggest_img_2 {
        background-size: auto 65%;
    }

    .numero_suggest_img_3 {
        background-size: auto 100%;
        background-position: center bottom;
    }

    .numero_suggest_img_4 {
        background-size: auto 65%;
        background-position: center 80%;
    }

    .numero_suggest_img_5 {
         background-size: auto 65%;
        background-position: center 80%;
    }

    .bottom_b {
        position: absolute;
        bottom:70px;
        width: 52%;
        height: 0;
        padding-bottom: 20%;
        right: 0;
    }

}

.kv_right_b01 {
    animation-delay: -2s;
}
.kv_right_b02 {
    animation-delay: -1s;
}

.info_O_01 {
    animation-duration:2s;
}

.info_O_02 {
    animation-duration:1s;
}
.info_O_03 {
    animation-duration:2s;
}

.left_b01 {
    animation-delay: -2s;
}

.bottom_b02 {
    animation-delay: -2s;
}

.bottom_b03 {
    animation-delay: -1s;
}

.add_word {
    position: absolute;
    z-index: 1;
    width: 50%;
    top:52%;
    right: -16%;
}

@media (max-width:768px){
    .add_word {
        width: 120%;
        max-width: 120%;
        top:158%;
        right:-85%;
        z-index: 3;
    }
}
