@font-face {
    font-family: cwTeXYen;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
    src: url(https://fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot#iefix) format("embedded-opentype"), url(https://fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format("woff"), url(https://fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format("truetype")
}

html {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.loading {
    background-image: url(../img/bg_03.jpg);
    width: 100%;
    height: 100%;
    max-width: 414px;
    max-height: 780px;
    background-size: 100%;
    background-position: top center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden !important;
    position: fixed;
    z-index: 20;
}

.loading img {
    width: 70%;
    padding-top: 30%;
    animation: big 1s infinite;
}

@media (max-width:480px) {
    .loading {
        max-width: 100%;
        max-height: 100vh;
        max-height: calc(var(--vh, 1vh) * 100);
        height: 100vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        background-size: cover;
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

*,
body {
    margin: 0 auto;
    padding: 0;
    font-family: cwTeXYen, Helvetica, Arial, sans-serif;
}

img {
    display: block;
    font-size: 0;
    max-width: 100%;
    pointer-events: none;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    background-color: #ace2f7;
    background-image: url(../img/pc_bg.jpg);
    background-size: cover;
    background-position: center bottom;
    overflow-y: hidden !important;
}

::-webkit-scrollbar {
    display: none;
}

input[type=button],
input[type=reset],
input[type=submit],
input[type=text],
select,
option {
    -webkit-appearance: none;
    -webkit-user-select: auto;
    border: none;
    outline: none;
    color: #666;
    background-image: none;
    background-color: transparent;
}

input[type=phone] {
    color: #666;
}

input,
select,
option {
    border: 0;
    outline: none;
    font-family: cwTeXYen !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*layout*/

.logo {
    width: 15%;
    position: fixed;
    z-index: 10;
    top: 3%;
    left: 3%;
}

.logo img {
    width: 100%;
}

.btn_menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 15%;
    z-index: 10;
    display: block;
}

.menu_wrap {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding-bottom: 0;
    overflow-x: hidden !important;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    z-index: 10;
    left: 100%;
    opacity: 0;
    transition: all 0.5s ease;
}

.menu_wrap.active {
    left: 0;
    opacity: 1;
}

.inner_wrap.menu {
    background-image: url(../img/menu_bg.jpg);
    background-color: #78bfea;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;
    height: 780px;
}

@media (max-width:480px) {

    .inner_wrap.menu {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
}


.btn_close {
    width: 8%;
    position: fixed;
    top: 2%;
    right: 2%;
    display: block;
}

.btn_close img {
    width: 100%;
}

@keyframes big {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.0);
    }
}

.menu_title {
    width: 90%;
    padding-top: 15%;
    margin-left: 0;
    animation: big 1s infinite;
}

.btn_list {
    width: 100%;
    height: auto;
    margin-top: 8%;
}

.btn_list a {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 4% 0;
}

.btn_list a img {
    width: 100%;
    z-index: 2;
    position: relative;
}

.btn_list a::after {
    content: '';
    width: 100%;
    height: 120%;
    display: block;
    position: absolute;
    top: -21%;
    left: 2.2%;
    z-index: 0;
}

.btn_list a:hover::after {
    display: block;
    width: 100%;
    background-image: url(../img/hover.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    width: 100%;
    height: 100%;
    max-width: 414px;
    max-height: 780px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

@media(max-width:480px) {
    .main {
        width: 100%;
        max-width: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        box-shadow: 0 0 0px rgba(0, 0, 0, .3);
    }
}

.wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.inner_wrap {
    width: 100%;
    height: 0;
    padding-bottom: 188%;
    text-align: center;
    font-size: 1.8vw;
    overflow-x: hidden !important;
}

/*home*/
#home.main {
    overflow-y: hidden !important;
}

.wrap.home {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
}

.inner_wrap.home {
    background-image: url(../img/bg_new.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ecf6f8;
    position: relative;
    box-sizing: border-box;
    overflow-y: hidden;
    height: auto;
    min-height: 100vh !important;
    min-height: calc(var(--vh, 1vh) * 100);
    padding-bottom: 30px;
}

@keyframes moveUp {

    0%,
    1% {
        transform: translateY(-20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.title {
    position: relative;
    width: 92%;
    max-width: 92%;
    padding-top: 4%;
    margin: 0 auto 0 0;
    animation: moveUp 0.8s ease-in-out;
    z-index: 5;
}

@keyframes zoomIn {

    0%,
    20% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.car {
    position: relative;
    width: 104%;
    max-width: 104%;
    margin-top: 3%;
    margin-left: -2%;
    animation: zoomIn 1.2s ease;
    z-index: 0;
}

.guest{
    position: absolute;
    width:65%;
    right: -8%;
    top: 0;
    z-index: 2;
    padding-top:88%;
}

.btn_play {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 25%;
    box-sizing: border-box;
    margin-top: -14%;
    z-index: 5;
}

.btn_item {
    position: absolute;
    z-index: 1;
    width: 20%;
    right: 5%;
    top: -65%;
    animation: big 0.8s infinite;
}

@keyframes big2 {
    0% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

@keyframes shine {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.9);
    }
}

.btn_bg {
    display: block;
    width: 90%;
    animation: big2 0.8s infinite;
}

.btn_bg img {
    width: 100%;
}

@media (max-width:768px) {
    #home.main {
        overflow-y: hidden !important;
    }
}


@media (max-width:480px) {
    .main {
        top: 0;
        transform: translate(-50%, 0);
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        max-height: 100vh;
        max-height: calc(var(--vh, 1vh) * 100);
        min-height: 100vh;
        max-height: calc(var(--vh, 1vh) * 100);
        max-width: 100vw;
        box-shadow: 0 0 0 rgba(0, 0, 0, .3);
    }

    .wrap.home {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

    }

    .inner_wrap.home {
        padding-top: 0;
        padding-bottom: 5%;
        height: auto;
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        background-size: 100%;
        background-position: center top;
    }

    #home.main{
        height: 100vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
    }

}

@media (max-width:360px) {
    .car{
        width: 100%;
        margin-top: 6%;
    }
    .guest{
        width: 55%;
        right: -5%;
    }
    .btn_play{
        margin-top: -25%;
    }
}


/*產品介紹*/
.product {
    position: relative;
    height: auto;
    padding-bottom: 25%;
}

.product_bg {
    width: 100%;
    position: relative;
    z-index: 1;
}

.btn_seemore {
    position: absolute;
    display: block;
    z-index: 4;
    top: 72%;
    left: 30%;
    width: 40%;
}

.video_wrap {
    width: 90%;
    position: absolute;
    left: 5%;
    top: 83.2%;
    z-index: 4;
}

.btn_buynow {
    position: absolute;
    left: 30%;
    width: 40%;
    top: 95%;
    z-index: 4;
    animation: big 1s infinite;
}

.btn_seemore,
.btn_buynow {
    transform: scale(1);
    transition: 0.3s ease;
}

.btn_seemore:hover,
.btn_buynow:hover {
    transform: scale(0.95);
}

/*彈窗*/
.pop_wrap {
    width: 100%;
    height: 100%;
    max-width: 414px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
    display: none;
}

@media (max-width:480px) {
    .pop_wrap {
        max-width: 100%;
    }
}

/*活動說明＆隱私權規則*/
.pop_wrap.rule {
    background-image: url(../img/notice_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #23b3a6;
    height: 100%;
    max-height: 100%;
}

.inner_rule {
    position: relative;
    width: 90%;
    height: 72%;
    box-sizing: border-box;
    margin-top: 45%;
    background-color: rgba(209, 250, 221, 0.7);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.inner_rule img {
    width: 90%;
    max-width: 90%;
    padding-bottom: 10%;
    padding-top: 5%;
}

.btn_close_g {
    display: block;
    width: 15%;
    height: 0;
    padding-bottom: 15%;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width:480px) {
    .inner_rule {
        height: 70%;
    }

    .pop_wrap.rule {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        max-height: 100vh;
        max-height: calc(var(--vh, 1vh) * 100);
    }
}

/*查詢中獎*/
.pop_wrap.search {
    display: block;
    height: 100%;
    overflow-y: hidden;
    background-image: url(../img/bg_04.jpg);
    background-color: #61d2f4;
    background-size: cover;
    background-position: top center;
    display: none;
}

.search_01,
.search_02 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/bg_04.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #61d2f4;
}

.search_title {
    width: 30%;
    position: relative;
    margin-top: 33%;
}

.search_content {
    height: 70%;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding-top: 8%;
}

.input_search {
    width: 80%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #adadad;
    background-color: #e2eff9 !important;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 3%;
}

.btn_enter {
    width: 35%;
    display: block;
    margin: 5% auto;
    transform: scale(1);
    transition: 0.2s;
}

.btn_enter:hover {
    transform: scale(0.95);
}

.btn_enter img {
    width: 100%;
}

.btn_close_b {
    position: absolute;
    z-index: 11;
    right: 0;
    top: 0;
    width: 13%;
}

.search_02 {
    display: none;
}

.phone_no {
    width: 80%;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    background-color: #e2eff9;
    color: #adadad;
    border-radius: 8px;
    overflow: hidden;
}

.phone_no span {
    float: left;
}

.phone_no span:nth-child(1) {
    height: 100%;
    font-weight: bold;
    display: inline-block;
    background-color: #ee89a0;
    color: #fff;
    padding: 0 5%;
}

.phone_no span:nth-child(2) {
    height: 100%;
    padding: 0 5%;
}

.cont_success,
.cont_fail,
.cont_yet {
    width: 100%;
}

.cont_success > img {
    width: 80%;
    margin-top: 5%;
}

.cont_fail > img,
.cont_yet > img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
}

.cont_fail a img,
.cont_yet a img {
    width: 58%;
    margin-bottom: 2%;
    transform: scale(1);
    transition: 0.5s ease;
}

/*產品介紹*/
#description.main,#product.main {
    overflow-y: hidden !important;
}

.description {
    width: 100%;
    background-image: url(../img//bg_02.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    min-height: 780px;
    padding-bottom: 0;
    background-color: #f0f3f5;
    padding-bottom: 8px;
}


@media screen and (max-width:768px) {
    #description.main {
        height: auto;
        min-height: 780px;
        overflow-y: hidden;
    }

    .description {
        height: 100%;
        min-height:780px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:480px) {
    #description.main,#product.main {
        height: 100vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        overflow-y: hidden;
    }

    .description {
        min-height: 100%;
        padding-bottom:33%;
    }

}


/*產品彈窗*/
.pop_product {
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.p_02,
.p_01 {
    display: none;
}

.inner_product_info {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn_close_info {
    width: 12%;
    position: absolute;
    top: 3%;
    right: 4.5%;
}

.p_02 .btn_close_info {
    top: 3.6%;
}

.btn_get {
    position: absolute;
    width: 45%;
    left: 27.5%;
    bottom: 8%;
    transform: scale(1);
    transition: 0.3s ease;
}

.btn_get.after {
    display: none;
    pointer-events: none;
    filter: grayscale(1);
}

.btn_get:hover {
    transform: scale(0.95);
}

/*收藏產品*/
.product_01,
.product_02 {
    cursor: pointer;
    position: absolute;
    filter: brightness(1.0);
    transition: 0.2s ease;
}

.product_01:hover,
.product_02:hover {
    cursor: pointer;
    position: absolute;
    filter: brightness(1.1);
}

.product_01 {
    width: 25%;
    padding-top: 71%;
    left: 29%;
}

.product_02 {
    width: 35%;
    padding-top: 107%;
    left: 47%;
}

.pick {
    position: absolute;
    animation: big 0.5s infinite;
}

.product_01 .pick {
    width: 66%;
    left: 25%;
    top: 48%;
}

.product_02 .pick {
    width: 48%;
    top: 75%;
    left: 35%;
}

.heart_wrap {
    width: 24%;
    height: 12%;
    position: absolute;
    left: 0;
    top: 0;
}

.heart_icon {
    width: 32%;
    margin-top: 22%;
    margin-bottom: 2%;
    animation: big 0.5s infinite;
}

.heart_no {
    font-size: 18px;
}

.heart_no > span:nth-child(1) {
    font-size: 24px;
    font-weight: 500;
}

/*遊戲畫面*/
#game .logo,
#game .btn_menu {
    display: none;
}

#game.main {
    height: 100%;
    max-height: 780px;
    overflow-y: hidden !important;
}

@media (max-width:480px) {
    #game.main {
        /*height: 100%;
        max-height: 100%;*/
        height: 100vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        max-height: 100vh;
        max-height: calc(var(--vh, 1vh) * 100);
    }
}

.wrap.game {
    height: 100%;
    overflow-y: hidden !important;
}

.inner_wrap.game {
    overflow-y: hidden;
    height: 100%;
    max-height: 100%;
    padding-bottom: 0;
}

.main_game {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden !important;
}

.game_cont {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden !important;
    position: fixed;
    z-index:20 !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.inner_game_cont {
    width: 90%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    display: none;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translate(-5%, -10%);
    }

    100% {
        transform: translateX(0);
    }
}

.finger {
    position: absolute;
    width: 15%;
    top: 53%;
    right: 20%;
    animation: moveLeft 0.6s infinite;
}

.btn_start {
    position: absolute;
    width: 50%;
    top: 82%;
    left: 25%;
    animation: big 0.6s infinite;
}

.hand_01,
.h_click {
    position: absolute;
    width: 45%;
    height: auto;
    right: 0;
    top: 13%;
    cursor: pointer;
    display: block;
    filter: brightness(1.0);
    transform: rotate(0deg);
    transition: 0.5s ease;
}

.h_click {
    height: 0;
    padding-bottom: 100%;
    z-index: 5;
    touch-action: manipulation;
}

.hand_01 {
    z-index: 3;
    touch-action: manipulation;
}

@keyframes turnLeft {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.turn_left {
    animation: turnLeft 1.5s infinite;
}

.game_ui {
    position: absolute;
    z-index: 3;
    width: 100%;
    font-weight: bold;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
    bottom: 4%;
}

.game_ui span {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    font-size: 40px;
    transform: scaleX(1.2);
}

@media(max-width:375px) {
    .game_ui span {
        font-size: 36px;
        margin-top: -5%;
    }
}

.game_ui div {
    display: inline-block;
    width: 43%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 0;
    padding-bottom: 15%;
    position: relative;
    vertical-align: top;
}

.time_ui {
    background-image: url(../img/ui_01.png);
}

.time_ui span {
    line-height: 60px;
    padding-left: 23%;
}

.click_ui {
    background-image: url(../img/ui_02.png);
    margin-left: 4%;
    margin-top: 0.5%;
}

.click_ui span {
    line-height: 55px;
    padding-left: 21%;
}

.skin_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.skin_bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.skin_01 {
    position: absolute;
    z-index: 1;
}

.skin_02 {
    position: absolute;
    z-index: 0;
}

/*水*/
.water {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 50%;
    margin-top: 30%;
}

@keyframes waterA {
    0% {
        opacity: 0.8;
        transform: scale(1.0) translate(0, -50%);
    }

    2% {
        opacity: 1;
        transform: scale(1.0) translate(0, 0);
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(0.8) translate(-90%, 400%);
    }
}

@keyframes waterB {
    0% {
        opacity: 0;
        transform: scale(0.4);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

.water_01 {
    width: 10%;
    left: 45%;
    top: 0;
    opacity: 0;
}

.water_01.active {
    animation: waterA 0.8s;
}

.water_02 {
    position: absolute;
    width: 50%;
    left: 15%;
    margin-top: 52%;
    opacity: 0;
}

.water_02.active {
    animation: waterB 0.8s;
}

.after_step {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    display: none;
}

.cream {
    width: 90%;
    top: 0;
    position: absolute;
    left: 3%;
    top: 3%;
}

.hand_02 {
    position: absolute;
    width: 49%;
    right: 0;
    top: 32%;
}

.hand_02.active {
    animation: turnLeft 1s infinite;
}

.star_01 {
    width: 5%;
    position: absolute;
    right: 24%;
    top: 32%;
    animation: shine 1s infinite;
}

.star_02 {
    width: 12%;
    position: absolute;
    left: 20%;
    top: 26%;
    animation: shine 1s infinite;
}

.game_end {
    width: 100%;
    height: 100%;
    min-height: 780px;
    position: absolute;
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}

/*挑戰成功*/
.game_end_success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/game_endIng_bg.jpg);
    background-size: cover;
    z-index: 20;
    text-align: center;
    display: none;
}
.game_end_success img{
    width: 60%;
    max-width: 60%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*挑戰失敗*/
.game_fail {
    width: 100%;
    height: 100%;
    min-height: 780px;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/failure_bg.jpg);
    background-size: cover;
    background-position: center bottom;
    display: none;
}

.game_fail img {
    display: none;
}

.f_word {
    position: relative;
    width: 80%;
    padding-top: 19%;
    z-index: 5;
}

.f_img {
    position: absolute;
    left: -10%;
    top: 3%;
    box-sizing: border-box;
    width: 40%;
    max-width: 40%;
    z-index: 2;
    position: relative;
}

.f_deco {
    position: absolute;
    width: 36%;
    top: 36%;
    right: 13%;
    z-index: 1;
    animation: big 0.6s infinite ease;
}

.btn_again {
    position: absolute;
    display: block;
    width: 50%;
    left: 25%;
    z-index: 3;
    margin-top: -15%;
    animation: big 0.6s infinite;
}

@media (max-width:480px) {

    .game_end {
        width: 100%;
        height: 100%;
        min-height:100%;
        overflow-y: scroll !important;
        -webkit-overflow-scrolling: touch;
  
    }
    .game_fail{
        height: 0;
        min-height: 100%;
        max-height: 0;
        padding-bottom: 165%;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 5;
    }

    .btn_again {
        position: absolute;
        display: block;
        width: 50%;
        left: 25%;
        z-index: 3;
        animation: big 0.6s infinite;
    }
}

/*完成表格*/
.finsh_msg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url(../img/enter_form_bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 5;
    text-align: center;
    box-sizing: border-box;
    display: none;
    -webkit-overflow-scrolling: touch;
}
.title_thank{
    margin-top: 18%;
    margin-bottom: 8%;
}
.summer_set{
    width: 70%;
    margin-bottom: 6%;
}
.thank_word{
    width: 62%;
    margin-top: 8%;
}
.btn_nownow,.btn_money{
    display: block;
    width: 70%;
    transform: scale(1.0);
    transition: 0.3s;
}
.btn_nownow:hover,.btn_money:hover{
    transform: scale(0.98);
}
.btn_money{
    margin-top: 2%;
    margin-bottom: 10%;
}


/*主要表格*/
#form.main{
    height: 100%;
    overflow-y: hidden !important;
}
.inner_wrap.form {
    height: 100%;
    max-height: 780px;
    padding-bottom: 0;
    overflow-y: hidden !important;
}
.main_form {
    position: relative;
    width: 100%;
    height: 780px;
    min-height: 780px;
    background-image: url(../img/form_bg.jpg);
    background-color: #61d2f4;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    box-sizing: border-box;
    padding-top: 65%;
}

@media(max-width:480px) {
    #form.main {
        height: 100vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
    }
    .inner_wrap.form {
        height: 100vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
        max-height: 100vh;
        max-height: calc(var(--vh, 1vh) * 100);
        overflow-y: scroll !important;
        -webkit-overflow-scrolling: touch;
    }
    .main_form {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        max-height: 100vh;
        max-height: calc(var(--vh, 1vh) * 100);
        padding-bottom:120%;
    }
}

.main_form ul {
    margin-bottom: 6%;
}

.main_form ul li {
    width: 84%;
    height: 0;
    padding-bottom: 8%;
    margin-bottom: 2%;
    list-style: none;
    position: relative;
}

.main_form ul li:nth-last-child(1) {
    padding-bottom: 18%;
}

.main_form ul li span {
    font-size: 0;
    width: 0;
    height: 0;
}

.input_style1,
.input_style2,
.input_style3 {
    position: absolute;
    font-size: 18px !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50%;
    padding-left: 22%;
    box-sizing: border-box;
    background-color: transparent;
}


.input_style1 {
    transform: translateY(-50%);
}

.input_style2 {
    margin-top: 1%;
    transform: translateY(-50%);
}

.input_style3 {
    margin-top: 2.5%;
    transform: translateY(-50%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px rgba(192, 192, 192, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #666;
}

.select_style_01 {
    color: #666;
    font-size: 16px;
    width: 100%;
    padding-left: 39%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 4%;
    transform: translateY(-50%);
}

.select_style_02 {
    color: #666;
    font-size: 18px;
    width: 100%;
    padding-left: 52%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(50%);
}

.select_style_03 {
    color: #666;
    font-size: 18px;
    width: 100%;
    padding-left: 8%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 10%;
    transform: translateY(-50%);
}

.checkbox_cont {
    width: 80%;
    position: relative;
}

.check_word {
    width: 90%;
    height: 0;
    padding-bottom: 15%;
    font-size: 0;
    display: inline-block;
    vertical-align: text-top;
    margin-left: 10%;
    position: relative;
}

.btn_ok {
    display: block;
    width: 40%;
    margin-top: 1%;
}

.checkbox {
    position: absolute;
    transform: scale(3);
    top: 20%;
    opacity: 0;
    left: 2%;
    z-index: 3;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    z-index: 2;
    background-image: url(../img/check.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8%;
    height: 0;
    top: 0;
    padding-bottom: 10%;
    display: inline-block;
    transition: 0.2s ease;
    cursor: pointer;
}

.checkmark.active {
    background-image: url(../img/check_after.png);
}

.people {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn_rule {
    display: block;
    width: 40%;
    height: 0;
    padding-bottom: 5%;
    position: absolute;
    top: 0;
    left: 18%;
}

.btn_line_live {
    position: absolute;
    left: 0%;
    width: 100%;
    padding: 7% 0;
    bottom: 0;
    z-index: 4;
    background-color:lightskyblue;
}
.btn_line_live img{
    width: 56%;
    animation: big 1s infinite;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}

.popup_box .popup_content {
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}
/*KOL*/
.btn_kol {
    display: block;
    width: 50%;
    height: 0;
    padding-bottom: 10%;
    right: 8%;
    font-size: 0;
    position: absolute;
    top:80.8%;
    z-index: 5;
}

