.header {
  width: 100%;
  height: 70px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(170, 154, 111, 0.4);
          box-shadow: 0 0 10px rgba(170, 154, 111, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.header .nav {
  width: 100%;
  padding-left: 23.9583333333%;
  display: block;
}

.header .nav .nav_social {
  display: none;
}

.header .nav .social_link {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .nav .social_link a {
  width: 18vw;
  height: 18vw;
  max-width: 80px;
  max-height: 80px;
  border: 2px solid #aa9a6f;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header .nav {
    width: 100%;
    height: calc(100% - 70px);
    padding: 3% 0;
    background: #ffffff;
    position: fixed;
    top: -100%;
    left: 0;
    overflow-y: scroll;
    -webkit-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out;
  }
  .header .nav.active {
    top: 70px;
    -webkit-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out;
  }
  .header .nav .nav_social {
    display: block;
  }
}

.header .nav_l {
  width: 12.6736111111%;
  padding: 5px 0;
  text-align: center;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.header .nav_l .nav_i {
  padding: 0 3% 2% 3%;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  position: relative;
}

.header .nav_l .nav_i::after {
  content: '';
  width: 0%;
  height: 1px;
  background: #aa9a6f;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

@media screen and (max-width: 768px) {
  .header .nav_l .nav_i {
    width: 100%;
    padding: 0 5%;
    letter-spacing: 5px;
    display: block;
  }
  .header .nav_l .nav_i span {
    padding-left: 0.5em;
    color: #aa9a6f;
    display: inline-block !important;
    text-transform: uppercase;
    font-size: 0.9em;
  }
}

.header .nav_l > a {
  color: inherit;
}

.header .nav_l > a:hover::after {
  width: 100%;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.header .nav_l:hover .panel {
  display: block;
}

@media screen and (max-width: 768px) {
  .header .nav_l {
    width: 94%;
    padding: 2.5% 0;
    margin: 0 auto;
    text-align: left;
    display: block;
  }
  .header .nav_l:not(:last-child) {
    border-bottom: 1px solid #aa9a6f;
  }
  .header .nav_l a.nav_i::after {
    display: none;
  }
  .header .nav_l span.nav_i::before {
    content: '';
    width: 15px;
    height: 2px;
    background: #aa9a6f;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .header .nav_l span.nav_i::after {
    content: '';
    width: 15px;
    height: 2px;
    background: #aa9a6f;
    position: absolute;
    left: auto;
    right: 12px;
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(-90deg);
            transform: translate(0, -50%) rotate(-90deg);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }
  .header .nav_l span.nav_i.menu_close::after {
    -webkit-transform: translate(0, -50%) rotate(0);
            transform: translate(0, -50%) rotate(0);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }
}

@media screen and (max-width: 512px) {
  .header .nav_l {
    padding: 4% 0;
  }
}

.header .panel {
  width: 150px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(170, 154, 111, 0.4);
          box-shadow: 0 0 5px rgba(170, 154, 111, 0.4);
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: none;
}

.header .panel a {
  font-family: 'Noto Serif TC', 'Apple LiGothic Medium', 'PMingLiU', 'sans-serif', 'serif';
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1.8;
  letter-spacing: 1px;
  padding: 5px 10px;
  color: #aa9a6f;
  font-size: 0.9em;
  display: block;
}

@media screen and (max-width: 1024px) {
  .header .panel a {
    line-height: 1.5;
  }
}

@media screen and (max-width: 512px) {
  .header .panel a {
    font-size: 13px;
  }
}

@media screen and (min-width: 769px) {
  .header .panel a:hover {
    color: #ffffff;
    background: #aa9a6f;
  }
}

@media screen and (max-width: 768px) {
  .header .panel {
    width: 100%;
    max-height: 0;
    padding: 0 5%;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
  }
  .header .panel li:first-child {
    padding-top: 2%;
  }
  .header .panel a {
    padding: 0;
    margin: 1.5% auto;
  }
  .header .panel.active {
    max-height: 500px;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .header_top {
    width: 100%;
    height: 100%;
    padding: 0 3%;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 9999;
  }
}

.header_logo {
  width: 23.9583333333%;
  padding-top: 16.8975650714%;
  background: url(../images/common/header_logo_bg.png) 50%/100% no-repeat;
  position: absolute;
  top: 0;
  left: 0.5%;
}

.header_logo a {
  width: 64.2317380353%;
  padding-top: 25.6926952141%;
  background: url(../images/common/header_logo.png) 50%/100% no-repeat;
  position: absolute;
  top: 9%;
  left: 13%;
}

@media screen and (max-width: 768px) {
  .header_logo {
    width: 60%;
    max-width: 130px;
    height: 56.3265306122px;
    padding-top: 0;
    margin-bottom: 0;
    background: transparent;
    position: relative;
  }
  .header_logo a {
    width: 100%;
    height: 100%;
    padding-top: 0;
    background: url(../images/common/header_logo_m.png) 50%/100% no-repeat;
    top: 0;
    left: 0;
  }
}

.menu_open_box {
  width: 30px;
  line-height: 0;
  position: relative;
  z-index: 9999;
}

.menu_open_box.menu_close {
  width: 40px;
}

.menu_open_box.menu_close .menu_open::before {
  background: #aa9a6f;
  -webkit-transform: translate(3px, 8px) rotate(45deg);
          transform: translate(3px, 8px) rotate(45deg);
}

.menu_open_box.menu_close .menu_open::after {
  background: #aa9a6f;
  -webkit-transform: translate(3px, -8px) rotate(-45deg);
          transform: translate(3px, -8px) rotate(-45deg);
}

.menu_open_box.menu_close span {
  opacity: 0;
}

.menu_open {
  width: 100%;
  display: inline-block;
}

.menu_open span {
  width: 100%;
  height: 2px;
  margin: 6px 0 6px auto;
  background-color: #000000;
  border-radius: 10px;
  display: block;
}

.menu_open::before, .menu_open::after {
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #000000;
  display: block;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}
