@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");


@-webkit-keyframes fadeInLeftBig2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInLeftBig2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.fadeInLeftBig2 {
	-webkit-animation-name: fadeInLeftBig2;
	animation-name: fadeInLeftBig2;
}


/*主視覺*/
.toneup_cushion {
	width: 100%;
	position: relative;
	background-image: url(../images/toneup_cushion/all_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.toneup_kv {
	width: 100%;
	position: relative;
	background-image: url(../images/toneup_cushion/kv_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top center;
	padding-bottom: 52%;
	z-index: 1;
	pointer-events: none;
}

.toneup_kv_title {
	position: relative;
	width: 50%;
	margin-left: 46%;
	padding-top: 3%;
}

.toneup_kv_title span,
.toneup_kv_title h1,
.toneup_kv_title h2,
.toneup_kv_title a {
	display: block;
	overflow: hidden;
}

.toneup_kv_title span {
	width: 39.4%;
	height: 0;
	padding-bottom: 19%;
	background-size: 100%;
	background-image: url(../images/toneup_cushion/kv_title_01.png);
	background-repeat: no-repeat;
	line-height: 100;
	margin-left: 37%;
	z-index: 4;
	position: relative;
}

.toneup_kv_title h1 {
	width: 56%;
	height: 0;
	padding-bottom: 16%;
	background-size: 100%;
	line-height: 100;
	background-image: url(../images/toneup_cushion/kv_title_02.png);
	background-repeat: no-repeat;
	margin-top: -8%;
	z-index: 4;
	position: relative;
}

.toneup_kv_title h2 {
	width:100%;
	height: 0;
	padding-bottom: 8%;
	background-size: 100%;
	background-image: url(../images/toneup_cushion/kv_title_03.png);
	background-repeat: no-repeat;
	line-height: 100;
	margin-left:20%;
	margin-top: -1, 5%;
	z-index: 4;
	position: relative;
}

.btn_kv_free {
	width: 24%;
	height: 0;
	padding-bottom: 6%;
	background-repeat: no-repeat;
	background-image: url(../images/toneup_cushion/btn_free.png);
	background-size: 100%;
	left: 58%;
	top: 4.2%;
	line-height: 100;
	transition: 0.3s;
	z-index: 4;
	position: absolute;
	display: block;
	overflow: hidden;
}

.btn_kv_free:hover {
	transform: translateY(3%);
}

.kv_title_light {
	position: absolute;
	width: 65%;
	top: 40%;
	left: 15%;
	opacity: 0;
	animation-fill-mode: forwards;
	z-index: 5;
}

.kv_light {
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 18%;
	z-index: 3;
}

.kv_light_01 {
	width: 50%;
	position: absolute;
	top: 4%;
	left: 65%;
}

.kv_light_02 {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 35%;
}

.kv_bg_water {
	display: block;
	width: 100%;
    height: 0;
    padding-bottom: 60%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-image: url(../images/toneup_cushion/kv_bg.jpg);
	background-size: cover;
}

@media (max-width:768px) {

	.toneup_cushion {
		background-image: none;
		background-color: #fae6e1;
		position: relative;
	}

	.toneup_kv {
		background-image: url(../images/toneup_cushion/kv_bg_m.png);
		padding-bottom: 150%;
		z-index: 2;
	}

	.toneup_kv_title {
		position: relative;
		width: 115%;
		margin-left: 5%;
		padding-top: 5%;
	}

	.btn_kv_free {
		width: 56%;
		padding-bottom: 15%;
		left: 24%;
		top: 9.8%;
	}

	.kv_title_light {
		width: 65%;
		top: 37%;
		left: 14%;
		z-index: 8;
	}

	.kv_light {
		width: 60%;
		height: 0;
		padding-bottom: 120%;
		top: 12%;
		left: 20%;
	}

	.kv_light_01 {
		width: 50%;
		top: 21%;
		left: 59%;
	}

	.kv_light_02 {
		width: 50%;
		top: 86%;
		left: 23%;
	}

	.kv_bg_water {
		background-image: url(../images/toneup_cushion/kv_bg_m.jpg);
		height: 0;
		padding-bottom: 200%;

	}
}

/*new 共辰享雪白提亮防曬水氣墊*/
.toneup_new_cont {
	position: relative;
	width: 89.8%;
	margin: -20% auto 0 auto;
	background-image: url(../images/toneup_cushion/new_item.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 10%;
	z-index: 3;
}

.toneup_new_tips {
	width: 48%;
	text-align: center;
	padding-top: 9%;
	margin-left: 14%;
}

.toneup_new_tips > div {
	display: inline-block;
	width: 30%;
}

.toneup_new_cont_word h2 {
	width: 50%;
	height: 0;
	padding-bottom: 8%;
	margin-left: 12%;
	background-image: url(../images/toneup_cushion/new_item_title.png);
	background-size: 100%;
	background-repeat: no-repeat;
	line-height: 100;
	overflow: hidden;
}

.toneup_new_cont_word p {
	width: 31%;
	height: 0;
	margin-left: 26.5%;
	margin-top: -1%;
	padding-bottom: 8%;
	line-height: 100;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../images/toneup_cushion/new_item_cont.png);
	overflow: hidden;
}

.toneup_cream {
	width: 27%;
	position: absolute;
	left: 7%;
	top: 69%;
}

@media (max-width:768px) {
	.toneup_new_cont {
		width: 102%;
		margin: -10% auto 0 -2%;
		background-image: url(../images/toneup_cushion/new_item_m.png);
		background-position: center -30%;
		padding-top: 10%;
		padding-bottom: 150%;
		padding-left: 2%;
		padding-right: 1%;
		box-sizing: border-box;
		z-index: 5;
	}

	.toneup_new_tips {
		width: 102%;
		padding-top: 62%;
		margin-left: 0%;
		box-sizing: border-box;
		position: absolute;
	}

	.toneup_new_cont_word h2 {
		width: 95%;
		padding-bottom: 36%;
		margin-left: 2.5%;
		background-image: url(../images/toneup_cushion/new_title_m.png);
	}

	.toneup_new_cont_word p {
		width: 80%;
		margin-left: 10%;
		margin-top: 2%;
		padding-bottom: 20%;
	}

	.toneup_cream {
		width: 36%;
		position: absolute;
		left: 7%;
		top: 48%;
	}

}

/*內容*/
.toneup_frame {
	background-image: url(../images/toneup_cushion/frame_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 87.3%;
	margin: 3% auto;
	padding: 9% 0;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
}

.toneup_inner_01 {
	position: relative;
	width: 83%;
	height: 0;
	padding-bottom: 35%;
	background-size: 100%;
	background-image: url(../images/toneup_cushion/inner_bg_01.png);
	background-repeat: no-repeat;
	margin: 0 auto;
}

.pic_01 {
	position: absolute;
	width: 55%;
	left: -3.2%;
	top: -5.5%;
}

.pic_01_title {
	width: 35%;
	margin-left: 58%;
	padding-top: 5%;
}

.pic_01_word {
	width: 39%;
	margin-left: 56%;
	margin-top: 3%;
}

.toneup_inner_02 {
	position: relative;
	width: 83.7%;
	margin-top: 4%;
	margin-left: 5%;
	background-image: url(../images/toneup_cushion/inner_cont_bg_02.png);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 12%;
}

.pic_02 {
	position: absolute;
	width: 57%;
	right: -3.5%;
	top: -6%;
}

.pic_02_title {
	width: 37%;
	margin-left: 3%;
	padding-top: 4%;
}

.pic_02_word {
	width: 95%;
	margin: 4% auto 0 auto;
}

.toneup_inner_03 {
	width: 83%;
	background-size: 100%;
	background-image: url(../images/toneup_cushion/inner_bg_03.png);
	background-repeat: no-repeat;
	margin: 0 auto;
	position: relative;
	padding-bottom: 12%;
}

.pic_03 {
	width: 36%;
	position: absolute;
	top: -5.5%;
	left: -3.2%;
}

.pic_03_title {
	width: 30%;
	margin-left: 52%;
	padding-top: 5%;
}

.pic_03_word {
	width: 59%;
	margin-top: 4%;
	margin-left: 37%;
}

.toneup_inner_04 {
	width: 83%;
	background-size: 100%;
	background-image: url(../images/toneup_cushion/inner_cont_bg_04.png);
	background-repeat: no-repeat;
	margin: 0 auto 0 5.5%;
	position: relative;
	padding-bottom: 12%;
}

.pic_04 {
	width: 36%;
	position: absolute;
	top: -5.5%;
	right: -3.2%;
}

.pic_04_title {
	width: 38%;
	padding-top: 4%;
	margin-left: 15.5%;
	margin-bottom: 3%;
}

.pic_04_word {
	width: 59%;
	margin-left: 4%;
	margin-bottom: 3%;
}

.inner_line {
	width: 96%;
	margin: 2% auto 6.2% auto;
}

.toneup_sp_event {
	width: 86%;
	margin: 0 auto;
	position: relative;
}

.item_sp {
	background-image: url(../images/toneup_cushion/img_tip.png);
	position: absolute;
	width: 16%;
	height: 0;
	padding-bottom: 5%;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	line-height: 100;
	left: 29%;
	top: 10%;
	-webkit-mask-image: url(../images/toneup_cushion/img_tip.png);
	mask-image: url(../images/toneup_cushion/img_tip.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.btn_event_shop,
.btn_event_free {
	display: inline-block;
	overflow: hidden;
	vertical-align: text-top;
	width: 22%;
	height: 0;
	padding-bottom: 5.5%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	line-height: 100;
	margin-top: -10%;
	filter: brightness(1.0);
	transition: 0.3s;
}

.btn_event_shop:hover,
.btn_event_free:hover {
	filter: brightness(1.1);
}

.btn_event_shop {
	margin-left: 52%;
	background-image: url(../images/toneup_cushion/btn_shop.png);
}

.btn_event_free {
	background-image: url(../images/toneup_cushion/btn_free_test.png);
	margin-left: 2%;
}

@media (max-width:768px) {
	.toneup_frame {
		background-image: url(../images/toneup_cushion/frame_bg_m.jpg);
		background-repeat: repeat-y;
		width: 100%;
		margin: -24% auto 0 auto;
		height: auto;
		padding-top: 0;
		padding-bottom: 0;
		z-index: 5
	}

	.frame_top {
		margin-bottom: -15%;
	}

	.toneup_inner_box {
		width: 80%;
		margin: -1px auto;
		position: relative;
		text-align: center;
		transition: 0.5s ease;
	}

	.toneup_inner_box > img {
		width: 98%;
		margin: 5% auto;
		display: none;
		transition: 0.5s ease;
		opacity: 0;
	}

	.toneup_inner_box.active > img {
		display: block;
		opacity: 1;

	}

	.toneup_inner_box_tt {
		display: block;
		text-align: left;
		width: 100%;
		border: 1px solid rgb(227, 139, 184);
		background-color: #ffddc9;
		box-sizing: border-box;
		padding: 4% 5% 4% 10%;
		color: #c36043;
		font-weight: bold;
		font-style: italic;
		font-size: 3.9vw;
		position: relative;
		cursor: pointer;
		transition: 0.5s ease;
	}

	.toneup_inner_box_tt:hover {
		background-color: rgb(255, 228, 238);
	}

	.toneup_inner_box_tt.active {
		border: 1px solid rgb(227, 139, 184);
		background-color: rgb(255, 228, 238);
		color: #c36043;
	}

	.toneup_inner_box_tt.frist_item {
		border-radius: 1em 1em 0 0;
	}

	.toneup_inner_box_tt img {
		width: 3.5%;
		position: absolute;
		right: 6%;
		top: 50%;
		transform: translateY(-50%) rotate(0deg);
		transition: 0.5s ease;
	}

	.toneup_inner_box_tt.active img {
		transform: translateY(-50%) rotate(180deg);
	}

	.inner_line {
		width: 86%;
		margin: 8% auto;
	}

	.toneup_sp_event {
		width: 90%;
	}

	.item_sp {
		position: relative;
		width: 45%;
		height: 0;
		padding-bottom: 12%;
		left: 4%;
		top: auto;
	}

	.btn_event_shop,
	.btn_event_free {
		display: block;
		width: 65%;
		height: 0;
		padding-bottom: 20%;
	}

	.btn_event_shop,
	.btn_event_free {
		margin-left: auto;
		margin-right: auto;
	}

	.btn_event_shop {
		margin-top: 3%;
		margin-bottom: 13%;
	}

	.frame_bottom {
		margin-top: -12%;
	}


}

/*防曬乳*/
.toneup_item_01 {
	width: 100%;
	background-image: url(../images/toneup_cushion/con_02_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: -12%;
	position: relative;
	z-index: 0;
}

.toneup_item_01_title {
	width: 33.75%;
	padding-top: 13%;
	margin-left: 50%;
}

.toneup_item_cont {
	width: 43%;
	margin-top: 3%;
	margin-left: 50%;
	padding-bottom: 8%;
	position: relative;
}

.toneup_item_cont span {
	overflow: hidden;
	height: 0;
	display: block;
	padding-bottom: 20%;
	background-size: 100%;
	background-repeat: no-repeat;
	line-height: 100;
}

.toneup_item_cont span:nth-child(1) {
	width: 52%;
	background-image: url(../images/toneup_cushion/cont_02_tip_01.png);
	margin-left: 45%;
}

.toneup_item_cont span:nth-child(2) {
	width: 41%;
	background-image: url(../images/toneup_cushion/cont_02_tip_02.png);
	margin-left: 25%;
	margin-top: 11%;
}

.toneup_item_cont span:nth-child(3) {
	width: 38%;
	background-image: url(../images/toneup_cushion/cont_02_tip_03.png);
	margin-top: 2%;
	margin-left: -5%;
}

@media (max-width:768px) {

	.toneup_item_01 {
		width: 100%;
		background-image: url(../images/toneup_cushion/cont_02_bg_m.jpg);
		background-size: 100%;
		margin-top: 0;
	}

	.toneup_item_01_title {
		width: 80%;
		padding-top: 10%;
		margin-left: 10%;
	}

	.toneup_item_cont {
		width: 80%;
		margin-top: 150%;
		margin-left: 15%;
		padding-bottom: 0;
	}

	.toneup_item_cont span {
		overflow: hidden;
		height: 0;
		display: block;
		padding-bottom: 35%;
		background-size: 100%;
		background-repeat: no-repeat;
		line-height: 100;
	}

	.toneup_item_cont span:nth-child(1) {
		width: 92%;
		background-image: url(../images/toneup_cushion/item_01_m.png);
		margin-left: 0;
	}

	.toneup_item_cont span:nth-child(2) {
		width: 92%;
		background-image: url(../images/toneup_cushion/item_02_m.png);
		margin-left: 0;
		margin-top: 10%;
	}

	.toneup_item_cont span:nth-child(3) {
		width: 92%;
		padding-bottom: 40%;
		background-image: url(../images/toneup_cushion/item_03_m.png);
		margin-top: 10%;
		margin-left: 0;
		padding-bottom: 60%;
	}

}

/*雪系列*/
.toneup_item_02 {
	position: relative;
	width: 100%;
	background-image: url(../images/toneup_cushion/white_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;

}

.toneup_item_02_title {
	position: absolute;
	width: 23%;
	left: 15%;
	top: 4%;
}

.white_word {
	width: 42%;
	padding-top: 60%;
	margin-left: 15%;

}

.white_tips {
	width: 40%;
	margin-left: 12%;
	margin-top: -1%;
}

.white_bottle {
	width: 28%;
	position: absolute;
	right: 15%;
	top: 60.8%;
}

@media (max-width:768px) {
	.toneup_item_02 {
		position: relative;
		width: 100%;
		background-image: url(../images/toneup_cushion/white_m.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top center;
		padding-top: 30%;
		padding-bottom: 21%;

	}

	.white_img {
		width: 100%;
	}

	.toneup_item_02_title {
		position: absolute;
		width: 68%;
		left: 15%;
		top: 6%;
	}

	.white_word {
		width: 84%;
		margin-top: -25%;
		padding-top: 0;
		margin-left: 8%;

	}

	.white_tips {
		width: 98%;
		margin-left: 2%;
		margin-top: -1%;
	}

	.white_bottle {
		width: 65%;
		position: relative;
		right: auto;
		top: auto;
		margin-top: -7%;
		margin-left: 15%;
	}
}

/*超級組合*/
.toneup_new_set {
	background-image: url(../images/toneup_cushion/bg_04.jpg);
	background-size: 100%;
	box-sizing: border-box;
	padding: 8% 0 5% 0;
}

.inner_set_frame {
	width: 91%;
	height: 0;
	padding-bottom: 50%;
	margin: 0 auto;
	background-repeat: no-repeat;
	position: relative;
	background-image: url(../images/toneup_cushion/event_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.new_set_icon {
	position: absolute;
	background-image: url(../images/toneup_cushion/item_sp.png);
	width: 12%;
	height: 0;
	padding-bottom: 9%;
	line-height: 100;
	background-repeat: no-repeat;
	background-size: 100%;
	top: -2.1%;
	left: 9%;
	overflow: hidden;
	-webkit-mask-image: url(../images/toneup_cushion/item_sp.png);
	mask-image: url(../images/toneup_cushion/item_sp.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;

}

.set_01,
.set_02 {
	position: relative;
	display: inline-block;
	width: 35%;
	margin-top: 2%;
	vertical-align: top;
}

.set_01 {
	margin-left: 13%;
	padding-top: 4%;
}

.set_02 {
	width: 32.8%;
	margin-left: 9%;
	padding-top: 4%;
}

.btn_shop_g,
.btn_free_g {
	display: inline-block;
	width: 44%;
	background-size: 100%;
	overflow: hidden;
	line-height: 100;
	height: 0;
	padding-bottom: 12%;
	background-repeat: no-repeat;
	margin-top: 3%;
}

.btn_shop_g:hover,
.btn_free_g:hover {
	filter: brightness(1.1);
}

.btn_shop_g {
	background-image: url(../images/toneup_cushion/btn_shop_golden.png);
	margin-left: 3%;
}

.btn_free_g {
	background-image: url(../images/toneup_cushion/btn_free_golden.png);
	margin-left: 2%;
}

.set_02 .btn_shop_g,
.set_02 .btn_free_g {
	width: 45%;
}

.set_02 .btn_shop_g {
	margin-left: -3%;
}

@media (max-width:768px) {
	.toneup_new_set {
		background-image: url(../images/toneup_cushion/bg_04_m.jpg);
		background-size: 100%;
		box-sizing: border-box;
		padding: 8% 0 0 0;
	}

	.inner_set_frame {
		width: 100%;
		height: auto;
		padding-bottom: 17%;
		background-image: url(../images/toneup_cushion/set_bg_m.png);
	}

	.new_set_icon {
		width: 32%;
		padding-bottom: 25%;
		position: relative;
		top: auto;
		left: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -2%;
	}

	.set_01,
	.set_02 {
		display: block;
		width: 80%;
		margin-left: 0;
		margin-top: 0;
	}

	.set_01 {
		margin-left: 10%;
		padding-top: 0%;
		padding-bottom: 5%;
		border-bottom: 2px dashed #e50883;
	}

	.set_02 {
		width: 80%;
		margin-left: 10%;
		padding-top: 8%;
	}

	.btn_shop_g,
	.btn_free_g {
		display: inline-block;
		width: 48%;
	}

	.btn_shop_g {
		background-image: url(../images/toneup_cushion/btn_shop_golden.png);
		margin-left: 0.5%;
	}

	.btn_free_g {
		background-image: url(../images/toneup_cushion/btn_free_golden.png);
		margin-left: 2%;
	}

	.set_02 .btn_shop_g,
	.set_02 .btn_free_g {
		width: 48%;
	}

	.set_02 .btn_shop_g {
		margin-left: 0.5%;
	}
}

/*加入line好友*/
.add_line {
	background-image: url(../images/toneup_cushion/bg_05.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	height: 0;
	padding-bottom: 39.9%;
	position: relative;
}

.add_line_inner {
	position: absolute;
	width: 62%;
	top: 12%;
	left: 19%;
}

.add_line_inner > img {
	width: 18%;
	display: inline-block;
	vertical-align: middle;
	padding-top: 14%;
}

.add_line_inner > p {
	width: 68%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 8%;
	overflow: hidden;
	background-image: url(../images/toneup_cushion/add_line.png);
	background-size: 100%;
	background-repeat: no-repeat;
	line-height: 100;
	overflow: hidden;
	height: 0;
	padding-bottom: 18%;
	position: relative;
	z-index: 0;

}

.add_line_inner > a {
	display: block;
	background-image: url(../images/toneup_cushion/btn_open_m.png);
	width: 26%;
	background-size: 100%;
	height: 0;
	padding-bottom: 4.7%;
	background-repeat: no-repeat;
	margin-left: 27%;
	margin-top: -9%;
	line-height: 100;
	overflow: hidden;
	z-index: 5;
	cursor: pointer;
	box-shadow: 4.95px 4.95px 0px 0px rgba(224, 193, 136, 0.66);
	transition: 0.3s;
    font-size: 60px;
}

.add_line_inner > a:hover {
	box-shadow: 0px 0px 0px 0px rgba(224, 193, 136, 0.66);
	transform: translate(1%, 1%);
}

.copyright.bg_golden {
	background-color: #966b3a;
	text-align: center;
	font-size: 12px;
	padding: 1% 0;
}

.copyright.bg_golden span {
	color: #fff;
	font-size: 14px;
	font-family: Microsoft JhengHei;
}

@media (max-width:768px) {
	.add_line {
		height: auto;
		padding-bottom: 11.9%;
		background-image: url(../images/toneup_cushion/line_bg_m.jpg);
	}

	.add_line_inner {
		position: relative;
		width: 90%;
		margin-left: 5%;
		top: auto;
		transform: translate(0, 0%);
		left: auto;
	}

	.add_line_inner > img {
		width: 37%;
		display: block;
		padding-top: 20%;
		margin: 0 auto 0 29%;
	}

	.add_line_inner > p {
		width: 90%;
		margin-left: 5%;
		background-image: url(../images/toneup_cushion/add_line_m.png);
		padding-bottom: 50%;
	}

	.add_line_inner > a {
		display: block;
		width: 66%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2%;
		padding-bottom: 12%;
	}

	.copyright.bg_golden span {
		font-size: 0.5em;
	}
}
