.edelweiss_introduction_textbox p, .edelweiss_makeinner_r h3, .edelweiss_makeinner_r p, .edelweiss_formtext p, .form_element input, select, .check_label, .edelweiss_info p, .edelweiss_product_wrap p, .form_checkbox a {
  font-family: 'Helvetica', 'Microsoft JhengHei', '微軟正黑體', 'sans-serif';
}
.edelweiss_container {
  width: 100%;
}
.product_edelweiss .newitem_container {
  background: url(../images/product_edelweiss/bg.jpg);
  background-size: cover;
}
.edelweiss_title {
  margin: 0 auto 5% auto;
  width: 16.5%;
}
/* -- 選項箭頭樣式 --*/
select{
     appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;
}

/* banner */
.newitem_banner {
  width: 100%;
  position: relative;
}
.product_edelweiss .newitem_banner {
  background: url(../images/product_edelweiss/banner_bg.png) 50%/100% no-repeat;
  padding-top: 65%;
}
.edelweiss_banner_product {
  background: url(../images/product_edelweiss/edelweissimg00-4.png) 50%/100% no-repeat;
  width: 35%;
  padding-top: 29%;
  position: absolute;
  top: 48.5%;
  left: 37%;
}
.edelweiss_wrap .newitem_banner_title {
  width: 100%;
  padding-left: 19.5%;
  margin-top: 12%;
  position: absolute;
  top: 0;
  left: 0;
}
.edelweiss_banner_title1 {
  width: 26%;
  margin: 0 0 2% 0;
}
.edelweiss_banner_title2 {
  width: 66%;
  margin: 0;
}
.edelweiss_banner_title3 {
  width: 43%;
  margin: 1% 0 0 27%;
}
/* 雪絨花介紹 */
.edelweiss_product_introduction {
  width: 100%;
  position: relative;
  padding: 30%;
}
.edelweiss_title_introduction{
  width: 40%;
  position: absolute;
  top: 19%;
  left: 32.85%;
  z-index: 2;
}
.edelweiss_introduction_img {
  background: url(../images/product_edelweiss/edelweissimg01-2.jpg) 50%/100% no-repeat;
  width: 31%;
  padding-top: 50vh;
  position: absolute;
  top: 25.5%;
  left: 18%;
}
.edelweiss_introduction_imgbg {
  background-color: #edb300;
  width: 28.2%;
  height: 70%;;
  position: absolute;
  top: 17%;
  left: 15%;
}
.edelweiss_introduction_textbox {
  /* background-color: #fff; */
  background: url(../images/product_edelweiss/introduction-textboxbg.png) 50%/135% no-repeat;
  padding: 4% 3.5% 9% 3.5%;
  position: absolute;
  top: 31.5%;
  left: 49%;
  margin-right: 16%;
}
.edelweiss_introduction_textbox p {
  font-size: 22px;
  font-weight: 300;
}
/* 配方 */
.edelweiss_product_make {
  position: relative;
  padding-top: 8%;
}
.edelweiss_title_make {
  width: 37%;
}
.edelweiss_make_contain {
  width: 75%;
  max-width: 1050px;
  margin-left: 12%;
}
.edelweiss_make_item {
  width: 100%;
  padding: 3% 8%;
  margin-bottom: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  position: sticky;
}
.edelweiss_makeinner_l {
  width: 38%;
}
.edelweiss_makeinner_l img {
  width: 90%;
}
.edelweiss_makeinner_r {
  width: 61%;
}
.edelweiss_makeinner_r h3 {
  color: #edb300;
  border-bottom: #000 solid 1px;
  display: inline-block;
  padding-bottom: 2%;
  letter-spacing: 4px;
  font-size: 26px;

}
.edelweiss_makeinner_r p {
  font-size: 22px;
  margin-top: 3%;
  letter-spacing: 2px;
}
.edelweiss_make_item .edelweiss_makeinner_r>img {
  width: 72.6%;
}
/* 特色 */
.edelweiss_product_specil {
  position: relative;
  padding-top: 15%;
}
.edelweiss_title_speciltime {
  width: 22%;
  margin: 0 auto 2% auto;
}
.edelweiss_title_specil {
  width: 52%;
}
.edelweiss_product_specilbox {
  width: 75%;
  max-width: 1200px;
  margin: 12% auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edelweiss_specil_text{
  width: 48%;
}
.edelweiss_specil_text img {
  margin-bottom: 9%;
}
.edelweiss_specil_img {
  width: 50%;
  height: 100%;
}
/* 表單 */
.edelweiss_formtitlebox {
  position: relative;
}
.edelweiss_form {
  width: 100%;
  position: relative;
  padding-top: 17%;
}
.edelweiss_title_form1 {
  margin: 0 auto 3% auto;
  width: 25%;
  padding: calc(18.559762435% * 0.35078125) 3% 0 3%;
  background: url(../images/product_edelweiss/edelweissimg04-1.png) 50% / 75% no-repeat;
  position: relative;
}
.edelweiss_title_form1::before {
  content: '';
  width: 62%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 52%;
  left: -45%;
  transform: translate(-50%, 0);
  opacity: 0;
}
.edelweiss_title_form1::after{
  content: '';
  width: 62%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 52%;
  left: 145%;
  transform: translate(-50%, 0);
  opacity: 0;
}
.edelweiss_title_form2 {
  width: 61%;
}
.edelweiss_form_contain {
  width: 75%;
  max-width: 1050px;
  margin: 0 auto;
  z-index: 2;
  position: sticky;
}
.edelweiss_formtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edelweiss_formtext p {
  font-size: 22px;
  margin-left: 0;
}
.edelweiss_formtext a {
  display: flex;
  justify-content: flex-end;
  max-width: 200px;
}
.edelweiss_formtext img {
  width: 70%;
  height: 100%;
}
.edelweiss_formbox {
  margin-top: 5%;
}
.edelweiss_forminner .edelweiss_select {
  position: relative;
}
.edelweiss_forminner .form_element input,.edelweiss_forminner .form_element select {
  width: calc(100% - 90px);
  padding: 15px 15px 15px 30px;
  border-radius: 40px;
  font-size: 16px;
  border: none;
  background: #fffaec;
  color: #595757;
  outline: none;
}
.edelweiss_forminner .edelweiss_select:after {
  position: absolute;
  pointer-events: none; 
  right: 30px;
  top: 50%;
  transform: translateY(-25%);
  width: 0px;
  height: 0px;
  content: '';
  border: 10px solid transparent;
  border-top: 10px solid #595757 ;
}
.edelweiss_forminner .form_element {
  width: 100%;
  font-size: 16px;
  padding: 3% 0;
}
.edelweiss_forminner .form_element span {
  width: 80px;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  color: #edb300;
}
.edelweiss_forminner .edelweiss_select span {
  width: 170px;
}
.edelweiss_forminner .form_element select {
  width: calc(100% - 185px);
}
.form_element input[type="checkbox"] {
  width: auto;
  height: auto;
}
.edelweiss_forminner .check_label {
  font-size: 22px;
  line-height: 1.5;
  margin-left: 1.5%;
  letter-spacing: 2px;
}
.edelweiss_forminner .form_checkbox {
  display: flex;
  align-items: baseline;
  margin-top: 5%;
}
.edelweiss_forminner .form_checkbox a {
  margin-left: 1%;
  display: inline-block;
  color: #4468aa;
}
.edelweiss_info {
  margin-top: 10%;
}
.edelweiss_infotitle {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}
.edelweiss_infotitle hr {
  width: calc(100% - 140px);
  border: none;
  height: 2px;
  background-color: #000;
}
.edelweiss_infotitle h4 {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 30px;
  margin: 0;
}
.edelweiss_info p {
  margin-left: 2%;
  /* font-size: 20px; */
}
.edelweiss_forminner input[type=checkbox]+label:before {
  content: none;
}
.sendbtn_box {
  display: flex;
  justify-content: center;
}
.sendbtn {
  width: 200px;
  margin: 5% 0;
  height: 100%;
}
/* 建議搭配 */
.edelweiss_product_suggest {
  width: 100%;
  position: relative;
  margin-top: 17%;
}
.edelweiss_product_wrap {
  width: 100%;
  padding-bottom: 20%;
  z-index: 5;
  position: relative;
  margin: 5% auto 0 auto;
}
.product_contain {
  width: 90%;
  max-width: 1050px;
  padding: 5% 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.product_item {
  width: 33.33333%;
  padding-bottom: 6%;
  text-align: center;
}
.product_item_contain {
  width: 90%;
  max-width: 256px;
  margin: 0 auto;
}
.product_img {
  width: 100%;
  padding-top: 100%;
  margin: 0 auto;
  background-size: 100%;
  background-position: 55%;
  background-repeat: no-repeat;
}
.edelweiss_suggest_img_2 {
  background-image: url(../images/product_edelweiss/edelweissimg05-2.png);
  background-size: 35%;
}
.edelweiss_suggest_img_3 {
  background-image: url(../images/product_edelweiss/edelweissimg05-3.png);
  background-size: 40%;
}
.edelweiss_suggest_img_4 {
  background-image: url(../images/product_edelweiss/edelweissimg05-4.png);
  background-size: 36%;
}
.edelweiss_bottom {
  background: url(../images/product_edelweiss/bg-bottom.png) no-repeat center center;
  background-size: 100%;
  width: 110%;
  padding-top: 34%;
  position: absolute;
  left: 0;
  bottom: -10px;
}


/* 確認送出 popup */
.edelweiss_popup .popup_wrap {
  border: 6px solid #4468aa;
}





/* 裝飾物件 */
.edelweiss_decoration {
  position: absolute;
}
.edelweissimg00_5 {
  width: 15.604167%;
  top: 44%;
  left: 29.84375%;
}
.edelweiss_r6 {
  bottom: 0;
  right: 0;
  width: 30%;
}
.edelweiss_l1 {
  width:15.625%;
  top:0%;
  left:0%;
}
.edelweiss_m1 {
  width:8.854167%;
  top:10.483871%;
  left:67.708333%;
}
.edelweiss_m2 {
  width:6.25%;
  top:39.193548%;
  left:59.375%;
}
.edelweiss_r1 {
  width:2.864583%;
  top:50.806452%;
  left:80.46875%;
}
.edelweiss_r2 {
  width:13.541667%;
  top:57.096774%;
  left:73.958333%;
}


.edelweiss_l2 {
  width:25.520833%;
  top:0%;
  left:0%;
}
.edelweiss_r3 {
  width:12.5%;
  top: -10%;
  right: -1%;
}
.edelweiss_r4 {
  width:5.208333%;
  top: 8%;
  right: 16%;
}
.edelweiss_r5 {
  width:7.8125%;
  top: 38%;
  right: 0%;
}


.edelweiss_l3 {
  width: 25.625%;
  top: -21%;
  left: -24%;
  transform: rotate(-112deg);
}
.edelweiss_l4 {
  width: 26.5625%;
  top: 31%;
  left: -26%;
  transform: rotate(45deg);
}
.edelweiss_l5 {
  width: 9.895833%;
  top: 70%;
  left: 12.291667%;
}
.edelweiss_r8 {
  width: 25%;
  top: -6%;
  right: -10%;
  transform: rotate(12deg);
}


.edelweiss_l6 {
  width:19.375%;
  top: -15%;
  left: 0%;
}
.edelweiss_l7 {
  width: 17.708333%;
  bottom: 12%;
  left: 8.072917%;
  z-index: 5;
}
.edelweiss_l8 {
  width:10.416667%;
  bottom: 10%;
  left:18.854167%;
  z-index: 5;
}
.edelweiss_l9 {
  width:54.166667%;
  bottom: 0%;
  left: 0%;
  z-index: 4;
}
.edelweiss_r9 {
  width:15.625%;
  bottom: 52%;
  right: 0%;
  z-index: 4;
}

/* 動態效果 */
.product_edelweiss .visible_object {
  opacity: 0;
}
.edelweiss_product_introduction.visible_object,
.edelweiss_product_make.visible_object,
.edelweiss_product_specil.visible_object,
.edelweiss_product_suggest.visible_object,
.edelweiss_form.visible_object {
  opacity: 1;
}

.edelweiss_product_introduction.visible-show, 
.edelweiss_product_make.visible-show,
.edelweiss_product_specil.visible-show,
.edelweiss_product_suggest.visible-show, 
.edelweiss_form.visible-show .edelweiss_title_form1::after, 
.edelweiss_form.visible-show .edelweiss_title_form1::before {
  animation: titleL 1.5s ease-in-out forwards;
}

@keyframes SHoW {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  40%{
    opacity: 1;
  }

  50% {
    -webkit-transform: scale3d(1.09, 1.09, 1.09);
    transform: scale3d(1.09, 1.09, 1.09);
    opacity: 1;
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes fadeInLeft{
  0%{
    transform: translate(-40px, 0);
    opacity: 0;
  }
  100%{
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight{
  0%{
    transform: translate(40px, 0);
    opacity: 0;
  }
  100%{
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes titleL{
  0%{
    width: 0%;
    opacity: 0;
  }
  100%{
    width: 105%;
    opacity: 1;
  }
}

@keyframes zoomIn{
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInUp{
  0%{
    opacity: 0;
    transform: translate(0, 30px);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInDown{
  0%{
    opacity: 0;
    transform: translate(0, -30px);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes rubberBand{
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  5% {
    -webkit-transform: scale3d(1.2, 0.7, 1);
    transform: scale3d(1.2, 0.7, 1);
    opacity: 1;
  }
  10% {
    -webkit-transform: scale3d(0.6, 1.2, 1);
    transform: scale3d(0.6, 1.2, 1);
    opacity: 1;
  }
  15% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/* 動態效果-banner */
.edelweiss_banner_product {
  animation: fadeInDown 0.8s linear forwards;
  animation-delay: 0.6s;
}
.edelweissimg00_5 {
  animation: SHoW 0.8s linear forwards;
  animation-delay: 1.2s;
}
.edelweiss_banner_title2 {
  animation: fadeInUp 0.5s linear forwards;
}
.edelweiss_banner_title3 {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.3s;
}

/* 動態效果-雪絨花介紹 */
.edelweiss_title_introduction.visible-show {
  animation: fadeInUp 0.5s linear forwards;
}
.edelweiss_introduction_img.visible-show {
  animation: zoomIn 0.5s linear forwards;
  animation-delay: 0.5s;
}
.edelweiss_introduction_textbox p.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.8s;
}
.edelweiss_introduction_textbox img.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.8s;
}

/* 動態效果-配方*/
.edelweiss_title_make.visible-show {
  animation: fadeInUp 0.5s linear forwards;
}
.edelweiss_make_item1.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.3s;
}
.edelweiss_make_item2.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.6s;
}
.edelweiss_make_item3.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.9s;
}
.edelweiss_r3.visible-show {
  animation: fadeInDown 0.5s linear forwards;
}
.edelweiss_r4.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 0.3s;
}
.edelweiss_r6.visible-show {
  animation: fadeInRight 0.5s linear forwards;
  animation-delay: 0.3s;
}

/* 動態效果-特色*/
.edelweiss_title_speciltime.visible-show {
  animation: fadeInUp 0.5s linear forwards;
}
.edelweiss_title_specil.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.3s
}
.edelweiss_specil_img.visible-show {
  animation: fadeInDown 0.8s linear forwards;
  animation-delay: 1s
}
.edelweiss_product_specilbox.visible-show {
  animation: fadeInUp 0.5s linear forwards;
  animation-delay: 0.8s
}

/* 動態效果-表單*/
.edelweiss_title_form2.visible-show {
  animation: fadeInDown 0.5s linear forwards;
  animation-delay: 1s
}
.locationbtn.visible-show {
  animation: rubberBand 3s linear forwards;
  animation-delay: 1.5s
}

/* 動態效果-建議搭配*/
.edelweiss_l6.visible-show {
  animation: fadeInDown 0.8s linear forwards;
}
.edelweiss_l7.visible-show {
  animation: SHoW 0.5s linear forwards;
  animation-delay: 0.5s
}
.edelweiss_l8.visible-show {
  animation: SHoW 0.5s linear forwards;
  animation-delay: 0.8s
}
.edelweiss_r9.visible-show {
  animation: fadeInDown 1s linear forwards;
  animation-delay: 1s
}



@media screen and (max-width: 1605px) {
  .edelweiss_introduction_textbox {
    padding: 4% 3.5% 4% 3.5%;
    margin-right: 15%;
  }
  .edelweiss_make_contain {
    margin-left: 8%;
  }
}
@media screen and (max-width: 1367px) {
  .edelweiss_introduction_textbox p, .edelweiss_makeinner_r p, .edelweiss_formtext p,.edelweiss_forminner .check_label {
    font-size: 18px;
  } 
}
@media screen and (max-width: 1200px) {
  .edelweiss_make_contain {
    margin: 0 auto;
  }
  .edelweiss_makeinner_r h3,.edelweiss_forminner .form_element span,.edelweiss_infotitle h4  {
    font-size: 20px;
  }
  .edelweiss_make_item {
    padding: 1% 8%;
  }
  .edelweiss_r6 {
    bottom: -50px;
  }
}

@media screen and (max-width: 1100px) {
  .edelweiss_makeinner_r h3 {
    font-size: 18px;
  }
  .edelweiss_introduction_textbox p, .edelweiss_makeinner_r p, .edelweiss_formtext p, .check_label {
    font-size: 15px;
  } 
  .edelweiss_title_introduction {
    top: 10%;
    left: 27.85%;
  }
  .edelweiss_introduction_imgbg {
    top: 9%;
    left: 10%;
  }
  .edelweiss_introduction_img {
    top: 16.5%;
    left: 13%;
  }
  .edelweiss_introduction_textbox {
    padding: 4% 2.5% 4% 2.5%;
    margin-right: 10%;
    top: 23.5%;
    left: 44%;
    min-height: 282px;
  }

}


@media screen and (max-width: 768px) {
  .product_edelweiss .newitem_banner {
    background: url(../images/product_edelweiss/banner-bgmobile.png) 50%/101% no-repeat;
    padding-top: 165%;
  } 
  .edelweiss_banner_product {
    width: 70%;
    padding-top: 57%;
    top: 50.5%;
    left: 19%;
  }
  .edelweissimg00_5 {
    width: 32.604167%;
    top: 45%;
    left: 6.84375%;
  }
  .newitem_banner_title {
    margin-top: 16%;
  }
  .edelweiss_banner_title1 {
    width: 55%;
    margin: 5% 0 5% 10.5%;
  }
  .edelweiss_banner_title2 {
    width: 75%;
    margin: 0;
  }
  .edelweiss_banner_title3 {
    width: 90%;
    margin: 2% 0 0 -7.5%;
  }
  .edelweiss_product_introduction {
    padding: 0;
  }
  .edelweiss_title_introduction {
    width: 70%;
    top: -32%;
    left: 14.85%;
  }
  .edelweiss_introduction_imgbg {
    width: 77.2%;
    height: 111%;
    top: -37%;
    left: 12%;
  }
  .edelweiss_introduction_img {
    width: 52%;
    padding-top: 65.5%;
    top: -22.5%;
    left: 23.5%;
    z-index: 2;
  }
  .edelweiss_introduction_textbox {
    padding: 0;
    position: sticky;
    margin: 40% 14% 0 15%;
    z-index: 1;
  }
  .edelweiss_introduction_textbox p {
    padding: 36% 6.5% 4% 6.5%;
  }
  .edelweiss_title {
    width: 25%;
  }
  .edelweiss_title_make {
    width: 50%;
  }
  .edelweiss_title_specil {
    width: 75%;
}
  .edelweiss_product_wrap {
    padding-bottom: 30%;
  }
  .product_contain {
    padding: 0;
  }
  .product_item {
    width: 50%;
  }
  .edelweiss_product_specil {
    padding-top: 73%;
  }
  .edelweiss_product_specilbox {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    max-width: 500px;
  }
  .edelweiss_specil_text {
    width: 100%;
  }
  .edelweiss_specil_img {
    width: 100%;
    margin-bottom: 12%;
  }
  .edelweiss_title_form2 {
    width: 74%;
    margin: 0 auto 3% auto;
  }
  .edelweiss_forminner .form_element select {
    width: 100%;
    margin-top: 6%;
  }
  .edelweiss_forminner .form_element input,.edelweiss_forminner .form_element select {
    padding: 10px 10px 10px 30px;
  }
  .edelweiss_forminner .edelweiss_select:after {
    margin-top: 6%;
  }
  .edelweiss_product_make {
    padding-top: 58%;
  }
  .edelweiss_title_make {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
  }
  .edelweiss_r6 {
    bottom: -45%;
    right: -5%;
    width: 45%;
    transform: rotate(-15deg);
  }
  .edelweiss_make_item {
    width: 100%;
    flex-wrap: wrap;
    position: static;
    margin-right: -100%;
    float: left;
    position: relative;
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    display: none;
    transition: opacity 0.3s linear, transform 0.6s ease-out;
  }
  .edelweiss_make_item1.visible-show {
    animation: none;
  }
  .edelweiss_make_item2.visible-show {
    animation: none;
  }
  .edelweiss_make_item3.visible-show {
    animation: none;
  }
  .edelweiss_makeinner_l {
    width: 70%;
    margin: 0 auto;
  }
  .edelweiss_makeinner_l img {
    width: 100%;
  }
  .edelweiss_makeinner_r h3 {
    font-size: 26px;
  }
  .edelweiss_introduction_textbox p, .edelweiss_makeinner_r p, .edelweiss_formtext p,.edelweiss_forminner .check_label {
    font-size: 18px;
  }
  .edelweiss_makeinner_r {
    width: 100%;
    text-align: center;
    margin: 5% auto 0 auto;
  }
  .edelweiss_make_contain {
    width: 65%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, 0);
    overflow: hidden;
  }
  .edelweiss_make_item.active {
    opacity: 1;
    display: block;
  }

  .edelweiss_make_item.prev{
    transform: translate(-100%);
  }
  
  .edelweiss_make_item.next{
    transform: translate(100%);
  }

  /* 裝飾物件 */
  .edelweiss_l1 {
    width: 37.625%;
    top: 0%;
    left: 0%;
  }
  .edelweiss_m1 {
    width: 18.854167%;
    top: 17.483871%;
    left: 80.708333%;
  }
  .edelweiss_m2 {
    width: 11.25%;
    top: 41.193548%;
    left: 56.375%;
  }
  .edelweiss_l2 {
    width: 50.520833%;
    top: -140%;
    left: -20%;
  }
  .edelweiss_r3 {
    width: 17.5%;
    top: 194%;
    right: 79%;
  }
  .edelweiss_l5 {
    width: 19.895833%;
    top: 104%;
    left: 6.291667%;
  }
  .edelweiss_r8 {
    width: 47%;
    top: 94%;
    right: -32%;
    transform: rotate(-7deg);
  }
  .edelweiss_l6 {
    width: 29.375%;
    top: 38%;
    left: -10%;
  }
  .edelweiss_l7 {
    width: 17.708333%;
    bottom: 3%;
    left: 8.072917%;
    z-index: 5;
  }
  .edelweiss_l8 {
    width:10.416667%;
    bottom: 2%;
    left:18.854167%;
    z-index: 5;
  }
  .edelweiss_l9 {
    width:54.166667%;
    bottom: 0%;
    left: 0%;
    z-index: 4;
  }
  .edelweiss_r9 {
    width: 15.625%;
    bottom: 22%;
    right: 15%;
    z-index: 4;
  }

}
@media screen and (max-width: 730px) {
  .edelweiss_makeinner_r h3 {
    font-size: 22px;
  }
  .edelweiss_introduction_textbox p, .edelweiss_makeinner_r p, .edelweiss_formtext p,.edelweiss_forminner .check_label {
    font-size: 15px;
  }
}
@media screen and (max-width: 596px) {
  .product_item {
    width: 100%;
    margin: 8% auto;
  }
  .edelweiss_l5 {
    width: 19.895833%;
    top: 146%;
    left: 6.291667%;
  }
  .edelweiss_l6 {
    width: 39.375%;
    top: 58%;
    left: -10%;
  }
  .edelweiss_r9 {
    width:15.625%;
    bottom: 12%;
    right: 0%;
    z-index: 4;
  }
}
@media screen and (max-width: 560px) {
  .edelweiss_makeinner_r h3 {
    font-size: 16px;
  }
  .edelweiss_makeinner_r h3,.edelweiss_forminner .form_element span, .edelweiss_infotitle h4 {
    font-size: 14px;
  }
  .edelweiss_introduction_textbox p, .edelweiss_makeinner_r p, .edelweiss_formtext p,.edelweiss_forminner .check_label {
    font-size: 12px;
  }
}
@media screen and (max-width: 360px){
  .edelweiss_product_specil {
    padding-top: 90%;
  }
}