/* 內容 */
.container_share{
  width: 100%;
  background: -webkit-linear-gradient(#fad6b9, #f6b8b4);
  background: -o-linear-gradient(#fad6b9, #f6b8b4);
  background: -moz-linear-gradient(#fad6b9, #f6b8b4);
  background: linear-gradient(#fad6b9, #f6b8b4);
}

.container_box_share{
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

/* 標題 */
.title_share{
  width: 73%;
  max-width: 923px;
  height: 100%;
  padding: 10% 0 5% 0;
  position: relative;
}

.title_share_box{
  width: 100%;
}

.title_share_box_1{
  width: 100%;
}

.title_share_contain{
  width: 100%;
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_2{
  width: 50%;
}

.title_3{
  width: 46%;
}

/* 右上女生 */
.share_girl{
  width: 62.83856988%;
  max-width: 580px;
  position: absolute;
  left: 103%;
  top: 67%;
  transform: translate(0, -50%);
  z-index: 2;
}

/* 表單區塊 */
.share_infor_area{
  width: 100%;
  position: relative;
}

.form_share{
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.form_share_area{
  width: 100%;
  position: relative;
}

.form_share_box{
  background-color: #fff;
  border-radius: 20px;
}

.form_share_box_l{
  width: 6.557377049%;
  height: 100%;
  background: #fff url(../images/share/ticket.png) 50% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.form_share_box_r{
  width: calc(100% - 6.557377049%);
  margin-left: 6.557377049%;
  text-align: center;
}

.form_share_contain{
  width: 85%;
  max-width: 850px;
  padding: 3% 0 1% 0;
  margin: 0 auto 0 6%;
}

.form_share_contain > h1{
  color: #ee7642;
  font-size: 24px;
  letter-spacing: 0.7px;
  line-height: 1.8;
  font-weight: 600;
}

/* 表單 */
.share_form_write{
  width: 100%;
  padding: 3% 0 2% 0;
  position: relative;
  z-index: 3;
}

.share_form_element{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-around;
  position: relative;
}

.share_form_item{
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.share_form_item_1{
  width: 42%;
}

.share_form_item_name{
  width: 120px;
  font-size: 20px;
  color: #5b514e;
  font-weight: 600;
  vertical-align: middle;
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-ideograph;
  -ms-text-justify: inter-ideograph;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
}

.share_form_item_name_1{
  width: 123px;
}

.share_form_item .form_elememt_contain.input{
  width: calc(95% - 120px);
  padding: 6px 10px;
  margin-left: 5%;
  height: 100%;
  border: none;
  font-size: 16px;
  background-color: #fce4d6;
  border: 1px solid transparent;
  outline: none;
}

.share_form_item_1 .form_elememt_contain.input{
  width: calc(95% - 123px);
}

.share_form_item .form_elememt_contain.input:focus{
  border-color: #ee7642;
  transition: border-color 0.4s linear;
}

.share_form_element{
  padding: 2% 0;
}

.share_form_textarea{
  display: block;
  padding-bottom: 4%;
}

.share_form_textarea .share_form_item{
  width: 100%;
}

.share_form_textarea .share_form_item_name{
  width: auto;
}

.share_form_textarea .form_elememt_text{
  width: calc(95% - 300px);
  padding: 6px 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #fce4d6;
  outline: none;
  resize: none;
}

.share_form_textarea .form_elememt_text:focus{
  border-color: #ee7642;
  transition: border-color 0.4s linear;
}

.share_form_item_2 .form_elememt_text{
  width: calc(90% - 155px);
}

.share_form_item_2{
  padding-top: 2%;
}

/* 好友新增按鈕 */
.friend_add{
  width: 100%;
  text-align: right;
  background: url(../images/share/dotted.png) 50% 50% / 100% repeat-x;
  position: relative;
  z-index: 2;
}

.friend_add_box{
  width: 115px;
  height: 27px;
  display: inline-block;
  background-color: #fff;
  cursor: pointer;
}

.friend_add_box p, .friend_add_box img{
  font-size: 18px;
  color: #822b21;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  transition: font-size 0.2s linear;
}

.friend_add_box img{
  width: 24px;
  transition: width 0.2s linear;
}

.friend_add_box:hover p{
  font-size: 19px;
  transition: font-size 0.2s linear;
}

.friend_add_box:hover img{
  width: 27px;
  transition: width 0.2s linear;
}

.share_line_btn{
  width: 30%;
  max-width: 220px;
  margin: 0 auto;
}

.share_line_btn_contain_1{
  display: block;
}

.share_line_btn_contain_2{
  display: none;
}

.share_line_btn:hover .share_line_btn_contain_1{
  display: none;
}

.share_line_btn:hover .share_line_btn_contain_2{
  display: block;
}

/* 刪除欄位按鈕 */
.remove_sharebox{
  width: 24px;
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translate(0, -50%);
  transition: width 0.2s linear;
  cursor: pointer;
}

.remove_sharebox:hover{
  width: 27px;
  transition: width 0.2s linear;
}

/* 好友分享禮 */
.form_share_area.share_gift{
  margin: 2% auto 0 auto;
}

.form_share_box.share_gift{
  background-color: #ee7642;
  background-image: none;
  text-align: left;
}

.form_share_box_l.share_gift{
  color: #fff;
  text-align: center;
  background: #ee7642 url(../images/share/ticket2.png) 50% 50% no-repeat;
  background-size: contain;
}

.share_gift_box{
  width: 85%;
  max-width: 850px;
  padding: 1% 0;
  margin: 0 auto 0 5%;
}

.share_gift_contain{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.share_gift_word{
  width: 65%;
}

.share_gift_word h1{
  padding-bottom: 8px;
  color: #fff;
  line-height: 1.8;
}

.share_gift_word p{
  color: #fff;
  line-height: 1.8;
}

.share_gift_img{
  width: 30%;
}

.form_share_deco{
  width: 29%;
  position: absolute;
  left: 73%;
  bottom: -3%;
}

/* 好友分享注意事項 */
.share_infor{
  width: 81%;
  max-width: 1170px;
  padding: 2% 0 5% 0;
  margin: 0 auto;
  font-size: 15px;
  color: #231815;
  line-height: 1.5;
  letter-spacing: 0.5px;
  position: relative;
}

.share_infor_box{
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.share_infor_box ol{
  margin-left: 14px;
}

.share_infor_box ol, .share_infor_box li{
  list-style: decimal;
}

.share_boy{
  width: 25%;
  position: absolute;
  left: -19%;
  bottom: -49%;
}

.share_boy.for_minphone{
  display: none;
}

.share_girl_pc{
  display: block;
}

.share_girl_phone{
  display: none;
}

/* 隱私權規範 */
.share_privacy{
  background-color: #8a556b;
  color: #d1a6b8;
}

.share_privacy_contain{
  width: 85%;
  padding: 2% 0;
  margin: 0 auto;
  max-width: 1480px;
  line-height: 1.7;
}

.share_privacy_contain h1{
  font-size: 20px;
  font-weight: 600;
}

.share_privacy_contain h2{
  font-size: 16px;
}

.share_privacy_contain p{
  font-size: 14px;
  line-height: 1.5;
  color: #d1a6b8;
}

/* line分享好友popup */
.popup_wrap .share_line_btn{
  width: 55%;
  max-width: none;
  padding-top: 20px;
}

@media screen and (max-width: 768px){
  /* 表格 */
  .form_share_box{
    border-radius: 15px;
  }

  .form_share_contain{
    width: 90%;
    margin: 0 auto 0 2%;
  }

  .form_share_contain > h1{
    font-size: 20px;
  }

  .share_form_item_name{
    font-size: 17px;
  }

  .share_form_item_name{
    width: 102px;
  }

  .share_form_item_name_1 {
    width: 105px;
  }

  .share_form_item .form_elememt_contain.input{
    width: calc(95% - 102px);
    font-size: 16px;
  }

  .share_form_item_1 .form_elememt_contain.input {
    width: calc(95% - 105px);
  }

  .share_form_textarea .form_elememt_text{
    width: calc(95% - 264px);
    font-size: 16px;
  }

  .share_form_item_2 .form_elememt_text{
    width: calc(95% - 174px);
  }

  .share_line_btn {
    width: 80%;
    max-width: 180px;
  }

  .form_share_box_l{
    width: 9%;
  }

  .form_share_box_r{
    width: 91%;
    margin-left: 9%;
  }

  .friend_add_box p, .friend_add_box img{
    font-size: 18px;
  }

  .friend_add_box:hover p{
    font-size: 18px;
  }

  .friend_add_box:hover img {
    width: 24px;
  }

  /* 好友分享禮 */
  .share_gift_box{
    width: 90%;
    padding: 3% 0;
    margin: 0 auto 0 2%;
  }

  .share_gift_word h1{
    font-size: 18px;
  }

  .share_gift_word p{
    font-size: 14px;
  }

  .share_gift_word{
    width: 55%;
  }

  .share_gift_img{
    width: 38%;
  }

  .share_boy{
    bottom: -18%;
  }

  /* 好友分享注意事項 */
  .share_infor_box{
    font-size: 12px;
  }

  /* 隱私權規範 */
  .share_privacy_contain{
    width: 90%;
    padding: 5% 0;
  }
}

@media screen and (max-width: 700px){
  .form_share{
    width: 90%;
  }

  .share_form_element{
    padding: 3% 0;
    flex-wrap: wrap;
  }

  .share_form_item{
    width: 100%;
    padding: 4% 0 0 0;
  }

  .share_form_textarea .form_elememt_text {
    width: calc(100% - 209px);
  }

  .share_form_item_2 .form_elememt_text {
    width: calc(100% - 119px);
  }

  /* 刪除好友按鈕 */
  .remove_sharebox{
    margin: 0 auto 0 0;
    position: static;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 596px){
  /* 標題 */
  .container_box_share{
    width: 90%;
  }

  .title_share{
    width: 100%;
    padding: 10% 0 2% 0;
  }

  /* 表單 */
  .form_share{
    width: 90%;
  }

  .form_share_contain{
    margin: 0 auto;
  }

  .form_share_box_l{
    width: 100%;
    height: auto;
    padding: 11% 0 4% 0;
    margin-top: -20%;
    position: static;
    border-radius: 15px;
    background: #fff url(../images/share/ticket_596.png) 0 50% no-repeat;
    background-size: 85%;
  }

  .form_share_box_r{
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
  }

  .form_share_contain > h1 {
    font-size: 17px;
  }

  .share_form_element{
    padding: 0 0 6% 0;
    flex-wrap: wrap;
  }

  .share_form_item{
    width: 100%;
    padding: 4% 0 0 0;
  }

  .share_form_item_name, .share_form_item_name_1{
    width: 92px;
    font-size: 15px;
  }

  .share_form_item_1 .form_elememt_contain.input,
  .share_form_item .form_elememt_contain.input{
    width: calc(95% - 92px);
  }

  /* 人 */
  .share_girl_pc{
    display: none;
  }

  .share_girl_phone{
    display: block;
  }

  .share_girl{
    width: 108%;
    margin-left: 0%;
    position: static;
    transform: translate(0, 0);
  }

  .share_boy{
    display: none;
  }

  .share_boy.for_minphone{
    width: 25%;
    display: block;
    position: static;
  }

  /* 好友分享禮 */
  .share_gift_box{
    margin: 0 auto;
  }

  .form_share_box_l.share_gift, .form_share_box.share_gift{
    position: relative;
  }

  .form_share_box_l.share_gift{
    background: #ee7642 url(../images/share/ticket2_596.png) 50% 50% no-repeat;
    background-size: 30%;
  }

  .share_gift_word{
    width: 100%;
  }

  .share_gift_img {
    width: 90%;
    max-width: 300px;
    padding: 5% 0 0 0;
  }

  /* 分享注意事項 */
  .share_infor{
    width: 90%;
    padding: 10% 0 15% 0;
  }

  .form_share_deco{
    display: none;
  }

  /* 隱私權規範 */
  .share_privacy_contain{
    padding: 10% 0;
  }

  .share_privacy_contain h2{
    font-size: 14px;
  }

  .share_privacy_contain p{
    font-size: 12px;
  }
}

@media screen and (max-width: 470px){
  .share_girl{
    width: 135%;
    margin-left: -10%;
  }

  .form_share_box_l{
    margin-top: -27%;
  }
}

@media screen and (max-width: 414px){
  .form_share_box_l{
    padding: 8% 0;
  }
}
