@charset "UTF-8";


/*action*/


@-webkit-keyframes bb {
    0% {
        filter: drop-shadow(0px 3px 0px rgba(21, 114, 196, 0.68));

    }

    100% {
        filter: drop-shadow(0px 3px 21px rgba(21, 114, 196, 0.68));

        opacity: 1;
    }
}

@keyframes bb {
    0% {
        filter: drop-shadow(0px 3px 0px rgba(21, 114, 196, 0.68));

    }

    100% {
        filter: drop-shadow(0px 3px 21px rgba(21, 114, 196, 0.68));

        opacity: 1;
    }
}

.bb {
    animation-name: bb;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-timing-function: linear;
}


@-webkit-keyframes updown {
    0% {
        transform: translateY(2%);
    }

    100% {
        transform: translateY(-2%);
    }
}

@keyframes updown {
    0% {
        transform: translateY(2%);
    }

    100% {
        transform: translateY(-2%);
    }
}

.updown {
    animation-name: updown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes shine {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    30% {
        opacity: 1.0;
        transform: scale(1.0);
    }

    to {
        opacity: 0;
        transform: scale(0.6);
    }
}

.shine {
    animation-name: shine;
    animation-iteration-count: infinite;
}

@keyframes fadeA {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

.fadeA {
    animation-name: fadeA;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fadeB {
    0% {
        opacity: 0.8;
        transform: scale(1);
        filter: blur(0px);
    }

    50% {
        opacity: 1.0;
        transform: scale(1.05);
        filter: blur(4px);
    }

    100% {
        opacity: 0.8;
        transform: scale(1);
        filter: blur(0px);
    }
}

.fadeB {
    animation-name: fadeB;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fadeC {
    0% {
        opacity: 0.8;
        transform: translateY(0%);

    }

    50% {
        opacity: 0.2;
        transform: translateY(-5%);

    }

    100% {
        opacity: 0.8;
        transform: translateY(0%);

    }
}

.fadeC {
    animation-name: fadeC;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


@-webkit-keyframes a {
    0% {
        left: -100%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 150%;
        opacity: 0
    }

    to {
        left: 150%;
        opacity: 0
    }
}

@keyframes a {
    0% {
        left: -100%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 150%;
        opacity: 0
    }

    to {
        left: 150%;
        opacity: 0
    }
}


/*動畫 end*/
html,
body {
    width: 100%;
    overflow-x: hidden !important;
}

.for_m {
    display: none;
}

@media (max-width:768px) {
    .for_pc {
        display: none;
    }

    .for_m {
        display: block;
    }
}

/*form*/
.bluemune_form input,
.bluemune_form button,
.bluemune_form textarea,
.bluemune_form select,
.bluemune_form option {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: none;
    border: 0;
    border-radius: 100em;
    background-color: transparent;
    color: #000;
    font-family: 'Noto Sans TC', sans-serif !important;
    letter-spacing: 1px;
}

.bluemune_form input[type="button"],
.bluemune_form input[type="submit"],
.bluemune_form input[type="reset"] {
    -webkit-appearance: none;
}

.bluemune_form textarea {
    -webkit-appearance: none;
}

.bluemune_form textarea:focus,
.bluemune_form input:focus {
    outline: none;
}

.bluemune_form * {
    outline: none;
}

.bluemune_form section {
    width: 100%;
    position: relative;
    display: inline-block;
}

.bluemune_form select::-ms-expand {
    display: none;
}

.bluemune_form select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/bluemune_essence/arrow.png") no-repeat scroll 95% center transparent;
    background-size: auto 30%;
    border: 0;
    border-radius: 100em;
    background-color: transparent;
    color: #b8b5b5;
    padding-left: 2%;
}

.bluemune_form option::-ms-expand {
    display: none;
}

.bluemune_form option {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari 和 Chrome */
    appearance: none;
    background-color: #fff;
    color: #000;
    letter-spacing: 1px;

}

.bluemune_form option:hover {
    background-color: #e8e8e8;
}

.bluemune_form ::-webkit-input-placeholder {
    /* Edge */
    color: #b8b5b5;
}

.bluemune_form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b8b5b5;
}

.bluemune_form ::placeholder {
    color: #b8b5b5;
}

.bluemune_form input:focus::-webkit-input-placeholder {
    color: #000;
}

.bluemune_form input:focus:-moz-placeholder {
    color: #000;
}

.bluemune_form input:focus:-ms-input-placeholder {
    color: #000;
}

.bluemune_form html,
.bluemune_form body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.btn_enter,
.btn_buy_now {
    transform: scale(1.0);
    filter: brightness(1);
    transition: all 0.3s ease;
}

.btn_enter:hover,
.btn_buy_now:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

/*layout*/

.bluemune_essence {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding-bottom: 0 !important;
}

.bluemune_essence h1,
.bluemune_essence h2,
.bluemune_essence h3,
.bluemune_essence_kv span,
.bluemune_essence_s01 span,
.bluemune_essence_s02 span,
.bluemune_essence_s03 span,
.bluemune_essence_s04 span {
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
    height: 0;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bluemune_essence section {
    width: 100%;
    position: relative;
}

.bluemune_essence p {
    font-size: 0;
}

/*主視覺*/
.bluemune_essence_kv {
    background-color: #c2e5f8;
    height: 0;
    padding-bottom: 56%;
    overflow: hidden;
}

.bluemune_essence .logo {
    width: 23.1%;
    padding-top: 3%;
    padding-left: 3%;
    position: relative;
    z-index: 5;
}

.kv_title_wrap {
    position: relative;
    z-index: 4;
    width: 32%;
    text-align: center;
    margin-top: 11%;
    margin-left: 21%;
}

.kv_title_wrap .fadeIn {
    opacity: 0;
    animation-fill-mode: forwards;
}

.kv_title_wrap h1 {
    background-image: url(../images/bluemune_essence/kv_title.png);
    width: 100%;
    padding-bottom: 50%;
    margin: 0 auto;
}

.kv_title_wrap span {
    background-image: url(../images/bluemune_essence/kv_word_01.png);
    padding-bottom: 17%;
    width: 86.6%;
    margin: 0.2% auto;
    background-repeat: no-repeat;
    -webkit-mask-image: url(../images/bluemune_essence/kv_word_01.png);
    mask-image: url(../images/bluemune_essence/kv_word_01.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.kv_title_wrap span.s_light:before {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: -70%;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    -webkit-animation: a 10s linear -10s infinite normal;
    animation: a 10s linear -10s infinite normal;
    content: "";
    z-index: 2;
    display: block;
}

.kv_word {
    width: 50%;
    margin: 3% auto;
}

.light_01 {
    position: absolute;
    width: 18%;
    top: 6%;
    left: -3%;
}

.light_02 {
    position: absolute;
    width: 12%;
    top: 25%;
    left: -15%;
}

.kv_bg {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: -8%;
    left: 0;
    height: 0;
    padding-bottom: 61%;
}

.kv_img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.color_block_01,
.color_block_02 {
    position: absolute;
    z-index: 5;
}

.color_block_01 {
    width: 24.8%;
    bottom: 0;
    left: 0;
}

.color_block_02 {
    width: 37%;
    top: -4.75%;
    right: 0;
}

.kv_sea_left,
.kv_sea_right {
    position: absolute;
    z-index: 5;
}

.kv_sea_left {
    top: -4.75%;
    width: 26.5%;
    left: 0;
}

.kv_sea_right {
    width: 14%;
    right: 0;
    bottom: -10%;
}

.light_03,
.light_04,
.light_05,
.light_06 {
    position: absolute;
    z-index: 6;
}

.light_03 {
    width: 13%;
    top: 25%;
    left: 54%
}

.light_04 {
    width: 8%;
    top: 10%;
    left: 50%
}

.light_05 {
    width: 3%;
    top: 90%;
    left: 46%
}

.light_06 {
    width: 8%;
    top: 80%;
    left: 75%
}

@media (max-width:768px) {
    .bluemune_essence_kv {
        padding-bottom: 200%;
    }

    .bluemune_essence .logo {
        width: 40%;
    }

    .kv_title_wrap {
        width: 80%;
        text-align: center;
        margin-top: 108%;
        margin-left: 10%;
    }

    .light_02 {
        display: none;
    }


    .kv_img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .kv_bg {
        top: 0;
    }
    
    .color_block_02 {
        width: 50%;
        top: 0;
        right: 0;
    }

    .kv_sea_left {
        top: 0;
        width: 100%;
        height: auto;
        left: 0;
    }

    .kv_sea_right {
        display: none;
    }


    .light_03 {
        width: 20%;
        top: 65%;
        left: 28%
    }

    .light_04 {
        width: 12%;
        top: 25%;
        left: 20%
    }

    .light_05 {
        width: 15%;
        top: 160%;
        left: 65%
    }

    .light_06 {
        width: 9%;
        top: 120%;
        left: 3%
    }

}

/*section_01*/
.bluemune_essence_s01 {
    background-color: #d3edfb;
    text-align: center;
    overflow: hidden;
}

.banner_01 {
    width: 62%;
    margin: 0 auto;
    padding-top: 5%;
    z-index: 2;
    position: relative;
}

.banner_02 {
    width: 62%;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 5.5%;
    z-index: 2;
    position: relative;
}

.s01_sea_01,
.s01_sea_02 {
    position: absolute;
}

.s01_sea_01 {
    width: 81.9%;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.s01_sea_02 {
    width: 58%;
    top: 0;
    right: 0;
    z-index: 0;
}

/*section_02*/
.bluemune_essence_s02 {
    height: 0;
    padding-bottom: 80%;
    background-color: #fff;
    padding-top: 6%;
}

.ch {
    width: 40%;
    margin-top: -10%;
    margin-left: 9%;
}

.s02_title {
    position: absolute;
    width: 31%;
    top: 5%;
    left: 50%;
    text-align: center;
}

.s02_title img {
    display: inline-block;
}

.s2_title_01 {
    width: 41%;
    margin-bottom: 6%;
}

.s02_title_word {
    width: 85%;
    margin-top: 4%;
}

.s02_info {
    width: 31%;
    background-image: url(../images/bluemune_essence/s3_content.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 100;
    height: 0;
    padding-bottom: 22%;
    text-indent: -9999px;
    position: absolute;
    top: 29.5%;
    left: 50%;
}

.bluemune_essence_video_wrap {
    width: 62%;
    padding: 0% 0 5% 0;
    margin: -11% auto 0 auto;
}

.bluemune_essence_video-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.bluemune_essence_video-container iframe,
.bluemune_essence_video-container object,
.bluemune_essence_video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:768px) {


    .bluemune_essence_s02 {
        height: 0;
        padding-bottom: 300%;
        background-color: #fff;
        padding-top: 6%;
    }

    .ch {
        width: 100%;
        margin-top: 120%;
        margin-left: -15%;
    }

    .s02_title {
        width: 90%;
        top: 4%;
        left: 5%;
    }

    .s2_title_01 {
        width: 41%;
        margin-bottom: 6%;
    }

    .s02_title_word {
        width: 85%;
        margin-top: 4%;
    }

    .s02_info {
        width: 90%;
        padding-bottom: 50%;
        top: 25%;
        left: 5%;
    }

    .bluemune_essence_video_wrap {
        width: 90%;
        margin-top: -28%;
    }
}

/*section03*/
.bluemune_essence_s03 {
    background-image: url(../images/bluemune_essence/bg_04.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 77%;
    padding-top: 4%;
}

.bluemune_essence_s03 h3 {
    background-image: url(../images/bluemune_essence/s4_title.png);
    width: 45%;
    padding-bottom: 13%;
    margin: 0 auto 4% auto;
}

.year_wrap {
    background-image: url(../images/bluemune_essence/center_line.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 61%;
    margin: 0 auto;
    position: relative;
    height: 0;
    padding-bottom: 28%;
}

.year_wrap img {
    position: absolute;
}

img.img_2009 {
    width: 15%;
    top: 14%;
    left: 8%;
}

img.img_2011 {
    width: 19.23%;
    top: 14%;
    left: 39%;
}

img.img_2014 {
    width: 19.23%;
    top: 14%;
    left: 73%;
}

img.img_2016 {
    width: 19.23%;
    top: 90%;
    left: 73%;
}

img.img_2020 {
    width: 18%;
    top: 90%;
    left: 40%;
}

.img_2021_new {
    width: 52%;
    background-image: url(../images/bluemune_essence/2021_new.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 40%;
    position: absolute;
    left: 26%;
    top: 52.8%;
}

.light_07 {
    position: absolute;
    width: 14%;
    top: -10%;
    left: -2%;
}

.img_2021_new span {
    background-image: url(../images/bluemune_essence/img_new_item.png);
    width: 22%;
    padding-bottom: 32%;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: -18%;
    -webkit-mask-image: url(../images/bluemune_essence/img_new_item.png);
    mask-image: url(../images/bluemune_essence/img_new_item.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.img_2021_new span.s_light::before {
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .8)), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .8) 60%, hsla(0, 0%, 100%, 0));
}

@media (max-width:768px) {
    .bluemune_essence_s03 {
        background-image: url(../images/bluemune_essence/bg_04_m.jpg);
        padding-bottom: 520%;
        padding-top: 5%;
        background-size: 100%;
    }

    .bluemune_essence_s03 h3 {
        background-image: url(../images/bluemune_essence/s4_title_m.png);
        width: 90%;
        padding-bottom: 76%;
    }

    .year_wrap {
        background-image: none;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 90%;
        margin: 0 auto;
        position: relative;
        height: auto;
        padding-bottom: 0;
    }

    .year_wrap img {
        position: relative;
        width: 95% !important;
        top: auto !important;
        left: 2.5% !important;
        margin-bottom: 10%;
    }

    .img_2021_new {
        width: 100%;
        background-image: url(../images/bluemune_essence/img_2021_m.png);
        padding-bottom: 170%;
        position: relative;
        left: 0%;
        top: auto;
    }

    .light_07 {
        position: absolute;
        width: 20%;
        top: -5%;
        left: 47%;
    }

    .img_2021_new span {

        width: 48%;
        padding-bottom: 100%;
        z-index: 1;
        position: absolute;
        top: 5%;
        left: 7%;
    }
}

/*section_04*/
.bluemune_essence_s04 {
    background-image: url(../images/bluemune_essence/bg_05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 60%;
    padding-top: 4.5%;
    overflow: hidden;
}

.s04_title {
    width: 75%;
    margin: 0 auto;
}

.s04_title h3 {
    width: 38.3%;
    padding-bottom: 15%;
    margin: 0 auto;
    background-image: url(../images/bluemune_essence/s5_title.png);
}

.s04_title span {
    background-image: url(../images/bluemune_essence/s5_word.png);
    width: 43.4%;
    padding-bottom: 8.5%;
    margin: 0.9% auto 0 auto;
    -webkit-mask-image: url(../images/bluemune_essence/s5_word.png);
    mask-image: url(../images/bluemune_essence/s5_word.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.s04_title span.s_light::before {
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0;
    left: -70%;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .8)), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .8) 60%, hsla(0, 0%, 100%, 0));
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    -webkit-animation: a 20s linear infinite normal;
    animation: a 20s linear infinite normal;
    content: "";
    z-index: 2;
    display: block;
}

.weaver {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 1;
}

.tip {
    position: relative;
    z-index: 3;
    width: 78%;
    margin: 0 auto;
    text-align: center;
}

.tip div {
    display: inline-block;
    vertical-align: top;
}

.tip div:nth-child(1) {
    width: 20.10%;
}

.tip div:nth-child(2) {
    width: 21.35%;
    margin: 0 5%;
}

.tip div:nth-child(3) {
    width: 24.27%;
}

@media (max-width:768px) {
    .bluemune_essence_s04 {
        background-image: url(../images/bluemune_essence/bg_05_m.jpg);
        padding-bottom: 177%;
        padding-top: 5%;
        background-size: cover;
    }

    .s04_title {
        width: 100%;
    }

    .s04_title h3 {
        width: 60%;
        padding-bottom: 23%;
    }

    .s04_title span {
        width: 80%;
        padding-bottom: 11%;
        margin: 1.2% auto 5% auto;
    }

    .bluemune_essence_s04 .set_outer {
        width: 55%;
        margin: 0 auto;
        z-index: 5;
    }

    .bluemune_essence_s04 button.slick-next.slick-arrow {
        background-color: transparent;
        right: -30%;
        width: 20%;
        height: 0;
        padding-bottom: 100%;
        background-image: url(../images/bluemune_essence/next.png);
        transform: rotate(0);
        background-size: 100% !important;
        top: 20%;
    }

    .bluemune_essence_s04 button.slick-prev.slick-arrow {
        background-color: transparent;
        left: -30%;
        width: 20%;
        height: 0;
        padding-bottom: 100%;
        background-image: url(../images/bluemune_essence/prev.png);
        transform: rotate(0);
        background-size: 100% !important;
        top: 20%;
    }


}

/*buynow*/
.buy_now {
    background-color: #fff;
    padding-top: 5%;
}

.buy_now span {
    background-image: url(../images/bluemune_essence/new_word.png);
    width: 15%;
    background-size: 100%;
    height: 0;
    padding-bottom: 5%;
    background-repeat: no-repeat;
    line-height: 100;
    text-indent: -999px;
    display: block;
    position: absolute;
    right: 4%;
    top: 11%;
    -webkit-mask-image: url(../images/bluemune_essence/new_word.png);
    mask-image: url(../images/bluemune_essence/new_word.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.buy_now span.s_light::before {
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0;
    left: -70%;
    background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .8)), to(hsla(0, 0%, 100%, 0)));
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .8) 60%, hsla(0, 0%, 100%, 0));
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    -webkit-animation: a 3s linear infinite normal;
    animation: a 3s linear infinite normal;
    content: "";
    z-index: 2;
    display: block;
}

.set_gift {
    background-image: url(../images/bluemune_essence/set_gift.png);
    width: 62%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 0;
    padding-bottom: 28%;
    position: relative;
}

.set_gift p {
    width: 100%;
    height: 0;
    text-indent: -999px;
    line-height: 100;
}

.light_08 {
    position: absolute;
    width: 10%;
    top: 3%;
    right: 31.5%;
    z-index: 4;
}

a.btn_buy_now {
    background-image: url(../images/bluemune_essence/btn_buy.png);
    width: 21%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 10%;
    display: block;
    text-indent: -999px;
    line-height: 100;
    overflow: hidden;
    position: absolute;
    top: 62%;
    left: 17%;
}

@media (max-width:768px) {
    .buy_now {
        background-color: #fff;
        padding-top: 10%;
    }

    .buy_now span {
        background-image: url(../images/bluemune_essence/new_word.png);
        width: 35%;
        padding-bottom: 10%;
        right: 2%;
        top: 21%;
    }

    .set_gift {
        background-image: url(../images/bluemune_essence/gift_set_m.png);
        width: 90%;
        padding-bottom: 130%;
    }

    .light_08 {
        width: 15%;
        top: 20%;
        right: 58%;
    }

    a.btn_buy_now {
        width: 50%;
        padding-bottom: 20%;
        top: 80%;
        left: 25%;
    }
}

/*form*/
.bluemune_essence_form {
    padding-top: 5%;
    background-color: #b9e0f4;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.event_wrap h3 {
    background-image: url(../images/bluemune_essence/form_title.png);
    width: 36%;
    padding-bottom: 18%;
    margin: 0 auto 0 auto;
    z-index: 5;
    position: relative;
}

.pic {
    width: 32%;
    margin-top: -1.5%;
    margin-left: 15%;
    position: relative;
    z-index: 4;
}

.event_content {
    background-image: url(../images/bluemune_essence/event_content.png);
    width: 42%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -999px;
    line-height: 2000;
    overflow: hidden;
    height: 0;
    padding-bottom: 55%;
    position: absolute;
    top: 10%;
    z-index: 3;
    left: 42%;
    font-size: 0;
}

.form.bluemune_form {
    width: 52%;
    margin: 0 auto;
    padding-top: 5.5%;
    z-index: 5;
    position: relative;
}

.form_title {
    width: 34%;
    margin: 0 auto 6.4% auto;
}

.form ul,
.form ul li {
    width: 100%;
    text-align: left;
}

.form ul li {
    height: 0;
    padding-bottom: 8%;
    margin-bottom: 1.5vw;
    position: relative;
    background-color: #fff;
    border-radius: 100em;
}

.form ul li input,
.form ul li select {
    height: 4vw;
    line-height: 4vw;
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 3vw;
    box-sizing: border-box;
    font-size: 1.5vw;
}

.form ul li select.active {
    color: #000;
}

.form ul li > div:nth-child(1) {
    width: 100%;
    height: 4vw;
    line-height: 4vw;
    color: #1572c4;
    font-weight: bold;
    box-sizing: border-box;
    padding-left: 5%;
    font-size: 1.5vw;
}

.custom-checkbox {
    width: 100%;
    text-align: left;
    margin-top: 5%;
    padding-left: 0%;
    position: relative;
}

input[type=checkbox] {
    transform: scale(5);
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: 0;
}

.checkmark {
    position: absolute;
    display: block;
    width: 2vw;
    height: 22vw;
    z-index: 1;
    background-image: url(../images/bluemune_essence/checkbox.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.checkmark.active {
    background-image: url(../images/bluemune_essence/checkbox_after.png);
}

.check-content {
    width: 100%;
    padding-left: 4%;
    box-sizing: border-box;
    font-size: 2vw;
    display: block;
    position: relative;
    height: 2vw;
}

.check-content img {
    width: 45%;
    margin-top: 0.1vw;
    position: absolute;
    left: 5%;
}

.check-content-notice img {
    width: 94%;
    margin-left: 5.1%;
    padding-top: 4%;
}

.btn_enter {
    display: block;
    width: 25%;
    margin: 9% auto;
}

.event_word {
    width: 100%;
    height: 0;
    padding-bottom: 15%;
    margin-left: -0;
    background-image: url(../images/bluemune_essence/event_cont.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
}
.event_word.add_notice{
    padding-bottom: 55%;
    background-image: url(../images/bluemune_essence/notice.png);
}

.bg_05 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/bluemune_essence/bg_form.jpg);
    background-size: cover;
    z-index: 0;
}

@media (max-width:768px) {

    /*form*/
    .bluemune_essence_form {
        padding-top: 7%;
    }

    .event_wrap h3 {
        background-image: url(../images/bluemune_essence/event_title_m.png);
        width: 80%;
        padding-bottom: 30%;
    }

    .pic {
        width: 90%;
        margin-top: 5%;
        margin-left: 4%;
    }

    .event_content {
        background-image: url(../images/bluemune_essence/event_content_m.png);
        width: 100%;
        padding-bottom: 160%;
        position: relative;
        top: auto;
        z-index: 3;
        left: 0;
        line-height: 1000;
        margin-top: -25%;
    }

    .form.bluemune_form {
        width: 90%;
        margin: 0 auto;
        padding-top: 10%;
    }

    .form_title {
        width: 70%;
    }

    .form ul li {
        height: 0;
        padding-bottom: 10%;
        margin-bottom: 3vw;
    }

    .form ul li input,
    .form ul li select {
        height: 8.6vw;
        line-height: 8.6vw;
        width: 76%;
        padding-left: 5%;
        font-size: 2.8vw;
    }

    .form ul li > div:nth-child(1) {
        width: 100%;
        height: 8.6vw;
        line-height: 8.6vw;
        font-size: 2.8vw;
    }

    .custom-checkbox {
        width: 100%;
        text-align: left;
        margin-top: 5%;
        padding-left: 0%;
        position: relative;
    }

    input[type=checkbox] {
        transform: scale(5);
        position: absolute;
        z-index: 2;
        opacity: 0;
        top: 0;
    }

    .checkmark {
        position: absolute;
        display: block;
        width: 4vw;
        height: 4vw;
        z-index: 1;
        left: 2%;
        top: -5%;
    }

    .check-content img {
        width: 50%;
        left: 9%;
    }

    .check-content-notice img {
        width: 90%;
        margin-left: 9%;
        padding-top: 6%;
    }

    .btn_enter {
        display: block;
        width: 40%;
        margin: 10% auto;
    }

    .event_word {
        width: 90%;
        height: 0;
        padding-bottom: 25%;
        margin-left: 5%;
        background-image: url(../images/bluemune_essence/event_cont_m.png);
    }


    .event_word.add_notice{
        padding-bottom: 99%;
        background-image: url(../images/bluemune_essence/notice_m.png);
    }


    .bg_05 {
        background-image: url(../images/bluemune_essence/form_bg_m.jpg);
        background-size: 100%;
        z-index: 0;
    }
}

/*bluemune_essence_suggestion*/
.bluemune_essence_suggestion {
    background-color: #92c4e1;
    padding-top: 4%;
    height: 0;
    padding-bottom: 54%;
}

.bluemune_essence_suggestion h3 {
    width: 22%;
    padding-bottom: 13%;
    background-image: url(../images/bluemune_essence/suggest_title.png);
    margin: 0 auto;
}

.bluemune_essence_suggestion .set_outer {
    width: 62%;
    margin: 0 auto 12% auto;
}

.bluemune_essence_suggestion .set_outer div {
    padding: 0;
}

.bluemune_essence_suggestion .slick-list {
    overflow-x: hidden;
    overflow-y: visible;
}

.bluemune_essence_suggestion .slick-slide a img {
    filter: brightness(1.0);
    transition: 0.5s ease;
    cursor: pointer;
}

.bluemune_essence_suggestion .slick-slide a:hover img {
    filter: brightness(1.06);
}

.bluemune_essence_suggestion button.slick-next.slick-arrow {
    width: 20%;
    max-width: 20%;
    height: 50vw !important;
    padding-bottom: 10%;
    position: absolute;
    top: 110%;
    left: 52%;
    opacity: 0;
}

.bluemune_essence_suggestion button.slick-prev.slick-arrow {
    width: 20%;
    max-width: 20%;
    height: 50vw !important;
    padding-bottom: 10%;
    position: absolute;
    top: 110%;
    left: 28%;
    opacity: 0;
}

.btn_all {
    width: 28%;
    background-image: url(../images/bluemune_essence/btn_all.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 10%;
    margin: -9% auto 0 auto;
}

@media (max-width:768px) {
    .bluemune_essence_suggestion {
        padding-top: 8%;
        height: 0;
        padding-bottom: 165%;
    }

    .bluemune_essence_suggestion h3 {
        width: 60%;
        padding-bottom: 35%;
    }

    .bluemune_essence_suggestion .set_outer {
        width: 70%;
        padding-left: 2%;
    }

    .bluemune_essence_suggestion .set_outer div {
        padding: 0 0 0 0;
        margin: 0;
    }

    .bluemune_essence_suggestion .slick-list {
        overflow: visible !important;
    }

    .bluemune_essence_suggestion button.slick-next.slick-arrow {
        width: 50%;
        max-width: 50%;
        height: 0 !important;
        padding-bottom: 25%;
        position: absolute;
        top: 114%;
        left: 60%;

    }

    .bluemune_essence_suggestion button.slick-prev.slick-arrow {
        width: 50%;
        max-width: 50%;
        height: 0 !important;
        padding-bottom: 25%;
        position: absolute;
        top: 114%;
        left: -10%;
    }

    .btn_all {
        width: 85%;
        padding-bottom: 20%;
        margin: 8% auto 0 auto;
    }
}

/* popup */
.popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(194, 229, 248, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 99999;
}

.popup_wrap {
    width: auto;
    max-width: auto;
    height: auto;
    max-height: auto;
    padding: 0;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup_send {
    width: auto;
    height: 75vh;
}

.popup_close {
    width: 30%;
    max-width: 30%;
    height: auto;
    display: block;
    position: absolute;
    top: -10%;
    right: 0;
    cursor: pointer;
    z-index: 5;
}

img.popup_close {
    pointer-events: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
}

.popup_wrap::-webkit-scrollbar {
    width: 0;
}

.btn_pop {
    position: absolute;
    z-index: 5;
    display: block;
    width: 20%;
    height: 0;
    padding-bottom: 8%;
    top: 36%;
    left: 58%;
    opacity: 0;
}

@media (max-width:768px) {
    .btn_pop {
        position: absolute;
        z-index: 5;
        display: block;
        width: 40%;
        height: 0;
        padding-bottom: 11%;
        top: 54%;
        left: 30%;
    }
}
