@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");

*, body, html, div, ul, li, img{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', '微軟正黑體', 'Noto Sans TC', 'Microsoft JhengHei', 'sans-serif', serif;
  font-weight: 300;
  /* font-family: 'Helvetica', '微軟正黑體', 'Noto Sans TC', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'cwTeXYen', 'sans-serif', serif, 'PMingLiU'; */
}

html{
  height: 100%;
}

body{
  line-height: 1.2;
}

html, body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

ul, li{
  list-style: none;
}

/* 消除 li 之間的空白 */
ul{
  letter-spacing: -8px;
}

li{
  letter-spacing: normal;
}

img{
  max-width: 100%;
  font-size: 0;
  display: block;
}

a, img{
  border: 0;
}

a{
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

a:hover{
  text-decoration: none;
}

p{
  font-size: 15px;
  color: #040404;
  letter-spacing: 0.5px;
  line-height: 1.8;
  margin: 0 auto;
}

/* 顯示和隱藏 */
.for_phone{
  display: none !important;
}

/* menu */
header{
  width: 100%;
  background-color: #fff;
  color: #040404;
  position: fixed;
  z-index: 99;
}

.menu_box{
  width: 100%;
  padding: 0.8% 2% 0.8% 6%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_open_box{
  vertical-align: middle;
  display: none;
}

.menu_open_box.close{
  float: none;
}

.menu_box_wrap, .menu_box h1, .menu_box ul:not(.menu_inner), .menu_contain, .menu_new{
  display: inline-block;
  vertical-align: middle;
}

.menu_box_wrap{
  width: 9%;
  max-width: 130px;
}

.menu_box h1{
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

.menu_box ul:not(.menu_inner){
  width: calc(100% - 9.341% - 220px);
  min-width: calc(100% - 165px - 220px);
  padding: 0 5% 0 1%;
  margin-left: -8px;
}

.menu_contain{
  width: calc(100% / 6);
  max-width: 250px;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.8px;
  font-weight: lighter;
  position: relative;
}

.menu_contain > a, .menu_panel{
  max-width: 160px;
  padding: 7px 10px;
  margin: 0 auto;
  border-radius: 15px;
  border: 3px solid transparent;
  position: relative;
  overflow: hidden;
}

.menu_contain > a:hover, .menu_panel:hover{
  color: inherit;
  background-color: #fcf8c2;
  border-color: #73cdfb;
  text-decoration: none;
}

.menu_contain > a .me,
.menu_panel .me{
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 0.2s linear,
              opacity 0.05s linear;;
}

.menu_contain > a:hover .me, .menu_panel:hover .me,
.menu_contain:hover .menu_panel .me{
  transform: translate(0, -40px);
  opacity: 0;
  transition: transform 0.1s linear,
              opacity 0.05s linear;
}

.menu_contain > a .mt, .menu_panel .mt{
  width: 100%;
  display: block;
  font-family: 'Helvetica', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'cwTeXYen', 'sans-serif', serif, 'PMingLiU';
  position: absolute;
  top: 40px;
  left: 0;
  opacity: 0;
  transition: transform 0.1s linear,
              opacity 0.05s linear;
}

.menu_contain > a:hover .mt, .menu_panel:hover .mt,
.menu_contain:hover .menu_panel .mt{
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;
  transition: top 0.1s linear,
              opacity 0.05s linear;
}

.menu_inner{
  width: 100%;
  max-width: 150px;
  padding: 10px 0;
  background-color: #fdfdfb;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
}

.menu_new{
  /* width: 255.6px; */
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  background-color: #74bdfc;
  /* background: url(../images/header_new_bg.png) 50% 50% no-repeat; */
  /* background-size: 100%; */
  color: #fff;
  border-radius: 50px;
  text-align: center;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  transition: transform 0.3s linear;
}

.menu_new:hover{
  transform: scale(1.05);
  transition: transform 0.3s linear;
}

.menu_in a{
  padding: 5px 10px;
  font-family: 'Helvetica', 'Microsoft JhengHei', 'Apple LiGothic Medium', 'cwTeXYen', 'sans-serif', serif, 'PMingLiU';
  font-size: 16px;
}

.menu_in a:hover{
  color: inherit;
  text-decoration: none;
}

.menu_in:hover{
  background-color: #fff45c;
}

.menu_new a{
  width: 110px;
  padding: 16px 0px 16px 15px;
  display: block;
  letter-spacing: 1px;
  position: relative;
  float: left;
  font-size: 15px;
}

.menu_new a:first-child{
  border-right: 1px solid #fff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #ffa0c0;
}

.menu_new a:last-child{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.menu_new a:hover{
  color: inherit;
  text-decoration: none;
}

.menu_new a:first-child:hover{
  background-color: #ff6297;
}

.menu_new a:last-child:hover{
  background-color: #218dea;
}

.menu_new img{
  width: 18px;
  display: inline-block;
}

.menu_new a::before{
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  left: 10px;
  top: 16px;
  background: url(../images/star.png) 50% / 100% no-repeat;
}

.menu_panel:hover ~ .menu_inner{
  display: block;
}

.menu_inner:hover{
  display: block;
}

.menu_contain:hover .menu_panel{
  background-color: #fcf8c2;
  border-color: #73cdfb;
}

/* container */
.wrap{
  width: 100%;
  background: url(../images/bg.png) 50% 0 repeat;
  background-size: 22.2%;
  position: relative;
  overflow: hidden;
}

.common_water_drop{
  width: 100%;
  height: 140%;
  position: absolute;
  top: 10%;
  left: 0;
}

.common_water_front{
  width: 100%;
  height: 100%;
  background: url(../images/water_front.png) 0 0 repeat-y;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 2.7s cubic-bezier(0.13, 0.43, 0.4, 0.98);
}

.common_water_end{
  width: 100%;
  height: 100%;
  background: url(../images/water_back.png) 50% 0 repeat-y;
  background-size: 90%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 3.5s cubic-bezier(0.13, 0.43, 0.4, 0.8);
}

.main_container{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.commom_container{
  width: 100%;
  position: relative;
}

/* footer */
footer{
  background-color: #8dc6f7;
  padding: 2% 0 0 0;
}

.footer_top{
  width: 100%;
  padding: 0 6% 1% 6%;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  color: #040404;
  letter-spacing: 0.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.footer_top h1 {
  width: 9%;
  max-width: 130px;
  position: absolute;
  left: 6%;
  top: 0%;
}

.footer_top_contain{
  margin: 0 auto;
}

.footer_item:not(:first-child){
  margin-top: 15%;
}

.footer_bottom{
  width: 100%;
  padding: 1% 0;
  background-color: #64b3f7;
  color: #fff;
  text-align: center;
}

.footer_bottom_item{
  display: inline-block;
  vertical-align: middle;
}

.footer_bottom_item:not(:first-child){
  margin-left: 1%;
}

.footer_media{
  width: 12%;
  max-width: 28px;
}

.footer_btn{
  width: auto;
  padding: 7px 1%;
  font-size: 13px;
  letter-spacing: 0.5px;
  border: 1px solid #fff;
  border-radius: 30px;
  transition: background-color 0.2s linear;
}

.footer_btn:hover{
  background-color: #4da7f4;
  transition: background-color 0.2s linear;
}

/* copyright */
.copytight{
  width: 100%;
  padding: 1.3% 0;
  color: #fff;
  background-color: #bfbfbf;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
}

/* popup */
.popup{
  width: 100%;
  height: 100vh;
  background-color: rgba(25, 78, 147, 0.36);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 99999;
}

.popup_wrap{
  width: 31.7708%;
  max-width: 608px;
  max-height: 69.4%;
  padding: 2%;
  background-color: #fff;
  border: 6px solid #194e93;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.popup_wrap::-webkit-scrollbar{
  display: none;
}

.popup_close{
  width: 6%;
  max-width: 32px;
  display: block;
  position: absolute;
  top: 3%;
  left: 92%;
  transition: 0.5s transform linear;
  pointer-events:fill;
  cursor: pointer;
}

.popup_close:hover{
  display: block;
  transform: rotate(180deg);
  transition: 0.5s transform linear;
}

.popup_wrap ::-webkit-scrollbar {
  width: none;
}

/* 線上購物懸浮按鈕 */
.online_wrap{
  width: 16.25%;
  max-width: 312px;
  position: fixed;
  top: 74%;
  right: 0;
  z-index: 3;
}

.online_box{
  width: 100%;
  padding-top: 58.653846153%;
  background: url(../images/onshop_btn.png) center no-repeat;
  background-size: 100%;
  transition: 0.4s background linear;
}

.online_wrap:hover .online_box{
  background: url(../images/onshop_btn_hover.png) center no-repeat;
  background-size: 100%;
  transition: 0.4s background linear;
}

/* popup */
.popup{
  display: none;
}

/* modal */
.modal-content{
  border-radius: 20px;
  border: 6px solid #194e93;
}

.modal-header{
  border-radius: 15px 15px 0 0;
  padding-top: 22px;
  background-color: #d9edf7 !important;
  justify-content: flex-start;
}

.modal-title{
  color: #194e93;
  font-weight: 800;
  font-size: 20px;
}

.modal-body p{
  font-size: 16px;
  color: #303030;
}

.modal-footer .btn{
  width: 60%;
  max-width: 80px;
  padding: 10px 0 5px 0;
  margin: 0;
  background-color: #f19498;
  color: #194e93;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 50px;
  border: 0;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.modal-footer .btn:hover{
  background-color: #194e93;
  color: #f19498;
}

.modal.warning .modal-content{
  border-color: #dc3545;
}

.modal.warning .modal-title{
  color: #dc3545;
}

.modal.warning .modal-footer .btn{
  background-color: #dc3545;
  color: #fff;
}

.modal.warning .modal-footer .btn:hover{
  background-color: #9c0315;
}

@media screen and (max-width: 1367px){
  p{
    font-size: 15px;
  }

  /* menu */
  .menu_box{
    padding: 0.8% 2% 0.8% 2.5%;
  }

  .menu_contain{
    font-size: 15px;
  }

  .menu_inner{
    top: 38px;
  }

  /* 最新優惠 */
  .menu_box ul:not(.menu_inner){
    width: calc(100% - 9.341% - 210px);
    min-width: calc(100% - 165px - 210px);
    padding: 0 2% 0 1%;
  }

  .menu_new{
    font-size: 14px;
  }

  .menu_new img{
    width: 15px;
  }
}

@media screen and (max-width: 768px){
  /* 顯示和隱藏 */
  .for_pc{
    display: none !important;
  }

  .for_phone{
    display: block !important;
  }

  /* 選單 */
  .menu_box{
    height: 70px;
    padding: 1% 4%;
  }

  .menu_box_wrap{
    /* width: 18%; */
    width: 125px;
  }

  .menu_open_box{
    width: 35px;
    display: inline-block;
  }

  .menu_open span{
    width: 100%;
    height: 3px;
    background-color: #bfbfbf;
    border-radius: 10px;
    display: block;
    margin: 9px auto;
  }

  .menu_open::before, .menu_open::after {
    content: '';
    width: 100%;
    height: 3px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #bfbfbf;
    display: block;
    transition: transform 0.4s ease;
  }

  .menu_open_box.close span {
    display: none;
  }

  .menu_open_box.close .menu_open::before {
    transform: rotate(-135deg) translate(-1px, -4px);
    transition: transform 0.5s ease;
  }

  .menu_open_box.close .menu_open::after {
    transform: rotate(135deg) translate(2px, 2px);
    transition: transform 0.5s ease;
  }

  .menu_box ul.menu{
    width: 100%;
    max-height: calc(100vh - 70px);
    padding: 1% 2% 0 2%;
    margin: 70px auto 0 auto;
    background-color: #fff;
    position: fixed;
    top: 0;
    text-align: left;
    left: -100%;
    opacity: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 0.3s linear,
                opacity 0.3s linear;
  }

  .menu_box ul.menu.active{
    /* top: 0; */
    left: 0;
    opacity: 1;
    transition: left 0.3s linear,
                opacity 0.3s linear;
  }

  .menu_box ul:not(.menu_inner), .menu_contain, .menu_new {
    display: block;
  }

  .menu_contain{
    width: auto;
    padding: 2% 0;
    max-width: none;
    text-align: left;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .menu_contain > a, .menu_panel{
    width: 100%;
    max-width: none;
    margin-left: 0;
    border-radius: 0;
  }

  .menu_contain > a:hover, .menu_panel:hover,
  .menu_contain:hover .menu_panel{
    background: none;
    border-color: transparent;
  }

  .menu_contain > a .me, .menu_panel .me{
    display: inline-block;
    font-weight: 600;
    transition: none;
  }

  .menu_contain > a:hover .me, .menu_panel:hover .me,
  .menu_contain:hover .menu_panel .me{
    transform: translate(0, 0);
    opacity: 1;
    transition: none;
  }

  .menu_contain > a .mt, .menu_panel .mt{
    width: auto;
    display: inline-block;
    position: static;
    opacity: 1;
    font-size: 13px;
    transition: none;
  }

  .menu_contain > a:hover .mt, .menu_panel:hover .mt,
  .menu_contain:hover .menu_panel .mt{
    transform: translate(0, 0);
    transition: none;
  }

  .menu_box h1{
    /* width: calc(100% - 40px); */
    width: 84px;
    padding-left: 15px;
  }

  .menu_new{
    font-size: 14px;
    font-weight: 500;
  }

  .menu_new img{
    width: 12px;
  }

  .menu_inner{
    width: 100%;
    padding: 0 0 0 3px;
    max-width: none;
    display: block;
    background-color: transparent;
    position: static;
    transform: translate(0, 0);
  }

  .menu_in{
    display: inline-block;
  }

  .menu_in:hover {
    background-color: transparent;
  }

  .menu_new a{
    padding: 14px 0px 14px 15px;
  }

  .menu_new a::before{
    top: 14px;
  }

  /* footer */
  footer{
    padding: 0;
  }

  .footer_bottom{
    padding: 8px 0;
  }

  /* 線上購物懸浮按鈕 */
  .online_wrap{
    width: 100px;
    top: auto;
    bottom: 0;
    right: -8px;
  }

  .online_box{
    width: 100%;
    padding-top: 100%;
    background: url(../images/onshop_btn_768.png) center no-repeat;
    background-size: 100%;
  }

  .online_wrap:hover .online_box{
    background: url(../images/onshop_btn_768.png) center no-repeat;
    background-size: 100%;
  }

  /* popup */
  .popup_wrap{
    width: 90%;
    max-width: 400px;
  }
}

@media screen and (max-width: 596px){
  p{
    font-size: 14px;
  }

  .footer_btn{
    max-width: 216px;
    padding: 5px 3%;
    margin: 10px auto !important;
    /* display: block; */
  }
}

@media screen and (max-width: 375px){
  .menu_box ul.menu{
    height: calc(100vh - 70px);
  }

  .menu_contain{
    font-size: 15px;
  }

  .menu_in{
    width: 100%;
    padding: 0 0 0 5px;
    display: block;
  }

  .menu_in a{
    font-size: 14px;
  }

  .menu_new{
    font-size: 12px;
  }

  .menu_new a{
    width: 90px;
    padding: 12px 0px 12px 15px;
    font-size: 13px;
  }

  .menu_new a::before{
    width: 13px;
    height: 13px;
    top: 12px;
  }
}

@media screen and (max-width: 321px){
  /* 選單 */
  .menu_open_box{
    width: 28px;
  }

  .menu_open span{
    margin: 7px 0;
  }

  .menu_box h1{
    width: 66px;
    padding-left: 11px;
  }

  /* 內容 */
  .container{
    background-size: 80%;
  }

  /* 線上購物懸浮按鈕 */
  .online_wrap{
    width: 80px;
  }
}

/* load */
.overlay-wrapper .modal {
  z-index: 1080;
}

.overlay-wrapper > .overlay,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

@keyframes loading_turn {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.loading_turn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 71px;
  height: 71px;
  border: 4px solid #a09a95;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loading_turn 1s linear infinite;
  box-sizing: content-box;
}

@media screen and (max-width: 768px) {
  .loading_turn {
    width: 9.244791666vw;
    height: 9.244791666vw;
    border: 0.520833333vw solid #a09a95;
    border-top-color: transparent;
  }
}
