.news_card h2, .news_card_bottom a  {
  font-family: 'Noto Serif SC', serif;
}
/* 輪播banner */
.newslist_banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.newslist_banner_wrap {
  width: 100%;
}

.newslist_banner_item {
  width: 100%;
  padding-top: 49.109014675%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  float: left;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: none;
  transition: transform 0.6s ease-in-out;
  position: relative;
}

.newslist_banner_item.active {
  display: block;
}

.newslist_banner_item_1{
  background-image: url(../images/product/banner_ex.jpg);
}

.newslist_banner_item_2{
  background-image: url(../images/reserve/banner_ex.jpg);
}

.newslist_banner_item_3{
  background-image: url(../images/index/index_carousel_ex.jpg);
}

.newslist_carousel_indicators{
  width: 100%;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  bottom: 2%;
}

.newslist_carousel_indicators .item{
  width: 13px;
  height: 13px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #030303;
  display: inline-block;
  cursor: pointer;
}

.newslist_carousel_indicators .item.active{
  background-color: #9fa0a0;
}
.newslist_wrap {
  display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1500px;
  margin: 100px auto;
  width: 100%;
  padding: 0 20px;
}
.news_card_box {
	width: calc(100% / 2);
}
.news_card {
  margin: 0 20px 100px 20px;
	background: url(../images/index/welcome_in.jpg) center / cover no-repeat;
	padding: 20px 20px 30px 20px;
}
.news_card_img {
	position: relative;
	width: 100%;
	padding-top: 70%;
	overflow: hidden;
	background: center / cover no-repeat;
	margin: 0 0 3px 0;
	display: block;
}
.news_card h2 {
  letter-spacing: 3px;
	font-size: 36px;
	font-weight: 500;
	line-height: 56px;
	height: 108px;
	text-align: left;
	color: #555555;
  margin: 18px 0 8px 0;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.news_card p {
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 2px;
	text-align: left;
	color: #767676;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
.news_card_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% auto 2% auto;
}
.news_card_bottom a {
  letter-spacing: 3px;
  font-weight: 900;
  display: inline-block;
  padding: 2% 8%;
  color: #fff;
  background-color: #FFB2BE;
  box-shadow: 0px 2.5px 0px #e06f80;
  border-radius: 30px;
}
.news_card_bottom a:hover {
  background-color: #e77786;
  box-shadow: 0px 3px 0px #c93e50;
}

/* 頁數列表 */
.pagination {
	width: 100%;
	text-align: center;
  /* margin-bottom: 100px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagination li {
	display:inline;
	transition: background-color 0.5s linear;
  margin: 10px 5px;
}

.pagination li.active a {
  color: #fff;
	background-color: #6FACC7;
}

.pagination li a:hover:not(.active a) {
	background-color: #B3DCEF;
}
.pagination li a {
	padding: 5px 15px;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	color: #6FACC7;
	border-radius: 2px;
	border: solid 1px #54ABD3;
	transition: background-color .3s;
  display: inline-block;
}

@media (max-width: 1200px) {
  .news_card h2 {
    letter-spacing: 2px;
    font-size: 28px;
    line-height: 42px;
    height: 84px;
  }
}
@media (max-width: 768px) {
   /* banner */
  .newslist_banner_item{
    width: 100%;
    padding-top: 158.59375%;
  }

  .newslist_banner_item_1{
    background-image: url(../images/product/banner_ex_768.jpg);
  }
  .newslist_banner_item_2{
    background-image: url(../images/index/news_banner_ex_768.jpg);
  }
  .newslist_banner_item_3{
    background-image: url(../images/index/news_banner_ex_768.jpg);
  }
  .news_card_box {
		width: 100%;
	}
  .news_card {
    margin: 0 2.604167vw 13.020833vw 2.604167vw;
    padding: 2.604167vw 2.604167vw 3.90625vw 2.604167vw;
}
  .news_card h2 {
    letter-spacing: 0.260417vw;
    font-size: 4.6875vw;
    line-height: 5.989583vw;
    height: 11.979167vw;
  }
  .news_card p, .news_card_bottom a {
    font-size: 2.604167vw;
  }
}