.newsale_dm{
  width: 90%;
  max-width: 1400px;
  padding: 5% 0 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 768px){
  .newsale_dm{
    width: 92%;
  }
}

@media screen and (max-width: 596px){
  .newsale_dm{
    width: 100%;
    padding: 0;
  }
}
