/* banner */
.reserve_banner_wrap{
  width: 90%;
  max-width: 1518px;
  padding: 0 0 8% 0;
  margin: 5% auto 0 auto;
  position: relative;
}

.reserve_banner_contain{
  width: 100%;
  padding-top: 38.010540184%;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.5);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.reserve_banner_contain_1{
  background-image: url(../images/reserve/banner_ex.jpg);
}

/* 選擇免費護膚體驗 */
.reserve{
  width: 100%;
  padding: 0 0 8% 0;
  background: url(../images/reserve/skin_bg.png) top repeat-y;
  background-size: 100%;
}

.reserve_wrap{
  width: 90%;
  max-width: 1585px;
  padding: 5%;
  margin: 0 auto;
  border-radius: 38px;
  color: #040404;
  background-color: #fff;
}

.reserve_contain{
  width: 100%;
  text-align: center;
}

.reserve_title{
  font-size: 24px;
  font-weight: 700;
}

.reserve_title_word{
  padding: 2% 0;
}

.reserve_intro{
  width: 100%;
  padding: 7% 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.reserve_intro_box{
  width: 32%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: box-shadow 0.4s linear;
}

.reserve_intro_box.active{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s linear;
}

.reserve_intro_img{
  width: 40%;
  padding-top: 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.reserve_intro_img1{
  background-image: url(../images/reserve/reserve1.jpg);
}

.reserve_intro_img2{
  background-image: url(../images/reserve/reserve2.jpg);
}

.reserve_intro_img3{
  background-image: url(../images/reserve/reserve3.jpg);
}

.reserve_intro_img4{
  background-image: url(../images/reserve/reserve4.jpg);
}

.reserve_intro_img5{
  background-image: url(../images/reserve/reserve5.jpg);
}

.reserve_intro_img6{
  background-image: url(../images/reserve/reserve6.jpg);
}

.reserve_intro_word{
  width: 60%;
  padding-left: 4%;
  text-align: left;
}

.reserve_intro_word h2{
  padding-bottom: 2%;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
}

.reserve_intro_word p{
  line-height: 1.6;
}

.reserve_intro_btn_box{
  width: 48%;
  padding: 2% 0;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  border: 1px solid #040404;
  cursor: pointer;
  transition: background-color 0.3s linear,
              color 0.3s linear;
}

.reserve_intro_btn_box:hover,
.reserve_intro_box.active .reserve_intro_choose{
  background-color: #040404;
  color: #fff;
  transition: background-color 0.3s linear,
              color 0.3s linear;
}

.reserve_intro_btn_box input[type="radio"] {
  position: fixed;
  top: 50%;
  left: -9999px;
}

/* 選擇櫃點與日期 */
.reserve_form{
  width: 72%;
  max-width: 950px;
  margin: 8% auto;
}

.reserve_form_box{
  padding: 5% 0 0 0;
}

.reserve_form_box input[type="checkbox"] {
  position: fixed;
  top: 50%;
  left: -9999px;
}

.form_element{
  width: 100%;
  font-size: 16px;
  padding: 3% 0;
}

.form_element span{
  width: 80px;
  display: inline-block;
}

.reserve_select_flex{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.reserve_select_item{
  width: 48%;
}

.form_elememt_contain{
  width: calc(100% - 85px);
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #040404;
  background: none;
  outline: none;
}

.form_elememt_select{
  background: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../images/reserve/select_arrow.png) no-repeat 100% center;
  background-size: 16px;
}

/* 確認預約 */
.form_checkBox{
  padding: 7% 0 10% 0;
  margin-left: 34px;
}

input[type="checkbox"] + label {
    color: #040404;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.8;
    position: relative;
}

input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-left: -35px;
  vertical-align: middle;
  background: url(../images/reserve/check.png) left top no-repeat;
  background-size: 100%;
  cursor: pointer;
  position: absolute;
  top: -5px;
  left: 0;
}

input[type="checkbox"]:checked + label::before {
  background: url(../images/reserve/checked.png) left top no-repeat;
  background-size: 100%;
  top: -9px;
  left: 0;
}

.form_checkBox a{
  display: inline-block;
  color: #3aa6e6;
}

.form_checkBox a:hover{
  text-decoration: underline;
}

.form_submit{
  width: 100%;
  max-width: 500px;
  padding: 1% 2%;
  font-size: 18px;
  letter-spacing: 1px;
  background: transparent;
  background-color: #040404;
  border: 1px solid #040404;
	outline: none;
  color: #fff;
  border-radius: none;
  cursor: pointer;
  transition: color 0.3s linear,
              background-color 0.3s linear;
}

.form_submit:hover{
  background-color: #fff;
  color: #040404;
  border: 1px solid #040404;
  transition: color 0.3s linear,
              background-color 0.3s linear;
}

/* 內容介紹 popup */
.popup_box_reserve{
  width: 90%;
  max-width: 410px;
  margin: 0 auto;
}

.popup_img_reserve{
  width: 100%;
  padding-top: 100%;
  background: url(../images/reserve/reserve1.jpg) center no-repeat;
  background-size: cover;
}

.popup_box_reserve h1{
  font-size: 26px;
  font-weight: 700;
  padding: 3% 0;
}

/* 完成預約 popup */
.popup_wrap_complete{
  text-align: center;
}

.popup_complete_img{
  width: 80%;
  padding-bottom: 5%;
  /* margin: 0 5% 0 auto; */ /* 官網預設 */
  margin: 0 auto 0 8%; /* only for 2020 VIP預約活動 */
}

.popup_wrap_complete p {
  color: #194e93;
  font-size: 18px;
  line-height: 1.6;
}

@media screen and (max-width: 1760px){
  .reserve_intro_word h2{
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 1563px){
  .reserve_intro_word p{
    font-size: 1vw;
  }
}

@media screen and (max-width: 1015px){
  .reserve_intro{
    max-width: 950px;
    margin: 0 auto;
  }

  .reserve_intro_box{
    width: 50%;
    padding: 3%;
  }

  .reserve_intro_word h2{
    font-size: 1.7vw;
  }

  .reserve_intro_word p{
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 768px){
  /* banner */
  .reserve_banner_contain{
    padding-top: 135.455861071%;
  }

  .reserve_banner_contain_1 {
    background-image: url(../images/reserve/banner_ex_768.jpg);
  }

  /* 選擇一項免費護膚體驗 */
  .reserve{
    background-image: none;
  }

  .reserve_wrap{
    border-radius: 20px;
  }

  .reserve_intro_box{
    width: 48%;
    padding: 2% 1%;
  }

  .reserve_intro_word h2{
    font-size: 1.8vw;
  }

  .reserve_intro_word p {
    font-size: 1.7vw;
    line-height: 1.5;
  }

  /* 選擇櫃點與日期 */
  .reserve_form{
    width: 100%;
    max-width: 550px;
  }

  .reserve_select_item{
    width: 100%;
  }

  .reserve_select_item:nth-child(1){
    padding: 0 0 3% 0;
  }

  .reserve_select_item:nth-child(2){
    padding: 3% 0 0 0;
  }

  .form_elememt_select{
    background-size: 12px;
    background-position: 98% 50%;
  }

  /* 內容介紹popup */
  .popup_box_reserve{
    margin: 5% auto;
  }

  .popup_box_reserve h1{
    font-size: 20px;
  }

  /* 預約成功popup */
  .popup_wrap_complete p{
    font-size: 15px;
  }
}

@media screen and (max-width: 640px){
  /* 選擇一項免費付費體驗 */
  .reserve_wrap{
    padding: 5% 10%;
  }

  .reserve_intro_box{
    width: 100%;
    padding: 1% 1%;
    margin: 3% auto;
  }

  .reserve_title{
    font-size: 20px;
  }

  .reserve_intro_word p {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 596px){
  /* 選擇一項免費付費體驗 */
  .reserve_wrap{
    padding: 5% 3%;
  }

  .reserve_intro_word h2 {
    font-size: 4.1vw;
  }

  .reserve_intro_word p {
    font-size: 3.6vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 640px){
  .reserve_intro_word h2{
    font-size: 20px;
  }

  .reserve_intro_word p {
    font-size: 16px;
  }
}
