/* 202011好友分享頁 */
.wrap.share_202011{
  background: transparent;
}

.share_202011 .container_share{
  background: url(../images/share/bg.png) 50% / cover no-repeat;
  position: relative;
}

.share_202011 .title_share_box{
  z-index: 3;
  position: relative;
}

.share_202011 .title_share{
  width: 100%;
  max-width: 1250px;
  padding: 24% 0 2.5% 0;
}

.share_202011 .title_share img{
  margin: -2% auto 0 auto;
}

.share_girl{
  width: 29%;
  left: 88%;
  top: 101%;
}

.share_202011 .share_form_textarea .form_elememt_text{
  width: calc(95% - 140px);
}

.share_202011 .share_form_item_2 .form_elememt_text{
  width: calc(95% - 160px);
}

.share_202011 .share_privacy{
  background-color: #e58b64;
}

.share_202011 .share_privacy_contain h1,
.share_202011 .share_privacy_contain h2,
.share_202011 .share_privacy_contain p{
  color: #fff1cd;
}

.share_202011 .share_flower img{
  position: absolute;
}

.share_flower1{
  width: 16.119791666%;
  top: 32%;
  left: 0;
}

.share_flower2{
  width: 25.026041666%;
  right: 0;
  bottom: 0;
}

.layer_box > div{
  position: absolute;
}

.share_flower-layer1{
  width: 9.270833333%;
  bottom: 1%;
  left: 1%;
}

.share_flower-layer2{
  width: 12%;
  top: 3%;
  left: 32%;
}

.share_flower-layer3{
  width: 9.114583333%;
  top: 7.5%;
  right: 3.5%;
}

@media screen and (max-width: 768px){
  .share_202011 .share_form_textarea .form_elememt_text,
  .share_202011 .share_form_item .form_elememt_contain.input{
    font-size: 15px;
  }
}

@media screen and (max-width: 700px){
  .share_202011 .share_form_textarea .form_elememt_text{
    width: calc(95% - 100px);
  }

  .share_202011 .share_form_item_2 .form_elememt_text{
    width: calc(95% - 115px);
  }
}

@media screen and (max-width: 596px){
  .share_202011 .title_share{
    width: 88%;
  }
  
  .share_202011 .share_girl{
    width: 38%;
    position: absolute;
    left: 87%;
    top: 15%;
    transform: translate(0, 0) rotate(24deg);
  }

  .share_202011 .share_infor_area{
    margin-top: 26%;
  }

  .share_202011 .title_2{
    width: 80%;
  }

  .share_flower-layer1{
    width: 28%;
    bottom: -3%;
    left: 1%;
  }

  .share_flower-layer2{
    width: 21%;
    top: 4%;
    left: 37%;
  }
}
