/*suncreen animate*/

@-webkit-keyframes slideInUp2 {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInUp2 {
  0% {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInUp2 {
  -webkit-animation-name: slideInUp2;
  animation-name: slideInUp2;
}

@keyframes shine {
	from {
		opacity: 1.0;
	}

	50% {
		opacity: 0.4;
	}

	to {
		opacity: 1.0;
	}
}

.shine {
	animation-name: shine;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		opacity: 1
	}

	5% {
		-webkit-transform: scale3d(1.2, .7, 1);
		transform: scale3d(1.2, .7, 1);
		opacity: 1
	}

	10% {
		-webkit-transform: scale3d(.6, 1.2, 1);
		transform: scale3d(.6, 1.2, 1);
		opacity: 1
	}

	15% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		opacity: 1
	}

	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		opacity: 1
	}
}

.rubberBand {
	-webkit-animation: rubberBand 3s 1s linear infinite;
	animation: rubberBand 3s 1s linear infinite;
}

@-webkit-keyframes slideInLeft2 {
	0% {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		z-index: 0 !important;

	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		z-index: 0 !important;

	}
}

@keyframes slideInLeft2 {
	0% {
		-webkit-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		transform: translateX(-100px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		z-index: 0 !important;

	}
}

.slideInLeft2 {
	-webkit-animation-name: slideInLeft2;
	animation-name: slideInLeft2;
}

@-webkit-keyframes slideInRight2 {
	0% {
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes slideInRight2 {
	0% {
		-webkit-transform: translateX(100px);
		-ms-transform: translateX(100px);
		transform: translateX(100px);
		z-index: 0 !important;

	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		z-index: 0 !important;

	}
}

.slideInRight2 {
	-webkit-animation-name: slideInRight2;
	animation-name: slideInRight2;
}

@-webkit-keyframes slideOutLeft2 {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		z-index: 0 !important;
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		z-index: 0 !important;
	}
}

/*suncreen*/
body,
html {
	overflow-x: hidden !important;
}

.for_m {
	display: none !important;
}

.hide {
	height: 0;
	width: 0;
	opacity: 0;
	position: absolute;
	z-index: 0;
}

@media (max-width:768px) {
	.for_m {
		display: block !important;
	}

	.for_pc {
		display: none !important;
	}
}

.suncreen {
	width: 100%;
	position: relative;
	background-image: url(../images/suncreen/bg_05.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	overflow-x: hidden !important;
}

@media (max-width:768px) {
	.suncreen {
		background-image: url(../images/suncreen/bg_05_m.jpg);
	}
}

.suncreen div {
	background-repeat: no-repeat;
}

.suncreen_banner {
	width: 100%;
	height: 0;
	padding-bottom: 60.7%;
	position: relative;
	background-image: url(../images/suncreen/bg_01.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 6.5%;
}

.suncreen_title {
	width: 40.93%;
	height: 0;
	padding-bottom: 20%;
	position: relative;
	display: block;
    opacity: 0;
	margin-left: 16%;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.suncreen_title > h1 {
	width: 100%;
	padding-bottom: 41%;
	overflow: hidden;
	font-size: 0;
	text-indent: -999px;
	background-repeat: no-repeat;
	background-image: url(../images/suncreen/kv_word.png);
	background-size: 100%;
}

.suncreen_title > span {
    opacity: 0;
	display: block;
	overflow: hidden;
	font-size: 0;
	text-indent: -999px;
	width: 100%;
	height: 0;
	background-image: url(../images/suncreen/sp.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 10%;
	margin-top: 1%;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.suncreen_title > img {
	position: absolute;
}

.light_01 {
	width: 24%;
	top: 0;
	left: -4.4%;
}

.light_02 {
	width: 25%;
	bottom: -4%;
	right: -9%;
	animation-delay: 0.2s;
}

.light_03 {
	position: absolute;
	width: 20%;
	right: 9%;
	top: 0%;
}

.plan_a {
	width: 100%;
	height: 0;
	padding-bottom: 10%;
	margin-top: 30.1%;
	position: relative;
}

.product_01 {
	width: 51%;
	height: 0;
	padding-bottom: 40%;
	overflow: visible;
	position: absolute;
	z-index: 2;
	top: -200%;
}

.suncreen_bottle {
	position: relative;
	width: 100%;
	left: 0;
	margin-top: -37%;
	z-index: 2;
}

.talk_box_01 {
	position: absolute;
	width: 35%;
	top: 0%;
	left: 64%;
	z-index: 3;
}

.light_04 {
	position: absolute;
	z-index: 4;
	top: 47%;
	right: 12%;
	width: 58%;
}

.slogan_01 {
	width: 72%;
	position: absolute;
	right: 0;
	z-index: 0 !important;
}

@media (max-width:768px) {
	.suncreen_banner {
		padding-bottom: 240%;
		background-image: url(../images/suncreen/bg_01_m.jpg);
		padding-top: 9%;
	}

	.suncreen_title {
		width: 41%;
		padding-bottom: 38%;
		margin-left: 6%;
	}

	.suncreen_title > h1 {
		padding-bottom: 80%;
		background-image: url(../images/suncreen/kv_word_m.png);
	}

	.suncreen_title > span {
		background-image: url(../images/suncreen/sp_m.png);
		background-size: 100%;
		background-repeat: no-repeat;
		padding-bottom: 30%;
		margin-top: 1%;
		margin-left: 6%;
	}

	.light_01 {
		width: 30%;
		top: -5%;
		left: -8%;
	}

	.light_02 {
		width: 30%;
		bottom: 5%;
		right: -10%;
	}

	.light_03 {
		width: 40%;
		right: -12%;
		top: 0%;
	}

	.plan_a {
		width: 130%;
		margin-top: 130%;
		margin-left: -13%;
	}

	.product_01 {
		width: 100%;
		top: -290%;
		z-index: 0;
	}

	.talk_box_01 {
		width: 35%;
		top: 9%;
		left: 49.5%;
	}

	.light_04 {
		z-index: 4;
		top: 50%;
	}

	.slogan_01 {
		width: 77.5%;
		right: 0;
		left: 10%;
		top: 570%;
		z-index: 3;
	}

}

/*商品介紹*/

.product_list {
	width: 100%;
	height: 0;
	background-image: url(../images/suncreen/bg_02.jpg);
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 0;
	padding-top: 11%;
	padding-bottom: 90%;
	box-sizing: border-box;
}

.product_list div {
	display: inline-block;
	vertical-align: top;
}

.suncreen_01 {
	width: 22.6%;
	position: relative;
}

.bb_cream {
	width: 100%;
}

.texture_01 {
	width: 35%;
	position: absolute;
	z-index: 4;
	top: 6%;
	right: -15%;
}

.suncreen_02 {
	width: 22.8%;
	position: relative;
	margin: -3% 10% 0 10%;
}

.product_02 {
	width: 100%;
}

.texture_02 {
	width: 35%;
	position: absolute;
	z-index: 2;
	top: 20%;
	right: -12%;
}

.suncreen_03 {
	width: 21.6%;
	position: relative;
	margin-top: -8%;
}

.texture_03 {
	position: absolute;
	width: 37.5%;
	top: 12%;
	right: -17%;
}

.plan_b {
	width: 100%;
	position: relative;
	margin-bottom: 18%;
}

.talk_02 {
	position: absolute;
	width: 16%;
	right: 4%;
	top: -8%;
}

.slogan_b {
	width: 71%;
	margin-top: 5%;
}

.text_b_word {
	width: 38%;
	margin-left: 15%;
	margin-top: 5%;
}

.texture_04 {
	position: absolute;
	width: 13%;
	bottom: -40%;
	right: 40%;
}

.product_04 {
	width: 38%;
	position: absolute;
	bottom: -61%;
	right: 12%;
}

/*商品介紹*/

.product_list {
	width: 100%;
	height: 0;
	background-image: url(../images/suncreen/bg_02.jpg);
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 0;
	padding-top: 11%;
	padding-bottom: 90%;
	box-sizing: border-box;
}

.product_list div {
	display: inline-block;
	vertical-align: top;
}

.suncreen_01 {
	width: 22.6%;
	position: relative;
}

.bb_cream {
	width: 100%;
}

.texture_01 {
	width: 35%;
	position: absolute;
	z-index: 4;
	top: 6%;
	right: -15%;
}

.suncreen_02 {
	width: 22.8%;
	position: relative;
	margin: -3% 10% 0 10%;
}

.product_02 {
	width: 100%;
}

.texture_02 {
	width: 35%;
	position: absolute;
	z-index: 2;
	top: 20%;
	right: -12%;
}

.suncreen_03 {
	width: 21.6%;
	position: relative;
	margin-top: -8%;
}

.texture_03 {
	position: absolute;
	width: 37.5%;
	top: 12%;
	right: -17%;
}

.plan_b {
	width: 100%;
	position: relative;
	margin-bottom: 18%;
}

.talk_02 {
	position: absolute;
	width: 16%;
	right: 4%;
	top: -8%;
}

.slogan_b {
	width: 71%;
	margin-top: 5%;
}

.text_b_word {
	width: 38%;
	margin-left: 15%;
	margin-top: 5%;
}

.texture_04 {
	position: absolute;
	width: 13%;
	bottom: -40%;
	right: 40%;
}

.product_04 {
	width: 38%;
	position: absolute;
	bottom: -61%;
	right: 12%;
}

@media (max-width:768px) {
	.product_list {
		background-image: url(../images/suncreen/bg_02_m.jpg);
		padding-top: 25%;
		padding-bottom: 595%;
	}

	.suncreen_01 {
		width: 100%;
		position: relative;
	}

	.texture_01 {
		width: 18%;
		z-index: 4;
		top: 15%;
		right: 14%;
	}

	.suncreen_02 {
		width: 100%;
		margin: 8% 0;
	}

	.texture_02 {
		width: 18%;
		top: 20%;
		right: 12%;
	}

	.suncreen_03 {
		width: 100%;
		position: relative;
		margin-top: 0%;
	}

	.texture_03 {
		position: absolute;
		width: 18%;
		top: 16%;
		right: 13%;
	}

	.plan_b {
		width: 100%;
		position: relative;
		margin-bottom: 0;
		margin-top: 18%;
	}

	.talk_02 {
		position: absolute;
		width: 42%;
		right: 2%;
		margin-top: 68%;
	}

	.slogan_b {
		width: 100%;
		margin-top: 88%;
		position: absolute;
		z-index: 2;

	}

	.text_b_word {
		width: 100%;
		margin-left: 0%;
		margin-top: 120%;
		position: absolute;
	}

	.texture_04 {
		position: absolute;
		width: 35%;
		bottom: auto;
		right: 3%;
		margin-top: 130%
	}

	.product_04 {
		width: 100%;
		bottom: auto;
		top: 40%;
		right: 6%;
	}

}

/*plan_c*/
.plan_c {
	width: 100%;
	position: relative;
	background-image: url(../images/suncreen/bg_03.jpg);
	background-position: top center;
	background-size: 100%;
	margin-top: -0.1%;
	height: 0;
	padding-bottom: 86%;

}

.talk_03 {
	position: absolute;
	width: 16%;
	z-index: 2;
	left: 8%;
	top: -1.5%;
}

.product_05 {
	width: 57.23%;
	position: absolute;
	top: -22%;
	left: 0%;
	z-index: 1;
}

.slogan_c {
	width: 72.44%;
	position: absolute;
	right: 0;
	top: 6.1%;
	z-index: 0;
}

.product_c_list {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 0;
}

.product_07 {
	width: 40%;
	position: absolute;
	margin-top: 31%;
	left: 14%;

}

.texture_08 {
	width: 30%;
	position: absolute;
	top: 10%;
	left: 43%;
}

.product_08 {
	width: 38.28%;
	position: absolute;
	z-index: 3;
	right: 8%;
	margin-top: 20%;
}

.howuse {
	width: 26%;
	position: absolute;
	right: 10%;
	margin-top: 56.7%;
}

@media (max-width:768px) {
	.plan_c {
		background-image: url(../images/suncreen/bg_03_m.jpg);
		background-position: top center;
		padding-bottom: 465%;
	}

	.talk_03 {
		position: absolute;
		width: 45%;
		z-index: 2;
		left: 5%;
		top: 10%;
	}

	.product_05 {
		width: 100%;
		top: -6%;
		left: 0%;
	}

	.slogan_c {
		width: 100%;
		right: 0;
		top: 16%;
	}

	.product_07 {
		width: 100%;
		margin-top: 108%;
		left: 0%;
	}

	.texture_08 {
		width: 20%;
		top: 10%;
		left: 66%;
	}

	.product_08 {
		width: 100%;
		position: absolute;
		z-index: 3;
		right: 0%;
		margin-top: 250%;
	}

	.howuse {
		width: 100%;
		right: 0%;
		margin-top: 375%;
	}

}

/*免費體驗*/
.suncreen_form {
	width: 100%;
	background-image: url(../images/suncreen/bg_05.jpg);
	background-size: 100%;
	background-repeat: repeat-y;
	text-align: center;
}

.suncreen_title_02 {
	width: 47.7%;
	margin: 0 auto;
}

.form_word {
	width: 43.9%;
	text-align: left;
	margin: 4.5% auto;
}

.form_text {
	width: 68.9%;
	vertical-align: text-top;
	display: inline-block;
}

.btn_shop {
	display: inline-block;
	width: 19.6%;
	filter: brightness(1.0);
	transition: 0.5s;
	float: right;
	vertical-align: text-bottom;
	margin-top: -1.8%;
}

.btn_shop:hover {
	filter: brightness(1.1);
}

.btn_shop img {
	width: 100%;
}

.suncreen_form_box {
	width: 43.9%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.suncreen_form_box ul li {
	margin-bottom: 5%;
	text-align: left;
	position: relative;
}

.suncreen_form_box ul li:last-child {
	margin-top: 7%;
}

.suncreen_form_box ul li img,
.suncreen_form_box ul li input,
.suncreen_form_box ul li select {
	display: inline-block;
	vertical-align: middle;
}

.suncreen_btn_enter {
	width: 21.4%;
	margin: 8% auto;
}

.suncreen_btn_enter:hover {
	filter: brightness(1.1);
}

.suncreen_form_box input,
.suncreen_form_box button,
.suncreen_form_box textarea,
.suncreen_form_box select,
.suncreen_form_box option {
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: none;
	border: 0;
	border-radius: 100em;
	background-color: transparent;
	color: #000;
	letter-spacing: 1px;
	background-color: #fff;
	font-size: 1.2vw;
	box-sizing: border-box;
	padding: 2% 4% 1.5% 4%;
	width: 87%;
	font-family: 'Helvetica', '微軟正黑體', 'Noto Sans TC', 'Microsoft JhengHei', 'sans-serif', serif;
}

.suncreen_form_box select,
.suncreen_form_box option {
	width: 75%;
	position: absolute;
	right: 2%;
	top: 50%;
	transform: translateY(-50%);
}

.suncreen_form_box input[type="button"],
.suncreen_form_box input[type="submit"],
.suncreen_form_box input[type="reset"] {
	-webkit-appearance: none;
}

.suncreen_form_box textarea {
	-webkit-appearance: none;
}

.suncreen_form_box textarea:focus,
.suncreen_form_box input:focus {
	outline: none;
}

.suncreen_form_box * {
	outline: none;
}

.suncreen_form_box select::-ms-expand {
	display: none;
}

.suncreen_form_box select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("../images/suncreen/arrow.png") no-repeat scroll 95% center transparent;
	background-size: auto 30%;
	border: 0;
	border-radius: 100em;
	background-color: transparent;
	color: #666;
	padding-left: 4%;
	background-color: #fff;
}

.suncreen_form_box option::-ms-expand {
	display: none;
}

.suncreen_form_box option {
	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari 和 Chrome */
	appearance: none;
	background-color: #fff;
	color: #000;
	letter-spacing: 1px;

}

.suncreen_form_box ::-webkit-input-placeholder {
	/* Edge */
	color: #666;
}

.suncreen_form_box :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #666;
}

.suncreen_form_box ::placeholder {
	color: #666;
}

.suncreen_form_box input:focus::-webkit-input-placeholder {
	color: #000;
}

.suncreen_form_box input:focus:-moz-placeholder {
	color: #000;
}

.suncreen_form_box input:focus:-ms-input-placeholder {
	color: #000;
}

.item_01 {
	width: 7.5%;
	margin-right: 3%;
}

.item_02 {
	width: 19.5%;
}

.suncreen_form_box input[type=checkbox] {
	transform: scale(5);
	position: absolute;
	z-index: 2;
	opacity: 0;
	top: 0;
}

.suncreen_form_box .c-ct {
	width: 100%;
}

.suncreen_form_box .custom-checkbox {
	width: 100%;
	margin-top: 10%;
	position: relative;
}


.suncreen_form_box .checkmark {
	position: absolute;
	display: block;
	width: 2.1%;
	height: 0;
	padding-bottom: 2.8%;
	z-index: 1;
	background-image: url(../images/suncreen/checkbox.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom center;
	left: 0;
	top: 0;
}

.suncreen_form_box .checkmark.active {
	background-image: url(../images/suncreen/checkbox_after.png);
}


.check_content {
	display: block;
	width: 94%;
	height: 0;
	padding-bottom: 6.9%;
	margin-left: 4%;
	margin-top: 0.5%;
	background-size: 100%;
	cursor: pointer;
	background-image: url(../images/suncreen/checkbox_word.png);
	background-position: top;
	z-index: 5;
	position: relative;
}

.check_content:hover {
	background-image: url(../images/suncreen/checkbox_word_hover.png);
}

.check_content a {
	position: absolute;
	display: block;
	font-size: 0;
	width: 20%;
	height: 0;
	padding-bottom: 4%;
	top: -6%;
	left: 8%;
}

.ch_01,
.ch_02,
.ch_03,
.ch_04 {
	position: absolute;
}

.ch_01 {
	width: 30%;
	top: 0;
	left: -40%;
}

.ch_02 {
	width: 23%;
	right: -40%;
	top: -16%;
}

.ch_03 {
	width: 11.9%;
	top: 70%;
	left: -22%;
}

.ch_04 {
	width: 24.9%;
	top: 80%;
	right: -35%;

}

@media (max-width:768px) {
	.suncreen_form {
		background-image: url(../images/suncreen/bg_05_m.jpg);
		padding-top: 4%;
	}

	.suncreen_title_02 {
		width: 100%;
		margin: 0 auto;
	}

	.form_word {
		width: 90%;
		margin: 12% auto;
	}

	.form_text {
		width: 62%;
	}

	.btn_shop {
		width: 17%;
		margin-top: -12%;
	}

	.suncreen_form_box {
		width: 88%;
	}

	.suncreen_form_box ul li {
		margin-bottom: 12%;
	}

	.suncreen_form_box ul li:last-child {
		margin-top: 8%;
	}

	.suncreen_btn_enter {
		width: 30%;
		margin: 8% auto;
	}

	.suncreen_btn_enter:hover {
		filter: brightness(1.1);
	}

	.suncreen_form_box input,
	.suncreen_form_box button,
	.suncreen_form_box textarea,
	.suncreen_form_box select,
	.suncreen_form_box option {
		padding: 3% 4% 2.5% 4%;
		width: 85%;
		position: absolute;
		right: 0;
		top: -50%;
		font-size: 14px;
	}

	.suncreen_form_box select,
	.suncreen_form_box option {
		width: 70%;
		position: absolute;
		right: 0%;
		top: 50%;
		transform: translateY(-50%);
		font-size: 14px;
	}

	.suncreen_form_box option::-ms-expand {
		display: none;
	}

	.item_01 {
		width: 9.6%;
		margin-right: 3%;
	}

	.item_02 {
		width: 24.6%;
	}

	.suncreen_form_box .custom-checkbox {
		width: 100%;
		margin-top: 10%;
		position: relative;
	}

	.suncreen_form_box .checkmark {
		position: absolute;
		display: block;
		width: 4%;
		height: 0;
		padding-bottom: 4%;
	}

	.check_content {
		width: 93%;
		padding-bottom: 18%;
		margin-left: 7%;
		background-image: url(../images/suncreen/check_content_m.png);
	}

	.check_content:hover {
		background-image: url(../images/suncreen/check_content_m_hover.png);
	}

	.check_content a {
		width: 35%;
		padding-bottom: 5%;
		top: -6%;
		left: 10%;
	}

	.ch_01 {
		width: 21%;
		top: -53%;
		left: -1%;
	}

	.ch_02 {
		width: 12%;
		top: 60%;
		left: 15%;
	}

	.ch_03 {
		width: 29%;
		top: 64%;
		left: 70%;
	}

}

/*建議搭配*/
.suncreen_product_suggest {
	text-align: center;
	background-image: url(../images/suncreen/bg_04.jpg);
	padding-top: 0%;
	background-position: bottom center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.suncreen_product_suggest .suncreen_suggest_title {
	width: 21%;
	margin: 0 auto -3% auto;
	padding-top: 8%;
}

.suncreen_suggest_img_1 {
	background-image: url(../images/suncreen/shop_01.png);
	background-size: 38%;
	background-position: bottom;
}

.suncreen_suggest_img_2 {
	background-image: url(../images/suncreen/shop_02.png);
	background-size: 35%;
	background-position: bottom;
}

.suncreen_suggest_img_3 {
	background-image: url(../images/suncreen/shop_03.png);
	background-position: bottom;
	background-size: 44%;
}

.suncreen_suggest_img_4 {
	background-image: url(../images/suncreen/shop_04.png);
	background-position: bottom;
	background-size: 60%;
}

.suncreen_suggest_img_5 {
	background-image: url(../images/suncreen/shop_05.png);
	background-position: bottom;
	background-size: 48%;
}

.suncreen_suggest_img_6 {
	background-image: url(../images/suncreen/shop_06.png);
	background-position: bottom;
	background-size: 30%;
}


@media (max-width:768px) {
	.suncreen_product_suggest {
		background-image: url(../images/suncreen/bg_04_m.jpg);
	}

	.suncreen_product_suggest .suncreen_suggest_title {
		width: 52%;
		margin: 2% auto -4% auto;
		padding-top: 8%;
	}

	.suncreen_suggest_img_2 {
		margin-top: -35%;
	}

	.suncreen_suggest_img_3 {
		background-size: 55%;
		margin-top: -55%;
	}

	.suncreen_suggest_img_4 {
		background-size: 65%;
		margin-top: -55%;
	}

	.suncreen_suggest_img_5 {
		background-size: 68%;
		margin-top: -55%;
	}

	.suncreen_suggest_img_6 {
		background-size: 24%;
		margin-top: -33%;
	}
}

.suncreen_popup .popup_wrap {
	border: 5px solid #f6ad3c;
}


.suncreen_popup {
	background-color: rgba(255, 230, 130, 0.5);

}
