*, body, html, div, ul, li, img {
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft JhengHei", "Apple LiGothic Medium", "PMingLiU", "sans-serif", "serif";
}

*, body, html{
  margin: 0 auto;
}

html {
  height: 100%;
}

html, body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 消除 li 之間的空白 */
/* ul {
  letter-spacing: -8px;
}

li {
  letter-spacing: normal;
} */

img {
  max-width: 100%;
  font-size: 0;
  display: block;
}

a, img {
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

/* menu */
.btn_menu {
	display: none;
}

header {
	display: block;
	width: 100%;
	background-color: #fff;
	font-weight: bold;
	padding: 1.5% 0 1.5% 8%;
	font-size: 1vw;
	position: fixed;
	top: 0;
	z-index: 20;
}

header > a {
	margin-right: 4vw;
	width: 9%;
}

header ul li a:hover {
	color: #aa9a6f;
}

header > a > img {
	width: 100%;
}

header a,
header ul,
header ul li {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Noto Serif TC', sans-serif !important;
	font-weight: 600;
}

header ul li {
	margin-right: 4vw;
	letter-spacing: 0.1vw;
}

header ul li:nth-last-child(1) {
	margin-right: 0vw;
}

@media (max-width:1100px) {
	header {
		padding: 1.5% 0 1.5% 10%;
	}

	header ul{
		width: 120%;
		transform: scale(0.9) translateY(-51%);
		position: absolute;
		left: 17%;
		top: 50%;

	}

	header ul li {
		margin-right: 3vw;
		float: left;
	}
}

@media (max-width:900px) {
	header {
		padding: 1.5% 0 1.5% 6%;
	}
	header ul{
		transform: scale(0.88) translateY(-52%);
		position: absolute;
		left:12%;
		top: 50%;
	}
}

@media (max-width:768px) {
	.btn_menu {
		display: block;
		position: absolute;
		width: 5%;
		height: 0;
		padding-bottom: 10%;
		top: 2.8vw;
		right: 2%;
		cursor: pointer;
	}

	.btn_menu div {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #000;
		margin-bottom: 30%;
		transition: all 0.5s ease;
	}

	.btn_menu.click div {
		position: absolute;
		top: 25%;
	}

	.btn_menu.click div:nth-child(1) {
		transform: rotate(45deg);
	}

	.btn_menu.click div:nth-child(2) {
		transform: scale(0);
	}

	.btn_menu.click div:nth-child(3) {
		transform: rotate(-45deg);
	}

	header {
		width: 100%;
		min-height: 10vw;
		padding: 1.5% 5%;
		font-size: 14px;
		position: fixed;
		transition: all 0.5s ease;
	}

	header > a {
		margin-right: 0;
		width: 20%;
	}

	header ul,
	header ul li {
		display: block;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		box-sizing: border-box;
		margin-top: 0;
		transition: all 0.8s ease;
		position: relative;
	}

	header ul{
		transform: scale(1);
		left: auto;
		top: auto;
		position: relative;
	}

	header ul li {
		width: 100%;
		padding: 2% 3%;
		margin-right: 0;
	}

	header ul {
		margin-top: -150%;
	}

	header ul.click {
		margin-top: 0;
	}
}

.logo{
  width: 30%;
  max-width: 80px;
  margin-left: 0;
  display: block;
}

/* 顯示和隱藏 */
.for_pc {
  display: block;
}

.for_phone{
  display: none !important;
}

/* loading */
.overlay-wrapper .modal {
  z-index: 1080;
}

.overlay-wrapper > .overlay,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.loading_turn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 71px;
  height: 71px;
  border: 4px solid #a09a95;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loading_turn 1s linear infinite;
  box-sizing: content-box;
}

@keyframes loading_turn {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* 警告彈窗 */
.modal-dialog .modal-content {
  border: 4px solid #b0a271;
  border-radius: 0;
}

.modal-content .modal-header {
  border-bottom: none;
  background-color: #b0a271 !important;
  color: #fff;
  margin: 0;
  flex-direction: column;
  border-radius: 0;
}

.modal-content .modal-body {
  width: 100%;
  padding: 2rem 1rem;
}

.modal-content .modal-body p {
  line-height: 1.8;
  margin-bottom: 0;
}

.modal-content .modal-body a {
  color: #B0A271;
  text-decoration: underline;
}

.modal-content .modal-footer {
  border: none;
  justify-content: center;
}

.modal-footer .btn_enter {
  padding: 4px 17px;
  color: #B0A271;
  background-color: #fff;
  border: #B0A271 1px solid;
  outline: 0;
}

.modal-footer .btn_enter:hover, .modal-footer .btn_enter:active, .modal-footer .btn_enter:focus,.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  padding: 4px 17px;
  color: #fff;
  background-color: #B0A271;
  border: #B0A271 1px solid;
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px){
  /* 顯示和隱藏 */
  .for_pc{
    display: none !important;
  }

  .for_phone{
    display: block !important;
  }

  /* loading */
  .loading_turn {
    width: 9.244791666vw;
    height: 9.244791666vw;
    border: 0.520833333vw solid #a09a95;
    border-top-color: transparent;
  }
}