
@keyframes scaleBg {
    0% {
        transform: scale(1.0);
    }

    90% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.1);
    }
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes swing {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.swing {
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation-name: swing;
    animation-name: swing;
}

@-webkit-keyframes turn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes turn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes updown {
    0% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(-5%);
    }
}

@keyframes updown {
    0% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(-5%);
    }
}

.updown {
    animation-name: updown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes float-left {
    0% {
        transform: translate(0, 0px) rotate(0deg);
    }

    50% {
        transform: translate(0, 12px) rotate(-3deg);
    }

    100% {
        transform: translate(0, -0px) rotate(0deg);
    }
}

.float-left {
    animation-name: float-left;
    animation-iteration-count: infinite;
}

@keyframes shine {
    0% {
        opacity: 1.0;
        transform: translate(0, 0px);
    }

    50% {
        opacity: 0.6;
        transform: translate(0, -0.5%);
    }

    100% {
        opacity: 1.0;
        transform: translate(0, 0px);
    }
}

.shine {
    animation-name: shine;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}

@-webkit-keyframes a {
    0% {
        left: -100%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 150%;
        opacity: 0
    }

    to {
        left: 150%;
        opacity: 0
    }
}

@keyframes a {
    0% {
        left: -100%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 150%;
        opacity: 0
    }

    to {
        left: 150%;
        opacity: 0
    }
}
