@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
b {
    font-weight: normal;
    font-style: normal;
}

ol,
ul,
li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
}

a {
    text-decoration: none;
    border: 0;
}

* {
    outline: none;
}

section {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.for_m {
    display: none;
}

div {
    transform: translateZ(0);
}

@media (max-width:768px) {
    .for_pc {
        display: none;
    }

    .for_m {
        display: block;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-size: 14px;
    /* background-color: #fff1e6;*/
}

body {
    line-height: 1.5;
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif !important;
    font-size: 16px;
}

.btn_line {
    background-image: url(../img/line.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.btn_line:hover {
    background-image: url(../img/line_hover.png);
    transition: 0.3s;
}

.btn_tel {
    background-image: url(../img/btn_tel.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.btn_tel:hover {
    background-image: url(../img/btn_tel_hover.png);
    transition: 0.3s;
}

/*menu*/
.menu {
    position: fixed;
    background-color: #cb997e;
    width: 100%;
    height: 100vh;
    left: 0;
    top: -200%;
    z-index: 100;
    opacity: 0;
    transition: all 0.8s ease;
}

.menu.click {
    opacity: 1.0;
    top: 0;
}

.btn_close {
    position: absolute;
    width: 2%;
    display: block;
    top: 2vw;
    right: 2%;
}

.btn_close img {
    width: 100%;
}

.menu > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu_left {
    width: 28.6%;
    margin-right: 20%;
    left: 13%;
}

.menu_left img {
    width: 100%;
}

.menu_right {
    width: 34%;
    right: 13%;
}

.menu_right ul li,
.menu_right ul li img {
    width: 100%;
    filter: brightness(1.0);
    transition: 0.2s;
}

.menu_right ul li img:hover {
    filter: brightness(0.2);
}

.menu_right ul li {
    margin-bottom: 3vw;
}

.menu_right ul li a {
    display: block;
}

.menu_left.for_pc .btn_line {
    position: absolute;
    width: 15%;
    padding-bottom: 15%;
    top: 68%;
    right: 0;
}

.menu_left.for_pc .btn_tel {
    position: absolute;
    width: 15%;
    padding-bottom: 15%;
    top: 68%;
    right: 20%;
}

@media (max-width:768px) {

    .menu_left img {
        width: 100%;
    }

    div.menu_right {
        width: 74%;
        right: auto;
        left: 14%;
        top: 52%;
    }

    .menu_right ul li {
        margin-bottom: 04vw;
        padding: 3% 0;
    }


    div.menu_right > img {
        width: 70%;
        padding-top: 9%;
    }

    .btn_close {
        width: 4%;
        right: 0;
        top: 0;
        padding: 4% 5% 0 0;
    }

    div.menu_right .btn_line {
        position: absolute;
        width: 11%;
        padding-bottom: 15%;
        top: 87%;
        left: 84%;
    }

    div.menu_right .btn_tel {
        position: absolute;
        width: 11%;
        padding-bottom: 15%;
        top: 87%;
        left: 67%;
    }
}

.wrapper {
    width: 100%;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    background-color: #fff1e6;
    position: relative;
}

/*kv*/
.kv_banner {
    position: relative;
    z-index: 1;
}

.kv_banner > h1 {
    display: block;
    position: absolute;
}

.btn_menu {
    position: fixed;
    z-index: 2;
}

.scroll_outer {
    position: absolute;
    z-index: 2;
    width: 0.5%;
    left: 5%;
    top: 70%
}

.scroll_outer i {
    display: inline-block;
    background-color: #fff;
    width: 1px;
    height: 0;
    padding-bottom: 1000%;
    vertical-align: middle;
    margin-left: calc(50% - 0.5px);
    animation: scroll_line 3.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite
}

.scroll {
    width: 100%;
    margin-top: 10px;
}

@keyframes scroll_line {
    0% {
        transform: scaleY(0);
        transform-origin: top center;
    }

    49% {
        transform: scaleY(1);
        transform-origin: top center;
    }

    50% {
        transform: scaleY(1);
        transform-origin: bottom center;
    }

    100% {
        transform: scaleY(0);
        transform-origin: bottom center;
    }

}

.btn_menu {
    top: 0;
    right: 2%;
    width: 6%;
}

.btn_menu img {
    width: 100%;
}

.kv_bg {
    width: 100%;
    animation: scaleBg;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    position: relative;
    z-index: 1;
}

.logo {
    width: 36%;
    height: 0;
    padding-bottom: 6.3%;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 1000px;
    background-size: 100%;
    left: 32%;
    top: 50%;
    margin-top: -3.15%;
    z-index: 2;
    animation: logoeffect;
    animation-duration: 1.7s;
}

@keyframes logoeffect {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    20% {
        opacity: 0;
        transform: scale(1.1);
    }

    50% {
        opacity: 1.0;
        transform: scale(1.0);
    }

    100% {
        opacity: 1.0;
        transform: scale(1.0);
    }
}

@media (max-width:768px) {

    .scroll_outer {
        width: 1.5%;
        left: 5%;
        top: 66%
    }

    .btn_menu {
        width: 10%;
    }

    .logo {
        width: 44%;
        height: 0;
        padding-bottom: 30%;
        background-image: url(../img/kv_logo_m.png);
        left: 29%;
        top: 50%;
        margin-top: -22%;
        z-index: 2;
    }
}

/*咖啡機租賃*/
.lease_wrap {
    z-index: 3;
    background-image: url(../img/bg_01.jpg);
    background-size: cover;
    padding-bottom: 4%;
    margin-top: -2%;
}

.lease_wrap .title {
    width: 11.5%;
    margin-left: 18.4%;
    padding-top: 4.5%;
}

.lease_wrap a {
    display: inline-block;
    border: 1px solid #cb997e;
    color: #cb997e;
    background-color: #fff;
    padding: 0.3% 5%;
    border-radius: 100em;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    right: 0;
}

.lease_wrap a:hover {
    background-color: #cb997e;
    color: #fff;
}

.lease_wrap > div {
    width: 81.6%;
    margin: 5% 0 4% 18.4%;
    position: relative;
}

.lease_wrap > div:first-child {
    margin-top: 10%;
}

.lease_wrap > div > img {
    width: 34%;
    display: inline-block;
    vertical-align: top;
}

.lease_word {
    display: inline-block;
    width: 44%;
    margin-top: 2%;
}

.lease_word > span {
    color: #a5a58d;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2vw;
    margin-top: -1%;
    display: block;
    line-height: 1.8;
}

.lease_word > p {
    color: #959595;
    font-size: 1vw;
    font-weight: 400;
    padding-top: 3%;
    line-height: 2;
    letter-spacing: 0.1vw;
}

.price {
    display: block;
    width: 100%;
    border-top: 1.2px solid #cb997e;
    margin-top: 24%;
    padding-top: 3%;
    position: relative;
}

.price span {
    vertical-align: bottom;
    letter-spacing: 0.1vw;
    font-size: 1vw;
    height: 3vw;
    display: inline-block;
    line-height: 3vw;
}

.price span:nth-child(1) {
    color: #959595;
    margin-right: 2vw;
    margin-top:
}

.price span:nth-child(2),
.price span:nth-child(3) {
    font-weight: 500;
    color: #cb997e;
}

.price span:nth-child(2) {
    font-size: 2vw;
    display: inline-block;
    padding-bottom: 0.15em;
}


.lease_wrap > div:nth-child(odd) .lease_word {
    margin-left: 5%;
}

.lease_wrap > div:nth-child(even) .lease_word {
    margin-left: 0;
    margin-right: 5%;
}


@media(max-width:1024px) {
    .lease_word > p > br {
        display: none;
    }
}

@media (max-width:768px) {
    .lease_wrap {
        z-index: 3;
        background-image: url(../img/bg_01.jpg);
        background-size: cover;
        padding-bottom: 14%;
        margin-top: -2%;
    }

    .lease_wrap a {
        padding: 0.2% 5%;
        font-size: 14px;
    }

    .lease_wrap .title {
        width: 22%;
        margin-left: 7%;
        padding-top: 5%;
    }

    .lease_wrap > div {
        width: 84%;
        margin: 0 auto;
    }

    .lease_wrap > div > img {
        width: 50%;
        display: block;
        margin: 10% auto;
    }

    .lease_word {
        width: 92%;
    }

    .lease_word > span {
        font-size: 6vw;
        line-height: 1.5;
    }

    .lease_word > p {
        font-size: 14px;
        text-align: justify;
        line-height: 1.8;
    }

    .lease_wrap > div:nth-child(odd) .lease_word {
        margin-left: 4%;
    }

    .lease_wrap > div:nth-child(even) .lease_word {
        margin-left: 4%;
        margin-top: 85%;
    }

    .lease_wrap > div:nth-child(even) img {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
    }

    .price {
        margin-top: 5%;
        padding-top: 4%;
    }

    .price span {
        font-size: 2.5vw;
        margin-top: 0%;
    }

    .price span:nth-child(2) {
        font-size: 4vw;
        margin-bottom: 0;
    }
}

/*咖啡機型號*/
.product_wrap .title {
    width: 32.7%;
    margin-left: 18.5%;
    padding-top: 5.4%;
}

.product_img {
    width: 82%;
    margin-left: 19%;
    margin-top: 8%;
    margin-bottom: 15%;

}

.product_wrap .slick-list {
    padding: 0 72% 0 0 !important;
}


.product_img div img {
    width: 95%;
}

.product_img div span,
.product_wrap .product_list div span {
    width: 100%;
    display: block;
    text-align: left;
    padding-left: 3px;
}

.product_img div span:nth-child(2),
.product_wrap .product_list div span:nth-child(2) {
    color: #cb997e;
    font-weight: 500;
    font-size: 1.2vw;
}

.product_img div span:nth-child(3),
.product_wrap .product_list span:nth-child(3) {
    color: #cb997e;
    font-weight: 300;
    font-size: 1vw;
    transform: scale(0.9);
    transform-origin: left;
    color: #959595;
}

.product_img div.active {
    transform: scale(1.0);
}

.product_img div a {
    display: inline-block;
    border: 1px solid #cb997e;
    padding: 1% 6%;
    border-radius: 100em;
    color: #cb997e;
    background-color: #fff;
    font-size: 1vw;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 94%;
    transform: translateY(-50%);
    right: 9%;
}

.product_img div a:hover {
    background-color: #cb997e;
    color: #fff;
}

.product_img .slick-prev.slick-arrow {
    width: 9%;
    height: 0;
    padding-bottom: 3%;
    display: block;
    background-image: url(../img/btn_pre.png);
    position: absolute;
    top: 123.5%;
    left: 28%;
    background-size: 100%;
    background-position: center 18%;
    background-repeat: no-repeat;
    filter: grayscale(2.0);
    z-index: 5;
}

.product_img .slick-prev.slick-arrow::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #a5a58d;
    right: -30%;
    top: 0%;
}

.product_img .slick-next.slick-arrow {
    width: 9.15%;
    height: 0;
    padding-bottom: 3%;
    display: block;
    background-image: url(../img/btn_next.png);
    position: absolute;
    top: 124%;
    right: 48.5%;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: grayscale(2.0);
}

.product_img .slick-next.slick-arrow:hover,
.product_img .slick-prev.slick-arrow:hover {
    filter: grayscale(0);

}


@media (max-width:768px) {
    .product_wrap {
        padding-bottom: 25%;
    }

    .product_wrap .title {
        width: 59%;
        margin-left: 8%;
        padding-top: 8%;
        margin-bottom: 8vw;
    }

    .product_wrap .product_list,
    .product_wrap .product_list div {
        width: 100%;
        text-align: center;
    }

    .product_wrap .product_list div img {
        width: 68%;
        margin: 0 auto;
    }


    .product_wrap .product_list div a {
        display: inline-block;
        border: 1px solid #cb997e;
        padding: 1% 4%;
        border-radius: 100em;
        color: #cb997e;
        background-color: #fff;
        font-size: 2.8vw;
        font-weight: 600;
        text-align: center;
        position: absolute;
        top: 92%;
        transform: translateY(-50%);
        right: 16%;
    }

    .product_wrap .product_list div a:hover {
        background-color: #cb997e;
        color: #fff;
    }

    .product_wrap .product_list {
        margin-top: 3%;
    }

    .product_wrap .product_list div img {
        margin-bottom: 2%;
    }

    .product_wrap .slick-arrow {
        filter: grayscale(1);
    }

    .product_wrap .slick-arrow:hover {
        filter: grayscale(0);
    }

    .product_wrap .slick-prev.slick-arrow {
        width: 16%;
        height: 0;
        padding-bottom: 7%;
        display: block;
        background-image: url(../img/btn_pre.png);
        position: absolute;
        top: 93vw;
        left: 27%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .product_wrap .slick-prev.slick-arrow::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        background-color: #a5a58d;
        right: -43%;
        top: -20%;
    }

    .product_wrap .slick-next.slick-arrow {
        width: 16%;
        height: 0;
        padding-bottom: 7%;
        display: block;
        background-image: url(../img/btn_next.png);
        position: absolute;
        top: 93vw;
        right: 27%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .product_wrap .product_list div span {
        box-sizing: border-box;
        padding: 0 16%;
    }

    .product_wrap .product_list div span:nth-child(2) {
        font-size: 6vw;
    }

    .product_wrap .product_list div span:nth-child(3) {
        font-size: 2.5vw;
        transform: scale(1.0);
        margin-left: 0.4%;
        font-weight: 500;
    }

}

/*租賃方案*/
.program_wrap {
    padding-top: 3%;
}

.program_wrap .title {
    width: 17.5%;
    left: 18.3%;
    margin-top: 6.4%;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
}

.program_title_word {
    color: #a5a58d;
    position: absolute;
    left: 18.3%;
    top: 37%;
    font-size: 1vw;
    line-height: 1.8;
    letter-spacing: 0.1vw;
}

.program_box {
    width: 54%;
    margin-left: 46%;
}

.program_box > li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 0;
    padding-bottom: 26%;
    padding-top: 3%;
    padding-left: 8%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 0;
    color: #fff;
    transition: 0.8s ease;
}

.program_box > li:hover {
    color: #000;
}

.program_content,
.program_name {
    position: relative;
    z-index: 2;
}

.program_name {
    font-size: 1.5vw;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 0.2vw;
    pointer-events: none;
}

.program_content {
    pointer-events: none;
    margin-top: 1%;
}

.program_content > li {
    font-size: 1.4vw;
    transform: scale(0.8);
    transform-origin: left;
    padding: 0.5% 0;
}

.program_box > li > img {
    width: 102%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1.0;
    transition: 0.8s ease;
}

.program_box > li:hover > img {
    opacity: 0.75;
}

.more_program {
    width: 100%;
    display: block;
    text-align: center;
    padding: 3% 0;
    background-color: #eddcd2;
}

.more_program a {
    display: block;
    width: 16.9%;
    margin: 0 auto;
    border: 1px solid #cb997e;
    color: #cb997e;
    background-color: #fff;
    padding: 0.3% 5%;
    border-radius: 100em;
    transition: 0.5s;
    font-weight: 500;
}

.more_program a:hover {
    color: #fff;
    background-color: #cb997e;
}


@media (max-width:768px) {
    .program_wrap {
        padding-top: 3%;
    }

    .program_wrap .title {
        width: 41%;
        left: 8%;
        margin-top: 0;
        margin-bottom: 5vw;
        position: relative;
    }

    .program_title_word {
        width: 42%;
        top: 0;
        left: 0;
        margin-left: 8%;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 2.8vw;
        position: relative;
    }

    .program_title_word br {
        display: none;
    }

    .program_box {
        width: 100%;
        margin-left: 0;
    }

    .program_box li {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 30%;
        padding-top: 3%;
        cursor: pointer;
        position: relative;
    }

    .program_box li img {
        margin: 0;
        width: 130%;
        position: absolute;
        top: 50%;
        left: -1%;
        transform: translateY(-50%);
    }

    .program_name {
        font-size: 4.8vw;
        line-height: 1.1;
    }

    .program_content {
        margin-top: 0;
    }

    .program_content > li {
        transform: scale(1.0);
        padding: 2.5% 0;
        font-size: 2.8vw;
    }

    .more_program {
        width: 25%;
        display: block;
        text-align: center;
        padding: 0;
        position: absolute;
        top: 24%;
        right: 8%;
        background-color: transparent;
    }

    .more_program a {
        width: 100%;
        margin: 0;
        font-size: 2.8vw;
        padding: 2%;
    }

}

/*濾掛咖啡*/
.bag_wrap {

    padding-top: 6%;
    padding-bottom: 5%;
}

.bag_wrap .title {
    width: 32.2%;
    margin-left: 18.2%;
    margin-bottom: 4%;
}

.bag_list {
    width: 82%;
    margin-left: 18.2%;
    padding-top: 0;
    padding-bottom: 0 !important;
    font-size: 0;
    position: relative;
    overflow: visible;
    margin-bottom: 2%;
}

.bag_list .slick-list {
    padding: 0 72% 0 0 !important;
}

.coffee_item {
    height: auto;
    box-sizing: border-box;
    padding: 0 1% 2% 0 !important;
}

.coffee_name {
    font-size: 2.5vw;
    display: block;
    color: #a5a58d;
    font-weight: 600;
    letter-spacing: 0.1vw;
    margin-bottom: 4%;
}

.coffee_content {
    height: 10vw;
    font-size: 1.2vw;
    box-sizing: border-box;
    padding: 1% 0;
    color: #cb997e;
    line-height: 1.8;
    margin-bottom: 3%;
    text-align: justify;
}

.coffee_level {
    height: 0;
    padding-bottom: 25%;
    font-size: 1vw;
    color: #959595;
}

.coffee_level b {
    background-color: #cb997e;
    color: #ffff;
    padding: 2% 5%;
    border-radius: 100em;
    display: inline-block;
    transform: scale(0.8) translateX(2%);
    transform-origin: left;
    margin-right: -0.2vw;
}

.coffee_item img {
    width: 80%;
    margin: 0% 4% 0 auto;
    transition: 0.3s ease;
}

.coffee_item:hover img {
    width: 85%;
}

.bag_wrap .slick-prev.slick-arrow {
    width: 8%;
    height: 0;
    padding-bottom: 3%;
    display: block;
    background-image: url(../img/btn_pre.png);
    position: absolute;
    top: 105%;
    left: 28%;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: grayscale(2.0);
    z-index: 5;

}

.coffee_bag {
    position: absolute;
    width: 28%;
    bottom: 10%;
    left: 4%;
}

.bag_wrap .slick-prev.slick-arrow::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #a5a58d;
    right: -43%;
    top: -20%;
    filter: grayscale(2.0);
}

.bag_wrap .slick-next.slick-arrow {
    width: 8%;
    height: 0;
    padding-bottom: 3%;
    display: block;
    background-image: url(../img/btn_next.png);
    position: absolute;
    top: 105%;
    right: 49.5%;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: grayscale(2.0);
}

.bag_wrap .slick-next.slick-arrow:hover,
.bag_wrap .slick-prev.slick-arrow:hover {
    filter: grayscale(0);

}

@media (max-width:1200px) {

    .coffee_content {
        height: 11vw;
        padding: 1% 2%;
    }


    .coffee_level {
        height: 0;
        padding-bottom: 27%;
        font-size: 1vw;
    }

}

@media (max-width:840px) {

    .coffee_content {
        height: 15vw;
        padding: 1% 2%;
    }

}

@media (max-width:768px) {
    .bag_wrap {
        height: 0;
        padding-top: 12%;
        padding-bottom: 145%;
    }

    .bag_wrap .title {
        width: 57.9%;
        margin-left: 8%;
        margin-bottom: 8vw;
    }

    .bag_list .slick-list {
        padding: 0 0 0 0 !important;
    }

    .bag_wrap .product_banner {
        width: 84%;
        margin-left: 8%;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 1%;
    }

    .coffee_item {
        height: 40vw;
        box-sizing: border-box;
        padding: 1% !important;
    }

    .coffee_item img {
        margin-top: 5%;
    }

    .bag_wrap .slick-prev.slick-arrow {
        width: 3%;
        height: 0;
        padding-bottom: 10%;
        background-image: url(../img/btn_t.png);
        position: absolute;
        left: -5%;
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .bag_wrap .slick-next.slick-arrow {
        width: 3%;
        height: 0;
        padding-bottom: 10%;
        background-image: url(../img/btn_t02.png);
        position: absolute;
        right: -5%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .bag_wrap .slick-prev.slick-arrow {
        width: 4%;
        height: 0;
        padding-bottom: 18%;
        top: 35vw;
        left: 2%;
    }

    .bag_wrap .slick-prev.slick-arrow::after {
        display: none;
    }

    .bag_wrap .slick-next.slick-arrow {
        width: 4%;
        height: 0;
        padding-bottom: 18%;
        top: 35vw;
        right: 2%;
    }

    .coffee_item {
        height: 0;
        padding: 1% 1% 13% 1% !important;
        padding-right: 0;
    }

    .bag_wrap .product_banner .coffee_item img {
        width: 76%;
        position: absolute;
        top: -4%;
        left: 12%;
    }

    .bag_wrap .product_banner .coffee_item span {
        padding: 0;
    }

    .coffee_item:hover img {
        width: 78%;
    }

    .coffee_name {
        width: 100%;
        text-align: left;
        margin-left: 11%;
        font-size: 6vw;
        margin-top: 87%;
        padding: 0;
        margin-bottom: 0;
    }

    .coffee_content {
        height: auto;
        width: 80%;
        transform: scale(1.0);
        padding: 2% 0 5% 0%;
        margin-left: 11%;
        margin-bottom: 0;
        font-size: 2.8vw;
        line-height: 1.5;
    }

    div.coffee_level {
        width: 78%;
        margin-left: 11%;
        padding: 0;
        transform: scale(1.0);
        text-align: left;
        white-space: normal;
        font-size: 2.8vw;
    }

    div.coffee_level b {
        font-size: 2.2vw;
        padding: 1% 6%;
        margin-right: 0;
        transform: scale(0.9) translateX(0) translateY(0%);
    }

    .coffee_bag {
        bottom: auto;
        top: 40%;
        left: 15%;
        width: 24%;
    }

}

/*特色icon*/
.icon_list_wrap {
    width: 100%;
    text-align: center;
    padding: 5% 0;
    background-image: url(../img/icon_bg.jpg);
    background-size: cover;
}

.icon_list_wrap img {
    display: inline-block;
    width: 13%;
    vertical-align: text-bottom;
    margin-right: 10%;
}

.icon_list_wrap img:last-child {
    margin-right: 0;
}

@media (max-width:768px) {
    .icon_list_wrap {
        padding: 4% 0;
    }

    .icon_list_wrap img {
        display: inline-block;
        width: 30%;
        vertical-align: text-bottom;
        margin-right: 5%;
        -webkit-filter: drop-shadow(0px 1px 2px rgba(168, 125, 102, 0.73));
        filter: drop-shadow(0px 1px 3px rgba(168, 125, 102, 0.73));
    }

    .icon_list_wrap img:first-child {
        display: block;
        margin: 0 auto;
    }

    .icon_list_wrap img:last-child {
        margin-right: 0;
    }

}

/*使用情境*/
.cos_wrap {
    padding: 6% 0;

}

.cos_wrap .title {
    width: 42%;
    margin-left: 18%;
    margin-bottom: 5%;
}

.cos_wrap .cos_box {
    width: 73%;
    margin-left: 18%;
}

.cos_wrap .cos_box > div {
    width: 100%;
    margin-bottom: 6vw;
    text-align: right;
    position: relative;
}

.cos_wrap .cos_box div img {
    width: 55%;
    display: inline-block;
}

.cos_word {
    display: block;
    position: absolute;
    top: 4%;
    left: 0;
    text-align: left;
}

.cos_word span:nth-child(1) {
    display: block;
    font-size: 4vw;
    font-weight: 100;
    color: #cb997e;
}

.cos_word span:nth-child(2) {
    display: block;
    font-size: 1.4vw;
    font-weight: 500;
    letter-spacing: 0.2vw;
    margin-top: 4.5%;
    color: #a5a58d;
}

.cos_word p {
    display: block;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0.2vw;
    color: #959595;
    line-height: 2;
    margin-top: 2%;
}

.cos_wrap .cos_box div:last-child {
    margin-bottom: 0;
}

@media (max-width:768px) {
    .cos_wrap .cos_box {
        width: 84%;
        margin-left: 8%;
    }

    .cos_wrap .title {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 11%;
        padding-top: 8%;
    }

    .cos_wrap .cos_box > div {
        margin-bottom: 0;
    }

    .cos_wrap .cos_box > div > img {
        width: 100%;
        margin-bottom: -1.2vw;

    }

    .cos_word {
        display: block;
        position: absolute;
        width: 94%;
        height: 90%;
        background-color: rgba(157, 108, 82, 0.75);
        top: 5%;
        left: 3%;
        text-align: center;
        cursor: pointer;
    }

    .cos_word span:nth-child(1) {
        display: block;
        width: auto;
        font-size: 6vw;
        font-weight: 400;
        color: #fff;
        position: relative;
        margin-top: 16%;
		border: 
    }

    .cos_word span:nth-child(1)::after {
        content: '';
        display: block;
        width: 1.2em;
        height: 0.5vw;
        left: 50%;
        margin-left: -0.6em;
        bottom: -14%;
        background-color: #fff;
        position: absolute;
    }

    .cos_word span:nth-child(2) {
        display: block;
        font-size: 3vw;
        letter-spacing: 0.2vw;
        color: #fff;
        margin-top: 4%;
    }

    .cos_word p {
        position: absolute;
        width: 100%;
        height: auto;
        color: #fff;
        font-size: 3vw;
        font-weight: 400;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0;
        transition: all 0.8s ease;
    }

    .cos_word span.active {
        display: none;
    }
	
	.cos_word p.active {
        opacity: 1.0;
    }

}

/*for you*/
.for_you_wrap {
    padding-top: 2%;
    padding-bottom: 5%;
}

.for_you_wrap .title {
    width: 26%;
    margin-left: 18%;
}

.btn_icon {
    width: 38%;
    margin-left: 63%;
    height: 0;
    padding-bottom: 6.8%;
    text-align: left;
    font-size: 0;
}

.btn_icon a {
    display: inline-block;
    width: 8%;
    height: 0;
    padding-bottom: 8%;
    margin-right: 4%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    transform: scale(1.0);
    transition: transform 0.5s;
}

.btn_icon a.active,
.btn_icon a:hover {
    transform: scale(1.1);
}

.btn_icon01 {
    background-image: url(../img/icon_01_before.png);
}

.btn_icon01.active,
.btn_icon01:hover {
    background-image: url(../img/btn_icon_01.png);
}

.btn_icon02 {
    background-image: url(../img/btn_icon_02.png);
}

.btn_icon02.active,
.btn_icon02:hover {
    background-image: url(../img/icon_02_active.png);
}

.btn_icon03 {
    background-image: url(../img/btn_icon_03.png);
}

.btn_icon03.active,
.btn_icon03:hover {
    background-image: url(../img/icon_03_active.png);
}

.btn_icon04 {
    background-image: url(../img/btn_icon_04.png);
}

.btn_icon04.active,
.btn_icon04:hover {
    background-image: url(../img/icon_04_active.png);
}

.btn_icon05 {
    background-image: url(../img/btn_icon_05.png);
}

.btn_icon05.active,
.btn_icon05:hover {
    background-image: url(../img/icon_05_active.png);
}

.for_img {
    position: relative;
    width: 200%;
    height: 0;
    padding-bottom: 35%;
    margin-left: 19%;
    text-align: left;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 2%;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    z-index: 2;
}

.for_img div {
    position: relative;
    display: inline-block;
    width: 8%;
    height: 0;
    margin-right: 1%;
    z-index: 2;
    vertical-align: top;
    padding: 7.5% 0;
    position: relative;
    transition: 1s;
    transition-timing-function: cubic-bezier(.35, 1.14, .7, 1);
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
}

.for_img div img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
}

.for_img div.active {
    width: 22.2%;
    transform: translateZ(0);
}

.for_text {
    width: 44%;
    height: 0;
    padding-bottom: 5%;
    position: relative;
    margin-top: -4.5vw;
    margin-left: 18.5%;
    z-index: 2;
}

.for_text div {
    position: absolute;
    width: 100%;
    padding-left: 3%;
    opacity: 0;
    transition: all 0.8s ease;
}

.for_text div span {
    color: #cb997e;
    font-size: 28px;
    font-weight: 600;
}

.for_text div p {
    color: #959595;
    font-weight: 400;
    font-size: 18px;
    margin-top: 1%;
    letter-spacing: 1px;
    white-space: nowrap;
}

.for_text div.active {
    opacity: 1.0;
}

.bg_pic {
    width: 60%;
    position: absolute;
    z-index: 0;
    top: 20%;
}

@media (max-width:1200px) {
    
.for_text div span {
    font-size:2.4vw;
}

.for_text div p {
    font-size:1.4vw;
}

}

@media (max-width:768px) {

    .for_you_wrap .title {
        width: 46.8%;
        margin-left: 8%;
        margin-top: 4%;
    }

    .btn_icon {
        width: 70%;
        margin-left: 15%;
        height: 0;
        padding-bottom: 16%;
        margin-top: 6vw;
        text-align: center;
    }

    .btn_icon a {
        display: inline-block;
        width: 13%;
        height: 0;
        padding-bottom: 15%;
        margin-right: 4%;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    .for_img {
        position: relative;
        width: 86%;
        height: 0;
        margin-top: 0vw;
        margin-left: 8%;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 58%;
    }

    .for_img div {
        width: 100%;
        padding: 0 0 68% 0;
        margin-right: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
    }

    .for_img div.img_01 {
        margin-left: 0 !important;
    }

    .for_img div.active {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        opacity: 1.0;
    }

    .for_img div:nth-child(6),
    .for_img div:nth-child(7) {
        display: none;
    }

    .for_text {
        width: 92%;
        height: auto;
        padding-bottom: 0;
        margin-bottom: 15%;
        position: relative;
        margin-top: 2%;
        margin-left: 5.2%;
        z-index: 2;
    }

    .for_text div {
        width: 96%;
    }

    .for_text div span {
        font-size: 4.5vw;
    }

    .for_text div p {
        font-size: 3vw;
        white-space: normal;
    }

    .bg_pic {
        display: none;
    }

}

/*about*/
.about_wrap {
    padding-top: 3%;
}

.about_wrap .title {
    margin-left: 18.3%;
    padding-bottom: 3%;
    width: 12%;
}

.about_left {
    position: absolute;
    width: 0%;
    height: 0;
    padding-bottom: 37.8%;
    margin-left: 18.3%;
    top:50%;
    margin-top:-17%;
    overflow: hidden;
    transition: width 1s ease-in-out;
}

.about_left.scaleWidth {
    width: 30.5%;
}

.about_left img {
    width: auto;
    height: 34vw;
    position: absolute;
    left: 0;
    top: 0;
}

.about_right {
    position:relative;
    width: 42%;
    color: #cb997e;
    font-size:26px;
    line-height: 1.5;
    top: 45%;
    margin-left: 50%;
	padding: 6% 0;
}
.about_story {
    width: 82%;
    margin: 7% auto;
    text-align: center;
    padding: 5% 0;
    background-image: url(../img/about_img.png);
    background-size: cover;
    color: #fff;
    text-shadow: 0px 1px 14px rgba(69, 37, 16, 1.0), 0px 1px 14px rgba(69, 37, 16, 0.5);
}

.about_story > p {
    width: 60%;
    margin: 0 auto;
    font-size: 1.2vw;
    line-height: 1.8;
    letter-spacing: 0.1vw;
}

.about_story > p > span:nth-child(1) {
    font-size: 2vw;
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin-bottom: 2%;
    line-height: 1;
    letter-spacing: 0.4vw;
}

.about_story img {
    width: 53%;
}
@media (max-width:1200px){
    .about_right{
        font-size: 2vw;
    }
}
@media (max-width:768px) {
    .about_wrap {
        padding-top: 8%;
    }

    .about_wrap .title {
        margin-left: 8%;
        padding-bottom: 6%;
        width: 21%;
    }

    .about_left {
        position: absolute;
        width: 0%;
        padding-bottom: 55%;
        margin-left: 8%;
        top: 50%;
        margin-top: auto;
        transform: translateY(-50%);
    }

    .about_left.scaleWidth {
        width: 40%;
    }

    .about_left img {
        width: auto;
        height: 55vw;
        position: absolute;
        left: 0;
        top: 0;
    }

    .about_wrap > div {
        position: relative;
    }

    .about_right {
        position: relative;
        box-sizing: border-box;
        width: 41.3%;
        font-size:3vw;
        margin-left: 52%;
		padding: 4% 0;
    }

    .about_story {
        width: 100%;
        padding: 10% 5%;
        background-image: url(../img/about_img_m.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 15%;

    }

    .about_story p {
        width: 90%;
        text-align: left;
        font-size: 2.6vw;
        letter-spacing: 0.1vw;
        margin: 0;
    }

    .about_story > p > span:nth-child(1) {
        width: 100%;
        text-align: center;
        font-size: 6vw;
        font-weight: 500;
        margin-bottom: 5%;
    }
}

/*周邊*/
.merch_wrap {
    padding-top: 2%;
    padding-bottom: 5%;

}

.merch_wrap .title {
    margin-left: 18%;
    width: 13.5%;
}

.merch_list {
    width: 70%;
    margin-top: 3vw;
    margin-left: 18%;
    font-size: 0;
}

.merch_list > div {
    width: 30.5%;
    display: inline-block;
    margin-right: 2%;
    vertical-align: text-top;
    margin-bottom: 6vw;
}

.merch_list img {
    width: 100%;
}

div.merch_name {
    margin-top: 1vw;
}

div.merch_name,
div.merch_name span {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1%;
}

div.merch_name span:nth-child(1) {
    font-size: 20px;
    font-weight: 400;
    color: #a5a58d;
    margin-bottom: 0.2vw;
}

div.merch_name span:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    color: #959595;
    height: 4em;
}

div.btn_buy_outer {
    width: 100%;
    margin-top: 0vw;
    text-align: center;
    color: #9f6b55;
    white-space: nowrap;
}

div.btn_buy_outer p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 3%;
}

div.btn_buy_outer a {
    display: inline-block;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 10%;
}

div.btn_buy_outer a.btn_buy {
    background-image: url(../img/btn_buy.png);
    margin-right: 3%;
    transition: 0.5s;
}

div.btn_buy_outer a.btn_buy:hover {
    background-image: url(../img/btn_buy_hover.png);
}

div.btn_buy_outer a.btn_soldout {
    background-image: url(../img/btn_soldout.png);
    margin-right: 3%;
    transition: 0.5s;
}

div.btn_buy_outer a.btn_soldout:hover {
    cursor: not-allowed
}

@media (max-width:1200px) {
    div.btn_buy_outer p {
        transform: scale(0.9);
		transform-origin: center;
        font-size: 1vw;
    }
}

@media (max-width:960px) {
    div.merch_name span:nth-child(2) {
        font-size: 14px;
    }
}

@media (max-width:800px) {
    div.merch_name span:nth-child(2) {
        font-size: 12px;
    }
}

@media (max-width:768px) {

    .merch_wrap {
        padding-bottom: 5%;
    }

    .merch_wrap .title {
        margin-left: 8%;
        width: 48.6%;
    }

    .merch_list {
        width: 86%;
        margin-top: 8vw;
        margin-left: 8%;
        font-size: 0;
    }

    .merch_list > div {
        width: 48%;
        display: inline-block;
        margin-right: 3%;
        vertical-align: text-top;
        margin-bottom: 8vw;
    }

    .merch_list > div:nth-child(even) {
        margin-right: 0;
    }

    div.merch_name span:nth-child(1) {
        font-size: 16px;
        margin-bottom: 1vw;
    }

    div.merch_name span:nth-child(2) {
        font-size: 14px;
        height: 3em;
    }


    div.btn_buy_outer {
        margin-top: 2vw;
        text-align: center;
    }

    div.btn_buy_outer p {
        transform: scale(1);
        font-size: 2.4vw;
    }
    
    div.btn_buy_outer a.btn_buy {
        background-image: url(../img/btn_buy_m.png);
        padding-bottom: 12%;
    }

    div.btn_buy_outer a.btn_buy:hover {
        background-image: url(../img/btn_buy_hover_m.png);
    }

    div.btn_buy_outer a.btn_soldout {
        background-image: url(../img/btn_soldout_m.png);
        padding-bottom: 12%;

    }

}

@media (max-width:480px) {
    div.merch_name span:nth-child(2) {
        font-size: 2vw;
        height: 4.8em;
    }

    div.btn_buy_outer p {
        transform: scale(0.75);
    }

}

@media (max-width:380px) {
    div.merch_name span:nth-child(2) {
        font-size: 12px;
        height: 3.6em;
        word-wrap: break-word;
    }

    div.btn_buy_outer p {
        transform: scale(0.8);
		font-size: 12px;
    }

}

@media (max-width:350px) {
    div.merch_name span:nth-child(2) {
        height: 18em;
        font-size: 1vw;
    }

    div.btn_buy_outer p {
        transform: scale(0.78);
    }

}


/*footer*/
footer {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 4% 13%;
    background-color: #cb997e;
    position: relative;
    color: #fff;
	z-index:5;
}

footer > img {
    display: inline-block;
    vertical-align: middle;
}

.footer_logo {
    width: 30%;
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
}

footer ul {
    line-height: 2.5;
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
}

.copyright {
    display: none;
}

footer a.btn_line {
    position: absolute;
	display: block !important;
    width: 3%;
	height: 0;
    padding-bottom: 4% !important;
	background-size:100%;
    top: 30%;
    left: 70%;
}

footer a.btn_tel {
    position: absolute;
	display: block !important;
    width: 3%;
	height: 0;
	background-size:100%;
    padding-bottom: 4% !important;
    top: 30%;
    left: 66%;
}

@media(max-width:768px) {
    footer {
        padding: 10% 0;
    }

    footer img {
        margin-left: 8%;
        width: 58%;
    }

    footer a.btn_line {
        position: absolute;
        width: 8%;
  		padding-bottom: 8% !important;
        top: 21%;
        left: 82%;
    }

    footer a.btn_tel {
        position: absolute;
        width: 8%;
  		padding-bottom: 8% !important;
        top: 21%;
        left: 71%;
    }

    footer ul {
        line-height: 2;
        font-size: 14px;
        margin-left: 8%;
        margin-top: 6%;
    }

    .copyright {
        display: block;
        font-size: 14px;
        letter-spacing: 0.3vw;
        margin-left: 8%;
        margin-top: 2%;
    }
}

a.btn_goTop {
    display: block;
    position: fixed;
    bottom: 5px;
    right: 3%;
    z-index:100;
    width: 8px;
    transition: 0.8s ease;
    opacity: 1.0;
}

a.btn_goTop img {
    width: 100%;
}

a.btn_goTop.hide {
    opacity: 0;
}
.hidden{
	position: absolute;
	top: 0;
	left: -9999px;
	width: 1px;
	height: 1px;
	
}
