@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*layout*/

html,
body {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

img {
    width: 100%;
}

a {
    display: block;
    cursor: pointer;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}


::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

input[type=button],
input[type=reset],
input[type=submit],
input[type=text],
select,
option {
    -webkit-appearance: none;
    -webkit-user-select: auto;
    border: none;
    outline: none;
    color: #666;
    background-image: none;
    background-color: #fff;
}


input,
select,
option {
    border: 0;
    outline: none;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 0 rgba(192, 192, 192, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #666;
}

.input_style_search:-webkit-autofill,
.input_style_search:-webkit-autofill:hover,
.input_style_search:-webkit-autofill:focus,
.input_style_search:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 0 rgba(192, 192, 192, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    ;

    100% {
        opacity: 1;
    }

    ;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 480px;
    max-height: 812.5px;
    margin: 0 auto;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 1.5s ease;
    animation-fill-mode: forwards;
    margin-top: -1px;
}

.inner_wrapper {
    position: relative;
    margin: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

@media (max-width:480px) {
    .wrapper {
        max-height: 100%;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        background-image: url(../img/red.jpg);
        background-repeat: repeat;
    }
}

#home.wrapper .inner_wrapper {
    padding-bottom: 10%;
    max-height: 812.5px;
    background-image: url(../img/index_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #fff;
}

.logo {
    width: 27%;
    margin: 0 0 0 0;
}

.btn_list {
    position: absolute;
    width: 20%;
    top: 34%;
    right: 3%;
    z-index: 8;
    transition: 0.3s;
    transform: scale(1.0);
}

.btn_list:hover {
    transform: scale(0.96);
}

@keyframes zoomIn {

    0%,
    20% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.title {
    position: relative;
    z-index: 5;
    width: 83%;
    margin: -4% auto 0 auto;
    animation: zoomIn 0.8s ease;
}

.machine {
    position: relative;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

@Keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.machine_center {
    width: 100%;
    position: relative;
    z-index: 3;
    margin-top: 4%;
    animation: donut-spin 15s linear infinite;
}

.machine_center.click {
    animation: donut-spin 1.5s linear infinite;
}

.bar {
    position: absolute;
    z-index: 5;
    width: 7%;
    left: 47%;
    top: -5%;
}

.machine_bottom {
    position: relative;
    width: 38.5%;
    margin-top: -6%;
}

@keyframes big {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.0);
    }
}

.btn_play {
    position: absolute;
    width: 68.6%;
    left: 20%;
    top: 85%;
    animation: big 0.8s infinite ease;
}

/*泡泡*/

@keyframes E {
    0% {
        top: 100%;
    }

    to {
        top: -10vw;
    }
}

@keyframes F {
    0% {
        margin-left: 0;
    }

    to {
        margin-left: 8%;
    }
}

@keyframes G {
    0% {
        ;
        margin-right: 0;
    }

    to {
        margin-right: 8%;
    }
}


.bubble_box {
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
}

.bubble_bubble {
    border: 3px solid #fff;
    border-radius: 100%;
    position: absolute;
    top: 0;
}

.bubble1 {
    width: 5vw;
    height: 5vw;
    left: 5%;
    animation: E 2s linear infinite -.75s, F 2s ease-in-out infinite alternate;
}

.bubble2 {
    width: 2vw;
    height: 2vw;
    left: 6%;
    animation: E 1.2s linear infinite -1s, F 1s ease-in-out infinite alternate;
    animation-delay: .8s
}

.bubble3 {
    width: 1vw;
    height: 1vw;
    left: 10%;
    animation: E 2.5s linear infinite -3s, F 3s ease-in-out infinite alternate;
}

.bubble4 {
    width: 1.5vw;
    height: 1.5vw;
    border: none;
    background-color: #fff;
    left: 30%;
    animation: E 2s linear infinite -2s, F 2s ease-in-out infinite alternate;
}

.bubble5 {
    width: 8vw;
    height: 8vw;
    right: -3%;
    animation: E 5s linear infinite -.75s, G 2s ease-in-out infinite alternate;
}

.bubble6 {
    width: 1vw;
    height: 1vw;
    right: 5%;
    animation: E 3s linear infinite -1s, G 1.5s ease-in-out infinite alternate;
}

.bubble7 {
    width: 2vw;
    height: 2vw;
    right: 16%;
    animation: E 4s linear infinite -1s, G 1s ease-in-out infinite alternate;
}

.bubble8 {
    width: 1vw;
    height: 1vw;
    border: none;
    background-color: #fff;
    right: 10%;
    animation: E 1.5s linear infinite -.8s, G 1s ease-in-out infinite alternate;
}

.bubble9 {
    width: 1.5vw;
    height: 1.5vw;
    right: 15%;
    animation: E 1.4s linear infinite 1s, G 1s ease-in-out infinite alternate
}

.pop_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 812px;
    background-image: url(../img/bg_02.png);
    background-size: cover;
    background-position: top center;
    background-color: #fff;
    z-index: 10;
    text-align: center;
}

.btn_close {
    width: 14.7%;
    position: absolute;
    right: 2%;
    top: 1%;
}

.gift_list {
    width: 83.2%;
    position: absolute;
    top: 10%;
    left: 11%;
}

.deco_01 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width:480px) {
    .pop_box {
        min-height: 100%;
    }
}

/*zero加碼抽*/
#bonus.wrapper {
    background-color: #000;
    background-repeat: no-repeat;
}

#bonus.wrapper .inner_wrapper {
    padding-bottom: 10%;
    max-height: 812.5px;
    background-image: url(../img/bg_03.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #fff;
}

/*中獎問卷*/

#form.wrapper,
#search.wrapper,
#record.wrapper,
#confirmation.wrapper,
#thank.wrapper {
    background-color: #d91425;
}

#form.wrapper .inner_wrapper,
#search.wrapper .inner_wrapper,
#record.wrapper .inner_wrapper,
#confirmation.wrapper .inner_wrapper,
#thank.wrapper .inner_wrapper {
    padding-bottom: 10%;
    max-height: 812.5px;
    background-image: url(../img/form_bg.jpg);
    background-size: 101%;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #d91425;
    color: #fff;
}

#search.wrapper .inner_wrapper {
    height: 100%;
    max-height: 100%;
}

.form_title {
    width: 75%;
    margin: -6% auto 0 auto;
}

.main_form ul li {
    list-style: none;
    font-weight: 600;
    font-size: 18px;
}

.form_text {
    position: relative;
    display: block;
    width: 62%;
    margin: 3% auto 8% auto;
}

.baic_info {
    width: 80%;
    position: relative;
    margin: 0 auto 10% auto;
}

.baic_info li {
    text-align: center;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-bottom: 5%;
}

.baic_info li span {
    display: inline-block;
    text-align: left;
    width: 32%;
    height: 35px;
    line-height: 35px;
}

.input_style {
    width: 65%;
    height: 100%;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    padding: 0 4%;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
}

.input_style::placeholder {
    color: #ccc;
}

.gift_box {
    width: 100%;
    margin: 3% auto 0 auto;
    text-align: center;
    position: relative;
}

.gift_01 {
    display: inline-block;
    width: 84.5%;
    height: 0;
    padding-bottom: 45%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/msg_box.png);
    position: relative;
}


.gift_img {
    position: absolute;
    top: 0;
    left: 10%;
    width: 40%;
    height: 0;
    padding-bottom: 50%;
    text-align: center;
}

.gift_img.ticket {
    width: 55%;
    left: 0;
}

.gift_img img {
    width: 55%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gift_text {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    font-size: 12px;
    right: 0%;
    top: 0;
    position: absolute;
    text-align: center;
}

.gift_text div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gift_name {
    display: block;
    width: 100%;
    color: #000;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.2;
}

.no {
    font-size: 12px;
    color: #999;
    font-weight: 500;
    padding-top: 3%;
    display: block;
}

.btn_notice {
    display: inline-block;
    width: 8em;
    height: 14px;
    line-height: 8px;
    border-radius: 100em;
    border: 1px solid #999;
    margin-top: 5%;
}

.btn_notice:hover {
    background-color: #999;
    color: #fff;
}

.msg_fail {
    background-image: none;
}

/*選項*/
.question {
    width: 80%;
    position: relative;
    margin: 3% auto;
    font-size: 0;
    font-weight: 600;
}

.question span {
    display: block;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 3%;
    font-size: 18px;
}

.question input[type="radio"] {
    display: none;
}

.question input:checked + .button {
    background: #FFE97F;
    color: #444;
    cursor: default;
}

.question .button {
    display: inline-block;
    margin: 0 5px 10px 0;
    padding: 5px 10px;
    background: #f7f7f7;
    color: #000;
    cursor: pointer;
}

.question .button:hover {
    background: #FFE97F;
    color: #444;
}

.question .round {
    border-radius: 5px;
}

.question.radio_style_02 .button {
    width: auto;
}

.question.radio_style_03 .button {
    width: 43%;
}

.question .button i {
    font-size: 12px;
    margin-left: 10px;
}


/*確認*/

.checkbox_cont {
    width: 80%;
    position: relative;
    margin: 2% auto 0 auto;
}

.check_word {
    width: 95%;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    display: inline-block;
    vertical-align: text-top;
    margin-left: 8%;
    position: relative;
}

.check_word a {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
}

.checkbox {
    position: absolute;
    transform: scale(3);
    top: 20%;
    opacity: 0;
    left: 2%;
    z-index: 3;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    z-index: 2;
    background-image: url(../img/check.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6%;
    height: 0;
    top: 10%;
    padding-bottom: 6%;
    display: inline-block;
    transition: 0.2s ease;
    cursor: pointer;
}

.checkmark.active {
    background-image: url(../img/check_after.png);
}


.btn_ok {
    width: 45%;
    margin: 8% auto 0 auto;
    padding-bottom: 10%;
    transform: scale(1.0);
    transition: 0.3s ease;
}

.btn_ok:hover {
    transform: scale(0.98);
}

.notice_box {
    max-width: 480px;
    height: 100%;
    max-height: 812px;
    top: 50%;
    left: 49.9%;
    transform: translate(-50%, -50%);
    background-image: none;
    background-color: #d81525;
}

.notice_title {
    width: 71%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.notice_text {
    position: relative;
    z-index: 0;
    width: 80%;
    height: calc(60% - 5vw);
    margin: -20% auto;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 25% 5% 8% 5%;
    text-align: left;
    line-height: 2;
    overflow-y: hidden;
}

.notice_text p::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.notice_text p::-webkit-scrollbar {
    display: block;
    width: 10px;
    background-color: #000000;
}

.notice_text p::-webkit-scrollbar-thumb {
    background-color: #c9caca;
    height: 50%;
    max-height: 50%;
}

.notice_text p {
    width: calc(100% - 10px);
    height: 100%;
    overflow-y: scroll;
    font-size: 16px;
    box-sizing: border-box;
    padding-right: 10px;
    margin-left: 10px;
}

.notice_text p b {
    font-weight: 600;
}

.notice_text p i {
    font-size: 12px;
}

#search .form_title {
    margin: -6% auto 5% auto;
}


.search_info {
    background-color: rgba(255, 255, 255, 0.2);
    height: 60px;
    border-radius: 10px;
    margin-top: 8%;
    margin-bottom: 5%;
}

.search_info li {
    width: 100%;
    height: 80%;
}

.search_info li::after {
    content: '';
    position: absolute;
    background-color: #ffe97f;
    width: 86%;
    height: 2px;
    left: 7%;
    bottom: 14px;
}

.search_info li span {
    display: inline-block;
    color: #ffe97f;
    width: 25% !important;
}

.input_style_search {
    height: 100%;
    font-size: 18px;
    color: #fff !important;
    font-weight: 600;
    background-color: transparent !important;
}

.input_style_search::placeholder {
    color: #fff;
}

.btn_go_search {
    margin: 0 auto;
    width: 25%;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    color: #e1041b;
    background-color: #ffe97f;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    transition: 0.3s ease;
    transform: scale(1.0);
}

.btn_go_search:hover {
    transform: scale(0.95);
}

#confirmation .form_title,
#thank .form_title {
    margin-bottom: 5%;
}

#confirmation .baic_info {
    width: 70%;
    margin: 0 auto 15% auto;
}

#confirmation .baic_info li {
    text-align: left;
}

#confirmation .baic_info li span {
    display: inline-block;
    text-align: left;
    width: auto;
    margin-right: 3%;
    height: 35px;
    line-height: 35px;
}

#confirmation .baic_info li span.form_title_style {
    width: 100%;
}

#confirmation input[type="radio"] {
    display: none;
}

#confirmation input[type="radio"] + label span {
    display: inline-block;
    background-image: url(../img/check.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 6%;
    height: 0;
    top: 10%;
    padding-bottom: 6%;
    display: inline-block;
    transition: 0.2s ease;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -4px;
    font-size: 18px;
}

#confirmation input[type="radio"]:checked + label span {
    background-image: url(../img/check_after.png);
}

.input_width_w {
    width: 100%;
}

.input_width_01 {
    width: 85%;
}

.input_width_02 {
    width: 69%;
}

.uplaod_img {
    background-color: #f3a324;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    display: block;
    width: 55%;
    padding: 3% 0;
    border-radius: 10px;
    text-align: center;
    margin: 5% auto;
}

.age_agree {
    width: 70%;
    margin: 9% auto 0 auto;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

.age_agree div {
    position: absolute;
    width: 100%;
}

.age_agree div:nth-child(2) {
    top: 0;
    left: 38%;
}

.age_agree div:nth-child(3) {
    top: 0;
    left: 55%;
}

#confirmation .checkbox_cont {
    width: 70%;
    position: relative;
    margin: 5% auto 10% auto;
    padding-right: 4%;
    padding-left: 4.5%;
}

#confirmation .check_word {
    font-size: 16px;
}

.btn_send,
.btn_search {
    width: 50%;
    margin: 15% auto 0 auto;
    padding-bottom: 10%;
    transform: scale(1.0);
    transition: 0.3s ease;
}

.btn_send:hover,
.btn_search:hover {
    transform: scale(0.95);
}

.coke_all {
    width: 80%;
    margin-top: -5%;
    margin-bottom: -20%;
    margin-left: 10%;
}

.confirmation_no {
    width: 70%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 5% auto;
    text-align: center;
    font-size: 24px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border-radius: 100em;
}

.point {
    width: 90%;
    background-image: url(../img/ponit_box.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    box-sizing: border-box;
    padding-bottom: 60%;
    margin: 0 auto;
    position: relative;
}

.now_point {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #de0b1c;
    top: 37%;
    left: 55%;
    width: 32%;
    text-align: center;
}

.use_point {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    left: 55%;
    width: 32%;
    text-align: center;
    color: #999;
    top: 55%;
}

.btn_take {
    width: 20%;
    position: absolute;
    top: 71%;
    left: 40%;
}

.btn_take.after,
.blue_box .gift_info.after,
.green_box .gift_info.after {
    filter: grayscale(1);
}

.blue_box,
.green_box {
    width: 38%;
    display: inline-block;
    margin-top: 4%;
    margin-bottom: 10%;
    position: relative;
}

.blue_box a,
.green_box a {
    width: 45%;
    display: inline-block;
    margin-left: -12%;
}

.blue_box {
    margin-right: 5%;
}

#record .main_form {
    text-align: center;
}

.gift_info {
    border: 5px solid #000;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100em;
    box-sizing: border-box;
}

.gift_info span:nth-child(1) {
    font-size: 16px;
    font-weight: 800;
    display: block;
    margin: 46% auto 1% auto;
}

.gift_info span:nth-child(3) {
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin: -5% auto 0 auto;

}

.blue_box .gift_info {
    background-color: #29abe2;
}

.green_box .gift_info {
    background-color: #8cc63f;
}

.img_box {
    position: absolute;
    width: 60%;
    top: -10%;
    left: 22%;
    z-index: 10;
}

#record .gift_01 {
    padding-bottom: 55%;
    margin-top: 2%;
    background-image: url(../img/record_bg_01.png);
}

.tip_01 {
    width: 80%;
}

.tip_01.record_02 {
    width: 60%;
}


.tip_02 {
    width: 80%;
    margin: 5% auto;
    font-size: 16px;
    line-height: 1.5;
}

.btn_download {
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 30%;
    font-size: 0;
}


#record .gift_img {
    position: absolute;
    top: 0;
    left: 0%;
    width: 54%;
    height: 0;
    padding-bottom: 40%;
    text-align: center;
}

#record .gift_img.record_02 {
    width: 80%;
    left: -12%;
}

#record .gift_img.record_03 {
    width: 70%;
    left: -5%;
}


#record .gift_img img {
    width: 45%;
}

#record .gift_text {
    width: 45%;
    font-size: 12px;
    right: 1%;
    top: -9.5%;
}

#record .no {
    font-size: 14px;
    color: #999;
    font-weight: 500;
    padding-top: 10%;
    display: block;
}

#record .gift_01.record_02 {
    padding-bottom: 55%;
    margin-top: 2%;
    background-image: url(../img/record_bg_02.png);
}

#record .record_03 .gift_01 {
    padding-bottom: 55%;
    margin-top: 2%;
    background-image: url(../img/record_bg_03.png);
}

#record .no.record_02 {
    margin-top: -3%;
}

#record .btn_notice {
    display: inline-block;
    width: 8em;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin-top: 5%;
}

#record .btn_notice:hover {
    color: #fff;
}
