// header
.header {
  width: 100%;
  height: 70px;
  background: $bg-color;
  box-shadow: 0 0 10px rgba(170, 154, 111, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  @media screen and (max-width: 768px){
      box-shadow: none;
  }

  .nav{
      width: 100%;
      padding-left: 920px / 2 / 1920px * 100%;
      display: block;

      .nav_social{
          display: none;
      }

      .social_link{
          width: 100%;
          max-width: 500px;
          margin: 0 auto;
          padding-top: 4%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          a{
              width: 18vw;
              height: 18vw;
              max-width: 80px;
              max-height: 80px;
              border: 2px solid #aa9a6f;
              border-radius: 50%;
              overflow: hidden;
          }
      }

      @media screen and (max-width: 768px){
          width: 100%;
          height: calc(100% - 70px);
          padding: 3% 0;
          background: $bg-color;
          position: fixed;
          top: -100%;
          left: 0;
          overflow-y: scroll;
          transition: top 0.4s ease-in-out;

          &.active{
              top: 70px;
              transition: top 0.4s ease-in-out;
          }

          .nav_social{
              display: block;
          }
      }
  }

  .nav_l{
      width: (1 - 920px / 2 / 1920px) / 6 * 100%;
      padding: 5px 0;
      text-align: center;
      display: inline-block;
      position: relative;
      cursor: pointer;

      .nav_i{
          padding: 0 3% 2% 3%;
          font-weight: 500;
          letter-spacing: 2px;
          transition: color 0.3s linear;
          position: relative;

          &::after{
              content: '';
              width: 0%;
              height: 1px;
              background: $font-color-sub;
              position: absolute;
              left: 50%;
              bottom: 0;
              transform: translate(-50%, 0);
              transition: width 0.2s linear;
          }

          @media screen and (max-width: 768px){
              width: 100%;
              padding: 0 5%;
              letter-spacing: 5px;
              display: block;

              span{
                  padding-left: 0.5em;
                  color: $font-color-sub;
                  display: inline-block !important;
                  text-transform: uppercase;
                  font-size: 0.9em;
              }
          }
      }

      & > a{
          color: inherit;
          &:hover{
              &::after{
                  width: 100%;
                  transition: width 0.2s linear;
              }
          }
      }

      &:hover{
          .panel{
              display: block;
          }
      }

      @media screen and (max-width: 768px){
          width: 94%;
          padding: 2.5% 0;
          margin: 0 auto;
          text-align: left;
          display: block;

          &:not(:last-child){
              border-bottom: 1px solid $font-color-sub;
          }

          a.nav_i::after{
              display: none;
          }

          span.nav_i{
              &::before{
                  content: '';
                  width: 15px;
                  height: 2px;
                  background: $font-color-sub;
                  position: absolute;
                  right: 12px;
                  top: 50%;
                  transform: translate(0, -50%);
              }

              &::after{
                  content: '';
                  width: 15px;
                  height: 2px;
                  background: $font-color-sub;
                  position: absolute;
                  left: auto;
                  right: 12px;
                  top: 50%;
                  transform: translate(0, -50%) rotate(-90deg);
                  transition: transform 0.3s linear;
              }

              &.menu_close{
                  &::after{
                      transform: translate(0, -50%) rotate(0);
                      transition: transform 0.3s linear;
                  }
              }
          }
      }

      @media screen and (max-width: 512px){
          padding: 4% 0;
      }
  }

  .panel{
      width: 150px;
      background-color: $bg-color;
      box-shadow: 0 0 5px rgba(170, 154, 111, 0.4);
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      display: none;

      a{
          @include font-main;
          padding: 5px 10px;
          color: $font-color-sub;
          font-size: 0.9em;
          display: block;

          @media screen and (min-width: 769px){
              &:hover{
                  color: $font-color;
                  background: $font-color-sub;
              }
          }
      }

      @media screen and (max-width: 768px){
          width: 100%;
          max-height: 0;
          padding: 0 5%;
          box-shadow: none;
          position: static;
          transform: translate(0, 0);
          overflow: hidden;
          transition: max-height 0.5s ease-in-out;

          li:first-child{
              padding-top: 2%;
          }

          a{
              padding: 0;
              margin: 1.5% auto;
          }

          &.active{
              max-height: 500px;
              transition: max-height 0.5s ease-in-out;
          }
      }
  }
}

@media screen and (max-width: 768px){
  .header_top{
      width: 100%;
      height: 100%;
      padding: 0 3%;
      background-color: $bg-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 9999;
  }
}

.header_logo {
  width: 920px / 2 / 1920px * 100%;
  padding-top: 560px / 794px * 100% * 920px / 2 / 1920px;
  background: url(../images/common/header_logo_bg.png) 50% / 100% no-repeat;
  position: absolute;
  top: 0;
  left: 0.5%;

  a {
      width: 510px / 794px * 100%;
      padding-top: 204px / 510px * 100% * 510px / 794px;
      background: url(../images/common/header_logo.png) 50% / 100% no-repeat;
      position: absolute;
      top: 9%;
      left: 13%;
  }

  @media screen and (max-width: 768px){
      width: 60%;
      max-width: 130px;
      height: 184px / 490px * 150px;
      padding-top: 0;
      margin-bottom: 0;
      background: transparent;
      position: relative;

      a{
          width: 100%;
          height: 100%;
          padding-top: 0;
          background: url(../images/common/header_logo_m.png) 50% / 100% no-repeat;
          top: 0;
          left: 0;
      }
  }
}

// menu
.menu_open_box{
  width: 30px;
  line-height: 0;
  position: relative;
  z-index: 9999;

  &.menu_close{
      width: 40px;
      .menu_open{
          &::before{
              background: $font-color-sub;
              transform: translate(3px, 8px) rotate(45deg);
          }

          &::after{
              background: $font-color-sub;
              transform: translate(3px, -8px) rotate(-45deg);
          }
      }

      span{
          opacity: 0;
      }
  }
}

.menu_open{
  width: 100%;
  display: inline-block;

  span{
      width: 100%;
      height: 2px;
      margin: 6px 0 6px auto;
      background-color: $font-color-main;
      border-radius: 10px;
      display: block;
  }

  &::before,
  &::after{
      content: '';
      width: 100%;
      height: 2px;
      border-radius: 10px;
      background-color: $font-color-main;
      display: block;
      transition: transform 0.4s linear;
  }
}
