.share{
  background: #f6efe0 url(../images/share/share_bg.jpg) 50% / cover no-repeat;
  position: relative;

  @media screen and (max-width: 1024px) {
    background-image: url(../images/share/share_bg_t.png),
                      url(../images/share/share_bg_b.png);
    background-size: 100%;
    background-position: top, bottom;
    background-repeat: no-repeat;
  }
}

// 李英愛
.kv{
  width: 41%;
  height: 90%;
  max-height: 1200px;
  position: absolute;
  left: 0%;
  bottom: 0;
  z-index: 3;
  background: url(../images/share/share_kv.png) top right / cover no-repeat;

  @media screen and (max-width: 1024px) {
    width: 100%;
    padding-top: 787px / 768px * 100%;
    height: auto;
    max-height: none;
    position: static;
  }
}

// 花框
.share_deco{
  img{
    width: 145px;
    position: absolute;
    z-index: 2;
  }

  .share_deco_lt{
    left: -20px;
    top: -20px;
    transform: rotate(-90deg);
  }

  .share_deco_rt{
    right: -20px;
    top: -20px;
  }

  .share_deco_lb{
    left: -20px;
    bottom: -20px;
    transform: rotate(180deg);
  }

  .share_deco_rb{
    right: -20px;
    bottom: -20px;
    transform: rotate(90deg);
  }

  @media screen and (max-width: 768px) {
    img{
      width: 15%;
    }

    .share_deco_lt{
      left: -2vw;
      top: -2vw;
    }

    .share_deco_rt{
      right: -2vw;
      top: -2vw;
    }

    .share_deco_lb{
      left: -2vw;
      bottom: -2vw;
    }

    .share_deco_rb{
      right: -2vw;
      bottom: -2vw;
    }
  }
}

// 內容
.share_wrap {
  // width: 90%;
  // max-width: 1300px;
  width: 75%;
  margin: 0 auto;
  position: relative;
  z-index: 2;

  @media screen and (max-width: 1024px) {
    width: 90%;

    .share_contain{
      width: 90%;
      margin: 0 auto;
    }
  }
}

.share_box {
  width: 100%;
  text-align: center;
  border: 1px solid #b0a271;
  background: $bg-color;
}

.share_contain {
  width: 56%;
  // max-width: 800px;
  padding: 3% 0;
  margin: 0 6% 0 auto;
}

// 標題
.share_titlebox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  h3{
    letter-spacing: 2px;
  }

  .color_red {
    color: #b42448;
  }
}

.share_title {
  width: 60%;
  margin: 2% auto 3% auto;
  padding-top: 199px / 1017px * 60%;
  background: url(../images/share/shareimg-05.png) 50% / 100% no-repeat;

  @media screen and (max-width: 512px) {
    width: 90%;
    padding-top: 199px / 1017px * 90%;
  }
}

// 表單
.share_form_write {
  width: 100%;
  padding-top: 3%;
  position: relative;
  z-index: 3;

  @media screen and (max-width: 768px) {
    padding-top: 6%;
    margin-top: 6%;
    border-top: 2px dotted $share-color;
  }
}

.share_form_element {
  width: 100%;
  padding: 2% 0;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
  position: relative;
}

.share_form_item {
  width: 100%;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 512px) {
    &.share_form_textarea_item1{
      flex-wrap: wrap;

      .form_elememt_text{
        width: 100%;
        padding-top: 5px;
      }
    }

    &.share_form_textarea_item2{
      flex-wrap: wrap;

      .form_elememt_text{
        width: calc(100% - 52px);
        padding-top: 5px;
      }

      .share_form_item_name:nth-child(1){
        width: 100%;
      }
    }
  }
}

.share_form_item_name {
    color: $font-color;
    text-align: left;

    @media screen and (min-width: 769px) {
      vertical-align: middle;
      text-align: justify;
      text-align-last: justify;
      text-justify: inter-ideograph;
    }
}

.form_elememt_text {
  width: calc(100% - 225px);
  padding: 2px 5px;
  color: $font-color;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  resize: none;
  background: transparent ;
  border-radius: 0;

  &:focus{
    border-color: #b0a271;
    transition: border-color 0.4s linear;
  }
}

.share_form_textarea {
  display: block;
  padding: 3.8% 8% 5% 8%;
  margin-bottom: 3%;
  background-color: #b42448;
  border-radius: 10px;

  & ::placeholder{
    color: #470b1e;
  }

  & :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #470b1e;
  }

  & ::-ms-input-placeholder { /* Microsoft Edge */
    color: #470b1e;
  }

  .share_form_item_name{
    font-size: 1.2em;
  }

  @media screen and (max-width: 1300px) {
    padding: 3% 4% 4% 4%;
  }

  @media screen and (max-width: 512px) {
    padding: 5% 3%;
  }
}

.share_form_textarea_item2 {
  padding-top: 5%;

  .form_elememt_text{
    width: calc(100% - 145px);
  }
}

.share_form_info {
  .share_form_item{
    width: 47%;
  }

  .share_form_item_name{
    width: 90px;
    color: $share-color;
  }

  .form_elememt_contain{
    width: calc(100% - 90px);
    padding: 8px 10px;
    height: 100%;
    border: 1px solid $share-color;
    outline: none;
    text-align: center;
    letter-spacing: 1.2px;
    border-radius: 6px;

    &:focus{
      border-color: #b42448;
      transition: border-color 0.3s linear;
    }

    @media screen and (min-width: 513px){
      margin-left: 5%;
    }
  }

  @media screen and (max-width: 1300px) and (min-width: 1025px){
    flex-wrap: wrap;

    .share_form_item{
      width: 100%;
      margin-bottom: 2%;
    }
  }

  @media screen and (max-width: 768px){
    flex-wrap: wrap;

    .share_form_item{
      width: 100%;
      margin-bottom: 2%;
    }
  }
}

// 新增好友按鈕
.friend_add{
  width: 100%;
  margin: 2% auto;
  position: relative;

  &::before{
    content: '';
    width: 100%;
    height: 0px;
    border-top: 2px dotted $share-color;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}

.friend_add_btn{
  width: 160px;
  padding: 2px 0 2px 25px;
  margin: 0 auto;
  color: $font-color;
  background: $share-color;
  border: 10px solid $bg-color;
  border-radius: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transform: scale(1);
  transition: background 0.2s linear,
              transform 0.2s linear;

  &::before{
    content: '';
    background: url(../images/share/add-icon.png) 50% / 100% no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 28px;
    transform: translate(0, -50%);
  }

  @media screen and (min-width: 769px) {
    &:hover{
      background: $font-color-red;
      transform: scale(1.1);
      transition: background 0.2s linear,
                  transform 0.2s linear;
    }
  }

  @media screen and (max-width: 512px) {
    width: 120px;
    padding: 0 0 0 30px;
    color: $share-color;
    background: $bg-color;
    border: none;
    font-size: 1.3em;

    &::before{
      width: 20px;
      height: 20px;
      background-image: url(../images/share/add-icon_m.png);
      left: 15px;
    }
  }
}

// 刪除欄位按鈕
.remove_sharebox{
  width: 17px;
  height: 17px;
  background: url(../images/share/remove_icon.png) 50% / 100% no-repeat;
  position: absolute;
  top: 50%;
  left: 101.5%;
  transform: translate(0, -50%) scale(1);
  transition: transform 0.2s linear;
  cursor: pointer;

  @media screen and (min-width: 769px) {
    &:hover{
      transform: translate(0, -50%) scale(1.4);
      transition: transform 0.2s linear;
    }
  }

  @media screen and (max-width: 512px) {
    margin-left: auto;
    margin-bottom: 5px;
    position: static;
    transform: translate(0, 0);
  }
}

// 確定送出
.share_line_btn{
  width: 300px;
  padding-top: 85px / 505px * 300px;
  margin: 4% auto;
  background: {
    size: 100%;
    position: center;
    repeat: no-repeat;
  }
  background-image: url(../images/share/send2.png);
  display: block;
  position: relative;
  transition: background-image 0.3s linear;

  &:hover{
    background-image: url(../images/share/send2_hover.png);
    transition: background-image 0.3s linear;
  }

  @media screen and (max-width: 512px) {
    width: 80%;
    padding-top: 85px / 505px * 80%;
    margin: 5% auto;
  }
}

// 注意事項
.share_info{
  margin-top: 3%;

  ol, li{
    margin-left: 12px;
    color: #595757;
    text-align: left;
    font-size: 0.92em;
    list-style: decimal;
  }

  @media screen and (max-width: 768px) {
    margin: 10% auto 5% auto;
  }
}

/* popup */
.share .popup{
  width: 100%;
  height: 100vh;
  background-color: rgba(25, 78, 147, 0.36);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 99999;
}

.share .popup_wrap{
  width: 31.7708%;
  max-width: 608px;
  max-height: 69.4%;
  padding: 2%;
  background-color: #fff;
  border: 3px solid #b0a271;
  border-radius: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.share .popup_close{
  width: 6%;
  max-width: 32px;
  display: block;
  position: absolute;
  top: 3%;
  left: 92%;
  transition: 0.5s transform linear;
  cursor: pointer;
}

.share .popup_close:hover{
  display: block;
  transform: rotate(180deg);
  transition: 0.5s transform linear;
}

.share .popup_wrap ::-webkit-scrollbar {
  width: none;
}

/* line分享好友popup */
.share .popup_wrap .share_line_btn{
  width: 55%;
  max-width: none;
  padding-top: 20px;
}

@media screen and (max-width: 768px){
  /* popup */
  .popup_wrap{
    width: 90%;
    max-width: 400px;
  }
}