.newitem_container{
  width: 100%;
  background: #fff url(../images/newitem/lattice.png) 50% / 60px repeat;
}

/* banner */
.newitem_banner{
  width: 100%;
  padding-top: 77.786458333%;
  background: url(../images/newitem/banner_bg.jpg) 50% / 100% no-repeat;
  position: relative;
}

.newitem_banner_contain{
  width: 100%;
  position: absolute;
  top: 13%;
  left: 11%;
}

.newitem_banner_logo{
  width: 17.708333333%;
}

.newitem_banner_word1{
  width: 36.527777777%;
  padding-top: 3%;
}

.newitem_banner_word2{
  width: 57.916666666%;
  margin-top: 2.2%;
  position: relative;
}

.newitem_banner_word2_text{
  width: 72.302158273%;
}

.newitem_banner_new{
  width: 28.29736211%;
  position: absolute;
  top: -30%;
  left: 75%;
}

.newitem_banner_word3{
  width: 38.888888888%;
  padding-top: 2.5%;
}

.newitem_banner_water1{
  width: 3.125%;
  position: absolute;
  top: 66%;
  left: 28%;
  animation: 3s water ease-out infinite;
  transform-origin: 100% 100%;
}

.newitem_banner_water2{
  width: 3.888888888%;
  position: absolute;
  top: 62%;
  left: 37%;
  animation: 3s water ease-out infinite;
  transform-origin: 0 100%;
}

.newitem_banner_water3{
  width: 4.097222222%;
  position: absolute;
  top: 50.5%;
  left: 63%;
  animation: 4s water ease-out infinite;
  transform-origin: 0 100%;
}

.newitem_banner_word1{
  opacity: 0;
  animation: 0.6s fadeInUp 0.5s linear forwards;
}

.newitem_banner_word2{
  opacity: 0;
  animation: 0.7s fadeInUp 0.9s linear forwards;
}

.newitem_banner_word3{
  opacity: 0;
  animation: 0.6s fadeInUp 1.3s linear forwards;
}

.newitem_banner_new{
  animation: 1s swing 1.6s linear forwards;
}

/* 公式 */
.newitem_formula{
  width: 93%;
  max-width: 1200px;
  padding-top: 10%;
  margin: 0 auto;
  text-align: center;
}

.aloe_formula1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.formula_contain1{
  width: 30%;
  opacity: 0;
}

.formula_contain2{
  width: 30%;
  opacity: 0;
}

.formula_contain3{
  width: 31%;
  opacity: 0;
}

.formula_add1{
  width: 5%;
  position: absolute;
  top: 40%;
  left: 30.5%;
}

.formula_add2{
  width: 5%;
  position: absolute;
  top: 40%;
  left: 63.5%;
}

.formula_infor1{
  width: 38%;
  position: absolute;
  top: -31%;
  left: 17%;
  opacity: 0;
}

.formula_infor2{
  width: 30%;
  position: absolute;
  top: -21%;
  left: 66%;
  opacity: 0;
}

.aloe_formula2{
  width: 90%;
  padding: 5% 3% 0 3%;
  margin: 0 auto 0 9%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.formula_item{
  width: 20%;
  margin: 0 6%;
  opacity: 0;
}

.formula_equal{
  width: 4.5%;
  position: absolute;
  top: 62%;
  left: 0%;
}

.aloe_formula3{
  width: 92%;
  margin: 0 auto;
  padding-top: 5%;
  opacity: 0;
  transform: translate(0, 30px);
}

.visible-show .formula_contain1{
  animation: 0.8s pulse ease-out forwards;
}

.visible-show .formula_contain2{
  animation: 0.8s pulse 0.6s ease-out forwards;
}

.visible-show .formula_contain3{
  animation: 0.8s pulse 1.2s ease-out forwards;
}

.visible-show .formula_infor1{
  animation: swing 2s linear 1.6s forwards;
}

.visible-show .formula_infor2{
  animation: swing 2s linear 1.9s forwards;
}

.visible-show .formula_item1{
  animation: 0.6s pulse 2.5s ease-out forwards;
}

.visible-show .formula_item2{
  animation: 0.6s pulse 2.8s ease-out forwards;
}

.visible-show .formula_item3{
  animation: 0.6s pulse 3.1s ease-out forwards;
}

.visible-show .aloe_formula3{
  animation: 0.6s fadeInUp 3.5s ease-out forwards;
}

/* 新品介紹 */
.newitem_product{
  padding-top: 3%;
}

.newitem_product_contain{
  padding: 5% 0 0 0;
}

.newitem_product_inner{
  width: 90%;
  max-width: 1100px;
  padding-bottom: 2%;
  margin: 0 auto;
}

.newitem_product_intro{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.newitem_product_img{
  width: 50%;
  position: relative;
}

.newitem_product_img img{
  z-index: 2;
  position: relative;
  padding-bottom: 3%;
  opacity: 0;
}

.newitem_product_img::before{
  content: '';
  width: 90%;
  position: absolute;
  top: 3%;
  opacity: 0;
}

.newitem_product_word{
  width: 42%;
  opacity: 0;
}

.newitem_product_word a{
  width: 50%;
  margin: 5% 0 0 auto;
  transform: scale(1);
  transition: transform 0.2s linear;
}

.newitem_product_word a:hover{
  transform: scale(1.05);
  transition: transform 0.2s linear;
}

.visible-show .newitem_product_word{
  animation: 0.5s fadeInUp 0.8s linear forwards;
}

/* 新品介紹-斗篷草高效水分炸彈霜蘆薈版 */
.newitem_product_contain1 .newitem_product_title{
  width: 80%;
  padding-bottom: 4%;
  margin: 0 0 0 auto;
  opacity: 0;
}

.newitem_product_contain1 .newitem_product_img::before{
  padding-top: 95%;
  background-color: #EDF7F5;
  left: -5%;
  opacity: 0;
  transform: translate(60px, -40px);
}

.newitem_product_contain1 .newitem_product_check{
  background-color: #C1E2DA;
  padding: 5% 0;
  position: relative;
  overflow: hidden;
}

.newitem_product_check_contain{
  width: 92%;
  max-width: 1100px;
  margin: 0 auto;
}

.visible-show .newitem_product_title{
  animation: 0.6s fadeInUp linear forwards;
}

.newitem_product_contain1 .visible-show .newitem_product_img::before{
  animation: 0.8s newitem1Show 0.3s ease-out forwards;
}

.newitem_product_contain1 .visible-show .newitem_product_img img{
  animation: 0.8s newitem1Show 0.9s ease-out forwards;
}

@keyframes newitem1Show {
  0%{
    opacity: 0;
    transform: translate(60px, -40px);
  }
  50%{
    opacity: 1;
  }
  to{
    opacity: 1;
    transform: translate(0, 0);
  }
}

.visible-show .newitem_product_check_contain{
  -webkit-animation: fadeIn 0s 1s;
          animation: fadeIn 0s 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.visible-show.newitem_product_check::after{
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: secondaryImageOverlayIn 1s 0s,
                     LsecondaryImageOverlayOut 1s 1s;
          animation: secondaryImageOverlayIn 1s 0s,
                     LsecondaryImageOverlayOut 1s 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.newitem_product_contain1 .visible-show.newitem_product_check::after{
  background: #89BEAF;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secondaryImageOverlayIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes LsecondaryImageOverlayOut {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/* 新品介紹-紫芹潤澤炸彈霜蘆薈版 */
.newitem_product_contain2 .newitem_product_title{
  width: 57%;
  padding-bottom: 4%;
}

.newitem_product_contain2 .newitem_product_intro{
  flex-flow: row-reverse;
}

.newitem_product_contain2 .newitem_product_img::before{
  padding-top: 100%;
  background-color: #EBF4EC;
  right: -4.5%;
}

.newitem_product_contain2 .newitem_product_word a{
  margin: 5% auto 0 0;
}

.newitem_product_contain2 .newitem_product_check{
  background-color: #D3E5AD;
  padding: 5% 0;
  position: relative;
  overflow: hidden;
}

.newitem_product_contain2 .visible-show.newitem_product_check::after{
  background: #A7CE96;
}

.newitem_product_contain2 .visible-show .newitem_product_img::before{
  animation: 0.8s newitem2Show 0.3s ease-out forwards;
}

.newitem_product_contain2 .visible-show .newitem_product_img img{
  animation: 0.8s newitem2Show 0.9s ease-out forwards;
}

@keyframes newitem2Show {
  0%{
    opacity: 0;
    transform: translate(-60px, -40px);
  }
  50%{
    opacity: 1;
  }
  to{
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* google表單 */
.newitem_form{
  width: 90%;
  max-width: 900px;
  padding-top: 5%;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
}

.newitem_form_bg{
  background: url(../images/newitem/form_m.png) 50% / 100% repeat-y;
}

.newitem_form.visible-show{
  animation: 0.8s fadeInUp ease-out forwards;
}

/* 建議搭配 */
.newitem_suggest{
  padding-top: 8%;
}

.newitem_suggest_title{
  width: 92%;
  max-width: 1100px;
  margin: 0 auto;
}

.newitem_suggest .product_wrap{
  padding: 0;
}

.suggest_img_1{
  background-image: url(../images/newitem/suggest1.png);
}

.suggest_img_2{
  background-image: url(../images/newitem/suggest2.png);
}

.suggest_img_3{
  background-image: url(../images/newitem/suggest3.png);
}

.suggest_img_4{
  background-image: url(../images/newitem/suggest4.png);
}

.suggest_img_5{
  background-image: url(../images/newitem/suggest5.png);
}

.suggest_img_6{
  background-image: url(../images/newitem/suggest6.png);
}

@media screen and (max-width: 768px){
  .newitem_container{
    background: #fff url(../images/newitem/lattice.png) 50% / 30px repeat;
  }

  /* banner */
  .newitem_banner{
    padding-top: 149.707221861%;
    background: url(../images/newitem/banner_bg_mb.jpg) 50% / 100% no-repeat;
  }

  .newitem_banner_contain{
    top: 3%;
    left: 4%;
  }

  .newitem_banner_word1{
    width: calc(36.527777777% / 0.6);
    padding-top: 4%;
  }

  .newitem_banner_word2{
    width: calc(57.916666666% / 0.6);
    margin-top: 3%;
  }

  .newitem_banner_new{
    width: 22%;
    top: -11%;
    left: 73%;
  }

  .newitem_banner_word3{
    width: calc(38.888888888% / 0.5);
    padding-top: 3%;
  }

  .newitem_banner_water1{
    width: 8%;
    top: 61%;
    left: 17%;
  }

  .newitem_banner_water2{
    width: 9%;
    top: 57%;
    left: 35%;
  }

  .newitem_banner_water3{
    width: 9%;
    top: 44%;
    left: 80%;
  }

  /* 公式 */
  .newitem_formula{
    width: 96%;
    padding-top: 9%;
  }

  .aloe_formula1{
    width: 90%;
    margin: 0 auto;
    padding: 2% 0 5% 31%;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 3px dashed rgba(0, 113, 188, 0.33);
    border-radius: 28px;
  }

  .formula_infor1{
    width: 20%;
    top: 5%;
    left: 13%;
  }

  .formula_infor2{
    width: 11%;
    top: 65%;
    left: 16%;
  }

  .aloe_formula2{
    width: 100%;
    padding: 7% 2% 0 2%;
    margin: 0 auto;
  }

  .formula_item{
    width: 25%;
    margin: 0 4%;
  }

  .formula_contain1{
    width: 80%;
    padding-top: 5%;
  }

  .formula_contain2{
    width: 80%;
    padding-top: 5%;
  }

  .formula_contain3{
    width: 85%;
    padding-top: 5%;
  }

  .formula_equal{
    width: 6%;
    top: -25%;
    left: 46%;
  }

  /* 新品介紹 */
  .newitem_product_contain{
    padding: 10% 0 0 0;
  }

  .newitem_product_inner{
    padding-bottom: 12%;
  }

  .newitem_product_contain1 .newitem_product_title{
    width: 100%;
  }

  .newitem_product_contain2 .newitem_product_title{
    width: 72%;
  }

  .newitem_product_intro{
    flex-wrap: wrap;
  }

  .newitem_product_contain2 .newitem_product_intro{
    flex-wrap: wrap;
  }

  .newitem_product_img{
    width: 92%;
    margin: 0 auto 0 2%;
  }

  .newitem_product_contain1 .newitem_product_img{
    margin: 0 2% 0 auto;
  }

  .newitem_product_word{
    width: 95%;
    padding-top: 8%;
    margin: 0 auto;
  }

  .newitem_product_contain1 .newitem_product_check,
  .newitem_product_contain2 .newitem_product_check{
    padding: 10% 0;
  }

  .newitem_product_contain2 .newitem_product_word a{
    margin: 5% 0 0 auto;
  }

  /* google表單 */
  .newitem_form_bg{
    background: url(../images/newitem/form_m_mb.png) 50% / 100% repeat-y;
  }
}

@keyframes water {
  from{
    opacity: 0;
    transform: scale(0.4);
  }
  20%{
    opacity: 1;
    transform: scale(1);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulse {
  0%{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
  50%{
    -webkit-transform: scale3d(1.09, 1.09, 1.09);
    transform: scale3d(1.09, 1.09, 1.09);
    opacity: 1;
  }
  100%{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from{
    transform: translate(0, 30px);
    opacity: 0;
  }
  to{
    transform: translate(0, 0);
    opacity: 1;
  }
}
