/* common */
.product_chamomilla .newitem_container{
  background-color: #fdf8ee;
  background-size: 100%, 80%, 100%;
  background-image: url(../images/product_chamomilla/bottom_bg.png),
                    url(../images/product_chamomilla/bottom_bg2.png),
                    url(../images/product_chamomilla/line_bg.png);
  background-position: bottom, 0 99.5%, 0 88%;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

/* banner */
.product_chamomilla .newitem_banner{
  padding-top: 75.8984375%;
  background: url(../images/product_chamomilla/banner_bg.png) 50% / 100% no-repeat;
}

.chamomilla_banner_honey1{
  width: 19.21875%;
  padding-top: calc(163.279132791% * 0.1921875);
  background: url(../images/product_chamomilla/banner_bee1.png) 50% / 100% no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.chamomilla_banner_honey2{
  width: 28.697916666%;
  padding-top: calc(95.462794918% * 0.28697916666);
  background: url(../images/product_chamomilla/banner_bee2.png) 50% / 100% no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.chamomilla_banner_bg{
  width: 92.1875%;
  padding-top: calc(30.564971751% * 0.921875);
  background: url(../images/product_chamomilla/banner_flower.png) 50% / 100% no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.newitem_banner_title{
  width: 100%;
  padding-left: 14%;
  margin-top: 10%;
  position: absolute;
  top: 0;
  left: 0;
}

.chamomilla_banner_title1{
  width: 47.208091085%;
}

.chamomilla_banner_title2{
  width: 77.519379845%;
  margin-left: -2.1%;
}

.chamomilla_banner_title3{
  width: 64.195736434%;
}

.chamomilla_banner_product1{
  width: 13.854166666%;
  padding-top: calc(227.067669173% * 0.13854166666);
  background: url(../images/product_chamomilla/banner_product1.png) 50% / 100% no-repeat;
  position: absolute;
  top: 36%;
  left: 37%;
  z-index: 3
}

.chamomilla_banner_product2{
  width: 19.322916666%;
  padding-top: calc(268.194070081% * 0.19322916666);
  background: url(../images/product_chamomilla/banner_product2.png) 50% / 100% no-repeat;
  position: absolute;
  top: 35%;
  left: 50%;
  z-index: 3
}

.chamomilla_banner_product3{
  width: 21.276041666%;
  padding-top: calc(224.479804162% * 0.21276041666);
  background: url(../images/product_chamomilla/banner_product3.png) 50% / 100% no-repeat;
  position: absolute;
  top: 35.5%;
  left: 67.3%;
  z-index: 3
}

.chamomilla_banner_text{
  width: 18.359375%;
  margin-left: 14%;
  position: absolute;
  top: 41.5%;
  z-index: 2;
}

.chamomilla_banner_text img{
  margin-bottom: 10.5%;
}

/* 【belif獨門】蜂蜜二次萃取法 */
.chamomilla_special{
  width: 100%;
  padding-top: 120.390625%;
  background: url(../images/product_chamomilla/special_bg.png) 50% / 100% no-repeat;
  position: relative;
}

.chamomilla_special_title{
  width: 35.625%;
  padding-top: calc(59.283625731% * 0.35625);
  background: url(../images/product_chamomilla/special_title.png) 50% / 100% no-repeat;
  position: absolute;
  top: -11%;
  left: 13.5%;
}

.chamomilla_special_item{
  width: 61%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
}

.chamomilla_special_item1{
  top: 3.5%;
  left: 35%;
}

.chamomilla_special_item2{
  flex-direction: row-reverse;
  top: 17.5%;
  left: 6%;
}

.chamomilla_special_item3{
  top: 31.5%;
  left: 35%;
}

.chamomilla_special_img{
  width: 36.228070175%;
  padding-top: calc(111.138014528% * 0.36228070175);
}

.chamomilla_special_item1 .chamomilla_special_img{
  background: url(../images/product_chamomilla/special1_img.png) 50% / 100% no-repeat;
}

.chamomilla_special_item2 .chamomilla_special_img{
  background: url(../images/product_chamomilla/special2_img.png) 50% / 100% no-repeat;
}

.chamomilla_special_item3 .chamomilla_special_img{
  background: url(../images/product_chamomilla/special3_img.png) 50% / 100% no-repeat;
}

.chamomilla_special_item1 .chamomilla_special_img::after,
.chamomilla_special_item3 .chamomilla_special_img::after{
  content: '';
  width: 1.5%;
  max-width: 8px;
  height: 44%;
  background-color: #e39940;
  position: absolute;
  left: 95.5%;
  top: 50%;
  transform: translate(0, -50%);
}

.chamomilla_special_item2 .chamomilla_special_img::after{
  content: '';
  width: 1.5%;
  max-width: 8px;
  height: 44%;
  background-color: #e39940;
  position: absolute;
  right: 95.5%;
  top: 50%;
  transform: translate(0, -50%);
}

.chamomilla_special_text{
  width: calc(100% - 36.228070175% - 0.8%);
  max-width: calc(100% - 36.228070175% - 8px);
  padding-right: 23%;
}

.chamomilla_special_item2 .chamomilla_special_text{
  padding-right: 0;
  padding-left: 23%;
}

/* 專屬於自己的甜蜜時間 鑽石光采肌膚養成法 */
.chamomilla_time{
  margin-top: -50%;
  position: relative;
  background: url(../images/product_chamomilla/time_bg.png) 100% 0 / 20% no-repeat;
}

.chamomilla_time_title{
  width: 35.078125%;
  padding: calc(18.559762435% * 0.35078125) 3% 0 3%;
  margin: 0 auto;
  background: url(../images/product_chamomilla/time_title.png) 50% / 100% no-repeat;
  position: relative;
}

.chamomilla_time_title::before,
.chamomilla_step_title::before,
.chamomilla_activity_title::before{
  content: '';
  width: 105%;
  height: 4px;
  background-color: #231815;
  position: absolute;
  top: -28%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
}

.chamomilla_time_title::after,
.chamomilla_step_title::after,
.chamomilla_activity_title::after{
  content: '';
  width: 105%;
  height: 2px;
  background-color: #231815;
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
}

.chamomilla_time_contain{
  width: 85%;
  max-width: 1050px;
  padding-top: 6%;
  margin: 0 auto;
}

.chamomilla_time_item{
  width: 100%;
  padding: 3% 8%;
  margin-bottom: 2.5%;
  background-color: #f4e6d7;
  border: 2px solid #e28825;
  box-shadow: 3px 3px 10px 0 rgba(165, 111, 9, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chamomilla_time_item1{
  padding: 2% 8%;
}

.chamomilla_inner_l{
  width: 14%;
}

.chamomilla_inner_r{
  width: 86%;
  padding-left: 7%;
}

.chamomilla_time_item .chamomilla_inner_r > img{
  width: 72.6%;
}

.chamomilla_inner_r p{
  margin-top: 3%;
  letter-spacing: 2px;
}

/* 蜂蜜洋甘菊 鑽石光養成保養步驟 */
.chamomilla_step{
  background: url(../images/product_chamomilla/step_bg.png) 50% / 100% no-repeat;
}

.chamomilla_step_title{
  width: 35.078125%;
  padding: calc(18.559762435% * 0.35078125) 3% 0 3%;
  margin: 12% auto 0 auto;
  background: url(../images/product_chamomilla/step_title.png) 50% / 100% no-repeat;
  position: relative;
}

.chamomilla_step_item{
  width: 90%;
  max-width: 1150px;
  padding: 4% 0 0 4%;
  margin: 0 auto;
}

.chamomilla_step_flex{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.chamomilla_step_text{
  width: 56%;
}

.chamomilla_step_buy{
  width: 39.62585034%;
  margin-top: 10%;
  padding-top: calc(26.394849785% * 0.3962585034);
  position: relative;
}

.chamomilla_step_buy a{
  width: 100%;
  height: 100%;
  background: url(../images/product_chamomilla/step_buy.png) 50% / 100% no-repeat;
  transition: background 0.2s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.chamomilla_step_item3 .chamomilla_step_buy div{
  width: 100%;
  height: 100%;
  background: url(../images/product_chamomilla/step3_buy.png) 50% / 100% no-repeat;
  transition: background 0.2s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.chamomilla_step_buy::after{
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid #6e081e;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}

.chamomilla_step_buy a:hover{
  background: url(../images/product_chamomilla/step_buy_hover.png) 50% / 100% no-repeat;
  transition: background 0.2s linear;
}

.chamomilla_step_product{
  width: 44%;
  margin-right: -5%;
}

.chamomilla_step_item1 .chamomilla_step_text{
  margin-top: 13%;
  padding-left: 3%;
}

.chamomilla_step_item1 .chamomilla_step_use{
  padding: 0 4% 0 3%;
  margin-top: -2%;
}

.chamomilla_step_item2{
  padding: 5% 4% 0 0;
}

.chamomilla_step_item2 .chamomilla_step_flex{
  flex-direction: row-reverse;
}

.chamomilla_step_item2 .chamomilla_step_text{
  padding-left: 3%;
  margin-top: 9.5%;
}

.chamomilla_step_item2 .chamomilla_step_buy{
  margin: 10% 10px 0 auto;
}

.chamomilla_step_item2 .chamomilla_step_product{
  width: 47%;
}

.chamomilla_step_item2 .chamomilla_step_use{
  padding: 0 0.5% 0 11%;
  margin-top: 1%;
}

.chamomilla_step_item3{
  padding: 8% 0 0 4%;
}

.chamomilla_step_item3 .chamomilla_step_text {
  padding-left: 3%;
}

.chamomilla_step_item3 .chamomilla_step_product{
  padding-right: 5%;
  margin-top: 6%;
}

.chamomilla_step_item3 .chamomilla_step_use{
  padding: 2% 6% 0 3%;
}

/* 實體活動 */
.chamomilla_activity_title{
  width: calc(35.078125% * 0.78544914625);
  padding: calc(23.724007561% * 0.35078125 * 0.78544914625) 3% 0 3%;
  margin: 12% auto 0 auto;
  background: url(../images/product_chamomilla/activity_title.png) 50% / 100% no-repeat;
  position: relative;
}

.product_activity{
  width: 80%;
  max-width: 1150px;
  padding-right: 2%;
  margin: 5% auto 0 auto;
}

/* 免費體驗表單 */
.chamomilla_form{
  width: 80%;
  max-width: 1200px;
  padding-top: 10%;
  margin: 0 auto;
}

.chamomilla_form_box{
  width: 100%;
  padding-top: 134.885496183%;
  background: url(../images/product_chamomilla/form_bg1.png) 50% / 100% no-repeat;
  position: relative;
}

.chamomilla_form_contain{
  width: 62.748091603%;
  height: 60%;
  position: absolute;
  top: 29%;
  left: 18%;
}

/* 建議搭配 */
.product_chamomilla .newitem_suggest{
  padding-top: 12%;
}

.product_chamomilla .suggest_img_1{
  background-image: url(../images/product_chamomilla/suggest1.png);
}

.product_chamomilla .suggest_img_2{
  background-image: url(../images/product_chamomilla/suggest2.png);
}

.product_chamomilla .suggest_img_3{
  background-image: url(../images/product_chamomilla/suggest3.png);
}

.product_chamomilla .suggest_img_4{
  background-image: url(../images/product_chamomilla/suggest4.png);
}

.product_chamomilla .suggest_img_5{
  background-image: url(../images/product_chamomilla/suggest5.png);
}

/* 最下面的花 */
.newitem_bottom{
  width: 100%;
  padding-top: 29.386479093%;
  margin-top: -14%;
  background: url(../images/product_chamomilla/bottom.png) 50% / 100% no-repeat;
}

/* 免費體驗懸浮按鈕 */
.fixed_wrap{
  width: 30%;
  max-width: 240px;
  position: fixed;
  top: 74%;
  right: 0.8%;
  z-index: 3;
}

.fixed_box {
  width: 100%;
  padding-top: 49.790794979%;
  background: url(../images/product_chamomilla/fixed_btn.png) center / 100% no-repeat;
  transition: 0.3s background linear;
}

.fixed_wrap:hover .fixed_box {
  background: url(../images/product_chamomilla/fixed_btn_hover.png) center / 100% no-repeat;
  transition: 0.3s background linear;
}

/* 動態 */
.product_chamomilla .visible_object{
  opacity: 0;
}

.chamomilla_banner_honey1{
  animation: bannerHoney1 1.2s ease-in-out forwards;
}

@keyframes bannerHoney1{
  0%{
    opacity: 0;
    transform: translate(-10%, -10%);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}

.chamomilla_banner_honey2{
  animation: bannerHoney2 1.8s 0.4s ease-in-out forwards;
}

@keyframes bannerHoney2{
  0%{
    opacity: 0;
    right: -5%;
    top: -5%;
  }
  100%{
    opacity: 1;
    right: 0;
    top: 0;
  }
}

.chamomilla_special_title{
  animation: rubberBand 3s 1s linear infinite;
}

@keyframes rubberBand{
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  5% {
    -webkit-transform: scale3d(1.2, 0.7, 1);
    transform: scale3d(1.2, 0.7, 1);
    opacity: 1;
  }
  10% {
    -webkit-transform: scale3d(0.6, 1.2, 1);
    transform: scale3d(0.6, 1.2, 1);
    opacity: 1;
  }
  15% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.chamomilla_banner_title1{
  animation: fadeInUp 1s linear forwards;
  animation-delay: 0.4s;
}

.chamomilla_banner_title2{
  animation: fadeInUp 1s linear forwards;
  animation-delay: 0.8s;
}

.chamomilla_banner_title3{
  animation: fadeInUp 1s linear forwards;
  animation-delay: 1.2s;
}

.chamomilla_banner_product1{
  animation: fadeInDown 0.8s linear forwards;
  animation-delay: 1.7s;
}

.chamomilla_banner_product2{
  animation: fadeInDown 0.8s linear forwards;
  animation-delay: 2.2s;
}

.chamomilla_banner_product3{
  animation: fadeInDown 0.8s linear forwards;
  animation-delay: 2.8s;
}

.chamomilla_special_item1 .chamomilla_special_img.visible-show{
  animation: zoomIn 0.4s linear forwards;
}

.chamomilla_special_item2 .chamomilla_special_img.visible-show{
  animation: zoomIn 0.4s linear forwards;
  animation-delay: 0.2s;
}

.chamomilla_special_item3 .chamomilla_special_img.visible-show{
  animation: zoomIn 0.4s linear forwards;
  animation-delay: 0.4s;
}

.chamomilla_time.visible_object,
.chamomilla_step.visible_object,
.chamomilla_activity.visible_object{
  opacity: 1;
}

.chamomilla_time.visible-show .chamomilla_time_title::before,
.chamomilla_time.visible-show .chamomilla_time_title::after,
.chamomilla_step.visible-show .chamomilla_step_title::before,
.chamomilla_step.visible-show .chamomilla_step_title::after,
.chamomilla_activity.visible-show .chamomilla_activity_title::before,
.chamomilla_activity.visible-show .chamomilla_activity_title::after{
  animation: titleL 1.5s ease-in-out forwards;
}

.chamomilla_time_item1.visible-show{
  animation: fadeInUp 0.6s linear forwards;
  animation-delay: 0.5s;
}

.chamomilla_time_item2.visible-show{
  animation: fadeInUp 0.6s linear forwards;
  animation-delay: 0.7s;
}

.chamomilla_time_item3.visible-show{
  animation: fadeInUp 0.6s linear forwards;
  animation-delay: 0.9s;
}

.chamomilla_step_text.visible-show{
  animation: fadeInLeft 0.6s linear forwards;
}

.chamomilla_step_product.visible-show{
  animation: fadeInRight 0.6s linear forwards;
}

.chamomilla_step_use.visible-show{
  animation: fadeInUp 0.6s linear forwards;
}

.chamomilla_step_item2 .chamomilla_step_text.visible-show{
  animation: fadeInRight 0.6s linear forwards;
}

.chamomilla_step_item2 .chamomilla_step_product.visible-show{
  animation: fadeInLeft 0.6s linear forwards;
}

.chamomilla_form.visible-show{
  animation: fadeInUp 0.6s linear forwards;
}

@keyframes fadeInLeft{
  0%{
    transform: translate(-40px, 0);
    opacity: 0;
  }
  100%{
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight{
  0%{
    transform: translate(40px, 0);
    opacity: 0;
  }
  100%{
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes titleL{
  0%{
    width: 0%;
    opacity: 0;
  }
  100%{
    width: 105%;
    opacity: 1;
  }
}

@keyframes zoomIn{
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInUp{
  0%{
    opacity: 0;
    transform: translate(0, 30px);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInDown{
  0%{
    opacity: 0;
    transform: translate(0, -30px);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 768px){
  /* common */
  .product_chamomilla_wrap{
    padding-bottom: 9.8%;
  }

  /* banner */
  .chamomilla_banner_bg{
    width: 100%;
    padding-top: 72.312703583%;
    background: url(../images/product_chamomilla/banner_flower_mb.png) 50% / 100% no-repeat;
  }

  .newitem_banner_title{
    padding: 0 5%;
    margin-top: 18%;
  }

  .chamomilla_banner_title1{
    width: 90%;
    max-width: 450px;
  }

  .chamomilla_banner_title2{
    width: 100%;
    max-width: 600px;
    margin-left: -4%;
  }

  .chamomilla_banner_title3{
    width: 90%;
  }

  .chamomilla_banner_product1{
    width: 19%;
    padding-top: calc(227.067669173% * 0.19);
    top: 78%;
    left: 34%;
  }

  .chamomilla_banner_product2{
    width: 29%;
    padding-top: calc(268.194070081% * 0.29);
    top: 76%;
    left: 50.3%;
  }

  .chamomilla_banner_product3{
    width: 28%;
    padding-top: calc(224.479804162% * 0.28);
    left: 75%;
    top: 77.5%;
  }

  .chamomilla_banner_text{
    width: 35%;
    margin-left: 5%;
    top: 81%;
  }
  
  /* 【belif獨門】蜂蜜二次萃取法 */
  .chamomilla_special_title{
    width: 70%;
    padding-top: calc(59.283625731% * 0.7);
    top: 42%;
    left: 3%;
  }

  .chamomilla_special_contain{
    width: 64%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 64%;
    transform: translate(-50%, 0);
    overflow: hidden;
  }

  .chamomilla_special_item{
    width: 100%;
    flex-wrap: wrap;
    position: static;
    margin-right: -100%;
    float: left;
    position: relative;
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    display: none;
    transition: opacity 0.3s linear, transform 0.6s ease-out;
  }

  .chamomilla_special_item.active {
    opacity: 1;
    display: block;
  }

  .chamomilla_special_item.prev{
    transform: translate(-100%);
  }
  
  .chamomilla_special_item.next{
    transform: translate(100%);
  }

  .chamomilla_special_img{
    width: 55%;
    padding-top: calc(111.138014528% * 0.55);
    margin: 0 auto;
  }

  .chamomilla_special_item1 .chamomilla_special_img::after,
  .chamomilla_special_item2 .chamomilla_special_img::after,
  .chamomilla_special_item3 .chamomilla_special_img::after{
    width: 0px;
  }

  .chamomilla_special_text,
  .chamomilla_special_item2 .chamomilla_special_text{
    width: 100%;
    max-width: 380px;
    max-width: none;
    margin: 0 auto;
    padding: 0;
  }

  /* 專屬於自己的甜蜜時間 鑽石光采肌膚養成法 */
  .chamomilla_time{
    padding-bottom: 13%;
    margin-top: 40%;
  }
  
  .chamomilla_time_title{
    width: 70%;
    padding: calc(18.559762435% * 0.7) 3% 0 3%;
  }

  .chamomilla_time_title::before,
  .chamomilla_step_title::before,
  .chamomilla_activity_title::before{
    height: 2px;
  }

  .chamomilla_time_title::after,
  .chamomilla_step_title::after,
  .chamomilla_activity_title::after{
    height: 1px;
  }

  .chamomilla_time_contain{
    padding-top: 13%;
  }

  .chamomilla_time_item{
    flex-wrap: wrap;
    max-width: 500px;
    padding: 7% 8%;
    margin: 0 auto 3% auto;
  }

  .chamomilla_inner_l{
    width: 23%;
  }

  .chamomilla_inner_r{
    width: 100%;
    padding-left: 0;
    margin-top: 5%;
  }

  .chamomilla_inner_r p{
    line-height: 1.6;
  }

  .chamomilla_time_item .chamomilla_inner_r > img{
    width: 95%;
    max-width: 300px;
  }

   /* 蜂蜜洋甘菊煥采精露 */
   .chamomilla_step_title{
    width: 70%;
    padding: calc(18.559762435% * 0.7) 3% 0 3%;
  }

   .chamomilla_step_flex{
    flex-wrap: wrap-reverse;
  }

  .chamomilla_step_item{
    padding: 13% 0 0 0;
  }

  .chamomilla_step_text{
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
  }

  .chamomilla_step_product,
  .chamomilla_step_item2 .chamomilla_step_product{
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
  }

  .chamomilla_step_item1 .chamomilla_step_text,
  .chamomilla_step_item2 .chamomilla_step_text,
  .chamomilla_step_item3 .chamomilla_step_text{
    padding-left: 0;
    margin-top: 0;
  }

  .chamomilla_step_item1 .chamomilla_step_use,
  .chamomilla_step_item2 .chamomilla_step_use,
  .chamomilla_step_item3 .chamomilla_step_use{
    width: 100%;
    padding: 0;
    margin: 8% auto 0 auto;
  }

  .chamomilla_step_buy,
  .chamomilla_step_item2 .chamomilla_step_buy{
    width: 60%;
    padding-top: calc(17.251051893% * 0.6);
    margin: 10% auto 0 auto;
  }

  .chamomilla_step_buy::after{
    top: 3px;
    left: 3px;
  }

  .chamomilla_step_buy a{
    background: url(../images/product_chamomilla/step_buy_mb.png) 50% / 100% no-repeat;
    transition: none;
  }

  .chamomilla_step_item3 .chamomilla_step_buy div{
    background: url(../images/product_chamomilla/step3_buy_mb.png) 50% / 100% no-repeat;
    transition: none;
  }

  .chamomilla_step_buy a:hover {
    background: url(../images/product_chamomilla/step_buy_mb.png) 50% / 100% no-repeat;
    transition: none;
  }

  .product_activity{
    width: 100%;
    max-width: 520px;
    padding-right: 3%;
    margin: 8% auto 0 auto;
  }

  /* 實體活動 */
  .chamomilla_activity{
    margin-top: 20%;
  }

  .chamomilla_activity_title {
    width: calc(70% * 0.78544914625);
    padding: calc(23.724007561% * 0.7 * 0.78544914625) 3% 0 3%;
  }

  /* 免費體驗表單 */
  .chamomilla_form{
    width: 90%;
    max-width: 500px;
  }

  .chamomilla_form_box{
    padding-top: 324.099722992%;
    background: url(../images/product_chamomilla/form_bg1_mb.png) 50% / 100% no-repeat;
  }

  .chamomilla_form_contain{
    width: 90%;
    height: 72%;
    top: 24%;
    left: 4%;
  }

  /* 建議搭配 */
  .product_chamomilla .newitem_suggest_title {
    max-width: 500px;
    margin: 0 auto
  }

  /* 免費體驗懸浮按鈕 */
  .fixed_wrap{
    width: 100%;
    max-width: none;
    top: auto;
    bottom: 0;
    right: 0%;
  }

  .fixed_box{
    padding-top: 11.71875%;
    background: url(../images/product_chamomilla/fixed_btn_mb.png) center / 100% no-repeat;
    transition: none;
  }

  .fixed_wrap:hover .fixed_box {
    background: url(../images/product_chamomilla/fixed_btn_mb.png) center / 100% no-repeat;
    transition: none;
  }
}
