/* banner */
.skintest_banner_box{
  width: 100%;
  position: relative;
}

.skintest_banner{
  width: 100%;
  padding-top: 38.385416666%;
  background: url(../images/skintest/banner.jpg) center no-repeat;
  background-size: 100%;
}

.skintest_banner_word{
  padding-left: 51%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.skintest_banner_word h2{
  margin-top: 0;
  margin-bottom: 0;
  color: #303030;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.8;
}

.skintest_banner_word h2:nth-child(2){
  padding-top: 10%;
}

.skintest_banner_word .btn_type1{
  max-width: 150px;
  margin-top: 8%;
  font-size: 15px;
}

/* 你的年齡 */
.skintest_area{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.test_box{
  padding: 3% 0;
}

.test_title{
  padding: 5% 0;
}

.test_title img{
  width: auto;
  height: 4.5vw;
  margin: 0 auto;
}

.test_year{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.test_year .test_q{
  width: 24%;
  max-width: 280px;
  padding-top: 0;
  background: none;
}

.test_year .test_q_hover, .test_year .test_q_img{
  width: 100%;
  left: 50%;
  top: 50%;
}

.test_year .test_q_img{
  position: static;
  transform: translate(0, 0);
}

/* 你的肌膚狀況 */
.skin_inner{
  width: 90%;
  margin: -8.3% auto 0 auto;
  position: relative;
}

.skin_inner .test_q{
  width: 77.34439834%;
  padding-top: calc(77.34439834% * 0.06950431034);
  margin: 0 auto;
  background-image: none;
}

.skin_inner .test_q_hover, .skin_inner .test_q_img{
  width: 100%;
  left: 50%;
  top: 50%;
}

.skin_inner .test_q_check{
  width: 11.587982832%;
  left: -7%;
  top: 36%;
}

.test_q_deco{
  position: absolute;
}

.skin_inner_1 .test_q_deco{
  width: 24%;
  top: -24%;
  right: 2%;
}

.skin_inner_2 .test_q_deco{
  width: 4.813278008%;
  top: 31%;
  right: 2%;
}

.skin_inner_3 .test_q_deco{
  width: 2.323651452%;
  top: -11%;
  right: 5%;
}

.skin_inner_4 .test_q_deco{
  width: 11.867219917%;
  top: -19%;
  right: 7%;
}

/* 是否曾有以下狀況 */
.test_qarea{
  width: 100%;
  margin: 3% auto 0 auto;
  position: relative;
}

.test_qarea_1, .test_qarea_3{
  max-width: 1117px;
}

.test_graybg{
  padding: 0.4vw;
  border-radius: 1.2vw;
  background-color: #9a9b9b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.test_q{
  width: 24.8%;
  padding-top: calc(73.161764705% * 0.248);
  margin: 0 auto;
  background-image: url(../images/skintest/testbox.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}

.test_q_hover, .test_q_img{
  width: 83%;
  position: absolute;
  left: 52.5%;
  top: 55%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.test_q_img:hover{
  opacity: 0;
}

.test_q_check{
  width: 50%;
  position: absolute;
  left: 47%;
  top: 23%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s linear, transform 0.2s linear;
  opacity: 0;
}

.test_q input[type="checkbox"], .test_q input[type="radio"] {
  position: fixed;
  top: 50%;
  left: -9999px;
}

.test_q.active .test_q_check, input[type="checkbox"]:checked + .test_q_check, input[type="radio"]:checked + .test_q_check {
  opacity: 1;
  transform: translate(-50%, -40%);
  transition: opacity 0.2s linear, transform 0.2s linear;
}

.test_q.active .test_q_img, input[type="checkbox"]:checked ~ .test_q_img, input[type="radio"]:checked ~ .test_q_img {
  opacity: 0;
}

.doublecheck{
  width: 20%;
  max-width: 200px;
  position: absolute;
  bottom: 100%;
  right: 6%;
}

.test_deco{
  width: 18%;
  max-width: 190px;
  position: absolute;
  bottom: 99%;
  left: 6%;
}

/* 目前使用保養品是否有不適合肌膚的狀況 */
.test_qarea_2{
  width: 75%;
  max-width: 842px;
  margin: 0 auto;
}

.test_qarea_2 .test_q{
  width: calc(100% / 3 - 0.1px - 0.3%);
  padding-top: calc(0.73161764705 * (100% / 3 - 0.1px - 0.3%));
}

/* 是否有過敏改善需求 */
.test_qarea_3 .test_q:last-child{
  width: 49.8%;
  background-image: url(../images/skintest/testbox_long.png);
}

.test_qarea_3 .test_q:last-child .test_q_check {
  width: 25%;
}

.shell{
  width: 12%;
  max-width: 100px;
  position: absolute;
  bottom: 100%;
  right: 12%;
}

/* 您最想改善的面部問題 */
.test_qarea_4{
  max-width: 1238px;
  margin-top: -6%;
}

.test_drawbg{
  width: 97%;
  padding-top: 14.35%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.test_drawbg .test_q{
  width: 49.2%;
  padding-top: calc(26.050420168% * 0.492);
  margin: 0.8% auto 0 auto;
  background-image: url(../images/skintest/draw.png);
}

.test_drawbg .test_q_hover, .test_drawbg .test_q_img{
  width: 53.781512605%;
  left: 50%;
  top: 50%;
}

/* 填寫資料 */
.test_qarea_5{
  max-width: 1206px;
  text-align: center;
}

.draw_item{
  width: 100%;
  padding-top: 5.267523849%;
  margin-bottom: 3.5%;
  background: url(../images/skintest/desk.png) 50% 100% no-repeat;
  background-size: 100%;
}

.testform_inner{
  width: 90%;
  max-width: 960px;
  margin: -8% auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.testform_inner_5{
  margin: -7.8% auto 0 auto;
}

.testform_inner img{
  width: 20%;
  max-width: 75px;
}

.testform_inner_4 img{
  width: calc(1.33668341709 * 20%);
  max-width: calc(1.33668341709 * 75px);
}

.testform_inner_5 img{
  width: calc(3.42283950617 * 20% * 0.8);
  max-width: calc(3.42283950617 * 90px * 0.8);
}

.testform_input{
  width: calc(100% - 75px);
  min-width: 80%;
  padding: 1.5% 3%;
  color: #777777;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.8;
  border: none;
  outline: none;
  background: none;
}

.testform_input:-webkit-autofill,
.testform_input:-webkit-autofill:hover,
.testform_input:-webkit-autofill:focus {
  -webkit-text-fill-color: #777777;
  /* -webkit-box-shadow: 0 0 0px 1000px rgba(192,192,192,0.2) inset; */
  transition: background-color 5000s ease-in-out 0s;
}

.testform_inner_4 .testform_input{
  width: calc(100% - 1.33668341709 * 75px);
  min-width: calc(100% - 1.33668341709 * 20%);
}

.testform_inner_5 .testform_input{
  width: calc(100% - 3.42283950617 * 90px * 0.8);
  min-width: calc(100% - 3.42283950617 * 20% * 0.8);
  margin: 0 3% 0 auto;
  font-size: 17px;
}

.testform_send{
  width: 50%;
  max-width: 220px;
  margin: 0 auto;
  background: none;
  border: none;
  outline: none;
}

/* 檢測結果popup */
.popup_testresult{
  text-align: center;
}

.popup_wrap_testresult{
  width: 61.458333333%;
  max-width: 1180px;
  max-height: 85%;
  padding-top: 0;
  border: 12px solid #7ecef4;
  border-radius: 35px;
}

.popup_close {
  max-width: 52px;
  top: 2%;
  left: 93%;
}

.popup_testresult_titlebox{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.popup_testresult_title{
  width: 100%;
}

.popup_testresult_word{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.popup_testresult_product{
  width: 100%;
  padding: 4% 10% 0 10%;
  margin: 0 auto;
}

.popup_testresult_productimg{
  padding-bottom: 2%;
}

.popup_testresult_productimg{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.popup_testresult_productname{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.popup_testresult_productname p{
  font-size: 15px;
  margin-bottom: 0;
}

.testresult_thank{
  padding: 2% 0;
}

/* 聖母瑪利亞淨透肌 */
.mary1{
  width: calc(26.604729729% / 0.9);
}

.mary2{
  width: calc(13.5% / 0.9);
}

.mary3{
  width: calc(15.54054054% / 0.9);
}

.mary4{
  width: calc(22.043918918% / 0.9);
}

/* 匈牙利女王水嫩健康肌 */
.popup_testresult_product_2{
  width: 73.047619047%;
}

.queen1{
  width: calc(15.54054054% / 0.73047619047 / 0.9);
}

.queen2{
  width: calc(16.469594594% / 0.73047619047 / 0.9);
}

.queen3{
  width: calc(26.604729729% / 0.73047619047 / 0.9);
}

/* 芳草精露緊緻炸彈肌 */
.popup_testresult_product_3{
  width: 60.380952381%;
}

.tight1{
  width: calc(17.567567567% / 0.60380952381 / 0.9);
}

.tight2{
  width: calc(16.554054054% / 0.60380952381 / 0.9);
}

.tight3{
  width: calc(12.246621621% / 0.60380952381 / 0.9);
}

/* 山金車彈力賦活肌 */
.popup_testresult_product_4{
  width: 95.714285714%;
}

.arnica1{
  width: calc(24.831081081% / 0.95714285714 / 0.9);
}

.arnica2{
  width: calc(16.722972973% / 0.95714285714 / 0.9);
}

.arnica3{
  width: calc(14.864864864% / 0.95714285714 / 0.9);
}

.arnica4{
  width: calc(21.875% / 0.95714285714 / 0.9);
}

/* 經典呼呼舒緩肌 */
.popup_testresult_product_5{
  width: 71.428571428%;
}

.hoho1{
  width: calc(18.918918918% / 0.71428571428 / 0.9);
}

.hoho2{
  width: calc(26.604729729% / 0.71428571428 / 0.9);
}

.hoho3{
  width: calc(13.091216216% / 0.71428571428 / 0.9);
}

.popup_testresult_btnbox{
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popup_testresult_btn{
  width: 40%;
  max-width: 354px;
  padding: 13px 0;
  font-size: 15px;
  letter-spacing: 1px;
  border: 1px solid #000000;
  transition: color 0.3s linear,
              background-color 0.3s linear,
              border 0.3s linear;
}

.popup_testresult_btn_1{
  background-color: #fff;
}

.popup_testresult_btn_2{
  color: #fff;
  background-color: #000000;
}

.popup_testresult_btn:hover{
  color: #fff;
  background-color: #00b0d3;
  border-color: #00b0d3;
  transition: color 0.3s linear,
              background-color 0.3s linear,
              border 0.3s linear;
}

/* bootstrap daterangepicker */
.daterangepicker td, .daterangepicker th{
  height: 25px;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect{
  height: 24px;
  padding: 0 5px;
  font-size: 15px;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* border-radius: 0; */
  outline: none;
  align-items: center;
  vertical-align: middle;
  background: url(../images/reserve/select_arrow.png) 90% center / 8px no-repeat;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.daterangepicker th.month{
  height: 40px;
}

@media screen and (max-width: 768px){
  /* banner */
  .skintest_banner{
    padding-top: 161.848958333%;
    background: url(../images/skintest/banner_768.jpg) center no-repeat;
    background-size: 100%;
  }

  .skintest_banner_word{
    padding-left: 3%;
    top: 3%;
    transform: translate(0, 0);
  }

  .skintest_banner_word h2{
    font-size: 4.6vw;
  }

  /* 問題 */
  .skintest_area{
    padding: 3% 0 8% 0;
  }

  .test_title{
    padding: 8% 0;
  }

  .test_title img{
    height: 10vw;
    max-height: 60px;
  }

  /* 你的肌膚狀況 */
  .draw_item{
    margin-bottom: 6%;
  }

  .skin_inner{
    margin: -9% auto 0 auto;
  }

  .skin_inner .test_q{
    width: 84%;
    padding-top: calc(84% * 0.06950431034);
  }

  .test_q_img:hover {
    opacity: 1;
  }

  /* 填寫資料 */
  .testform_inner{
    height: 50px;
    margin: -8.5% auto 0 auto;
  }

  .testform_inner_5{
    margin: -9.5% auto 0 auto;
  }

  .testform_inner img{
    max-width: 60px;
  }

  .testform_inner_4 img{
    max-width: calc(1.33668341709 * 60px);
  }

  .testform_inner_5 img{
    max-width: calc(3.42283950617 * 75px * 0.8);
  }

  .testform_input{
    width: calc(100% - 60px);
  }

  .testform_inner_4 .testform_input{
    width: calc(100% - 1.33668341709 * 65px);
  }

  .testform_inner_5 .testform_input{
    width: calc(100% - 3.42283950617 * 75px * 0.8);
    margin: 0 auto;
  }

  /* 檢測結果popup */
  .popup_wrap_testresult{
    width: 90%;
    padding-bottom: 4%;
    border-width: 13px;
    border-radius: 28px;
  }

  .popup_testresult_titlebox{
    margin: 0 auto 0 2.5%;
  }
}

@media screen and (max-width: 768px) and (min-width: 596px){
  .skintest_banner_word h2{
    font-size: 20px;
  }
}

@media screen and (max-width: 596px){
  /* 填寫資料 */
  .testform_input,
  .testform_inner_5 .testform_input{
    font-size: 15px;
    letter-spacing: 0px;
  }

  .testform_inner img{
    max-width: 45px;
  }

  .testform_inner_4 img{
    max-width: calc(1.33668341709 * 45px);
  }

  .testform_inner_5 img{
    max-width: calc(3.42283950617 * 55px * 0.8);
  }

  .testform_input{
    width: calc(100% - 45px);
  }

  .testform_inner_4 .testform_input{
    width: calc(100% - 1.33668341709 * 45px);
  }

  .testform_inner_5 .testform_input{
    width: calc(100% - 3.42283950617 * 55px * 0.8);
    margin: 0 auto;
  }
}

@media screen and (max-width: 414px){
  /* 檢測結果popup */
  .popup_wrap_testresult{
    width: 90%;
    border-width: 5px;
    border-radius: 20px;
  }

  .popup_testresult_product{
    padding: 4% 0% 5% 0%;
  }

  .popup_testresult_btn{
    padding: 5px 0;
    font-size: 14px;
  }

  .popup_testresult_productname{
    padding-top: 5%;
    flex-wrap: wrap;
  }

  .popup_testresult_productname div{
    width: 100%;
  }
}

.check-content-notice {
	width: 100.1%;
}
.check-content-notice img{
	width: 100%;
	max-width: 100%;
}
