@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

section {
    display: inline-block;
    width: 100%;
    position: relative;
}

/*slide css*/

/* Slider css*/
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider style*/
.slick-loading .slick-list {
    /*background: #fff url('./ajax-loader.gif') center center no-repeat;*/
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 4%;
    height: 0px;
    padding-bottom: 4%;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-image: url(../img/arrow_left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 8;
}

.slick-next {
    background-image: url(../img/arrow_right.png);
}

.slick-prev:hover,
.slick-prev:focus {
    color: transparent;
    outline: none;
    background-image: url(../img/arrow_left.png);
    opacity: 1;
}

.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background-image: url(../img/arrow_right.png);
    opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 1%;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '';
}

[dir='rtl'] .slick-prev:before {
    content: '';
}

.slick-next {
    right: 1%;
}

[dir='rtl'] .slick-next {
    right: auto;
    right: 1%;
}

.slick-next:before {
    content: '';
}

[dir='rtl'] .slick-next:before {
    content: '';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 1%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 2%;
    height: 20px;
    margin: 0 0.1%;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 80%;
    height: 0;
    padding-bottom: 50%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
    margin: 0 auto;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    content: '';
    text-align: center;
    opacity: 1;
    color: #818181;
    background-color: #818181;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 100vw;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #343434;
    background-color: #343434;
    width: 100%;
}

/*layout*/
html,
body {
    width: 100%;
    font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", Helvetica;
    margin: 0;
    padding: 0;
    background-color: #f8c7c4;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
}

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #3d3d3d;
    -webkit-overflow-scrolling: touch;
}

body {
    height: auto !important;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}

section {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    height: auto;
}

#gotop {
    width: 60px;
    height: 60px;
    position: fixed;
    display: none;
    bottom: 1%;
    right: 1%;
    z-index: 100;
    background-size: 100%;
    background-image: url(../img/arrow_left.png);
    background-repeat: no-repeat;
    transform: rotate(90deg);
}

.nav {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 0px 13px 0px rgba(230, 0, 66, 0.29);
}

.nav a {
    color: #e60042;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid #e60042;
    padding: 0 2%;
    letter-spacing: 1px;
}

.nav a:last-child {
    border-right: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 60px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*soon*/
.wrapper.soon {
    margin-top: 0;
    padding-top: 0;
}

.soon_pc {
    width: 100%;
    display: block;
}

.soon_m {
    display: none;
}

@media(max-width:768px) {
    #gotop {
        right: 3%;
        bottom: 3%;
    }

    .soon_pc {
        display: none;
    }

    .soon_m {
        display: block;
        width: 100%;
    }
}

.kv {
    width: 100%;
    background-image: url(../img/kv_bg.jpg);
    background-position: top center;
    background-size: 100%;
    text-align: center;
    margin-top: -1.2%;
    overflow-y: hidden;
    overflow-x: hidden;

}

.logo {
    width: 44%;
    margin: 7% auto 2% auto;

}

.kv h1 {
    display: inline-block;
    overflow: hidden;
    background-image: url(../img/kv_title.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 72%;
    height: 0;
    padding-bottom: 16%;
    line-height: 200;
    text-indent: -100%;
    z-index: 1;
}

.iu {
    width: 28.5%;
    position: absolute;
    left: 0%;
    top: 18%;
    z-index: 2;
}

.ella_m,
.iu_m {
    display: none;
}

.ella {
    width: 26.8%;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 18%;
}

.all_event {
    width: 55%;
    font-size: 0;
    margin: 2% auto 2%;
    position: relative;
    z-index: 3;
}

.all_event img {
    width: 30%;
    margin-left: 2%;
}

.brands {
    width: 36%;
}

.btn_hum,
.all_event_m {
    display: none;
}

@media (max-width:768px) {
    div.btn_hum {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 5;
        top: 12px;
        right: 20px;
        cursor: pointer;
    }

    div.btn_hum span {
        width: 100%;
        height: 3px;
        display: block;
        background-color: #e60042;
        margin-bottom: 8px;
        transition: 0.3s;
    }

    div.btn_hum.click span:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
    }

    div.btn_hum.click span:nth-child(2) {
        width: 0;
        top: 12px;
        position: absolute;
    }

    div.btn_hum.click span:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 10px;
    }

    .nav {
        overflow: hidden;
        height: 0px;
        padding: 40px 0 10px 0;
        box-shadow: 0px 0px 13px 0px rgba(230, 0, 66, 0.29);
        transition: 0.5s;
    }

    .nav.click {
        height: 230px;
    }

    .nav a {
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid #e60042;
        border-right: 0;
        width: 90%;
    }

    .nav a:last-child {
        border-bottom: 0;
    }

    .wrapper {
        padding-top: 60px;
    }

    .kv {
        background-image: url(../img/kv_bg_m.jpg);
        background-size: cover;
        margin-top: -2%;
    }

    .logo {
        width: 88%;
        margin: 5% auto 2% auto;
    }

    .kv h1 {
        width: 150%;
        height: 0;
        padding-bottom: 40%;
        margin-left: -25%;
    }

    .iu,
    .ella {
        display: none;
    }

    .iu_m {
        position: absolute;
        display: block;
        width: 67.5%;
        left: 0%;
        top: 20%;
    }

    .ella_m {
        position: absolute;
        display: block;
        width: 62%;
        right: 0;
        top: 22%;
    }

    .all_event.for_pc {
        display: none;
    }

    .all_event_m_outer {
        width: 100%;
    }

    .all_event_m {
        display: block;
        z-index: 5;
        width: 100%;
        position: relative;
        margin-top: 76%;
        transform: scale(1.5);
    }

    .all_event_m a img {
        width: 95%;
        display: block;
    }

    .all_event_m a {
        filter: brightness(0.5);
    }

    .all_event_m a.slick-slide.slick-cloned.slick-active,
    .all_event_m a.slick-slide.slick-active {
        filter: brightness(0.5);
    }

    .all_event_m a.slick-slide.slick-cloned.slick-active {
        transform: rotate3d(0, 1, 0, -40deg) scale(0.95);
    }

    .all_event_m a.slick-slide.slick-active {
        transform: rotate3d(0, 1, 0, 40deg) scale(0.95);
    }

    .all_event_m a.slick-slide.slick-current.slick-active.slick-center {
        filter: brightness(1.0);
        transform: rotate3d(0, 1, 0, 0deg) scale(1);
    }

    .brands {
        width: 90%;
        margin-top: 18%;
        margin-bottom: 8%;
        position: relative;
        z-index: 5;
    }

    .btn_hum {
        display: none;
    }
}

/*big_banner*/
.banner_01 {
    position: relative;
    display: block;
    width: 80%;
    z-index: 5;
    margin: 2% auto -30px auto;
}

.for_m {
    display: none;
}

@media(max-width:768px) {
    .banner_01 {
        position: relative;
        display: block;
        width: 100%;
        z-index: 5;
        margin: -1% auto -30px auto;
    }

    .bn_wrap_01 {
        display: none;
    }

    .bn_wrap_01.for_m {
        display: block;
    }

    .bn_wrap_01.for_m .slick-next,
    .bn_wrap_01.for_m .slick-prev {
        opacity: 0;
    }

    .bn_wrap_01.for_m .slick-dots {
        transform: scale(0.6);
        margin-bottom: 1.5%;
    }

    .bn_wrap_01.for_m .slick-dots li {
        margin-right: 2%;
        width: 12%;
    }
}

/*inner_wrapper*/
.inner_wrapper {
    width: 80%;
    margin: 0 auto;
    background-image: url(../img/inner_bg.png);
    background-size: cover;
    position: relative;
    z-index: 5;
}

.gift {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.gift h2,
.form h2 {
    width: 100%;
    height: 0;
    padding-bottom: 5.8%;
    background-image: url(../img/title_01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    line-height: 200%;
    text-indent: -200%;
}

.gift_info_m {
    display: none;
}

.gift_info {
    width: 95%;
    position: relative;
    margin: 4% auto 1% auto;
    background-image: url(../img/gift_box.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    font-size: 0;
    text-align: center;
    padding: 2% 0 2% 0;
}

.gift_info img {
    vertical-align: text-bottom;
    display: inline-block;
    width: 90%;
}

.gift_info img:first-child {
    margin-bottom: 10%;
}

.event_word {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding: 3% 2% 2% 2%;
    box-sizing: border-box;
}

.event_word br {
    display: none;
}

.event_word img {
    width: 50%;
    margin-bottom: 2%;
}

.event_word ul {
    position: relative;
    width: calc(90% - 1em);
    margin: 0 auto;
    padding-left: 1em;
    text-align: justify;
    list-style: decimal;
    line-height: 1.5;
}

.event_word ul li {
    margin-bottom: 1%;
}

@media (max-width:768px) {

    .inner_wrapper {
        width: 100%;
        background-image: url(../img/inner_bg_m.jpg);
        background-size: 100%;
        background-position: center top;
    }

    .gift h2,
    .form h2 {
        width: 100%;
        height: 0;
        padding-bottom: 20%;
        background-image: url(../img/title_01_m.png);
    }

    .gift_info_m {
        display: block;
        width: 55%;
        margin: 10% auto 0 auto;
    }

    .gift_info_m .slick-prev,
    .gift_info_m .slick-next {
        width: 20%;
        height: 20%;
    }

    .gift_info_m .slick-prev {
        left: -30%;
    }

    .gift_info_m .slick-next {
        right: -30%;
    }

    .gift_info {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        background-image: none;
    }

    .gift_info img {
        vertical-align: text-bottom;
        display: inline-block;
        width: 90%;
    }

    .gift_info img:first-child,
    .gift_info img:nth-child(2) {
        display: none;
    }

    .event_word {
        font-size: 3.5vw;
        line-height: 1.5;
        text-align: center;
        padding: 3% 2% 2% 2%;
        box-sizing: border-box;
    }

    .event_word br {
        display: block;
    }

    .event_word p {
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }

    .event_word img {
        width: 90%;
    }

    .event_word ul {
        margin: 0 auto 8% auto;
    }

}

/*表格*/
.form {
    text-align: center;
    box-sizing: border-box;
    margin-top: 3%;
}

.form b {
    color: #e60042;
    font-weight: bold;
}

.form > span {
    font-weight: bold;
    font-size: 18px;
}

.form h2 {
    background-image: url(../img/title_02.png);
    margin-bottom: 2%;
}

.inner_form {
    display: block;
    border-radius: 2vw;
    background-color: #fff;
    box-shadow: 0px 0px 26.39px 2.61px rgba(239, 152, 146, 0.43);
    width: 560px;
    margin: 2% auto;
    box-sizing: border-box;
    padding: 3% 2%;
}

.baic_info {
    width: 100%;
}

.baic_info li {
    margin-bottom: 3%;
    height: 10%;
}

.baic_info span,
.baic_info input {
    vertical-align: text-top;
}

.baic_info span {
    display: inline-block;
    width: 20%;
    height: 30px;
    line-height: 30px;
    color: #171c61;
    font-size: 16px;
    font-weight: bold;
}

.baic_info input {
    display: inline-block;
    width: 70%;
    height: 30px;
    box-sizing: border-box;
    padding: 0 2%;
}

input[type=button],
input[type=reset],
input[type=submit],
input[type=text],
select,
option {
    -webkit-appearance: none;
    -webkit-user-select: auto;
    border: none;
    outline: none;
    color: #444;
    background-image: none;
    background-color: #fcf9e2;
}

input,
select,
option {
    border: 0;
    outline: none;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 0 rgba(192, 192, 192, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #444;
}

input::placeholder {
    color: #a6a6a6;
    font-size: 14px;
    font-weight: 400;
}

.checkbox_cont {
    font-size: 18px;
    color: #343434;
    font-weight: 600;
    margin: 2% auto 0 auto;
}

.checkbox_cont a {
    color: #343434;
    text-decoration: underline;

}

.checkbox {
    transform: scale(2);
    margin-right: 1%;
}


.btn_send {
    display: inline-block;
    width: 15%;
    margin: 2% auto;
    transform: scale(1.0);
    transition: 0.3s;
    position: relative;
    z-index: 10;
}

.btn_send:hover {
    transform: scale(0.95);
}

.btn_send img {
    width: 100%;
}

/*商品*/
.hot_news {
    margin-top: -2%;
}

.hot_news h2 {
    width: 52%;
    height: 0;
    padding-bottom: 30%;
    background-image: url(../img/title_02-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    overflow: hidden;
    line-height: 100;
    text-indent: -500%;
    left: 14%;
    top: 0%;
}

.video_wrap {
    display: block;
    margin: 20% auto 0 auto;
    width: 55%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*KOL 推薦*/
.kol_01,
.kol_02 {
    width: 56.1%;
    margin: 2% auto;
}

.kol_01 a img,
.kol_02 a img {
    width: 100%;
}

.kol_01 .slick-prev,
.kol_02 .slick-prev {
    left: -10%;
    width: 10%;
    height: 30%;
}

.kol_01 .slick-next,
.kol_02 .slick-next {
    right: -10%;
    width: 10%;
    height: 30%;
}

.big_kol {
    display: block;
    width: 100%;
    margin-left: 0;
}

.big_kol img {
    width: 100%;
}

.kol_02 {
    margin: -6% auto 0 auto;
}

@media (max-width:768px) {

    .form > span {
        font-weight: bold;
        font-size: 3.5vw;
    }

    .form h2 {
        background-image: url(../img/title_02_m.png);
        padding-bottom: 13%;
        margin-bottom: 4%;
    }

    .inner_form {
        width: 90%;
    }

    .baic_info {
        width: 100%;
    }

    .baic_info span,
    .baic_info input {
        vertical-align: text-top;
    }

    .baic_info span {
        height: 40px;
        line-height: 40px;
        color: #171c61;
        font-size: 2.5vw;
    }

    .baic_info input {
        height: 40px;
        line-height: 40px;
        font-size: 3vw;
    }

    input::placeholder {
        font-size: 3vw;
        font-weight: 400;
    }

    .checkbox_cont {
        font-size: 3vw;
        color: #343434;
        font-weight: 600;
        margin: 5% auto;
    }

    .checkbox {
        transform: scale(1.3);
        margin-right: 1%;
    }

    .btn_send {
        display: inline-block;
        width: 40%;
        margin: 2% auto 10%;
    }

    /*商品*/
    .hot_news {
        margin-top: -14%;
    }

    .hot_news h2 {
        width: 75%;
        padding-bottom: 60%;
        background-image: url(../img/title_02-2_m.png);
        background-position: center top;
        position: absolute;
        left: 5%;
        top: 0;
    }

    .video_wrap {
        display: block;
        margin: 35% auto 0 auto;
        width: 80%;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /*KOL 推薦*/
    .kol_01,
    .kol_02 {
        width: 82%;
        margin: 2% auto;
    }

    .big_kol img {
        display: none;
    }

    .big_kol img.for_m {
        display: block;
        margin-top: 12%;
    }

    .kol_02 {
        margin: -10% auto 0 auto;
    }
}

/*強品推薦*/
.shop {
    width: 100%;
    margin-top: 8%;
}

.shop > img {
    display: block;
    width: 45%;
    margin: 0 auto 2% auto;
}

.shop_inner {
    font-size: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 5% 3%;
    background-color: #fff;
    margin-top: -7%;
}

.shop_item {
    display: inline-block;
    width: 20%;
    vertical-align: text-top;
    text-align: center;
    margin: 3% 2%;
    box-sizing: border-box;
    padding: 1% 0.5%;
    cursor: pointer;
}

.product_name {
    font-size: 1vw;
    line-height: 1.2;
    display: block;
    width: 95%;
    height: 0;
    padding-bottom: 52%;
    margin: 4.5% auto;
    font-weight: bold;
}

.product_name.short {
    padding-bottom: 35%;
}

.product_name span i {
    font-size: 0.5rem;
}

.price {
    color: #e60042;
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 2%;
}

.price i {
    font-size: 0.7em;
}

.price b {
    font-weight: 600;
    font-size: 1.2em;
}

.shop_item:hover {
    box-shadow: 0px 0px 16px 0px rgba(68, 68, 68, 0.21);
}

.shop_item img {
    width: 95%;
}

.btn_shopnow {
    width: 90%;
    display: block;
    margin: 1% auto;
    font-size: 1.5vw;
    color: #e60042;
    border: 1px solid #e60042;
    font-weight: bold;
    padding: 3% 0;
    border-radius: 100em;
    transition: 0.3s;
}

.shop_item:hover .btn_shopnow,
.btn_shopnow:hover {
    background-color: #e60042;
    color: #fff;
}

@media (max-width:960px) {
    .product_name {
        padding-bottom: 60%;
    }

    .product_name.short {
        padding-bottom: 60%;
    }

    .shop_item {
        width: 25%;
    }

    .price {
        font-size: 1em;
    }

    .price b {
        font-weight: 600;
        font-size: 1.8em;
    }
}

@media(max-width:768px) {
    .shop > img {
        display: block;
        width: 80%;
        z-index: 10;
        position: relative;
    }

    .shop_inner {
        margin-top: -11%;
        padding: 15% 3% 3% 3%;
        z-index: 2;
        position: relative;
    }

    .shop_inner::after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 96%;
        border-left: 1px dashed #e60042;
        top: 3%;
        left: 50%;
        z-index: 2;
    }

    .shop_item {
        width: 50%;
        margin: 0;
        box-sizing: border-box;
        padding: 5%;
        margin: -0.05vw -0.1vw;
        border-bottom: 0.1vw dashed #e60042;
        vertical-align: bottom;
    }

    .shop_inner div:last-child,
    .shop_inner div:nth-child(11) {
        border-bottom: 0;
    }

    .product_name {
        font-size: 3vw;
        padding-bottom: 9em;
        margin-bottom: 2%;
    }

    .product_name.short {
        padding-bottom: 6.5em;
    }


    .shop_item:hover {
        box-shadow: 0px 0px 0px 0px rgba(68, 68, 68, 0.21);
    }

    .btn_shopnow {
        font-size: 18px;
        padding: 5% 0;
    }

    .price {
        font-size: 1.2em;
    }

    .price b {
        font-size: 1.4em;
    }

}

@media (max-width:480px) {
    .product_name {
        height: auto;
        padding-top: 2%;
        padding-bottom: 10%;
    }

    .product_name.short {
        height: auto;
        padding-top: 2%;
        padding-bottom: 10%;
    }
}

/*注意事項*/
.notice {
    background-color: #fcf1f0;
    box-sizing: border-box;
    padding: 5%;
    color: #3d3d3d;
    line-height: 1.5;
    font-size: 16px;
}

.notice_title {
    display: block;
    width: 20%;
    margin: 0 auto 4% auto;
}

.inner_notice span {
    font-weight: bold;
    margin: 2% 0 0.5% 0;
    display: block;
}

.inner_notice ul {
    list-style: decimal;
    width: calc(100% - 2em);
    padding-left: 2em;
    font-weight: 400;
}

.inner_notice p {
    padding: 0 2em;
}

.inner_notice a {
    color: #3d3d3d;
    word-wrap: break-word;
}

.inner_notice a:hover {
    color: #e60042;
}

@media (max-width:768px) {

    .notice {
        background-color: #fcf1f0;
        box-sizing: border-box;
        padding: 8% 5%;
        color: #3d3d3d;
        line-height: 1.5;
        font-size: 14px;
    }

    .notice_title {
        display: block;
        width: 40%;
        margin: 0 auto 4% auto;
    }
}

/*版宣*/
footer {
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 5% 0;
}

.lg_logo {
    width: 20%;
    display: block;
    margin: 10px auto;
}

.co {
    display: block;
    padding: 10px 0;
    color: #818181;
    font-size: 12px;
}

footer br {
    display: none;
}

@media (max-width:768px) {
    footer {
        width: 90%;
        margin-left: 5%;
        padding: 2% 0;
        line-height: 1.5;
    }

    .lg_logo {
        width: 40%;
    }

    footer br {
        display: block;
    }
}

/*pop*/
.pop_box {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.65);
}

.inner_pop {
    width: 80%;
    max-width: 640px;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

.inner_pop::-webkit-scrollbar {
    width: 1px;
}

.inner_pop a {
    display: block;
    width: 100%;
}

.inner_pop a img {
    width: 100%;
}

.inner_pop a.btn_close {
    width: 8%;
    position: absolute;
    right: 5%;
    top: 0;
    padding-top: 4.4%;
}

@media (max-width:768px) {
    .inner_pop {
         width: 90%;
    }

}
