@charset "utf-8";

.inner_pgae_cont {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: -4%;
}

.inner_pgae_cont > p {
    position: relative;
    width: 75%;
    text-align: justify;
    line-height: 1.5;
    margin: 0 auto;
    font-size: 1vw;
}

.inner_01 {
    text-align: left;
    position: relative;
    width: 80%;
	margin: 0 auto;
    padding-bottom: 10%;
}

.inner_01 img {
    width: 60%;
    position: relative;
    z-index: 2;
}

.inner_01 p {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1vw !important;
    border: 1px solid #AEB6C2;
    width: 50%;
    top: 5%;
    right: 0%;
    z-index: 0;
    line-height: 1.8;
    padding: 6% 4% 4% 13%;
}

.inner_01 p span {
    display: block;
    margin-top: 20%;
    font-size: 1.2vw;
    font-weight: 800;
    font-family: 'Noto Serif TC';
    line-height: 2;
}

.inner_img {
    width: 75%;
    margin: 3% auto;
    background-color: #F4F4F5;
    color: #707070;
    font-size: 1vw;
    text-align: left;
    position: relative;
}

.inner_img img {
    width: 60%;
}

.inner_img p {
    width: 27%;
    line-height: 2;
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translateY(-50%);
    text-align: justify;
    font-size: 1vw !important;
}

.inner_pgae_cont p{
	font-size: 1.2vw;
}

.inner_pgae_cont h3 {
    display: block;
    width: 75%;
    margin: 8% auto 3% auto;
    text-align: left;
    border-left: 4px solid #5BAE7F;
    font-weight: 800;
    font-family: 'Noto Serif TC';
    box-sizing: border-box;
    padding: 1% 2%;
    font-size: 1.4vw;
}

.inner_pgae_cont .tag {
    text-align: center;
    font-weight: 800;
    margin: 12% auto 3%;
}

.share {
    color: #5BAE7F;
    margin-bottom: 8%;
}

.share a {
    display: inline-block;
    width: 2%;
    height: 0;
    padding-bottom: 1.2%;
    vertical-align: middle;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.share a.share_fb {
    background-image: url(../img/icon_fb_g.png);
}

.share a.share_line {
    background-image: url(../img/icon_line.png);
}

.author,
read_more {
    margin: 0 auto;
    width: 75%;
    position: relative;
    text-align: left;
}

.author_title {
    position: relative;
    font-family: 'Noto Serif TC';
    font-weight: 700;
    color: #ADB6C3;
    font-size: 1.4vw;
    letter-spacing: 2px;
    height: 0;
    padding-bottom: 3%;
    z-index: 2;
}

.author_title span {
    display: block;
    vertical-align: middle;
    background-color: #ADB6C3;
    width: calc(100% - 5em);
    height: 0;
    padding-bottom: 0.05%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.author_title img {
    position: absolute;
    width: 18%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.author_info {
    position: relative;
    width: 100%;
    margin: 3% auto;
    background-color: #f4f4f5;
    box-sizing: border-box;
    padding: 5% 5%;
}

.author_info p b {
    font-size: 1.2rem;
    font-family: 'Noto Serif TC';
    font-weight: 700;
}

.author_info a {
	display: inline-block;
    width: 16%;
	height: 0;
	padding-bottom: 16%;
	border-radius: 100em;
	overflow: hidden;
	background-color: #fff;
	position: relative;
}

.author_info a img{
	width: 100%;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.author_info p {
    display: inline-block;
    width: 86%;
    box-sizing: border-box;
    padding: 5% 5% 5% 9%;
    font-size: 1vw;
    line-height: 1.8;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.author_info p a{
	border-radius: 0;
	background-color: transparent;
	width: 3%;
	height: 0;
	padding-bottom: 3%;
	display: inline-block;
	margin: 3% 1.5% 0 0;
}
.author_info p a img{
	width: auto;
	height: 100%;
}

.readmore {
    margin-top: 10%;
    position: relative;
    font-size: 0;
}

.readmore div:last-child {
    margin-right: 0;
}

.read_item {
    display: inline-block;
    width: 46%;
    font-family: 'Noto Serif TC';
    font-weight: 700;
    font-size: 1.6vw;
    line-height: 1.5;
    margin-right: 8%;
    letter-spacing: 2px;
    margin-top: 4%;
}

.read_item span {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.read_item a {
    display: block;
    width: 20%;
    margin-top: 2%;
    transform: translateX(0);
    transition: 0.2s;
}

.read_item a:hover{
    transform: translateX(5%);
}



@media(max-width:1200px) {
    .inner_pgae_cont {
        width: 80%;
        margin: 0 auto;
    }

    .inner_pgae_cont > p {
        width: 100%;
    }

    .inner_01 {
		width: 100%;
        padding-bottom: 0;
        margin-bottom: 10%;
    }

    .inner_01 img {
        width: 55%;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
    }

    .inner_01 p {
        position: relative;
        width: 50%;
        top: auto;
        right: auto;
        margin-left: 50%;
        z-index: 0;
        line-height: 1.8;
        padding: 6% 6% 4% 8%;
    }

    .inner_img {
        width: 100%;
    }
    
    .inner_img p{
        font-size: 3vw !important;
    }

    .inner_img img {
        width: 60%;
    }

    .inner_pgae_cont h3 {
        width: 100%;
        margin-top: 8%;
        font-size: 1.8vw;
    }

    .inner_pgae_cont .tag {
        font-size: 1.8vw;
    }

    .share {
        font-family: 'Noto Serif TC';
        font-weight: 700;
        color: #5BAE7F;
        margin-bottom: 8%;
    }

    .share a {
        width: 5%;
        padding-bottom: 2.2%;
    }

    .author,
    read_more {
        margin: 0 auto;
        width: 100%;
    }

    .author_title {
        font-size: 2vw;
    }


    .readmore {
        margin-top: 10%;
        position: relative;
        font-size: 0;
    }


    .read_item {
        font-size: 1.6vw;
    }

    .read_item span {
        width: 100%;
    }

    .read_item a {
        width: 25%;
    }

}


@media(max-width:768px) {
    .inner_pgae_cont {
        width: 90%;
        margin: 0 auto;
    }

    .pri_title.inner_page_title {
        font-size: 7vw;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 10% 6%;
    }

    .pri_title.inner_page_title br:nth-child(2) {
        display: none;
    }

    .inner_pgae_cont {
        margin-top: 0;
    }

    .inner_pgae_cont > p {
        position: relative;
        width: 90%;
        text-align: justify;
        line-height: 1.8;
        margin: 0 auto;
        font-size: 3.2vw;
    }

    .inner_01 {
        height: auto;
        width: 112%;
        margin-left: -6%;
        padding-bottom: 5%;
        margin-top: 30%;
		
    }

    .inner_01 img {
        width: 100%;
        position: relative;
        z-index: 2;
    }

    .inner_01 p {
        position: relative;
        display: block;
        margin: -20% auto 0% auto;
        font-size: 3.2vw !important;
        width: 90%;
        top: auto;
        right: auto;
        line-height: 1.8;
        padding: 4%;
    }

    .inner_01 p span {
        display: block;
        margin-top: 15%;
        font-size: 3.6vw;
        font-weight: 700;
        line-height: 4;
    }

    .inner_img {
        width: 100%;
        margin: 10% auto;
        background-color: #F4F4F5;
        color: #707070;
        font-size: 1vw;
        text-align: left;
        position: relative;
    }

    .inner_img img {
        width: 100%;
    }

    .inner_img p {
        width: 100%;
        line-height: 2;
        position: relative;
        top: auto;
        left: auto;
        transform: translateY(0);
        font-size: 3.2vw;
        padding: 7% 6%;
        box-sizing: border-box;
    }

    .inner_pgae_cont h3 {
        display: block;
        width: 90%;
        margin: 30% auto 8% auto;
        text-align: left;
        font-weight: 700;
        padding: 1% 5%;
        font-size: 4.8vw;
        line-height: 1.5;
    }

    .inner_pgae_cont .tag {
        font-size: 3.2vw;
        margin: 20% auto 10% auto;
    }

    .inner_pgae_cont .tag a {
        margin-right: 5%;
    }

    .inner_pgae_cont .tag a:last-child {
        margin-right: 0;
    }

    .share {
        font-size: 3.2vw;
        margin-bottom: 30%;
    }

    .share a {
        display: inline-block;
        width: 8%;
        padding-bottom: 5%;
    }

    .author,
    read_more {
        width: 100%;

    }

    .author_title {
        font-size: 5vw;
        padding-bottom: 6%;
    }

    .author_title img {
        position: absolute;
        width: 40%;
        top: -50%;
        transform: translateY(-50%);
        right: -14%;
    }

    .author_info {
        margin: 20% auto 30% auto;
        background-color: #f4f4f5;
        box-sizing: border-box;
        padding: 4% 5%;
    }

    .author_info a {
        width: 34%;
		padding-bottom: 34%;
        position:relative;
        left: auto;
        top: auto;
		margin-top: -18%;
		margin-left: 33%;
    }

    .author_info p {
        margin-top: 0%;
        width: 100%;
        padding: 5%;
        font-size: 3.2vw;
        line-height: 1.8;
        position: relative;
        right: 0;
        top: 0;
        transform: translateY(0);
    }
	
	.author_info p a{
		width: 7%;
		padding-bottom: 7%;
		margin-right: 5%;
		margin-top: 5%;
	}

    .author_info p b {
        font-size: 3.6vw;
		width: 100%;
		display: block;
		text-align: center;
		margin-bottom: -5%;
    }

    .read_item {
        width: 100%;
        font-size: 4.2vw;
        margin-top: 8%;
        padding-right: 5%;
        box-sizing: border-box;
    }

    .read_item span {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .read_item a {
        width: 30%;
        margin-top: 4%;
    }
}

/*圖文*/
.graphic {
    position: absolute;
    width: 40%;
    top: -10%;
    left: 50%;
    cursor: pointer;
}

.graphic .slick-dots{
	display: none;
}

.graphic .slick-arrow{
	top: 50%;
}
.graphic .slick-next.slick-arrow{
	right: -5%;
}
.graphic .slick-prev.slick-arrow{
	left:-5%;
}
.graphic_word {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 20%;
    background-color: #F4F4F5;
}

.graphic_word p,
.graphic_word img {
    display: inline-block;
}

.graphic_word p {
    width: 40%;
    float: left;
    box-sizing: border-box;
    font-size: 1vw;
    padding: 4%;
    text-align: left;
    line-height: 1.5;
}

.graphic_word p span:first-child {
    margin-top: 10%;
}

.graphic_word p span {
    display: block;
    font-family: 'Noto Serif TC';
    font-weight: 700;
    font-size: 1vw;
    margin-bottom: 2%;
}

.graphic_word img {
    width: 60%;
}

@media(max-width:960px) {
    .graphic {
        position: relative;
        width: 120%;
        top: 0%;
        left: -10%;
    }
	
	
.graphic .slick-arrow{
	display: none;
}
.graphic .slick-next.slick-arrow{
	right: -10%;
}
.graphic .slick-prev.slick-arrow{
	left:-10%;
}

    .graphic_word {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 20%;
        padding: 5%;
    }

    .graphic_word p,
    .graphic_word img {
        display: inline-block;
    }

    .graphic_word p {
        width: 100%;
        float: none;
        box-sizing: border-box;
        font-size: 2.4vw;
        padding: 0;
        text-align: left;
        line-height: 1.8;
    }

    .graphic_word p span:first-child {
        margin-top: 10%;
    }

    .graphic_word p span {
        font-size: 2.4vw;
        margin-bottom: 2%;
    }

    .graphic_word img {
        display: none;
    }

}

/*商品*/
.pro_box {
    display: block;
    width: 80%;
    margin: 5% auto;
    font-size: 0;
}

.pro_box .pro_img,
.pro_word {
    width: 50%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.pro_box .pro_img{
    overflow: hidden;
    height: 0;
    padding-bottom: 50%;
}
.pro_box .pro_img img{
    width: 100%;
}

.pro_word {
    width: 50%;
    box-sizing: border-box;
    padding: 5% 5%;
    line-height: 1.5;
    float: right;
}

.pro_word.f_right {
    float: left;
    padding-left: 0;
}

.pro_word span:nth-child(1) {
    display: block;
    font-family: 'Noto Serif TC';
    font-weight: 600;
    font-size: 1.7vw;
    margin-bottom: 16%;
}

.pro_word p,
.pro_word span:nth-child(3) {
    font-size: 1vw;
}

.pro_word span:nth-child(3) {
    color: #ADB6C3;
    margin-top: 8%;
    display: block;
}

@media (max-width:1200px) {
    .pro_box {
        display: block;
        width: 100%;
        margin: 5% auto;
        font-size: 0;
    }
}

@media (max-width:960px) {
    .pro_box {
        display: block;
        width: 100%;
    }

    .pro_box .pro_img,
    .pro_word {
        width: 100%;
    }
    
    .pro_box .pro_img{
        padding-bottom: 100%;
    }

    .pro_word {
        width: 100%;
        padding: 5% 0 20% 0;
    }

    .pro_word.f_right {
        float: left;
        padding-left: 0;
    }

    .pro_word span:nth-child(1) {
        font-size: 3.2vw;
        margin-bottom: 4%;
    }

    .pro_word p,
    .pro_word span:nth-child(3) {
        font-size: 2.4vw;
    }

    .pro_word span:nth-child(3) {
        color: #ADB6C3;
        margin-top: 4%;
        display: block;
        font-size: 2vw;
    }
}

/*人物專訪*/
.report_no {
    display: block;
    text-align: right;
    font-size: 3vw;
    color: #5BAE7F;
    font-family: 'Noto Serif TC';
    font-weight: 800;
    position: absolute;
    right: 10%;
    top: 70%;
}

.report_page {
    margin-bottom: 5%;
}

.report_page h3 {
    color: #313131;
}

.news_banner > div:nth-child(2n+2).report_page .news_pic {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
}

.news_banner > div:nth-child(2n+2).report_page .news_word {
    position: relative;
    background-color: #F4F4F5;
    border: 0;
    padding-left: 5%;
    padding-right: 10%;
}

.news_banner > div:nth-child(2n+2).report_page .report_no {
    right: 20%;
}

@media (max-width:960px) {

    .report_no {
        font-size: 8vw;
        right: 6%;
        top: 83%;
    }

    .report_page {
        margin-bottom: 60%;
    }

    .news_banner > div:nth-child(2n+2).report_page .news_pic {
        position: absolute;
        transform: translateY(0);
        top: -12%;
        right: 5%;
    }

    .news_banner > div:nth-child(2n+2) {
        margin-bottom: 15%;
    }

    .news_banner > div:nth-child(2n+2).report_page .report_no {
        right: 20%;
    }

}

/* 人物專訪 內頁*/
.people_img {
    margin-top: 10%;
    text-align: center;
    font-size: 2.4vw;
    color: #fff;
    line-height: 1.5;
    position: relative;
}

.people_img img {
    z-index: 1;
    position: relative;
    filter: brightness(0.88);
}

.people_img span {
    position: absolute;
    z-index: 2;
    display: block;
    text-align: center;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Noto Serif TC';
    font-weight: 700;
}

.name_write {
    width: 100%;
    text-align: center;
    display: block;
    margin: 4% auto;
    font-size: 1vw;
    letter-spacing: 2px;
    font-family: 'Noto Serif TC';
    font-weight: 700;
}

.people_front_word {
    font-size: 1.2vw;
    line-height: 1.8;
    text-align: center;
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto 8% auto;
    padding: 5% 5%;
    border: 1px solid #AEB6C2;
    position: relative;
}

.people_front_word::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 0;
    padding-bottom: 0.3%;
    background-color: #AEB6C2;
    left: 40%;
    top: 0;
}

.people_cont_inner {
    font-size: 0;
    margin: 6% auto;
}

.people_cont_inner > div {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    box-sizing: border-box;
}

.people_cont_inner > div:nth-child(even) {
    padding-left: 2.5%;
}

.people_cont_inner > div:nth-child(odd) {
    padding-right: 2.5%;
}

.people_cont_img span {
    display: block;
    font-size: 1vw;
    text-align: left;
    line-height: 1.5;
    margin-top: 4%;
    color: #ADB6C3;
    text-align: justify;
}


.people_text {
    font-size: 1.2vw;
    text-align: justify;
    line-height: 1.5;
}

.people_text span {
    display: block;
    font-size: 1.4vw;
    margin-bottom: 8%;
    font-family: 'Noto Serif TC';
    font-weight: 700;
    letter-spacing: 1px;
}

.people_text b {
    font-family: 'Noto Serif TC';
    font-weight: 700;
    letter-spacing: 1px;
}

.product .author_title {
    margin-top: 15%;
    margin-bottom: 5%;
}

.product .author_title span {
    width: 70%;
}

.product_banner {
    padding-bottom: 12%;
}

.product_banner div {
    padding: 0 0.2% 0 0;
}

.product_banner .slick-prev,
.product_banner .slick-next {
    display: none !important;
}

.product_banner .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.product_banner .slick-dots {
    bottom: 12%;
    width: 50%;
    text-align: left;
}

.product_banner .slick-dots li {
    width: 8%;
    height: 0;
    margin: 0 1% 0 0;
}

.product_banner .slick-dots li button {
    width: 95%;
    height: 6%;
    padding-bottom: 0;
}

.product_banner .slick-dots li button:before {
    width: 100%;
    height: 0;
    border-radius: 0;
    padding-bottom: 10%;
    background-color: #ADB6C3;
}

.product_banner .slick-dots li.slick-active button:before {
    background-color: #5BAE7E;
}

.product_banner span {
    display: block;
    text-align: center;
    margin: 8% auto;
    font-family: 'Noto Serif TC';
    font-weight: 700;
    letter-spacing: 1px;
}

.product_banner p {
    font-size: 1vw;
    line-height: 1.5;
}

@media (max-width:960px) {
    .people_img {
        font-size: 5.6vw;
    }

    .people_img span {
        bottom: 8%;
        width: 65%;
    }

    .name_write {
        font-size: 2.4vw;
    }

    .people_front_word {
        font-size: 2.4vw;
        width: 80%;
    }

    .people_front_word::before {
        padding-bottom: 1%;
    }

    .people_cont_inner {
        font-size: 0;
        margin: 6% auto;
    }

    .people_cont_inner > div {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .people_cont_inner > div:nth-child(even) {
        padding-left: 0;
    }

    .people_cont_inner > div:nth-child(odd) {
        padding-right: 0;
    }

    .people_cont_img {
        margin: 10% auto;
    }

    .people_cont_img span {
        font-size: 2.4vw;
        margin-top: 5%;
    }

    .people_text {
        font-size: 2.4vw;
    }

    .people_text span {
        font-size: 4.2vw;
    }

    .product .author_title span {
        width: 46%;

    }

    .product_banner {
        width: 250%;
        padding-bottom: 40%;
        margin-top: 8%;
    }

    .product_banner div {
        padding: 0 0.3% 0 0;
    }

    .product_banner .slick-prev,
    .product_banner .slick-next {
        display: none;
    }

    .product_banner .slick-dots,
    .product_banner .slick-dots li {
        display: none;
    }

    .product_banner span {
        font-size: 4.8vw;
    }

    .product_banner p {
        font-size: 2.4vw;
        line-height: 1.5;
    }
}

/*專題*/
.report_01 .nav_list_m {
    display: none;
}

.report_top_img {
    width: 133%;
	height: 0;
	padding-bottom:56%;
    position: relative;
    margin-bottom: 9%;
	margin-left:-16.5%;
	overflow: hidden;
}

.report_top_img img {
    z-index: 1;
    position: relative;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.report_top_title span {
    display: block;
    position: relative;
    width: 53%;
    background-color: #5BAE7F;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-family: 'Noto Serif TC';
    font-weight: 700;
    font-size: 1.6vw;
    padding: 4% 10%;
    box-sizing: border-box;
    line-height: 1.5;
	margin: -50% auto 0 auto;
}

.main_wrap.report_01 .tip_no.inner_page_title {
    margin: 10% auto 5% auto;
}

.part_wrap {
    width: 100%;
    margin: 6% auto;
    font-size: 0;
    text-align: left;
}

.part_wrap > div {
    display: inline-block;
    vertical-align: middle;
}

.part_img {
    width: 45%;
}

.part_cont {
    width: 55%;
}

.part_word {
    width: 100%;
    background-color: #FFF;
    box-sizing: border-box;
    padding: 8% 8%;
}

.part_word span {
    font-family: 'Noto Serif TC';
    font-weight: 700;
    font-size: 1.6vw;
    text-align: left;
    line-height: 1.5;
    display: block;
    margin-bottom: 3%;
}

.part_word p {
    font-size: 1vw;
    line-height: 1.5;
    padding: 0 12% 0 0;
}

.part_banner {
    height: 0;
    background-color: #F4F4F5;
    padding: 8% 0 48% 0;
}

.part_banner > div {
    width: 120%;
    overflow: hidden;
}

.part_banner_inner {
    width: 100%;
    padding-bottom: 12%;
    margin-left: 4%;
}

.part_banner_inner div {
    box-sizing: border-box;
    padding: 0 0.3%;
    position: relative;
}

.part_item {
    background-color: #fff;
}

.part_banner_inner div span,
.part_banner_inner_03 div span {
    display: block;
    font-family: 'Noto Serif TC';
    font-weight: 700;
    font-size: 1.2vw;
    text-align: left;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 6% 5%;
}

.part_banner_inner div a,
.part_banner_inner_03 div a {
    display: block;
    margin-left: 6%;
    padding-bottom: 15%;
    transition: 0.2s;
}

.part_banner_inner div a:hover,
.part_banner_inner_03 div a:hover {
    transform: translateX(3%);
}


.part_banner_inner div a img,
.part_banner_inner_03 div a img {
    width: 36%;
}

.part_banner_inner .slick-prev,
.part_banner_inner .slick-next {
    width: 4%;
    padding-bottom: 4%;
    top: 89%;
}

.part_banner_inner .slick-prev {
    left: 2%;
}

.part_banner_inner .slick-next {
    right: auto;
    left: 7%;
}

.part_cont_03 {
    position: relative;
    width: 100%;
    margin: 10% auto 0 auto;
}

.inner_pgae_cont > div:nth-child(even) div.part_banner_inner {
    margin-left: -22%;
}

.inner_pgae_cont > div:nth-child(even) div.part_banner_inner .slick-prev {
    left: auto;
    right: 5%;
}

.inner_pgae_cont > div:nth-child(even) div.part_banner_inner .slick-next {
    left: auto;
    right: 0;
}

.part_03_inner_wrap {
    background-color: #F4F4F5;
    height: 0;
    padding-top: 24.5%;
    padding-bottom: 38%;
    margin-top: -21%;
}

.part_03_inner_wrap .part_03_title {
    font-size: 1.6vw;
    font-family: 'Noto Serif TC';
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 8%;
}


.part_03_img {
    width: 70%;
    margin: 0 auto;
}

.part_03_word {
    width: 40%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5;
    font-size: 1vw;
}

.part_banner.part_03 {
    width: 70%;
    margin: 0 auto;
}

.part_03_banner {
    margin: -4.5% auto 0 auto;
}

.part_03_banner .part_banner {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 30%;
    background-color: transparent;
}

.part_03_banner .part_banner .part_banner_inner_03 div {
    padding: 0 0.3%;
}

.part_03_banner .part_banner .part_banner_inner_03 {
    padding-bottom: 12%;
}

.part_banner_inner_03 .slick-prev,
.part_banner_inner_03 .slick-next {
    width: 4%;
    padding-bottom: 4%;
    top: auto;
    bottom: 2%;
}

.part_banner_inner_03 .slick-prev {
    left: auto;
    right: 23%;
}

.part_banner_inner_03 .slick-next {
    left: auto;
    right: 17%;
}

.report_nav {
    background-color: rgba(91, 174, 127, 0.8);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
    height: 100vh;
    width: 8%;
    box-sizing: border-box;
    padding: 2% 1.2%;
    text-align: center;
    transition: 0.3s;
}

.report_nav.click {
    right: 32%;
}

.report_nav .btn_hum {
    display: inline-block;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    position: relative;
    margin: 40% 0;
    z-index: 20;
}

.report_nav .btn_hum span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 22%;
    transition: 0.3s;
    border-radius: 100px;
}

.report_nav .btn_hum.click span:nth-child(1) {
    transform: rotate(-45deg);
    position: absolute;
    top: 45%;
}

.report_nav .btn_hum.click span:nth-child(2),
.report_nav .btn_hum.click span:nth-child(3) {
    transform: rotate(45deg);
    position: absolute;
    top: 22%;
    width: 44%;
}

.report_nav .btn_hum.click span:nth-child(3) {
    top: 70%;
    left: 52%;
}

.report_nav .logo_s {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    z-index: 50;
    position: relative;
}

.report_nav_link {
    width: 100%;
    position: fixed;
    top: 28vw;
    right: -46.2%;
    transform: rotate(90deg);
    transition: 0.3s;
    z-index: 15;
}

.report_nav_link.click {
    right: -14%;
}

.report_nav_link a {
    display: inline-block;
    color: #fff;
    font-size: 1vw;
    font-weight: 100;
    padding: 0.5% 0;
    border-radius: 100em;
    vertical-align: middle;
    width: 6.5%;
    text-align: center;
}

.report_nav_link a:hover {
    background-color: #5BAE7F;
}

.report_nav_link span {
    display: inline-block;
    width: 0.2%;
    height: 0;
    padding-bottom: 0.2%;
    border-radius: 100em;
    background-color: #fff;
    vertical-align: middle;
    margin: 0 1%;
}

.report_01 .nav_list_m {
    position: fixed;
    width: 0;
    height: 100vh;
    display: block;
    background-color: transparent;
    z-index: 10;
    display: block;
}

.report_01 .nav_list_right {
    display: block;
    width: 32%;
    position: fixed;
    background-color: #fff;
    right: -50%;
    height: 100vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    padding: 1% 3% 8% 3%;
    margin-top: 0;
    overflow-y: scroll;
    transition: 0.3s;
}

.report_01 .nav_list_right.click {
    right: 0;
}

.report_01 .nav_list_right .search_box {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 10% auto;
    width: 100%;
    box-shadow: none;
    border: 1px solid #AEB6C2;
    padding: 2% 5%;
    box-sizing: border-box;
    margin-bottom: 20%;
}

.report_01 .nav_list_right .search_box input::placeholder {
    font-size: 1.2vw;
}

.report_01 .nav_list_right .search_box a {
    font-size: 1.2vw;
    padding: 4% 2%;
    top: 180%;
    right: 0;
}

.report_01 .nav_list_right.fixed_bar {
    margin-top: 0;
}

.report_01 .nav_list_right ul li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #AEB6C2;
    box-sizing: border-box;
    padding: 4% 0;
    position: relative;
}

.report_01 .nav_list_right ul li a,
.report_01 .nav_list_right ul li div {
    color: #313131;
    font-size: 1.2vw;
}

.report_01 .nav_list_right ul li div span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 75%;
}

.report_01 .nav_list_right ul li div span::after {
    content: '>';
    color: #AEB6C2;
    font-size: 2vw;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    transition: 0.3s;
    font-weight: 100;
}

.report_01 .nav_list_right ul li div.click span::after {
    transform: translateY(-50%) rotate(90deg);
}

.report_01 .nav_list_right ul li a:hover,
.report_01 .nav_list_right ul li div:hover {
    color: #5BAE7F;
    cursor: pointer;
}

.report_01 .nav_list_right ul li img {
    width: 16%;
    margin-right: 5%;
    vertical-align: middle;
}

.report_01 .inner_link {
    margin: 5% 0 0 0;
    display: none;
}

.report_01 .inner_link.click {
    display: block;
}

.report_01 .inner_link a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 4% 0 4% 24%;
}

.report_01 .sns_right {
    padding: 3% 0 0 0;
}

.report_01 .sns_right li {
    border-bottom: 0 !important;
}

.report_01 .sns_right li a {
    color: #ADB6C3 !important;
    border-bottom: 0 !important;
    padding-left: 10%;
    letter-spacing: 2px;
}

.report_01 .sns_right li a img {
    height: 2vw;
    width: auto;
    vertical-align: middle;
    margin-right: 10%;
}

.inner_wrapper.report_01.fixed_bar {
    padding-top: 0;
}

@media (max-width:960px) {
    .inner_wrapper.report_01 .header {
        display: block;
    }

    .report_01 .nav_list_m {
        display: block;
        right: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        display: block;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 6;
        display: none;
    }

    .report_top_img {
        width: 100%;
        position: relative;
        margin-bottom: 9%;
    }

    .report_top_img.fixed_bar {
        padding-top: 32.2%;
    }

    .report_top_img img {
        z-index: 1;
        position: relative;
    }

    .report_top_img span {
        position: relative;
        width: 100%;
        left: 0;
        font-size: 6.4vw;
        padding: 6% 8%;
        letter-spacing: 2px;
    }

    .main_wrap.report_01 .tip_no.inner_page_title {
        margin: 30% auto 8% auto;
    }

    .part_wrap {
        width: 112%;
        margin-left: -6%;
    }

    .part_img {
        width: 112%;
        margin-left: -6%;
    }

    .part_cont {
        width: 100%;
    }

    .part_word {
        width: 100%;
        padding: 6% 5%;
    }

    .part_word span {
        font-size: 6.4vw;
        box-sizing: border-box;
        padding: 0 5%;
        margin-bottom: 3%;
        margin-left: -2%;
    }

    .part_word p {
        font-size: 3.2vw;
        padding: 0 5%;
        margin-left: -2%;
    }

    .part_banner {
        width: 130%;
        margin-left: -15%;
        height: 0;
        background-color: #F4F4F5;
        padding: 8% 0 71% 0;
    }

    .part_banner > div {
        width: 100%;
        overflow: hidden;
    }

    .part_banner_inner {
        width: 100%;
        padding-bottom: 12%;
        margin-left: 14%;
    }

    .part_banner_inner div {
        box-sizing: border-box;
        padding: 0 0.3%;
        position: relative;
    }

    .part_banner_inner div span,
    .part_banner_inner_03 div span {
        font-size: 3.2vw;
        text-align: left;
        line-height: 1.5;
        box-sizing: border-box;
        padding: 6% 5%;
    }

    .part_banner_inner .slick-prev,
    .part_banner_inner .slick-next {
        display: none !important;
    }

    .part_cont_03 {
        position: relative;
        width: 112%;
        margin: 10% auto 0 -6%;
    }

    .inner_pgae_cont > div:nth-child(even) {
        position: relative;
    }

    .inner_pgae_cont > div:nth-child(even) .part_cont {
        position: relative;
        margin-top: 150%;
    }

    .inner_pgae_cont > div:nth-child(even) div.part_banner_inner {
        margin-left: 15%;
    }

    .inner_pgae_cont > div:nth-child(even) div.part_img {
        position: absolute;
        top: 5%;
        ;
        left: 0;
    }

    .part_03_inner_wrap {
        background-color: #fff;
    }

    .part_03_inner_wrap .part_03_title {
        font-size: 5.6vw;
        font-family: 'Noto Serif TC';
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 2%;
        text-align: left;
        box-sizing: border-box;
        padding: 0 8%;
    }

    .part_03_img {
        width: 100%;
        margin: 0 auto;
    }

    .part_03_word {
        width: 84%;
        margin: 0 auto;
        text-align: left;
        line-height: 1.5;
        font-size: 3.2vw;
    }

    .part_banner.part_03 {
        width: 100%;
        margin: 0 auto;
    }

    .part_03_banner {
        margin: -4.5% auto 0 auto;
    }

    .part_03_banner .part_banner {
        width: 140%;
        margin: 10% auto;
        overflow: hidden;
        padding-bottom: 75%;
        background-color: #F4F4F5;
    }

    .part_banner_inner_03 > div {
        margin-left: 4%;
    }

    .report_01 .read_more {
        margin-top: 100%;
        margin-bottom: 40%;
    }

    .report_nav {
        height: 0;
        width: 100%;
        padding: 18% 0 5% 0;
        display: none;
    }

    .report_nav.fixed_bar {
        display: block;
    }

    .report_nav.click {
        right: 0;
    }

    .report_nav .btn_hum {
        display: none;
    }

    .report_nav .logo_s {
        display: none;
    }

    .report_nav_link {
        right: 0;
        width: 100%;
        position: fixed;
        top: 0;
        padding-top: 17%;
        transform: rotate(0);
    }

    .report_nav_link.click {
        right: 0;
    }

    .report_nav_link a {
        font-size: 2.4vw;
        padding: 0.5% 0;
        width: 16%;
    }

    .report_nav_link span {
        width: 0.5%;
        padding-bottom: 0.5%;
    }

    .report_01 .nav_list_m {
        display: none;
    }

    .report_01 .nav_list_m.click {
        display: block;
    }

    .report_01 .nav_list_right {
        width: 80%;
        position: fixed;
        background-color: #fff;
        right: -100%;
        height: calc(100vh - 8%);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) inset;
        box-sizing: border-box;
        padding: 5% 8% 8% 8%;
        margin-top: 0;
        overflow-y: scroll;
    }

    .report_01 .nav_list_right.click {
        right: 0;
    }

    .report_01 .nav_list_right .search_box {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin: 10% auto;
        width: 100%;
        box-shadow: none;
        border: 1px solid #AEB6C2;
        padding: 4% 5%;
        box-sizing: border-box;
        margin-bottom: 20%;
    }

    .report_01 .nav_list_right .search_box input::placeholder {
        font-size: 3vw;
    }

    .report_01 .nav_list_right .search_box a {
        font-size: 2.4vw;
        padding: 4% 2%;
        top: 130%;
        right: 0;
    }

    .report_01 .nav_list_right.fixed_bar {
        margin-top: 14.5%;
    }

    .report_01 .nav_list_right ul li {
        display: block;
        width: 100%;
        border-bottom: 2px solid #AEB6C2;
        box-sizing: border-box;
        padding: 7.5% 0;
        position: relative;
    }

    .report_01 .nav_list_right ul li a,
    .report_01 .nav_list_right ul li div {
        color: #313131;
        font-size: 3.6vw;
    }

    .report_01 .nav_list_right ul li div span {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 75%;
    }

    .report_01 .nav_list_right ul li div span::after {
        content: '>';
        color: #AEB6C2;
        font-size: 6vw;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        transition: 0.3s;
    }

    .report_01 .nav_list_right ul li div.click span::after {
        transform: translateY(-50%) rotate(90deg);
    }

    .report_01 .nav_list_right ul li a:hover,
    .report_01 .nav_list_right ul li div:hover {
        color: #5BAE7F;
        cursor: pointer;
    }

    .report_01 .nav_list_right ul li img {
        width: 18%;
        margin-right: 5%;
        vertical-align: middle;
    }

    .report_01 .inner_link {
        margin: 10% 0 0 0;
        display: none;
    }

    .report_01 .inner_link.click {
        display: block;
    }

    .report_01 .inner_link a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 4% 0 4% 24%;
    }

    .report_01 .sns_right {
        padding: 3% 0 0 0;
    }

    .report_01 .sns_right li {
        border-bottom: 0 !important;
    }

    .report_01 .sns_right li a {
        color: #ADB6C3 !important;
        border-bottom: 0 !important;
        padding-left: 10%;
    }

    .report_01 .sns_right li a img {
        height: 4.5vw;
        width: auto;
        vertical-align: middle;
        margin-right: 10%;
    }

    /*固定header*/
    .report_01 .header.fixed_bar {
        padding: 4.2% 5%;
    }

    .report_01 .header.fixed_bar .logo {
        width: 36%;
        padding-bottom: 7%;
    }

    .report_01 .header.fixed_bar .nav_list b {
        display: none;
    }

    .report_01 .header.fixed_bar .nav_list > a,
    .report_01 .header.fixed_bar .nav_list > div {
        position: relative;
        display: inline-block;
        color: #fff;
        margin-left: 5%;
        padding-top: 4%;
        padding-bottom: 4%;
        cursor: pointer;
        margin-top: -2.5%;
    }

}
