// footer
footer{
  width: 100%;
  background: $footer-bg;
}

.footer{
  width: 85%;
  max-width: 1440px;
  padding: 2.5% 0;
  margin: 0 auto;

  .logo{
      width: 150px;
  }

  @media screen and (max-width: 1200px){
      width: 95%;
  }

  @media screen and (max-width: 1024px){
      .logo{
          display: none;
      }
  }

  @media screen and (max-width: 768px){
      padding: 4% 0;
  }
}

.footer_contain{
  width: 100%;
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  li{
      display: inline-block;
      line-height: 1.2;
      vertical-align: middle;
  }

  a{
      display: block;
      font-size: 0.9em;
      letter-spacing: 3px;
      line-height: inherit;
  }

  @media screen and (max-width: 768px){
      padding-top: 0;
  }
}

.footer_menu{
  width: 55%;

  .footer_i{
      padding: 0 1%;

      &:first-child{
          margin-left: -1%;
      }

      &:not(:last-child){
          border-right: 1px solid $font-color-main;
      }
  }

  a{
      transition: font-weight 0.2s linear;

      &:hover{
          font-weight: 700;
          transition: font-weight 0.2s linear;
      }
  }

  @media screen and (max-width: 1024px){
      display: none;
  }
}

.footer_link{
  width: 45%;
  text-align: right;
  line-height: 0;

  li{
      &:not(:last-child){
          margin-right: 2%;
      }

      a{
          border: 1px solid $font-color-sub;
          border-radius: 20px;
          position: relative;
          overflow: hidden;
      }

      img:nth-child(2){
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
      }
  }

  .social a{
      width: 1.7em;
      height: 1.7em;
      border-radius: 50%;
      position: relative;
      transition: background 0.3s linear;

      &:hover{
          background: $font-color-sub;
          transition: background 0.3s linear;

          img:nth-child(2){
              opacity: 1;
          }
      }
  }

  .link{
      a{
          padding: 0.15em 0;
          display: block;
          color: $font-color-sub;
          transition: background 0.3s linear;

          i{
              width: 1em;
              display: inline-block;
          }

          &:hover{
              color: $font-color;
              background: $font-color-sub;
              transition: background 0.3s linear;
          }
      }
  }

  @media screen and (max-width: 1024px){
      width: 100%;
      text-align: center;
  }

  @media screen and (max-width: 480px){
      .link:not(:last-child){
          display: none;
      }
  }
}
