// 顏色
$font-color-main: #000000;
$font-color-sub: #aa9a6f;
$font-color-red: #a4162b;
$font-color: #ffffff;
$btn-dark: #000000;
$btn-light: #aa9a6f;
$bg-color: #ffffff;
$share-color: #b0a271;
$footer-bg: #f0e7d2;

// 字體
@mixin font-main {
    font: {
      family: 'Noto Serif TC', 'Apple LiGothic Medium', 'PMingLiU', 'sans-serif', 'serif';
      size: 16px;
      weight: 400;
    }
    color: $font-color-main;
    line-height: 1.8;
    letter-spacing: 1px;

    @media screen and (max-width: 1024px){
        line-height: 1.5;
    }

    @media screen and (max-width: 512px){
        font-size: 13px;
    }
}

@mixin font-en {
    font: {
      family: 'fertigo-script', 'sans-serif', serif;
      size: 1.4em;
      style: italic;
    }
    letter-spacing: 0px;
}

// 連結按鈕
@mixin btn-style {
    width: 70%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    display: block;
    transition: background 0.3s linear,
                border 0.3s linear;

    &:hover{
        transition: background 0.3s linear,
                    border 0.3s linear;

        .t::after{
            left: 110%;
            transition: left 0.3s linear;
        }
    }

    .t{
        padding-right: 5%;
        text-align: center;
        font: {
            size: 1.1em;
            weight: 600;
        }
        line-height: 1;
        letter-spacing: 0;
        color: $font-color;
        transition: color 0.3s linear;
        position: relative;

        &::after{
            content: '>';
            font-weight: 300;
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translate(0, -50%);
            transition: left 0.3s linear;
        }
    }

    @media screen and (max-width: 768px){
        padding: 2% 0;
        color: $btn-light;
        transition: none;
    }
}

// 輪播左右鍵
%carouselbtn-style {
    width: 9vw;
    max-width: 50px;
    height: 9vw;
    max-height: 50px;
    display: inline-block;
    opacity: .5;
    transition: opacity 0.3s linear;
    cursor: pointer;

    &.item_next{
        transform: rotate(180deg);
    }

    &:hover{
        opacity: 1;
        transition: opacity 0.3s linear;
    }
}

// 輪播點點
%slidedot-style {
    width: 12px;
    height: 12px;
    margin: 0 3px;
    border-radius: 50%;
    background: $btn-dark;
    display: inline-block;
    opacity: .5;
    cursor: pointer;
    transition: opacity 0.3s linear;

    &.active{
        opacity: .2;
    }

    &:hover{
        opacity: 1;
        transition: opacity 0.3s linear;
    }
}

// 商品單圖
%productbox-style {
    width: 90%;
    margin: 0 auto;
    position: relative;

    a{
        display: block;

        &:hover{
            .btn_light{
                background: $bg-color;
                border-color: $btn-light;

                .t{
                    color: $font-color-sub;
                }

                .t::after{
                    left: 110%;
                    transition: left 0.3s linear;
                }
            }
        }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 100%;
    }
}

%productlist-style {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;

    .name{
        text-align: center;
        margin-top: -12%;
        padding-bottom: 5%;
        font-weight: 700;
    }

    @media screen and (max-width: 1024px){
        width: 100%;
    }

    @media screen and (max-width: 768px){
        width: 80%;
        display: block;
    }
}

%product-style {
    width: 1 / 3 * 100%;

    @media screen and (max-width: 768px){
        width: 100%;
        margin-right: -100%;
        float: left;
        position: relative;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        opacity: 0;
        display: none;
        transition: opacity 0.3s linear, transform 0.6s ease-out;

        &.active{
            opacity: 1;
            display: block;
          }

        &.prev{
            transform: translate(-100%);
        }

        &.next{
            transform: translate(100%);
        }
    }
}

%productimg-style {
    width: 100%;
    padding: 15%;
    position: relative;

    &::before{
        content: '';
        width: 100%;
        padding-top: 688px / 842px * 100%;
        background: url(../images/index/p_bg.png) 50% / 100% no-repeat;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        opacity: .3;
        transition: opacity 0.3s linear;
    }

    .p{
        width: 90%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
}

// 框框副標
%subtext-style{
    text-align: center;

    img{
        width: auto;
        height: 49px;
        display: inline-block;

        @media screen and (max-width: 1024px){
            height: 43px;
        }

        @media screen and (max-width: 512px){
            height: 38px;
        }
    }

    div{
        width: auto;
        margin-left: -6px;
        padding: 6px 2% 10px 2%;
        background: url(../images/index/author_m.png) 50% / contain repeat-x;
        display: inline-block;
        vertical-align: middle;
        font: {
            size: 1em;
            weight: 700;
        }

        & ~ .sub_text_r{
            margin-left: -6px;
        }

        span{
            height: 33px;
            line-height: 1.6;
            font: {
                size: 1.15em;
                weight: 700;
            }
            display: block;
            overflow: hidden;

            @media screen and (max-width: 1024px){
                height: 27px;
            }

            @media screen and (max-width: 512px){
                height: 22px;
            }
        }
    }
}

// 單圖 banner
%banner-style{
    width: 100%;
    background: {
        size: cover;
        position: 50%;
        repeat: no-repeat;
    }
}

// 文字超過字數隱藏
%text-hidden{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}