@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");

/*動畫*/


/*action*/

@-webkit-keyframes updown {
	0% {
		transform: translateY(10%);
	}

	100% {
		transform: translateY(-10%);
	}
}

@keyframes updown {
	0% {
		transform: translateY(10%);
	}

	100% {
		transform: translateY(-10%);
	}
}

.updown {
	animation-name: updown;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 3s;
	animation-timing-function: linear;
}

@keyframes shine {
	from {
		opacity: 1.0;
		transform: scale(1.0);
	}

	50% {
		opacity: 0.8;
		transform: scale(0.6);
	}

	to {
		opacity: 1.0;
		transform: scale(1.0);
	}
}

.shine {
	animation-name: shine;
	animation-iteration-count: infinite;
}

@keyframes fadeA {
	0% {
		opacity: 1.0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1.0;
	}
}

.fadeA {
	animation-name: fadeA;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@keyframes fadeB {
	0% {
		opacity: 0.8;
	}

	50% {
		opacity: 0.4;
	}

	100% {
		opacity: 0.8;
	}
}

.fadeB {
	animation-name: fadeB;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@keyframes fadeC {
	0% {
		opacity: 0.8;
		transform: translateY(3%);

	}

	50% {
		opacity: 0.2;
		transform: translateY(-5%);

	}

	100% {
		opacity: 0.8;
		transform: translateY(3%);

	}
}

.fadeC {
	animation-name: fadeC;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}


@-webkit-keyframes a {
	0% {
		left: -100%;
		opacity: 0
	}

	15% {
		opacity: .8
	}

	25% {
		opacity: .8
	}

	30% {
		left: 150%;
		opacity: 0
	}

	to {
		left: 150%;
		opacity: 0
	}
}

@keyframes a {
	0% {
		left: -100%;
		opacity: 0
	}

	15% {
		opacity: .8
	}

	25% {
		opacity: .8
	}

	30% {
		left: 150%;
		opacity: 0
	}

	to {
		left: 150%;
		opacity: 0
	}
}


/*動畫 end*/

.antiaging_essence fieldset,
.antiaging_essence img {
	border: 0;
}

.antiaging_essence img {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.antiaging_essence ol,
.antiaging_essence ul,
.antiaging_essence li {
	list-style: none;
}

.antiaging_essence a {
	text-decoration: none;
	border: 0;
}

.antiaging_essence input,
.antiaging_essence button,
.antiaging_essence textarea,
.antiaging_essence select,
.antiaging_essence option {
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: none;
	border: 0;
	border-radius: 100em;
	background-color: transparent;
	color: #000;
	font-family: 'Noto Serif TC', sans-serif !important;
	letter-spacing: 1px;
}

.antiaging_essence input[type="button"],
.antiaging_essence input[type="submit"],
.antiaging_essence input[type="reset"] {
	-webkit-appearance: none;
}

.antiaging_essence textarea {
	-webkit-appearance: none;
}

.antiaging_essence textarea:focus,
.antiaging_essence input:focus {
	outline: none;
}

.antiaging_essence * {
	outline: none;
}

.antiaging_essence section {
	width: 100%;
	position: relative;
	display: inline-block;
}

.antiaging_essence select::-ms-expand {
	display: none;
}

.antiaging_essence select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("../images/antiaging_essence/arrow.png") no-repeat scroll 95% center transparent;
	background-size: auto 30%;
	border: 0;
	border-radius: 100em;
	background-color: transparent;
	color: #b8b5b5;
	padding-left: 2%;
}

.antiaging_essence option::-ms-expand {
	display: none;
}

.antiaging_essence option {
	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari 和 Chrome */
	appearance: none;
	background-color: #fff;
	color: #000;
	letter-spacing: 1px;

}

.antiaging_essence option:hover {
	background-color: #e8e8e8;
}

.antiaging_essence ::-webkit-input-placeholder {
	/* Edge */
	color: #b8b5b5;
}

.antiaging_essence :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #b8b5b5;
}

.antiaging_essence ::placeholder {
	color: #b8b5b5;
}

.antiaging_essence input:focus::-webkit-input-placeholder {
	color: #000;
}

.antiaging_essence input:focus:-moz-placeholder {
	color: #000;
}

.antiaging_essence input:focus:-ms-input-placeholder {
	color: #000;
}

.antiaging_essence html,
.antiaging_essence body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


/*menu*/
.btn_menu {
	display: none;
}

.antiaging_essence header {
	display: block;
	width: 100%;
	background-color: #fff;
	font-weight: bold;
	padding: 1.5% 0 1.5% 8%;
	font-size: 1vw;
	position: fixed;
	z-index: 20;
}

.antiaging_essence header > a {
	margin-right: 4vw;
	width: 9%;
}

.antiaging_essence header ul li a:hover {
	color: #aa9a6f;
}

.antiaging_essence header > a > img {
	width: 100%;
}

.antiaging_essence header a,
.antiaging_essence header ul,
.antiaging_essence header ul li {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Noto Serif TC', sans-serif !important;

}

.antiaging_essence header ul li {
	margin-right: 4vw;
	letter-spacing: 0.1vw;
}

.antiaging_essence header ul li:nth-last-child(1) {
	margin-right: 0vw;
}

@media (max-width:785px) {
	.antiaging_essence header {
		padding: 1.5% 0 1.5% 6%;
	}
}

@media (max-width:768px) {
	.btn_menu {
		display: block;
		position: absolute;
		width: 5%;
		height: 0;
		padding-bottom: 10%;
		top: 2.8vw;
		right: 2%;
		cursor: pointer;
	}

	.btn_menu div {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #000;
		margin-bottom: 30%;
		transition: all 0.5s ease;
	}

	.btn_menu.click div {
		position: absolute;
		top: 25%;
	}

	.btn_menu.click div:nth-child(1) {
		transform: rotate(45deg);
	}

	.btn_menu.click div:nth-child(2) {
		transform: scale(0);
	}

	.btn_menu.click div:nth-child(3) {
		transform: rotate(-45deg);
	}

	.antiaging_essence header {
		width: 100%;
		min-height: 10vw;
		padding: 1.5% 5%;
		font-size: 14px;
		position: fixed;
		transition: all 0.5s ease;

	}

	.antiaging_essence header > a {
		margin-right: 0;
		width: 20%;
	}

	.antiaging_essence header ul,
	.antiaging_essence header ul li {
		display: block;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		box-sizing: border-box;
		margin-top: 0;
		transition: all 0.8s ease;
	}

	.antiaging_essence header ul li {
		width: 100%;
		padding: 2% 3%;
		margin-right: 0;
	}

	.antiaging_essence header ul {
		margin-top: -150%;
	}

	.antiaging_essence header ul.click {
		margin-top: 0;
	}
}



/*layout*/
.wrapper {
	width: 100%;
	height: auto;
	position: relative;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 16px;
	background-color: #b8d6f0;
	background-size: 100%;
	overflow-x: hidden !important;
}

.for_m {
	display: none;
}

.for_pc {
	display: block;
}

.kv {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 62.5%;
	background-image: url(../images/antiaging_essence/kv_01_02.jpg);
	background-size: 100%;
	margin-top: 6%;

}

.logo {
	position: absolute;
	width: 6%;
	left: 4%;
	padding-top: 3.2%;
	z-index: 2;
}

.logo img {
	width: 100%;
}

.kv h1 {
	position: absolute;
	overflow: hidden;
	width: 36%;
	height: 0;
	padding-bottom: 12%;
	line-height: 200;
	background-image: url(../images/antiaging_essence/kv_title.png);
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-mask-image: url('../images/antiaging_essence/kv_title_mask.png');
	mask-image: url('../images/antiaging_essence/kv_title_mask.png');
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	top: 15vw;
	left: 13.5%;
	z-index: 2;
}

.kv h1:before,
.ticket:before {
	position: absolute;
	width: 30px;
	height: 100%;
	top: 0;
	left: -70%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .8)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .8) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	-webkit-animation: a 10s linear -10s infinite normal;
	animation: a 10s linear -10s infinite normal;
	content: "";
	z-index: 2;
	display: block;
}

.point {
	position: absolute;
	display: block;
	width: 36%;
	height: 0;
	padding-bottom: 11%;
	left: 13.8%;
	top: 30vw;
	z-index: 2;
}

.point.for_m {
	display: none;
}

.point ul {
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 0;
	z-index: 1;
}

.point ul li {
	display: inline-block;
	width: 29.9%;
	text-align: center;
	margin-right: 4%;
	position: relative;
}

.point ul li:last-child {
	margin-right: 0;
}

.point ul:nth-child(1) li img {
	width: 100%;
}

.point ul:nth-child(2) li img {
	width: 49%;
	margin-top: 24.5%;
	margin-left: 24%;
}

.point ul:nth-child(3) {
	z-index: 3;
}

.point ul:nth-child(3) li img {
	width: 30%;
	position: absolute;
	left: -13%;
	top: 3.8vw;
	animation-duration: 3s;
}

.point > img {
	width: 94.8%;
	padding-top: 33%;
	padding-left: 2.5%;
}

img.kv_effect {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	animation-duration: 5s;
}

.kv::before {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../images/antiaging_essence/kv_01_01.png);
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	animation-name: fadeB;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
}

@media(max-width:768px) {
	.wrapper {
		overflow-x: hidden;
	}

	.kv {
		padding-bottom: 159%;
		background-size: 215%;
		background-position: 88% 25vw;
		background-repeat: no-repeat;
		background-color: #f5ecef;
		position: relative;
		z-index: 1;
		margin-top: 9.8%;

	}

	.logo {
		position: absolute;
		width: 10%;
		z-index: 5;
	}

	.kv h1 {
		width: 80%;
		padding-bottom: 30%;
		top: 15vw;
		left: 10%;
	}

	.point {
		width: 90%;
		height: 0;
		padding-bottom: 40%;
		left: 6%;
		top: 0;
		padding-top: 30%;
		margin-top: 122%;
		display: none;
	}

	.point.for_m {
		display: block;
	}

	.point ul:nth-child(3) li img {
		top: 8.8vw;
	}

	img.kv_effect {
		max-width: 215%;
		width: 215%;
		top: 25vw;
		right: -14%;
		left: auto;
	}



}

/*零負評*/
.kv_02 {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 48%;
	display: block;
	background-image: url(../images/antiaging_essence/kv_bg_02.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: -0.5%;
}

.kv_02 .left {
	width: 55.1%;
	position: absolute;
	top: -4.6vw;
	left: 9%;

}

.fo_light {
	position: absolute;
	z-index: 2;
	animation-duration: 6s;
	width: 35%;
	left: 23%;
	top: 13vw;
	animation-name: fadeA;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.kv_02 .left img:nth-child(2) {
	width: 100%;
}

.kv_02 .right {
	position: absolute;
	width: 25.4%;
	top: 1.6vw;
	left: 60.2%;
}

.kv_02 .right img {
	width: 100%;
}

.kv_02 > img {
	position: absolute;
}

img.light_01 {
	z-index: 0;
	display: block;
	width: 19%;
	left: 0%;
	top: -11%;
	animation-duration: 8s;
}

img.light_02 {
	z-index: 0;
	display: block;
	width: 23%;
	right: 0;
	top: 3vw;
	animation-duration: 8s;
}

img.gold {
	z-index: 3;
	display: block;
	width: 20.2%;
	right: 0;
	top: -9.2vw;
}

img.fly_02 {
	z-index: 4;
	display: block;
	width: 14%;
	right: 3%;
	top: 0.8vw;
	animation-delay: 0.5s;
	animation-duration: 3s;
}

img.fly_01 {
	z-index: 4;
	display: block;
	width: 12%;
	left: 3.1%;
	top: 31.6vw;
}

img.fly_03 {
	z-index: 4;
	display: block;
	width: 6%;
	left: 57.5%;
	top: 38vw;
	animation-delay: 0.6s;
}

@media (max-width:768px) {

	.kv_02 {
		padding-bottom: 235%;
		background-image: url(../images/antiaging_essence/kv_02_m.jpg);
		background-position: center top;
		padding-top: 40vw;
		margin-top: -2%;
	}

	.kv_02 .left {
		width: 100%;
		position: relative;
		top: -5vw;
		left: 0%;
		z-index: 2;

	}

	.fo_light {
		left: 25%;
		top: 25vw;
	}

	.kv_02 .right {
		position: relative;
		width: 88%;
		top: 0;
		left: 0;
		z-index: 2;
	}

	.kv_02 .right img {
		width: 100%;
	}

	.kv_02 > img {
		position: absolute;
	}

	img.light_01 {
		width: 30%;
		left: 0%;
		top: 120vw;
	}

	img.light_02 {
		width: 40%;
		right: 0;
		top: auto;
		bottom: -5%;
	}

	img.gold {
		display: none;
	}

	img.fly_02 {
		width: 20%;
		right: 70%;
		top: auto;
		bottom: 2.5%;
		animation-delay: 0.5s;
		animation-duration: 3s;
	}

	img.fly_01 {
		width: 28%;
		left: 69%;
		top: 136vw;
	}

	img.fly_03 {
		display: none;
	}


}

/*成分*/
.info {
	position: relative;
	width: 100%;
	display: block;
	height: 0;
	padding-bottom: 50.5%;
	background-image: url(../images/antiaging_essence/bg_02.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: -0.2%;
}

.info_tip {
	width: 30.2%;
	position: absolute;
	top: 10vw;
	left: 20.5%;
}

.info_tip img {
	position: absolute;
}

.info_tip img:nth-child(1) {
	width: 90%;
	top: -4vw;
	left: 6%;
	z-index: 0;
}

.info_tip img:nth-child(2) {
	width: 52%;
	top: 6.2vw;
	left: 25%;
	z-index: 0;
}

.info_tip img:nth-child(3) {
	width: 34%;
	top: 1vw;
	left: 33%;
	z-index: 1;
}

.info_tip img:nth-child(4) {
	width: 34%;
	top: 11.4vw;
	left: 66%;
	z-index: 1;
}

.info_tip img:nth-child(5) {
	width: 34%;
	top: 11.4vw;
	left: 0%;
	z-index: 1;
}

.OO_text {
	position: absolute;
	width: 35.2%;
	top: 35vw;
	left: 18%;
}

.ch {
	position: absolute;
	width: 53.9%;
	right: 0;
	top: -4vw;
}

.btn_look {
	display: block;
	position: absolute;
	width: 30.5%;
	height: 0;
	padding-bottom: 5.08%;
	left: 20.5%;
	top: 43.5vw;
	background-image: url(../images/antiaging_essence/btn_look.png);
	background-size: auto 100%;
	background-position: top left;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -100%;
	font-size: 0;
}

.btn_look:hover {
	background-position: top right;
}

@media (max-width:768px) {

	.for_pc {
		display: none;
	}

	.for_m {
		display: block;
	}

	.info {
		padding-bottom: 151%;
		background-image: url(../images/antiaging_essence/bg_02_m.png);
		margin-top: -13%;
		padding-top: 90%;
	}

	.info_tip {
		width: 90%;
		height: 0;
		padding-bottom: 90%;
		position: relative;
		top: 0;
		left: -0.9%;
	}

	.info_tip img:nth-child(1) {
		width: 90%;
		top: 9vw;
		left: 5%;
	}

	.info_tip img:nth-child(2) {
		width: 53%;
		top: 39vw;
		left: 25%;
		z-index: 0;
	}

	.info_tip img:nth-child(3) {
		width: 32%;
		top: 27vw;
		left: 35%;
	}

	.info_tip img:nth-child(4) {
		width: 32%;
		top: 54vw;
		left: 64%;
	}

	.info_tip img:nth-child(5) {
		width: 32%;
		top: 54vw;
		left: 7%;
		z-index: 1;
	}

	.OO_text {
		position: relative;
		width: 88%;
		top: 5vw;
		left: 0%;
	}

	.ch {
		display: none;
	}

	.btn_look {
		position: relative;
		width: 87.7%;
		height: 0;
		padding-bottom: 14.6%;
		left: 0;
		top: 15vw;
	}

	.btn_look:hover {
		background-position: top right;
	}
}

/*母親節商品*/
.goods {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 0;
	padding-bottom: 182.7%;
	background-image: url(../images/antiaging_essence/goods_bg.jpg);
	background-size: 100%;
		margin-top: -0.3%;


}

.goods_info {
	width: 70%;
	margin: 12vw auto;
	background-image: url(../images/antiaging_essence/blue_frame_bg.png);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	z-index: 2;
}

.goods_info img:nth-child(1) {
	width: 86%;
	margin: 7.5vw auto 0 -1%;
	display: inline-block;
}

.goods_info img:nth-child(2) {
	width: 97%;
	margin-left: -13%;
	margin-top: 3.6vw;
	margin-top: 3.6vw;
	display: inline-block;

}

.goods_info img:nth-child(3),
.goods_info img:nth-child(4) {
	display: none;
}

.goods_info div:nth-child(5) {
	position: absolute;
	width: 20%;
	height: 0;
	padding-bottom: 20%;
	z-index: 2;
	left: 3.5%;
	top: 22vw;
}

.goods_info div:nth-child(5) img {
	width: 100%;
	animation-duration: 4s;
	top: -60%;
	left: 0;
	position: absolute;
	animation-name: fadeA;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.fly_04,
.fly_05,
.fly_06 {
	position: absolute;
}

.fly_04 {
	width: 12%;
	top: 4vw;
	left: 70%;
	z-index: 3;
}

.fly_05 {
	width: 4%;
	top: 45vw;
	left: 7.5%;
	animation-delay: -2s;
}

.fly_06 {
	width: 6%;
	top: 39vw;
	left: 88%;
	animation-delay: -1s;
}

.mother_title {
	width: 38%;
	margin: -8vw auto 0 auto;
	position: relative;
}

.gift_box {
	background-image: url(../images/antiaging_essence/gift_box_bg.png);
	background-size: 100%;
	width: 77%;
	margin: 6vw 0 0 10%;
	text-align: left;
	z-index: 2;
	position: relative;
}

.gift_box > div {
	position: relative;
}

.btn_tobuy {
	display: block;
	position: absolute;
	width: 24%;
	height: 0;
	padding-bottom: 5.3%;
	background-image: url(../images/antiaging_essence/btn_buy.png);
	background-size: 100%;
}

.btn_tobuy:hover {
	background-position: center bottom;
}

.gift_box_01 img.for_pc,
.gift_box_02 img.for_pc .gift_box_01 img.for_pc {
	display: inline-block;
}

.gift_box_01 img {
	width: 99%;
	margin-top: -3vw;
}

.gift_box_01 .btn_tobuy {
	top: 16vw;
	left: 54.6%;
}

.gift_box_02 img {
	width: 82%;
	margin-top: 2.5vw;
	margin-left: 16%;
}

.gift_box_02 .btn_tobuy {
	top: 17.4vw;
	left: 25.8%;
}

.gift_box_03 img {
	width: 96.8%;
	margin-top: 4.2vw;
	margin-left: 0%;
}

.gift_box_03 .btn_tobuy {
	top: 17.5vw;
	left: 54.5%;
}


.btn_search {
	display: block;
	margin: 5vw auto;
	position: relative;
	width: 25.6%;
	height: 0;
	padding-bottom: 5%;
	background-image: url(../images/antiaging_essence/btn_search.png);
	background-size: 100%;
	font-size: 0;
	overflow: hidden;
	filter: brightness(1.0);
	transition: all 0.3s ease;
	z-index: 3;
}

.btn_search:hover {
	filter: brightness(1.05);
}

.fly_07 {
	width: 12%;
	top: 80vw;
	left: 62%;
	position: absolute;
	z-index: 2;
}

.fly_08 {
	width: 9%;
	top: 143vw;
	left: 88%;
	position: absolute;
	z-index: 2;
}

.weave_01 {
	position: absolute;
	z-index: 1;
	top: -40vw;
	right: 0;
	width: 80%;
	animation-duration: 8s;
}

.weave_02 {
	position: absolute;
	z-index: 1;
	bottom: -30vw;
	left: 0;
	width: 90%;
	animation-duration: 10s;
}

@media (max-width:768px) {

	.goods {
		padding-bottom: 580%;
		background-repeat: no-repeat;
		background-image: url(../images/antiaging_essence/goods_bg_m.jpg);
	}

	.goods_info {
		width: 90%;
		margin: 8vw auto 0 auto;
		padding-bottom: 20%;
		background-image: url(../images/antiaging_essence/blue_frame_m.png);
	}

	.goods_info img:nth-child(1),
	.goods_info img:nth-child(2) {
		display: none;
	}

	.goods_info img:nth-child(3),
	.goods_info img:nth-child(4) {
		display: inline-block;
	}

	.goods_info img:nth-child(3) {
		width: 102%;
		margin: 20vw auto 0 -2%;
	}

	.goods_info img:nth-child(4) {
		width: 94.5%;
		position: absolute;
		top: 78vw;
		left: -1.5%;
		z-index: 1;
	}

	.goods_info div:nth-child(5) {
		width: 20%;
		left: 13.5%;
		top: 85vw;
	}

	.goods_info div:nth-child(5) img {
		top: -60%;
		left: 0;
		display: block;

	}

	.fly_04 {
		display: none;
	}

	.fly_05 {
		width: 10%;
		top: 82vw;
		left: 11%;
		animation-delay: -2s;
	}

	.fly_06 {
		display: none;
	}

	.mother_title {
		width: 75%;
		margin: 4vw auto 0 auto;
		position: relative;
	}

	.gift_box {
		background-image: url(../images/antiaging_essence/gift_box_bg_m.png);
		background-size: 100%;
		width: 100%;
		text-align: left;
		z-index: 2;
		position: relative;
		margin: 5vw auto 0 auto;
		display: block;
	}

	.gift_box > div {
		position: relative;
	}

	.btn_tobuy {
		position: relative;
		width: 70%;
		height: 0;
		padding-bottom: 10.8%;
		background-image: url(../images/antiaging_essence/btn_buy_m.png);
		background-size: 100%;

	}

	.btn_tobuy:hover {
		background-position: center bottom;
	}

	.gift_box_01 {
		margin-top: -10vw;
	}

	.gift_box_01 img {
		width: 95%;
		margin-top: 0vw;
	}

	.gift_box_01 img.for_pc,
	.gift_box_02 img.for_pc .gift_box_01 img.for_pc {
		display: none;
	}

	.gift_box_01 .btn_tobuy,
	.gift_box_02 .btn_tobuy,
	.gift_box_03 .btn_tobuy {
		top: 0;
		margin-top: 3vw;
		left: 0;
	}

	.gift_box_02 img {
		width: 88%;
		margin-top: 3.5vw;
		left: 0%;
		margin-left: 12%;
	}

	.gift_box_03 img {
		width: 97%;
		margin-top: 9vw;
		margin-left: 1.5%;
	}

	.btn_search {
		margin: 14vw auto;
		width: 80%;
		height: 0;
		padding-bottom: 15%;
	}

	.fly_07 {
		display: none;
	}

	.fly_08 {
		display: none;
	}

	.weave_01 {
		display: none;
	}

	.weave_02 {
		bottom: -40vw;
		width: 150%;
	}

}

/*表格*/
.antiaging_essence .form_wrap {
	height: 0;
	padding-bottom: 85%;
	background-size: 100%;
	text-align: center;
	color: #444444;
	background-image: url(../images/antiaging_essence/form_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: visible;

}

.antiaging_essence .form_wrap .title_free {
	width: 100%;
	margin-top: -2vw;
}

.form_text {
	width: 54.2%;
	margin-top: 2.8vw;
	margin-bottom: 2.8vw;
	margin-left: 22.4%;
	margin-right: auto;
	position: relative;
}

.ticket {
	display: block;
	position: absolute;
	width: 45%;
	height: 0;
	padding-bottom: 25%;
	right: -24%;
	top: 9vw;
	-webkit-mask-image: url('../images/antiaging_essence/ticket_mask.png');
	mask-image: url('../images/antiaging_essence/ticket_mask.png');
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	z-index: 2;
}

.ticket_bg {
	display: block;
	position: absolute;
	width: 45%;
	height: 0;
	padding-bottom: 25%;
	background-image: url(../images/antiaging_essence/ticket.png);
	background-size: 100%;
	background-repeat: no-repeat;
	right: -24%;
	top: 9vw;
	z-index: 1;
}

.form_text img {
	width: 100%;
}

.form {
	width: 52%;
	margin: 4vw auto 0 auto;
}

.form ul,
.form ul li {
	width: 100%;
	text-align: left;
}

.form ul li {
	height: 0;
	padding-bottom: 8%;
	margin-bottom: 0.8vw;
	position: relative;
	background-color: #fff;

}

.form ul li img {
	height: 1.3vw;
	display: inline-block;
	margin-left: 4%;
	margin-top: 1.4vw;
}

.form ul li input,
.form ul li select {
	height: 4vw;
	line-height: 4vw;
	width: 83%;
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 3%;
	box-sizing: border-box;
	font-size: 1.5vw;
}

.form ul li select.active{
    color: #000;
    color: #000;
}

.custom-checkbox {
	width: 100%;
	text-align: left;
	margin-top: 7vw;
	padding-left: 0%;
	position: relative;
}

input[type=checkbox] {
	transform: scale(5);
	position: absolute;
	z-index: 2;
	opacity: 0;
	top: 0;
}

.c-ct {
	position: relative;
}

.checkmark {
	position: absolute;
	display: block;
	width: 1.5vw;
	height: 1.5vw;
	z-index: 1;
	background-image: url(../images/antiaging_essence/check_box.png);
	background-size: 100%;
	background-repeat: no-repeat;
	left: 0;
	top: 0;
}

.checkmark.active {
	background-image: url(../images/antiaging_essence/check_box_now.png);
}

.check-content {
	width: 100%;
	padding-left: 4%;
	box-sizing: border-box;
	font-size: 2vw;
	display: block;
	position: relative;
	height: 2vw;
}

.check-content img {
	width: 49%;
	margin-top: 0.1vw;
	position: absolute;
}

.check-content-notice img {
	width: 112%;
	margin-top: 1vw;
	margin-left: 4%;
}

.antiaging_essence .btn_enter {
	width: 23%;
	margin-top: 3vw;
	display: inline-block;
}

.antiaging_essence .btn_enter img {
	width: 100%;
}

.notice {
	width: 100%;
	text-align: center;
	padding: 2% 0;
	background-color: #cddfee;
}

.notice img.for_pc {
	display: inline-block;
}

.notice img {
	width: 65%;
}

.antiaging_essence footer {
	background-color: #b8d6f0;
	color: #6e9ec7;
	font-size: 0.8vw;
	font-weight: normal;
	letter-spacing: 2px;
	padding: 20px 0;
	text-align: center;
}

@media (max-width:768px) {
	.antiaging_essence .form_wrap {
		height: 0;
		padding-bottom: 200%;
		background-size: 100%;
		text-align: center;
		color: #444444;
		background-image: url(../images/antiaging_essence/form_bg_m.jpg);
		background-size: 100%;
		background-position: center bottom;
		background-repeat: no-repeat;
		overflow: visible;

	}

	.antiaging_essence .form_wrap .title_free {
		margin-top: -5.5vw;
	}

	.form_text {
		width: 80%;
		margin-top: 8vw;
		margin-bottom: 8vw;
		margin-left: 10%;
	}

	.ticket,
	.ticket_bg {
		width: 40%;
		height: 0;
		right: 20%;
		top: 34.5vw;
	}

	.form_text img {
		width: 100%;
	}

	.form {
		width: 85%;
		margin: 3vw auto 0 auto;
	}

	.form ul li {
		padding-bottom: 8%;
		margin-bottom: 2vw;
	}

	.form ul li img {
		height: 2.8vw;
		margin-left: 3%;
		margin-top: 2vw;
	}

	.form ul li input,
	.form ul li select {
		height: 7vw;
		line-height: 7vw;
		padding-left: 5%;
		font-size: 0.9rem;
	}

	.custom-checkbox {
		margin-top: 5vw;
	}

	.checkmark {

		width: 3vw;
		height: 3.2vw;
	}

	.check-content {
		width: 100%;
		padding-left: 5%;
		height: 4vw;
	}

	.check-content img {
		width: 59%;
		margin-top: 0.3vw;
		position: absolute;
	}

	.check-content-notice img {
		width: 94%;
		margin-top: 2vw;
		margin-left: 5%;

	}

	.antiaging_essence .btn_enter {
		width: 32%;
		margin-top: 10vw;
		display: inline-block;

	}

	.antiaging_essence .btn_enter img {
		width: 100%;
	}

	.notice {
		width: 100%;
		text-align: center;
		padding: 0% 0 5% 0;
		background-color: #cddfee;
	}

	.notice img.for_pc {
		display: none;
	}

	.notice img {
		width: 90%;
		margin-left: 5%;
	}

	.antiaging_essence footer {
		background-color: #b8d6f0;
		color: #6e9ec7;
		font-size: 14px;
		font-weight: normal;
		letter-spacing: 2px;
		padding: 20px 0;
		text-align: center;
	}
}

/* popup */
.popup {
	width: 100%;
	height: 100vh;
	background-color: rgba(25, 78, 147, 0.36);
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 99999;
}

.popup_wrap {
	width: 31.7708%;
	max-width: 608px;
	max-height: 69.4%;
	padding: 0;
	background-color: #fff;
	border: 2px solid #194e93;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: scroll;
}

.popup_send {
	width: 100%;
}

.popup_close {
	width: 8%;
	max-width: 8%;
	height: auto;
	display: block;
	position: fixed;
	top: 4%;
	left: 89%;
	transition: 0.5s transform linear;
	cursor: pointer;
	z-index: 5;
}

img.popup_close {
	pointer-events: auto;
	-webkit-user-select: auto;
	-moz-user-select: auto;
}

.popup_close:hover {
	display: block;
	transform: rotate(180deg);
	transition: 0.5s transform linear;
}

.popup_wrap::-webkit-scrollbar {
	width: 0;
}

@media (max-width:768px) {
	.popup_wrap {
		width: 70%;
		max-width: 70%;
		border: 2px solid #194e93;
		border-radius: 16px;
	}
}

.popup {
    
}
