@charset "utf-8";

button:active,
button:focus {
	outline: none;
	border: 0;
	font-size: 0;
}

@keyframes lightMove {
	0% {
		left: -20%;
	}

	30% {
		left: 100%;
	}

	to {
		left: 100%;
	}
}

@keyframes shining {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes bgAction {
	0% {
		opacity: 0;
		transform: scale(2) rotate(0deg);
		filter: blur(0px);
	}

	50% {
		opacity: 0.5;
		transform: scale(4) rotate(180deg);
		filter: blur(10px);
	}

	100% {
		opacity: 0;
		transform: scale(2) rotate(360deg);
		filter: blur(0px);
	}
}

.bgAction {
	animation-name: bgAction;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
	transform-origin: center center;
}




/*主視覺*/
.radiant_white_new {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #fff;
	background-image: none;
}

.radiant_white_new *{
	font-family: 'Noto Serif TC';
}

.radiant_white_new .main_kv {
	width: 100%;
	position: relative;
	background-image: url(../images/radiant_white_new/kv-img.jpg);
	background-size: 100%;
	background-position: center -2%;
	background-repeat: no-repeat;
	font-size: 0;
	padding: 0;
}

.radiant_white_new .main_kv::before {
	display: block;
	position: absolute;
	width: 30%;
	height: 0;
	padding-bottom: 30%;
	content: '';
	z-index: 0;
	background-color: #fff;
	border-radius: 100vw;
	filter: blur(50px);
	opacity: 0.5;
	top: -25%;
	left: 50%;
	-webkit-animation: shining 6s ease infinite;
	animation: shining 6s ease infinite;
	animation: shining 6s ease infinite;
	
}



.radiant_white_new .kv_girl {
	width: 38%;
	display: inline-block;
	position: relative;
	margin: 3% 0 0 0;
	vertical-align: top;
	opacity: 0;
	animation-fill-mode: forwards;
}

.radiant_white_new .kv_title {
	position: relative;
	width: 47.6%;
	display: inline-block;
	vertical-align: top;
	overflow: visible;
	margin-top: 8%;
	margin-left: -7%;

}

.radiant_white_new .kv_title h1 {
	display: block;
	width: 100%;
	background-image: url(../images/radiant_white_new/kv_text_01.png);
	background-size: 100%;
	padding-bottom: 7%;
	background-repeat: no-repeat;
	background-position: center top;
	z-index: 0;
	position: relative;
	-webkit-mask-image: url(../images/radiant_white_new/kv_text_01.png);
	mask-image: url(../images/radiant_white_new/kv_text_01.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	animation-fill-mode: forwards;
	opacity: 0;
}


.radiant_white_new .light_move_in {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: -20%;
	background: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, .1)), color-stop(50%, hsla(0, 0%, 100%, .5)), color-stop(60%, hsla(0, 0%, 96%, .5)), to(hsla(0, 0%, 100%, 0)));
	background: linear-gradient(90deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 96%, .5) 60%, hsla(0, 0%, 100%, 0));
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	z-index: 2;
	display: block;
}

.light_move {
	-webkit-animation: lightMove 8s linear infinite normal;
	animation: lightMove 8s linear infinite normal;
	animation: lightMove 8s linear infinite normal;
}


.radiant_white_new .kv_title .kv_title_02 {
	width: 95%;
	margin: 4% auto;
}

.radiant_white_new .kv_title_light {
	position: absolute;
	z-index: 5;
	opacity: 0;
	width: 20%;
	right: -9%;
	left: auto;
	top: -11%;

}

.shining {
	-webkit-animation: shining 2s ease infinite;
	animation: shining 2s ease infinite;
	animation: shining 2s ease infinite;
}

.radiant_white_new .kv_light_02 {
	opacity: 1;
	width: 8%;
	top: 72.2%;
	left: 43.5%;
}

@media(max-width:768px) {

	.radiant_white_new .main_kv {
		background-image: url(../images/radiant_white_new/kv-img_m.jpg);
		height: 0;
		padding-bottom: 92%;
		background-position: center top;
	}

	.radiant_white_new .kv_girl {
		width: 45%;
		position: absolute;
		margin: 0 0 0 0;
		left: -3%;
		top: 23%;
	}

	.radiant_white_new .kv_title {
		position: relative;
		width: 76%;
		margin-top: -32%;
		padding-top: 0;
		margin-left: 12%;
	}

	.radiant_white_new .kv_title .kv_title_02 {
		width: 34%;
		margin: 2% auto;
	}

	.radiant_white_new .kv_title_light {
		top: -17%;

	}

	.radiant_white_new .kv_light_02 {
		opacity: 1;
		width: 14%;
		top: 82%;
		left: 73%;
	}
}

/*yt*/
.yt_video {
	width: 100%;
	position: relative;
	margin: 0 auto;
	z-index: 3;
}

.video_wrapper {
	position: relative;
	margin: 0 auto;
	width: 72.9%;
	background-image: url(../images/radiant_white_new/yt_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	padding-bottom: 41%;
	height: 0;
	overflow: hidden;
}

.video_wrapper iframe,
.video_wrapper object,
.video_wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width:768px) {

	.video_wrapper {
		width: 92%;
		padding-bottom: 51.8%;
	}
}

/*新品內容*/
.s_02_cont {
	position: relative;
	background-image: url(../images/radiant_white_new/s_02_bg.jpg);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 43%;
	margin-top: -32%;
	z-index: 2;
	height: 0;
	padding-bottom: 55%;
}

.s_02_title {
	width: 62.5%;
	margin: 0 auto;
	position: relative;
}

.s_02_title img:nth-child(2) {
	margin: 2% auto;
	width: 95%;
}

.s_02_cont_left {
	width: 45%;
	position: relative;
	margin-left: 4%;
	margin-top: -1%;
	height: 0;
	padding-bottom: 35%;
}

.s_02_cont_left > div {
	width: 48%;
	position: absolute;
}

.p_01 > img:nth-child(1) {
	width: 55%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.p_01 > img:nth-child(2) {
	width: 85%;
	position: absolute;
	left: 0;
	margin-top: 46%;
	z-index: 2;
}

.p_02 {
	top: 20%;
	right: 5%;
}

.p_02 > img:nth-child(1) {
	width: 50%;
	position: absolute;
	right: 9%;
	margin-top: 2%;
	z-index: 0;
}

.p_02 > img:nth-child(2) {
	width: 95%;
	position: absolute;
	left: 0;
	margin-top: 36%;
	z-index: 2;
}

.p_03 {
	top: 56%;
	left: 5%;
}

.p_03 > img:nth-child(1) {
	width: 65%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

.p_03 > img:nth-child(2) {
	width: 106%;
	position: absolute;
	left: 50%;
	margin-top: 25%;
	z-index: 2;
}

.s_02_cont > span {
	font-size: 12px;
	display: block;
	position: absolute;
	bottom: 1.5%;
	right: 2%;
	transform: scale(0.55);
	transform-origin: right bottom;
}

.s_02_cont > p {
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 1.8vw;
	position: absolute;
	bottom: 4%;
}

@media (max-width:768px) {

	.s_02_cont {
		background-image: url(../images/radiant_white_new/s_02_bg_m.jpg);
		padding-bottom: 230%;
	}

	.s_02_title img:nth-child(4) {
		margin: 4% auto 2% -15%;
		width: 130%;
	}

	.s_02_cont_left {
		width: 92%;
		margin-left: 4%;
		margin-top: 5%;
		height: auto;
		padding-bottom: 0;
	}

	.s_02_cont_left > div {
		width: 100%;
		position: relative;
		font-size: 0;
		margin-top: 2%;
	}

	.p_01 > img:nth-child(3) {
		width: 40%;
		display: inline-block;
		position: relative;
		right: auto;
		vertical-align: top;
	}

	.p_01 > img:nth-child(4) {
		width: 55%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-left: 2%;
		margin-top: 8%;
	}

	.p_02 {
		top: auto;
		right: auto;
		margin-top: -4% !important;
	}

	.p_02 > img:nth-child(3) {
		width: 40%;
		display: inline-block;
		position: relative;
		right: auto;
		vertical-align: top;
		float: right;
	}

	.p_02 > img:nth-child(4) {
		width: 55%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-left: 2%;
		margin-top: 8%;
	}

	.p_03 {
		top: auto;
		left: auto;
	}

	.p_03 > img:nth-child(1) {
		width: 65%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
	}

	.p_03 > img:nth-child(3) {
		width: 46%;
		display: inline-block;
		position: relative;
		right: 0;
		margin-left: -3%;
		vertical-align: top;
		float: left;
	}

	.p_03 > img:nth-child(4) {
		width: 55%;
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-left: -2%;
		margin-top: 8%;
	}

	.s_02_cont > span {
		display: none;
	}

	.s_02_cont > p {
		width: 18em;
		font-size: 2.8vw;
		bottom: 2.5%;
		left: 50%;
		margin-left: -9em;
	}
}

/*雪系列產品*/
.s_03_cont {
	width: 100%;
	background-image: url(../images/radiant_white_new/s_04_bg.jpg);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	padding-bottom: 7.4%;
}

.s_03_title {
	width: 31.1%;
	margin: 0 auto 6% auto;
	padding-top: 5%;
}

.s_03_title img:nth-child(1) {
	width: 100%;
}

.s_03_title img:nth-child(2) {
	width: 200%;
	margin-left: -50%;
	margin-top: 4%;
}

.s_03_cont_shop {
	width: 72.9%;
	margin: 0 auto;
}

.s_03_cont_shop div {
	position: relative;
}

.s_03_cont_shop div a {
	display: inline-block;
	width: 40%;
	position: absolute;
	z-index: 5;
	bottom: 8%;
	left: 32%;
	transition: 0.3s;
}

.s_03_cont_shop div a:hover {
	transform: scale(1.1);
}

.s_03_cont_shop .slick-arrow {
	background-color: transparent;
	opacity: 1;
	width: 5%;
	height: 0 !important;
	font-size: 0;
	max-width: 5%;
	padding-bottom: 8%;
	background-repeat: no-repeat !important;
	position: absolute !important;
	font-size: 0 !important;
}

.s_03_cont_shop .slick-arrow.slick-next {
	background-image: url(../images/radiant_white_new/arrow_prev.png);
	background-size: 100% !important;
	right: -2%;
	background-repeat: no-repeat;
	position: absolute;
}

.s_03_cont_shop .slick-arrow.slick-prev {
	background-image: url(../images/radiant_white_new/arrow_prev.png);
	background-size: 100% !important;
	left: -1%;
	position: absolute !important;

}

@media(max-width:768px) {

	.s_03_cont {
		background-image: url(../images/radiant_white_new/s_03_bg_m.jpg);
		padding-bottom: 7.4%;
		padding-top: 5%;
	}

	.s_03_title {
		width: 90%;
		margin: 0 auto 6% auto;
		padding-top: 5%;
	}

	.s_03_title img:nth-child(1) {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.s_03_title img:nth-child(2) {
		width: 100%;
		margin-left: 0;
		margin-top: 4%;
	}

	.s_03_cont_shop {
		width: 60%;
	}

	.s_03_cont_shop .slick-arrow {
		width: 15%;
		max-width: 15%;
		padding-bottom: 15%;
	}

	.s_03_cont_shop .slick-arrow.slick-next {
		right: -16%;
	}

	.s_03_cont_shop .slick-arrow.slick-prev {
		left: -15%;
	}
}

/*雪白再升級*/
.s_04_cont {
	width: 100%;
	position: relative;
	background-image: url(../images/radiant_white_new/s_05_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 53.5%;
	font-size: 0;
	overflow: hidden;
}

.bg_light {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.s_04_item {
	position: relative;
	display: inline-block;
	width: 20%;
	margin-left: 13%;
	margin-top: 4%;
}

.s_04_title {
	display: inline-block;
	width: 53%;
	margin-left: -0.5%;
	padding-top: 3%;
	vertical-align: top;
	text-align: center;
	position: relative;
}

.s_04_title img {
	display: inline-block;
}

.s_04_title .light_02 {
	position: absolute;
	width: 12%;
	right: 0;
	top: 33%;
	opacity: 0;
}

.s_04_title img:nth-child(1) {
	width: 40%;
}

.s_04_title img:nth-child(2) {
	margin: 3% auto;
	width: 90%;
}

.s_04_title img:nth-child(3) {
	width: 65%;
}

.s_04_title img:nth-child(4) {
	margin: 5% auto;
	width: 90%;
}

.s_04_info {
	display: inline-block;
	width: 53%;
	position: absolute;
	left: 32.3%;
	text-align: center;
	top: 58%;
}

.s_04_info span {
	width: 100%;
	display: block;
	text-align: center;
	font-weight: 500;
	padding-top: 6%;
	font-size: 1.6vw;
}

.s_04_title img.for_pc {
	display: inline-block;
}

.s_04_title img.for_m {
	display: none;
}

@media (max-width:768px) {
	.s_04_cont {
		position: relative;
		background-image: url(../images/radiant_white_new/bg_05_m.jpg);
		padding-bottom: 160%;
		font-size: 0;
	}

	.s_04_item {
		position: absolute;
		display: inline-block;
		width: 32%;
		margin-left: 0;
		margin-top: 0;
		top: 43%;
		left: 2%;
		z-index: 5;
	}

	.s_04_title {
		display: block;
		width: 76%;
		margin-left: 12%;
		padding-top: 8%;
	}

	.s_04_title img.for_pc {
		display: none;
	}

	.s_04_title img.for_m {
		display: inline-block;
	}

	.s_04_title .light_02 {
		position: absolute;
		width: 12%;
		right: -5%;
		top: 42%;
		opacity: 0;
	}

	.s_04_title img:nth-child(1) {
		width: 52%;
	}

	.s_04_title img:nth-child(2) {
		margin: 8% auto 6% auto;
		width: 100%;
	}

	.s_04_title img:nth-child(3) {
		width: 76%;
		margin-bottom: 6%;
	}

	.s_04_title img:nth-child(5) {
		width: 100%;
	}

	.s_04_info {
		display: block;
		width: 100%;
		position: relative;
		left: 0;
		top: auto;
		margin-top: 14%;
	}

	.s_04_info img {
		width: 78%;
		margin-left: 18%;
	}

	.s_04_info span {
		width: 18em;
		display: block;
		text-align: center;
		font-weight: 500;
		padding-top: 6%;
		font-size: 2.8vw;
		margin-left: auto;
		margin-right: auto;
	}
}

/*新客享獨禮*/
.s_05_cont {
	width: 100%;
	position: relative;
	margin: 0 auto;
	background-image: url(../images/radiant_white_new/s_06_bg.jpg);
	background-size: 100%;
	background-repeat: repeat-y;
}

.s_05_title {
	width: 72.9%;
	margin: 0 auto;
	padding-top: 7.5%;
	margin-bottom: 4%;
}

.s_05_items {
	width: 76%;
	height: 0;
	margin: 0 auto;
	background-image: url(../images/radiant_white_new/shop_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	font-size: 0;
	box-sizing: border-box;
	padding: 4.5% 0.5% 49% 2%;
	position: relative;
}

.s_05_items > div {
	display: inline-block;
	width: 31%;
	margin-left: 1%;
	vertical-align: bottom;
	text-align: center;
	position: relative;
	height: 0;
	padding-bottom: 54%;
}

.s_05_items div > img {
	display: inline-block;
	position: absolute;
	left: 0;
	margin-top: 10%;
	width: 100%;
}

.s_05_items div > a {
	position: absolute;
	bottom: 1.5%;
	display: block;
	width: 70%;
	left: 12%;
	transition: 0.3s;
}

.s_05_items div > a:hover {
	transform: scale(1.1);
}

div.new_item_02 {
	margin-left: 2.5%;
}

div.new_item_03 {
	margin-left: 2.5%;
}

.s_05_items > div img.for_m {
	display: none;
}

@media (max-width:768px) {

	.s_05_title {
		width: 95%;
		margin: 0 auto;
		padding-top: 7.5%;
		margin-bottom: 7%;
	}

	.s_05_items {
		width: 95%;
		background-image: url(../images/radiant_white_new/shop_bg_m.png);
		padding: 4.5% 0.5% 290% 2%;
		position: relative;
	}

	.s_05_items > div {
		width: 86%;
		height: auto;
		margin-left: 5%;
		margin-right: auto;
		padding-bottom: 0;
		position: relative;
	}

	.s_05_items > div img.for_pc {
		display: none;
	}

	.s_05_items > div img.for_m {
		display: block;
	}

	.s_05_items > div img {
		position: relative;
		padding: 0;
	}

	.s_05_items div > a {
		position: absolute;
		bottom: 1.5%;
		display: block;
		width:42%;
		left: 58%;
		transition: 0.3s;
	}

	div.new_item_02 {
		margin-left: 5%;
	}

	div.new_item_03 {
		margin-left: 5%;
	}

	div.new_item_01 a {
		bottom: 11%;
	}

	div.new_item_02 a {
		bottom: 8%;
	}

}

/*表格*/
.radiant_white_new .form {
	width: 100%;
	background-color: #e9e2cf;
	margin: 0;
	padding: 6% 0;
}

.radiant_white_new .form_event_cont,
.radiant_white_new .form ul {
	width: 54.2%;
	margin: 0 auto;
	position: relative;
}

.radiant_white_new .form_event_cont {
	margin: 0 auto 4% auto;
}

.radiant_white_new .form .new_item {
	position: absolute;
	width: 18%;
	bottom: -4%;
	right: 0;
}

.radiant_white_new .form ul li span {
	color: #9d803c;
	font-weight: 600;
}

.radiant_white_new .form ul li input,
.radiant_white_new .form ul li select,
.radiant_white_new .form ul li option,
.radiant_white_new .form ul li input::placeholder {
	font-weight: 600;
}

.radiant_white_new .form ul li select {
	background-image: url(../images/radiant_white_new/arrow_down.png) !important;
	background-size: auto 25% !important;
}

.radiant_white_new .custom-checkbox {
	width: 54.2%;
	margin: 1.5% auto;
}

.radiant_white_new .checkmark {
	filter: grayscale(1);
	width: 18px;
	height: 18px;
	top: 8px;
	cursor: pointer;
}

.radiant_white_new .custom-checkbox .agree_text {
	font-size: 18px;
	font-weight: 600;
	display: block;
	padding-left: 25px;
	height: auto;
	z-index: 5;
	position: relative;
}
.radiant_white_new .custom-checkbox .agree_text a{
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #000;
}

.radiant_white_new .custom-checkbox p {
	font-size: 14px;
	display: block;
	box-sizing: border-box;
	padding-left: 26px;
	padding-top: 0px;
	color: #a6a6a6;
	font-weight: 500;
}

.radiant_white_new .btn_enter {
	width: 16%;
	display: block;
	margin: 3% auto 0% auto;
	transition: 0.3s;
}

.radiant_white_new .btn_enter:hover {
	transform: scale(1.1);
}

@media (max-width:768px) {
	.radiant_white_new .form {
		padding-bottom: 10%;
	}

	.radiant_white_new .form_event_cont,
	.radiant_white_new .form ul {
		width: 93%;
	}

	.radiant_white_new .form .new_item {
		position: absolute;
		width: 25%;
		bottom: 5%;
		right: 0;
	}

	.radiant_white_new .form ul li span {
		color: #9d803c;
		font-weight: 600;
	}

	.radiant_white_new .form ul li input,
	.radiant_white_new .form ul li select {
		width: calc(100% - 7em) !important;
	}

	.radiant_white_new .custom-checkbox {
		width: 93%;
		margin: 5% auto;
	}

	.radiant_white_new .checkmark {
		width: 4vw;
		height: 4.5vw;
		top: 3%;
	}

	.radiant_white_new .custom-checkbox .agree_text {
		font-size: 3.2vw;
		padding-left: 6vw;
	}
	.radiant_white_new .custom-checkbox .agree_text a{
		font-size: 3.2vw;
	}

	.radiant_white_new .custom-checkbox p {
		font-size: 14px;
		padding-left: 6vw;
		padding-top: 0.5vw;
		text-align: justify;
	}

	.radiant_white_new .btn_enter {
		width: 40%;
		margin-top: 6%;
	}

}

/*注意事項*/
.radiant_white_new.event_notice {
	background-color: #f7f4ec;
	color: #999999 !important;

}

.radiant_white_new.event_notice .inner_notice_wrap {
	width: 54.2%;
	margin: 0 auto;
	padding: 2% 0;
}

.radiant_white_new.event_notice .inner_notice_wrap ul li,
.radiant_white_new.event_notice .inner_notice_wrap span {
	color: #999999 !important;
	font-size: 12px;
}

@media (max-width:768px) {
	.radiant_white_new.event_notice .inner_notice_wrap {
		width: 90%;
		padding: 8% 0;
	}

	.radiant_white_new.event_notice .inner_notice_wrap ul li,
	.radiant_white_new.event_notice .inner_notice_wrap span {
		font-size: 14px;
	}
}

.radiant_white_new_event {
    background-color: transparent;
    border: 0 !important;
    height: auto;
    width: 90% !important;
    max-width: 300px;
}

.radiant_white_new_event .popup_close{
    right: 5% !important;
    left: auto;
    top: 5%;
    
}

@media (max-width:768px){
    .radiant_white_new_event {
    width: 70% !important;
    max-width: 70%;
}

}
