.index_top{
    width: 100%;
    background: url(../images/index/top_bg.jpg) 0 50% / cover no-repeat;

    .kv_bg{
        width: 100%;
        padding-top: 1728px / 3840px * 100%;
        background: url(../images/index/banner_bg.png) 0 50% / cover no-repeat;
    }

    .top_contian{
        margin-top: -37%;
    }

    @media screen and (max-width: 768px){
        background: url(../images/index/top_bg_m.jpg) 0 50% / cover no-repeat;

        .kv_bg{
            padding-top: 1994px / 1536px * 100%;
            background: url(../images/index/banner_bg_m.png) 0 50% / cover no-repeat;
        }

        .top_contian{
            margin-top: -116%;
        }
    }
}

// KV
.index_kv{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;

    .word{
        width: 55%;
        padding-right: 7%;
    }

    .product{
        width: 45%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .main_w{
        padding-bottom: 4%;
        font: {
            size: 3em;
            weight: bold;
        }
        letter-spacing: 5px;
        line-height: 1.3;
    }

    .p{
        position: relative;

        &::after{
            content: '';
            width: 120%;
            position: absolute;
            top: 4%;
            left: 10%;
            background: {
                size: 100%;
                position: center;
                repeat: no-repeat;
            }
            opacity: 0.9;
            z-index: 0;
        }

        &.p1{
            width: 290px / 1920px * 2 * 80%;

            &::after{
                padding-top: 1046px / 360px * 120%;
                background-image: url(../images/index/top_p1_s.png);
            }

            .p_inner{
                padding-top: 962px / 290px * 100%;
                background-image: url(../images/index/top_p1.png);
                mask-image: url(../images/index/top_p1.png);
            }

            @media screen and (max-width: 768px){
                margin-top: 12%;
            }
        }

        &.p2{
            width: 364px / 1920px * 2 * 80%;
            margin-top: 22%;
            margin-left: 4%;

            &::after{
                padding-top: 982px / 436px * 120%;
                background-image: url(../images/index/top_p2_s.png);
            }

            .p_inner{
                padding-top: 904px / 364px * 100%;
                background-image: url(../images/index/top_p2.png);
                mask-image: url(../images/index/top_p2.png);
            }

            @media screen and (max-width: 768px){
                margin-top: 0;
                margin-left: 2%;
            }
        }

        &.p3{
            width: 458px / 1920px * 2 * 80%;
            margin-top: 10%;

            &::after{
                padding-top: 634px / 532px * 120%;
                background-image: url(../images/index/top_p3_s.png);
            }

            .p_inner{
                padding-top: 558px / 458px * 100%;
                background-image: url(../images/index/top_p3.png);
                mask-image: url(../images/index/top_p3.png);
            }

            @media screen and (max-width: 768px){
                margin-top: 37%;
            }
        }
    }

    .p_inner{
        width: 100%;
        background: {
            size: 100%;
            position: center;
            repeat: no-repeat;
        }
        mask-size: 100%;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &::before{
            content: '';
            width: 70%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -70%;
            background: linear-gradient(90deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,.5) 50%,hsla(0,0%,96%,.8) 60%,hsla(0,0%,100%,0));
            transform: skewX(-45deg);
            animation: light 3s linear 0s infinite normal;
            z-index: 2;
        }
    }

    @media screen and (max-width: 768px){
        flex-wrap: wrap-reverse;

        .word{
            width: 100%;
            padding: 24% 0 5% 0;
        }

        .product{
            width: 100%;
        }
    }
}

@keyframes light {
    0% {
        left: -100%;
        opacity: 0
    }

    15% {
        opacity: .8
    }

    25% {
        opacity: .8
    }

    30% {
        left: 150%;
        opacity: 0
    }

    to {
        left: 150%;
        opacity: 0
    }
}

// 關於后
.index_a{
    width: 100%;
    padding: 10% 0 3% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    @media screen and (max-width: 768px){
        .index_a_whoo,
        .index_a_t{
            width: 100%;
            max-width: 500px;
        }

        .index_a_t{
            padding: 5% 0;
        }
    }
}

.index_a_whoo{
    width: 50%;
    position: relative;

    img{
        width: 50%;
        margin-left: auto;
    }

    &::after{
        content: '';
        width: 50%;
        padding-top: 1070px / 800px * 50%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/index/whoo_door.png) 50% / 100% no-repeat;
    }
}

.index_a_t{
    width: 50%;
    padding: 0 5%;

    .photo{
        width: 100%;
        padding-top: 616px / 1138px * 100%;
        background: {
            image: url(../images/index/whoo_photo.png);
            size: 100%;
            position: center;
            repeat: no-repeat;
        }
    }

    .text{
        padding: 5% 2.5%;
    }
}

// 最新消息
.index_news{
    position: relative;

    .news_l{
        width: 100%;
        overflow: hidden;
    }

    .news_i{
        width: 100%;
        margin-right: -100%;
        float: left;
        position: relative;
        backface-visibility: hidden;
        opacity: 0;
        display: none;
        transition: opacity 0.3s linear,
        transform 0.6s ease-out;

        &.active{
            opacity: 1;
            display: block;
        }

        &.prev{
            transform: translate(-100%);
        }

        &.next{
            transform: translate(100%);
        }
    }

    .news_inner{
        @extend %banner-style;
        padding-top: 720px / 1920px * 100%;
        background-image: url(../images/index/banner.jpg);

        @media screen and (max-width: 768px){
            padding-top: 940px / 768px * 100%;
            background-image: url(../images/index/banner_m.jpg);
        }
    }

    .dots{
        padding-bottom: 1%;
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);

        li{
            @extend %slidedot-style;
        }
    }
}

.mainarea{
    min-height: calc(100vh - 70px);
    background: url(../images/index/bg.png) 50% 0 / cover no-repeat;

    section{
        padding: 5% 0;
    }

    @media screen and (max-width: 768px){
        background: url(../images/index/bg_m.jpg) 50% 0 / cover no-repeat;

        section:last-child{
            padding: 5% 0 10% 0;
        }
    }
}

// 明星商品
.hotsale_wrap{
    @extend %productbox-style;
}

.hotsale_list{
    @extend %productlist-style;
}

.hotsale_item{
    @extend %product-style;

    a:hover{
        .hotsale_img::before{
            opacity: .8;
            transition: opacity 0.3s linear;
        }
    }
}

.hotsale_img{
    @extend %productimg-style;
}

// 部落客推薦
.blog_wrap{
    width: 100%;
    padding: 0 8%;
    background: url(../images/index/blog_m.png) 50% / contain repeat-y;
    position: relative;

    .lg_title{
        width: 100%;

        @media screen and (min-width: 769px){
            margin-left: 0;
            text-align: left;
        }
    }

    .item_prev{
        left: 3%;
    }

    .item_next{
        right: 3%;
    }

    .dots{
        width: 60%;
        text-align: center;
        li{
            @extend %slidedot-style;
        }

        @media screen and (max-width: 768px){
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 768px){
        .slide_arrow .item{
            top: 78%;
        }
    }
}

.blog_list{
    width: 100%;
    margin-top: -5%;
    position: relative;
    overflow: hidden;
}

.blog_item{
    width: 100%;
    float: left;
    margin-right: -100%;
    backface-visibility: hidden;
    display: none;
    // transition: transform .3s ease-in-out;
    position: relative;

    &.active{
        display: block;
    }

    &.blog_item1 .photo{
        background-image: url(../images/index/blog_photo.jpg);
    }
}

.blog_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;

    @media screen and (max-width: 768px){
        .blog_w{
            width: 95%;
            max-width: 500px;
        }

        .blog_p{
            width: 100%;
            max-width: 400px;
            margin-top: 7%;
        }
    }
}

.blog_w{
    width: 60%;
    padding: 3% 4%;
    margin-top: 5%;
    text-align: center;

    .author{
        @extend %subtext-style;

        div{
            font: {
                size: 1.15em;
                weight: 700;
            }
        }
    }

    .article{
        @extend %text-hidden;
        height: 144px;
        margin: 5% auto 7% auto;
        -webkit-line-clamp: 5;
        text-align: justify;

        @media screen and (max-width: 1024px){
            height: 120px;
        }

        @media screen and (max-width: 512px){
            text-align: left;
        }

        @media screen and (max-width: 512px){
            height: 95px;
        }
    }
}

.blog_p{
    width: 40%;
    padding: 2% 0;
    position: relative;

    .photo{
        width: 80%;
        padding-top: 100%;
        margin: 0 auto;
        background: {
            color: $bg-color;
            size: cover;
            position: center;
            repeat: no-repeat;
        }
        transform: rotate(-5deg);
        position: relative;
        z-index: 2;
    }

    &::after{
        content: '';
        width: 80%;
        height: 89%;
        background: $font-color-sub;
        position: absolute;
        top: 7%;
        left: 14%;
        transform: rotate(6deg);
    }
}

// youtube
.yt_box{
    width: 90%;
    padding-top: 56.25% * 0.9;
    margin: 0 auto;
    position: relative;

    iframe{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    @media screen and (max-width: 768px){
        width: 100%;
    }
}

// IG
.ig{
    padding: 6% 0 2% 0;
}

.ig_title{
    width: 50%;
    max-width: 150px;
    padding-bottom: 6%;
    margin: 0 auto;
}