@charset "utf-8";

/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

input[type="text"],
select {
	-webkit-appearance: none;
	padding: 0;
	margin: 0;

}

select {
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 95% center;
	background-size: auto 16%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

section {
	display: inline-block;
	width: 100%;
	position: relative;
}

img {
	width: 100%;
}

html::-webkit-scrollbar {
	display: none;
}

html,
body {
	position: relative;
	font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #0d1317;
	color: #fff;
	overflow-x: hidden;
}

.inner_wrapper {
	width: 1200px;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

@media (max-width:1200px) {
	.inner_wrapper {
		width: 100%;
	}
}


/*導航列*/
.nav_link {
	font-size: 12px;
	text-align: right;
	width: 200px;
	position: fixed;
	right: 2%;
	top: 50%;
	margin-top: -51px;
	z-index: 10;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.nav_link li {
	margin-bottom: 10px;
}

.nav_link li a {
	color: #a28e58;
	padding-right: 12%;
	transition: 0.3s ease;
}

.nav_link li a:hover,
.nav_link li a.nav_active {
	color: #fff;
}

@media (max-width:1200px) {
	.nav_link {
		right: -1%;
	}
}

@media (max-width: 768px) {
	.nav_link {
		display: none;
	}
}


/*主視覺*/
.main_kv {
	width: 100%;
	position: relative;
	margin: 0 auto;
	background-image: url(../img/BG.jpg);
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 54%;
	text-align: center;
	overflow-y: hidden;
	overflow-x: hidden;
}

.main_kv > h1 {
	display: block;
	width: 58.16%;
	height: 0;
	padding-bottom: 32%;
	text-indent: -999px;
	font-size: 0;
	background-image: url(../img/LOGO.png);
	background-size: 100%;
	margin: 2.5% auto 0 auto;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.btn_video {
	display: block;
	width: 4.5%;
	z-index: 10;
	position: relative;
	margin: -1% auto 0 46.6%;
	z-index: 5;
	animation-name: big;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

.top_bar_btn {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.top_bar_btn > a {
	display: inline-block;
	transition: 0.5s;
}

.top_bar_btn > a:nth-child(1),
.top_bar_btn.page > a:nth-child(2) {
	width: 50%;
	opacity: 1;
}

.top_bar_btn.page > a:nth-child(2) {
	margin-right: -4.2%;
}

.top_bar_btn > a:nth-child(2),
.top_bar_btn.page > a:nth-child(1) {
	width: 53.22%;
	opacity: 0.3;
	margin-left: -4%;

}

.top_bar_btn > a:nth-child(2):hover,
.top_bar_btn.page > a:nth-child(1):hover {
	opacity: 1;
}

@media (max-width:768px) {
	.main_kv {
		width: 100%;
		background-size: 120%;
		padding-bottom: 74.2%;
		overflow: hidden;
	}

	.main_kv > h1 {
		display: block;
		width: 75%;
		padding-bottom: 40%;
	}

	.btn_video {
		width: 9%;
		margin: -1% auto 0 45%;
	}

	.top_bar_btn {
		width: 180%;
		left: -39%;
	}
}

/*賽事直播*/
.live {
	width: 100%;
	background-image: url(../img/bg_01.jpg);
	position: relative;
	background-size: 1920px;
	background-position: center top;
}

.title {
	width: 20%;
	margin: 3% auto;
}

.live_video {
	background-image: url(../img/video_frame.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 77.5%;
	padding: 1.2% 1.2%;
	margin: 0 auto;
	position: relative;
}

.btn_play {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.3);
}

.btn_play > img {
	left: 50%;
	position: absolute;
	width: 6%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.video_outer {
	position: relative;
	height: 0;
	padding-bottom: 54.9%;
	overflow: hidden;
}

.video_outer iframe,
.video_outer object,
.video_outer embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width:768px) {
	.live {
		background-size: cover;
	}
}

/*賽程介紹*/
.game_info {
	position: relative;
	background-image: url(../img/bg_03.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 1920px;
}

.game_info .inner_wrapper {
	padding: 5% 0;
}

.game_info .inner_wrapper > img,
.game_info .inner_wrapper > a {
	display: inline-block;
	width: 27.5%;
	vertical-align: middle;
	margin: 0 -0.5%;
}

.game_info .inner_wrapper > img,
.game_info .inner_wrapper > a {
	transition: 0.3s;
}

.game_info .inner_wrapper > img,
.game_info .inner_wrapper > a:hover {
	filter: brightness(1.1);
}

@media (max-width:768px) {

	.game_info {
		background-size: cover;
	}

	.game_info .inner_wrapper > img,
	.game_info .inner_wrapper > a {
		display: inline-block;
		width: 40%;

	}
}

/*賽事獎金*/
.pool {
	background-image: url(../img/bg_06.jpg);
	background-position: center top;
	background-size: 1920px;
	background-repeat: no-repeat;
}

.money_cont {
	position: relative;
	width: 74.5%;
	margin: 0 auto;
}

.money_01 {
	width: 35%;
}

.money_02 {
	margin: 3% auto 5% auto;
}

@media (max-width:768px) {

	.pool {
		background-size: cover;
	}

	.money_01 {
		width: 55%;
		margin: 2% auto;
	}

}

/*賽事規則*/
.role {
	position: relative;
	width: 100%;
	background-image: url(../img/bg_04.jpg);
	background-position: top center;
	background-size: 1920px;
	padding-bottom: 10%;
}

.role_word {
	position: relative;
	margin: 0 auto;
	width: 74.5%;
	text-align: left;
	font-size: 14px;
	line-height: 1.8;
	font-weight: 300;
	letter-spacing: 0.4px;
	height: 1000px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.role_word b,
.role_word a {
	color: #d2a04a;
}

.word_title {
	width: 20%;
	margin: 0 auto 0 0;
}

.role_word p {
	width: 80%;
	box-sizing: border-box;
	margin: 2% auto 4% 5%;
}

.role_word u {
	display: inline-block;
	margin: 1% 0 0.5% 0;
}

.role_word::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
	background-color: #14171e;
}

.role_word::-webkit-scrollbar {
	width: 10px;
	background-color: black;
}

.role_word::-webkit-scrollbar-thumb {
	background-color: #969084;
}

@media (max-width:768px) {

	.role {
		background-size: cover;
	}

	.role_word {
		width: 80%;
		height: 100vw;
		-webkit-overflow-scrolling: touch;
	}

	.role_word b,
	.role_word a {
		color: #d2a04a;
	}

	.word_title {
		width: 25%;
	}

	.role_word p {
		width: 85%;
	}

	.role_word u {
		display: inline-block;
		margin: 1% 0 0.5% 0;
	}

}

/*footer*/
.footer {
	background-color: #0d1317;
	position: relative;
	text-align: center;
}

.footer img {
	width: 1197px;
}

.footer a {
	display: block;
	position: absolute;
	width: 18%;
	height: 100%;
	top: 0;
	left: 35%;
}

.for_m {
	display: none;
}

.for_pc {
	display: inline-block;
}

@media (max-width:1200px) {

	.footer img {
		width: 90%;
	}
}

@media (max-width:768px) {
	.for_pc {
		display: none;
	}

	.for_m {
		display: inline-block;
	}

	.footer {
		padding-top: 2%;
	}

	.footer img {
		width: 75%;
	}

	.footer a {
		display: block;
		position: absolute;
		width: 30%;
		height: 25%;
		top: 20%;
		left: 55%;
	}

	.footer p {
		width: 80%;
		font-size: 14px;
		line-height: 1.5;
		text-align: left;
		font-weight: 100;
		padding-bottom: 8%;
		transform: scale(0.9);
		text-align: justify-all;
		margin-top: -1%;
	}

}

/*pop*/
.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 12;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	display: none;
}

.popup_close {
	position: absolute;
	top: 0;
	right: 0;
}

.popup_wrap {
	width: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -350px;
	transform: translateY(-50%);
}

.popup_wrap img {
	width: 100%;
	height: auto;
	padding-left: 4%;
}

.popup_wrap > div {
	display: none;
}

img.popup_close {
	width: 30px;
	height: 30px;
	right: -8%;
	top: 0;
	position: absolute;
	cursor: pointer;
}

.popup_wrap iframe {
	width: 100%;
}

@media (max-width: 768px) {
	.popup_wrap {
		width: 90%;
		margin-left: -45%;
	}

	img.popup_close {
		right: 0;
		top: -15%;
		margin-top: -15px;
	}
}

.pop_video,
.pop_img {
	width: 700px;
}

.pop_img img {
	display: none;
	border: 2px solid #fff;
	margin: 0;
	padding: 0;
}


.pop_video {
	position: relative;
	height: 0;
	padding-bottom: 54.9%;
	overflow: hidden;
}

.pop_video iframe,
.pop_video object,
.pop_video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {

	.pop_video,
	.pop_img {
		width: 95%;
		margin-left: 2.5%;
	}
}


/*注意事項*/

.tab_outer {
	width: 1200px;
	text-align: center;
	margin: 0 auto 6% auto;
	padding-top: 5%;
	position: relative;
}

.tab_outer a {
	display: inline-block;
	width: 25%;
	height: 0;
	padding-bottom: 6%;
	background-size: 99%;
	background-repeat: no-repeat;
	overflow: hidden;
	line-height: 100;
	text-indent: -20em;
	background-position: center bottom;
}

.tab_outer a:hover {
	background-position: center top;
}

.tab_outer a.active:hover {
	background-position: center top;
}

.tab_outer a.active {
	background-position: center top;
}

.tab_01 {
	background-image: url(../img/btn_team_join.png);
	margin-right: 8%;
}

.tab_02 {
	background-image: url(../img/btn_person_join.png);
}

.title_02 {
	width: 21.6%;
	margin-bottom: 4%;
}

.notice p {
	width: 73.75%;
	margin: 0 auto;
	text-align: left;
	font-size: 14px;
	font-weight: 100;
	line-height: 1.5;
	letter-spacing: 0.5px;
	margin-bottom: 4%;
}

.notice p a {
	color: #d2a04a;

}

.team_title,
.person_title {
	width: 100%;
	text-align: center;
	padding: 3% 0;
	background-color: rgba(0, 0, 0, 0.3);
}



.team_title .title_02,
.person_title .title_02 {
	margin: 0 auto;
}

@media (max-width:1200px) {
	.tab_outer {
		width: 100%;
	}
}

@media (max-width:768px) {
	.tab_outer {
		width: 120%;
		padding-top: 7%;
		margin: 0 auto 9% -10%;
	}
}

/*隊伍報名*/
.team_form {
	background-image: url(../img/bg_07.jpg);
	background-size: 1920px;
	background-position: top center;
}

.title_03 {
	width: 16.3%;
	margin: 6% auto 4% auto;
}

.form_cont {
	width: 73.75%;
	margin: 0 auto;
	text-align: left;
	font-size: 0;
	position: relative;
}

.form_cont li {
	width: 100%;
	height: 50px;
	padding: 0;
	font-weight: 100;
	margin-bottom: 1.6%;
	position: relative;
}

.form_cont li:nth-child(1) {
	height: auto;
}

.form_cont li > div,
.form_cont li input,
.form_cont li select {
	height: 50px;
	border-radius: 0;
	box-sizing: border-box;
	padding: 0 2%;
	vertical-align: text-top;
	display: inline-block;
}

.form_cont li input,
.form_cont li select,
.form_cont li select option {
	border: 1px solid #000;
	background-color: #c3c3c3 !important;
}

.form_cont li input::placeholder {
	color: #fff;
}

.form_cont li input:active,
.form_cont li input:focus,
.phone select option:active,
.phone select option:focus,
.phone select:active,
.phone select:focus,
select:active,
select:focus,
option:active,
option:focus {
	outline: 0;
}


.form_cont li.small_form {
	width: 50%;
	display: inline-block;
	margin-right: -2px;
}

.form_cont li.small_form > div {
	width: 38.2%;
}

.form_cont li.small_form > input[type=text] {
	width: 57%;
	margin-left: 1.8%;
	padding: 0 3%;
	right: auto;
	left: 38%;
}

.form_cont li.small_form > input[type="radio"] {
	margin-right: 2%;
}



.form_title {
	display: inline-block;
	text-align: center;
	background-color: #1d262f;
	width: 19%;
	margin-right: 1%;
	position: relative;
	font-size: 18px;
	font-weight: 400;
}

.form_title div {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.form_title div a,
.form_title div span {
	display: block;
	top: 0;
	font-size: 14px;
	color: #fff;
	margin-top: 5px;
	transform: scale(0.8)
}

.form_title div a {
	text-decoration: underline;
}

.form_notice {
	color: #ac1717;
	font-size: 14px;
	width: 75%;
	margin-left: 20.5%;
	margin-top: 1%;
	display: block;
}

.form_cont li input[type=text] {
	width: 80%;
	font-size: 16px;
	position: absolute;
	right: 0;
}

.form_cont li input[type="radio"] {
	filter: grayscale(1);
	transform: scale(1.5);
	margin-left: 5%;
}

label {
	font-size: 18px;
	color: #000;
	font-weight: 400;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	vertical-align: text-top;
}

/*手機號碼*/
.phone select {
	width: 15%;
	font-size: 16px;
	display: inline-block;
}

.phone input[type="text"] {
	width: 63.5% !important;
	display: inline-block;
	margin-left: 1%;
}

/*生日*/
.birth select {
	width: 25.4%;
	text-align: center;
	margin-right: 1%;
	font-size: 16px;
	position: absolute;
}

.birth select:nth-child(2) {
	left: 20%;
}

.birth select:nth-child(3) {
	left: 47.3%;
}

.birth select:nth-child(4) {
	left: 74.5%;
}

/*信箱*/
.mail input[type="text"] {
	width: 53% !important;
	right: auto;
	left: 20%;
}

.mail a {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	padding: 0;
	text-align: center;
	color: #fff;
	background-color: #ac1717;
	vertical-align: text-top;
	width: 25.5%;
	margin-left: 0.8%;
	border: 1px solid #000;
	vertical-align: top;
	position: absolute;
	right: 0;
	font-size: 16px;
	font-weight: 400;
}

@media (max-width:1200px) {
	.mail a {
		width: calc(25% - 2px);
	}

}

/*上傳*/
.form_cont {
	font-size: 0;
}

.upload_01,
.upload_02,
.upload_03 {
	width: 32%;
	height: 0;
	padding-bottom: 19%;
	border: 1px solid #000;
	margin-right: 1.5%;
	display: inline-block;
	vertical-align: top;
	margin-top: 2%;
	margin-bottom: 8%;
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	overflow: hidden;
}

.upload_03 {
	margin-right: 0;
}

.upload_01 input,
.upload_02 input,
.upload_03 input {
	width: 100%;
	height: 100%;
	font-size: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
}

.upload_01 {
	background-image: url(../img/up_01.png);
}

.upload_02 {
	background-image: url(../img/up_02.png);
}

.upload_03 {
	background-image: url(../img/up_03.png);
}

.upload_01 img,
.upload_01 img,
.upload_01 img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;

}


@media (max-width:1200px) {
	.form_cont {
		width: 85%;
	}

	.form_title {
		width: 25% !important;
	}

	.form_cont li {
		margin-bottom: 3%;
	}

	.form_cont li input[type=text],
	.form_cont li.small_form input[type=text] {
		width: 73%;
		margin-left: 0;
		font-size: 14px;
		left: auto;
		right: 0;
	}

	.form_notice {
		margin-left: 27%;
		width: 65%;
		line-height: 1.5;
	}

	.form_cont li.small_form {
		width: 100%;
	}

	.form_cont li.small_form > div {
		width: 30%;
	}

	/*手機號碼*/
	.phone select {
		width: 20%;
		font-size: 14px;
		position: absolute;
		left: 27%;
	}

	.phone input[type="text"] {
		width: 51% !important;
		margin-left: 1% !important;
	}

	/*生日*/
	.birth select {
		width: 23%;
		font-size: 14px;
		text-align: left;
	}

	.birth select:nth-child(2) {
		left: 27%;
	}

	.birth select:nth-child(3) {
		left: 52%;
	}

	.birth select:nth-child(4) {
		left: 77%;
	}



	/*信箱*/
	.mail input[type="text"] {
		width: 46% !important;
		font-size: 14px;
		left: 27% !important;
		right: auto;
	}

	.mail a {
		width: 25.1%;
		margin-left: 31.5%;
		font-size: 14px;
		position: absolute;
		top: 0;
	}


	.upload_01,
	.upload_02,
	.upload_03 {
		width: calc(32.2% - 2px);
	}

}

@media (max-width:768px) {

	.form_title {
		font-size: 2.5vw;
		box-sizing: border-box;
	}

	.form_title div {
		width: 90%;
		left: 5%;
	}

	.form_cont li input[type=text],
	.form_cont li.small_form input[type=text] {
		width: 73%;
		font-size: 12px;
	}

	/*手機號碼*/
	.phone select {
		width: 18%;
		font-size: 12px;
	}

	.phone input[type="text"] {
		width: 52.6% !important;
		margin-left: 1% !important;
	}

	.form_title div {
		transform: scale(0.8) translate(-60%, -60%);
		top: 50%;
		left: 50%;
	}

	.form_title div a,
	.form_title div span {
		font-size: 12px;
		transform: scale(1);
		line-height: 1.2;

	}

	/*生日*/
	.birth select {
		width: 23%;
		font-size: 12px;
	}

	.birth select:nth-child(4) {
		margin-right: 0;
	}

	/*信箱*/
	.mail{
		height: 110px!important;
	}
	.mail input[type="text"] {
		width: 73% !important;
	}

	.mail a {
		width: 25.1%;
		top: 60px;
		left: 27%;
		margin: 0;
	}

	.upload_01,
	.upload_02,
	.upload_03 {
		width: calc(32.2% - 2px);
	}
	
	label{
		font-size: 16px !important;
	}
}

/*隊員資料*/
.member_cont {
	background-image: url(../img/bg_04.jpg);
	background-size: 1920px;
	background-position: center top;
	background-repeat: repeat-y;
}

.member_cont .inner_wrapper {
	background-color: rgba(0, 0, 0, 0.3);
}

.title_04 {
	width: 10%;
	display: block;
	margin-bottom: -1.9%;
}

.member_cont .form_cont li > div {
	background-color: #a9abb4;
	color: #000;
	font-weight: 400 !important;
}

.member_cont .form_cont li input,
.member_cont .form_cont li select option,
.member_cont .form_cont li select {
	background-color: #fff !important;
	color: #666 !important;
}

.member_cont .form_cont li input::placeholder,
.member_cont .form_cont li select option {
	color: #b6b6b6 !important;
}

.member_cont .form_cont li > div span {
	color: #000;
}

.member_cont .form_cont li > div a {
	color: #ac1717;
}

.member_cont .form_cont li label {
	color: #fff;
	cursor: pointer;
}

.member_cont input[type="radio"] {
	filter: grayscale(0) !important;
	margin-right: 2% !important;
}

.more_01,
.more_02 {
	display: block;
	width: 3%;
	margin: -2% auto 0 auto;
	z-index: 2;
	padding-bottom: 5%;
}

.more_02 {
	display: none;
}

.m_05,
.m_06 {
	display: none;
}

@media (max-width:1200px) {
	.title_04 {
		width: 13%;
		margin-bottom: -3.2%;
	}
}

@media (max-width:768px) {

	.title_02 {
		width: 30%;
	}

	.title_03 {
		width: 24%;
		margin: 7% auto 8% auto;
	}

	.title_04 {
		width: 16%;
		margin-bottom: -3.5%;
	}

	.more_01,
	.more_02 {
		width: 6%;
	}

	.m_01,
	.m_02,
	.m_03,
	.m_04,
	.m_05,
	.m_06 {
		margin: 5% 0;
	}
}

/*提交*/
.send {
	background-image: url(../img/bg_07.jpg);
	background-size: 100%;
	padding: 5% 0;
}

.send a {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 25%;
}

.checkbox_cont {
	display: block;
	margin: 0 auto;
	width: 35.5%;
	height: 0;
	padding-bottom: 6%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.check_word {
	position: absolute;
	width: 100%;
	background-image: url(../img/check_word_before.png);
	background-repeat: no-repeat;
	background-size: 100%;
	left: 0;
	height: 100%;
	z-index: 0;
}

.check_word.active {
	background-image: url(../img/check_word.png);
}

.checkbox_cont .checkbox {
	transform: scale(60);
	opacity: 0;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
}

.checkbox_cont label {
	font-size: 0;
	opacity: 0;
}

@media (max-width:768px) {

	.send a {
		width: 45%;
		margin-bottom: 6%;
	}

	.checkbox_cont {
		width: 50%;
		margin: 5% auto;
	}
}



/*報名流程*/
.step_cont {
	width: 106%;
	margin-left: -3%;
	text-align: center;
	padding: 5% 0;
}

.step_04 {
	cursor: pointer;
}

.step_cont img {
	display: inline-block;
	width: 25%;
	margin-right: -1%;
}

.step_cont img:nth-child(4) {
	margin-right: 0;
}

@media (max-width:1200px) {
	.step_cont {
		width: 80%;
		margin-left: 10%;
		text-align: center;
		padding: 8% 0;
	}
}

@media (max-width:768px) {
	.step_cont {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding: 12% 0;
	}

	.step_cont img {
		width: 48%;
	}

	.step_cont img:nth-child(2),
	.step_cont img:nth-child(4) {
		margin-right: 0;
	}
}

.form_cont li > span.s_word {
	display: inline-block;
	line-height: 50px;
	vertical-align: top;
	margin: 0 2%;
	font-size: 18px;
}

input[type="text"].s_input {
	width: 14% !important;
	display: inline-block;
	border: 1px solid #000;
	position: relative !important;
}

.btn_search {
	width: 25%;
	display: inline-block;
	margin: 5% auto 6% auto;
}

.btn_search:hover {
	filter: brightness(1.1);
}


@media (max-width:768px) {
	input[type="text"].s_input {
		width: 10vw !important;
	}

	.form_cont li > span.s_word {
		vertical-align: top;
		margin: 0 1.5vw;
		font-size: 2vw;
	}

	.btn_search {
		width: 39%;
		margin: 8% auto 8% auto;
	}
}
