// banner
.news_banner{
    @extend %banner-style;
    padding-top: 935px / 1920px * 100%;
    background-image: url(../images/news/banner.jpg);

    @media screen and (max-width: 768px){
        padding-top: 940px / 768px * 100%;
        background-image: url(../images/news/banner_m.jpg);
    }
}

// 列表
.newslist_box{
    padding: 4% 1.8% 3% 1.8%;
    background: $bg-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: 1024px){
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
        padding: 4% 0 3% 0;
    }
}

.newslist_item{
    margin: 0 5% 7vh 5%;

    @media screen and (max-width: 512px){
        margin: 0 3% 5vh 3%;
    }
}

.newslist_article{
    padding: 3%;
    border: 1px solid #dcdcdc;
    display: block;
    background: $bg-color;
    transition: background 0.3s linear,
                box-shadow 0.3s linear;

    &:hover{
        box-shadow: 0 0 12px rgba(203, 182, 134, 0.3);
        background: #f6efe0;
        transition: background 0.3s linear,
                    box-shadow 0.3s linear;
    }
}

.newslist_img{
    @extend %banner-style;
    padding-top: 100%;
    background-image: url(../images/news/news_img.jpg);
}

.newslist_word{
    padding: 5% 10px;

    .date{
        color: #595959;
    }

    .title{
        @extend %text-hidden;
        font: {
            size: 1.2em;
            weight: 600;
        }
        height: 34px;
        margin-bottom: 2%;
        letter-spacing: 2px;
        -webkit-line-clamp: 1;
    }

    .word{
        @extend %text-hidden;
        height: 50px;
        color: #a6a6a6;
        font-size: 0.9em;
        -webkit-line-clamp: 2;
    }

    @media screen and (max-width: 1024px) {
        .title{
            height: 28px;
        }

        .word{
            height: 42px;
        }
    }

    @media screen and (max-width: 768px) {
        .title{
            height: auto;
        }

        .word{
            height: auto;
        }
    }
}

.newslist_btn{
    border-bottom: 1px solid $btn-light;
}

.news_read{
    @include font-en;
    width: 90px;
    padding: 0 10px;
    margin: 0 0 0 auto;
    color: $font-color-red;
    font: {
        size: 1.3em;
        style: normal;
    }
    position: relative;

    &::after{
        content: '';
        width: 12px;
        height: 69px / 75px * 12px;
        background: url(../images/news/arrow.png) 50% / 100% no-repeat;
        position: absolute;
        top: 14px;
        right: 10px;
    }

    &::before{
        content: '';
        width: 100%;
        height: 5px;
        background: $font-color-red;
        position: absolute;
        bottom: -3px;
        left: 0;
    }

    @media screen and (max-width: 1024px) {
        &::after{
            top: 11px;
        }
    }

    @media screen and (max-width: 512px) {
        &::after{
            top: 7px;
        }
    }
}

// 頁數
.news_pager{
    padding-bottom: 7%;
    text-align: center;
    background: $bg-color;
}

.pager_arrow{
    width: 30px;
    height: 25px;
    margin: 0 2%;
    background: url(../images/news/pager_arrow_prev.png) 50% / contain no-repeat;
    display: inline-block;
    vertical-align: middle;
    transform-origin: center;
    transform: scale(1);
    transition: transform 0.3s linear;

    &.pager_next{
        background: url(../images/news/pager_arrow_next.png) 50% / contain no-repeat;
    }

    &:hover{
        transform: scale(1.3);
        transition: transform 0.3s linear;
    }
}

.pager_number{
    display: inline-block;

    a{
        width: 1.6em;
        height: 1.6em;
        font-weight: 700;
        line-height: 1.6em;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        transition: color 0.3s linear,
                        background 0.3s linear;

        &.active{
            color: $font-color;
            background: $font-color-red;
        }

        &:hover{
            color: $font-color;
            background: $font-color-red;
            transition: color 0.3s linear,
                        background 0.3s linear;
        }
    }
}

// 內頁
.news_single_box{
    width: 100%;
    padding: 4% 8%;
    margin: 0 auto;
    background: $bg-color;
}

.news_single{
    max-width: 1000px;
    margin: 0 auto 20vh auto;

    .news_single_date{
        color: #595959;
    }

    .news_single_title{
        margin-bottom: 5%;
        font: {
            size: 1.5em;
            weight: 600;
        }
        letter-spacing: 2px;
    }
}

.news_single_img{
    @extend %banner-style;
    padding-top: 100%;
    margin-bottom: 5%;
    background-image: url(../images/news/news_single.jpg);
}

.news_single_word{
    margin-bottom: 10vh;

    h1{
        font: {
            size: 1.8em;
            weight: 600;
        }
        margin-bottom: 1.6%;
    }

    h2{
        font: {
            size: 1.5em;
            weight: 600;
        }
        margin-bottom: 1.4%;
    }

    h3{
        font: {
            size: 1.2em;
            weight: 500;
        }
        margin-bottom: 1.2%;
    }

    p{
        margin-bottom: 1%;
    }

    a{
        color: #5b7fe6;

        &:hover{
            border-bottom: 1px solid #5b7fe6;
        }
    }

    & > *{
        color: #595959;
    }

    & > :last-child{
        margin-bottom: 0;
    }
}

// DM頁
.news_single_dm{
    background: transparent;

    .news_single{
        margin: 0 auto 15vh auto;
    }

    .news_pager{
        padding-bottom: 0;
        background: transparent;

    }

    @media screen and (max-width: 512px) {
        padding: 4% 2%;

        .news_single{
            margin: 0 auto 5vh auto;
        }
    }
}

// 返回列表
.news_back{
    width: 300px;
    padding-top: 86 / 504 * 300px;
    margin: 0 auto;
    display: block;
    background: url(../images/news/back_btn.png) 50% / 100% no-repeat;
    transition: background-image 0.3s linear;

    &:hover{
        background-image: url(../images/news/back_btn_hover.png);
        transition: background-image 0.3s linear;
    }

    @media screen and (max-width: 512px) {
        width: 80%;
        padding-top: 85px / 505px * 80%;
        margin: 5% auto;
      }
}

// 其他文章
.recent_post{
    max-width: 1000px;
    padding-bottom: 5vh;
    margin: 0 auto;
}

.recent_post_title{
    width: 85%;
    max-width: 280px;
    padding-bottom: 3vh;
}

.recent_post_contain{
    margin-right: -40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .newslist_item{
        margin: 0 40px 5vh auto;
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}