@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");

/*動畫*/

@-webkit-keyframes d {
	0% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	to {
		opacity: 1
	}
}

@keyframes d {
	0% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	to {
		opacity: 1
	}
}

@-webkit-keyframes fadeInDown2 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInDown2 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

.fadeInDown2 {
	-webkit-animation-name: fadeInDown2;
	animation-name: fadeInDown2;
}

@-webkit-keyframes fadeInUp2 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInUp2 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

.fadeInUp2 {
	-webkit-animation-name: fadeInUp2;
	animation-name: fadeInUp2;
}


@-webkit-keyframes slideInDown2 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes slideInDown2 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-100px);
		-ms-transform: translateY(-100px);
		transform: translateY(-100px);
	}

	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

.slideInDown2 {
	-webkit-animation-name: slideInDown2;
	animation-name: slideInDown2;
}

@-webkit-keyframes slideInLeft2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes slideInLeft2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		transform: translateX(-100px);
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.slideInLeft2 {
	-webkit-animation-name: slideInLeft2;
	animation-name: slideInLeft2;
}

@-webkit-keyframes slideInRight2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes slideInRight2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-ms-transform: translateX(100px);
		transform: translateX(100px);
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.slideInRight2 {
	-webkit-animation-name: slideInRight2;
	animation-name: slideInRight2;
}

@-webkit-keyframes slideInRight3 {
	0% {
		-webkit-transform: translateX(300%);
		transform: translateX(300%);
	}

	40% {
		-webkit-transform: translateX(100%);
		transform: translateX(-100%);
	}

	42% {
		-webkit-transform: translateX(300%);
		transform: translateX(300%);
	}

	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes slideInRight3 {
	0% {
		-webkit-transform: translateX(300%);
		transform: translateX(300%);
	}

	40% {
		-webkit-transform: translateX(100%);
		transform: translateX(-100%);
	}

	42% {
		-webkit-transform: translateX(300%);
		transform: translateX(300%);
	}

	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.slideInRight3 {
	-webkit-animation-name: slideInRight3;
	animation-name: slideInRight3;
}

/*動畫 end*/

/*輪播基本樣式*/

/*slide*/
.radiant_white .slick-slider:active,
.radiant_white .slick-slider:focus {
	outline: none;
	border: 0;
}

/* Dots */
.radiant_white .slick-dotted.slick-slider {
	margin-bottom: 0;
}

.radiant_white .slick-dots {
	position: absolute;
	width: 12px;
	height: 12px;
	line-height: 0px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	bottom: -20px;
	overflow: hidden;

}

.radiant_white .slick-dots li {
	position: relative;

	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 25px;
}

.radiant_white .slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 12px;
	height: 12px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.radiant_white .slick-dots li button:hover,
.radiant_white .slick-dots li button:focus {
	outline: none;
}

.radiant_white .slick-dots li button:hover:before,
.radiant_white .slick-dots li button:focus:before {
	opacity: 1;
}

.radiant_white .slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '';
	text-align: center;
	background-color: #a98f65;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 100em;
	border: 1p solid red;
	display: block;
}

.radiant_white .slick-dots li.slick-active button:before {
	background-color: #720f1e;
}

@media (max-width:768px) {
	.radiant_white .slick-dots {
		height: 4vw;
		bottom: -6%;
	}

	.radiant_white .slick-dots li {
		width: 3vw;
		height: 3vw;
		margin-right: 4%;
	}

	.radiant_white .slick-dots li button {
		width: 3vw;
		height: 3vw;
	}

	.radiant_white .slick-dots li button:before {
		width: 3vw;
		height: 3vw;
	}
}

/*輪播樣式end*/
/*menu*/
.radiant_white header {
	display: block;
	width: 100%;
	background-color: #fff;
	font-weight: bold;
	padding: 1.5% 0 1.5% 8%;
	font-size: 1vw;
	position: fixed;
	z-index: 20;
}

.radiant_white header > a {
	margin-right: 4vw;
	width: 9%;
}

.radiant_white header ul li a:hover {
	color: #aa9a6f;
}

.radiant_white header > a > img {
	width: 100%;
}

.radiant_white header a,
.radiant_white header ul,
.radiant_white header ul li {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Noto Serif TC', sans-serif !important;
}

.radiant_white header ul li {
	margin-right: 4vw;
	letter-spacing: 0.1vw;
}

.radiant_white header ul li:nth-last-child(1) {
	margin-right: 0vw;
}

@media (max-width:1100px) {
	.radiant_white header {
		padding: 1.5% 0 1.5% 10%;
	}

	.radiant_white header ul {
		width: 120%;
		transform: scale(0.9) translateY(-51%);
		position: absolute;
		left: 17%;
		top: 50%;

	}

	.radiant_white header ul li {
		margin-right: 3vw;
		float: left;
	}
}

@media (max-width:900px) {
	.radiant_white header {
		padding: 1.5% 0 1.5% 6%;
	}

	.radiant_white header ul {
		transform: scale(0.88) translateY(-52%);
		position: absolute;
		left: 12%;
		top: 50%;
	}
}

@media (max-width:768px) {
	.radiant_white .btn_menu {
		display: block;
		position: absolute;
		width: 5%;
		height: 0;
		padding-bottom: 10%;
		top: 2.8vw;
		right: 2%;
		cursor: pointer;
	}

	.radiant_white .btn_menu div {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #000;
		margin-bottom: 30%;
		transition: all 0.5s ease;
	}

	.btn_menu.click div {
		position: absolute;
		top: 25%;
	}

	.radiant_white .btn_menu.click div:nth-child(1) {
		transform: rotate(45deg);
	}

	.radiant_white .btn_menu.click div:nth-child(2) {
		transform: scale(0);
	}

	.radiant_white .btn_menu.click div:nth-child(3) {
		transform: rotate(-45deg);
	}

	.radiant_white header {
		width: 100%;
		min-height: 10vw;
		padding: 1.5% 5%;
		font-size: 14px;
		position: fixed;
		transition: all 0.5s ease;

	}

	.radiant_white header > a {
		margin-right: 0;
		width: 20%;
	}

	.radiant_white header ul,
	.radiant_white header ul li {
		display: block;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		box-sizing: border-box;
		margin-top: 0;
		transition: all 0.8s ease;
		position: relative;
	}

	.radiant_white header ul {
		transform: scale(1);
		left: auto;
		top: auto;
		position: relative;
	}

	.radiant_white header ul li {
		width: 100%;
		padding: 2% 3%;
		margin-right: 0;
	}

	.radiant_white header ul {
		margin-top: -150%;
	}

	.radiant_white header ul.click {
		margin-top: 0;
	}
}

/*layout*/

.newsale_wrapper.radiant_white section {
	display: inline-block;
}

.newsale_wrapper.radiant_white .for_m {
	display: none;
}

@media (max-width:768px) {
	.newsale_wrapper.radiant_white .for_m {
		display: block;
	}
}

.radiant_white footer {
	background-color: #68522e;
	color: #fff;
	font-size: 0.8vw;
	font-weight: normal;
	letter-spacing: 2px;
	padding: 20px 0;
	text-align: center;
}

@media (max-width:768px) {
	.radiant_white footer {
		font-size: 14px;
		font-weight: normal;
		letter-spacing: 2px;
		padding: 20px 0;
	}
}

.newsale_wrapper.radiant_white {
	width: 100%;
	height: auto;
	position: relative;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 16px;
	background-color: #dcb6b0;
	background-size: 100%;
	overflow-x: hidden !important;
	overflow-y: hidden;
	font-size: 0;
}

.radiant_white.kv_outer {
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 5%;
	background-image: url(../images/radiant_white/kv_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	box-sizing: border-box;
}

.radiant_white .logo {
	position: absolute;
	width: 6%;
	left: 4%;
	padding-top: 3.2%;
	z-index: 2;
}

.radiant_white .logo img {
	width: 100%;
}

.radiant_white .title {
	position: relative;
}

.radiant_white .title h1 {
	width: 47.1%;
	height: 0;
	padding-bottom: 12%;
	position: relative;
	z-index: 3;
	background-image: url(../images/radiant_white/KV_title.png);
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
	text-indent: -9999px;
	line-height: 0;
	margin-top: 14%;
	margin-left: 39.9%
}

.title .fly_01.radiant_white {
	width: 6.1%;
	position: absolute;
	top: -55%;
	left: 71.7%;
}

.kv_cont01 {
	width: 42.1%;
	margin-top: 45%;
	margin-left: 12.5%;
}

.kv_cont02 {
	width: 36.5%;
	margin-top: 2%;
	margin-left: 15.1%;
}

.bottle {
	position: absolute;
	top: 65%;
	left: 57.2%;
	width: 30%;
}

.bo_01 {
	width: 57.4%;
	margin: 14% 0 0 -3%;
	position: relative;
	z-index: 1;
}

.bo_02 {
	position: absolute;
	width: 65%;
	top: 3.2%;
	left: 29.1%;
	z-index: 0;
}

@media (max-width:768px) {
	.radiant_white.kv_outer {
		padding-bottom: 17%;
		background-image: url(../images/radiant_white/kv_bg_m-V1.jpg);
	}

	.radiant_white .logo {
		width: 10%;
		top: 0%;
		left: 4%;
	}

	.radiant_white .title h1 {
		width: 81%;
		padding-bottom: 20%;
    margin: 20% auto 0 auto;
	}

	.title .fly_01.radiant_white {
		width: 10%;
		top: -50%;
		left: 66%;
	}

	.kv_cont01,
	.kv_cont02,
	.bo_01,
	.bo_02 {
		display: none;
	}

	.kv_cont01 {
		width: 85%;
		margin: 54% auto 0 auto;
	}

	.kv_cont02 {
		width: 86%;
		margin: 6% auto 0 auto;
	}

	.bottle {
		position: relative;
		top: auto;
		left: auto;
		width: 76%;
		margin-left: 16%;
		margin-top: -2.7%;
	}

	.bo_01 {
		width: 57.4%;
		margin: 18% 0 0 -12%;
		z-index: 1;
	}

	.bo_02 {
		position: absolute;
		width: 65%;
		top: -10%;
		left: 20%;
		z-index: 0;
	}

}

/*防曬乳介紹*/
.new_product {
	width: 100%;
	position: relative;
	margin-top: -0.5%;
	overflow: hidden;
	background-image: url(../images/radiant_white/bg_02-V2.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 9%;
	overflow: hidden;
	z-index: 0;

}

.new_product img.img_ribbon {
	position: absolute;
	max-width: 100.5%;
	left: 0;
	bottom: 1%;
}

.new_product h2 {
	background-image: url(../images/radiant_white/title_02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 22%;
	width: 35%;
	margin-top: 7%;
	margin-left: 54%;
	overflow: hidden;
	text-indent: -9999px;
	line-height: 0;
	position: relative;
}

.new {
	position: absolute;
	top: 28%;
	left: 27.3%;
	width: 23.3%;
}

.product_info {
	position: relative;
	width: 50%;
	margin-left: 43.2%;
	margin-top: 3%;
}

.product_info .info_01 {
	width: 44%;
	margin: 0 0 0 44%;
}

.product_info .info_02 {
	width: 35%;
	margin: 8% 0 0 28%;
}

.product_info .info_03 {
	width: 32.5%;
	margin: 8% 0 0 3%;
}

@media (max-width:768px) {
	.new_product {
		overflow: hidden;
		background-image: url(../images/radiant_white/bg_02_m.jpg);
		padding-bottom: 9%;
	}

	.new_product img.img_ribbon {
		display: none;
	}

	.new_product img.img_ribbon.for_m {
		width: 100%;
		position: absolute;
		right: -1%;
		bottom: 0;
		display: block;
		z-index: 100px;

	}

	.new_product h2 {
		background-image: url(../images/radiant_white/title_02_m.png);
		padding-bottom: 60%;
		width: 70%;
		margin: 15% auto 0 auto;
	}

	.new {
		position: absolute;
		top: 34%;
		left: 56%;
		width: 32%;
	}

	.product_info {
		position: relative;
		width: 100%;
		margin-left: 0;
		margin-top: 105%;
	}

	.product_info img {
		display: none;
	}

	.product_info .info_01 {
		width: 43%;
		margin: 0 0 0 30%;
	}

	.product_info .info_02 {
		width: 43%;
		margin: 16% 0 0 30%;
	}

	.product_info .info_03 {
		width: 43%;
		margin: 20% 0 5.2% 30%;
	}
}

/*母親節首選*/
.shop_now {
	width: 100%;
	background-image: url(../images/radiant_white/bg_03.jpg);
	background-position: top center;
	background-size: 102%;
	background-repeat: no-repeat;
	margin-top: -0.9%;
	position: relative;
	z-index: 1;
	padding-top: 3%;
	padding-bottom: 6%;
}

.shop_now h2 {
	display: block;
	margin: 2.2% auto;
	background-image: url(../images/radiant_white/title_03.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 8%;
	overflow: hidden;
	line-height: 0;
	text-indent: -9999px;
	font-size: 0;
	width: 36%;
}

.shop_now > div {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.shop_now > div > a {
	position: absolute;
	display: block;
	background-image: url(../images/radiant_white/btn_shop.png);
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 26.5%;
	height: 0;
	padding-bottom: 4%;
	text-indent: -9999px;
	line-height: 0;
	transition: 0.5s ease;
}

.shop_now > div > a:hover {
	background-image: url(../images/radiant_white/btn_shop_hover.png);
}


.shop_01 {
	animation-delay: 0.5s;
}

.shop_02 {
	animation-delay: 0.8s;
}

.shop_03 {
	animation-delay: 1.1s;
}

.shop_01 img {
	width: 65.5%;
	margin: 4% auto 0 auto;
}

.shop_01 a {
	top: 72%;
	left: 56%;
}

.shop_02 img {
	width: 73%;
	margin: 5.2% auto 0 17%;
}

.shop_02 a {
	top: 72%;
	left: 17%;
}

.shop_03 img {
	width: 70.8%;
	margin: 7% auto 0 13%;
}

.shop_03 a {
	top: 72%;
	left: 57.2%;
}

@media (max-width:768px) {
	.shop_now {
		background-image: url(../images/radiant_white/bg_03_m.jpg);
		padding-top: 3%;
		padding-bottom: 6%;
		margin-top: -1%;
		background-size: cover;
	}

	.shop_now h2 {
		margin: 6% auto;
		background-image: url(../images/radiant_white/title_03.png);
		padding-bottom: 15%;
		width: 70%;
		margin-top: 13%;
	}

	.shop_now > div > a {
		width: 72%;
		height: 0;
		padding-bottom: 10%;

	}

	.shop_now > div img {
		display: none;
	}


	.shop_01 {
		animation-delay: 0.5s;
	}

	.shop_02 {
		animation-delay: 0.5s;
	}

	.shop_03 {
		animation-delay: 0.5s;
	}


	.shop_01 img {
		width: 100%;
		margin-top: 10%;
	}

	.shop_01 a {
		top: auto;
		left: 14%;
		bottom: -15%;
	}

	.shop_02 img {
		width: 100%;
		margin: 30% auto 0 2.2%;
	}

	.shop_02 a {
		top: auto;
		left: 16%;
		bottom: -15%;
	}

	.shop_03 img {
		width: 100%;
		margin: 35% auto 27% 1.4%;
	}

	.shop_03 a {
		top: auto;
		left: 16%;
		bottom: -15%;
	}
}

/*母親節第二波優惠*/


.specially {
	width: 100%;
	position: relative;
	background-image: url(../images/radiant_white/bg_04.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: visible;
	z-index: 1;
	padding-bottom: 3.5%;
	box-sizing: border-box;
}

.specially * {
	outline: none;
}

.specially h2 {
	display: block;
	width: 46%;
	overflow: hidden;
	text-indent: -999px;
	line-height: 0;
	height: 0;
	padding-bottom: 10%;
	background-image: url(../images/radiant_white/title_04.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin: -3.2% auto 0 auto;
}

.specially a.btn_more {
	background-image: url(../images/radiant_white/btn_more.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	overflow: hidden;
	line-height: 0;
	text-indent: -999px;
	display: block;
	height: 0;
	padding-bottom: 15%;
	width: 60%;
	cursor: pointer;
	position: absolute;
	left: 20%;
	bottom: 7%
}

.specially .btn_more:hover {
	background-image: url(../images/radiant_white/btn_more_hover.png);
}

.set_outer {
	width: 100%;
	position: relative;
	box-sizing: border-box;
	margin-top: 2%;
}

.set_outer div {
	position: relative;
	cursor: pointer;
}

.set_outer div.slick-slide:focus {
	outline: none;
	border: 0;
}

.set_outer .slick-list {
	padding: 0 7% !important;
}

.set_outer > div img {
	width: 96%;
	margin-left: 3%;
}

.specially button.slick-arrow {
	display: none !important;
}

@media(max-width:768px) {
	.specially {
		width: 100%;
		position: relative;
		background-image: url(../images/radiant_white/bg_04_m.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		overflow: visible;
		z-index: 1;
		padding-bottom: 18%;
		box-sizing: border-box;
	}

	.specially h2 {
		width: 80%;
		padding-bottom: 20%;
		margin-top: -5.5%;
	}

	.set_outer {
		width: 86%;
		margin: 7% auto 0 auto;
	}

	.set_outer .slick-list {
		padding: 0 0 !important;
	}

	.set_outer > div img {
		width: 96%;
		margin-left: 3%;
	}

	.specially button.slick-arrow {
		display: table-column !important;
		position: absolute;
		z-index: 5;
		background-color: transparent;
		outline: none;
		border: 0;
		font-size: 0;
	}

	.specially button.slick-arrow {
		width: 10%;
		height: 0;
		padding-bottom: 10%;
		background-image: url(../images/radiant_white/btn_next.png);
		background-size: 100%;
		background-repeat: no-repeat;
		top: 50%;
		transform: translateY(-50%);
		right: -6.5%;

	}

	.specially button.slick-arrow.slick-prev {
		left: -6.5%;

		background-image: url(../images/radiant_white/btn_pre.png);

	}

}

.fly_02.radiant_white {
	width: 15%;
	position: absolute;
	right: 5%;
	top: auto;
	bottom: 27%;
}

@media(max-width:768px) {
	.fly_02.radiant_white {
		display: none;
	}

}
