/* common */
.share *,
body.share,
.share html,
.share div,
.share ul,
.share li,
.share img{
  font-family: 'Helvetica', 'Noto Serif SC', serif;
}

body.share{
  line-height: 1.2;
}

/* 背景、裝飾物件 */
.wrap_share {
  width: 100%;
  background-image: linear-gradient(to right, #d6c7b4, #fef9f3, #d6c7b4 );
  overflow-x: hidden;
}
.container_share {
  width: 100%;
  max-width: 1920px;
  padding: 50px 0;
  position: relative;
  margin: 0 auto;
}
.shareimg {
  position: absolute;
  z-index: 2;
}
.shareimg01 {
  bottom: 0;
  left: -20%;
  z-index: 5;
  width: 49%;
}
.shareimg02 {
  bottom: 350px;
  left: -30%;
  z-index: 4;
  width: 70%;
}
.shareimg03_l1 {
  top: -6%;
  left: 0%;
  width: 10%;
}
.shareimg03_l2 {
  bottom: 0%;
  left: -3%;
  width: 20%;
}
.shareimg03_r1 {
  top: -2%;
  right: -13%;
  width: 25%;
}
.shareimg03_r2 {
  bottom: 30%;
  right: 2%;
  width: 13%;
}
.shareimg03_r3 {
  width: 20%;
  bottom: 0%;
  right: -10%;
}
.shareimg04_l1 {
  top: -20px;
  left: -20px;
  transform: rotate(-90deg);
}
.shareimg04_l2 {
  bottom: -20px;
  left: -20px;
  transform: rotate(180deg);
}
.shareimg04_r1 {
  top: -20px;
  right: -20px;
}
.shareimg04_r2 {
  bottom: -20px;
  right: -20px;
  transform: rotate(90deg);
}
/* 表單區塊 */
.share_infor_area {
  width: 100%;
  position: relative;
}
.form_share {
  width: 90%;
  max-width: 1300px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
.form_share_area {
  width: 100%;
  position: relative;
  background-color: #fff;
}
.form_share_box {
  width: 100%;
  text-align: center;
  border-top: 1px solid #b0a271;
  border-bottom: 1px solid #b0a271;
}
.form_share_contain {
  width: 85%;
  max-width: 800px;
  padding: 3% 0;
  margin: 0 6% 0 auto;
}
.share_titlebox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.share_title {
  background-image: url(../images/share/shareimg-05.png);
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  padding-top: 12.8%;
  background-size: 60%;
  margin: 2% 0 3% 0;
}
.form_share_contain h2 {
  color: #000000;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.8;
  font-weight: 600;
}
.color_red {
  color: #b42448;
}
/* 表單內容 */
.share_form_write {
  width: 100%;
  padding: 3% 0 2% 0;
  position: relative;
  z-index: 3;
}
.share_form_element {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-around;
  position: relative;
}
.share_form_item {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2%;
}
.share_form_item_1 {
  width: 42%;
}
.share_form_item_name {
  width: 120px;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  vertical-align: middle;
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-ideograph;
  -ms-text-justify: inter-ideograph;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
}
.share_form_item_name_1 {
  font-size: 20px;
  width: 123px;
  color: #b0a271;
}
.share ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #470b1e;
}
 
.share :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #470b1e;
}
 
.share ::-ms-input-placeholder { /* Microsoft Edge */
  color: #470b1e;
}
.share_form_item .form_elememt_contain.input {
  width: calc(95% - 120px);
  padding: 10px;
  margin-left: 5%;
  height: 100%;
  font-size: 16px;
  border: 1px solid transparent;
  border-color: #b0a271;
  outline: none;
  text-align: center;
  letter-spacing: 1.2px;
  border-radius: 6px;
}
.share_form_item_1 .form_elememt_contain.input {
  width: calc(95% - 123px);
}
.share_form_item .form_elememt_contain.input:focus {
  border-color: #b0a271;
  transition: border-color 0.4s linear;
}
.share_form_element {
  padding: 2% 0;
}
.share_form_textarea {
  display: block;
  padding: 5% 8%;
  margin-bottom: 3%;
  background-color: #b42448;
  border-radius: 10px;
}
.share_form_textarea .share_form_item {
  width: 100%;
  letter-spacing: 3px;
}
.share_form_textarea .share_form_item_name {
  width: auto;
}
.share_form_textarea .form_elememt_text {
  width: calc(95% - 300px);
  padding: 6px 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  resize: none;
  background-color: #b42448;
  border-radius: 0;
}
.share_form_textarea .form_elememt_text:focus {
  border-color: #b0a271;
  transition: border-color 0.4s linear;
}
.share_form_item_2 .form_elememt_text {
  width: calc(90% - 155px);
}
.share_form_item_2 {
  padding-top: 5%;
}
/* 好友新增按鈕 */
.friend_add{
  width: 100%;
  position: relative;
}
.friend_add {
  margin: 5%  auto 0 auto;
}
.friend_add_box1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.friend_add_box1 p {
  font-size: 18px;
  color: #fff;
  padding: 1% 5% 1% 8%;
  background-color: #b0a271;
  font-weight: 600;
  transition: font-size 0.2s linear;
  border-radius: 30px;
  letter-spacing: 5px;
  position: relative;
  cursor: pointer;
}
.friend_add_box1 p::before {
  content: '';
  background-image: url(../images/share/add-icon.png);
  width: 17px;
  padding-top: 17px;
  position: absolute;
  top: 27%;
  left: 18%;
  background-size: 100%;
}
.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 1px dotted #b0a271;
}
/* 刪除欄位按鈕 */
.remove_sharebox{
  width: 17px;
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translate(0, -50%);
  transition: width 0.2s linear;
  cursor: pointer;
}

.remove_sharebox:hover{
  width: 27px;
  transition: width 0.2s linear;
}
/* 確認按鈕 */
.share_line_btn {
  /* width: 30%;
  max-width: 220px; */
  margin: 0 auto;
  max-width: 300px;
}

.share_line_btn_contain_1 {
  display: block;
  margin: 0 auto;
}

.share_line_btn_contain_2 {
  display: none;
  margin: 0 auto;
}

.share_line_btn:hover .share_line_btn_contain_1 {
  display: none;
}

.share_line_btn:hover .share_line_btn_contain_2 {
  display: block;
}

/* 好友分享注意事項 */
.share_info{
  font-size: 12px;
  color: #595757;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-top: 3%;
}

.share_info_box ol, .share_info_box li {
  list-style: decimal;
  text-align: left;
}
/* popup */
.share .popup{
  width: 100%;
  height: 100vh;
  background-color: rgba(25, 78, 147, 0.36);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 99999;
}

.share .popup_wrap{
  width: 31.7708%;
  max-width: 608px;
  max-height: 69.4%;
  padding: 2%;
  background-color: #fff;
  border: 3px solid #b0a271;
  border-radius: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.share .popup_close{
  width: 6%;
  max-width: 32px;
  display: block;
  position: absolute;
  top: 3%;
  left: 92%;
  transition: 0.5s transform linear;
  cursor: pointer;
}

.share .popup_close:hover{
  display: block;
  transform: rotate(180deg);
  transition: 0.5s transform linear;
}

.share .popup_wrap ::-webkit-scrollbar {
  width: none;
}
/* line分享好友popup */
.share .popup_wrap .share_line_btn{
  width: 55%;
  max-width: none;
  padding-top: 20px;
}

/* 動態效果 */
.container_share .visible_object {
  opacity: 0;
}
/* .shareimg01.visible_object, .shareimg02.visible_object, .share_form_textarea.visible_object {
  opacity: 1;
} */
@keyframes fadeInUp{
  0%{
    opacity: 0;
    transform: translate(0, 30px);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes SHoW {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
}
.form_share {
  animation: fadeInUp 0.7s linear forwards;
}
.shareimg01 {
  animation: fadeInUp 0.7s linear forwards;
  animation-delay: 0.5s;
}
.shareimg02 {
  animation: SHoW 0.6s linear forwards;
  animation-delay: 0.8s;
}
.share_form_textarea {
  animation: flipInX 1.2s linear forwards;
  animation-delay: 1s;
}


@media screen and (max-width: 1300px){
  .shareimg01, .shareimg02, .shareimg_box {
    display: none;
  }
  .form_share_contain {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px){
  .container_share {
    padding: 150px 0 50px 0;
  }
  .share_title {
    background-size: 100%;
    padding-top: 21%;
  }
  .form_share {
    margin-top: 40%;
  }
  .shareimg01, .shareimg02 {
    display: block;
  }
  .shareimg01 {
    width: 100%;
    top: -37vw;
    left: -1%;
    z-index: 0;
  }
  .shareimg04_l1 {
    width: 20%;
  }
  .shareimg04_l2 {
    width: 20%;
  }
  .shareimg04_r1 {
    width: 20%;
  }
  .shareimg04_r2 {
    width: 20%;
  }

  .form_share_contain{
    width: 80%;
  }

  .form_share_contain > h1{
    font-size: 20px;
  }

  .share_form_item_name{
    font-size: 17px;
  }
  .share_form_item_name {
    text-align-last: auto;
  }
  .share_form_textarea .share_form_item_name {
    width: 100%;
    padding-top: 5%;
  }
  .share_form_item_name {
    width: 35%;
  }
  .share_form_item .form_elememt_contain.input{
    width: 100%;
    font-size: 16px;
  }

  .share_form_item_1 .form_elememt_contain.input {
    width: 100%;
  }
  .share_form_textarea .form_elememt_text {
    padding: 15px 10px;
  }
  .share_form_textarea .form_elememt_text{
    width: 100%;
    font-size: 16px;
  }
  .share_form_textarea {
    padding: 5% 6%;
  }
  .share_form_item_2 .form_elememt_text{
    width: 100%;
  }
  .share_form_item {
    width: 100%;
    padding: 4% 0 0 0;
  }
  /* .share_line_btn {
    width: 80%;
    max-width: 180px;
  } */
  .friend_add_box1:hover img {
    width: 24px;
  }
  .form_share{
    width: 90%;
  }
  .share_form_element{
    flex-wrap: wrap;
  }

  .share_form_textarea .share_form_item{
    width: 100%;
    padding: 4% 0 0 0;
    flex-wrap: wrap;
  }
  .friend_add_box1 p {
    padding: 1% 5% 1% 10%;
  }
  .friend_add_box1 p::before {
    top: 23%;
    left: 11%;
  }
  .share_line_btn_contain_1 {
    margin: 10% auto;
  }
  /* 刪除好友按鈕 */
  .remove_sharebox{
    margin: 0 auto 0 0;
    position: static;
    transform: translate(0, 0);
  }
  /* popup */
  .popup_wrap{
    width: 90%;
    max-width: 400px;
  }
}

@media screen and (max-width: 490px){
  .share_form_item_name {
    width: 55%;
  }
  .friend_add_box1 p {
    padding: 3% 8% 3% 16%;
  }
  .friend_add_box1 p::before {
    top: 26%;
    left: 11%;
  }
}
@media screen and (max-width: 420px){
  .share_form_item_name {
    width: 74%;
  }
  .shareimg04_l1 {
    top: -10px;
    left: -10px;
  }
  .shareimg04_l2 {
    bottom: -10px;
    left: -10px;
  }
  .shareimg04_r1 {
    top: -10px;
    right: -10px;
  }
  .shareimg04_r2 {
    bottom: -10px;
    right: -10px;
  }
}
