@charset "UTF-8";

@keyframes light {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes lightMotion {
	0% {
		opacity: 0.5;
		filter: blur(2px);
	}

	50% {
		opacity: 1;
		filter: blur(0);
	}

	100% {
		opacity: 0.5;
		filter: blur(2px);
	}
}

.light_motion {
	animation-name: lightMotion;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	animation-timing-function: ease;
}

.light_motion_02 {
	animation-name: light;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	animation-timing-function: ease-in-out;
}

.five_light {
	display: block;
	position: absolute;
	animation-duration: 2s;
}



@keyframes norun {
	from {
		transform: translateY(-900%);
	}

	to {
		transform: translateY(0);
	}
}

.norun {
	animation-name: norun;
	transition-timing-function: cubic-bezier(0, 0.575, 0.565, 1.05);
	animation-duration: 0.6s;
}

/*五星保養*/

.btn_five_star {
	position: fixed;
	display: block;
	width: 40px;
	z-index: 100;
	right: 0;
	bottom: 158px;
}

.five_stars_page {
	position: relative;
	width: 100%;
	padding-bottom: 0 !important;
}

.five_stars_page .btn_01 {
	background-image: url(../images/five_stars/btn_now.png);
}

.five_stars_page .btn_02 {
	background-image: url(../images/five_stars/btn_shop.png);
}



/*主視覺*/
.five_kv {
	position: relative;
	width: 100%;
	background-image: url(../images/five_stars/kv_pic.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	height: 0;
	padding-bottom: 59.8%;
}

.five_kv_title,
.five_kv_cont {
	position: relative;
	margin: 0 auto;
	width: 67.7%;
	display: block;
	text-align: left;
}

.five_kv_title h1 {
	width: 56%;
	display: inline-block;
	position: relative;
	background-image: url(../images/five_stars/kv_title.png);
	background-size: 100%;
	height: 0;
	padding-bottom: 20%;
	background-repeat: no-repeat;
	background-position: left top;
	overflow: hidden;
	line-height: 100;
	text-indent: -100em;
	margin-top: 14%;
	margin-left: -2%;
	margin-bottom: 1%;
}

.five_kv_title h1::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-image: url(../images/five_stars/kv_title.png);
	background-size: 100%;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	animation-name: light;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	animation-timing-function: ease;
}

.five_kv_cont {
	margin: 0 auto;
	display: block;
	width: 67.7%;
	color: #4a5866;
	font-weight: 200;
	font-size: 1.45vw;
	letter-spacing: 0.4vw;
	line-height: 2;

}

@media (max-width:768px) {
	.five_kv {
		background-image: url(../images/five_stars/kv_m.jpg);
		padding-bottom: 124%;
	}

	.five_kv_title,
	.five_kv_cont {
		position: relative;
		margin: 0 auto;
		width: 90%;
		display: block;
		text-align: left;
	}

	.five_kv_title h1 {
		width: 46%;
		background-image: url(../images/five_stars/kv_title_m.png);
		padding-bottom: 25%;
		margin-top: 14%;
		margin-left: 0%;
		margin-bottom: 66.2%;
	}

	.five_kv_title h1::after {
		background-image: url(../images/five_stars/kv_title_m.png);
	}

	.five_kv_cont {
		width: 90%;
		font-size: 3vw;
		letter-spacing: 0.4vw;
		line-height: 1.8;

	}
}

/*五星*/
.five_star_info {
	position: relative;
	height: 0;
	padding-bottom: 60%;
	padding-top: 5%;
	background-color: #f0ebdb;
}

.five_star_info > div {
	position: relative;
	z-index: 2;
}

.five_cont_02_bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.five_cont_02_title {
	width: 73.2%;
	height: 0;
	padding-bottom: 8.5%;
	background-image: url(../images/five_stars/t_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
	opacity: 0;
	animation-fill-mode: forwards;

}

.five_cont_02_title h2,
.five_cont_02_title p {
	width: 0;
	height: 0;
	line-height: 100;
	overflow: hidden;
}

.five_stars_box {
	margin: 2% auto 2% 23%;
	position: relative;
	display: block;
	width: 50%;
	height: 0;
	padding-bottom: 50%;
	background-image: url(../images/five_stars/cont_five_pro.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.five_stars_box h3 {
	display: block;
	position: absolute;
	background-image: url(../images/five_stars/cont_01_center.png);
	background-position: center;
	width: 51%;
	height: 0;
	padding-bottom: 27%;
	background-size: 100%;
	left: 29%;
	margin-top: 37%;
	overflow: hidden;
	line-height: 100;
	text-indent: -100%;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

@media (max-width:768px) {

	.five_star_info {
		padding-bottom: 144%;
		padding-top: 8%;
	}

	.five_star_info > div {
		position: relative;
		z-index: 2;
	}

	.five_cont_02_bg {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.five_cont_02_title {
		width: 84%;
		padding-bottom: 36%;
		background-image: url(../images/five_stars/t_02_m.png);
	}

	.five_stars_box {
		margin: 4% auto;
		width: 95%;
		height: 0;
		padding-bottom: 100%;
		background-image: url(../images/five_stars/cont_five_pro_m.png);
	}

	.five_stars_box h3 {
		margin: 38% auto 0 -3%;
	}
}

/*平滑角質*/
.five_o_cont_01,
.five_o_cont_02,
.five_o_cont_03,
.five_o_cont_04,
.five_o_cont_05 {
	position: absolute;
	width: 20%;
	left: 62.5%;
	transition: 0.3s;
	cursor: pointer;
	z-index: 0;
}

.five_o_cont_01:hover,
.five_o_cont_02:hover,
.five_o_cont_03:hover,
.five_o_cont_04:hover,
.five_o_cont_05:hover {
	width: 100%;
	height: auto;
	z-index: 5;
}

.five_o_cont_01 img:nth-child(1),
.five_o_cont_02 img:nth-child(1),
.five_o_cont_03 img:nth-child(1),
.five_o_cont_04 img:nth-child(1),
.five_o_cont_05 img:nth-child(1) {
	position: absolute;
	width: 10vw;
	animation-duration: 0.6s;
}

.five_o_cont_01 img:nth-child(2),
.five_o_cont_02 img:nth-child(2),
.five_o_cont_03 img:nth-child(2),
.five_o_cont_04 img:nth-child(2),
.five_o_cont_05 img:nth-child(2) {
	width: 50%;
	position: relative;
	display: none;
	transition: 0.3s;
	opacity: 0;
}

.five_o_cont_01 a,
.five_o_cont_02 a,
.five_o_cont_03 a,
.five_o_cont_04 a,
.five_o_cont_05 a {
	display: block;
	z-index: 3;
	position: absolute;
	width: 22%;
	height: 0;
	padding-bottom: 10%;
	overflow: hidden;
	line-height: 100;
	display: none;
	transition: 0.5s;
	opacity: 0;
}

.five_o_cont_01 a:nth-child(3) {
	left: 20%;
	bottom: 0;
}

.five_o_cont_01 a:nth-child(4) {
	left: 45%;
	bottom: 0;
}

.five_o_cont_01:hover a,
.five_o_cont_01:hover img,
.five_o_cont_02:hover a,
.five_o_cont_02:hover img,
.five_o_cont_03:hover a,
.five_o_cont_03:hover img,
.five_o_cont_04:hover a,
.five_o_cont_04:hover img,
.five_o_cont_05:hover a,
.five_o_cont_05:hover img {
	display: block;
	opacity: 1;
	animation: fadeIn;
	animation-duration: 0.3s;

}

.five_o_cont_01:hover img:nth-child(2) {
	margin-left: 15%;
	margin-top: 0%;
}


.five_o_cont_01:hover img.for_m,
.five_o_cont_02:hover img.for_m,
.five_o_cont_03:hover img.for_m,
.five_o_cont_04:hover img.for_m,
.five_o_cont_05:hover img.for_m {
	display: none;
}


/*肌膚活力*/
.five_o_cont_02 {
	top: 20%;
	left: 98%;
}

.five_o_cont_02 a:nth-child(3) {
	left: 0%;
	margin-top: -10%;
}

.five_o_cont_02 a:nth-child(4) {
	left: 20%;
	margin-top: -10%;
}

.five_o_cont_02:hover img:nth-child(2) {
	margin-left: -4%;
	margin-top: 15%;
	display: block;
}

/*肌膚活力*/

.five_o_cont_03 {
	top: 75%;
	left: 86%;
}

.five_o_cont_03 a:nth-child(3) {
	left: 5%;
	margin-top: -15%;
}

.five_o_cont_03 a:nth-child(4) {
	left: 30%;
	margin-top: -15%;
}

.five_o_cont_03:hover img:nth-child(2) {
	margin-left: 3%;
	margin-top: -44%;
	display: block;
}

/*均亮膚色*/

.five_o_cont_04 {
	top: 75%;
	left: 5%;
}

.five_o_cont_04 a:nth-child(3) {
	margin-left: -40%;
	margin-top: -15%;
}

.five_o_cont_04 a:nth-child(4) {
	margin-left: -12%;
	margin-top: -15%;
}

.five_o_cont_04:hover img:nth-child(2) {
	margin-left: -40%;
	margin-top: -43%;
	display: block;
}

/*撫平細紋*/

.five_o_cont_05 {
	top: 14%;
	left: 10%;
}

.five_o_cont_05 a:nth-child(3) {
	left: -45%;
	margin-top: -15%;
}

.five_o_cont_05 a:nth-child(4) {
	left: -18%;
	margin-top: -15%;
}

.five_o_cont_05:hover img:nth-child(2) {
	margin-left: -45%;
	margin-top: -25%;
	display: block;
}

@media (max-width:768px) {

	/*平滑角質*/
	.five_o_cont_01,
	.five_o_cont_02,
	.five_o_cont_03,
	.five_o_cont_04,
	.five_o_cont_05 {
		position: absolute;
		width: 35% !important;
		left: 28%;
		top: 3%;
		transition: 0.3s;
		cursor: pointer;
		z-index: 0;
	}

	.five_o_cont_01:hover,
	.five_o_cont_02:hover,
	.five_o_cont_03:hover,
	.five_o_cont_04:hover,
	.five_o_cont_05:hover {
		width: 100%;
		height: auto;
		z-index: 5;
	}

	.five_o_cont_01 img:nth-child(1),
	.five_o_cont_02 img:nth-child(1),
	.five_o_cont_03 img:nth-child(1),
	.five_o_cont_04 img:nth-child(1),
	.five_o_cont_05 img:nth-child(1) {
		position: absolute;
		width: 20vw;
		animation-duration: 0.6s;
	}

	.five_o_cont_01 img.for_m,
	.five_o_cont_02 img.for_m,
	.five_o_cont_03 img.for_m,
	.five_o_cont_04 img.for_m,
	.five_o_cont_05 img.for_m {
		width: 250%;
		position: relative;
		display: none;
		transition: 0.3s;
		/*opacity: 0;*/
	}

	.five_o_cont_01 a,
	.five_o_cont_02 a,
	.five_o_cont_03 a,
	.five_o_cont_04 a,
	.five_o_cont_05 a {
		display: block;
		z-index: 3;
		position: absolute;
		width: 100%;
		height: 0;
		padding-bottom: 30%;
		overflow: hidden;
		line-height: 100;
		display: none;
		transition: 0.5s;
		opacity: 0;
		z-index: 12;
	}

	.five_o_cont_01 a:nth-child(3) {
		left: -40%;
		bottom: 0%;
	}

	.five_o_cont_01 a:nth-child(4) {
		left: 60%;
		bottom: 0;
	}

	.five_o_cont_01:hover a,
	.five_o_cont_01:hover img,
	.five_o_cont_02:hover a,
	.five_o_cont_02:hover img,
	.five_o_cont_03:hover a,
	.five_o_cont_03:hover img,
	.five_o_cont_04:hover a,
	.five_o_cont_04:hover img,
	.five_o_cont_05:hover a,
	.five_o_cont_05:hover img {
		display: block;
		opacity: 1;

	}

	.five_o_cont_01:hover img.for_pc,
	.five_o_cont_02:hover img.for_pc,
	.five_o_cont_03:hover img.for_pc,
	.five_o_cont_04:hover img.for_pc,
	.five_o_cont_05:hover img.for_pc {
		display: none !important;

	}

	.five_o_cont_01 img.for_m,
	.five_o_cont_02 img.for_m,
	.five_o_cont_03 img.for_m,
	.five_o_cont_04 img.for_m,
	.five_o_cont_05 img.for_m {
		/*display: none !important;*/
		z-index: 10;

	}

	.five_o_cont_01 img.for_m {
		margin-left: -55%;
		margin-top: 75%;
	}

	.five_o_cont_01:hover img.for_m {
		margin-left: -55%;
		margin-top: 75%;
	}

	/*肌膚活力*/
	.five_o_cont_02 {
		top: 12%;
		left: 70%;
	}

	.five_o_cont_02 a:nth-child(3) {
		left: 0%;
		margin-top: -10%;
	}

	.five_o_cont_02 a:nth-child(4) {
		left: 20%;
		margin-top: -10%;
	}

	.five_o_cont_02:hover img:nth-child(2) {
		margin-left: -4%;
		margin-top: 15%;
		display: block;
	}

	/*肌膚活力*/

	.five_o_cont_03 {
		top: 64%;
		left: 79.5%;
	}

	.five_o_cont_03 a:nth-child(3) {
		left: 5%;
		margin-top: -15%;
	}

	.five_o_cont_03 a:nth-child(4) {
		left: 30%;
		margin-top: -15%;
	}

	.five_o_cont_03:hover img:nth-child(2) {
		margin-left: 3%;
		margin-top: -44%;
		display: block;
	}

	/*均亮膚色*/

	.five_o_cont_04 {
		top: 74.5%;
		left: 33%;
	}

	.five_o_cont_04 a:nth-child(3) {
		margin-left: -40%;
		margin-top: -15%;
	}

	.five_o_cont_04 a:nth-child(4) {
		margin-left: -12%;
		margin-top: -15%;
	}

	.five_o_cont_04:hover img:nth-child(2) {
		margin-left: -40%;
		margin-top: -43%;
		display: block;
	}

	/*撫平細紋*/

	.five_o_cont_05 {
		top: 44%;
		left: 1%;
	}

	.five_o_cont_05 a:nth-child(3) {
		left: -45%;
		margin-top: -15%;
	}

	.five_o_cont_05 a:nth-child(4) {
		left: -18%;
		margin-top: -15%;
	}

	.five_o_cont_05:hover img:nth-child(2) {
		margin-left: -45%;
		margin-top: -25%;
		display: block;
	}
}

/*金萃極緻無痕煥采前導精華*/
.five_cont_03 {
	background-image: url(../images/five_stars/cont_03_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 144.5%;
	padding-top: 1%;
}

.five_deco_01 {
	width: 22%;
	right: 23%;
	top: 19%;
	animation-duration: 3s;
}

.five_01_sp {
	position: relative;
	width: 33.4% !important;
	margin-left: 8.9%;
}

.five_01_sp img {
	position: absolute;
	width: 20%;
	left: -4%;
	top: -8%;
}

.five_01_sp span {
	display: block;
	background-image: url(../images/five_stars/cont_03_t_01.png);
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 30%;
	overflow: hidden;
	line-height: 100;
}

.five_01_title {
	display: block;
	width: 44.7%;
	background-size: 100%;
	background-image: url(../images/five_stars/cont_03_t_02.png);
	overflow: hidden;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 10%;
	position: relative;
	margin-left: 17.5%;
	margin-top: -2%;
}

.five_01_title h2,
.five_01_title p {
	width: 0;
	height: 0;
	line-height: 100;
	overflow: hidden;
}

.five_01_info_01 {
	position: relative;
	width: 34.2%;
	margin-left: 17.5%;
	margin-top: 1%;
}

.five_01_info_02 {
	position: relative;
	width: 39.3%;
	margin-left: 44.8%;
	margin-top: 16%;
	padding-bottom: 1.5%;
}

.five_pro_set_01 {
	width: 68.6%;
	position: relative;
	margin: 0% auto;
	background-image: url(../images/five_stars/prod_set_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 27%;
}

.five_pro_set_01 p {
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 100;
	display: block;
}

.five_pro_set_01 .btn_01 {
	margin-top: 25%;
	margin-left: 44%;
}

/*8種用法*/
.five_01_howuse {
	width: 69.6%;
	position: relative;
	margin: 1% auto 0 auto;
	text-align: center;
}

.five_01_howuse h2 {
	width: 77.8%;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 2% auto 0 auto;
	background-image: url(../images/five_stars/cont_03_02_t_01.png);
	height: 0;
	padding-bottom: 27%;
	overflow: hidden;
	line-height: 100;
}

.how_use_cont {
	width: 100%;
	position: relative;
	margin: 0 auto;
	height: 0;
	padding-bottom: 42%;
	overflow: hidden;
	text-align: center;
	font-size: 0;
}

.how_use_cont > div {
	display: inline-block;
	width: 17.5%;
	height: 0;
	position: relative;
	padding-bottom: 17.5%;
	overflow: hidden;
	margin-right: 1%;
	margin-bottom: 7%;
	cursor: pointer;
	transition: 0.3s;
}

.how_use_cont > div img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.3s;
}

.how_use_cont > div img:nth-child(1) {
	z-index: 2;
}

.how_use_cont > div img:nth-child(2) {
	z-index: 0;
	opacity: 0;
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.f_use_03,
.f_use_07 {
	margin-left: 18%;
}

.f_use_04,
.f_use_08 {
	margin-right: 0%;
}

.how_use_cont > div:hover img:nth-child(1) {
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	opacity: 0;
}

.how_use_cont > div:hover img:nth-child(2) {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
	opacity: 1;
}

@media (max-width:768px) {

	.five_cont_03 {
		background-image: url(../images/five_stars/cont_03_bg_m.jpg);
		padding-bottom: 515%;
		padding-top: 4%;
	}

	.five_deco_01 {
		width: 28%;
		right: 6%;
		top: 14.7%;
	}

	.five_01_sp {
		position: relative;
		width: 69% !important;
		margin-left: 15.5% !important;
	}

	.five_01_title {
		display: block;
		width: 85%;
		background-size: 100%;
		background-image: url(../images/five_stars/t_03_m.png);
		padding-bottom: 26%;
		position: relative;
		margin-left: 6%;
		margin-top: -1%;
	}


	.five_01_info_01 {
		position: relative;
		width: 88%;
		margin-left: 6%;
		margin-top: 1%;
	}

	.five_01_info_02 {
		position: relative;
		width: 88%;
		margin-left: 6%;
		margin-top: 50%;
		padding-bottom: 3%;
	}

	.five_pro_set_01 {
		width: 90%;
		position: relative;
		margin: 0% auto;
		background-image: url(../images/five_stars/prod_01_m.png);
		padding-bottom: 121%;
	}

	.five_pro_set_01 .btn_01,
	.five_pro_set_01 .btn_02 {
		width: 43%;
		position: absolute;
		bottom: 8%;
	}

	.five_pro_set_01 .btn_01 {
		margin-top: 50%;
		margin-left: 5%;
	}

	.five_pro_set_01 .btn_02 {
		right: 5%;
	}

	/*8種用法*/
	.five_01_howuse {
		width: 90%;
		position: relative;
		margin: 1% auto 0 auto;
		text-align: center;
	}

	.five_01_howuse h2 {
		width: 68%;
		padding-bottom: 27%;
		overflow: hidden;
		line-height: 100;
		margin-left: 0;
		margin-top: 30%;
		background-image: url(../images/five_stars/cont_03_02_t_01_m.png);
	}

	.how_use_cont {
		width: 100%;
		position: relative;
		margin: 36% auto 0 auto;
		height: 0;
		padding-bottom: 170%;
		overflow: hidden;
		text-align: center;
		font-size: 0;
	}

	.how_use_cont > div {
		display: inline-block;
		width: 40%;
		height: 0;
		position: relative;
		padding-bottom: 40%;
		overflow: hidden;
		margin-right: 2%;
		margin-bottom: 3%;
		cursor: pointer;
		transition: 0.3s;
	}

	.how_use_cont > div img {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: 0.3s;
	}

	.f_use_02,
	.f_use_06,
	.f_use_08,
	.f_use_04 {
		margin-right: 0;
	}

	.f_use_03,
	.f_use_07 {
		margin-left: auto;
	}

	.f_use_04,
	.f_use_08 {
		margin-right: 0%;
	}

}

/*02 青春奇蹟活酵肌秘露EX*/
.five_cont_04 {
	width: 100%;
	height: 0;
	padding-bottom: 188%;
	background-image: url(../images/five_stars/cont_04_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}

.five_02_sp {
	width: 29.5% !important;
}

.five_02_sp img {
	top: 5%;
	left: 0%;
}

.five_02_sp span {
	background-image: url(../images/five_stars/cont_04_t_01.png);
	padding-bottom: 40%;
}

.five_02_title {
	width: 38%;
	padding-bottom: 18%;
	background-image: url(../images/five_stars/cont_04_t_02.png);
}

.five_cont_04_no {
	background-image: url(../images/five_stars/cont_04_no.png);
	width: 71.6%;
	position: relative;
	height: 0;
	padding-bottom: 50%;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 18%;
	margin-top: -5.8%;
}

.five_cont_04_no img,
.five_cont_04_no div {
	position: absolute;
}

.five_cont_04_no .counter,
.five_cont_05_no .counter,
.five_cont_05_no span {
	background: #b57800;
	/* Old browsers */
	background: -moz-linear-gradient(top, #b57800 0%, #e9c878 49%, #b57800 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b57800 0%, #e9c878 49%, #b57800 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b57800 0%, #e9c878 49%, #b57800 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b57800', endColorstr='#b57800', GradientType=0);
	/* IE6-9 */
	background-clip: text;
	color: transparent;
	font-family: 'Charm';
	background-clip: text;
	-webkit-background-clip: text;
}

.five_cont_04_no_01 {
	font-size: 6.4vw;
	top: 8%;
	left: 15%;
}

.five_cont_04_no_02,
.five_cont_04_no_03,
.five_cont_04_no_04,
.five_cont_04_no_05 {
	font-size: 4.5vw;
}

.five_cont_04_no_02 {
	top: 38%;
	left: 23%;
}

.five_cont_04_no_03 {
	top: 49.5%;
	left: 25%;
}

.five_cont_04_no_04 {
	top: 60.8%;
	left: 28.8%;
}

.five_cont_04_no_05 {
	top: 72.5%;
	left: 31.5%;
}

.five_cont_04_no .cont_04_word {
	width: 20%;
}

.no_oo_01,
.no_oo_02,
.no_oo_03,
.no_oo_04,
.no_oo_05 {
	width: 2%;
}

.no_oo_01 {
	top: 25%;
	left: 36%;
}

.no_oo_02 {
	top: 45%;
	left: 34.5%;
}

.no_oo_03 {
	top: 56.5%;
	left: 35.5%;
}

.no_oo_04 {
	top: 68%;
	left: 39%;
}

.no_oo_05 {
	top: 79%;
	left: 45%;
}

.cont_04_word {
	width: 30% !important;
	top: 30%;
}

.cont_04_tip {
	position: absolute;
	width: 13.6%;
	top: 24%;
	right: 39.5%;
}

.five_pro_set_02 {
	background-image: url(../images/five_stars/prod_set_02.png);
}

.five_pro_set_02 .btn_01 {
	margin-top: 26%;
}

@media (max-width:768px) {

	.five_cont_04 {
		width: 100%;
		height: 0;
		padding-bottom: 509%;
		background-image: url(../images/five_stars/cont_04_bg_m.jpg);
		padding-top: 5%;
		background-color: #f6f0da;
	}

	.five_02_sp {
		width: 69% !important;
		margin-left: 1% !important;
		margin-top: -5% !important;
	}


	.five_02_title {
		width: 81.25%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 36%;
		background-image: url(../images/five_stars/cont_04_t_02_m.png);
	}

	.five_cont_04_no {
		background-image: url(../images/five_stars/cont_04_no_m.png);
		width: 54.2%;
		position: relative;
		height: 0;
		padding-bottom: 98%;
		background-repeat: no-repeat;
		background-size: 100%;
		margin-left: 5%;
		margin-top: 5%;
	}

	.five_cont_04_no_01 {
		font-size: 11vw;
		top: -7%;
		left: 63%;
	}

	.five_cont_04_no_02,
	.five_cont_04_no_03,
	.five_cont_04_no_04,
	.five_cont_04_no_05 {
		font-size: 9vw;
	}

	.five_cont_04_no_02 {
		top: 31%;
		left: 44%;
	}

	.five_cont_04_no_03 {
		top: 42.4%;
		left: 50%;
	}

	.five_cont_04_no_04 {
		top: 53.4%;
		left: 44%;
	}

	.five_cont_04_no_05 {
		top: 64.5%;
		left: 49%;
	}

	.no_oo_01,
	.no_oo_02,
	.no_oo_03,
	.no_oo_04,
	.no_oo_05 {
		display: none;
	}


	.cont_04_word {
		width: 130% !important;
		top: 9%;
	}

	.cont_04_tip {
		position: absolute;
		width: 55%;
		top: 16.8%;
		right: 39.5%;
	}

	.five_pro_set_02 {
		background-image: url(../images/five_stars/prod_03_m.png);
		padding-bottom: 111%;
	}

	.five_pro_set_02 .btn_01 {
		margin-top: 26%;
	}

	.small_word_bottm {
		margin-left: 5%;
		position: relative;
		width: 67%;
		margin-top: -13%;
		margin-bottom: 10%;
	}

}

/*03 金萃極緻無痕奇蹟精華*/

.five_deco_02 {
	width: 30%;
	right: 14%;
	top: 72%;
}

.five_03_sp {
	width: 30% !important;
	margin-top: -2.5%;
}

.five_03_sp img {
	left: 1%;
	top: 2%;
}

.five_03_sp span {
	padding-bottom: 40%;
	background-image: url(../images/five_stars/cont_04_02_t_01.png);
}

.five_03_title {
	width: 51.3%;
	background-image: url(../images/five_stars/cont_04_2_t.png);
}

.five_mask_01 {
	-webkit-mask-image: url(../images/five_stars/cont_04_2_t_mask.png);
	mask-image: url(../images/five_stars/cont_04_2_t_mask.png);
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center top;
	mask-position: center top;
	position: absolute;
	width: 100%;
	height: 100%;
}


.five_cont_05_no {
	width: 65%;
	margin: 0 auto;
}

.five_cont_05_no > div {
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 7%;
	background-position: left center;
	margin-top: 4%;
}

.five_cont_05_no > div > span {
	position: absolute;
	font-size: 3.6vw;
	display: inline-block;
	vertical-align: middle;
	margin-top: -1.5%;
	font-weight: 600;
}

.cont_05_no_01 {
	background-image: url(../images/five_stars/line_01.png);
	width: 75%;
	padding-left: 23%;
}

.cont_05_no_02 {
	width: 69%;
	padding-left: 25%;
	background-image: url(../images/five_stars/line_02.png);
}

.cont_05_no_03 {
	padding-left: 24.4%;
	background-image: url(../images/five_stars/line_03.png);
	width: 62%;
}

.cont_05_no_04 {
	padding-left: 20.5%;
	background-image: url(../images/five_stars/line_04.png);
	width: 55%;
}

.cont_05_no_05 {
	padding-left: 18.5%;
	width: 49%;
	background-image: url(../images/five_stars/line_05.png);
}

.five_cont_05_word {
	width: 12.6%;
	margin-left: 17.5%;
	padding: 1.5% 0;
}

.five_pro_set_03 {
	background-image: url(../images/five_stars/prod_set_03.png);
}

.five_pro_set_03 .btn_01 {
	margin-top: 26%;
}



@media (max-width:768px) {

	.five_03_sp {
		width: 63% !important;
		margin-top: -5% !important;
		margin-left: 1% !important;
	}

	.five_deco_02 {
		width: 30%;
		right: 6%;
		top: 70%;
	}



	.five_03_title {
		width: 60%;
		background-image: url(../images/five_stars/t_04_m.png);
		margin: -6% auto 3% auto;
	}

	.five_mask_01 {
		-webkit-mask-image: url(../images/five_stars/t_04_m_mask.png);
		mask-image: url(../images/five_stars/t_04_m_mask.png);
		-webkit-mask-size: 100%;
		mask-size: 100%;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-position: center top;
		mask-position: center top;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.five_cont_05_no {
		width: 88%;
		margin: -0.5% auto 0 auto;
	}

	.five_cont_05_no div {
		margin-bottom: 6.5%;
	}

	.five_cont_05_no div span {
		font-size: 7.8vw !important;
		margin-top: -4%;
	}

	.cont_05_no_01 {
		background-image: url(../images/five_stars/line_m_01.png);
		width: 82%;
		padding-left: 32%;
	}

	.cont_05_no_02 {
		width: 72%;
		padding-left: 34%;
		background-image: url(../images/five_stars/line_m_02.png);
	}

	.cont_05_no_03 {
		padding-left: 33%;
		background-image: url(../images/five_stars/line_m_03.png);
		width: 62%;
	}

	.cont_05_no_04 {
		padding-left: 28.5%;
		background-image: url(../images/five_stars/line_m_04.png);
		width: 56%;
	}

	.cont_05_no_05 {
		padding-left: 24%;
		width: 50%;
		background-image: url(../images/five_stars/line_m_05.png);
	}

	.cont_05_no_05 span {
		margin-top: -5.5% !important;
	}

	.five_cont_05_word {
		width: 35%;
		margin-left: 5%;
		padding: 0 0 5% 0;
	}

	.five_pro_set_03 {
		background-image: url(../images/five_stars/prod_04_m.png);
		padding-bottom: 111%;
	}

	.five_pro_set_03 .btn_01 {
		margin-top: 26%;
	}

}

/*04 金萃極緻無痕四周煥采安瓶*/
.five_cont_05 {
	width: 100%;
	height: 0;
	padding-bottom: 84.4%;
	background-image: url(../images/five_stars/cont_05_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.five_pro_set_04 {
	background-image: url(../images/five_stars/prod_set_04.png);
}

.five_pro_set_04 .btn_01 {
	margin-top: 26%;
}



.five_04_sp {
	width: 33% !important;
}

.five_04_sp img {
	left: -3%;
	top: 2%;
}

.five_04_sp span {
	padding-bottom: 36%;
	background-image: url(../images/five_stars/cont_05_t_01.png) !important;
	
}

.five_04_title {
	width: 37%;
	padding-bottom: 16%;
	background-image: url(../images/five_stars/cont_05_t_02.png);
}

.five_pro_set_05 {
	background-image: url(../images/five_stars/prod_set_05.png);
}

.five_pro_set_05 .btn_01 {
	margin-top: 25%;
}

.five_cont_05_info {
	width: 50%;
	height: 0;
	padding-bottom: 25.8%;
	margin-left: 17.5%;
	text-align: center;
	margin-top: -3%;
	position: relative;
}

.five_cont_05_info > div {
	display: inline-block;
	width: 30%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 30%;
	background-position: center;
	position: absolute;
}

.five_cont_05_info > div > span {
	color: #d06c6c;
	font-family: 'Charm';
	text-align: center;
	display: block;
	width: 100%;
	font-weight: 400;
	font-size: 4.2vw;
	padding-top: 6.7vw;
	margin-left: -10%;
}

.five_cont_05_o_01 {
	left: 0;
	top: 25%;
	background-image: url(../images/five_stars/cont_05_O_01.png);
}

.five_cont_05_o_02 {
	left: 27%;
	top: 40%;
	background-image: url(../images/five_stars/cont_05_O_02.png);
}

.five_cont_05_o_03 {
	right: 20%;
	top: 10%;
	background-image: url(../images/five_stars/cont_05_O_03.png);
}

.five_cont_06_word_01 {
	width: 12%;
	margin-left: 18%;
	margin-bottom: 3%;
}

@media (max-width:768px) {
	.five_cont_05 {
		width: 100%;
		height: auto;
		background-image: url(../images/five_stars/cont_05_bg_m.jpg);
		padding-top: 1%;
		padding-bottom: 2%;
	}

	.five_04_title {
		width: 80%;
		margin-top: -3%;
		padding-bottom: 50%;
		margin-left: 12%;
		background-image: url(../images/five_stars/cont_05_t_02_m.png);
	}

	.five_04_sp {
		width: 72% !important;
		margin-left: 1% !important;
	}

	.five_pro_set_04 {
		background-image: url(../images/five_stars/prod_05_m.png);
		padding-bottom: 101%;
	}

	.five_cont_05_info {
		width: 90%;
		height: 0;
		padding-bottom: 60%;
		margin-left: 5%;
		text-align: center;
		margin-top: 66%;
		position: relative;
	}

	.five_cont_05_info > div {
		display: inline-block;
		width: 38%;
		padding-bottom: 38%;
	}

	.five_cont_05_info > div > span {
		width: 100%;
		font-weight: 400;
		font-size: 9vw;
		padding-top:17vw;
		margin-left: -8%;
	}

	.five_cont_05_o_01 {
		left: 0;
		top: 16%;
	}

	.five_cont_05_o_02 {
		left: 33%;
		top: 36%;
	}

	.five_cont_05_o_03 {
		right: 0%;
		top: 8%;
	}

	.five_cont_06_word_01 {
		width: 30%;
		margin-left: 5%;
		margin-bottom: 5%;
		margin-top: -10%;
	}
}

/*05  活水潤澤四周緊顏安瓶*/
.five_cont_06 {
	width: 100%;
	height: 0;
	padding-bottom: 92.1%;
	background-image: url(../images/five_stars/cont_06_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}

.five_cont_06_word {
	width: 29%;
	padding-top: 4%;
	margin-left: 14.6%;
}

.five_cont_06_title {
	width: 29.4%;
	position: absolute;
	right: 16.8%;
	top: 1.5%;
}

.five_cont_06_title .five_light {
	width: 28%;
	position: absolute;
	top: -16%;
	left: -7.5%;
}

.five_cont_06_title h2 {
	display: block;
	position: absolute;
	width: 87%;
	right: 0;
	margin-top: 0%;
	background-image: url(../images/five_stars/cont_06_t_02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0;
	padding-bottom: 36%;
	line-height: 100;
	overflow: hidden;
}

.five_cont_06_info {
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: center top;
	position: relative;
}

.five_cont_06_info h3,
.five_cont_06_info p {
	height: 0;
	width: 0;
	overflow: hidden;
	position: relative;
}

.blue_info_01 {
	width: 33%;
	height: 0;
	padding-bottom: 14%;
	background-size: 100%;
	background-image: url(../images/five_stars/cont_06_blue_word_01.png);
	margin-left: 49.9%;
	margin-top: 12%;
	overflow: visible;
	font-size: 0;
}

.blue_info_01 img {
	width: 25%;
	right: -2%;
	position: absolute;
	z-index: 5;
	top: -17%;
}

.blue_info_01 img ~ img {
	width: 25%;
	right: -2%;
	top: -17%;
	position: absolute;
	filter: drop-shadow(0px 0px 8px rgba(17, 182, 230, 0.7));

}

.blue_info_02 {
	width: 19.8%;
	height: 0;
	padding-bottom: 14%;
	background-size: 100%;
	background-image: url(../images/five_stars/cont_06_blue_word_02.png);
	margin-left: 64%;
	margin-top: 2%;
	margin-bottom: 9%;
	overflow: visible;
}

.blue_info_02 img {
	width: 39%;
	left: -33%;
	position: absolute;
}

.blue_info_02 img ~ img {
	width: 39%;
	left: -33%;
	position: absolute;
	filter: drop-shadow(0px 0px 8px rgba(17, 182, 230, 0.7));
}

@media (max-width:768px) {

	.five_cont_06 {
		width: 100%;
		height: 0;
		padding-bottom: 325%;
		background-image: url(../images/five_stars/cont_06_bg_m.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		position: relative;
		background-color: #041f57;
		z-index: 6;
	}

	.five_cont_06_word {
		width: 67%;
		padding-top: 42%;
		margin-left: 14.6%;
	}

	.five_cont_06_title {
		width: 90%;
		position: absolute;
		right: 5%;
		top: 1%;
	}

	.five_cont_06_title .five_light {
		width: 18%;
		position: absolute;
		top: -19%;
		left: -4%;
	}

	.five_cont_06_title img {
		width: 68%;
	}

	.five_cont_06_title h2 {
		display: block;
		position: absolute;
		width: 78%;
		right: 11%;
		margin-top: -3%;
		background-image: url(../images/five_stars/t_06_m.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 36%;
		line-height: 100;
		overflow: hidden;
	}

	.blue_info_01 {
		width: 88%;
		height: 0;
		padding-bottom: 36%;
		background-size: 100%;
		background-image: url(../images/five_stars/blue_w_01_m.png);
		margin-left: 5%;
		margin-top: 82%;
	}

	.blue_info_01 img {
		width: 23%;
		right: -5%;
		top: -5%;
		position: absolute;
		z-index: 5;
	}

	.blue_info_01 img ~ img {
		width: 23%;
		right: -5%;
		top: -5%;
		position: absolute;
		filter: drop-shadow(0px 0px 8px rgba(17, 182, 230, 0.7));

	}

	.blue_info_02 {
		width: 71%;
		height: 0;
		padding-bottom: 35%;
		background-size: 100%;
		background-image: url(../images/five_stars/blue_w_02.png);
		margin-left: 25%;
		margin-top: 2%;
		margin-bottom: 9%;
		overflow: visible;
	}

	.blue_info_02 img {
		width: 28%;
		left: -30%;
		top: -2%;
		position: absolute;
	}

	.blue_info_02 img ~ img {
		width: 28%;
		left: -30%;
		top: -2%;
		position: absolute;
		filter: drop-shadow(0px 0px 8px rgba(17, 182, 230, 0.7));

	}

	.five_pro_set_05 {
		background-image: url(../images/five_stars/prod_06_m.png);
		margin-top: -15%;
		padding-bottom: 110%
	}



}

/*表格*/
.five_form_page .s_gift {
	margin-top: 0 !important;
	background-image: url(../images/five_stars/bg_gift.jpg);
	padding-top: 0 !important;
	padding-bottom: 52%;
}

.five_form_page .s_title {
	padding-top: 10%;
	width: 38%;
	margin-left:47.5%;
	padding-top:6%;
}

.five_form_page .s_items {
	margin-top: -6%;
}

.five_form_page .s_cont {
	margin-top: 14.5%;
}

.five_form_page .heart_from {
	margin-top: 0 !important;
	padding-top: 12%;
}

@media (max-width:768px) {

	.five_form_page .s_gift {
		padding-top: 0 !important;
		margin-top: 0 !important;
		background-image: url(../images/five_stars/gift_m.jpg);
		padding-top: 0 !important;
		padding-bottom: 169%;
	}

	.five_form_page .s_title {
		padding-top: 61%;
		margin-left: 10%;
		width: 80%;
	}

	.five_form_page .s_items {
		margin-top: 0%;
	}

	.five_form_page .s_cont {
		margin-top: 5%;
		padding-left: 3%;
	}

	.five_form_page .heart_from {
		margin-top: 0 !important;
		padding-top: 12%;
	}
}



/*手機版彈窗*/
.five_gooxd_01,
.five_gooxd_02,
.five_gooxd_03,
.five_gooxd_04,
.five_gooxd_05 {
	display: none;
	position: relative;
}

.five_gooxd_01 a.best_popup_close,
.five_gooxd_02 a.best_popup_close,
.five_gooxd_03 a.best_popup_close,
.five_gooxd_04 a.best_popup_close,
.five_gooxd_05 a.best_popup_close {
	width: 30px;
	height: 30px;
	padding-bottom: 0;
	line-height: 30px;
	display: block;
	position: absolute;
	top: 18px;
	left: auto !important;
	right: 18px !important;
	;
	text-align: center;
	font-size: 3vw;
	color: #fff;
	font-weight: 100;
	background-color: #947848;
	border-radius: 100em;
	opacity: 0.7;


}

.five_gooxd_01 a,
.five_gooxd_02 a,
.five_gooxd_03 a,
.five_gooxd_04 a,
.five_gooxd_05 a {
	width: 50%;
	display: block;
	height: 0;
	padding-bottom: 18%;
	overflow: hidden;
	line-height: 100;
	bottom: 0;
	position: absolute;
	z-index: 5;

}

.five_gooxd_01 a:nth-child(1),
.five_gooxd_02 a:nth-child(1),
.five_gooxd_03 a:nth-child(1),
.five_gooxd_04 a:nth-child(1),
.five_gooxd_05 a:nth-child(1) {
	left: 0;
}

.five_gooxd_01 a:nth-child(2),
.five_gooxd_02 a:nth-child(2),
.five_gooxd_03 a:nth-child(2),
.five_gooxd_04 a:nth-child(2),
.five_gooxd_05 a:nth-child(2) {
	right: 0;
}

/*數字跑動*/
.counter_01 {
	width: 18%;
	height: 5vw;
	position: absolute;
	overflow: hidden;
	margin-top: -1%;
	left: 27%;
	opacity: 0;
	animation-fill-mode: forwards;
}

.counter_01 > div {
	display: inline-block;
	text-align: center;
	width: 30%;
	height: 100%;
	position: absolute;
	top: 900%;
}

.counter_01 > div > span {
	display: block;
	font-size: 4.4vw;
	height: 100%;
	line-height: 5vw;
}

.counter_01 > div:nth-child(1) {
	left: 8%;
	top: 0;
}

.counter_01 > div:nth-child(2) {
	left: 32%;
	top: 0;
}

.counter_01 > div:nth-child(3) {
	left: 59%;
	top: 0;
}

.cont_05_no_02 .counter_01 {
	left: 33%;
}

.cont_05_no_03 .counter_01 {
	left: 37%;
}

.cont_05_no_04 .counter_01 {
	left: 34.5%;
}

.cont_05_no_05 .counter_01 {
	left: 31%;
}

.cont_05_no_03 .counter_01 div:nth-child(2) {
	left: 34%;
}

.cont_05_no_04 .counter_01 div:nth-child(2) {
	left: 37%;
}

.cont_05_no_05 div {
	width: 27%;
}

.cont_05_no_05 .counter_01 div:nth-child(1) {
	left: 12%;
}

.cont_05_no_05 .counter_01 div:nth-child(2) {
	left: 34%;
}

.cont_05_no_05 .counter_01 div:nth-child(3) {
	left: 60%;
}


@media (max-width:768px) {
	.counter_01 {
		width: 30%;
		height: 7vw;
		position: absolute;
		overflow: hidden;
		margin-top: 0.2%;
		left: 33%;
	}

	.counter_01 div {
		height: 100%;
		width: 30%;
		top: 0;
	}

	.counter_01 div span {
		line-height: 7vw;
		font-size: 8vw !important;
	}

	.counter_01 > div:nth-child(1) {
		left: 17%;
		top: 0;
	}

	.counter_01 > div:nth-child(2) {
		left: 34%;
		top: 0;
	}

	.counter_01 > div:nth-child(3) {
		left: 54%;
		top: 0;
	}

	.cont_05_no_02 .counter_01 {
		left: 41%;
	}

	.cont_05_no_03 .counter_01 {
		left: 47%;
	}

	.cont_05_no_04 .counter_01 {
		left: 45%;
	}

	.cont_05_no_05 .counter_01 {
		left: 45%;
	}

	.cont_05_no_05 .counter_01 {
		width: 30%;
	}

	.cont_05_no_05 .counter_01 {
		margin-top: -0.2%;
		left: 44%;
	}

	.cont_05_no_05 .counter_01 div {
		width: 35%;
	}

	.cont_05_no_05 .counter_01 div:nth-child(1) {
		left: 9%;
	}

	.cont_05_no_05 .counter_01 div:nth-child(2) {
		left: 37%;
	}

	.cont_05_no_05 .counter_01 div:nth-child(3) {
		left: 68%;
	}

	.cont_05_no_03 .counter_01 div:nth-child(2) {
		left: 34%;
	}

	.cont_05_no_04 .counter_01 div:nth-child(2) {
		left: 40%;
	}
	.cont_05_no_03 .counter_01 div:nth-child(2) {
		left: 39%;
	}

}
