@charset "utf-8";

/*全BOX版面*/
.WRAPPER {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    font-family: "微軟正黑體", "Microsoft JhengHei", Helvetica;
    background: #090046;
}

.WRAPPER img {
    border: 0px;
    vertical-align: top;
}

.WRAPPER a {
    text-decoration: none;
}

@media screen and (max-width:767px) {
    .WRAPPER {
        min-width: inherit;
        padding-bottom: 150px;
    }

    .WRAPPER img {
        width: 100%;
        height: auto;
    }
}

/*video*/
.food_video_wrap {
    position: absolute;
    z-index: 2;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ytp-pause-overlay {
    display: block !important;
    overflow: hidden !important;
    width: 0px !important;
    height: 0px !important;
    pointer-events: none !important;
    opacity: 0 !important;
}

/* Slider css*/
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider style*/
.slick-loading .slick-list {
    /*background: #fff url('./ajax-loader.gif') center center no-repeat;*/
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '';
}

[dir='rtl'] .slick-prev:before {
    content: '';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '';
}

[dir='rtl'] .slick-next:before {
    content: '';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '?';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

/* CSS Document */
html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
}

a {
    display: block;
}

* {
    position: relative;
}

.philips_kitchen section {
    display: block;
    margin: 0;
    overflow: hidden !important;
}

.philips_kitchen {
    min-width: 100% !important;
    padding-bottom: 0;
    font-family: "Microsoft JhengHei", "¡PL?n??????", sans-serif !important;
    background-color: #fff !important;
}

/*kv_area*/
.kv_area {
    background-image: url(../images/kv_bg_pchome.jpg);
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    height: 0;
    padding-bottom: 24.6%;
    padding-top: 0;
    overflow: hidden;
}

.inner_wrap {
    width: 48.5%;
    height: 0;
    padding-bottom: 34%;
    margin: 0 auto;
    position: relative;
}

.logo {
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
}

.logo img {
    width: 100%;
}

.kv_title {
    width: 13%;
    margin: 0 auto 0 auto;
    height: 0;
    padding-bottom: 44%;
    padding-top: 2%;
}

.kv_title h1,
.kv_title h2,
.kv_title img {
    position: absolute;
}

.kv_title h1 {
    width: 40%;
    background-image: url(../images/kv_t_02.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 0;
    padding-bottom: 300%;
    overflow: hidden;
    text-indent: -999px;
    line-height: 100;
    left: 0%;
    top: 23%;
}

.kv_title h2 {
    width: 53.5%;
    background-image: url(../images/kv_t_01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 380%;
    overflow: hidden;
    line-height: 100;
    text-indent: -9999px;
    right: -3%;
    top: -1%;
}

.kv_title img {
    width: 91%;
    left: 105%;
    top: 10%;
}

.kv_word {
    position: absolute;
    width: 7%;
    background-image: url(../images/kv_word.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 30%;
    overflow: hidden;
    line-height: 100;
    text-indent: -99px;
    right: 11%;
    top: 10%;
}

.for_m {
    display: none !important;
}

@media (max-width:1920px) {
    .kv_area {
        background-size: 1920px;
        padding-bottom: 473px;
    }

    .inner_wrap {
        width: 932px;
    }

    .logo {
        width: 160px;
    }
}

@media (max-width:932px) {
    .kv_area {
        background-size: 209%;
        padding-bottom: 51.5%;
    }

    .inner_wrap {
        width: 100%;
        padding-bottom: 51.5%;
    }

    .logo {
        width: 18%;
        left: 1%;
    }
}

@media (max-width:768px) {
    .for_pc {
        display: none !important;
    }

    .for_m {
        display: block !important;
    }

    .kv_area {
        background-image: url(../images/kv_bg_m.jpg);
        background-size: 100%;
        padding-bottom: 108%;
        padding-top: 0;
    }

    .inner_wrap {
        width: 100%;
        padding-bottom: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo {
        width: 25%;
        left: 2%;
        top: 0;
    }

    .kv_title {
        width: 88%;
        margin: 12% auto 0 auto;
        height: 0;
        padding-bottom: 80%;
    }

    .kv_title h1 {
        width: 9%;
        background-image: url(../images/kv_t_02_m.png);
        padding-bottom: 100%;
        left:60%;
        top: 10%;
    }

    .kv_title h2 {
        width: 13.5%;
        background-image: url(../images/kv_t_01_m.png);
        padding-bottom: 105%;
        right: 42.5%;
        top: -13%;
    }

    .kv_title img {
        width: 25%;
        left:57%;
        top: -2%;
    }

    .kv_word {
        width: 11%;
        background-image: url(../images/kv_word_m.png);
        padding-bottom: 100%;
        overflow: hidden;
        right: 58%;
        top: 14%;
    }

}

/*center_area*/
.center_area {
    width: 100%;
    height: 0;
    padding-bottom: 285%;
    background-image: url(../images/center_bg.jpg);
    background-size: cover;
    background-position: center bottom;
    margin-top: -1.8%;
    text-align: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.center_area_01 {
    display: inline-block;
    background-image: url(../images/s2_box.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 48.5%;
    font-size: 0;
    margin: 7.2% auto 0 auto;
    height: 0;
    padding-bottom: 35%;
}

.center_area_01 img {
    display: inline-block;
    vertical-align: top;
    margin-top: 11%;
}

.s_01 {
    width: 15.8%;
}

.s_02 {
    width: 30%;
    margin: 0 6% 0 8%;
}

.s_03 {
    width: 26%;
}

.center_area_02 {
    width: 48.5%;
    margin: 6% auto 0 auto;
    text-align: center;
}

.left_wrap {
    width: 60%;
    margin: 0;
    height: 0;
    padding-bottom: 55%;
    font-size: 0;
    background-image: url(../images/s3_title.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.left_wrap img {
    position: absolute;
    width: 17.5%;
    top: 57%;
}

.icon_01 {
    left: 6%;
}

.icon_02 {
    left: 33%;
}

.icon_03 {
    left: 62%;
}

.right_wrap {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    height: 110%;
}

.right_wrap img {
    position: absolute;
}

.p_01 {
    width: 76%;
    bottom: -3%;
    left: -11%;
    z-index: 5;
}

.p_word {
    width: 36%;
    bottom: 0;
    right: 0;
}

.p_02 {
    z-index: 4;
    width: 82%;
    right: -20%;
    top: 8%;
}

.p_03 {
    width: 50%;
    left: 8%;
    top: -2%
}

.center_area_03 {
    width: 48.5%;
    margin: 11% auto 0 auto;
    z-index: 3;
}

.center_area_03 h3 {
    width: 72%;
    margin: 0 auto 2% auto;
    background-image: url(../images/s4_title.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 15%;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
}

.food_wrap {
    width: 74%;
    margin-left: 19%;
    margin-bottom: 9%;
    height: 0;
    padding-bottom: 82%;
}

.food_wrap img {
    width: 100%;
    z-index: 0;
}

.food_video_wrap {
    width: 80%;
    left: 10%;
    top: 1%;
}

.food_nav_01,
.food_nav_02,
.food_nav_03 {
    width: 82.5%;
    margin-left: 14.5%;
    margin-top: -9%;
    margin-bottom: 10%;
    cursor: pointer;
}

.food_nav_01 .slick-track,
.food_nav_02 .slick-track,
.food_nav_03 .slick-track {
    transform: translate3d(0, 0, 0) !important;
}

.food_nav_03 {
    margin-top: -11%;
}

.food_nav_01 img,
.food_nav_02 img,
.food_nav_03 img {
    width: 100%;
}

.food_nav_01 img:hover,
.food_nav_02 img:hover,
.food_nav_03 img:hover {
    animation-name: heartBeat2;
    animation-duration: 1s;
}


.slick-prev {
    width: 15%;
    height: 0;
    padding-bottom: 15%;
    background-image: url(../images/arrow_l.png) !important;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 5;
    transform: translateY(-20%);
    left: -6%;
}

.slick-prev:hover {
    left: -6.5%;
}

.slick-next {
    width: 15%;
    height: 0;
    padding-bottom: 15%;
    background-image: url(../images/arrow_r.png) !important;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 5;
    transform: translateY(-20%);
    right: -6%;
}

.slick-next:hover {
    right: -6.5%;
}

.slick-prev:hover,
.slick-prev:active,
.slick-prev:focus,
.slick-next:hover,
.slick-next:active,
.slick-next:focus {
    background-size: 100%;
}

.time_line {
    width: 13.5%;
    height: 0;
    padding-bottom: 260%;
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    background-image: url(../images/line.png);
    background-size: auto 100%;
    top: 6%;
    left: 0;
}

.time_line img {
    width: 100%;
}

.b_icon {
    margin-top: 120%;
}

.l_icon {
    margin-top: 685%;
}

.d_icon {
    margin-top: 685%;
}

.center_area_04 {
    width: 932px;
    margin: 0 auto;
    z-index: 3;
}

.center_area_04 h3 {
    width: 81.5%;
    height: 0;
    padding-bottom: 14%;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-image: url(../images/s5_title.png);
    background-size: 100%;
    line-height: 100;
    overflow: hidden;
    text-indent: -999px;
}

.shop_wrap {
    width: 100%;
    text-align: center;
    margin: 5% auto 0 auto;
    padding: 0;
}

.shop_wrap a {
    display: inline-block;
    width: 24%;
    background-color: #fff;
    padding: 0;
}

.shop_wrap a img {
    width: 100%;
    margin: 0 1.5%;
    filter: brightness(1.0);
    transition: 0.3s ease;
    margin-left: -0.2%;

}

.shop_wrap a img:hover {
    filter: brightness(1.1);
}

.shop_wrap a h4 {
    display: block;
    position: relative;
    padding: 0 5%;
    height: auto;
    overflow: hidden;
    font-weight: normal;
    font-size: 14px;
    color: #000 !important;
    margin-top: 4.5%;
    margin-bottom: 3%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shop_wrap a:hover h4 {
    color: #d92670 !important;
}

.shop_wrap a p {
    margin: -3% 0 5% 0;
    padding: 0 5%;
    height: auto;
    overflow: hidden;
    color: #d92670;
    white-space: nowrap;
}

.shop_wrap a p del {
    padding-right: 2px;
    font-size: 14px;
    font-family: Century Gothic;
    color: #5e5e5e;
}

.shop_wrap a p .money {
    font-size: 12px;
    font-weight: bold;
    font-family: Century Gothic;
}

.shop_wrap a p .Price {
    font-size: 1.8vw;
    font-family: Century Gothic;
    letter-spacing: -1px;
}

.btn_gogo {
    width: 55%;
    height: 0;
    padding-bottom:10%;
    background-image: url(../images/btn_gogo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-top: 6%;
    background-position: center top;
    overflow: hidden;
    text-indent: -999px;
    line-height: 100;
    vertical-align: text-top;
}

.btn_gogo:hover {
    background-position: center bottom;
}

.btn_info {
    width: 53%;
    height: 0;
    padding-bottom: 7.9%;
    background-image: url(../images/btn_info.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    background-position: center top;
    overflow: hidden;
    text-indent: -999px;
    line-height: 100;
    margin-top: 6%;
    margin-left: 1%;
    vertical-align: text-top;
}

.btn_info:hover {
    background-position: center bottom;
}

.deco_01 {
    width: 43%;
    position: absolute;
    right: 0;
    top: 42%;
    z-index: 0;
}

.deco_02 {
    width: 23%;
    left: 2%;
    top: 60.5%;
    position: absolute;
}

.deco_03 {
    position: absolute;
    width: 100%;
    bottom: 4%;
    left: 0;
}

@media (max-width:1920px) {
    .center_area {
        width: 100%;
        height: 0;
        padding-bottom: 5500px;
        background-size: 1920px;
        background-position: center bottom;
    }

    .center_area_01 {
        background-size: 100%;
        width: 932px;
        margin: 7.2% auto 0 auto;
        height: 0;
        padding-bottom: 680px;
    }

    .center_area_02 {
        width: 932px;
    }

    .center_area_03 {
        width: 932px;
        margin: 200px auto 0 auto;
        z-index: 3;
    }

    .center_area_04 {
        width: 932px;
        margin: 0 auto;
        z-index: 3;
    }
    .shop_wrap a p .Price {
        font-size: 2.1vw;
    }
    .deco_01 {
        width: 35% !important;
        position: absolute;
        right: 2%;
        top: 2150px;
        z-index: 0;
    }

    .deco_02 {
        width: 19%;
        left: 6%;
        top: 3100px;
        position: absolute;
    }

    .deco_03 {
        position: absolute;
        width: 102%;
        bottom: 3%;
        left: -1%;
    }

}

@media (max-width:1440px){
    .deco_03{
        display: none;
    }
}

@media (max-width:1200px) {
    .shop_wrap a p .Price {
        font-size: 3vw;
    }
    .deco_01,
    .deco_02 {
        display: none;
    }
}

@media (max-width:934px) {
    .center_area {
        padding-bottom: 520%;
        background-size: 100%;
        background-position: center top;
        background-color: #f3f4f6;
    }

    .center_area_01 {
        width: 90%;
        padding-bottom: 65%;
    }

    .center_area_02 {
        margin-bottom: -6%;
    }

    .center_area_02,
    .center_area_03,
    .center_area_04 {
        width: 90%;
    }
}


@media(max-width:768px) {
    .center_area {
        padding-bottom: 1360% !important;
        background-image: url(../images/center_bg_m.jpg);
        margin-top: -2% !important;
        overflow: hidden !important;
        background-color: #fff;
    }

    .center_area_01 {
        background-image: url(../images/s2_box_m.png);
        width: 90%;
        font-size: 0;
        margin: 15% auto 0 auto;
        height: 0;
        padding-bottom: 363%;
    }

    .s_01.for_m {
        width: 75% !important;
        margin-top: 18%;
        margin-left: 5.2%;
    }

    .s_02.for_m {
        width: 88% !important;
        margin-top: 11.5%;
        margin-left: 3%;
    }

    .s_03.for_m {
        width: 85% !important;
        margin-top: 11%;
        margin-left: 4%;
    }

    .center_area_02 {
        width: 100%;
        height: 0;
        padding-bottom: 245%;
        margin: 0% auto 0 auto;
        text-align: center;
    }

    .left_wrap {
        width: 88%;
        margin: 0 auto;
        height: 0;
        padding-bottom: 88%;
        font-size: 0;
        background-image: url(../images/s3_title_m.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .left_wrap img {
        position: absolute;
        width: 21%;
        top: 55%;
    }

    .icon_01 {
        left: 6%;
    }

    .icon_02 {
        left: 40%;
    }

    .icon_03 {
        left: 75%;
    }

    .right_wrap {
        width: 100%;
        position: relative;
        right: auto;
        top: auto;
        height: 0;
        padding-bottom: 150%;
        margin-top: 0;
    }

    .right_wrap img {
        position: absolute;
    }

    .p_01 {
        width: 62% !important;
        bottom: 4%;
        left: 5%;
        z-index: 5;
    }

    .p_word {
        width: 20% !important;
        bottom: 11%;
        right: 16%;
    }

    .p_02 {
        z-index: 4;
        width: 75% !important;
        right: -15%;
        top: 15%;
    }

    .p_03 {
        width: 43% !important;
        left: 18%;
        top: 7%;
    }

    .center_area_03 {
        width: 90%;
        margin-top: 4%;
    }

    .center_area_03 h3 {
        width: 100%;
        margin: 0 auto 2% auto;
        padding-bottom: 60%;
    }

    .food_wrap {
        width: 100%;
        margin-left: auto;
        margin-bottom: 50%;
        height: 0;
        padding-bottom: 140%;
    }

    .food_video_wrap {
        top: 1%;
    }

    .food_nav_01,
    .food_nav_02,
    .food_nav_03 {
        display: none;
    }

    .slick-prev {
        transform: translateY(360%);
        left: 30%;
    }

    .slick-prev:hover {
        left: 29%;
    }

    .slick-next {
        transform: translateY(360%);
        right: 30%;
    }

    .slick-next:hover {
        right: 29%;
    }

    .time_line {
        width: 28%;
        height: 0;
        padding-bottom: 225%;
        position: absolute;
        background-image: none;
        top: 0;
        left: 36%;
    }

    .b_icon {
        margin-top: 90%;
    }

    .l_icon {
        margin-top: 590%;
    }

    .d_icon {
        margin-top: 580%;
    }

    .food_03 {
        margin-bottom: 0;
    }

    .center_area_04 {
        width: 100%;
        margin: 15% auto 0 auto;
        z-index: 3;
        height: 0;
    }

    .center_area_04 h3 {
        width: 90%;
        height: 0;
        padding-bottom: 15%;
    }

    .shop_wrap {
        width: 80%;
        text-align: center;
        margin-top: 7%;
        margin-left: 11%;
    }

    .shop_wrap a {
        display: inline-block;
        width: 49%;
        margin-bottom: 8%;
        filter: drop-shadow(0.5vw 0.5vw 2vw rgba(0, 0, 0, 0.3));

    }

    .shop_wrap a h4 {
        font-size: 2.5vw;
    }

    .shop_wrap a p del {
        font-size: 2vw;
    }

    .shop_wrap a p .Price {
        font-size: 5.6vw;
    }

    .btn_gogo {
        width: 80%;
        padding-bottom: 13.9%;
        display: block;
        margin-top: 2.2%;
        margin-left: auto;
        margin-right: auto;
    }

    .btn_info {
        width: 80%;
        padding-bottom: 13.8%;
        background-image: url(../images/btn_info_m-v2.png);
        display: block;
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
    }

}

/*event_wrapper*/
.event_area {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    text-align: center;
    background-image: url(../images/event_bg.png);
    background-size: 100%;
    margin-top: -18% !important;
    padding-top: 5%;
}

.event_area h3 {
    width: 59%;
    height: 0;
    padding-bottom: 20%;
    margin: 5% auto 31% auto;
    background-size: 100%;
    background-image: url(../images/event_title.png);
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
}

.event_word {
    margin: -1% auto 0 auto;
    width: 48%;
    height: 0;
    padding-bottom: 12.2%;
    background-size: 100%;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
    background-image: url(../images/event_word.png);
    background-repeat: no-repeat;
}

.add_event_word {
    color: #fff;
    font-size: 1.6vw;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 0.5vw;
    margin-bottom: 5vw;
    letter-spacing: 0.2vw;
}

.btn_join {
    display: block;
    width: 32%;
    height: 0;
    padding-bottom: 6.5%;
    margin: 4% auto;
    background-image: url(../images/btn_join.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    overflow: hidden;
    line-height: 100;
    text-indent: -999px;
}

.btn_join:hover {
    background-position: center bottom;
}

@media (max-width:1920px) {
    .event_area {
        width: 1900px;
        height: 0;
        padding-bottom: 1700px;
        left: 50%;
        margin-top: -16.8% !important;
        margin-left: -950px !important;
    }
}

@media(max-width:1200px) {
    .event_area {
        width: 100%;
        height: 0;
        padding-bottom: 90%;
        left: 0;
        margin-top: -16.8% !important;
        margin-left: 0 !important;
    }
}


@media (max-width:768px) {

    /*event_wrapper*/
    .event_area {
        width: 100%;
        height: 0;
        padding-bottom: 150%;
        text-align: center;
        background-image: url(../images/event_bg_m.jpg);
        background-repeat: no-repeat;
        margin-top: 0 !important;
        padding-top: 0;
        box-sizing: border-box;
    }

    .event_area h3 {
        width: 90%;
        height: 0;
        padding-bottom: 30%;
        margin: 7% auto 44% auto;
    }

    .event_word {
        margin: -4% auto 0 auto;
        width: 80%;
        height: 0;
        padding-bottom: 27%;
        background-image: url(../images/event_word_m.png);
    }

    .add_event_word {
        font-size: 3.2vw;
        margin-bottom: 8vw;
        margin-left: auto;
        margin-right: auto;
        width: 88%;
    }

    .btn_join {
        display: block;
        width: 65%;
        height: 0;
        padding-bottom: 12.5%;
        margin: 0% auto 8% auto;
    }

    .btn_go {
        width: 75%;
        height: 0;
        padding-bottom: 20%;
        margin: 0 auto;
    }

}

#gotop {
    display: none;
    position: fixed;
    z-index: 5;
    right: 20px;
    bottom: 30px;
    border-radius: 50px;
    text-align: center;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


@media screen and (max-width:767px) {
    #gotop {
        right: 20px;
        bottom: 20px;
    }
}

#gotop {
    width: 5%;
    right: 1%;
    bottom: 2%;
    background-color: transparent;
}

#gotop img {
    width: 100%;
}

#gotop:hover {
    background-color: transparent;
}

#gotop::before {
    display: none;
}


@media screen and (max-width:768px) {
    #gotop {
        width: 10%;
    }
}
