@import url("https://use.typekit.net/riz2yns.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");

// common
html {
    height: 100%;
}

*, body, html {
    @include font-main;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    & > strong,
    & > b{
        color: inherit;
        font: {
            size: inherit;
            weight: 600;
            family: inherit;
        }
    }
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img, svg{
    width: 100%;
    font-size: 0;
    border: 0;
    display: block;
    vertical-align: bottom;
}

a{
    outline: none;
    text-decoration: none;
}

// 顯示隱藏
.for_phone{
    display: none;
}

// 區塊共用
.wrapper{
    width: 100%;
    padding-top: 70px;
    overflow: hidden;
}

.section{
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;

    @media screen and (max-width: 768px){
        width: 95%;
    }
}

// 標題
.lg_title{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

    .title_t{
        width: 50%;
        max-width: 17em;
        padding-bottom: 0.5%;
        margin: 0 auto;
    }

    .title_b{
        width: 100%;
        padding-top: 1%;
    }

    .ch{
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 3px;
        font: {
            size: 1.75em;
            weight: 700;
        }
    }

    .line{
        width: 1.3em;
        display: inline-block;
        vertical-align: middle;
    }

    .en{
        @include font-en;
        display: inline-block;
        vertical-align: middle;
        text-transform: capitalize;
    }

    @media screen and (max-width: 768px){
        .title_b{
            width: 60%;
            margin: 0 auto;
        }

        .line{
            display: none;
        }

        .ch, .en{
            display: block;
        }
    }
}

// 黑色按鈕
.btn_dark{
    background: $btn-dark;
    border: 2px solid $btn-dark;
    @include btn-style;

    &:hover{
        background: $bg-color;
        border-color: $btn-dark;

        .t{
            color: $font-color-main;
        }
    }
}


// 棕色漸層按鈕
.btn_light{
    background: linear-gradient(135deg, hsla(44,26%,55%,1) 0%,hsla(44,37%,63%,1) 100%);;
    border: 2px solid $btn-light;
    @include btn-style;

    &:hover{
        background: $bg-color;
        border-color: $btn-light;

        .t{
            color: $font-color-sub;
        }
    }
}

.btn_sm{
    width: 50%;
    padding: 1% 0;

    .t{
        font-size: 0.9em;
    }

    @media screen and (max-width: 768px) {
        width: 60%;
        padding: 2% 0;
    }
}

// 輪播按鈕
.slide_arrow{
    text-align: center;

    .item{
        width: 7vw;
        max-width: 50px;
        height: 7vw;
        max-height: 50px;
        border-radius: 50%;
        border: 2px solid $btn-light;
        background: $btn-light;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        cursor: pointer;
        transition: background 0.3s linear;

        &::after{
           content: '';
           width: 100%;
           height: 100%;
           background: url(../images/common/slide_arrow.png) 42% 50% / 30% no-repeat;
           position: absolute;
           top: 0;
           left: 0;
           transition: background-image 0.3s linear;
        }

        @media screen and (min-width: 769px){
            &:hover{
                background: $bg-color;
                transition: background 0.3s linear;

                &::after{
                    background-image: url(../images/common/slide_arrow_hover.png);
                    transition: background-image 0.3s linear;
                }
            }
        }
    }

    .item_next{
        transform: rotate(180deg);
        left: auto;
        right: 0;
    }
}

// 右邊懸浮選單
.nav_fixed{
    width: 6%;
    max-width: 100px;
    position: fixed;
    right: 1%;
    top: 20%;
    z-index: 9;

    @media screen and (max-width: 768px){
        width: 15%;
        max-width: none;
        padding-top: 282px / 285px * 15%;
        background: url(../images/common/online_m.png) 50% / 100% no-repeat;
        bottom: 2%;
        top: auto;
    }
}

.nav_fixed_box{
    background: url(../images/common/fixed_bg_m.png) 0 / contain repeat-y;
    max-height: calc(70vh - 70px);
    overflow-y: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar{
        display: none;
      }
}

.nav_fixed_item{
    width: 87%;

    &:not(:last-child){
        a{
            border-bottom: 1px solid $font-color-sub;
        }
    }

    a{
        padding: 20% 10%;
        margin: 0 10%;
        display: block;
        opacity: .8;
        transition: opacity 0.2s linear;
        overflow-y: hidden;

        &:hover{
            opacity: 1;
            transition: opacity 0.2s linear;

            img{
                transform: scale(1.1);
                transition: transform 0.2s linear;
            }
        }

        img{
            transform: scale(1);
            transition: transform 0.2s linear;
        }
    }
}

// slick 輪播左右鍵
.slick-arrow{
    @extend %carouselbtn-style;
    border: none !important;
    text-indent: -9999px;
    font-size: 0;
    background: $font-color-sub url(../images/index/arrow_light.png) 50% / 20% no-repeat;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 2;

    &.slick-next{
        left: auto;
        right: 0;
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 768px){
    // 顯示隱藏
    .for_pc{
        display: none;
    }

    .for_phone{
        display: block;
    }
}