@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");

@import 'variables';

// common
html {
    height: 100%;
}

*, body, html {
    @include font-main;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img, svg{
    width: 100%;
    font-size: 0;
    border: 0;
    display: block;
    vertical-align: bottom;
}

a{
    outline: none;
    text-decoration: none;
}

// 顯示隱藏
.for_phone{
    display: none;
}

// 區塊共用
.wrapper{
    width: 100%;
    padding-top: 65px;
    overflow: hidden;

    @media screen and (max-width: 768px){
        padding-top: 45px;
    }
}

.page{
    .wrapper{
        padding-bottom: 150px;

        @media screen and (max-width: 1024px){
            padding-bottom: 100px;
        }

        @media screen and (max-width: 512px){
            padding-bottom: 80px;
        }
    }
}

.page_box{
    padding-top: 10vh;

    .section_title{
        margin-bottom: 5vh;
    }

    @media screen and (max-width: 512px){
        padding-top: 5vh;
    }
}

.page_inner{
    width: 88%;
    max-width: 1440px;
    margin: 0 auto;
}

// 大標
.page_title{
    width: 88%;
    max-width: 1440px;
    padding-bottom: 4vh;
    margin: 0 auto 10vh auto;
    border-bottom: 1px solid $font-color;

    .page_title-en{
        @include font-en;
        font: {
            size: 3.5em;
            weight: 200;
        }
        line-height: 1.3;
        letter-spacing: 6px;
        text-transform: uppercase;
    }

    .page_title-ch{
        color: $font-color;
        letter-spacing: 2px;
    }
    
}

.section_box{
    padding: 8% 0 2% 0;
    margin: 0 auto;
    position: relative;
    
    // 區塊標題(直)
    &.vertical{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

        @media screen and (max-width: 1024px) {
            flex-wrap: wrap;
        }

        .section_title{
            width: auto;

            @media screen and (max-width: 1024px) {
                width: 100%;
            }
        }

        .section_title_word{
            padding-right: 0px;
            padding-bottom: 12px;
            writing-mode: vertical-lr;

            @media screen and (max-width: 1024px) {
                padding-right: 12px;
                padding-bottom: 0px;
                writing-mode: horizontal-tb;
            }

            &::after{
                width: 1px;
                height: 70px;
                top: 100%;
                left: 50%;
                transform: translate(-50%, 0);

                @media screen and (max-width: 1024px) {
                    width: 70px;
                    height: 1px;
                    top: 50%;
                    left: 100%;
                    transform: translate(0, -50%);
                }
            }
        }
    }
}

.section_inner{
    width: 88%;
    max-width: 1440px;
    margin: 0 auto;

    @media screen and (max-width: 1024px){
        padding: 3% 2%;
    }
}

// 區塊標題(橫)
.section_title{
    width: 88%;
    max-width: 1440px;
    margin: 0 auto;
    
    .section_title_word{
        width: auto;
        padding-right: 12px;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 5px;
        display: inline-block;
        position: relative;
        text-transform: uppercase;

        &::after{
            content: '';
            width: 70px;
            height: 1px;
            background-color: $font-color-main;
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(0, -50%);
    
            @media screen and (max-width: 768px) {
                background-color: $font-color;
            }
        }
    
        @media screen and (max-width: 768px) {
            font-size: 1em;
            letter-spacing: 1px;
            color: $font-color;
        }
    }
}

// 底線按鈕
.btn_bottom{
    width: 14%;
    display: block;

    @media screen and (max-width: 1024px){
        width: 250px;
        margin: 5% 0 0 auto !important;
    }

    @media screen and (max-width: 736px){
        margin: 5% -10% 0 auto !important;
    }

    .t{
        @include btn-style;
        padding: 0 0.5em 1.3em 0.5em;
    }

    .b{
        width: 100%;
        height: 1px;
        background: $font-color;
        position: relative;
        overflow: hidden;

        @media screen and (max-width: 768px){
            background: $btn-color;
        }

        &::after{
            content: '';
            width: 100%;
            height: 2px;
            background: $btn-color;
            position: absolute;
            top: 0;
            left: -100%;
            transition: left 0.3s ease-in-out;
        }
    }

    &:hover{
        .t{
            color: $btn-color;
            transition: color 0.3s linear;
        }

        .b::after{
            left: 0;
            transition: left 0.3s ease-in-out;
        }
    }
}

// 圓形按鈕
.btn_circle{
    width: 5.8em;
    margin: 1em auto 0 auto;
    position: relative;
    
    .btn_svg{
        width: 100%;

        path.gray{
            fill: none;
            stroke: $font-color;
            stroke-width: 1px;

            @media screen and (max-width: 768px){
                stroke: $btn-color;
            }
        }

        path.red{
            fill: none;
            stroke: $btn-color;
            stroke-miterlimit: 10;
            stroke-width: 1.5px;
            stroke-dashoffset: 436;
            stroke-dasharray: 436px;
            transform: rotate(-120deg);
            transform-origin: center;
            transition: stroke-dashoffset 0.4s ease-in-out;
        }
    }

    .t{
        @include btn-style;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover{
        .t{
            color: $btn-color;
            transition: color 0.3s linear;
        }

        path.red{
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 0.4s ease-in-out;
        }
    }
}

// slick 輪播左右鍵
.slick-arrow{
    @extend %carouselbtn-style;
    border: none !important;
    text-indent: -9999px;
    font-size: 0;
    background: $font-color url(../images/index/arrow_light.png) 50% / 20% no-repeat;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 2;

    &.slick-next{
        left: auto;
        right: 0;
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 768px){
    // 顯示隱藏
    .for_pc{
        display: none;
    }
    
    .for_phone{
        display: block;
    }
}

// 窗簾
.curtain_item{
    
}