// footer
footer{
  background: url(../images/common/footer_bg.jpg) 0 0 / cover repeat-x;
  border-top: 1px solid $font-color;

  @media screen and (max-width: 768px){
      background-image: url(../images/common/footer_bg_m.jpg);

      .footer{
          padding: 10% 0;
      }
  }
}

.footer{
  width: 88%;
  max-width: 1440px;
  padding: 4% 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_w{
  width: 200px;

  @media screen and (max-width: 1440px){
      width: 150px;
  }

  @media screen and (max-width: 768px){
      width: 100%;

      a{
          width: 50%;
          max-width: 150px;
          margin: 0 auto;
      }
  }

  a{
      display: block;
  }

  p{
      padding-top: 10%;
      color: $font-color;
      letter-spacing: 2px;

      @media screen and (max-width: 768px){
          padding-top: 6em;
          text-align: center;
      }
  }
}

.footer_menu{
  width: calc(100% - 200px);
  text-align: right;

  @media screen and (max-width: 1440px){
      width: calc(100% - 150px);
  }

  @media screen and (max-width: 768px){
      width: 100%;
      text-align: center;
      margin-top: -11em;
  }

  a{
      @include font-en;
      margin-left: 2%;
      color: $font-color-main;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: color 0.3s linear;

      &:hover{
          color: $btn-color;
          transition: color 0.3s linear;
      }
  }
}
