
// header
.header {
  width: 100%;
  height: 65px;
  padding: 0 6%;
  background-color: $bg-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  @media screen and (max-width: 768px){
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .nav{
          width: 100%;
          max-width: 500px;
          height: calc(100% - 45px);
          padding: 6% 0;
          background: $bg-color url(../images/common/menu_bg.png) 50% 0 / cover no-repeat;
          position: fixed;
          top: 45px;
          right: -100%;
          opacity: 0;
          overflow-y: scroll;
          transition: right 0.8s ease-in-out,
                      opacity 0.3s linear;

          &.active{
              opacity: 1;
              right: 0;
              transition: right 0.8s ease-in-out,
                          opacity 0.3s linear;;
          }
      }
  }

  .header_logo {
      width: 480px / 4 / 960px * 100%;
      padding-top: 58px / 480px * 100% / 4;
      margin-bottom: 0.5%;
      position: relative;

      @media screen and (max-width: 768px){
          width: 150px;
          height: 150px / 480px * 58px;
          padding-top: 0;
          margin-bottom: 0;
      }

      @media screen and (max-width: 512px){
          width: 120px;
          height: 120px / 480px * 58px;
          padding-top: 0;
          margin-bottom: 0;
      }

      a {
          width: 100%;
          height: 100%;
          background: url(../images/common/header_logo.png) 50% / 100% no-repeat;
          position: absolute;
          top: 0;
          left: 0;
      }
  }

  .nav_l {
      margin: 0 2% 0 auto;
      padding: 4px 0;
      display: inline-block;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 768px){
          width: 88%;
          max-width: 300px;
          padding: 3% 0;
          margin-right: auto;
          display: block;

          .nav_i{
              padding-left: 1em;
              color: $font-color-main;
              font-size: 1.1em;
              letter-spacing: 1px;
              position: relative;

              &::before{
                  content: '-';
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translate(0, -50%);
              }
          }
      }
      
      &:hover{
          .panel{
              display: block;
          }
      }
  }

  .nav_i{
      @include font-en;
      color: $font-color;
      text-transform: uppercase;
      transition: color 0.3s linear;

      &:hover{
          color: $font-color-hover;
          transition: color 0.3s linear;
      }
  }

  .panel{
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      display: none;

      .panel_inner{
          width: 120px;
          background-color: $bg-color;
          border: 1px solid #c3c3c3;

          li:not(:last-child){
              border-bottom: 1px solid #c3c3c3;

              @media screen and (max-width: 768px){
                  border-bottom: none;
              }
          }

          a{
              @include font-main;
              padding: 5px 10px;
              color: $font-color;
              font-weight: 300;
              font-size: 13px;
              display: block;

              &:hover{
                  color: $font-color-hover;
              }
          }
      }

      @media screen and (max-width: 768px){
          margin-left: 15px;
          display: block;
          position: static;

          .panel_inner{
              width: auto;
              background: transparent;
              border: none;

              a{
                  display: inline-block;
                  padding: 1.5% 0;
              }
          }
      }
  }
}

.page{
  .header{
      padding: 1% 6%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      @media screen and (max-width: 768px){
          justify-content: space-between;
      }

      .header_logo{
          margin-bottom: 0;
      }
  }

  @media screen and (min-width: 769px){
      .nav{
          width: 87.5%;
          padding-left: 4%;
       }
  }
}

// menu
.menu_open_box{
  width: 30px;
  line-height: 0;
  position: relative;
  z-index: 9999;

  &.close{
      span{
          width: 0;

          &::before{
              opacity: 1;
              transition: opacity 0.3s linear;
          }
      }

      .menu_open::before{
          background-color: $btn-color;
          transform: rotate(45deg) translate(9px, 3px);
      }

      .menu_open::after{
          background-color: $btn-color;
          transform: rotate(-45deg) translate(7px, -1px);
      }
  }
}

.menu_open{
  width: 100%;
  display: inline-block;

  span{
      width: 70%;
      height: 1px;
      margin: 6px 0 6px auto;
      background-color: $font-color-main;
      border-radius: 10px;
      display: block;
      position: relative;

      &::before{
          content: 'CLOSE';
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translate(0, -50%);
          color: $font-color;
          font-size: 0.8em;
          opacity: 0;
          transition: opacity 0.3s linear;
      }
  }

  &::before,
  &::after{
      content: '';
      width: 100%;
      height: 1px;
      border-radius: 10px;
      background-color: $font-color-main;
      display: block;
      transition: transform 0.4s linear,
                  color 0.3s linear;
      transform-origin: center;
  }
}
