.index{
    @media screen and (min-width: 769px){
        .wrapper{
            padding-top: 0;
        }
    }

    // header
    .header{
        @media screen and (min-width: 769px){
            height: auto;
            padding: 3% 6%;
            background: transparent;
            box-shadow: none;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
    // 最上 banner
    .banner_top{
        height: 100vh;
        position: relative;
        
        @media screen and (max-width: 768px){
            height: auto;
            min-height: 100vh;
        }

        .banner_box{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    .banner_item{
        width: 100%;
        height: 100%;
        float: left;
        margin-right: -100%;
        backface-visibility: hidden;
        display: none;
        transition: transform .6s ease-in-out;
        position: relative;
        
        &.active{
            display: block;
        }
        
        .banner_inner{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap-reverse;
        }
        
        &.banner_item-1{
            .img{
                background-image: url(../images/index/banner_top.jpg);

                @media screen and (max-width: 768px){
                    background-image: url(../images/index/banner_top_m.jpg);
                }
            }

            .banner_top_flower{
                background-color: #ad8620;
            }
        }

        &.banner_item-2{
            .img{
                background-image: url(../images/index/banner_top2.jpg);
            }

            .banner_top_flower{
                background-color: #ecd496;
            }
        }
    }

    // 文字
    .banner_top_word{
        width: 50%;
        padding: 0 6%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media screen and (max-width: 768px){
            width: 100%; 
            height: auto;
            padding-bottom: 7%;
        }

        .inner{
            width: 100%;
            margin-top: -10%;
            text-align: center;

            @media screen and (max-width: 768px){
                margin-top: 7%;
            }

            .title{
                font: {
                    family: 'Noto Serif TC';
                    size: 3.6em;
                    weight: 500;
                };
                line-height: 1.4;
                letter-spacing: 7px;

                @media screen and (max-width: 1024px){
                    font-size: 3em;
                    letter-spacing: 5px;
                }

                @media screen and (max-width: 768px){
                    font-size: 2.7em;
                }

                @media screen and (max-width: 512px){
                    font-size: 2.2em;
                    letter-spacing: 4px;
                }
            }

            .sm{
                padding-top: 2.5%;
                letter-spacing: 1.5px;
                font-size: 1.1em;
                font-weight: 300;
            }
        }
    }

    // 右
    .banner_top_img{
        width: 50%;
        height: 100%;
        position: relative;

        @media screen and (max-width: 768px){
           width: 100%;
           height: auto;
        }
        
        .cover{
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

            @media screen and (max-width: 768px){
                padding-top: 695px / 768px * 100%;
                height: 0;
            }

            .img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: {
                    size: cover;
                    position: top;
                    repeat: no-repeat;
                }
                animation: slideScale 5000ms ease-out both;
            }
        }

        @keyframes slideScale {
            0%{
                transform: scale(1);
            }
            100%{
                transform: scale(1.08);
            }
        }

        .banner_top_flower{
            width: 10%;
            height: 100%;
            max-width: 100px;
            background: url(../images/index/banner_top_flower.png) 50% / cover no-repeat;
            opacity: .6;
            position: absolute;
            top: 0;
            right: 0;
        }

        .banner_top_product{
            width: 22%;
            position: absolute;
            left: -14%;
            bottom: 21%;

            @media screen and (max-width: 768px){
                width: 27%;
                left: 0%;
                bottom: -16%;
            }

            p{
                width: 100%;
                margin: -27% auto 0 11%;
                text-align: center;
                font-size: 12px;
                color: $font-color;
                text-shadow: 0px 0px 12px $bg-color, 0px 0px 12px $bg-color, 0px 0px 12px $bg-color, 0px 0px 20px $bg-color;
            }
        }
    }

    // 左右鍵
    .banner_top_arrow{
        width: 50%;
        text-align: center;
        position: absolute;
        bottom: 2%;
        right: 0;

        @media screen and (max-width: 768px){
            position: static;
            margin: 0 auto;
        }

        .item{
            @extend %carouselbtn-style;
            background: $bg-color url(../images/index/arrow.png) 50% / 20% no-repeat;
        }
    }

    // scroll
    .scroll{
        width: 50%;
        text-align: center;
        position: absolute;
        bottom: 2%;

        .line{
            width: 1px;
            height: 60px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;

            &:after{
                width: 100%;
                height: 100%;
                content: '';
                background-color: $font-color;
                position: absolute;
                top: -100%;
                left: 0;
                animation: scrollLine 1.5s linear infinite;
            }
        }

        .t{
            @include font-en;
            color: $font-color;
            padding-top: 5px;
        }
    }

    @keyframes scrollLine {
        0%{
            top: -100%;
        }
        100%{
            top: 100%;
        }
    }

    // 最新消息
    .news_wrap{
        width: 100%;
        padding-bottom: 5%;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: row-reverse;
        flex-wrap: wrap;

        .news_btn{
            margin: 0 14% 0 19%;
        }

        .news_list{
            width: 53%;
            @media screen and (max-width: 1024px){
                width: 100%;
            }
        }
    }

    .news_item{
        width: 100%;

        &:not(:last-child){
            margin-bottom: 1.3em;
        }

        .date{
            width: 100px;
            margin-top: 1px;
            color: $font-color;
            @include font-en;
            display: inline-block;
            vertical-align: top;
        }

        p{
            width: calc(100% - 104px);
            display: inline-block;
            @media screen and (max-width: 768px){
                width: 100%;
            }

            span{
                padding-bottom: 1px;
                letter-spacing: 2px;
                transition: color 0.3s linear;
            }

            &:hover{
                span{
                    color: $btn-color;
                    border-bottom: 1px solid $btn-color;
                    transition: color 0.3s linear;

                    @media screen and (max-width: 768px){
                        color: $font-color-main;
                        border: none;
                    }
                }
            }
        }
    }

    // 熱銷商品
    .hotsale{
        padding-top: 10%;
        padding-bottom: 25%;
        margin-top: -8%;
        background: url(../images/index/hotsale_bg.png) 50% 0 / cover no-repeat;

        @media screen and (max-width: 1024px){
            background-image: url(../images/index/hotsale_bg_m.png);
        }

        .section_box{
            width: 88%;
            max-width: 1440px;
        }
    }

    .hotsale_wrap{
        width: 100%;
        margin-left: 4%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        @media screen and (max-width: 1024px){
            margin: 0 auto;
            padding: 3% 2%;
        }

        .hotsale_item{
            width: 33.333333%;
            padding-bottom: 1em;
            text-align: center;
            background: $bg-color;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);

            @media screen and (max-width: 768px){
                width: 100%;
                max-width: 400px;
                margin-top: 12%;
            }
            
            &.hotsale_item-1{
                z-index: 2;

                .photo{
                    background-image: url(../images/index/hotsale1.jpg);
                }
            }

            &.hotsale_item-2{
                z-index: 1;
                
                .photo{
                    background-image: url(../images/index/hotsale2.jpg);
                }
            }

            &.hotsale_item-3{
                z-index: 0;
                
                .photo{
                    background-image: url(../images/index/hotsale3.jpg);
                }
            }
        }

        .rank{
            width: 100%;
            padding-top: 13%;
            position: relative;

            img{
                width: 36%;
                position: absolute;
                top: -100%;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
            
        .photo{
            width: 100%;
            padding-top: 360px / 455px * 100%;
            margin-bottom: 4%;
            background: {
                size: cover;
                position: center;
                repeat: no-repeat;
            }
        }

        .name{
            width: auto;
            max-width: 90%;
            margin: 0 auto;
            text-align: left;
            display: inline-block;

            h3{
                font-size: 1.3em;
                letter-spacing: 1px;

                @media screen and (max-width: 1024px){
                    font-size: 1.1em;
                }

                @media screen and (max-width: 768px){
                    font-size: 1.2em;
                }
            }

            .type{
                padding-top: .4em;
                color: $font-color;
                letter-spacing: 1px;
                display: block;
                font-weight: lighter;

                @media screen and (max-width: 768px){
                    font: {
                        size: 1.1em;
                        weight: 400;
                    }
                }
            }
        }
    }

    // 真心推薦
    .blog{
        margin-top: -18%;

        // 標題
        .section_title{
            margin-left: 54%;

            @media screen and (max-width: 768px) {
                margin-left: auto;
            }
        }
        
        // 左右鍵
        .blog_arrow{
            width: 40%;
            max-width: 660px;
            padding-right: 6%;
            margin-left: 6%;
            text-align: right;
            position: absolute;
            bottom: 10.5%;
            left: 54%;

            @media screen and (max-width: 768px) {
                margin-top: -69%;
                bottom: auto;
                left: auto;
                right: 0;
            }

            .item{
                @extend %carouselbtn-style;
                background: $font-color url(../images/index/arrow_light.png) 50% / 20% no-repeat;
            }
        }

        .sum37{
            width: 784px / 1920px / 2 * 100%;
            position: absolute;
            top: 9%;
            left: 76%;

            @media screen and (max-width: 768px) {
                width: 347px / 768px * 100%;
                top: 3%;
                left: 53%;
            }
        }
    }

    .blog_list{
        width: 100%;
        padding-top: 6.7%;
        margin-top: -5.2%;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            margin-top: 0;
        }

        .blog_item{
            width: 100%;
            height: 100%;
            float: left;
            margin-right: -100%;
            backface-visibility: hidden;
            display: none;
            transition: transform .6s ease-in-out;
            position: relative;

            &.active{
                display: block;
            }

            &.blog_item-1 .blog_p{
                background-image: url(../images/index/blog_photo1.jpg);
            }

            &.blog_item-2 .blog_p{
                background-image: url(../images/index/blog_photo2.jpg);
            }
        }

        // 文字
        .blog_r{
            width: 60%;
            padding: 3.2% 6% 1.7% 14%;
            margin-left: auto;
            background: url(../images/index/blog_bg.jpg) 50% / cover no-repeat;

            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 6% 7% 20% 7%;
            }
        }

        .blog_w{
            max-width: 660px;
            padding-bottom: 2%;

            .author{
                font-size: 1.2em;
                font-weight: 200;
            }

            .article{
                padding: 2.8% 0 1.7% 0;
                
                p{
                    height: 100px;
                    font-size: 1.03em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    white-space: normal;

                    @media screen and (max-width: 1024px) {
                        height: 84px;
                    }

                    @media screen and (max-width: 512px) {
                        height: 80px;
                    }
                }
            }

            .hashtag{
                height: 25px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                white-space: normal;

                @media screen and (max-width: 768px) {
                    height: 19px;
                }

                span{
                    padding-left: 0.65em;
                    margin-right: 2%;
                    color: $font-color;
                    position: relative;
    
                    &::before{
                        content: '#';
                        position: absolute;
                        left: 0;
                        top: -0.15em;
                    }
                }
            }
        }

        .btn_circle{
            margin-left: -0.4em;
        }

        // 照片
        .blog_p{
            width: 50%;
            height: 110%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: -29%;
            left: 0;

            @media screen and (max-width: 768px) {
                width: 93%;
                height: 0;
                padding-top: 400px / 715px * 100%;
                margin: -15% 0 0 auto;
                position: static;
            }
        }
    }

    // 影音媒體
    .video{
        // 標題
        .section_title{
            padding-left: 14.6%;
            margin-bottom: 2%;

            @media screen and (max-width: 768px) {
                padding-left: 0;
            }
        }

        // 輪播
        .slick-list{
            padding: 8.5% 0 2% 0 !important;

            @media screen and (max-width: 768px) {
                padding: 0 0 2% 0 !important;
            }
    
            .video_item{
                width: 100%;
                padding-top: 56.25%;
                position: relative;
        
                iframe{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
    
            // 中間
            .slick-current.slick-center{
                position: relative;
                overflow: visible;
                z-index: 2;
        
                .video_item{
                    width: 200%;
                    padding-top: 56.25% * 2;
                    margin-left: -50%;
                    margin-top: -25%;
                    box-shadow: 0 0 15px rgba(165, 136, 102, 0.4);
                }
            }        
        }

        // 點點
        .slick-dots{
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);

            li{
                width: 13px;
                height: 13px;
                margin: 0 5px;
                border-radius: 50%;
                display: inline-block;
                overflow: hidden;
                
                button{
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    border-radius: 50%;
                    border: 2px solid $font-color;
                    text-indent: -999px;
                    cursor: pointer;
                }
    
                &.slick-active{
                    background: $font-color;
                }
            }   
        }

        // 漸層遮罩
        .mask{
            &::before,
            &::after{
                content: '';
                width: 17%;
                height: 48%;
                background: url(../images/index/video_mask.png) 50% / 100% repeat-y;
                position: absolute;
                top: 21%;

                @media screen and (max-width: 768px){
                    display: none;
                }
            }

            &::before{
                left: -0.5%;
                transform: rotate(180deg);
            }

            &::after{
                right: -0.5%;
            }
        }
    }

    // ig
    .ig_title{
        width: 30%;
        max-width: 160px;
        margin: 2% auto;

        @media screen and (max-width: 768px){
            max-width: 120px;
        }
    }

    // 關於我們
    .about{
        margin-top: -19%;

        @media screen and (max-width: 768px){
            margin-top: 0;
        }

        .about_wrap{
            padding-top: 59.739583333%;
            background: url(../images/index/about_bg.png) 50% 0 / 100% no-repeat;
            position: relative;

            @media screen and (max-width: 768px){
                // padding-top: 1042px / 829px * 100%;
                // background-image: url(../images/index/about_bg_m.png);
                padding: 0 0 10% 0;
                background: transparent;
            }
        }

        .about_w{
            width: 88%;
            max-width: 1440px;
            margin: -36% auto 0 auto;
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            flex-wrap: wrap;
            position: relative;
            z-index: 2;

            @media screen and (max-width: 768px){
                margin: 0 auto;
            }

            .about_l{
                width: 53%;
                padding: 0 5%;

                @media screen and (max-width: 768px){
                    width: 100%;
                    padding: 0 2%;

                    h2{
                        line-height: 1.8;
                    }
                }

                h2:last-child{
                    padding-top: 0.8%;
                    letter-spacing: 5px;
                    font: {
                        family: 'Noto Serif TC';
                        size: 1.7em;
                        weight: 500;
                    }

                    @media screen and (max-width: 768px){
                        letter-spacing: 3px;
                    }
                }
            }

            .about_btn{
                margin: 0 33% 0 0;
            }
        }

        .about_img{
            margin-top: -30%;
        }

        // 小照片
        .about_deco{
            width: 88%;
            max-width: 1440px;
            padding-bottom: 8%;
            margin: 5% auto 0 auto;
            position: relative;

            @media screen and (max-width: 768px){
                padding: 0 2% 1% 2%;
                margin-top: -25%;
            }

            &::before{
                content: '';
                width: 25%;
                padding-top: 333px / 771px * 100% / 4;
                background: url(../images/index/about_en.png) 50% / 100% no-repeat;
                position: absolute;
                left: 0;
                top: 20%;
                z-index: 2;

                @media screen and (max-width: 768px){
                    width: 357px / 768px * 100%;
                    padding-top: 333px / 771px * 100% * 357px / 768px;
                    top: -75%;
                }
            }
        }

        .about_deco_p{
            width: 80%;
            margin: 0 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;

            @media screen and (max-width: 768px){
                width: 100%;
            }
        }

        .p{
            width: 33.333%;
            margin: 0 0.5%;
            overflow: hidden;

            .p_inner{
                width: 100%;
                padding-top: 230px / 340px * 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: transform 1.8s linear;
            }

            &.p1 .p_inner{
                background-image: url(../images/index/about_img1.jpg);
            }

            &.p2 .p_inner{
                background-image: url(../images/index/about_img2.jpg);
            }

            &.p3 .p_inner{
                background-image: url(../images/index/about_img3.jpg);
            }

            &:hover{
                .p_inner{
                    transform: scale(1.15);
                    transition: transform 1.8s linear;
                }
            }
        }
    }
}