// banner
.news_banner{
  @extend %banner-style;
  padding-top: 700px / 1920px * 100%;
  background-image: url(../images/news/banner.jpg);

  @media screen and (max-width: 768px){
    background-image: url(../images/news/banner_mb.jpg);
  }
}

// 文章列表
.news_page{
  margin-right: -50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @for $i from 1 through 6 {
    .news_page_item-#{$i}{
      .news_img_inner{
        background-image: url(../images/news/article#{$i}.jpg);
      }
    }
  }

  @media screen and (max-width: 1024px){
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 768px){
    margin-right: auto;
    grid-template-columns: 1fr;
  }
}

.news_page_item{
  padding-bottom: 5vh;

  .news_page_article{
    background: $bg-color;
    border: 1px solid $font-color;
    display: block;

    &:hover{
      .news_img_inner{
        transform: scale(1.05);
        transition: transform 0.5s ease-out;
      }

      .news_img::after{
        opacity: 1;
        transition: opacity 0.3s linear;
      }

      .news_main_btn{
        color: $btn-color;
        transition: color 0.3s linear;

        .line::before{
            left: 0;
        }
      }
    }
  }

  @media screen and (min-width: 769px) {
    padding: 0 50px 8vh 0;
  }
}

.news_img{
  width: 100%;
  padding-top: 520px / 900px * 100%;
  position: relative;
  overflow: hidden;

  .news_img_inner{
    width: 100%;
    height: 100%;
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    transition: transform 0.5s ease-out;
  }

  &::after{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
}

.news_main{
  padding: 4% 7% 3% 7%;

  .news_main_date{
    @include font-en;
    color: $font-color;
  }

  .news_main_title{
    height: 50px;
    margin: 2% auto;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    font: {
      family: 'Noto Serif TC';
      size: 1.3em;
      weight: 600;
    }
  }

  .news_main_word{
    height: 75px;
    color: $font-color;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;

    @media screen and (max-width: 1024px) {
      height: 63px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 4% 4% 3% 4%;

    .news_main_title{
      height: auto;
    }

    .news_main_word{
      height: auto;
    }
  }
}

.news_main_btn{
  @include font-en;
  padding-top: 0.5em;
  color: $font-color;
  text-align: right;
  display: block;
  transition: color 0.3s linear;

  .line{
    width: 70px;
    height: 1px;
    margin-left: 0.5em;
    background: $font-color;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;

    &::before{
      content: '';
      width: 100%;
      height: 100%;
      background: $btn-color;
      position: absolute;
      top: 0;
      left: -100%;
      transition: left 0.3s linear;
    }
  }
}

// 頁數
.page_pager{
  padding: 0 2%;
  margin: 0 auto;
  background: $font-color;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .pager_back a{
    @include font-main;
    color: $bg-color;
    letter-spacing: 2px;
  }

  a{
    padding: 2em 0;
    color: $bg-color;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    opacity: .5;
    transition: opacity 0.3s linear;
    position: relative;


    &.active{
      opacity: 1;
    }

    &:hover{
      opacity: 1;
      transition: opacity 0.3s linear;
    }
  }
}

.pager_arrow{
  &.pager_arrow_prev a{
    padding-left: 2em;

    &::after{
      left: 0;
    }
  }

  &.pager_arrow_next a{
    padding-right: 2em;

    &::after{
      content: '>';
      right: 0;
    }
  }

  @media screen and (max-width: 768px) {
    &.pager_arrow_prev a{
      padding-left: 1.5em;
    }

    &.pager_arrow_next a{
      padding-right: 1em;
    }
  }

  a::after{
    @include font-en;
    content: '<';
    font-size: 1.3em;
    color: $bg-color;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.pager_number{
  a{
    padding: 2em 1em;

    @media screen and (max-width: 768px){
      padding: 2em 0.5em;
    }
  }
}

// 文章內頁
.news_single{
  padding: 5% 0;
  background: $bg-color;

  @media screen and (max-width: 768px){
    padding: 5% 0 12% 0;
  }
}

.news_single_article{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  .news_single_title{
    font: {
      family: 'Noto Serif TC';
      size: 1.8em;
      weight: 600;
    }
    letter-spacing: 2px;
  }

  .news_single_date{
    @include font-en;
    padding-top: 1em;
    margin-bottom: 5%;
    color: $font-color;
  }

  .news_single_img{
    @extend %banner-style;
    padding-top: 50%;
    background-image: url(../images/news/banner_single.jpg);

    @media screen and (max-width: 768px){
      background-image: url(../images/news/banner_single_mb.jpg);
    }
  }
}

.news_single_word{
  padding-top: 5vh;

  h1{
    margin-bottom: 0.6em;
    font: {
      size: 1.8em;
      weight: 600;
    }
    letter-spacing: 3px;
    line-height: 1.8;
  }

  h2{
    margin-bottom: 0.5em;
    font: {
      size: 1.4em;
      weight: 500;
    }
    letter-spacing: 1px;
    line-height: 1.8;
  }
  
  h3{
    margin-bottom: 0.3em;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 1.8;
  }

  strong{
    font-weight: 500;
    line-height: 1.8;
  }

  p{
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    line-height: 1.8;
  }

  a{
    color: $btn-color;
    line-height: 1.8;

    &:hover{
      border-bottom: 1px solid $btn-color;
    }
  }

  & > :last-child{
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px){
    h1{
      letter-spacing: 1px;
    }
  }
}

// 文章內頁(DM)
.news_dm{
  padding-bottom: 5%;

  @media screen and (max-width: 768px){
    padding: 5% 0 12% 0;
  }
}

.news_single_dm{
  border: 1px solid $font-color;
}