// banner
.product_banner{
    @extend %banner-style;
    padding-top: 600px / 1920px * 100%;
    background-image: url(../images/product/banner.jpg);

    @media screen and (max-width: 768px){
        background-image: url(../images/product/banner_mb.jpg);
    }
}

// 系列商品
.p_list{
    width: 90%;
    margin: 0 auto;
}

.p_box{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    .p_item{
        width: 1 / 3 * 100%;
        padding: 0 5%;
        margin-bottom: 6%;

        @media screen and (max-width: 1024px){
            padding: 0;
        }

        @media screen and (max-width: 768px){
            width: 50%;
        }

        @media screen and (max-width: 512px){
            width: 100%;
            margin: 8% auto;
        }

        a{
            display: block;

            &:hover{
                .p_img{
                    transform: translate(0, -6%);
                    transition: transform 0.3s linear;

                    @media screen and (max-width: 768px){
                        transform: translate(0, 0);
                        transition: none;
                    }
                }

                .box{
                    border-color: $btn-color;
                    transition: border-color 0.2s linear;
        
                    .t{
                        color: $bg-color;

                        @media screen and (max-width: 768px){
                            color: $btn-color;
                        }
                    }

                    &::after{
                        top: 0;
                        transition: top 0.2s ease-in-out;
                    }
                }
            }
        }

        .p_img{
            height: auto;
            margin: 0 auto;
            position: relative;
            transition: transform 0.3s linear;

            @media screen and (max-width: 512px){
                max-width: 250px;
            }

            img{
                width: 90%;
                margin: 0 auto;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);

                @media screen and (max-width: 512px){
                    position: static;
                    transform: translate(0, 0);
                }
            }
        }

        p{
            padding-bottom: 5%;
            text-align: center;
            font-size: 1.15em;
            letter-spacing: 1px;

            @media screen and (max-width: 1024px){
                font-size: 1em;
            }
        }
    }
}

// 按鈕
.btn_sq{
    text-align: center;

    .box{
        width: 90px;
        padding: 7px 0;
        margin: 0 auto;
        border: 1px solid $font-color;
        display: block;
        position: relative;
        overflow: hidden;
        transition: border-color 0.2s linear;

        @media screen and (max-width: 768px){
            border-color: $btn-color;
        }

        &::after{
            content: '';
            width: 100%;
            height: 100%;
            background-color: $btn-color;
            position: absolute;
            top: 100%;
            left: 0;
            transition: top 0.2s ease-in-out;

            @media screen and (max-width: 768px){
                display: none;
            }
        }
    }

    .t{
        @include btn-style;
        position: relative;
        z-index: 2;
    }
}

// 產品說明
.product_intro{
    background: url(../images/product/flower_bg.png) 0 100% / 100% repeat-y;
}

.intro_item{
    width: 100%;
    padding: 3% 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    &:nth-child(even){
        flex-direction: row-reverse;
    }

    &:not(:last-child){
        border-bottom: 1px dotted $font-color;
    }

    @media screen and (max-width: 768px){
        padding: 10% 0;
    }

    @media screen and (max-width: 512px){
        padding: 13% 0;
    }

    .intro_p{
        width: 50%;

        @media screen and (max-width: 768px){
            width: 100%;
            padding-bottom: 5%;
        }

        img{
            width: 70%;
            margin: 0 auto;

            @media screen and (max-width: 1024px){
                width: 90%;
                max-width: 350px;
            }
        }
    }

    .intro_w{
        width: 50%;
        padding: 0 5%;

        @media screen and (max-width: 1024px) and (min-width: 768px){
            padding: 0;
        }

        @media screen and (max-width: 768px){
            width: 100%;
        }

        .sm_text{
            padding: 3px 10px;
            background-color: #ebcb73;
            border-radius: 30px;

            @media screen and (max-width: 1024px){
                padding: 1px 8px;
            }
            
            i{
                color: $bg-color;
                font: {
                    size: 1.2em;
                    weight: 300;
                };
                letter-spacing: 1.5px;
                white-space: nowrap;

                @media screen and (max-width: 1024px){
                    font-size: 1.1em;
                }

                @media screen and (max-width: 1024px){
                    font-weight: 400;
                }
            }
        }

        .name{
            padding: 0.5em 0 0.7em 0;
            font: {
                size: 2.2em;
                weight: 600;
            };
            letter-spacing: 3px;
            line-height: 1.3;

            @media screen and (max-width: 1024px){
                font: {
                    size: 1.8em;
                    weight: 500;
                };
            }
        }

        .text{
            font-size: 1.05em;
            line-height: 1.8;
            letter-spacing: 1px;
            text-align: justify;

            @media screen and (max-width: 1024px) and (min-width: 512px){
                font-size: 1em;
            }
        }

        .prize{
            padding-top: 3%;
            color: $btn-color;

            @media screen and (max-width: 1024px){
                font-size: 0.9em;
            }

            @media screen and (max-width: 768px){
                text-align: right;
            }

            @media screen and (max-width: 512px){
                padding-top: 6%;
            }
        }
    }
}

// 建議搭配
.product_suggest{
    margin-top: 4%;
    background: url(../images/product/suggest_bg.png) 50% 0 / 100% no-repeat;

    @media screen and (max-width: 768px){
        background-image: url(../images/product/suggest_bg_m.png);

        .section_inner{
            width: 100%;
            padding: 3% 0;
        }
    }

    .section_box{
        padding: 3% 0 0 0;
    }

    // 標題
    .title_en{
        width: 250%;
        position: absolute;
        top: -200%;
        left: 185%;
    }
}

.s_list{
    padding: 0 5%;
    margin-top: 3%;
    background: url(../images/product/suggest_bg2.png) 50% 35% / 100% no-repeat;
    
    @media screen and (max-width: 1024px){
        background-position: 50% 45%;
    }

    @media screen and (max-width: 768px){
        padding: 0 6%;
        background: {
            image: url(../images/product/suggest_bg2_m.png);
            position: 50% 30%
        }

        .slick-prev{
            left: 6%
        }

        .slick-next{
            right: 6%
        }

        .slick-list{
            width: 80%;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 512px){
        background-position: 50% 50%;
    }
}

.s_link{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 6%;

    @media screen and (max-width: 768px){
        max-width: 260px;
    }

    img{
        width: 80%;
        margin: 0 auto;
        transform: translate(0, 0);
        transition: transform 0.3s linear;

        @media screen and (max-width: 768px) and (min-width: 512px){
            width: 100%;
        }
    }

    p{
        height: 25px;
        margin: 6% auto;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
        overflow: hidden;
    }

    &:hover{
        img{
            transform: translate(0, -6%);
            transition: transform 0.3s linear;

            @media screen and (max-width: 768px){
                transform: translate(0, 0);
            }
        }

        .box{
            border-color: $btn-color;
            transition: border-color 0.2s linear;

            .t{
                color: $bg-color;

                @media screen and (max-width: 768px){
                    color: $btn-color;
                }
            }

            &::after{
                top: 0;
                transition: top 0.2s ease-in-out;
            }
        }
    }
}