// 顏色
$font-color-main: #000000;
$font-color: #9e9e9e;
$font-color-hover: #a00e15;
$btn-color: #a00e15;
$bg-color: #ffffff;

// 字體
@mixin font-main {
    font: {
      family: 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', 'sans-serif', serif;
      size: 14px;
      weight: 400;
    }
    color: $font-color-main;
    line-height: 1.8;
    letter-spacing: 0.01em;

    @media screen and (max-width: 1024px){
        line-height: 1.5;
    }

    @media screen and (max-width: 512px){
        font: {
            size: 13px;
            // weight: 500;
          }
    }
}

@mixin font-en {
    font: {
      family: 'Poppins', 'sans-serif', serif;
      size: 0.928em;
      weight: 300;
    }
}

// 連結按鈕
@mixin btn-style {
    font: {
        family: 'Poppins', 'sans-serif', serif;
        size: 1em;
        weight: 300;
    }
    color: $font-color;
    letter-spacing: 1px;
    line-height: 1;
    transition: color 0.3s linear;

    @media screen and (max-width: 768px){
        color: $btn-color;
        transition: none;
    }
}

// 輪播左右鍵
%carouselbtn-style {
    width: 9vw;
    max-width: 50px;
    height: 9vw;
    max-height: 50px;
    display: inline-block;
    opacity: .5;
    transition: opacity 0.3s linear;
    cursor: pointer;

    &.item_next{
        transform: rotate(180deg);
    }

    &:hover{
        opacity: 1;
        transition: opacity 0.3s linear;
    }
}

// 單圖 banner
%banner-style{
    width: 100%;
    background: {
        size: cover;
        position: 50%;
        repeat: no-repeat;
    };

    @media screen and (max-width: 768px){
        padding-top: 500px / 768px * 100% !important;
    }
}