@charset "utf-8";

/*思源黑體*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:200,300,400,500,600,700,900&display=swap");

/*思源宋體*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&display=swap");


/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

section {
    display: inline-block;
    width: 100%;
    position: relative;
}

img {
    width: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

/* Slider css*/
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider style*/
/*.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
*/
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: block;
    width: 10%;
    height: 0px;
    padding-bottom: 15%;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 8;
}

.slick-prev {
    background-image: url(../img/arrow_left.png);
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-next {
    background-image: url(../img/arrow_right.png);
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-prev:hover,
.slick-prev:focus {
    color: transparent;
    outline: none;
    opacity: 1;
}

.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -15%;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '';
}

[dir='rtl'] .slick-prev:before {
    content: '';
}

.slick-next {
    right: -15%;
}

[dir='rtl'] .slick-next {
    right: auto;
    right: 1%;
}

.slick-next:before {
    content: '';
}

[dir='rtl'] .slick-next:before {
    content: '';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: absolute;
    bottom: 7.5%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 3%;
    height: 0;
    margin: 0 2%;
    padding: 0 0 0 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
    margin: 0 auto;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    content: '';
    text-align: center;
    opacity: 1;
    color: #818181;
    background-color: #818181;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 200%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #343434;
    background-color: #343434;
    width: 100%;
}

/*layout*/
html {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    color: #313131;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}


html.click {
    overflow: hidden;
}

html,
body {
    font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", Helvetica;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
}


/*導覽列*/
.wrapper {
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0;
    position: fixed;
    z-index: -1000;
    overflow-x: hidden;
    transition: 0.2s ease;
}

.inner_wrapper {
    position: relative;
    opacity: 1;
    display: block;
    overflow-x: hidden;
}



.header {
    width: 100%;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    padding: 2% 6% 1% 6%;
    font-size: 0;
    z-index: 200;
}

.inner_wrapper.report_01 .header {
    display: none;
}

.btn_hum {
    display: none;
}

.sns {
    width: 100%;
    text-align: right;
    display: block;
}

.sns a {
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
    margin: 0 8px;
}

.sns a:hover {
    background-position: bottom center;
}

.fb {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon_fb.png);
    background-repeat: no-repeat;
}

.ig {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon_ig.png);
}

.mail {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon_mail.png);
}

.search {
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_search.png);
}

.sns span {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #AEB6C2;
    vertical-align: bottom;
    margin: 0 5px;
}

.search_box {
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
    padding: 0.5% 1% 0.5% 1%;
    width: 35%;
    right: 5%;
    top: 50%;
    z-index: 5;
    text-align: left;
    display: none;
}

.search_box input {
    outline: none;
    border: 0;
    display: inline-block;
    width: 80%;
    padding: 2%;
    vertical-align: middle;
}

.search_box input::placeholder {
    font-size: 1vw;
}

.btn_search {
    font-size: 1vw;
    background-color: #5bae7f;
    color: #fff;
    border-radius: 0.4em;
    outline: none;
    padding: 2% 0;
    width: 16%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    display: inline-block;
    width: 18%;
    height: 0;
    padding-bottom: 4%;
    background-image: url(../img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 2.5%;
    position: relative;
    z-index: 5;
}

.nav_list {
    position: absolute;
    right: 6%;
    bottom: 10%;
    display: inline-block;
    width: 82%;
    font-size: 1vw;
    color: #313131;
    text-align: right;
    letter-spacing: 0.1rem;
    vertical-align: text-bottom;
}

.nav_list > a,
.nav_list > div {
    position: relative;
    display: inline-block;
    color: #313131;
    margin-left: 5.5%;
    height: 0;
    padding-top: 3.5%;
    padding-bottom: 2.4%;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-size: auto 94%;
    background-image: none;
    background-position: top center;
    cursor: pointer;
}

.nav_list > div > div {
    position: absolute;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    padding: 15% 0 5% 0;
    display: none;
    opacity: 0;
    top: 0;
    z-index: 8;
}

.nav_list > div:hover > div {
    display: block;
    opacity: 1;
    top: 100%;
}

.nav_list > div > div > a {
    display: block;
    color: #313131;
    padding: 8% 0;
}

.nav_list > div > div > a:hover {
    color: #fff;
    background-color: #f4cc57;
}

.nav-02 > div {
    width: 200%;
    margin-left: -50%;
}

.nav-03 > div {
    width: 200%;
    margin-left: -50%;
}

.nav-04 > div {
    width: 240%;
    margin-left: -70%;
}

.nav-05 > div {
    width: 200%;
    margin-left: -50%;
}

.nav_list > a:hover span,
.nav_list > div:hover span {
    opacity: 0;
}

.nav-01:hover {
    background-image: url(../img/nav-01.png);
}

.nav-02:hover {
    background-image: url(../img/nav-02.png);
}

.nav-03:hover {
    background-image: url(../img/nav-03.png);
}

.nav-04:hover {
    background-image: url(../img/nav-04.png);
}

.nav-05:hover {
    background-image: url(../img/nav-05.png);
}

.now_page::after {
    position: absolute;
    content: '';
    width: 70%;
    height: 0;
    padding-bottom: 5%;
    background-image: url(../img/bar.png);
    background-size: 100%;
    background-repeat: no-repeat;
    left: 15%;
    bottom: -20%;
    z-index: 0;
}

.now_page:hover::after {
    display: none;
}

.nav_list_m {
    display: none;
}

/*固定header*/

.header.fixed_bar {
    background-color: #5BAE7F;
    position: fixed;
    top: 0;
}

.header.fixed_bar .sns {
    position: absolute;
    right: 6%;
}

.header.fixed_bar .sns > a {
    width: 1.2%;
    height: 0;
    padding-bottom: 1.2%;
    background-size: cover;
    background-position: top center;
}

.header.fixed_bar .sns > a:hover {
    background-position: top center;
}

.header.fixed_bar .fb {
    background-image: url(../img/icon_fb_w.png);
}

.header.fixed_bar .ig {
    background-image: url(../img/icon_ig_w.png);
}

.header.fixed_bar .mail {
    background-image: url(../img/icon_mail_w.png);
}

.header.fixed_bar .search {
    background-image: url(../img/icon_search_w.png);
}

.header.fixed_bar .sns span {
    display: inline-block;
    width: 2px;
    height: 0;
    padding-bottom: 1.4%;
    background-color: #fff;
    vertical-align: middle;
    margin: 0 0.5%;
    opacity: 0.65;
}

.header.fixed_bar .search_box {
    width: 22%;
    right: 0%;
    top: 150%;
    display: none;
}

.header.fixed_bar .logo {
    width: 12%;
    padding-bottom: 3%;
    background-image: url(../img/logo-soga-w.png);
    margin-top: 0%;
    display: inline-block;
    vertical-align: middle;
}

.header.fixed_bar .nav_list {
    position: relative;
    right: auto;
    bottom: auto;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    font-size: 1vw;
    color: #fff;
    text-align: left;
    margin-top: -0.5%;
    margin-left: 2.2%;
}

.header.fixed_bar .nav_list > a,
.header.fixed_bar .nav_list > div {
    position: relative;
    display: inline-block;
    color: #fff;
    margin-left: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    cursor: pointer;
    margin-top: -2.5%;
}

.header.fixed_bar .nav_list > div:hover > div {
    display: block;
    opacity: 1;
    top: 100%;
}

.header.fixed_bar .nav_list > div > div > a {
    display: block;
    color: #313131;
    padding: 4% 0;
}

.header.fixed_bar .nav_list > div > div > a:hover {
    color: #fff;
    background-color: #f4cc57;
}

.header.fixed_bar .nav-02 > div {
    width: 200%;
    margin-left: -50%;
}

.header.fixed_bar .nav-05 > div {
    width: 200%;
    margin-left: -50%;
}

.header.fixed_bar .nav_list > a:hover::after,
.header.fixed_bar .nav_list > div:hover::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 5px;
    background-color: #F4CC57;
    top: 0%;
    left: 2.5%;
}

.header.fixed_bar .nav_list > a:hover span,
.header.fixed_bar .nav_list > div:hover span {
    opacity: 1;
}

.header.fixed_bar .nav-01:hover,
.header.fixed_bar .nav-02:hover,
.header.fixed_bar .nav-03:hover,
.header.fixed_bar .nav-04:hover,
.header.fixed_bar .nav-05:hover {
    background-image: none;
}

.header.fixed_bar .now_page::after {
    background-image: none;
    position: absolute;
    width: 95%;
    height: 5px;
    padding-bottom: 0;
    background-color: #F4CC57;
    top: 0%;
    left: 2.5%;
}

.header.fixed_bar .now_page:hover::after {
    display: block;
}

.nav_list_right::-webkit-scrollbar {
    display: none
}

/*手機側邊*/

@media (max-width:960px) {

    .btn_hum {
        display: block;
        position: absolute;
        width: 8%;
        height: 0;
        padding-bottom: 8%;
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);
        right: 4%;
        cursor: pointer;
    }

    .btn_hum span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #ADB6C3;
        margin-bottom: 30%;
        transition: 0.3s;
        border-radius: 100px;
    }

    .btn_hum.click span:nth-child(1) {
        transform: rotate(-45deg);
        position: absolute;
        top: 45%;
    }

    .btn_hum.click span:nth-child(2),
    .btn_hum.click span:nth-child(3) {
        transform: rotate(45deg);
        position: absolute;
        top: 22%;
        width: 44%;
    }

    .btn_hum.click span:nth-child(3) {
        top: 70%;
        left: 52%;
    }

    .header {
        padding: 5% 4% 6% 4%;
        font-size: 0;
    }

    .sns {
        display: none;
    }

    .logo {
        width: 36%;
        padding-bottom: 7%;
    }

    .nav_list {
        display: none !important;
    }

    .nav_list_m {
        position: fixed;
        width: 100%;
        height: 100vh;
        display: block;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 6;
        display: none;
    }

    .nav_list_m.click {
        display: block;
    }

    .nav_list_right {
        width: 80%;
        position: fixed;
        background-color: #fff;
        right: -100%;
        height: calc(100vh - 8%);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) inset;
        box-sizing: border-box;
        padding: 5% 8% 8% 8%;
        margin-top: 0;
        overflow-y: scroll;
    }

    .nav_list_right::-webkit-scrollbar {
        display: none;
    }

    .nav_list_right.click {
        right: 0;
    }

    .nav_list_right .search_box {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin: 10% auto;
        width: 100%;
        box-shadow: none;
        border: 1px solid #AEB6C2;
        padding: 4% 5%;
        box-sizing: border-box;
        margin-bottom: 20%;
    }

    .nav_list_right .search_box input::placeholder {
        font-size: 3vw;
    }

    .nav_list_right .search_box a {
        font-size: 2.4vw;
        padding: 4% 2%;
        top: 160%;
        right: 0;
    }

    .nav_list_right.fixed_bar {
        margin-top: 14.5%;
    }

    .nav_list_right ul li {
        display: block;
        width: 100%;
        border-bottom: 2px solid #AEB6C2;
        box-sizing: border-box;
        padding: 7.5% 0;
        position: relative;
    }

    .nav_list_right ul li a,
    .nav_list_right ul li div {
        color: #313131;
        font-size: 3.6vw;
    }

    .nav_list_right ul li div span {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 75%;
    }

    .nav_list_right ul li div span::after {
        content: '>';
        color: #AEB6C2;
        font-size: 6vw;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        transition: 0.3s;
    }

    .nav_list_right ul li div.click span::after {
        transform: translateY(-50%) rotate(90deg);
    }

    .nav_list_right ul li a:hover,
    .nav_list_right ul li div:hover {
        color: #5BAE7F;
        cursor: pointer;
    }

    .nav_list_right ul li img {
        width: 18%;
        margin-right: 5%;
        vertical-align: middle;
    }

    .inner_link {
        margin: 10% 0 0 0;
        display: none;
    }

    .inner_link.click {
        display: block;
    }

    .inner_link a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 4% 0 4% 24%;
    }

    .sns_right {
        padding: 3% 0 0 0;
    }

    .sns_right li {
        border-bottom: 0 !important;
    }

    .sns_right li a {
        color: #ADB6C3 !important;
        border-bottom: 0 !important;
        padding-left: 10%;
    }

    .sns_right li a img {
        height: 4.5vw;
        width: auto;
        vertical-align: middle;
        margin-right: 10%;
    }

    /*固定header*/
    .header.fixed_bar {
        padding: 4.2% 5%;
    }

    .header.fixed_bar .btn_hum {
        top: 50%;
        transform: translateY(-50%);
    }

    .header.fixed_bar .btn_hum span {
        background-color: #fff;
    }

    .header.fixed_bar .logo {
        width: 36%;
        padding-bottom: 7%;
    }

    .header.fixed_bar .nav_list b {
        display: none;
    }

    .header.fixed_bar .nav_list > a,
    .header.fixed_bar .nav_list > div {
        position: relative;
        display: inline-block;
        color: #fff;
        margin-left: 5%;
        padding-top: 4%;
        padding-bottom: 4%;
        cursor: pointer;
        margin-top: -2.5%;
    }
}

/*開場動畫*/
.kv_motion {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
}

@keyframes frame01 {
    0% {
        opacity: 0.5;
    }

    40% {
        opacity: 1.0;
    }

    60% {
        opacity: 1.0;
    }

    65% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
    }
}

.frame_01 {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    position: relative;
    animation-name: frame01;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    z-index: 5;
    opacity: 0.5;
}

.frame_01 > img {
    position: absolute;
    display: inline-block;
    width: 17.4%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frame_02 {
    width: 1680px;
    height: 945px;
    left: 50%;
    top: 0;
    margin-top: 0;
    margin-left: -840px;
    position: absolute;
    background-image: url(../img/kv_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    opacity: 0;
    animation-delay: 1.8s;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.frame_02 > img {
    position: absolute;
    width: 20%;
    top: 7%;
    right: 15%;
}

.frame_02 .text_frame img {
    position: absolute;
    opacity: 0;
}

.text_frame {
    width: 1680px;
    height: 945px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-top: -472.5px;
    margin-left: -840px;
}

.t_01 {
    width: 8.3%;
    height: auto;
    top: 44.5%;
    left: 23.8%;
}

.t_02 {
    width: 7.7%;
    top: 61.5%;
    right: 16%;
}

.t_03 {
    width: 8.4%;
    top: 8%;
    left: 27%;
}

.t_01,
.t_02,
.t_03 {
    animation-delay: 2s, 2.5s;
    animation-name: bounceIn, bounceOut;
    animation-duration: 0.5s, 0.5s;
    animation-fill-mode: forwards;
}

.t_04 {
    width: 8.4%;
    top: 2.5%;
    left: 19%;
}

.t_05 {
    width: 9.5%;
    top: 49.5%;
    left: 38.4%;
}

.t_06 {
    width: 6%;
    right: 37.5%;
    top: 34%;
}

.t_07 {
    width: 5.9%;
    top: 75%;
    left: 34.8%;
}

.t_04,
.t_05,
.t_06,
.t_07 {
    animation-delay: 2.8s, 3.3s;
    animation-name: bounceIn, bounceOut;
    animation-duration: 0.5s, 0.5s;
    animation-fill-mode: forwards;
}

.t_08 {
    width: 7.5%;
    top: 15%;
    left: 40%;
}

.t_09 {
    width: 8.3%;
    top: 59%;
    right: 35%;
}

.t_10 {
    width: 6.3%;
    right: 22%;
    top: 47.5%;
}

.t_08,
.t_09,
.t_10 {
    animation-delay: 3.6s, 4.1s;
    animation-name: bounceIn, bounceOut;
    animation-duration: 0.5s, 0.5s;
    animation-fill-mode: forwards;
}

@media (max-width:1200px) {
    .frame_01 > img {
        width: 30%;
    }

    .frame_02 {
        width: 130%;
        height: 0;
        padding-bottom: 75%;
        left: -15%;
        top: 50%;
        margin-top: -37.5%;
        margin-left: 0;
    }

    .frame_02 > img {
        width: 20%;
        top: 7%;
        right: 15%;
    }

    .text_frame {
        width: 100%;
        height: 0;
        padding-bottom: 57.2%;
        left: 0;
        top: 0;
        margin-top: 0;
        margin-left: 0;
    }
}

@media (max-width:768px) {
    .frame_01 > img {
        width: 40%;
    }

    .frame_02 {
        width: 100%;
        height: 0;
        padding-bottom: 175%;
        left: 0;
        top: 0;
        margin-top: 0;
        margin-left: 0;
        background-size: 100%;
        background-image: url(../img/kv_bg_m.png);
    }

    .frame_02 > img {
        width: 44%;
        top: 12%;
        right: auto;
        left: 28%;
    }

    .text_frame {
        width: 100%;
        height: 0;
        padding-bottom: 219%;
        left: 0;
        top: 0;
        margin-top: 0;
        margin-left: 0;
    }

    .t_01 {
        width: 17%;
        height: auto;
        top: 42%;
        left: 23.8%;
    }

    .t_02 {
        display: none;
    }

    .t_03 {
        width: 17%;
        top: 20%;
        left: 35%;
    }

    .t_04 {
        width: 17%;
        top: 17.5%;
        left: 16%;
    }

    .t_05 {
        width: 18%;
        top: 43.5%;
        left: 63%;
    }

    .t_06 {
        display: none;
    }

    .t_07 {
        width: 13%;
        top: 59%;
        left: 47.5%;
    }

    .t_08 {
        width: 15%;
        top: 27%;
        left: 60%;
    }

    .t_09 {
        display: none;
    }

    .t_10 {
        display: none;
    }

}

/*首頁*/
.for_m {
    display: none;
}

.for_pc {
    display: block;
}

.main_wrap {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0 6%;
    margin-top: 1%;
}

.main_wrap.report_01 {
    padding: 0;
    margin-top: 0;
}

.index_banner {
    width: 100%;
    margin-top: 2%;
}

.title span {
    display: inline-block;
    vertical-align: text-bottom;
}

.title span:nth-child(1) {
    font-family: 'Noto Serif TC';
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.8vw;
}

.title span:nth-child(2) {
    width: 10%;
    height: 1px;
    display: inline-block;
    background-color: #707070;
    margin: 0 1% 0.3% 1%;
}

.title span:nth-child(3) {
    font-size: 1vw;
    font-family: 'Noto Sans TC';
    font-weight: normal;

}

@media(max-width:960px) {
    .for_m {
        display: block;
    }

    .for_pc {
        display: none;
    }

    .main_wrap {
        padding: 0;
    }

    .index_banner {
        width: 100%;
    }

    .title {
        position: relative;
        padding-left: 6%;
        margin-left: 6%;
    }

    .title span:nth-child(1) {
        font-size: 4.8vw;
    }

    .title span:nth-child(3) {
        font-size: 1.8vw;
        display: block;
        margin-top: 2.5%;

    }
}

/*news*/
.news {
    position: relative;
    margin-top: 8%;
}

.news_banner {
    width: 100% !important;
    display: block;
    position: relative;
}

.news_banner > div {
    width: 100% !important;
    position: relative;
    padding: 6.5% 0;
}

.news_inner {
    width: 100% !important;
    position: relative;
}

.news_pic {
    width: 50%;
    z-index: 5;
    position: relative;
}

.news_word {
    width: 55%;
    border: 1px solid #707070;
    position: absolute;
    top: -18%;
    right: 1px;
    box-sizing: border-box;
    padding: 10% 5% 10% 8%;
    z-index: 0;
}

.news_word h3 {
    font-family: 'Noto Serif TC';
    color: #ADB6C3;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.7vw;
    margin-bottom: 4%;
}

.news_word p {
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 1.2vw;
}

.news_word a,
.btn_more {
    display: inline-block;
    width: 25%;
    margin-top: 4%;
    padding: 2% 4%;
    background-color: #5BAE7E;
}

.news_word a:hover,
.btn_more:hover {
    background-color: #F4CC57;
}

/* Arrows */
.news_banner .slick-prev,
.news_banner .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 3.5%;
    height: 0px;
    padding-bottom: 15%;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 10;
}

.news_banner .slick-prev {
    background-image: url(../img/arrow_left.png);
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    left: -1.8%;
}

.news_banner .slick-next {
    background-image: url(../img/arrow_right.png);
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    right: -1.8%;
}

.news_banner .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.news_banner .slick-dots {
    bottom: 2.5%;
    width: 50%;
    text-align: left;
}

.news_banner .slick-dots li {
    width: 8%;
    height: 0;
    margin: 0 1% 0 0;
}

.news_banner .slick-dots li button {
    width: 95%;
    height: 6%;
    padding-bottom: 0;
}

.news_banner .slick-dots li button:before {
    width: 100%;
    height: 0;
    border-radius: 0;
    padding-bottom: 10%;
    background-color: #ADB6C3;

}

.slick-dots li.slick-active button:before {
    background-color: #5BAE7E;
}

@media(max-width:960px) {

    .news {
        margin-top: 10%;
    }

    .news > .title span:nth-child(2) {
        width: 80%;
        position: absolute;
        top: 40%;
        right: -9%;
    }

    .news_banner {
        width: 90% !important;
        margin: 0 auto;
    }

    .news_pic {
        width: 90%;
        margin: 0 auto;
    }

    .news_word {
        width: 99%;
        position: relative;
        top: auto;
        right: auto;
        box-sizing: border-box;
        padding: 40% 4% 10% 4%;
        margin: -37% auto 0 auto;
    }

    .news_word h3 {
        font-size: 4.8vw;
        color: #313131;
        line-height: 1.5;
    }

    .news_word p {
        line-height: 1.8;
        letter-spacing: 0.5px;
        font-size: 2.4vw;
        opacity: 0.9;
    }

    .news_word a,
    .btn_more {
        padding: 3% 4%;
    }

    /* Arrows */
    .news_banner .slick-prev,
    .news_banner .slick-next {
        display: none !important;
    }

    .news_banner .slick-dotted.slick-slider {
        margin-bottom: 0;
        border: 1px solid red;
    }

    .news_banner .slick-dots {
        bottom: 0%;
        width: 65%;
        text-align: left;
    }

    .news_banner .slick-dots li button:before {
        width: 100%;
        height: 0;
        border-radius: 0;
        padding-bottom: 10%;
        background-color: #ADB6C3;

    }

    .slick-dots li.slick-active button:before {
        background-color: #5BAE7E;
    }

}

/*tips*/
.tips {
    margin-top: 18%;
    position: relative;
}

.tips .title {
    position: relative;
    z-index: 5;
}

.tip_left {
    position: relative;
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
    background-color: #F4f4f5;
    padding: 15% 8% 12% 7%;
    margin-left: -7%;
    margin-top: -8%;
    z-index: 0;
}

.tip_left span {
    display: block;
    font-family: 'Noto Serif TC';
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.7vw;
    margin-top: 8%;
    margin-bottom: 4%;
}

.tip_left p {
    font-size: 1vw;
    line-height: 1.5;
    color: #313131;
    width: 100%;
    text-align: justify;
}

.tip_left a {
    width: 18%;
}

.tip_right {
    position: absolute;
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-left: -5%;
    z-index: 5;
    top: 2%;
}

.tip_02,
.tip_03 {
    position: relative;
    width: 100%;
    font-size: 0;
    position: relative;
}

.tip_03 {
    margin-top: 8%;
}

.tip_02 a,
.tip_03 a {
    width: 35%;
    padding: 3% 5%;
}

.tip_02 > img,
.tip_03 > img {
    display: inline-block;
    width: 40%;
}

.tip_02 div,
.tip_03 div {
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
    padding: 0 0 0 5%;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
}

.tip_02 span,
.tip_03 span {
    display: block;
    font-family: 'Noto Serif TC';
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.7vw;
    margin-top: 8%;
    line-height: 1.5;
    margin-bottom: 4%;
}

.tip_02 p,
.tip_03 p {
    font-size: 1vw;
    line-height: 1.5;
    margin-bottom: 5%;
}

.tip_left.for_m {
    display: none;
}

@media (max-width:960px) {
    .tips > .title {
        margin-top: 30%;
    }

    .tips > .title span:nth-child(2) {
        width: 80%;
        position: absolute;
        top: 40%;
        right: -16%;
    }

    .tip_left {
        width: 100%;
        padding: 30% 14% 12% 7%;
        margin-left: 5%;
        margin-top: -24%;
    }

    .tip_left.for_m {
        display: block;
        padding-top: 0%;
        margin-top: 0;
    }

    .tip_left span {
        font-size: 4.8vw;
        line-height: 1.5;
    }

    .tip_left p {
        font-size: 3.2vw;
        padding-right: 1%;
        box-sizing: border-box;
    }

    .tip_left a {
        width: 28%;
    }

    .tip_right {
        display: none;
    }
}

/*vision*/
.vision {
    display: block;
    width: 100%;
    margin-top: 10%;
}

.vision .title {
    margin-bottom: 5%;
    display: block;
}

.vision_cont {
    position: relative;
    width: 95%;
    border: 1px solid #707070;
}

.vision_cont ul {
    width: 45%;
    display: inline-block;
    font-family: 'Noto Serif TC';
    font-weight: 600;
    letter-spacing: 1px;
    padding: 4% 5%;
}

.vision_cont ul li {
    width: 100%;
    margin-bottom: 8%;
    position: relative;
}

.vision_cont ul li:last-child {
    margin-bottom: 0;
}

.vision_cont ul li::after {
    display: block;
    position: absolute;
    content: '';
    height: 100%;
    width: 1.5%;
    background-color: transparent;
    top: 0;
    left: calc(-11.2% - 1px);
}

.vision_cont ul li:hover::after {
    background-color: #ADB5C3;
    cursor: pointer;
}

.vision_cont ul li:hover a {
    margin-left: 15%;
}

.vision_cont ul li span {
    display: inline-block;
    vertical-align: middle;
}

.vision_cont ul li span:nth-child(1) {
    width: 12%;
    font-size: 3vw;
}

.vision_cont ul li span:nth-child(2) {
    width: 76%;
    font-size: 1.7vw;
    line-height: 1.5;
}

.vision_cont ul li a {
    display: block;
    width: 15%;
    margin-left: 13.2%;
    margin-top: 2%;
    transition: 0.3s;
}

.vision_cont > img {
    width: 52%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5%;
}

@media(max-width:960px) {

    .vision .title {
        margin-bottom: 5%;
        display: block;
        margin-top: 18%;
    }

    .vision .title > span:nth-child(2) {
        position: absolute;
        width: 80%;
        top: 40%;
        right: -18%;
    }

    .vision_cont {
        position: relative;
        width: 90%;
        margin: 30% auto 0 auto;
        box-sizing: border-box;
        padding-top: 25%;
    }

    .vision_cont ul {
        width: 100%;
        display: inline-block;
        font-family: 'Noto Serif TC';
        font-weight: 600;
        letter-spacing: 1px;
        padding: 4% 5%;
    }

    .vision_cont ul li {
        width: 100%;
        margin-bottom: 8%;
        position: relative;
    }

    .vision_cont ul li::after {
        background-color: transparent;
        top: 0;
        left: calc(-5% - 2px);
    }


    .vision_cont ul li:hover a {
        margin-left: 15%;
    }

    .vision_cont ul li span {
        display: inline-block;
        vertical-align: middle;
    }

    .vision_cont ul li span:nth-child(1) {
        width: 12%;
        font-size: 4.8vw;
    }

    .vision_cont ul li span:nth-child(2) {
        width: 76%;
        font-size: 3.6vw;
        line-height: 1.5;
    }

    .vision_cont ul li a {
        width: 20%;
    }

    .vision_cont > img {
        width: 90%;
        top: 0;
        right: 5%;
    }

}

/*不塑之客*/
.People {
    width: 100%;
    position: relative;
    margin-top: 10%;
}

.People .title {
    margin-bottom: 5%;
    display: block;
}

.people_cont {
    position: relative;
    width: 105%;
    font-size: 0;
    margin-left: -2.5%;
}

/*
.people_cont > div {
    position: relative;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
}

.people_cont > div:last-child {
    margin-right: 0;
}*/

.people_cont div {
    position: relative;
    padding: 0 1%;
}

.people_word {
    position: absolute;
    width: 94%;
    height: 100%;
    top: 0;
    left: 3%;
    box-sizing: border-box;
    padding: 110% 10% 8% 10%;
    overflow: hidden;
    transition: 0.3s;
}

.people_word span {
    font-size: 1.8vw;
    color: #fff;
    font-family: 'Noto Serif TC';
    font-weight: 600;
}

.people_word p {
    width: 100%;
    font-size: 1.2vw;
    line-height: 1.5;
    color: #fff;
    font-weight: 100;
    margin-top: 8%;
    opacity: 0;
    transition: 0.3s;
}

.people_word:hover {
    padding-top: 85%;
    background-color: rgba(28, 114, 53, 0.68);
}

.people_word:hover p {
    opacity: 1;
}

@media(max-width:960px) {
    .People {
        width: 100%;
        position: relative;
        margin-top: 20%;
    }

    .People .title {
        margin-bottom: 5%;
        display: block;
    }

    .People .title > span:nth-child(2) {
        position: absolute;
        width: 80%;
        top: 40%;
        right: -13%;
    }

    .people_cont {
        position: relative;
        width: 80%;
        margin-left: 0;
        font-size: 0;
        overflow: visible;
        margin-top: 8%;
        margin-left: 10%;
    }

    .people_cont div {
        padding: 0;
    }

    .people_cont .slick-list {
        overflow: visible;
    }
    
    .people_cont .slick-arrow{
        display: none !important;
    }
    .people_cont img{
        width: 94%;
        margin-left: 3%;
    }

    .people_word span {
        font-size: 6vw;
    }

    .people_word p {
        font-size: 2.4vw;
    }

}

/*特別企劃*/
.report {
    margin-top: 10%;
}

.report_cont {
    position: relative;
    width: 100%;
    margin-top: 8%;
    display: block;
}

.report_cont p {
    width: 50%;
    height: 0;
    text-align: justify;
    box-sizing: border-box;
    background-color: #F4F4F5;
    font-size: 1.15vw;
    line-height: 1.5;
    padding: 5% 15% 23.5% 5%;
    color: #313131;
}

.report_cont img {
    width: 60%;
    position: absolute;
    right: 0;
    top: -36%;

}

.more_report {
    position: relative;
    width: 100%;
    margin-top: 5%;
    padding-bottom: 2%;
    font-size: 0;
}

.more_report > a {
    position: relative;
    width: 25%;
    font-size: 1.2vw;
    line-height: 1.5;
    box-sizing: border-box;
    padding-right: 5%;
    padding-left: 0.5%;
    padding-top: 1.2%;
    border-top: 1px dashed #5bae7f;
    overflow: visible;
    margin-top: 2.5%;
    display: inline-block;
    color: #000;
}

.more_report > a::after {
    position: absolute;
    content: '';
    width: 5%;
    height: 0;
    padding-bottom: 5%;
    border-radius: 100%;
    background-color: #5bae7f;
    top: -15%;
    left: 0;
}

@media (max-width:960px) {

    /*特別企劃*/
    .report {
        margin-top: 20%;
    }

    .report .title > span:nth-child(2) {
        position: absolute;
        width: 80%;
        top: 40%;
        right: -13%;
    }

    .report_cont {
        position: relative;
        width: 90%;
        margin: 8% auto 0 auto;
    }

    .report_cont p {
        width: 100%;
        height: auto;
        font-size: 2.4vw;
        padding: 45% 5% 8% 5%;
        color: #313131;
        line-height: 1.8;
    }

    .report_cont img {
        width: 90%;
        position: absolute;
        right: 5%;
        top: -10%;

    }

    .more_report {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        padding-bottom: 2%;
    }

    .more_report > a {
        position: relative;
        width: 50%;
        font-size: 3.6vw;
        line-height: 1.5;
        box-sizing: border-box;
        padding-right: 7%;
        padding-top: 3%;
    }

    .more_report > a::after {
        width: 4%;
        padding-bottom: 4%;
        top: -8%;
    }

    .more_report > a:nth-child(3),
    .more_report > a:nth-child(4) {
        display: none;
    }


}

/*行事曆*/
.event {
    margin-top: 10%;
    position: relative;
}

.event > a {
    width: 15%;
    padding: 1.2% 2%;
    background-color: #5BAE7F;
    position: absolute;
    box-sizing: border-box;
    right: 0;
    top: -1%;
    z-index: 5;
}

.event > a:hover {
    background-color: #F4CC57;
}

.event_cont {
    position: relative;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden !important;
    margin-top: -3%;
    z-index: 1;
}


.event_cont::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #fff;
}

.event_cont::-webkit-scrollbar {
    width: 0;
    height: 5px;
    background-color: transparent;
}

.event_cont::-webkit-scrollbar-thumb {
    background-color: #5bae7f;
    border: 0;
}

.event_cont > div {
    position: relative;
    margin: 0 0 0 0;
    width: 550%;
    height: 0;
    padding-bottom: 86%;
}

.event_cont > div > div:first-child {
    margin-left: -0.49%;
}

.event_cont > div > div:last-child::after {
    display: none;
}

.m_cont {
    position: relative;
    display: inline-block;
    width: 8%;
    box-sizing: border-box;
    padding: 2% 0.5%;
    font-family: 'Noto Serif TC';
}

.m_cont a {
    display: block;
    width: 18%;
}

.m_cont > span {
    display: block;
    color: #313131;
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 4%;
}

.m_cont > div {
    position: relative;
    margin-bottom: 10%;
}

.m_cont::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 0;
    padding-bottom: 155%;
    border-right: 1px dashed #AEB6C2;
    top: 15%;
    right: 0;
}

.date {
    position: absolute;
    background-color: #ADB6C3;
    color: #fff;
    width: 14%;
    height: 0;
    padding-bottom: 14%;
    top: 3%;
    left: 2%;
    text-align: center;
}

.date span {
    display: inline-block;
    font-size: 1.1vw;
}

.date span:nth-child(1),
.date span:nth-child(3) {
    width: 45%;
    padding: 25% 0;
    font-weight: 600;
}

.date span:nth-child(1) {
    transform: translateY(-18%);
}

.date span:nth-child(2) {
    position: absolute;
    width: 60%;
    height: 1px;
    background-color: #fff;
    left: 20%;
    top: 34%;
    transform: rotate(-45deg);
}

.date span:nth-child(3) {
    transform: translateY(18%);
}

.date span:nth-child(4) {
    transform: scale(0.75);
}

.m_title {
    font-size: 1.6vw;
    margin: 5% 0;
    line-height: 1.4;
}

@media(max-width:960px) {

    .event {
        margin-top: 18%;
    }

    .event .title > span:nth-child(2) {
        width: 80%;
        position: absolute;
        top: 40%;
        right: -40%;
    }

    .event > a {
        display: none;
    }

    .event_cont {
        position: relative;
        width: 90%;
        margin: -15% auto 0 auto;
        height: auto;
    }

    .event_cont > div {
        position: relative;
        margin: 0 0 0 0;
        width: 1200%;
        height: 0;
        padding-bottom: 125%;
    }

    .m_02 {
        display: none;
    }

    .m_cont a {
        display: block;
        width: 20%;
    }

    .m_cont > span {
        font-size: 3.6vw;
        margin-bottom: 4%;
    }

    .m_cont > div {
        position: relative;
        margin-bottom: 10%;
    }

    .m_cont::after {
        top: 20%;
    }

    .date {
        position: absolute;
        background-color: #ADB6C3;
        color: #fff;
        width: 12%;
        height: 0;
        padding-bottom: 12.3%;
        top: 3%;
        left: 2%;
        text-align: center;
    }

    .date span {
        display: inline-block;
        font-size: 2.4vw;
    }

    .date span:nth-child(1) {
        transform: translateY(-18%);
    }

    .date span:nth-child(4) {
        transform: scale(0.75);
        font-size: 1.8vw;
    }

    .m_title {
        font-size: 4.8vw;
        line-height: 1.5;
    }

}

/*footer*/
.copyright {
    width: 100%;
    color: #fff;
    text-align: left;
    background-color: #5bae7f;
    padding: 1.5% 5%;
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
    margin-top: -1%;
}

.copyright a {
    color: #fff;
    position: relative;
    z-index: 10;
}

.copyright div {
    width: 70%;
    color: #fff;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    z-index: 5;
}

.copyright div br {
    display: none;
}

.copyright div a {
    color: #fff;
    margin-left: 2%;
}

.footer {
    position: relative;
    margin-top: 12%;
    width: 100%;
    z-index: 4;
}

.footer > img {
    width: 72%;
}

.info {
    position: absolute;
    width: 40%;
    left: 74%;
    top: 0%;
}

.info > a > img {
    width: 28%;
}

.info ul {
    margin-top: 3%;
}

.info ul li {
    width: 100%;
    margin-bottom: 1.5%;
    color: #ADB6C3;
    font-size: 1vw;
    font-weight: 300;
}

.info ul li img {
    width: 2.5%;
    vertical-align: middle;
    margin-right: 2%;
    margin-left: 1%;
}

.inner_top {
    position: relative;
    border-top: 1px solid #AEB6C2;
    padding-top: 1%;
    color: #AEB6C2;
    letter-spacing: 1px;
    font-size: 1vw;
}

.inner_top::after {
    position: absolute;
    content: '';
    width: 6%;
    height: 0;
    padding-bottom: 0.25%;
    background-color: #AEB6C2;
    top: 0;
    left: 0;
}

@media (max-width:960px) {

    .footer {
        margin-top: 78%;
        width: 100%;
    }

    .footer > img {
        width: 100%;
    }

    .info {
        position: absolute;
        width: 70%;
        left: 15%;
        top: -80%;
    }

    .info > a > img  {
        width: 70%;
    }

    .info ul {
        margin-top: 5%;
    }

    .info ul li {
        margin-bottom: 2%;
        font-size: 3.6vw;
    }

    .info ul li img {
        width: 4.5%;
    }

    .copyright {
        font-size: 3vw;
    }

    .copyright > span {
        display: block;
        width: 100%;
        margin: 4% auto 4.5% auto;
        text-align: center;
    }

    .copyright div {
        width: 100%;
        position: relative;
        right: auto;
        top: auto;
        text-align: center;
        transform: translateY(0);
    }

    .copyright div br {
        display: block;
    }

    .copyright div a {
        margin-top: 3%;
        margin-bottom: 6%;
        margin-left: auto;
        display: block;
    }

    .inner_top {
        font-size: 2.4vw;
        padding-top: 2%;
        padding-left: 5%;
    }

    .inner_top::after {
        width: 10%;
    }
}


/*隱私權*/
.pri_title {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8% 0;
    font-size: 2.4vw;
    font-family: 'Noto Serif TC';
    font-weight: 800;
}

.pri_title.inner_page_title {
    line-height: 1.5;
}

.pri_cont {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10%;
    line-height: 1.5;
    font-size: 1vw;
}

.pri_cont span {
    display: block;
    font-family: 'Noto Serif TC';
    font-weight: 600;
    font-size: 1.4vw;

}

.read_more {
    text-align: center;
    margin-top: 12%;
    font-size: 1vw;
    color: #5Bae7f;
    cursor: pointer;
}

.read_more span:first-child {
    display: inline-block;
    width: 2px;
    height: 0;
    padding-bottom: 4%;
    background-color: #5Bae7f;
    margin-left: -2px;
    margin-bottom: 0.8%;
}

.read_more span:nth-child(2) {
    display: block;
}

@media (max-width:960px) {
    .pri_title {
        font-size: 4.8vw;
    }


    .pri_title.inner_page_title {
        box-sizing: border-box;
        padding: 8% 10%;
    }


    .read_more {
        font-size: 3.2vw;
    }

    .read_more span:first-child {
        width: 2px;
        height: 0;
        padding-bottom: 10%;
        margin-bottom: 3%;
    }
}

@media (max-width:768px) {

    /*隱私權*/
    .pri_title {
        font-size: 4.8vw;
    }

    .pri_cont {
        font-size: 2.4vw;
    }

    .pri_cont span {
        font-size: 3.6vw;
    }
}



/*我同意*/
.cookie_info {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #fff;
    box-sizing: border-box;
    padding: 2% 5%;
    background-color: #ADB6C3;
    z-index: 100;
    display: none;
}

.cookie_info p a {
    color: #fff;
}

.cookie_info p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2vw;
    line-height: 1.5;
    font-weight: 300;
}

.btn_agree {
    display: inline-block;
    color: #ADB6C3;
    background-color: #fff;
    vertical-align: middle;
    padding: 1% 3%;
    float: right;
    margin-top: 0.5%;
}

@media (max-width:768px) {
    .cookie_info {
        padding: 5% 5%;
    }

    .cookie_info p {
        width: 100%;
        font-size: 3.6vw;
    }

    .btn_agree {
        display: block;
        padding: 3% 0;
        float: none;
        width: 32%;
        margin: 4% auto 0 auto;
        text-align: center;
        font-size: 3.6vw;
    }
}

.tag a:hover {
    background-color: transparent;
}

.pop {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.6);
}

.pop > div {
    display: block;
    position: absolute;
    width: 100% !important;
    max-width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pop > div > a {
    display: block;
    position: absolute;
    width: 10% !important;
    top: 0;
    right: -12%;
}

.pop > div::after {
    content: '';
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/arrow_right.png);
    width: 8%;
    height: 0;
    padding-bottom: 8%;
    background-size: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: -10%;
    cursor: pointer;
}

.pop > div::before {
    content: '';
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/arrow_left.png);
    width: 8%;
    height: 0;
    padding-bottom: 8%;
    background-size: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: -10%;
    cursor: pointer;
}
